{# ----- Proyecto ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto-hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9 mb-3 mb-md-5">
        <h1 class="c-title--especial mt-3 mt-md-5">Querían <br />una <strong>tienda online</strong></h1>
        <p class="c-title--sub">(nosotros les montamos una boutique)</p>
      </div>
    </div>
    {% include "@base/proyecto/logo-guernica.twig" %}
  </div>
</section>

<div class="c-separator--line"><hr /></div>

<section class="c-hero p-proyecto-intro p-proyecto-intro__presentacion">
  <div class="p-proyecto-intro__container">

    <div class="c-grid-image--right">
      <img data-src="/assets/images/proyecto-guernica.jpg" class="lazyload" alt="Repensar Guernica" />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9 col-lg-6">
          <h2 class="h-extrahuge mt-3 mt-md-6">No es una web <strong>es una pasarela</strong></h2>
          <p class="c-title--sub">(te estábamos esperando)</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 offset-md-1 col-md-5 mb-5 mb-md-5 mb-lg-0">
          <p class="c-title--pre"><strong>Teníamos que crear un ecommerce que reflejara un cambio integral en el rumbo de la marca.</strong></p>
          <p>Mark Maddox se encontraba en pleno lanzamiento de un nuevo posicionamiento de marca. Un nuevo público objetivo que vive el entorno online de otra manera. Había que crear una interfaz de compra atractiva y un proyecto piloto de zona privada. Y todo ello, en un plazo récord.</p>
          <a href="https://guernica.museoreinasofia.es/">Visitar web de Repensar Guernica</a>
        </div>
      </div>
    </div>
    <div class="d-flex d-flex-icon justify-content-start justify-content-md-center">
      <div class="c-icon-square">
        <svg version="1.1" width="72" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g transform="translate(-3 -3)" fill="#ffffff"><g transform="translate(3 3)"><path d="M71.7076971,58.9282232 C71.9415405,59.3023725 72.0350764,59.7115922 71.9883077,60.1558945 C71.9415391,60.6001968 71.7778512,61.0094165 71.4972392,61.3835658 C71.2633959,61.7109465 70.9360201,61.9564783 70.5151022,62.1201686 C70.0941842,62.2838589 69.6732725,62.2955509 69.2523545,62.1552449 L57.9577784,59.6297496 L54.0993828,70.3631046 C53.9590768,70.7840226 53.713545,71.1230903 53.36278,71.380318 C53.0120151,71.6375456 52.6261794,71.7895415 52.2052614,71.8363102 L51.9948034,71.8363102 C51.5738855,71.8363102 51.1880498,71.7310822 50.8372848,71.5206233 C50.4865198,71.3101643 50.217604,71.0178645 50.0305293,70.6437152 L38.3150373,49.2471579 C37.940888,49.2939266 37.5550523,49.3290026 37.1575187,49.3523869 C36.759985,49.3757712 36.3741493,49.3874632 36,49.3874632 C35.579082,49.3874632 35.1581703,49.3757712 34.7372524,49.3523869 C34.3163344,49.3290026 33.8954227,49.2939266 33.4745047,49.2471579 L21.9694707,70.6437152 C21.782396,71.0178645 21.5134802,71.3101643 21.1627152,71.5206233 C20.8119502,71.7310822 20.4261145,71.8363102 20.0051966,71.8363102 L19.8648913,71.8363102 C19.3972046,71.7895415 18.9879849,71.6375456 18.63722,71.380318 C18.286455,71.1230903 18.0409232,70.7840226 17.9006172,70.3631046 L14.0422216,59.6297496 L2.74764549,62.1552449 C2.3267275,62.2955509 1.90581583,62.2838589 1.48489785,62.1201686 C1.06397987,61.9564783 0.736604121,61.6875625 0.502760797,61.3134132 C0.222148807,60.9860325 0.0584609351,60.6001968 0.0116922702,60.1558945 C-0.0350763948,59.7115922 0.0584595321,59.3023725 0.292302857,58.9282232 L13.4810004,34.8658654 C12.7794705,33.3224994 12.2416389,31.6973127 11.8674896,29.9902564 C11.4933402,28.2832002 11.3062684,26.5177096 11.3062684,24.6937316 C11.3062684,21.2796191 11.9493279,18.0760136 13.2354662,15.082819 C14.5216044,12.0896245 16.2870951,9.47061852 18.531991,7.2257226 C20.7768869,4.98082669 23.3958929,3.21533607 26.3890874,1.92919778 C29.382282,0.643059497 32.5858875,0 36,0 C39.4141125,0 42.617718,0.643059497 45.6109126,1.92919778 C48.6041071,3.21533607 51.2114211,4.98082669 53.4329327,7.2257226 C55.6544443,9.47061852 57.4199349,12.0896245 58.7294575,15.082819 C60.0389801,18.0760136 60.6937316,21.2796191 60.6937316,24.6937316 C60.6937316,26.4709409 60.5066598,28.1896635 60.1325104,29.8499511 C59.7583611,31.5102388 59.2439135,33.1120415 58.5891522,34.6554074 L71.7076971,58.9282232 Z M20.4261124,64.0493664 L28.84443,48.3351735 C26.2721535,47.5401062 23.8986793,46.3709072 21.7239364,44.8275412 C19.5491935,43.2841753 17.6901669,41.4602247 16.146801,39.3556348 L6.60604105,56.6833385 L14.954206,54.789217 C15.51543,54.648911 16.0415696,54.719063 16.5326406,54.999675 C17.0237115,55.280287 17.3861633,55.6778146 17.6200066,56.19227 L20.4261124,64.0493664 Z M15.7960378,24.6937316 C15.7960378,27.4530829 16.3221774,30.0603968 17.3744723,32.5157517 C18.4267673,34.9711066 19.8765741,37.110741 21.7239364,38.9347189 C23.5712987,40.7586968 25.710933,42.2085037 28.1429036,43.284183 C30.5748742,44.3598623 33.1938801,44.8976939 36,44.8976939 C38.7593512,44.8976939 41.3666652,44.3598623 43.8220201,43.284183 C46.277375,42.2085037 48.4170093,40.7586968 50.2409873,38.9347189 C52.0649652,37.110741 53.5030801,34.9711066 54.555375,32.5157517 C55.60767,30.0603968 56.1338096,27.4530829 56.1338096,24.6937316 C56.1338096,21.9343804 55.60767,19.3270664 54.555375,16.8717115 C53.5030801,14.4163566 52.0649652,12.2767223 50.2409873,10.4527444 C48.4170093,8.62876642 46.277375,7.17895955 43.8220201,6.10328026 C41.3666652,5.02760096 38.7593512,4.48976939 36,4.48976939 C33.1938801,4.48976939 30.5748742,5.02760096 28.1429036,6.10328026 C25.710933,7.17895955 23.5712987,8.62876642 21.7239364,10.4527444 C19.8765741,12.2767223 18.4267673,14.4163566 17.3744723,16.8717115 C16.3221774,19.3270664 15.7960378,21.9343804 15.7960378,24.6937316 Z M57.045794,54.789217 L65.3939589,56.6833385 L55.9233516,39.2153295 C54.333217,41.3666881 52.4274225,43.2374066 50.2059109,44.8275412 C47.9843994,46.4176758 45.5641573,47.6102589 42.945112,48.4053262 L51.5738876,64.119519 L54.3799934,56.19227 C54.6138367,55.6778146 54.9762885,55.280287 55.4673594,54.999675 C55.9584304,54.719063 56.48457,54.648911 57.045794,54.789217 Z" fill-rule="nonzero"/></g></g></g></svg>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--icon">
  <a class="c-separator--icon__animated" href="#que">
    <svg width="13px" height="42px" viewBox="0 0 13 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-714.000000, -854.000000)" fill="#000000">
          <g>
            <path d="M737.811652,873.75 L734.022242,869.966495 L735.240635,868.75 L741.25,874.75 L735.240635,880.75 L734.022242,879.533505 L737.811652,875.75 L699.75,875.75 L699.75,873.75 L737.811652,873.75 Z" transform="translate(720.500000, 874.750000) rotate(-270.000000) translate(-720.500000, -874.750000) "></path>
          </g>
        </g>
      </g>
    </svg>
  </a>
</div>

<section class="p-proyecto-publico c-bg-pattern__right">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-8">
        <h2 class="h-extrahuge mt-5">Conectar con  un <strong>nuevo público </strong></h2>
        <p class="c-title--sub">(hola, millenials)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-9 offset-lg-1 col-lg-6">
        <p class="c-title--pre"><strong>Reinventarse a uno mismo nunca fue fácil</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-5 offset-lg-1 col-lg-4 mb-3 mb-md-0">
        <p>Trabajamos con total libertad partiendo únicamente de la base de un concepto: el ocio. Nuestro trabajo se realizó a la vez que la transformación interna de la propia marca. Partíamos de unos cuidados recursos de diseño de marca de packaging, publicidad... que teníamos que trasladar y enriquecer en el online. </p>
      </div>
      <div class="col-12 col-md-5 col-lg-4 mb-5 mb-md-5 mb-lg-0">
        <p>Incluso llegamos a marcar con nuestro diseño la base del tipo de fotos que debían hacer en el shooting, un punto clave para la imagen rompedora de la página de producto. El resultado final: un nuevo ecommerce que respira frescura por los cuatro costados y con un diseño muy cuidado.</p>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr /></div>

<section class="p-proyecto-ajustarse c-bg-pattern__left">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-8">
        <h2 class="h-extrahuge mt-5"><strong>Ajustar(se) </strong>al segundo</h2>
        <p class="c-title--sub">(lorem ipsum dolor sit amet)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-5 offset-lg-1 col-lg-5">
        <div class="c-line-list__first-column">
          <h3 class="c-title--pre c-title--line">Tecnología</h3>
          <p>Sed sed arcu quis sapien pellentesque suscipit at sit amet dui. Morbi vitae orci at enim dapibus.</p>
          <h3 class="c-title--pre c-title--line">Herramientas</h3>
          <p>Morbi vitae orci at enim dapibus faucibus ut sed mi. Fusce finibus purus vel dolor.</p>
          <h3 class="c-title--pre c-title--line">Piezas exclusivas</h3>
          <p>Vel dolor elementum auctor at eget eros. Suspendisse mauris nunc.</p>
        </div>
      </div>
      <div class="col-12 offset-md-1 col-md-5 offset-lg-1 col-lg-5">
        <div class="c-line-list__last-column">
          <h3 class="c-title--pre c-title--line">Prototipado</h3>
          <p>Suspendisse mauris nunc, ullamcorper ut venenatis nec, porttitor eget odio.</p>
          <h3 class="c-title--pre c-title--line">Web </h3>
          <p>Fusce finibus purus vel dolor elementum auctor at eget eros. Suspendisse mauris nunc.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr /></div>

<section class="p-proyecto-guernica-foto">

</section>

{% endblock %}
