{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="p-legal">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-9">
        <h1 class="h-midhuge">Política de <br /><strong>protección de datos</strong></h1>
        <p class="c-title--pre">Tu privacidad es importante para nosotros, y también lo es la transparencia acerca de cómo recopilamos, usamos y compartimos información sobre ti. Esta política tiene como objetivo ayudarte a comprender, principalmente:</p>

<ul>
  <li>Acceso a la web por parte de menores</li>
  <li>Quiénes somos</li>
  <li>Para qué tratamos tus datos</li>
  <li>Durante cuánto tiempo utilizamos la información recabada</li>
  <li>Cuál es la base legitimadora del tratamiento</li>
  <li>Cuál es la información que recopilamos sobre ti</li>
  <li>Con quién compartimos la información que recogemos</li>
  <li>Cómo almacenamos y protegemos la información que recopilamos</li>
  <li>Qué derechos tienes cuando nos facilitas tus datos</li>
  <li>Cómo gestionaremos los cambios en nuestra política de privacidad</li>
</ul>

<br /><br />

<h2>Menores de edad</h2>
<p>Conforme a lo dispuesto en la normativa de protección de datos BIKO, S.L. (en adelante BIKO) determina como requisito indispensable para que puedas acceder a esta web que tengas más de 14 años. Si eres menor de 14 años y has accedido a este sitio web no debes proporcionarnos ningún dato tuyo. La responsabilidad de la veracidad de esta información recae sobre tí. BIKO en el supuesto de que compruebe que no se cumple el citado requisito, tiene la potestad para hacer caso omiso a la solicitud de información remitida. En ningún caso se recabarán del menor de edad datos relativos a la situación profesional, económica o a la intimidad de los otros miembros de la familia, sin el consentimiento de estos.</p>

<h2>¿Quién es el Responsable del tratamiento de tus datos?</h2>
<p>Biko2 2006, S.L. con CIF B-31896129, con domicilio en Polígono Mutilva Baja, calle E5, 1º C, 31192, Mutilva Baja (Navarra), teléfono: +34 948 072 222 y dirección de correo electrónico: dpd@biko2.com .</p>

<h2>Delegado de Protección de Datos</h2>
<p>BIKO, como muestra de responsabilidad proactiva ha designado de forma voluntaria un Delegado de Protección de Datos, que es la persona encargada de proteger el derecho fundamental a la protección de datos personales y se encarga del cumplimiento de la normativa de protección de datos.</p>
<p> Podrás contactar con el Delegado de Protección de Datos de Biko en la siguiente dirección: dpd@biko2.com .</p>
<p>Conforme a los dispuesto en el art. 37.1 LOPDGDD puedes acudir al Delegado de Protección de Datos con carácter previo a la presentación de una reclamación contra Biko ante la Agencia Española de Protección de Datos, comunicándote el Delegado la decisión que se hubiera adoptado en relación a tu reclamación en el plazo máximo de dos meses a contar desde la recepción de la reclamación.</p>

<h2>¿Con qué finalidad tratamos tus datos personales?</h2>
<p><strong>Contacto</strong>: los datos que nos mandes al cumplimentar alguno de nuestros formularios de contacto de la presente web o por correo electrónico los empleamos para contestar a la solicitud de información planteada.</p> <p><strong> Comunicaciones comerciales</strong>: si te suscribes a nuestra newsletter tu correo electrónico será empleado para remitirte comunicaciones comerciales a través de nuestro proveedor Mailchimmp ® o Drip ®. Los datos que nos proporciones para poder descargarte nuestras guías o publicaciones los empleamos para para remitirte comunicaciones comerciales por este medio de comunicación electrónica.</p>
<p><strong>Procesos de selección</strong>: en el caso de que nos mandes tu cv o te inscribas a nuestras ofertas de trabajo tus datos se guardaran en nuestra bolsa de empleo con la finalidad de hacerte partícipe de las ofertas de empleo que puedan ajustarse a tu perfil. Trataremos tus datos con el fin de valorar y gestionar tu solicitud de empleo.</p>
<p><strong>Cumplimiento contractual</strong>: los datos que nos proporciones como cliente, proveedor o empleado nuestro los emplearemos con el fin de dar cumplimiento a la relación contractual entablada.</p> <p><strong>Videovigilancia</strong>: las imágenes captadas por las cámaras de seguridad ubicadas en nuestras instalaciones se tratan con la finalidad de garantizar la seguridad de las instalaciones y personas.</p> Cualquier modificación que pueda en su caso producirse en los datos de carácter personal, deberá ser puesta en conocimiento por parte del titular de los mismos, respondiendo en cualquier caso de la veracidad y exactitud de los datos suministrados en cada momento</p>

<h2>¿Por cuánto tiempo conservaremos tus datos?</h2>
<p><strong>Contacto-Comunicaciones comerciales</strong>: tus datos remitidos serán conservados mientras no revoques tu consentimiento para que los tratemos, en cuyo caso tus datos serán conservados únicamente durante el plazo exigido por la normativa legal aplicable.</p>
<p><strong>Procesos de selección</strong>: los datos proporcionados se conservarán hasta la adjudicación de un puesto de trabajo o hasta que usted ejerza su derecho de supresión.</p>
<p><strong>Cumplimiento contractual</strong>: los datos proporcionados se conservarán el tiempo necesario para el cumplimiento de la finalidad señalada y se almacenarán mientras la organización pueda tener responsabilidades derivadas de su tratamiento conforme a la normativa aplicable.</p>
<p><strong>Videovigilancia</strong>: las imágenes se conservarán durante un máximo de 30 días. En caso de grabación de una infracción legal o contractual, las imágenes se podrán conservar en un soporte independiente a efectos de ser entregadas a las fuerzas y cuerpos de seguridad, a Jueces o Tribunales, o en su caso, ser empleadas para el ejercicio o defensa de reclamaciones en sede administrativa o judicial.</p>
<p>Tratamos tus datos de manera lícita, leal, transparente, adecuada, pertinente, limitada, exacta y actualizada. Es por ello que nos comprometemos a adoptar todas las medidas razonables para que estos se supriman o rectifiquen sin dilación cuando sean inexactos.</p>

<h2>¿Cuál es la legitimación para el tratamiento de tus datos?</h2>
<p>La base jurídica para el tratamiento de tus datos es:</p>
<p><strong>Contacto-comunicaciones comerciales-procesos de selección</strong>: tu consentimiento manifestado expresamente al aceptar la presente política de protección de datos antes de enviar el formulario de recogida de datos, al remitirnos un correo electrónico o tu cv.</p>
<p><strong>Cumplimiento contractual</strong>: ejecución del contrato celebrado entre las partes.</p> <p><strong>Videovigilancia</strong>: cumplimiento de una misión de interés público respecto de las imágenes tomadas para garantizar la seguridad de las instalaciones y personas.</p>

<p>En el caso de que se suministren datos de terceros, declaras contar con el consentimiento de los titulares
de los mismos para la citada comunicación de datos o en su caso ostentar su representación legal,
eximiendo de toda responsabilidad a BIKO.</p>

<h2>¿Qué tipos de datos tratamos?</h2>
<p>Las categorías de datos que se tratamos son:</p>
<p><strong>Contacto</strong>: datos identificativos (email y dirección IP).</p> <p><strong>Comunicaciones comerciales</strong>: datos identificativos (email).</p>
<p><strong>Procesos de selección</strong>: Datos identificativos, datos de características personales, datos de circunstancias sociales, datos académicos y profesionales, datos de detalles de empleo (profesión, puesto de trabajo, datos no económicos de nómina, historial del trabajador), datos de salud o minusvalías.</p>
<p><strong>Cumplimiento contractual</strong>: Datos identificativos, datos de características personales, datos de circunstancias sociales, datos académicos y profesionales, datos de detalles de empleo, datos de información comercial, datos económicos, financieros y de seguros, datos de transacciones de bienes y servicios, datos de salud o minusvalías.</p>
<p><strong>Videovigilancia</strong>: Datos identificativos (imagen).</p>
<p>No tratamos categorías especiales de datos personales.</p>


<h2>¿A qué destinatarios se comunicarán tus datos?</h2>
<p>Los datos <strong>no se cederán a terceros</strong> salvo en los casos en que exista una obligación legal o sea preciso para el cumplimiento de la finalidad del tratamiento, en este sentido, sus datos podrán ser cedidos según su finalidad a:</p>

<p><strong>Contacto-Comunicaciones comerciales</strong>: as siguientes empresas tendrán acceso a la información personal necesaria para realizar sus funciones como encargados de tratamiento, pero no podrán utilizarla para otros fines. Además, deberán tratar la información personal de conformidad con la presente Política de Privacidad y la legislación aplicable en materia de protección de datos.</p>

<ul>
<li>
<p><strong>Email marketing</strong>: The Rocket Science Group LLC (Mailchimp): Los boletines electrónicos o newsletter están gestionados por Mailchimp ®. Al utilizar los servicios de esta plataforma para la realización de campañas de marketing por correo electrónico, gestión de suscripciones y envío de boletines, debes saber que Mailchimp tiene sus servidores alojados fuera de la UE en EEUU y está acogido al acuerdo EU-US Privacy Shield, cuya <a target="_blank" href="https://www.privacyshield.gov/list">información está disponible aquí</a>, aprobado por el Comité Europeo de Protección. Su dirección es: Mail Chimp. 675 Ponce de Leon Ave NE, Suite 5000 Atlanta, GA 30308.</p>
</li>
<li>
<p><strong>Google Analytics</strong>: un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). Debes saber que Google tiene sus servidores alojados fuera de la UE en EEUU y está acogido al acuerdo EU-US Privacy Shield, cuya <a target="_blank" href="https://www.privacyshield.gov/list">información está disponible aquí</a>. GGoogle Analytics utiliza “cookies”, que son archivos de texto ubicados en tu ordenador, para ayudarnos a analizar el uso que hacen los usuarios del sitio web. Si quieres más información consulta nuestra <a href="/politica-de-cookies/">política de cookies</a>.</p>
</li>
<li>
<p><strong>WhatsApp ®</strong>: si empleas este sistema de mensajería instantánea para comunicarte con nosotros debes saber que tus datos serán tratados por WhatsApp Ireland Limited. Puedes conocer cómo trata esta compaía tus datos <a href="https://www.whatsapp.com/legal/" target="_blank">aquí</a>.</p>
</li>
<li>
<p><strong>Hubspot</strong>: Empleamos esta herramietna como nuestro CRM, por lo que sus datos son transferidos a HubSpot, Inc., 25 First Street, 2nd Floor, Cambridge, MA 02141, U.S.A., por lo tanto existe una Transferiencia internacional de sus datos, estando esta empresa aherida al acuerdo EU-US Privacy Shield, cuya información está disponible <a href="https://www.privacyshield.gov/list" target="_blank">aquí</a>. Puede conocer como trata sus datos esta empresa <a href="https://legal.hubspot.com/es/privacy-policy" target="_blank">aquí</a>.</p>
</li>
</ul>

<p><strong>Procesos de selección</strong>: sus datos no serán cedidos salvo en los casos en que exista una obligación legal o sea preciso para el cumplimiento de la finalidad del tratamiento.</p>
<p><strong>Cumplimiento contractual</strong>: Sus datos podrán ser cedidos en ejecución del contrato y en cumplimiento de la normativa legal aplicable a:</p>
<ul>
<li>Entidades financieras.</li>
<li>Asesoría Fiscal.</li>
<li>Auditores de cuentas.</li>
<li>Abogados y Procuradores.</li>
<li>Tesorería general de la Seguridad Social.</li>
<li>Inspección de trabajo.</li>
<li>Instituto Nacional de Empleo.</li>
<li>Gobierno de Navarra (Hacienda Pública).</li>
<li>Organizaciones sindicales</li>
<li>Empresas o profesionales colaboradores.</li>
<li>Nuestro proveedor del software de gestión Hubspot</li>
<li>Entidad a la que se encomienda la gestión en materia de riesgos laborales.</li>
<li>Entidad a la que se encomienda la gestión ante la Fundae para la formación de los trabajadores.</li>
<li>Entidades educativas con las que se ha establecido un convenio para la realización de prácticas.</li>
</ul>
<p><strong>Videovigilancia</strong>: sus datos podrán ser cedidos a las fuerzas y cuerpos de seguridad, Juzgados, Tribunales, Abogados y Procuradores contratados por la responsable del tratamiento para el ejercicio o defensa de reclamaciones.</p>



<h2>¿Cuáles son tus derechos cuando nos facilitas tus datos?</h2>
<ul>
<li>
<p><strong>Acceso</strong>: Tienes derecho a obtener confirmación sobre si BIKO está tratando tus datos personales.</p>
</li>
<li>
<p><strong>Rectificación</strong>: Podrás modificar tus datos cuando sean inexactos.</p>
</li>
<li>
<p><strong>Supresión</strong>: Podrás solicitar la supresión de tus datos.</p>
</li>
<li>
<p><strong>Oposición</strong>: Podrás solicitar que se dejen de tratar tus datos.</p>
</li>
<li>
<p><strong>Limitación del tratamiento</strong>: Podrás solicitar la limitación al tratamiento de tus datos cuando:</p>
<ul>
<li>
<p>Mientras se comprueba la impugnación de la exactitud de tus datos.</p>
</li>
<li>
<p>Cuando el tratamiento es ilícito y te opongas a la supresión de los datos.</p>
</li>
<li>
<p>Cuando BIKO no necesite tratar tus datos, pero tú los necesites para el ejercicio o la defensa de reclamaciones.</p>
</li>
<li>
<p>Cuando te hayas opuesto al tratamiento de tus datos para la satisfacción de un interés legítimo de BIKO, mientras se verifica si este interés prevalece sobre tus derechos y libertades.</p>
</li>
</ul>
</li>
<li>
<p><strong>Portabilidad</strong>: Podrás recibir, en formato electrónico, los datos personales que nos hayas facilitado y aquellos que se hayan obtenido de tu relación contractual con BIKO, así como a que los trasmitamos a otra entidad a tu elección.</p>
</li>
</ul>
<p>Para ejercer cualquiera de estos derechos puedes hacerlo a través de: dpd@biko2.com o Polígono Mutilva Baja, calle E5, 1º C, 31192, Mutilva Baja (Navarra)</p>
<p>Tienes derecho a retirar el consentimiento en cualquier momento. La retirada del consentimiento no afectará a la licitud de los tratamientos basados en el consentimiento previo a su retirada.</p>
<p>Si entiendas que tu solicitud no ha sido correctamente atendida puedes dirigirte a la Agencia Española de Protección de datos (www.agpd.es) y presentar una reclamación.</p>
<p>Para ejercitar tus derechos acompaña a tu solicitud una copia de tu DNI o documento acreditativo de tu identidad.</p>
<p>El ejercicio d estos derechos es gratuito.</p>

<h2>Comunicaciones comerciales por medios electrónicos</h2>
<p>BIKO te informa que da cumplimiento a la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Información y el Comercio Electrónico y no realiza prácticas de SPAM, por ello te solicitará tu consentimiento al tratamiento de tu correo electrónico o teléfono móvil con fines comerciales en cada momento. Al aceptar la política de privacidad en cualquiera de nuestros formularios, nos das consentimiento para incluirte en nuestras listas de comunicaciones comerciales y de marketing.</p>
<h2>Actualización de la política de privacidad</h2>
<p>BIKO se reserva el derecho de modificar su política de privacidad o condiciones de uso de sus servicios por motivos de adaptación a la legislación vigente, u otros motivos, cuando esto ocurra, te avisaremos de cualquier cambio y te pediremos que vuelvas a leer la versión más reciente de nuestra política y en su caso que confirmes su aceptación. Se asegura la absoluta confidencialidad y privacidad de los datos personales recogidos y por ello se han adoptado medidas de seguridad a fin de evitar la alteración, pérdida, tratamiento o acceso no autorizado, y garantizar así su integridad, disponibilidad y seguridad. Sin embargo, BIKO no será responsable de las incidencias que puedan surgir en torno a datos personales cuando estas se deriven: bien de un ataque o acceso no autorizado a los sistemas de tal forma que resulte imposible detectarlo o impedirlo aun adoptándose las medidas según el estado de la tecnología actual. </p>

<p class="mt-5"><em>Última actualización el 14 de noviembre de 2019</em></p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
