{# ----- OFERTA ----- #}
{% extends "_layouts/page.twig" %}
{% block page %}

<section class="p-legal">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-9">
        <h1 class="h-midhuge">Política de <br /><strong>protección de datos</strong></h1>
        <p class="c-title--pre">Tu privacidad es importante para nosotros, y también lo es la transparencia acerca de cómo recopilamos, usamos y compartimos información sobre ti. Esta política tiene como objetivo ayudarte a comprender, principalmente:</p>

<ul>
  <li>Acceso a la web por parte de menores</li>
  <li>Quiénes somos</li>
  <li>Para qué tratamos tus datos</li>
  <li>Durante cuánto tiempo utilizamos la información recabada</li>
  <li>Cuál es la base legitimadora del tratamiento</li>
  <li>Cuál es la información que recopilamos sobre ti</li>
  <li>Con quién compartimos la información que recogemos</li>
  <li>Cómo almacenamos y protegemos la información que recopilamos</li>
  <li>Qué derechos tienes cuando nos facilitas tus datos</li>
  <li>Cómo gestionaremos los cambios en nuestra política de privacidad</li>
</ul>


<h2>Menores de edad</h2>
<p>Conforme a lo dispuesto en la normativa de protección de datos BIKO, S.L. (en adelante BIKO) determina como requisito indispensable para que puedas acceder a esta web que tengas más de 16 años. Si eres menor de 16 años y has accedido a este sitio web, no debes proporcionarnos ningún dato tuyo. La responsabilidad de la veracidad de esta información recae sobre ti. BIKO, en el supuesto de que compruebe que no se cumple el citado requisito, tiene la potestad para hacer caso omiso a la solicitud de información remitida. En ningún caso se recabarán del menor de edad datos relativos a la situación profesional, económica o a la intimidad de los otros miembros de la familia, sin el consentimiento de estos.</p>
<h2>¿Quién es el Responsable del tratamiento de tus datos?</h2>
<p>Biko2 2006, S.L. con CIF B-31896129, con domicilio en Polígono Mutilva Baja, calle E5, 1º C, 31192, Mutilva Baja (Navarra), teléfono: +34 948 072 222 y dirección de correo electrónico: info@biko2.com </p>
<h2>¿Con qué finalidad tratamos tus datos personales?</h2>
<p>Los datos que nos mandes por correo electrónico o al cumplimentar el formulario de contacto de nuestra pestaña de contacto los empleamos para contestar a la solicitud de información planteada.</p>
<p>Los datos que nos proporciones remitirnos tu CV los trataremos para incluirte en nuestra bolsa de empleo para presentes y futuros procesos de selección.</p>
<p>El correo electrónico que nos proporciones al suscribirte a nuestra newsletter lo tratamos para remitirte comunicaciones comerciales por este medio de comunicación electrónica.</p>
<p>Los datos que nos proporciones para poder descargarte nuestras guías o publicaciones los empleamos para para remitirte comunicaciones comerciales por este medio de comunicación electrónica.</p>
<p>Cualquier modificación que pueda en su caso producirse en los datos de carácter personal, deberá ser puesta en conocimiento por parte del titular de los mismos, respondiendo en cualquier caso de la veracidad y exactitud de los datos suministrados en cada momento.</p>
<h2>¿Por cuánto tiempo conservaremos tus datos?</h2>
<p>Tus datos remitidos por el formulario de contacto serán conservados mientras no revoques tu consentimiento para que los tratemos, en cuyo caso tus datos serán conservados únicamente durante el plazo exigido por la normativa legal aplicable.</p>
<p>Los datos que nos proporciones al remitirnos tu CV se conservarán hasta la adjudicación de un puesto de trabajo o hasta que ejerzas tu derecho de cancelación o supresión.</p>
<p>Los datos que nos proporciones al suscribirte a nuestra o newsletter o al descargarte nuestras guías y publicaciones los conservaremos mientras no revoques tu consentimiento.</p>
<p>Tratamos tus datos de manera lícita, leal, transparente, adecuada, pertinente, limitada, exacta y actualizada. Es por ello que nos comprometemos a adoptar todas las medidas razonables para que estos se supriman o rectifiquen sin dilación cuando sean inexactos.</p>
<h2>¿Cuál es la legitimación para el tratamiento de tus datos?</h2>
<p>La base jurídica para el tratamiento de tus datos es tu consentimiento manifestado expresamente al remitirnos un correo electrónico, cumplimentar el formulario de contacto, remitirnos tu CV o suscribirte a nuestra newsletter.</p>
<p>En el caso de que se suministren datos de terceros, declaras contar con el consentimiento de los titulares de los mismos para la citada comunicación de datos o en su caso ostentar su representación legal, eximiendo de toda responsabilidad a BIKO.</p>
<h2>¿Qué tipos de datos tratamos?</h2>
<p>Las categorías de datos que se tratamos son datos identificativos (nombre y apellidos, empresa, email, teléfono, dirección postal y dirección IP).<br>
No tratamos categorías especiales de datos personales.</p>
<h2>¿A qué destinatarios se comunicarán tus datos?</h2>
<p>Los datos no se cederán a terceros salvo en los casos en que exista una obligación legal o sea preciso para el cumplimiento de la finalidad del tratamiento.</p>
<p>En este último sentido, para prestar servicios estrictamente necesarios para el desarrollo de nuestra actividad, BIKO comparte datos con prestadores de servicios tales como el servicio de alojamiento o el administrador de la web, proveedores con quienes tenemos firmados los correspondientes contratos de encargado de tratamiento conforme a la normativa vigente en materia de protección de datos.</p>
<p>Todas las utilidades ofrecidas por terceros son estrictamente necesarias para el desarrollo de nuestros servicios y han sido seleccionadas atendiendo al cumplimiento de los derechos que preservamos en esta web.</p>
<p>Las siguientes empresas tendrán acceso a la información personal necesaria para realizar sus funciones como encargados de tratamiento, pero no podrán utilizarla para otros fines. Además, deberán tratar la información personal de conformidad con la presente Política de Privacidad y la legislación aplicable en materia de protección de datos.</p>
<p><strong>Email marketing</strong>: The Rocket Science Group LLC (Mailchimp): Los boletines electrónicos o newsletter están gestionados por Mailchimp ®. Al utilizar los servicios de esta plataforma para la realización de campañas de marketing por correo electrónico, gestión de suscripciones y envío de boletines, debes saber que Mailchimp tiene sus servidores alojados fuera de la UE en EEUU y está acogido al acuerdo EU-US Privacy Shield, cuya <a target="_blank" href="https://www.privacyshield.gov/list">información está disponible aquí</a>, aprobado por el Comité Europeo de Protección. Su dirección es: Mail Chimp. 675 Ponce de Leon Ave NE, Suite 5000 Atlanta, GA 30308.</p>
<p><strong>Google Analytics</strong>: un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). Google Analytics utiliza “cookies”, que son archivos de texto ubicados en tu ordenador, para ayudarnos a analizar el uso que hacen los usuarios del sitio web. Si quieres más información consulta nuestra <a href="/politica-de-cookies/">política de cookies</a>.</p>
<h2>¿Cuáles son tus derechos cuando nos facilitas tus datos?</h2>
<ul>
<li>
<p><strong>Acceso</strong>: Tienes derecho a obtener confirmación sobre si BIKO está tratando tus datos personales.</p>
</li>
<li>
<p><strong>Rectificación</strong>: Podrás modificar tus datos cuando sean inexactos.</p>
</li>
<li>
<p><strong>Supresión</strong>: Podrás solicitar la supresión de tus datos.</p>
</li>
<li>
<p><strong>Oposición</strong>: Podrás solicitar que se dejen de tratar tus datos.</p>
</li>
<li>
<p><strong>Limitación del tratamiento</strong>: Podrás solicitar la limitación al tratamiento de tus datos cuando:</p>
<ul>
<li>
<p>Mientras se comprueba la impugnación de la exactitud de tus datos.</p>
</li>
<li>
<p>Cuando el tratamiento es ilícito y te opongas a la supresión de los datos.</p>
</li>
<li>
<p>Cuando BIKO no necesite tratar tus datos, pero tú los necesites para el ejercicio o la defensa de reclamaciones.</p>
</li>
<li>
<p>Cuando te hayas opuesto al tratamiento de tus datos para la satisfacción de un interés legítimo de BIKO, mientras se verifica si este interés prevalece sobre tus derechos y libertades.</p>
</li>
</ul>
</li>
<li>
<p><strong>Portabilidad</strong>: Podrás recibir, en formato electrónico, los datos personales que nos hayas facilitado y aquellos que se hayan obtenido de tu relación contractual con BIKO, así como a que los trasmitamos a otra entidad a tu elección.</p>
</li>
</ul>
<p>Para ejercer cualquiera de estos derechos puedes hacerlo a través de: info@biko2.com o Polígono Mutilva Baja, calle E5, 1º C, 31192, Mutilva Baja (Navarra)</p>
<p>
Si entiendas que tu solicitud no ha sido correctamente atendida puedes dirigirte a la Agencia Española de Protección de datos (www.agpd.es) y presentar una reclamación.
</p>
<p>Para ejercitar tus derechos acompaña a tu solicitud una copia de tu DNI o documento acreditativo de tu identidad.</p>
<p>
El ejercicio de estos derechos es gratuito.
</p>
<h2>Comunicaciones comerciales por medios electrónicos</h2>
<p>BIKO te informa que da cumplimiento a la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Información y el Comercio Electrónico y no realiza prácticas de SPAM, por ello te solicitará tu consentimiento al tratamiento de tu correo electrónico o teléfono móvil con fines comerciales en cada momento. </p>
<h2>Actualización de la política de privacidad</h2>
<p>BIKO se reserva el derecho de modificar su política de privacidad o condiciones de uso de sus servicios por motivos de adaptación a la legislación vigente, u otros motivos, cuando esto ocurra, te avisaremos de cualquier cambio y te pediremos que vuelvas a leer la versión más reciente de nuestra política y en su caso que confirmes su aceptación. Se asegura la absoluta confidencialidad y privacidad de los datos personales recogidos y por ello se han adoptado medidas de seguridad a fin de evitar la alteración, pérdida, tratamiento o acceso no autorizado, y garantizar así su integridad, disponibilidad y seguridad. Sin embargo, BIKO no será responsable de las incidencias que puedan surgir en torno a datos personales cuando estas se deriven: bien de un ataque o acceso no autorizado a los sistemas de tal forma que resulte imposible detectarlo o impedirlo aun adoptándose las medidas según el estado de la tecnología actual. </p>


      </div>
    </div>
  </div>
</section>

{% endblock %}
