{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--sm text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-sm.svg" class="mb-3" alt="Logotipo LITERATURA SM" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">LITERATURA SM</p>-->
          <h1 class="title-hero mb-3">
          La historia detrás de los libros
          </h1>
          <p class="font-secondary text-2xl text-lg-3xl color-red-middle mb-5">(trabajando con Fray Perico)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <p class="text-md-2xl line-md-2xl">Trabajar con la editorial SM supuso una gran ilusión por muchos motivos: un viaje al pasado, los cuentos y libros que nos han acompañado a todos desde niños, una contribución a visibilizar la cultura y el aprendizaje… </p>
              <p class="text-md-2xl line-md-2xl">Nuestra principal labor era construir <strong>una web donde el centro fueran los libros</strong>, pudieras comprar producto y todo ello, con capas y capas de información bien organizada. ¿Cómo afrontar un reto de este calibre?.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque datos-->
<section class="bg-gray-extralight py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1"> Editorial SM</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">UX</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI <span class="color-red">+</span> Diseño Web</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Drupal <span class="color-red">+</span> Solr</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://es.literaturasm.com/" target="_blank">Literatura SM</a></div>
          </div>

      </div>
    </div>
  </div>
</section>

<!--Bloque entradilla-->
<section class="py-5 py-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Rediseñar para que todo sea más fácil. El <strong>objetivo</strong> era construir un <strong>CMS atractivo y sencillo</strong> de utilizar, para que el usuario pudiera navegar en el catálogo de libros sin problema.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque desafio-->
<section class="contenedor-secciones mb-md-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/editorial-sm-desafio.jpg" class="lazyloaded" alt="Literatura SM" src="/assets/images/proyectos/editorial-sm-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-6xl mb-4">El desafío</h3>
          <p>Crear un catálogo de libros coherente, limpio y categorizado al máximo para poder sacar el máximo partido en la búsqueda de elementos. Así, se facilita una experiencia de compra satisfactoria y se presentan las vistas de manera ordenada. Además, el <strong>eCommerce</strong> se completa con muchos recursos como videos, historias o información acerca de los autores.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/editorial-sm-enfoque.png" class="lazyloaded u-img-fluid" alt="Editorial SM"  src="/assets/images/proyectos/editorial-sm-enfoque.png">
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 order-md-1 order-lg-2">
        <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
        <p>Desde el punto de vista técnico, <strong>la integración con sus sistemas</strong> era un punto clave, para conseguir que los editores de la web pudieran aprovechar el tiempo eficientemente. A través de la web creamos la posibilidad de que la gestión de contenidos fuera muy flexible y modular, siempre teniendo en cuenta el <strong>responsive design</strong>.
        </p>
         <p>Quisimos que la información de los libros fuera muy completa y que estuviera <strong>categorizada</strong> y sincronizada con los sistemas internos del cliente. Por ello, apostamos por una búsqueda facetada y un importante trabajo con las taxonomías, tags, etc.
        </p>
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
          <p class="title-slim-6xl u-strong-red mb-md-6">
          Para <strong>cubrir y dar respuesta</strong> a las distintas necesidades, hemos optado por una serie de <strong>herramientas </strong>distintas:
        </p>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
             Drupal eCommerce
            </h4>
            <p>
            Para facilitar la venta y la gestión sencilla y completa de los contenidos
            </p>
          </div>
        </div>
      </div>
        <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('solr')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              Solr
            </h4>
            <p>
            Solr como potente indexador
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p>La web no solo permite una <strong>navegación</strong> entre toda esa categorización en los libros que, a través de portadillas especiales, permite localizar esas lecturas. También, cuenta con un <strong>buscador de facetado</strong> muy potente. En definitiva, el resultado fue una web muy completa con una gestión muy optimizada y con un diseño atractivo. El lugar ideal donde residen Fray Perico y su borrico :)</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/editorial-sm-producto-final-1.jpg" class="lazyloaded u-img-fluid" alt="LiteraturaSM" src="/assets/images/proyectos/editorial-sm-producto-final-1.jpg">
      </div>
    </div>
  </div>
</section>

<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-md-2xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://es.literaturasm.com/" target="_blank"><span class="c-link"> la web de Literatura SM</span></a></p>
      </div>
    </div>
  </div>
</section>
{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
