.u-list-none {
    list-style: none;

    &:before {
        display: none;
    }
}

.u-list-clean {
    list-style: none;
    padding-left: 0;
    li{
      &:before {
          display: none;
          margin: 0;
      }
    }

}

.u-strong-red {
    strong {
        color: $red;
        font-weight: normal;
    }
}

.u-strong-red-middle {
    strong {
        color: $red-middle;
        font-weight: normal;
    }
}

.u-strong-black-soft {
    strong {
        color: $black-soft;
        font-weight: normal;
    }
}
