.u-list-none {
    list-style: none;

    &:before {
        display: none;
    }
}

.u-strong-red {
    strong {
        color: $red;
        font-weight: normal;
    }
}

.u-strong-red-middle {
    strong {
        color: $red-middle;
        font-weight: normal;
    }
}

.u-strong-black-soft {
    strong {
        color: $black-soft;
        font-weight: normal;
    }
}
