{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero">

  <h1 class="c-title--background">Repensar Guernica</h1>

  <div class="c-grid-image--right">
    <div class="c-icon-square">
      {{svgSprite('webby')}}
    </div>
    <img data-src="/assets/images/proyectos/proyecto-guernica.jpg" class="lazyload" alt="Repensar Guernica" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7">
        <h2 class="h-extrahuge mt-3 mt-md-6">Un proyecto <strong>ganador de un Webby</strong></h2>
        <p class="c-title--sub">(los Óscar de Internet)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-6">
        <p class="c-title--pre"><strong>¿Cómo aprovechar el medio online para crear un producto digital a la altura de esta obra?</strong></p>
        <p>Para ello, definimos y construimos un site vertebrado en tres apartados: un potente <strong>buscador</strong> para el archivo documental, <strong>visualización interactiva</strong> para la cronología y tecnología <strong>gigapíxel</strong> para una definición superior al milímetro.</p>
        <p>Así nació una web que destaca por una gran potencia técnica de cada uno de sus apartados, de una manera sencilla  y equilibrada, tanto para investigadores como para el público en general.</p>
        <p><a class="c-link" href="https://guernica.museoreinasofia.es/" target="_blank">Visitar la web Repensar Guernica</a></p>
      </div>
    </div>
  </div>
</section>



<div class="c-image-grid p-proyecto">
  <div class="container c-image-grid__container">
    <div class="c-image-grid__box">
      <img data-src="/assets/images/proyectos/proyecto-guernica-collage-1.jpg" class="lazyload w-100" alt="Repensar Guernica - Detalle de cronología" />
    </div>
    <div class="c-image-grid__box">
      <img data-src="/assets/images/proyectos/proyecto-guernica-collage-2.jpg" class="lazyload w-100 d-none d-md-block" alt="Repensar Guernica - Vista del cuadro en Rayos X" />
    </div>
    <div class="c-image-grid__box">
      <img data-src="/assets/images/proyectos/proyecto-guernica-collage-3.jpg" class="lazyload w-100" alt="Repensar Guernica - Vista del cuadro en luz ultravioleta" />
    </div>
    <div class="c-image-grid__box">
      <img data-src="/assets/images/proyectos/proyecto-guernica-collage-4.jpg" class="lazyload w-100 d-none d-md-block" alt="Repensar Guernica - Agentes" />
    </div>
  </div>
</div>



{% include "@base/proyectos/separador-flecha.twig" %}
{% include "@base/proyectos/proyecto-similar.twig" %}
<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}
