{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero">



  <div class="c-grid-image--right">
    <div class="c-icon-square">
      {{svgSprite('webby')}}
    </div>
    <img data-src="/assets/images/proyectos/guernica-proyecto.jpg" class="lazyload" alt="Repensar Guernica" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7">
        <h1 class="c-title--pre text-uppercase mt-4 mb-0">Repensar Guernica</h1>
        <h2 class="h-extrahuge">Un proyecto <strong>ganador de un Webby</strong></h2>
        <p class="c-title--sub">(los Óscar de Internet)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-6">
        <p>¿Cómo aprovechar el medio online para crear un producto digital a la altura de esta obra?.<br> Para ello, definimos y construimos un site vertebrado en tres apartados: un potente <strong>buscador</strong> para el archivo documental, <strong>visualización interactiva</strong> para la cronología y tecnología <strong>gigapíxel</strong> para una definición superior al milímetro.</p>
        <p class="mb-0">Así nació una web <a href="https://www.webbyawards.com/winners/2018/websites/general/cultural-institutions/rethinking-guernica/" class="c-link" target="_blank">ganadora de un Webby</a> que destaca por una gran potencia técnica de cada uno de sus apartados, de una manera sencilla  y equilibrada, tanto para investigadores como para el público en general.</p>
      </div>
    </div>
  </div>
</section>


<section class="u-bg-gray-light p-4 p-md-5 py-lg-7 mb-5 mb-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <p class="mb-md-6 c-parrafo--big">
          Hablar del Guernica es hablar de la <strong>obra de arte española más emblemática del siglo XX</strong>. Un icono global. No hay manifestación contra la guerra en el mundo que no cuente con una imagen de este cuadro. Su vida está entrelazada con la historia española y mundial, desde su creación en mitad de la Guerra Civil, a través de sus viajes por el mundo, hasta su vuelta a España después de la Transición.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <h5 class="c-title--pre mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Museo Reina Sofía</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="c-title--pre mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Storytelling</li>
          <li class="u-list-none mb-0">UX</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="c-title--pre mb-1">
          Diseño
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UI</li>
          <li class="u-list-none mb-0">Diseño web</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="c-title--pre mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Drupal</li>
          <li class="u-list-none mb-0">Solr</li>
          <li class="u-list-none mb-0">LeafletJS</li>
          <li class="u-list-none mb-0">D3</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="c-title--pre mb-1">
          Web
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="#" target="_blank">Repensar Guernica</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="py-md-7">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/guernica-proyecto.1.jpg" class=" lazyloaded" alt="Repensar Guernica" src="/assets/images/proyectos/guernica-proyecto.1.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-12 col-lg-4 col-xl-3">
        <div class="pt-md-5">
          <h3>El desafío</h3>
          <p><strong>Repensar digitalmente un símbolo del S. XX</strong></p>
          <p>La obra icónica de Picasso es un activo esencial del Museo Reina Sofía, la institución de arte contemporáneo y moderno más importante de España y una de las más relevantes a nivel internacional. Aprovechando la investigación más ambiciosa que jamás se había llevado a cabo sobre el Guernica, nos pidieron pensar cuál podría ser el <strong>reflejo digital de dicha investigación.</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>






{% include "@base/proyectos/repensar-guernica/post.twig" %}
{% include "@base/proyectos/separador-flecha.twig" %}
{% include "@base/proyectos/proyecto-similar.twig" %}
<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}
