{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero">



  <div class="c-grid-image--right">
    <div class="c-icon-square">
      {{svgSprite('webby')}}
    </div>
    <img data-src="/assets/images/proyectos/guernica-proyecto.jpg" class="lazyload" alt="Repensar Guernica" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7">
        <h1 class="c-title--pre text-uppercase mt-4 mb-0">Repensar Guernica</h1>
        <h2 class="h-extrahuge">Un proyecto <strong>ganador de un Webby</strong></h2>
        <p class="c-title--sub">(los Óscar de Internet)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-6">
        <p>¿Cómo aprovechar el medio online para crear un producto digital a la altura de esta obra?.<br> Para ello, definimos y construimos un site vertebrado en tres apartados: un potente <strong>buscador</strong> para el archivo documental, <strong>visualización interactiva</strong> para la cronología y tecnología <strong>gigapíxel</strong> para una definición superior al milímetro.</p>
        <p class="mb-0">Así nació una web <a href="https://www.webbyawards.com/winners/2018/websites/general/cultural-institutions/rethinking-guernica/" class="c-link" target="_blank">ganadora de un Webby</a> que destaca por una gran potencia técnica de cada uno de sus apartados, de una manera sencilla  y equilibrada, tanto para investigadores como para el público en general.</p>
      </div>
    </div>
  </div>
</section>


<section class="u-bg-gray-light p-4 p-md-5 py-lg-7 mb-5 mb-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <p class="mb-md-6 c-title--big">
          Hablar del Guernica es hablar de la <strong>obra de arte española más emblemática del siglo XX</strong>. Un icono global. No hay manifestación contra la guerra en el mundo que no cuente con una imagen de este cuadro. Su vida está entrelazada con la historia española y mundial, desde su creación en mitad de la Guerra Civil, a través de sus viajes por el mundo, hasta su vuelta a España después de la Transición.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <h5 class="c-title--pre mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Museo Reina Sofía</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="c-title--pre mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Storytelling</li>
          <li class="u-list-none mb-0">UX</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="c-title--pre mb-1">
          Diseño
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UI</li>
          <li class="u-list-none mb-0">Diseño web</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="c-title--pre mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Drupal</li>
          <li class="u-list-none mb-0">Solr</li>
          <li class="u-list-none mb-0">LeafletJS</li>
          <li class="u-list-none mb-0">D3</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="c-title--pre mb-1">
          Web
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="#" target="_blank">Repensar Guernica</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="py-md-7 mb-4 mb-md-0">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/guernica-proyecto.1.jpg" class="lazyloaded" alt="Repensar Guernica" src="/assets/images/proyectos/guernica-proyecto.1.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-5 col-lg-4 col-xl-3">
        <div class="pt-md-5">
          <h3>El desafío</h3>
          <p><strong>Repensar digitalmente un símbolo del S. XX</strong></p>
          <p>La obra icónica de Picasso es un activo esencial del Museo Reina Sofía, la institución de arte contemporáneo y moderno más importante de España y una de las más relevantes a nivel internacional. Aprovechando la investigación más ambiciosa que jamás se había llevado a cabo sobre el Guernica, nos pidieron pensar cuál podría ser el <strong>reflejo digital de dicha investigación.</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="c-bg-pattern c-bg-pattern__left pb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/guernica-proyecto.1.jpg" class="lazyloaded u-img-fluid" alt="Repensar Guernica" src="/assets/images/proyectos/guernica-proyecto.2.jpg">
        </div>
      </div>  
      <div class="col-md-6 col-lg-4 offset-lg-1">
          <h3 class="pt-md-5">Nuestro enfoque</h3>
          <p>En el equipo que formamos con el Museo supimos exigirnos todos para estar a la altura del reto en la definición conjunta del concepto, las soluciones técnicas, el diseño y la ejecución hasta el último detalle. El material base con el que contábamos consistía en una recopilación exhaustiva de todos los <strong>documentos</strong> que se pueden encontrar relacionados con el cuadro y su historia y el mayor estudio de <strong>imágenes de alta resolución</strong> que se había hecho sobre una pintura.</p>
      </div>
    </div>
  </div>
</section>
<section class="c-mockup">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-1">
        <p class="c-title--big mb-md-6">
          Para dar forma al proyecto, comenzamos con un trabajo de <strong>definición conjunta</strong> con las investigadoras y responsables del Museo. Esto dio como resultado un site vertebrado en 3 apartados:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda">
            <img data-src="/assets/images/proyectos/guernica-proyecto3" class="lazyloaded u-img-fluid" alt="Repensar Guernica" src="/assets/images/proyectos/guernica-proyecto3.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha">
            <img data-src="/assets/images/proyectos/guernica-archivo-documental" class="lazyloaded u-img-fluid" alt="Pantalla archivo documental" src="/assets/images/proyectos/guernica-archivo-documental.jpg">
          </div>
        </div>  
      </div> 
      <div class="col-md-3 offset-1">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="c-title-large mb-3">
              Archivo documental
            </h4>
            <p>
              Donde se puede <a class="c-link" href="#" target="_blank">consultar</a> desde las cartas con el encargo del cuadro a Picasso hasta las fotos de la llegada a España en 1981. <strong>Un potente buscador</strong> que favorece la exploración de los usuarios;  <strong>relatos</strong> que explican la historia del Guernica y de información adicional de sus protagonistas.
            </p>
          </div> 
          <div class="d-flex justify-content-between u-relative">
            <div class="c-icon-medium u-bg-red c-mockup-descripcion__icono">
              {{svgSprite('b-blog')}}
            </div>
            <div class="mr-4">
              <p>
                <strong>Para saber mas:</strong>
              </p>
              <p>
                Así representé visualmente los documentos del Guernica.
              </p>
            </div>  
            <div class="align-self-end c-icon-medium">
              {{svgSprite('flecha-right')}}
            </div>
          </div> 
        </div> 
      </div> 
    </div> 
  </div>  
</section>
<section class="py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <p class="c-title--big mb-md-6">
          Para construir un proyecto de estas características tuvimos que recurrir a una <strong>combinación de herramientas</strong> muy potente.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-1">
        <div class="d-flex">
          <div class="mr-4">
            <svg version="1.1" width="67" viewBox="0 0 67 67" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd"><g transform="translate(-9 -3)" fill="#E73F39" fill-rule="nonzero">
                <g transform="translate(3 3)">
                  <g transform="translate(6)">
                    <path d="M62.2890625,0.167246755 L34.6123047,7.61488495 C34.2633446,7.70199226 33.7726269,7.74554527 33.1401367,7.74554527 C32.5076466,7.74554527 32.0169288,7.70199226 31.6679688,7.61488495 L4.7109375,0.167246755 C3.48957723,-0.181182505 2.39909334,0.0148060141 1.43945312,0.755218191 C0.47981291,1.49563037 0,2.47557296 0,3.69507537 L0,54.5219395 C0,55.5672273 0.348954844,56.5362816 1.046875,57.4291316 C1.74479516,58.3219816 2.59537259,58.9208354 3.59863281,59.225711 L30.5556641,66.6733492 C30.9046241,66.7604565 31.3081032,66.8366743 31.7661133,66.9020048 C32.2241234,66.9673352 32.6930315,67 33.1728516,67 C33.5218116,67 33.9252907,66.9782235 34.3833008,66.9346698 C34.6886408,66.9056341 34.9891313,66.8572417 35.284776,66.789492 L63.4013672,59.1603809 C64.4046274,58.8990589 65.2552048,58.3219816 65.953125,57.4291316 C66.6510452,56.5362816 67,55.5672273 67,54.5219395 L67,3.69507537 C67,2.47557296 66.5201871,1.49563037 65.5605469,0.755218191 C64.6009067,0.0148060141 63.5104228,-0.181182505 62.2890625,0.167246755 Z M31.40625,62.5575491 L4.64550781,55.1752411 C4.55826779,55.1316875 4.46012424,55.0445815 4.35107422,54.9139205 C4.24202419,54.7832595 4.1875,54.6526005 4.1875,54.5219395 L4.1875,4.34837697 L30.5556641,11.6653548 L30.7601318,11.6816873 L30.7601318,11.6816873 L30.980957,11.730685 C31.1336271,11.7742387 31.27539,11.7960152 31.40625,11.7960152 L31.40625,62.5575491 Z M62.8125,54.5219395 C62.8125,54.6526005 62.747071,54.7832595 62.6162109,54.9139205 L62.3835721,55.1171699 C62.3496457,55.1413662 62.3181425,55.1607232 62.2890625,55.1752411 L35.59375,62.3615587 L35.59375,11.6653548 L35.7246094,11.6653548 L62.8125,4.34837697 L62.8125,54.5219395 Z M42.0058594,23.9474248 L42.300293,23.9474248 C42.409343,23.9474248 42.5074865,23.9256483 42.5947266,23.8820947 L57.2509766,19.7662946 C57.7744167,19.59208 58.1778957,19.2545442 58.4614258,18.7536772 C58.7449558,18.2528101 58.8212897,17.7410623 58.6904297,17.2184184 C58.5159496,16.6522209 58.1778996,16.2275791 57.6762695,15.9444803 C57.1746394,15.6613815 56.6403023,15.5851638 56.0732422,15.7158247 L41.4169922,19.8316248 C40.8935521,20.0058394 40.490073,20.3433752 40.206543,20.8442423 C39.9230129,21.3451093 39.846679,21.8786336 39.9775391,22.4448312 C40.1083991,22.9239214 40.3701152,23.2941219 40.7626953,23.5554439 C41.1552754,23.8167658 41.5696593,23.9474248 42.0058594,23.9474248 Z M42.0058594,36.4908155 L42.300293,36.4908155 C42.409343,36.4908155 42.5074865,36.469039 42.5947266,36.4254853 L57.2509766,32.3096853 C57.7744167,32.1354706 58.1778957,31.7979349 58.4614258,31.2970678 C58.7449558,30.7962007 58.8212897,30.2844529 58.6904297,29.761809 C58.5159496,29.1956115 58.1778996,28.7709697 57.6762695,28.4878709 C57.1746394,28.2047722 56.6403023,28.1285544 56.0732422,28.2592154 L41.4169922,32.3750154 C40.8935521,32.5492301 40.490073,32.8867658 40.206543,33.3876329 C39.9230129,33.8885 39.846679,34.4220243 39.9775391,34.9882218 C40.1083991,35.467312 40.3701152,35.8375126 40.7626953,36.0988345 C41.1552754,36.3601565 41.5696593,36.4908155 42.0058594,36.4908155 Z M42.0058594,49.0342061 L42.300293,49.0342061 C42.409343,49.0342061 42.5074865,49.0124296 42.5947266,48.968876 L57.2509766,44.8530759 C57.7744167,44.6788613 58.1778957,44.3413255 58.4614258,43.8404584 C58.7449558,43.3395914 58.8212897,42.8278436 58.6904297,42.3051997 C58.5159496,41.7390021 58.1778996,41.3143603 57.6762695,41.0312616 C57.1746394,40.7481628 56.6403023,40.671945 56.0732422,40.802606 L41.4169922,44.9184061 C40.8935521,45.0926207 40.490073,45.4301565 40.206543,45.9310235 C39.9230129,46.4318906 39.846679,46.9654149 39.9775391,47.5316124 C40.1083991,48.0107027 40.3701152,48.3809032 40.7626953,48.6422252 C41.1552754,48.9035471 41.5696593,49.0342061 42.0058594,49.0342061 Z M25.8447266,19.8316248 L11.1884766,15.7158247 C10.6214164,15.5851638 10.0870793,15.6613815 9.58544922,15.9444803 C9.08381911,16.2275791 8.7457691,16.6522209 8.57128906,17.2184184 C8.44042903,17.7410623 8.51676291,18.2528101 8.80029297,18.7536772 C9.08382303,19.2545442 9.48730207,19.59208 10.0107422,19.7662946 L24.6669922,23.8820947 C24.7542322,23.9256483 24.8523758,23.9474248 24.9614258,23.9474248 L25.2558594,23.9474248 C25.6920595,23.9474248 26.1064433,23.8167658 26.4990234,23.5554439 C26.8916035,23.2941219 27.1533197,22.9239214 27.2841797,22.4448312 C27.4150397,21.8786336 27.3387058,21.3451093 27.0551758,20.8442423 C26.7716457,20.3433752 26.3681667,20.0058394 25.8447266,19.8316248 Z M25.8447266,32.3750154 L11.1884766,28.2592154 C10.6214164,28.1285544 10.0870793,28.2047722 9.58544922,28.4878709 C9.08381911,28.7709697 8.7457691,29.1956115 8.57128906,29.761809 C8.44042903,30.2844529 8.51676291,30.7962007 8.80029297,31.2970678 C9.08382303,31.7979349 9.48730207,32.1354706 10.0107422,32.3096853 L24.6669922,36.4254853 C24.7542322,36.469039 24.8523758,36.4908155 24.9614258,36.4908155 L25.2558594,36.4908155 C25.6920595,36.4908155 26.1064433,36.3601565 26.4990234,36.0988345 C26.8916035,35.8375126 27.1533197,35.467312 27.2841797,34.9882218 C27.4150397,34.4220243 27.3387058,33.8885 27.0551758,33.3876329 C26.7716457,32.8867658 26.3681667,32.5492301 25.8447266,32.3750154 Z M25.8447266,44.9184061 C26.3681667,45.0926207 26.7716457,45.4301565 27.0551758,45.9310235 C27.3387058,46.4318906 27.4150397,46.9654149 27.2841797,47.5316124 C27.1533197,48.0107027 26.8916035,48.3809032 26.4990234,48.6422252 C26.1064433,48.9035471 25.6920595,49.0342061 25.2558594,49.0342061 L24.9614258,49.0342061 L24.9614258,49.0342061 C24.8523758,49.0342061 24.7542322,49.0124296 24.6669922,48.968876 L10.0107422,44.8530759 C9.48730207,44.6788613 9.08382303,44.3413255 8.80029297,43.8404584 C8.51676291,43.3395914 8.44042903,42.8278436 8.57128906,42.3051997 C8.7457691,41.7390021 9.08381911,41.3143603 9.58544922,41.0312616 C10.0870793,40.7481628 10.6214164,40.671945 11.1884766,40.802606 L25.8447266,44.9184061 Z"/>
                  </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div>
            <h4 class="c-title-large">
              Drupal
            </h4>
            <p>
              Para la gestión general de la web y en particular de todos los contenidos de la gran investigación, con sus más de dos mil documentos altamente categorizados y relacionados, consiguiendo una experiencia de usuario de front-end muy cuidada. 
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 offset-md-2">
        <div class="d-flex">
          <div class="mr-4">
            icono
          </div>
          <div>
            <h4 class="c-title-large">
              Gigapixel + leafletJS
            </h4>
            <p>
              Para la exploración de la propia obra de arte, ya que proporciona la mayor resolución del mundo.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-1">
        <div class="d-flex">
          <div class="mr-4">
            icono
          </div>
          <div>
            <h4 class="c-title-large">
              Solr
            </h4>
            <p>
              Solr fue nuestra elegida para la indexación y búsqueda del catálogo documental.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 offset-md-2">
        <div class="d-flex">
          <div class="mr-4">
            icono
          </div>
          <div>
            <h4 class="c-title-large">
              D3
            </h4>
            <p>
              Para la visualización interactiva de la Cronología.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="c-texto--center">
          <h3 class="c-title--big mb-4">
            ¿Tienes alguna <strong>idea</strong> en mente o <strong>proyecto</strong> entre manos? Estamos siempre abiertos a <strong>nuevas colaboraciones</strong>?
          </h3>
          <p class="mb-4">
            Estamos encantados de escucharte. Cuéntanos qué necesitas o simplemente háblanos de tu pasión, producto o marca.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926"><a class="c-button gtm-lead-proyecto" href="#" target="_blank">Contacta con nosotros</a></div>
        </div>
      </div>
    </div>
  </div>
</section>








<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}
