<section class="mb-5">
  <div class="container">
    <h3 class="text-center">Tienes más detalles en nuestro Blog</h3>

    <div class="p-proyecto__blog">
      <div class="p-proyecto__blog__item">
    		<a href="https://blog.biko2.com/experiencia-de-usuario/asi-represente-visualmente-los-documentos-del-guernica" target="_blank">
          <img data-src="https://blog.biko2.com/wp-content/uploads/2017/11/cronologia-1.jpg" class="lazyload w-100" alt="Repensar Guernica" />
          <span class="p-proyecto__blog__titulo c-link">Así representé visualmente los documentos del Guernica</span>
        </a>
      </div>

      <div class="p-proyecto__blog__item">
    		<a href="https://blog.biko2.com/actualidad-biko/cosechando-premios-repensar-guernica-se-lleva-un-webby-y-un-glami/" target="_blank">
          <img data-src="https://blog.biko2.com/wp-content/uploads/2017/11/repensar-guernica-comparativa-1-1060x550.jpg" class="lazyload w-100" alt="Repensar Guernica" />
          <span class="p-proyecto__blog__titulo c-link">Cosechando premios: Repensar Guernica se lleva un Webby y un GLAMi</span>
        </a>
      </div>

      <div class="p-proyecto__blog__item">
    		<a href="https://blog.biko2.com/experiencia-de-usuario/que-hay-detras-de-repensar-guernica/" target="_blank">
          <img data-src="https://blog.biko2.com/wp-content/uploads/2017/11/agujero-1.jpg" class="lazyload w-100" alt="Repensar Guernica" />
          <span class="p-proyecto__blog__titulo c-link">Qué hay detrás de Repensar Guernica</span>
        </a>
      </div>

    </div>
  </div>
</section>
