  <section class="bg-blue py-6 p-unete-ofertas">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 text-center">
          <h1 class="title-6xl mb-3 color-white">
            Desarrollador/a Front-end 
          </h1>
          <p class="font-secondary text-2xl text-lg-3xl color-red-middle mb-4">
            (con experiencia y ganas de trabajar en equipo)
          </p>
          <div class="c-separator--line__horizontal-dotted">
            <hr />
          </div>
          <div class="row">
            <div class="col-md-4">
              <div id="datos" class="py-4">
                <p class="text-base color-red-middle mb-0">
                  SALARIO
                </p>
                <p class="text-4xl color-white mb-0">
                  <a href="#que-ofrecemos"
                    class="c-link c-link-nounderline c-link__w">
                    25-35K
                  </a>
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div id="datos" class="py-4">
                <p class="text-base color-red-middle mb-0">
                  HORARIO
                </p>
                <p class="text-4xl color-white mb-0">
                  <a href="#que-ofrecemos"
                    class="c-link c-link-nounderline c-link__w">
                    Flexible
                  </a>
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div id="datos" class="py-4">
                <p class="text-base color-red-middle mb-0">
                  MODALIDAD
                </p>
                <p class="text-4xl color-white mb-0">
                  <a href="#donde"
                    class="c-link c-link-nounderline c-link__w">
                    Presencial o remoto
                  </a>
                </p>
              </div>
            </div>
            <div class="col-md-10 offset-md-1 pt-3">
              <p class="u-decoration-red__middle pt-2">
                <span class="color-white">Horario de verano</span> 
                <span class="color-red-middle">+</span> 
                <span class="color-white">Formación</span> 
                <span class="color-red-middle">+</span> 
                <span class="color-white">Plan de carrera</span>  
                <span class="color-red-middle">+</span> 
                <span class="color-white">Equipo necesario</span>
                <span class="color-red-middle">+</span> 
                <span class="color-white">Inglés (y otros 11 idiomas)</span>
              </p>
            </div>
          </div>
          <div class="c-separator--line__horizontal-dotted mb-4">
            <hr />
          </div>
          <p class="text-xl line-xl color-white text-left">
            Si estás buscando un cambio de aires, un puesto que se adapte más a ti o un reto profesional, sigue leyendo.
          </p>
          <p class="text-xl line-xl color-white text-left">
            Estamos buscando nuevas incorporaciones a la familia <em>bikoniana</em>. En concreto, una persona <strong>desarrolladora Front-End</strong>. Si ya tienes experiencia, buscamos que adores <strong>trabajar en equipo</strong>, <strong>formar</strong> a tus compañeros y <strong>escribir código simple, semántico y fácil de leer</strong>. 
          </p>
          <p class="text-xl line-xl color-white text-left">
            ¿Crees que es algo que puede cuadrar contigo? ¡Genial! Entonces te contamos quiénes somos... 🙂
          </p>
        </div>
      </div>
    </div>
    <div class="c-separator--icon py-2">
      <a class="c-separator--icon__animated" href="#quienes-somos">
        <svg width="13px"
          height="42px"
          viewBox="0 0 13 42"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-714.000000, -854.000000)" fill="#ffffff">
              <g>
                <path d="M737.811652,873.75 L734.022242,869.966495 L735.240635,868.75 L741.25,874.75 L735.240635,880.75 L734.022242,879.533505 L737.811652,875.75 L699.75,875.75 L699.75,873.75 L737.811652,873.75 Z"
                  transform="translate(720.500000, 874.750000) rotate(-270.000000) translate(-720.500000, -874.750000) "></path>
              </g>
            </g>
          </g>
        </svg>
      </a>
    </div>
  </section>