  <section id="importante" class="mb-3">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Qué pedimos?</h2>
          <h3 class="title-4xl mb-3">Nos parece importante para optar al puesto</h3>
          <p class="mb-5">Sabemos que cumplir todos los requisitos es complicado pero nos gustaría...</p>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4 mb-md-0">
                <p class="u-decoration-red pt-2 mb-5">Que tengas unos <strong>conocimientos amplios de Javascript/ES6</strong>, <strong>HTML5</strong>, <strong>CSS3</strong> y alguna librería o framework de desarrollo de aplicaciones web.</p>
                <p class="u-decoration-red pt-2 mb-3 mb-md-5">Que te guste el <strong>trabajo bien hecho</strong>, cuidar los <strong>detalles</strong> y escribir un <strong>código semántico y legible</strong>. Tener cierto pensamiento crítico, esto es, no conformarse con hacer las cosas de cualquier manera.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
                <p class="u-decoration-red pt-2 mb-5">Estar motivado/a y que te guste <strong>trabajar en equipo</strong>. Nos parece importante saber pedir ayuda y saber presentarla. Puede sonar a tópico, pero es fundamental que estés donde quieras estar.</p>
                <p class="u-decoration-red pt-2">Ser un apasionado/a del aprendizaje y la programación sería un plus a tener en cuenta pero lo que más nos importa es que seas <strong>resolutivo/a</strong> y que tengas <strong>ganas de aprender</strong>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>