{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="p-oferta-hero">

  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-7">
        <h1 class="title-hero mb-3 text-center">Desarrollador/a Front-end</h1>
        <p class="font-secondary text-3xl color-red text-center mb-4 mb-md-5">(Pamplona)</p>
        <p class="text-2xl mb-5">Si estás buscando un cambio de aires, un puesto que se adapte más a ti o un reto profesional, sigue leyendo.</p>
          <p class="text-2xl mb-5">Estamos buscando nuevas incorporaciones a la familia <em>bikoniana</em>. En concreto, una persona desarrolladora Front-End. Si ya tienes experiencia, buscamos que adores <strong>trabajar en equipo</strong>, <strong>formar</strong> a tus compañeros y <strong>escribir código simple, semántico y fácil de leer</strong>.</p>
        <p class="text-2xl">¿Te cuadra por ahora? ¡Genial! Entonces te contamos quiénes somos 🙂</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5 mb-md-7 bg-red-extralight py-3 pr-3 pl-3 py-md-5 pr-md-5 pl-md-5">
        <p>Somos una empresa joven de espíritu, pero con muchos años de rodaje. Llevamos <strong>más de 20 años</strong> en el sector digital.</p>
        <p>Como a todo el mundo, a veces nos cuesta definirnos, pero de lo que tenemos certeza es de que hacemos <strong>grandes proyectos digitales</strong>. Si de algo podemos presumir es de ser <strong>un equipo súper diverso y multidisciplinar</strong>: contamos con personas centradas en desarrollo, maquetación, consultoría de negocio, consultoría de UX, diseño UI, <em>marketing</em>, periodismo, formación...</p>
        <p>Abrazamos el <strong>trabajo en remoto </strong>pero también damos la <strong>posibilidad de trabajar en una oficina abierta y bastante líquida</strong>. Buscamos personas que quieran desarrollarse profesionalmente con nosotros y no solo para desarrollar un proyecto concreto. De hecho, contamos con grupos de trabajo sobre cuestiones específicas de formación en desarrollo, UX/UI, etc. o planes de idiomas.</p>
        <p>Si aún no conoces Biko, has de saber que <a class="c-link" href="/open-space/" target="_blank">el Open</a> es nuestro evento por excelencia, pero tenemos otros tantos saraos que casi es mejor que te contemos en persona.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-5">¿Qué harás?</h2>
        <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Te unirás a uno de nuestros equipos, en concreto a uno formado por 13 personas que trabaja desarrollando una aplicación frontend con React, Typescript / ES6, CSS3 y HTML. Inicialmente, la aplicación fue desarrollada hace 6 años en Angular JS y el equipo tuvo que migrarla haciendo que ambas conviviesen y permitiendo una evolución casi transparente para el cliente.</p>
              <p class="decoration-red pt-2 mb-5">Te enfrentarás diariamente a retros relacionados con el mundo front-end y participarás en todas las <strong>dinámicas ágiles</strong> de ejecución de los proyectos y en el ciclo completo del desarrollo de software; desde conversaciones iniciales con cliente mediante talleres de <strong>Example Mapping</strong> para el análisis de los requisitos hasta la integración con un API externa.</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2">Nos gusta escribir código legible y mantenible así que aplicarás prácticas y técnicas como son el <strong>testing</strong>, principios SOLID, refactorización, arquitectura hexagonal y muchas otras buenas prácticas que hacemos en el día a día.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-4xl mb-5">En 1 mes...</h2>
        <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Te habremos recibido con los brazos abiertos y ¡aterrizarás en el proyecto!</p>
              <p class="decoration-red pt-2 mb-5">Conocerás a todas las personas que forman parte del equipo así como a las personas externas que trabajan con nosotros en el proyecto.</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2">Habrás completado tu <em>onboarding</em> acompañado de un mentor/a que te ayudará en todo momento y tendrás un conocimiento general del proyecto. Entenderás cómo nos gestionamos a través de herramientas como Azure DevOps, Figma, Office 365, Trello ... y estarás desarrollando tus primeras funcionalidades en <em>pairing</em> con algún compañero/a.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-4xl mb-5">En 3 meses...</h2>
        <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">¡Empezarás a volar solo/a!</p>
              <p class="decoration-red pt-2 mb-5">Tendrás el conocimiento suficiente para poder desarrollar tareas más ambiciosas y menos acotadas y hacer revisión de <em>Pull Request</em> de tus compañeros, así como una perfecta coordinación con el resto de miembros de equipo.</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2">Empezarás a formar parte, junto con negocio y el equipo de backend, de los talleres de  <em>Example Mapping </em> para aterrizar las necesidades del proyecto.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-4xl mb-5">En 6 meses...</h2>
        <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Te sentirás cómodo/a moviéndote por toda la aplicación y serás capaz de proponer soluciones en las reuniones de concerns así como en las reuniones con negocio</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2">Creemos que las personas son lo más valioso para conseguir soluciones excelentes. Por eso, ayudarás en la formación de tus compañeros y en la tuya propia para seguir creciendo mediante charlas, talleres, open spaces, hacer pair programming, revisiones de código, etc.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-5">¿Qué consideramos necesario para optar al puesto?</h2>
        <p>Sabemos que cumplir todos los requisitos es complicado pero nos gustaría ...</p>
        <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Que tengas unos conocimientos amplios de Javascript/ES6, HTML5, CSS3 y alguna librería o framework de desarrollo de aplicaciones web.</p>
              <p class="decoration-red pt-2 mb-5">Que te guste el trabajo bien hecho, cuidar los detalles y escribir un código semántico y legible. Tener cierto pensamiento crítico, esto es, no conformarse con hacer las cosas de cualquier manera.</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Estar motivado y que te guste trabajar en equipo. Nos parece importante saber pedir ayuda y saber presentarla. Puede sonar a tópico, pero es fundamental que estés donde quieras estar.</p>
              <p class="decoration-red pt-2">Ser un apasionado/a del aprendizaje y la programación sería un plus a tener en cuenta pero lo que más nos importa es que seas resolutivo/a y que tengas ganas de aprender.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-4xl mb-5">¿Y qué sería TOP?</h2>
          <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Que tengas un gran dominio del lenguaje Javascript y sus paradigmas de programación (asíncrona, funcional y reactiva).</p>
              <p class="decoration-red pt-2 mb-5">Que tengas a tu espalda unos cuantos años desarrollando aplicaciones web con React y/o Angular. Si has trabajado con Vue.js, StencilJS o Polymer con ES6 o Typescript también nos vale.</p>
              <p class="decoration-red pt-2 mb-5">Conocimientos sobre accesibilidad de aplicaciones web.</p>
              <p class="decoration-red pt-2 mb-5">Tener conocimiento y ejecutar buenas prácticas de programación. Valoramos experiencia en testing automatizado, TDD, SOLID, código simple y refactorización.</p>

          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Unas buenas habilidades de comunicación, capacidad para colaborar y presentar tus ideas de forma clara y efectiva al resto del equipo y de la empresa. Al final, se trata de relacionarse 🙂</p>
              <p class="decoration-red pt-2 mb-5">Que te sientas cómodo trabajando con code reviews y pull requests.</p>
              <p class="decoration-red pt-2">Tener experiencia con metodologías ágiles. Es nuestra manera de trabajar.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">¿Dónde trabajarás?</h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
                <p class="decoration-red pt-2 mb-5">La sede principal de la empresa está en Pamplona pero tenemos personas trabajando de manera remota desde diferentes partes de España.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
                <p class="decoration-red pt-2">Podrás trabajar <strong>desde casa o acudir a las oficinas siempre que lo desees</strong>. Confiamos en que cada uno sabe cuándo y desde dónde es más productivo. Eso sí, si decides venir, ¡estaremos encantados de recibirte y llevarte de juevintxo!</p>
            </div>
          </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-5">¿Qué ofrecemos?</h2>
        <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Un sueldo entre 25.000€ y 35.000€ más bonus, dependiendo de lo que puedas aportar.</p>
              <p class="decoration-red pt-2 mb-5">Horario flexible de entrada y salida. La única regla es que cumplas con tus horas, aunque tú decides cómo las encajas.</p>
              <p class="decoration-red pt-2 mb-5">Horario de verano (menos horas de trabajo durante julio, agosto y septiembre).</p>
              <p class="decoration-red pt-2 mb-5">24 días de vacaciones laborables.</p>
              <p class="decoration-red pt-2 mb-5">Equipo necesario para que puedas trabajar cómodamente.</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Plan de formación guiado por un mentor para aprender todo lo necesario en cuanto a tecnología y, sobre todo, buenas prácticas de desarrollo para empezar a aportar valor lo antes posible.</p>
              <p class="decoration-red pt-2 mb-5">Plan de carrera y seguimiento del crecimiento personalizado (tiempo para formación, reuniones semanales con tu manager).</p>
              <p class="decoration-red pt-2 mb-5">Un ambiente enriquecedor y diverso, donde desarrollarte como profesional, como persona y con unos compañeros muy majos.</p>
              <p class="decoration-red pt-2">Opción de asistir a clases de inglés.</p>
          </div>
        </div>
        <p class="text-center">¿Te gusta la oferta? Pues mándanos tu CV, estamos deseando conocerte.</p>
      </div>
    </div>
  </div>
</section>
{% include "@base/unete-a-biko/enviar-cv.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
