  <section id="muy-top" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h3 class="title-4xl mb-5">Y esto ser칤a muy TOP</h3>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="u-decoration-red pt-2 mb-5">Que tengas un <strong>gran dominio del lenguaje Javascript</strong> y sus paradigmas de programaci칩n (as칤ncrona, funcional y reactiva).</p>
              <p class="u-decoration-red pt-2 mb-5">Que tengas a tu espalda unos cuantos a침os desarrollando <strong>aplicaciones web con React y/o Angular</strong>. Si has trabajado con <strong>Vue.js</strong>, <strong>StencilJS</strong> o <strong>Polymer</strong> con <strong>ES6</strong> o <strong>Typescript</strong> tambi칠n nos vale.</p>
              <p class="u-decoration-red pt-2 mb-5">Conocimientos sobre <strong>accesibilidad de aplicaciones web</strong>.</p>
              <p class="u-decoration-red pt-2 mb-3 mb-md-5">Tener conocimiento y ejecutar <strong>buenas pr치cticas de programaci칩n</strong>. Valoramos experiencia en <strong>testing automatizado</strong>, <strong>TDD</strong>, <strong>SOLID</strong>, <strong>c칩digo simple</strong> y <strong>refactorizaci칩n</strong>.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
                <p class="u-decoration-red pt-2 mb-5">Unas buenas habilidades de <strong>comunicaci칩n</strong>, capacidad para <strong>colaborar</strong> y presentar tus ideas de forma clara y efectiva al resto del equipo y de la empresa. Al final, se trata de relacionarse 游뗵</p>
                <p class="u-decoration-red pt-2 mb-5">Que te sientas c칩modo trabajando con <strong>code reviews</strong> y <strong>pull requests</strong>.</p>
                <p class="u-decoration-red pt-2">Tener experiencia con<strong> metodolog칤as 치giles</strong>. Es nuestra manera de trabajar.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>