  <section id="tu-puesto" class="mb-7">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Qué harás?</h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Te unirás a uno de nuestros equipos, en concreto a uno formado por 13 personas que trabaja <strong>desarrollando una aplicación frontend con React</strong>, <strong>Typescript / ES6</strong>, <strong>CSS3</strong> y <strong>HTML</strong>. Inicialmente, la aplicación fue desarrollada hace 6 años en Angular JS y el equipo tuvo que migrarla haciendo que ambas conviviesen y permitiendo una evolución casi transparente para el cliente.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Te enfrentarás diariamente a retos relacionados con el mundo front-end y participarás en todas las <strong>dinámicas ágiles</strong> de ejecución de los proyectos y en el ciclo completo del desarrollo de software; desde conversaciones iniciales con cliente mediante talleres de <strong>Example Mapping</strong> para el análisis de los requisitos hasta la integración con un API externa.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
                <p class="u-decoration-red pt-2 text-base line-base">Nos gusta escribir código legible y mantenible así que aplicarás prácticas y técnicas como son el <strong>testing</strong>, principios SOLID, refactorización, arquitectura hexagonal y muchas otras buenas prácticas que hacemos en el día a día.</p>
            </div>
          </div>
          <ul class="c-acordeon" id="acordeonAnidado">
            <li class="c-acordeon__card">
              <div class="c-acordeon__card__header" id="headingUno">
                <a class="c-acordeon__card__link c-link-nounderline"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseUno"
                  aria-expanded="false"
                  aria-controls="collapseUno">
                  <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                    {{ svgSprite('arrow') }}
                  </div>
                  <span class="c-link-especial c-link-nounderline font-700 color-red">
                    En 1 mes
                  </span>
                </a>
              </div>
              <div id="collapseUno"
                class="collapse"
                aria-labelledby="headingUno"
                data-parent="#acordeonAnidado">
                <div class="c-acordeon__card__body">
                  <p class="text-base line-base">Te habremos recibido con los brazos abiertos y<strong> ¡aterrizarás en el proyecto!</strong></p>
                  <p class="text-base line-base"><strong>Conocerás</strong> a todas las personas que forman parte del<strong> equipo</strong> así como a las <strong>personas externas</strong> que trabajan con nosotros en el proyecto.</p>
                  <p class="text-base line-base">Habrás completado tu <strong><em>onboarding</em> </strong>acompañado de un mentor/a que te ayudará en todo momento y tendrás un <strong>conocimiento general del proyecto</strong>. Entenderás cómo nos gestionamos a través de herramientas como <strong>Azure DevOps</strong>, <strong>Figma</strong>, <strong>Office 365</strong>, <strong>Trello</strong>... y estarás desarrollando tus primeras funcionalidades en <em>pairing</em> con algún compañero/a.</p>
                </div>
              </div>
            </li>
            <li class="c-acordeon__card">
              <div class="c-acordeon__card__header" id="headingTres">
                <a class="c-acordeon__card__link c-link-nounderline"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTres"
                  aria-expanded="false"
                  aria-controls="collapseTres">
                  <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                    {{ svgSprite('arrow') }}
                  </div><span class="c-link-especial c-link-nounderline font-700 color-red">
                    En 3 meses
                  </span>
                </a>
              </div>
              <div id="collapseTres"
                class="collapse"
                aria-labelledby="headingTres"
                data-parent="#acordeonAnidado">
                <div class="c-acordeon__card__body">
                  <p class="text-base line-base">¡Empezarás a <strong>volar por libre</strong>!</p>
                  <p class="text-base line-base">Tendrás el conocimiento suficiente para poder <strong>desarrollar tareas más ambiciosas</strong> y menos acotadas y hacer <strong>revisión de <em>Pull Request</em></strong> de tus compañeros, así como una <strong>perfecta coordinación</strong> con el resto de miembros de equipo.</p>
                  <p class="text-base line-base">Empezarás a formar parte, junto con negocio y el equipo de backend, de los <strong>talleres de  <em>Example Mapping </em> </strong>para aterrizar las necesidades del proyecto.</p>
                </div>
              </div>
            </li>
            <li class="c-acordeon__card">
              <div class="c-acordeon__card__header" id="headingCuatro">
                <a class="c-acordeon__card__link c-link-nounderline"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseCuatro"
                  aria-expanded="false"
                  aria-controls="collapseCuatro">
                  <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                    {{ svgSprite('arrow') }}
                  </div><span class="c-link-especial c-link-nounderline font-700 color-red">
                    En 6 meses
                  </span>
                </a>
              </div>
              <div id="collapseCuatro"
                class="collapse"
                aria-labelledby="headingCuatro"
                data-parent="#acordeonAnidado">
                <div class="c-acordeon__card__body">
                  <p class="text-base line-base">Te sentirás cómodo/a moviéndote por toda la aplicación y serás capaz de <strong>proponer soluciones </strong>en las reuniones de concerns así como en las reuniones con negocio.</p>
                  <p class="text-base line-base">Creemos que <strong>las personas son lo más valioso</strong> para conseguir soluciones excelentes. Por eso, <strong>ayudarás en la formación de tus compañeros y en la tuya propia</strong> para seguir creciendo mediante charlas, talleres, open spaces, hacer pair programming, revisiones de código, etc.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>