<section class="mb-4 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-6">
        <h2 class="title-6xl mb-4">Así fue la I edición</h2>
        <p class="text-base line-base text-md-2xl line-md-xl mb-4 mb-md-5">
        Y para que vayas abriendo boca, aquí te mostramos un resumen de la anterior edición. Esperamos que lo disfrutes. ;)</p>
      </div>
      <div class="col-12 mb-5">
        <div class="video-container">
          <iframe class="video" src="https://www.youtube.com/embed/HZMHTM4Q5Gc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
