<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
         <h2 class="c-title-doble-negrita mb-md-4">
          <span>Conoce</span><strong> a los profesores</strong>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 col-lg-9 offset-md-1">
        <p>
          Aprender no es fácil. Enseñar, tampoco. Por eso hemos elegido a personas que trabajan en grandes proyectos y tienen auténtica vocación por enseñar.
        </p>
        <p class="mb-5"><strong>¿Quieres conocerles mejor?</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-8 offset-xl-2">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="d-flex flex-column">
              <img class="mb-4 u-img-fluid" src="/assets/images/bikoschool/profesores-ruben-bernardez.jpg" alt="Ruben Bernardez" />
              <h3 class="c-title__line--abajo">Rubén Bernárdez</h3>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="d-flex flex-column">
              <img class="mb-4 u-img-fluid" src="/assets/images/bikoschool/profesores-pablo-arbizu.jpg" alt="Pablo Albizu" />
              <h3 class="c-title__line--abajo">Pablo Albizu</h3>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="d-flex flex-column">
              <img class="mb-4 u-img-fluid" src="/assets/images/bikoschool/profesores-carlos-jimenez.jpg" alt="Carlos Jiménez" />
              <h3 class="c-title__line--abajo">Carlos Jiménez</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="d-flex flex-column">
              <img class="mb-4 u-img-fluid" src="/assets/images/bikoschool/profesores-ismael-liberal.jpg" alt="Ismael Liberal" />
              <h3 class="c-title__line--abajo">Ismael Liberal</h3>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="d-flex flex-column">
              <img class="mb-4 u-img-fluid" src="/assets/images/bikoschool/profesores-aitor-urrutia.jpg" alt="Aitor Urrutia" />
              <h3 class="c-title__line--abajo">Aitor Urrutia</h3>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="d-flex flex-column">
              <img class="mb-4 u-img-fluid" src="/assets/images/bikoschool/profesores-carlos-martinez.jpg" alt="Carlos Martínez" />
              <h3 class="c-title__line--abajo">Carlos Martínez</h3>
            </div>
          </div>
        </div>
        <span><strong>Y muchos más...</strong></span>
      </div>
    </div>
  </div>
</section>
