{% extends "@layouts/page-clean.twig" %}
{% block page %}

<div class="bg-b rellax" data-rellax-speed="-5"></div>
<div class="bg-s rellax" data-rellax-speed="-9"></div>
<div class="landing-bitween">
    <div class="container pt-8 pb-7">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1 class="title-hero mb-5 text-center">
                    Bitween Suite, the delightful Drupal and React connector
                </h1>

                <p class="text-3xl line-2xl mb-5">Nuestro modelo para construir webs modernas, enfocadas en el usuario y
                    el
                    contenido, con el
                    frontend más rápido y
                    seguro, manteniendo la flexibilidad y el dinamismo que requiere tu actividad digital. y la más
                    deliciosa
                    conexión entre
                    ambas piezas.</p>

                <div class="text-center">
                    <a href="" class="c-button-rounded c-button-rounded--primary">Botondeaccion</a>
                </div>

                <div class="pt-7">
                    <h2 class="text-6xl line-5xl u-strong-red text-center">Sites más <strong> bellos</strong>, en tiempo
                        <strong>record</strong> y <strong>sin renunciar</strong> a
                        nada
                    </h2>
                </div>

            </div>
        </div>
    </div>
    <div class="container mb-8">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h3 class="title-7xl mb-4">¿Qué es Bitween Suite?</h3>
                <p class="font-secondary text-3xl color-red mb-5">(yo pondría una frase aquí que de un plus)</p>
                <p class="text-2xl line-xl">La respuesta de Biko a las necesidades reales de proyectos Jamstack,
                    aplicadas con éxito en
                    situaciones exigentes y
                    complejas.

                </p>
                <p class="text-2xl line-xl">Gestión de contenidos moderna que permite separar el backend del frontend
                    con una gran
                    experiencia de
                    usuario para los
                    gestores, ganando en rapidez, posicionamiento, seguridad y evitando innecesarios costes futuros.</p>

                <div class="custom-grid pt-5">
                    <div class="px-2 px-md-5">
                        <h4 class="title-2xl decoration-red pt-2 mb-0">Lo mejor de Drupal</h4>
                        <p class="text-2xl mb-3">Para gestionar contenido</p>
                        <p class="font-light text-base line-base">Capacidad multilingüe, accesibilidad y usabilidad
                            máxima,
                            automatización
                            de
                            tareas de
                            marketing, creación de contenidos
                            multicanal y as a service, y todo bajo el control absoluto del dueño del contenido.</p>
                    </div>
                    <div class="p-x2 px-md-5">
                        <h4 class="title-2xl decoration-red pt-2 mb-0">Lo mejor de React</h4>
                        <p class="text-2xl mb-3">Para generar sitios estáticos e interfaces bellas</p>
                        <p class="font-light text-base line-base">Pregeneración de sites para una mayor rapidez al
                            servir el
                            contenido, ausencia de servidores
                            físicos, posicionamiento
                            orgánico, seguridad, escalabilidad y precio ajustado independientemente del generador de
                            sites estáticos utilizado: <a href="" class="">Gatsby</a>, <a href="" class="">Next.js</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-1 rellax" data-rellax-speed="-2">
                <div class="landing-nav-section text-xs"><span class="line-decoration">Qué
                        es Bitween Suite</span></div>
            </div>


        </div>
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h3 class="title-7xl mb-4">Conectamos elementos con responsabilidades separadas</h3>
                <p class="font-secondary text-3xl color-red mb-5">(yo pondría una frase aquí que de un plus)</p>
                <p class="text-2xl line-xl mb-5">Cada pieza necesaria para desarrollar web modernas debe dar su máxima
                    potencia sin limitaciones. Desacoplar, es decir,
                    separar responsabilidades, requiere de soluciones específicas que hemos resuelto desde Biko y que
                    garantizan:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">

                <div class="row">
                    <div class="col-md-6 pr-0 pr-lg-6 mb-4">
                        <h4 class="title-2xl decoration-red pt-2 mb-2">Compilación ultrarrápida</h4>
                        <p class="font-light text-base line-base">Los tiempos de compilación ya nunca más dependerán
                            del número de imágenes o bloques que compongan los contenidos.</p>
                    </div>
                    <div class="col-md-6 pr-0 pr-lg-6 mb-4">
                        <h4 class="title-2xl decoration-red pt-2 mb-2">Preview de verdad y nativo en Drupal</h4>
                        <p class="font-light text-base line-base">Sistema de preview único del front end en React,
                            no disponible en ninguna otra plataforma, integrado de forma nativa y
                            transparente dentro de Drupal.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-0 pr-lg-6 mb-4">
                        <h4 class="title-2xl decoration-red pt-2 mb-2">Instant builds</h4>
                        <p class="font-light text-base line-base">Guardado de cambios y visualización del site de
                            forma instantánea antes de su compilación, dentro de Drupal y bajo el
                            mismo dominio.</p>
                    </div>
                    <div class="col-md-6 pr-0 pr-lg-6">
                        <h4 class="title-2xl decoration-red pt-2 mb-2">Incremental builds</h4>
                        <p class="font-light text-base line-base">Actualización de sites en menos de 10 segundos al
                            compilar sólo aquellos contenidos editados en lugar de todo el site.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 pr-0 pr-lg-6 mb-4">
                        <h4 class="title-2xl decoration-red pt-2 mb-2">Perfecta integración con el ecosistema Drupal
                        </h4>
                        <p class="font-light text-base line-base">Integración con el resto de módulos Drupal
                            instalados, permitiendo así la interconexión con funcionalidades de todo tipo
                            (como el control de usuarios o roles) de forma nativa.</p>
                    </div>

                    <div class="col-md-6 pr-0 pr-lg-6 mb-4">
                        <h4 class="title-2xl decoration-red pt-2 mb-2">Modelo de publicación híbrido e incremental
                        </h4>
                        <p class="font-light text-base line-base">Solución nativa a nivel de servidor para servir
                            directamente el contenido pre-generado cuando este existe o delegar la
                            petición a Drupal en caso contrario.</p>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6 pr-0 pr-lg-6 mb-4">
                        <h4 class="title-2xl decoration-red pt-2 mb-2">Sistema de exportación</h4>
                        <p class="font-light text-base line-base">Actualización de sites en menos de 10 segundos al
                            compilar sólo aquellos contenidos editados en lugar de todo el site.</p>
                    </div>
                    <div class="col-md-6 pr-0 pr-lg-6 mb-4">
                        <h4 class="title-2xl decoration-red pt-2 mb-2">Build SSG
                        </h4>
                        <p class="font-light text-base line-base">Toma los ficheros previamente exportados, y crea un
                            site pregenerado con ellos. Utiliza un sistema de plugins con el que
                            podemos usar varios SSG a la vez, o cambiar de uno a otro de forma sencilla.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 pr-0 pr-lg-6 mb-4">
                        <h4 class="title-2xl decoration-red pt-2 mb-2">Proyecto Open source de Biko. extensible y
                            ​future-proof</h4>
                        <p class="font-light text-base line-base">Plataforma open-source, publicada de forma contribuida
                            en Drupal.org y abierta a la colaboración de la extensa y activa
                            comunidad Drupal, integrada directamente en el mismo servidor donde se aloja Drupal.</p>
                    </div>
                    <div class="col-md-6 pr-0 pr-lg-6 mb-4">
                        <h4 class="title-2xl decoration-red pt-2 mb-2">Sites más seguros
                        </h4>
                        <p class="font-light text-base line-base">
                            Gracias al uso de SSG alojamos ficheros planos, sin necesidad de servidores en el frontend,
                            es prácticamente imposible
                            sufrir un ataque. Aparte de que, al acceder a una página, no se está ejecutando ningún
                            proceso (PHP o similar).
                            Reducimos el tiempo, costes y atención en el mantenimientos de actualizaciones de servidor
                            también.
                        </p>
                    </div>
                </div>


            </div>


        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="mb-5"><img src="../assets/images/biko-circular.svg" alt="Biko nuevas soluciones logo">
            </div>
        </div>
        <div class="row justify-content-center mb-5">

            <div class="col-md-10">
                <h2 class="text-6xl line-5xl u-strong-red text-center"><strong>Nuestra propia solución
                        Jamstack</strong><br>
                    con
                    todo lo que Drupal ha ofrecido siempre, las nuevas ventajas de los sistemas
                    desacoplados,<br>
                    <strong>para la mejor experiencia</strong>
                </h2>
            </div>
        </div>
    </div>
</div>
</div>


<div class="divider">

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>
<script>
    var rellax = new Rellax('.rellax');
</script>
{% endblock %}