{% extends "@layouts/page-clean.twig" %}
{% block page %}


<div class="container py-8">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="title-hero">
                Bitween Suite, the delightful Drupal and React connector
            </h1>
        </div>
    </div>
</div>


{% endblock %}