{% extends "@layouts/page-clean.twig" %}
{% block page %}

<div class="landing-bitween">
    <div class="container pt-8 pb-7">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1 class="title-hero mb-5 text-center">
                    Bitween Suite, the delightful Drupal and React connector
                </h1>

                <p class="text-3xl line-2xl mb-5">Nuestro modelo para construir webs modernas, enfocadas en el usuario y
                    el
                    contenido, con el
                    frontend más rápido y
                    seguro, manteniendo la flexibilidad y el dinamismo que requiere tu actividad digital. y la más
                    deliciosa
                    conexión entre
                    ambas piezas.</p>

                <div class="text-center">
                    <a href="" class="c-button-rounded c-button-rounded--primary">Botondeaccion</a>
                </div>

                <div class="pt-7">
                    <h2 class="text-6xl line-5xl u-strong-red text-center">Sites más <strong> bellos</strong>, en tiempo
                        <strong>record</strong> y <strong>sin renunciar</strong> a
                        nada
                    </h2>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h3 class="title-7xl mb-4">¿Qué es Bitween Suite?</h3>
                <p class="font-secondary text-3xl color-red mb-5">(yo pondría una frase aquí que de un plus)</p>
                <p class="text-2xl line-xl">La respuesta de Biko a las necesidades reales de proyectos Jamstack,
                    aplicadas con éxito en
                    situaciones exigentes y
                    complejas.

                </p>
                <p class="text-2xl line-xl">Gestión de contenidos moderna que permite separar el backend del frontend
                    con una gran
                    experiencia de
                    usuario para los
                    gestores, ganando en rapidez, posicionamiento, seguridad y evitando innecesarios costes futuros.</p>

                <div class="custom-grid">
                    <div class="px-2 px-md-5">
                        <h4 class="title-2xl pt-2 mb-0">Lo mejor de Drupal</h4>
                        <p class="text-2xl mb-2">Para gestionar contenido</p>
                        <p>Capacidad multilingüe, accesibilidad y usabilidad máxima, automatización de
                            tareas de
                            marketing, creación de contenidos
                            multicanal y as a service, y todo bajo el control absoluto del dueño del contenido.</p>
                    </div>
                    <div class="p-x2 px-md-5">
                        <h4 class="title-2xl pt-2 mb-0">Lo mejor de React</h4>
                        <p class="text-2xl mb-2">Para generar sitios estáticos e interfaces bellas</p>
                        <p>Pregeneración de sites para una mayor rapidez al servir el contenido, ausencia de servidores
                            físicos, posicionamiento
                            orgánico, seguridad, escalabilidad y precio ajustado independientemente del generador de
                            sites estáticos utilizado: <a href="" class="">Gatsby</a>, <a href="" class="">Next.js</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="landing-nav-section text-xs"><span class="line-decoration">Qué es Bitween Suite</span></div>
            </div>


        </div>
    </div>
</div>


<div class="divider">

</div>
{% endblock %}