<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="mb-3 text-sm">
                <span class="text-uppercase text-uppercase letter-base font-400 color-grayextradark">Otras iniciativas Biko</span>
            </div>
            <div class="row no-gutters justify-content-center">
                <div class="col-lg-6 bg-blue p-4 p-md-5 d-flex flex-column justify-content-center align-items-center ">
                    <h3 class="text-4xl line-3xl font-light color-white mb-4">
                        ¿Te gustaría tener la cuarta edición del Biko Insights? <br>(¡Es gratis!)
                    </h3>
                    <div class="w-100 py-2 text-center text-md-left py-2">
                        <a id="action-gift" href="http://localhost:3005/insights/BIKO-INSIGHTS-4-2021.pdf"
                            class="c-button-rounded c-button-rounded--primary c-button-rounded--primary__miniwhite  mb-4"
                            target="_blank">¡Lo
                            quiero!</a>
                    </div>

                    <p class="color-white text-base pr-0 pr-lg-5">Psss, pssss el artículo “La gestión de contenidos en
                        la era
                        Jamstack” te
                        puede
                        interesar ;)</p>
                </div>
                <div class="insights-gif d-flex justify-content-center align-items-center">
                    <div class="insights-gif__icon bg-red d-flex justify-content-center align-items-center">
                        <svg class="icon--2xl fill-white">
                            <use xlink:href="/assets/svg/sprite/sprite.svg#regalo-slim"></use>
                        </svg>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="insights-gif__img">
                    </div>
                </div>
            </div>

        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline">
            <div class="landing-nav-section text-xs color-gray-dark font-400"><span class="line-decoration">Biko
                    Insights
                    #4</span>
            </div>
        </div>
    </div>
</div>
