<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="mb-3 text-sm">
            <span class="text-uppercase">Blog</span>
        </div>
        <h3 class="title-7xl mb-4 mb-md-5">El reto de integrar Drupal y Gatsby</h3>
    </div>

</div>
<div class="row">
    <div class="col-lg-4 offset-md-1 blog-img__decoration mb-3 mb-md-5">
        <img src="../assets/images/blogimg.jpg" class="img-fluid" alt="Imagen post blog de Biko">
    </div>
    <div class="col-lg-6 col-md-10 offset-md-1 offset-lg-0">
        <p class="text-base text-md-2xl line-xl mb-4">En Biko llevamos 25 años desarrollando soluciones para
            gestionar
            contenidos,
            y si
            algo hemos aprendido es que no es una
            tarea sencilla. Desde los primeros CMS desarrollados in-house para clientes concretos, pasando por
            diversas herramientas
            de Microsoft o WordPress y llegando al actual Drupal (el state-of-the-art de los CMS) hemos
            recorrido un camino en el
            que el gestor de contenidos siempre era la pieza clave y definitoria de los proyectos. La que
            definía su ADN y los
            marcaba, tanto para bien como para mal, en su ciclo de vida futuro.
            <a href="https://blog.biko2.com/estandares/la-gestion-de-contenidos-en-la-era-jamstack-i/"
                target="_blank">[Seguir leyendo]</a>
        </p>
        <div class="mb-5">
            <p class="text-uppercase text-sm color-gray-dark font-400">15 de marzo 2021</p>
            <p class="decoration-red text-base pt-2 font-400">Alberto Silva</p>
        </div>

    </div>
</div>