<div class="row">
    <div class="col-md-11 offset-md-1">
        <h3 class="title-5xl mb-4">Gestión de contenidos moderna: un cambio de paradigma</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 offset-md-1 blog-img__decoration mb-3 mb-md-5">
        <img src="../assets/images/blogimg2.jpg" class="img-fluid" alt="Imagen post blog de Biko">
    </div>
    <div class="col-lg-6 col-md-10 offset-md-1 offset-lg-0">
        <p class="text-base line-xl mb-4">La gestión de contenidos para la web es un mundo en el que llevamos
            viviendo ya 20 años. Lo que empezó siendo un añadido
            casi insignificante al papel y era visto con reticencias por parte de casi todos, fue ganando
            espacio poco a poco,
            llegando a convertirse en lo que es hoy en día: un proceso de negocio clave en el corazón de muchas
            organizaciones. Y en
            Biko hemos tenido la suerte de vivir esa historia desde dentro. Año a año, CMS a CMS, versión tras
            versión, moda tras
            moda. Y es esa experiencia, junto a nuestro conocimiento de la tecnología y sus tendencias, la que
            nos permite tener una
            visión amplia y propia y afirmar que nos encontramos en un momento singular, en el que tenemos la
            sensación de que... <a
                href="https://blog.biko2.com/estandares/gestion-de-contenidos-moderna-un-cambio-de-paradigma/"
                target="_blank">[Seguir
                leyendo]</a></p>
        <div class="mb-5">
            <p class="text-uppercase text-sm color-gray-dark font-400">22 de Enero 2020</p>
            <p class="decoration-red text-base pt-2 font-400">Aritz Suescun</p>
        </div>

    </div>
</div>