<div class="mb-7">
    <div class="row">
        <div class="col-md-10 offset-md-1">
          <h3 class="title-5xl mb-4">Nuestros Ponentes</h3>
        </div>
        <!--<div class="landing-nav-section__wrap d-none d-xl-inline">
            <div class="landing-nav-section text-xs color-bluesoft font-400"><span class="line-decoration">Nuestros
                    ponentes para el Webinar</span>
            </div>
        </div>-->
    </div>

    <div class="row mt-4">

        <div class="col-lg-5 col-md-10 offset-md-1 offset-lg-1 d-flex flex-column align-items-center mb-4 ">
            <img src="../assets/images/webinar2-ponente-1-circle.jpg" alt="Foto de Alberto Silva" class="img-fluid mb-4">
            <h3 class="subtitle-5xl mb-1">Alberto Silva</h3>
            <p class="text-base mb-2 color-bluesoft font-400">Cargo de Alberto</p>
            <div class="mb-4 mt-2 d-flex">
                <a href="https://www.linkedin.com/in/ismaeliberal/" class="mx-2" target="_blank">
                    <svg class="icon fill-blue fill-hover-red">
                        <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                    </svg>
                </a>
                <a href="https://twitter.com/Ismaeliberal" class="mx-2" target="_blank">
                    <svg class="icon fill-blue fill-hover-red">
                        <use xlink:href="/assets/svg/sprite/sprite.svg#twitter-slim"></use>
                    </svg>
                </a>

            </div>
            <div class="px-md-0 px-xl-2 font-400">
                <p class="text-base line-base">De Drupal a Frontend y ahora de Frontend a Drupal, gracias al enfoque
                    Jamstack.<strong>
                        Cinco
                        años de
                        evolución en Biko</strong>,
                    trabajando con diferentes lenguajes de programación, siempre con el foco en desarrollar software de
                    calidad, fácil de
                    mantener, de evolucionar y que aporte un valor constante al negocio.</p>
                <p class="text-base line-base">
                    Actualmente, ampliando conocimientos de infraestructura para que esa conexión entre Drupal y React
                    sea
                    lo más perfecta
                    posible, impulsando una cultura y unas prácticas devops. Dos mundos en perfecta conexión a través de
                    Nextjs, Gatsby,
                    JsonApi o GraphQL.
                </p>
            </div>

        </div>
        <div class="col-lg-5 col-md-10 offset-md-1 offset-lg-0 d-flex flex-column align-items-center mb-4">
            <img src="../assets/images/webinar2-ponente-2-circle.jpg" alt="Foto de Aritz Suescun" class="img-fluid mb-4">
            <h3 class="subtitle-5xl mb-1">Aritz Suescun</h3>
            <p class="text-base mb-2 color-bluesoft font-400">Cargo de Aritz Suescun</p>
            <div class="mb-4 mt-2 d-flex">
                <a href="https://www.linkedin.com/in/pabloalbizubalerdi/" class="mx-2" target="_blank">
                    <svg class="icon fill-blue fill-hover-red">
                        <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                    </svg>
                </a>
                <a href="https://twitter.com/pabloalbizu" class="mx-2" target="_blank">
                    <svg class="icon fill-blue fill-hover-red">
                        <use xlink:href="/assets/svg/sprite/sprite.svg#twitter-slim"></use>
                    </svg>
                </a>

            </div>
            <div class="px-md-0 px-xl-2 font-400">
                <p class="text-base line-base"><strong>Ocho años desarrollando productos digitales.</strong>
                    Inicialmente, como
                    individual contributor tanto en el lado del backend como
                    en el del frontend y más tarde, dando el salto a manager de equipos de desarrollo.
                </p>
                <p class="text-base line-base">
                    Actualmente, enfocado en permitir a las compañías a alcanzar continuamente sus objetivos alineando
                    negocio y tecnología,
                    ayudándoles a construir software bien hecho, de calidad y mantenible. Ayudando, también, a los
                    equipos
                    de desarrollo a
                    mejorar su entrega continua de software aplicando prácticas agile/extreme programming.
                </p>
            </div>

        </div>
    </div>
</div>
