<div class="mb-4 mb-md-7">
  <div class="row">
    <div class="col-md-10 offset-md-1">
        <div id="webinar" class="mb-3 pb-2 text-sm">
            <span class="bg-red text-uppercase d-inline color-white letter-base font-400 p-2">Nuevo</span>
            <span class="text-uppercase ml-2 text-uppercase letter-base font-400 color-grayextradark">Webinar</span>
        </div>
        <h3 class="title-6xl mb-4">Nombre nuevo webinar de junio
        </h3>
        <p class="font-secondary text-3xl color-red mb-4 mb-md-5">(Lorem ipsum dolor sit amet)</p>

    </div>
    <div class="landing-nav-section__wrap d-none d-xl-inline">
        <div class="landing-nav-section text-xs color-bluesoft font-400"><span
                class="line-decoration">Biko webinars</span>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xl-6 col-md-10 offset-md-1 pr-3 pr-xl-7">
        <p class="text-base line-base text-md-2xl line-md-xl mb-4">
            En Biko llevamos años unificando e impulsando una <strong>cultura de buenas prácticas</strong> en las
            diferentes áreas tecnológicas, con
            especial atención en el <strong><i>frontend</i></strong> (React) y en la <strong>gestión de
                contenidos</strong> (Drupal).
        </p>
        <p class="text-base line-base text-md-2xl line-md-xl mb-4">
            Recientemente <strong>Jamstack</strong> nos está permitiendo definir y crear un modelo propio que
            combina ambas tecnologías y aprovecha
            lo mejor de cada una de ellas. Lo hemos bautizado como <strong>Bitween Suite</strong> y pronto os
            hablaremos
            de ello.
        </p>
        <p class="text-base line-base text-md-2xl line-md-xl">Pero antes de nada hemos organizado este webinar técnico en el que mostraremos
            <strong>cómo hemos migrado una SPA</strong> (Single Page
            Application) donde el contenido se muestra dinámicamente a medida que el usuario interactúa
            con la web, hacia una <strong>hybrid
                SPA con NextJS</strong>, que nos permite tener un site pregenerado.
        </p>
    </div>
    <div class="col-lg-4 offset-md-1 col-md-10 offset-lg-0">
      <div
          class="bg-blue p-4 p-md-3 d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">
        <div>

          <div class="d-flex flex-row mb-2">

              <svg class="icon color-red-middle">
                  <use xlink:href="/assets/svg/sprite/sprite.svg#calendar-slim"></use>
              </svg>

              <div>

                  <p class="mb-0 pl-2 text-base color-white font-700">24 de junio de
                      2021</p>
              </div>
          </div>
          <div class="d-flex flex-row mb-2">

              <svg class="icon color-red-middle">
                  <use xlink:href="/assets/svg/sprite/sprite.svg#reloj-slim"></use>
              </svg>

              <div>

                  <p class="mb-0 pl-2 text-base color-white">17:00 PM</p>
              </div>
          </div>
          <div class="d-flex flex-row mb-2">
              <div>
                  <svg class="icon color-red-middle">
                      <use xlink:href="/assets/svg/sprite/sprite.svg#idoma-slim"></use>
                  </svg>
              </div>
              <div>
                  <p class="mb-0 pl-2 text-base color-white">En castellano</p>
              </div>
          </div>
        </div>
      </div>
      <!--formulario-->
      {% include "@base/bitween/form-inscripcion.twig" %}
    </div>
  </div>
</div>
