<div class="mb-4 mb-md-5" id="webinar-bitween">
  <div class="row">
    <div class="col-md-10 offset-md-1">
        <div id="webinar" class="mb-3 pb-2 text-sm">
            <span class="bg-red text-uppercase d-inline color-white letter-base font-400 p-2">Nuevo</span>
            <span class="text-uppercase ml-2 text-uppercase letter-base font-400 color-grayextradark">Webinar</span>
        </div>
        <h3 class="title-6xl line-lg-5xl line-xl-6xl mb-4">Nuestra pieza Open Source para conseguir los beneficios de Drupal y Jamstack
        </h3>
        <p class="font-secondary text-3xl color-red mb-4 mb-md-5">(Si no hiciera falta, no habríamos desarrollado nuestra propia pieza para conectarlos)</p>

    </div>
    <div class="landing-nav-section__wrap d-none d-xl-inline">
        <div class="landing-nav-section text-xs color-bluesoft font-400"><span
                class="line-decoration">Biko Bitween Webinar II</span>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xl-6 col-md-10 offset-md-1 pr-3 pr-xl-7">
        <p class="text-base line-base text-xl text-lg-2xl line-xl mb-4">
        ¿Tú también has tenido esa sensación de <strong>inseguridad</strong> a la hora de decidir la <strong>solución tecnológica</strong> para desarrollar una <strong>web potente</strong>? Es posible que tengas ciertas intuiciones, pero sabes que renuncias a algo.
        </p>
        <p class="text-base line-base text-xl text-lg-2xl line-xl mb-4">
        Si eliges una <strong>gestión de contenidos potente</strong> y estable igual estás renunciando a tener un front-end moderno con sus ventajas en UX.
        Si optas por un <strong>front-end moderno</strong> no sabes si vas a poder cumplir con las necesidades de la gente de marketing/contenidos.
        Si te inclinas por combinar tecnologías tienes miedo de que la mezcla no termine de funcionar o sea muy compleja.
        </p>
        <p class="text-base line-base text-xl text-lg-2xl line-xl mb-4">
        Y por si fuera poco ahora hay que tener en cuenta las posibilidades de renderizar en <strong>servidor</strong> (SSR) o de generación de <strong>estáticos</strong> (SSG) con Gatsby o Next.
        </p>
        <h4 class="subtitle-5xl mb-3">
        ¿Qué hago?
        </h4>
        <p class="text-base line-base text-xl text-lg-2xl line-xl mb-4">
        Si te ves reflejado, o si intuyes que ya tienes claro qué harías pero aún estás dándole vueltas, tenemos una historia que contarte. Nosotros hemos recorrido ese camino. Pero además no vamos a contarte una historia de aprendizajes para que evites tropezar en las mismas piedras que nosotros. Vamos a contarte que nosotros <strong>hemos comprobado que hay una solución. Bueno, en realidad la hemos tenido que fabricar. Bitween Suite es nuestra solución.</strong> Y sin ella creemos que puede ser muy difícil combinar las piezas necesarias para obtener los beneficios que, hoy en día, las tecnologías existentes te ofrecen para desarrollar esa web potente.
        </p>
    </div>
    <div class="col-lg-4 offset-md-1 col-md-10 offset-lg-0">
      <div
          class="bg-blue p-4 p-md-3 d-flex flex-column flex-md-row justify-content-between mb-4">
        <div>

          <div class="d-flex flex-row mb-2">

              <svg class="icon color-red-middle">
                  <use xlink:href="/assets/svg/sprite/sprite.svg#calendar-slim"></use>
              </svg>

              <div>

                  <p class="mb-0 pl-2 text-base color-white font-700">Jueves, 24 junio de 2021</p>
              </div>
          </div>
          <div class="d-flex flex-row mb-2">

              <svg class="icon color-red-middle">
                  <use xlink:href="/assets/svg/sprite/sprite.svg#reloj-slim"></use>
              </svg>

              <div>

                  <p class="mb-0 pl-2 text-base color-white">17:00 horas</p>
              </div>
          </div>
          <div class="d-flex flex-row">
              <div>
                  <svg class="icon color-red-middle">
                      <use xlink:href="/assets/svg/sprite/sprite.svg#idoma-slim"></use>
                  </svg>
              </div>
              <div>
                  <p class="mb-0 pl-2 text-base color-white">En castellano</p>
              </div>
          </div>
        </div>
      </div>
      <!--formulario-->
      {% include "@base/bitween/form-inscripcion.twig" %}
    </div>
  </div>
</div>
