<div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
          <h3 class="title-5xl mb-4">Nuestros Ponentes</h3>
        </div>
        <!--<div class="landing-nav-section__wrap d-none d-xl-inline">
            <div class="landing-nav-section text-xs color-bluesoft font-400"><span class="line-decoration">Nuestros
                    ponentes para el Webinar</span>
            </div>
        </div>-->
    </div>

    <div class="row mt-4">

        <div class="col-lg-5 col-md-10 offset-md-1 offset-lg-1 d-flex flex-column align-items-center mb-5">
          <img src="../assets/images/webinar2-ponente-2-circle.png" alt="Foto de Aritz Suescun" class="img-fluid mb-4">

            <div class="mb-4 mt-2 d-flex">
                <a href="https://es.linkedin.com/in/aritzsuescun" class="mx-2" target="_blank" alt="Ir al linkedin de Aritz Suescun">
                    <svg class="icon fill-blue fill-hover-red">
                        <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                    </svg>
                </a>
                <a href="https://twitter.com/ArtziS" class="mx-2" target="_blank" alt="Ir al twitter de Aritz Suescun">
                    <svg class="icon fill-blue fill-hover-red">
                        <use xlink:href="/assets/svg/sprite/sprite.svg#twitter-slim"></use>
                    </svg>
                </a>

            </div>
            <h3 class="title-4xl mb-2">Aritz Suescun</h3>
            <p class="text-base mb-2 color-bluesoft font-400 color-gray-dark text-center">COO en Biko y Product Manager Bitween</p>
            <p class="text-base line-base mb-0"><strong>Casi 20 años</strong> de recorrido en el desarrollo de software y producto digital, en diversos roles. Ahora en Bitween, aprovechando su experiencia en gestión de contenidos y desarrollo de producto.
            </p>
        </div>
        <div class="col-lg-5 col-md-10 offset-md-1 offset-lg-0 d-flex flex-column align-items-center">
          <img src="../assets/images/webinar2-ponente-1-circle.png" alt="Foto de Alberto Silva" class="img-fluid mb-4">
          <div class="mb-4 mt-2 d-flex">
              <a href="https://es.linkedin.com/in/albertosilvagago" class="mx-2" target="_blank" alt="Ir al linkedin de Alberto Silva">
                  <svg class="icon fill-blue fill-hover-red">
                      <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                  </svg>
              </a>
              <a href="https://twitter.com/asilgag" class="mx-2" target="_blank" alt="Ir al twitter de Alberto Silva">
                  <svg class="icon fill-blue fill-hover-red">
                      <use xlink:href="/assets/svg/sprite/sprite.svg#twitter-slim"></use>
                  </svg>
              </a>
          </div>
          <h3 class="title-4xl mb-2">Alberto Silva</h3>
          <p class="text-base mb-2 color-bluesoft font-400 color-gray-dark text-center">Jamstack Tech Lead en Biko</p>
          <p class="text-base line-base"><strong>25 años de experiencia</strong> en gestión de contenidos y desarrollo de sistemas editoriales complejos. Siempre enfocado en optimización frontend, y ahora liderando la estrategia Jamstack de Biko.
          </p>
        </div>
    </div>
</div>
