<div class="mb-0 mb-md-7">
  <div class="row">
      <div class="col-md-10 offset-md-1">
      <div class="c-separator--line c-separator--line__horizontal mt-0"><hr /></div>
        <div id="webinar" class="mb-3 pb-2 text-sm">
            <span class="text-uppercase ml-2 text-uppercase letter-base font-400 color-grayextradark">Webinars anteriores</span>
        </div>
        <h3 class="title-5xl mb-4">¿Cómo crear un hybrid SPA con NextJS?</h3>
        <!--<p class="font-secondary text-3xl color-red mb-4 mb-md-5">(Un caso práctico con nuestro modelo Jamstack:
            Bitween Suite)</p>-->
      </div>
      <!--<div class="landing-nav-section__wrap d-none d-xl-inline">
          <div class="landing-nav-section text-xs color-bluesoft font-400"><span
                  class="line-decoration">Webinar crear hybrid SPA con NextJS</span>
          </div>
      </div>-->
  </div>
  <div class="row">
    <div class="col-lg-6 col-xl-6 col-md-10 offset-md-1 pr-3 pr-xl-7">
      <p class="text-base line-base">
      En este webinar técnico te monstramos <strong>cómo hemos migrado una SPA (Single Page Application)</strong> donde el contenido se muestra dinámicamente a medida que el usuario interactúa con la web, hacia una hybrid SPA con NextJS, que nos permite tener un site pregenerado.</p>
      <p> Además, explicaremos cómo este modelo híbrido ayuda a resolver el clásico problema del SEO en las SPA y cómo permite previsualizar los contenidos cuando se comparten en redes sociales.</p>
    </div>
    <div class="col-lg-4 offset-md-1 col-md-10 offset-lg-0">
      <div
          class="bg-red-extralight p-4 p-md-3 d-flex flex-column flex-md-row justify-content-between mb-4">
        <div>
          <div class="d-flex flex-row mb-2">
            <svg class="icon">
              <use xlink:href="/assets/svg/sprite/sprite.svg#calendar-slim"></use>
            </svg>
            <div>
              <p class="mb-0 pl-2 text-base">18 de mayo de 2021</p>
            </div>
          </div>
          <div class="d-flex flex-row mb-2">
            <div>
                <svg class="icon">
                    <use xlink:href="/assets/svg/sprite/sprite.svg#idoma-slim"></use>
                </svg>
            </div>
            <div>
                <p class="mb-0 pl-2 text-base">En castellano</p>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div>
                <svg class="icon">
                    <use xlink:href="/assets/svg/sprite/sprite.svg#Youtube-slim"></use>
                </svg>
            </div>
            <div>
                <p class="mb-0 pl-2 text-base"><a href="https://youtu.be/T6Cia1BCRTg" alt="Enlace al vídeo en YouTube del Webinar">Ver vídeo del Webinar</a></p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
