<div class="container mb-5 mb-md-7">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="mb-3 pb-2 text-sm">
                <span class="bg-red text-uppercase d-inline color-white letter-base font-400 p-2">Nuevo</span>
                <span class="text-uppercase ml-2 text-uppercase letter-base font-400 color-grayextradark">Webinar</span>
            </div>
            <h3 class="title-6xl mb-4">Bitween nuestro modelo de Jamstack en un caso práctico con Nextjs</h3>

        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline">
            <div class="landing-nav-section text-xs color-bluesoft font-400"><span class="line-decoration">Biko
                    Master
                    Classes</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-xl-6 offset-md-1 pr-3 pr-xl-7">
            <p class="text-2xl">
                En Biko llevamos tiempo unificando e impulsando una cultura de buenas prácticas en las diferentes áreas
                tecnológicas,
                con especial atención al frontend (React) y a la gestión de contenidos (Drupal). El marco de trabajo que
                está aportando
                Jamstack nos está permitiendo definir un modelo propio en Biko (Bitween) y que pronto lo presentaremos
                en sociedad.
            </p>
            <p class="text-2xl">En este webinar os mostraremos cómo hemos migrado el desarrollo de una SPA (Single Page
                Application) donde el contenido
                se muestra dinámicamente a medida que el usuario interactúa con la web a una hybrid SPA con NextJS que
                nos permite tener
                un site pregenerado. Toda esta migración, la hemos hecho bajo la perspectiva y las las bases de Bitween.
            </p>
            <p class="text-2xl">En este webinar os mostraremos cómo este modelo híbrido nos ha ayudado a resolver el
                clásico problema del SEO en las SPA
                o poder previsualizar los contenidos cuando son compartidos en redes sociales como Whatsapp</p>
            <p class="text-2xl">La evolución tecnológica ha puesto su mirada en la seguridad y el rendimiento y ese es
                el camino que queremos resolver
                con Bitween. En definitiva, construir webs más rápidas, seguras y baratas.</p>
            <div
                class="bg-red-extralight p-4 p-md-3 d-flex flex-column flex-md-row justify-content-between align-items-center mb-4 mb-lg-0">
                <div>
                    <div class="d-flex flex-row mb-2">

                        <svg class="icon">
                            <use xlink:href="/assets/svg/sprite/sprite.svg#calendar-slim"></use>
                        </svg>

                        <div>
                            <p class="color-red font-bold mb-0 pl-2 text-base">Martes 13 de Mayo de
                                2021</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-2">
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/svg/sprite/sprite.svg#reloj-slim"></use>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-0 pl-2 text-base">17:30h</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-2">
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/svg/sprite/sprite.svg#idoma-slim"></use>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-0 pl-2 text-base">En castellano</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-lg-4 offset-md-1 offset-lg-0">
            {# form #}
            <style>
                #drip-ef-196021468 h3 {
                    font-size: 1.125rem;
                    margin: 0 0 .375rem;
                }

                #drip-ef-196021468>div {
                    margin-bottom: .75rem;
                }
            </style>
            <form action="https://www.getdrip.com/forms/196021468/submissions" method="post"
                data-drip-embedded-form="196021468" id="drip-ef-196021468" class="form-type-one">
                <div data-drip-attribute="description"></div>
                <div>
                    <input type="text" id="drip-first-name" name="fields[first_name]" value="" placeholder="Nombre"
                        required>
                </div>
                <div>
                    <input type="text" id="drip-last-name" name="fields[last_name]" value="" placeholder="Apellidos"
                        required>
                </div>
                <div>
                    <input type="email" id="drip-email" name="fields[email]" value="" placeholder="Email" required>
                </div>
                <div>
                    <input type="text" id="drip-empresa" name="fields[empresa]" value="" placeholder="Empresa" required>
                </div>
                <div class="d-flex text-sm">
                    <input type="hidden" name="fields[eu_consent]" id="drip-eu-consent-denied" value="denied">
                    <input type="checkbox" name="fields[eu_consent]" id="drip-eu-consent" value="granted" required>
                    <label for="drip-eu-consent">He leído y acepto las condiciones y los términos de uso.</label>
                </div>
                <input type="hidden" name="fields[eu_consent_message]" value="">
                <div style="display: none;" aria-hidden="true">
                    <label for="website">Website</label>
                    <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
                </div>
                <input type="hidden" name="tags[]" id="tags_" value="apuntados-webinar-bitween" tabindex="-1">
                <div>
                    <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button">
                </div>
            </form>
        </div>

    </div>
</div>