<div class="container mb-5 mb-md-7">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="mb-3 pb-2 text-sm">
                <span class="bg-red text-uppercase d-inline color-white letter-base font-400 p-2">Nuevo</span>
                <span class="text-uppercase ml-2 text-uppercase letter-base font-400 color-grayextradark">Webinar</span>
            </div>
            <h3 class="title-6xl mb-4">Bitween, nuestro modelo de Jamstack, en un caso práctico con Nextjs</h3>

        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline">
            <div class="landing-nav-section text-xs color-bluesoft font-400"><span class="line-decoration">Biko
                    Master
                    Classes</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xl-6 col-md-10 offset-md-1 pr-3 pr-xl-7">
            <p class="text-2xl">
                En Biko llevamos años unificando e impulsando una<strong>cultura de buenas prácticas</strong> en las
                diferentes áreas tecnológicas, con
                especial atención en el <strong><i>frontend</i></strong> (React) y en la <strong>gestión de
                    contenidos</strong> (Drupal).
            </p>
            <p class="text-2xl">
                Recientemente <strong>Jamstack</strong> nos está permitiendo definir y crear un modelo propio que
                combina ambas tecnologías y aprovecha
                lo mejor de cada una de ellas. Lo hemos bautizado <strong>Bitween Suite</strong> y pronto os hablaremos
                de ello.
            </p>
            <p class="text-2xl">Pero antes de nada hemos organizado este webinar técnico en el que mostraremos
                <strong>cómo hemos migrado una SPA (Single Page
                    Application)</strong> donde el contenido se muestra dinámicamente a medida que el usuario interactúa
                con la web, hacia una <strong>hybrid
                    SPA con NextJS</strong>, que nos permite tener un site pregenerado.
            </p>
            <p class="text-2xl">Además, explicaremos cómo este modelo híbrido ayuda a <strong>resolver el clásico
                    problema del SEO en las SPA</strong> y cómo permite
                <strong>previsualizar los contenidos</strong> cuando se comparten en redes sociales.
            </p>

        </div>
        <div class="col-lg-4 offset-md-1 col-md-10 offset-lg-0">
            {# form #}
            <div
                class="bg-red-extralight p-4 p-md-3 d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">
                <div>
                    <div class="d-flex flex-row mb-2">

                        <svg class="icon">
                            <use xlink:href="/assets/svg/sprite/sprite.svg#calendar-slim"></use>
                        </svg>

                        <div>
                            <p class="color-red font-bold mb-0 pl-2 text-xl">Martes 18 de Mayo de
                                2021</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-2">
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/svg/sprite/sprite.svg#reloj-slim"></use>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-0 pl-2 text-base">17:00h</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-2">
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/svg/sprite/sprite.svg#idoma-slim"></use>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-0 pl-2 text-base">En castellano</p>
                        </div>
                    </div>
                </div>

            </div>
            <h3 id="apuntate" class="text-4xl mb-4 font-700">Apúntate</h3>
            <form action="https://www.getdrip.com/forms/196021468/submissions" method="post"
                data-drip-embedded-form="196021468" id="drip-ef-196021468" class="form-type-one">
                <div data-drip-attribute="description"></div>
                <div>
                    <input type="text" id="drip-first-name" name="fields[first_name]" value="" placeholder="Nombre"
                        required>
                </div>
                <div>
                    <input type="text" id="drip-last-name" name="fields[last_name]" value="" placeholder="Apellidos"
                        required>
                </div>
                <div>
                    <input type="email" id="drip-email" name="fields[email]" value="" placeholder="Email" required>
                </div>
                <div>
                    <input type="text" id="drip-empresa" name="fields[empresa]" value="" placeholder="Empresa" required>
                </div>
                <div class="d-flex text-sm">
                    <input type="hidden" name="fields[eu_consent]" id="drip-eu-consent-denied" value="denied">
                    <input type="checkbox" name="fields[eu_consent]" id="drip-eu-consent" value="granted" required>
                    <label for="drip-eu-consent" class="text-xs">He leído y acepto las condiciones y los términos de
                        uso.</label>
                </div>
                <input type="hidden" name="fields[eu_consent_message]" value="">
                <div style="display: none;" aria-hidden="true">
                    <label for="website">Website</label>
                    <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
                </div>
                <input type="hidden" name="tags[]" id="tags_" value="apuntados-webinar-bitween" tabindex="-1">
                <div>
                    <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button">
                </div>
                <div class="text-gray-extradark text-xs mb-4 pt-1 line-sm">
                    <i>BIKO2 2006, S.L. como responsable del tratamiento de sus datos gestionará con su consentimiento,
                        los
                        procedimientos
                        administrativos con el objetivo de responder a tu solicitud de información. Sus datos no se
                        cederán
                        a terceros salvo
                        obligación legal o que la cesión sea necesaria para el cumplimiento de la finalidad. Usted puede
                        ejercer los derechos de
                        acceso, rectificación o supresión de sus datos. Puede consultar la información adicional y
                        detallada
                        sobre Protección de
                        Datos desde este enlace.</i>

                </div>
            </form>
        </div>

    </div>
</div>