<div class="container mb-5 mb-md-7">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div id="webinar" class="mb-3 pb-2 text-sm">
                <span class="bg-red text-uppercase d-inline color-white letter-base font-400 p-2">Nuevo</span>
                <span class="text-uppercase ml-2 text-uppercase letter-base font-400 color-grayextradark">Webinar</span>
            </div>
            <h3 class="title-6xl mb-4">¿Cómo crear un hybrid SPA con NextJS?
            </h3>
            <p class="font-secondary text-3xl color-red mb-4 mb-md-5">(Un caso práctico con nuestro modelo Jamstack:
                Bitween Suite)</p>

        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline">
            <div class="landing-nav-section text-xs color-bluesoft font-400"><span
                    class="line-decoration">Webinar</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xl-6 col-md-10 offset-md-1 pr-3 pr-xl-7">
            <p class="text-2xl">
                En Biko llevamos años unificando e impulsando una <strong>cultura de buenas prácticas</strong> en las
                diferentes áreas tecnológicas, con
                especial atención en el <strong><i>frontend</i></strong> (React) y en la <strong>gestión de
                    contenidos</strong> (Drupal).
            </p>
            <p class="text-2xl">
                Recientemente <strong>Jamstack</strong> nos está permitiendo definir y crear un modelo propio que
                combina ambas tecnologías y aprovecha
                lo mejor de cada una de ellas. Lo hemos bautizado como <strong>Bitween Suite</strong> y pronto os
                hablaremos
                de ello.
            </p>
            <p class="text-2xl">Pero antes de nada hemos organizado este webinar técnico en el que mostraremos
                <strong>cómo hemos migrado una SPA</strong> (Single Page
                Application) donde el contenido se muestra dinámicamente a medida que el usuario interactúa
                con la web, hacia una <strong>hybrid
                    SPA con NextJS</strong>, que nos permite tener un site pregenerado.
            </p>
            <p class="text-2xl">Además, explicaremos cómo este modelo híbrido ayuda a <strong>resolver el clásico
                    problema del SEO</strong> en las SPA y cómo permite
                previsualizar los contenidos cuando se comparten en redes sociales.
            </p>

        </div>
        <div class="col-lg-4 offset-md-1 col-md-10 offset-lg-0">
            {# form #}
            <div
                class="bg-red-extralight p-4 p-md-3 d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">
                <div>
                    <div class="d-flex flex-row mb-2">

                        <svg class="icon">
                            <use xlink:href="/assets/svg/sprite/sprite.svg#calendar-slim"></use>
                        </svg>

                        <div>
                            <p class="color-red font-bold mb-0 pl-2 text-xl text-tachado">Martes 18 de Mayo de
                                2021</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-2">
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/svg/sprite/sprite.svg#reloj-slim"></use>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-0 pl-2 text-base">17:00h</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-2">
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/svg/sprite/sprite.svg#idoma-slim"></use>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-0 pl-2 text-base">En castellano</p>
                        </div>
                    </div>
                </div>

            </div>
            <h4 id="apuntate" class="title-4xl mb-4 pt-5">Ver Webinar completo</h4>
            <p><a href="https://youtu.be/T6Cia1BCRTg">¿Cómo crear un hybrid SPA con NextJS?</a></p>
        </div>

    </div>
</div>