  <section id="importante" class="mb-7">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-3">¿Qué consideramos necesario para optar al puesto?</h2>
          <p class="font-secondary text-xl text-lg-2xl color-red mb-5">
            (sabemos que cumplir todos los requisitos es complicado pero nos gustaría...)
          </p>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas un <strong>gran dominio</strong> del <strong>lenguaje Javascript</strong> y sus paradigmas de programación (<strong>asíncrona</strong>, <strong>funcional</strong> y <strong>reactiva</strong>).</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas a tu espalda unos cuantos <strong>años desarrollando</strong> aplicaciones web con <strong>React</strong> y/o <strong>Angular</strong>. Si has trabajado con otras librerías o </strong>frameworks con ES6</strong> o <strong>Typescript</strong> también nos vale.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Conocimiento profundo de <strong>buenas prácticas</strong> de desarrollo de <strong>software XP</strong>. Valoramos especialmente conocimientos en <strong><em>testing</em></strong>, <strong>arquitecturas limpias</strong>, <strong>código simple</strong>, <strong><em>refactoring</em></strong> e <strong>integración continua</strong>.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Excelente técnicamente</strong> (con respecto a lo que se espera de una persona profesional haciendo su trabajo, no al trabajo técnico en sí) y <strong>solvente</strong>, <strong>resolutiva</strong>, <strong>autosuficiente</strong> para resolver problemas.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Estar convencido/a de que el <strong>desarrollo de software</strong> es una actividad que se hace <strong>en equipo</strong>. </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Saber ejercer el rol de <strong>facilitador</strong>, ayudando al equipo a trabajar de manera más <strong>eficiente</strong> y a <strong>colaborar</strong>.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Tener una visión <em>economics</em>: <strong>todos somos negocio</strong>.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-lg-0">Que hayas sido el o la <strong>responsable</strong> de que un <strong>equipo técnico</strong> tenga una <strong>visión y estrategia técnica</strong>, sea consciente de su impacto en producto y trabaje de manera <strong>ágil</strong> entregando <strong>valor de forma constante</strong>. </p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Unas buenas habilidades de <strong>comunicación</strong>, capacidad para <strong>colaborar</strong> y <strong>presentar</strong> tus ideas de forma clara y efectiva al resto del equipo y de la empresa. Igualmente, que sepas <strong>adaptar el mensaje</strong> a su receptor y manejar diferentes <strong>niveles de abstracción</strong> en la comunicación.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que seas capaz de <strong>tomar decisiones</strong>, de <strong>arriesgar</strong>, y de asumir la <strong>responsabilidad </strong>de ellas.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Con capacidad de <strong>analizar</strong> situaciones, <strong>prever</strong> problemas y <strong>proponer</strong> acciones.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que sepas <strong>dividir</strong>, <strong>separar</strong>, en “trozos” más pequeños problemas/situaciones que lleguen al equipo.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que sepas <strong>decir que no</strong> ofreciendo <strong>alternativas</strong> que ayuden a resolver la situación.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Con <strong>visión global</strong>, pensando más allá del corto plazo y con capacidad de <strong>prever</strong> las <strong>consecuencias</strong> en el largo plazo. Sabiendo <strong>priorizar</strong> lo importante.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Ser observador/a y tener <strong>intuición</strong> con las personas del equipo, del cliente y de Biko.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Ser <strong>responsable</strong> de tu propio trabajo buscando <strong>soluciones</strong> a los problemas que surjan, ocupándote, en vez de sólo preocupándote. </pZ
              <p class="u-decoration-red pt-2 text-base line-base mb-0">Y por supuesto y para terminar, que tengas <strong>buen humor</strong>, <strong>empatía</strong> y que transmitas buena <strong>“vibra”</strong> 😉</p>
            </div>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">La lista de los deseos</span>
          </div>
        </div>
      </div>
    </div>
  </section>