  <section id="historia-necesidad" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">Nuestra pedrada</h2>
          <p class="text-base line-base">
            En los últimos años nos <strong>hemos consolidado</strong> como una empresa donde el <em>core</em> de nuestro negocio 
            es <strong>desarrollar software</strong> que satisfaga las necesidades de nuestros clientes. 
            Nos hemos afianzado trabajando de la mano con <strong>clientes cada vez más potentes</strong>, 
            con relaciones muy a largo plazo, fraguando <strong>equipos más grandes</strong> y con más responsabilidades, 
            poniendo foco en <strong>aportar valor</strong> de manera constante. 
          </p>
          <p class="text-base line-base">
            Ahora tenemos la necesidad de <strong>ampliar nuestro equipo</strong> con alguno de los muchos roles 
            que ofrece el mercado. 
            Seguro que muchos os suenan: <em>tech lead</em>, <em>tech lead manager</em>, <em>engineering manager</em>, 
            <em>lead</em>, principal, etc. Sin embargo, en Jakala Biko no nos gusta ceñirnos a lo que nos dice el mercado, 
            nos gusta explicar las cosas tal y como las entendemos y con <strong>nuestra propia manera de ver el mundo</strong>. 
            Y tenemos ejemplos reales de esto: en su momento nos trajimos <em>agile</em> cuando no era <em>mainstream</em>, 
            <strong>nuestro CTO no es</strong> un CTO <strong> clásico</strong>  y la responsabilidad es de otra empresa, 
            tenemos nuestro propio <strong>laboratorio de especulación</strong> <a href="https://bikolabs.biko2.com/" target="_blank" class="c-link">(Bikolabs)</a>, etc. 
            Y ésta es una más, así que vamos a intentar explicar <strong>qué necesitamos</strong> “a nuestra manera”.
          </p>
          <p class="text-base line-base">
            Como hemos dicho, nuestros <strong>equipos de desarrollo de software</strong> se sustentan en <strong>diferentes 
            responsabilidades</strong> que son cubiertas por el conjunto de las personas que integran el propio equipo.
             Huímos, por tanto, de un modelo que  limite a las personas según lo que marca el mercado para ese rol. 
             Apostamos por tener <strong>bien claras todas las responsabilidades</strong> que nosotros consideramos fundamentales 
             a la hora de desarrollar software en equipos y asegurar que todas ellas estén bien cubiertas. 
             Así, nuestros equipos están formados por personas cuya responsabilidad en un determinado momento 
             es <strong>desarrollar funcionalidades de la mejor forma posible</strong>, y otras que se responsabilizan del <strong>bienestar 
             del equipo</strong> y del <strong>crecimiento de las personas</strong> del equipo, otra que se encargue de la <strong>relación con cliente</strong>, etc.  
          </p>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">Cómo nació este perfil</span>
          </div>
        </div>
      </div>
    </div>
  </section>