  <section id="historia-necesidad" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">Nuestra pedrada</h2>
          <p class="text-base line-base">
            Hubiese sido muy fácil para nosotros lanzarnos a buscar un “tech lead” 
            de manual y no explicar nada más pero la realidad es que nos gusta <strong>apostar </strong>
            por nuestra <strong>manera de entender las cosas</strong>.
          </p>
          <p class="text-base line-base mb-0">
            Huímos de un modelo que limite a las personas según lo que marca el mercado 
            para los roles así que nuestros equipos de desarrollo de software 
            se sustentan en <strong>diferentes responsabilidades</strong> que son cubiertas por el conjunto de las personas que integran el propio grupo de trabajo.   
          </p>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">Cómo nació este perfil</span>
          </div>
        </div>
      </div>
    </div>
  </section>