  <section id="historia-necesidad" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">Entonces… ¿qué necesitamos?</h2>
          <p class="text-base line-base">
            Necesitamos <strong>que te incorpores</strong> a uno de nuestros equipos, formado por <strong>13 personas</strong> y dedicado 
            al <strong>desarrollo de una aplicación frontend</strong>. Inicialmente, la aplicación fue desarrollada 
            hace 6 años en Angular JS y el equipo tuvo que migrarla haciendo que ambas conviviesen 
            y permitiendo una evolución casi transparente para el cliente. El equipo es un <strong>equipo estable</strong>, 
            con <strong>dinámicas ágiles</strong> y <strong>prácticas XP</strong> (<em>testing</em>, <em>code reviews</em>, arquitectura, buenas prácticas) 
            de ejecución de proyectos consolidadas y que cubre desde conversaciones iniciales con cliente 
            mediante <strong>talleres de <em>example mapping</em></strong> para el análisis de los requisitos hasta la <strong>integración 
            con un API externa</strong>.
          </p>
          <p class="text-base line-base mb-5">
            El equipo ha tenido un <strong>crecimiento importante</strong> en los últimos meses, incorporando varias 
            personas de perfil más junior, y algunas de las personas que más experiencia tenían 
            en el equipo han tenido que asumir responsabilidades en otros proyectos. Por tanto, 
            ha llegado un momento en el que <strong>necesitamos</strong> una <strong>persona que asuma</strong> algunas de las 
            siguientes <strong>responsabilidades</strong>:
          </p>
          <div class="row">
              <div class="col-lg-6 pr-4 pr-lg-6">
                <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Visión</strong> y <strong>estrategia</strong> técnica. </p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Apoyo</strong> a la persona del equipo responsable de gestionar la relación con el cliente. </p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Diseño técnico</strong>. </p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Aterrizaje</strong> de nuevos proyectos de negocio. </p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Impulsar</strong> una <strong>cultura XP</strong> y de <strong>mejora contínua</strong> constante. </p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-lg-0">Asegurarse de que la <strong>calidad</strong> de la <strong>base de código</strong> es la adecuada, que la complejidad accidental se mantiene a raya y que la deuda técnica no se dispara. </p>
              </div>
              <div class="col-lg-6 pr-4 pr-lg-6">
                  <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Ayudar</strong> en el desarrollo de <strong>carrera</strong> de las <strong>personas técnicas</strong> del equipo.</p>
                  <p class="u-decoration-red pt-2 text-base line-base mb-3"><strong>Mejorar</strong> la <strong>productividad</strong> del equipo:</p>
                  <ul class="mb-5">
                    <li class="text-base line-base"><strong>Dirigirás</strong> los procesos de nuevas contrataciones, participando en su definición y ejecución.</li>
                    <li class="text-base line-base"><strong>Identificarás las necesidades de contratación presentes y futuras</strong> en base a las necesidades de negocio.</li>
                    <li class="text-base line-base">Trabajarás activamente para <strong>mejorar el nivel de diversidad de Biko</strong>.</li>
                    <li class="text-base line-base"><strong>Cantera</strong>. Liderarás la organización de las próximas ediciones de la Biko School y de su proceso de selección.</li>
                  </ul>
              </div>
            </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">Nuestra necesidad</span>
          </div>
        </div>
      </div>
    </div>
  </section>