{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--unicaja text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-unicaja.svg" class="mb-3" alt="Logotipo UNICAJA BANCO" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">UNICAJA BANCO</p>-->
          <h1 class="title-hero mb-3">
          Nuevo frontend, mejor arquitectura técnica
          </h1>

          <p class="font-secondary text-2xl text-lg-3xl color-red-middle mb-5">(por y para el cliente)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10">
                <p class="text-md-2xl line-md-2xl">Unicaja Banco es una entidad financiera que ha vivido una importante evolución en los últimos años. Así, el crecimiento y mejora de la experiencia digital para sus clientes ha ido de la mano. Desde Biko hemos tenido la suerte de poder acompañar a esta entidad en ese camino trabajando en aspectos tan clave como el área privada. Y ya de paso, aprendemos de finanzas, que nunca viene mal :)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque datos-->
<section class="bg-gray-extralight py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Unicaja Banco</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">Arquitectura <span class="color-red">+</span> Desarrollo</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">React <span class="color-red">+</span> TypeScript</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://www.unicajabanco.es/es/particulares" target="_blank">Unicaja Banco</a></div>
          </div>

      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla-->
<section class="py-5 py-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Construir un <strong>nuevo frontend con React</strong> para su banca online definiendo la arquitectura técnica y liderando el desarrollo de la aplicación web.</p>
      </div>
    </div>
  </div>
</section>

<!--Bloque El Desafio-->
<section id="desafio" class="contenedor-secciones mb-4 mb-md-5 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title-6xl mb-4">El desafío</h3>
        <p>El mayor desafío con el que nos encontramos fue incorporar una tecnología y un marco de trabajo completamente nuevos dentro de la entidad financiera. Además de colaborar con otros proveedores para dar forma, desarrollar y poner en marcha una nueva banca online multidispositivo, que atendiese las necesidades de sus clientes.</p>
      </div>
      <div class="col-12 col-md-6">
        <img data-src="/assets/images/proyectos/unicaja/unicaja1.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Imagen de una chica joven" />
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
        <img data-src="/assets/images/proyectos/unicaja/unicaja2.svg"
          class="lazyload w-100 mb-3 mb-md-0"
          alt="Logotipo de Unicaja" />
        <img data-src="/assets/images/proyectos/unicaja/unicaja3.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Extracto de pantalla de la web de Unicaja" />
      </div>
    </div>
  </div>
</section>
<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/unicaja-enfoque" class="lazyloaded u-img-fluid" alt="Dinámica de Agile" src="/assets/images/proyectos/unicaja-enfoque-1.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>Al tratarse de un proyecto de tamaño considerable, con una evolución continua a lo largo de muchos años, definimos una arquitectura y modelo de desarrollo modular que nos permitiera avanzar de forma sostenible durante la vida del proyecto. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">
          Nueva estructura y nueva tecnología para un <strong>mejor producto</strong>.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="title-4xl line-3xl mb-4">
              Software de calidad
            </h4>
            <p>
          Una parte importante de nuestro trabajo ha sido la formación y acompañamiento de un equipo de desarrollo multiproveedor implantando buenas prácticas de desarrollo y llevando a cabo una sólida estrategia de testing automatizado.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/selfbank-imagen-movil-1" class="lazyloaded u-img-fluid" alt="Dinámica de Agile" src="/assets/images/proyectos/unicaja-enfoque.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
    <div class="col-md-12 mb-3">
        <p class="title-slim-6xl u-strong-red mb-md-6">
        Para construir un <strong>proyecto de estas características</strong> tuvimos que recurrir a:</p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div class="mb-3 mb-lg-0">
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              React
            </h4>
            <p>
            Como tecnología principal para la creación del área privada.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('typescript')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">TypeScript</h4>
            <p>
              Lenguaje de programación de la aplicación.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p>
         Conseguimos alcanzar el objetivo: construir una nueva banca online multidispositivo con una base sólida de código que permita ser evolucionada durante los próximos años. Un proyecto orientado únicamente a mejorar la calidad del servicio para cualquier usuario de Unicaja Banco.  </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/unicaja-producto-final-1" class="lazyloaded u-img-fluid" alt="Pantalla para aaceder al área privada de Unicaja Banco" src="/assets/images/proyectos/unicaja-producto-final-1.png">
      </div>
    </div>
  </div>
</section>



{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
