{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--unicaja text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-sm letter-base font-400 color-grayextradark">UNICAJA BANCO</p>
          <h1 class="title-hero mb-4">
          Unicaja Banco: nuevo frontend, mejor arquitectura técnica
          </h1>

          <p class="font-secondary text-3xl color-red-middle mb-4">(por y para el cliente)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-6">
                <p>Unicaja Banco es una entidad financiera que ha vivido una importante evolución en los últimos años. Así, el crecimiento y mejora de la experiencia digital para sus clientes ha ido de la mano. Desde Biko hemos tenido la suerte de poder acompañar a esta entidad en ese camino trabajando en aspectos tan clave como el área privada. Y ya de paso, aprendemos de finanzas, que nunca viene mal :)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-6 title-slim-6xl u-strong-red">Construir un nuevo frontend con React para su banca online definiendo la arquitectura técnica y liderando el desarrollo de la aplicación web.</p>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <p class="title-4xl font-light line-4xl">
      <strong>Cliente:</strong> Unicaja Banco /
      <strong>Estrategia:</strong> Arquitectura <span class="color-red">+</span> Desarrollo /
      <strong>Tecnología:</strong> React <span class="color-red">+</span> TypeScript /
      <strong>Web:</strong> <a class="c-link" href="https://www.unicajabanco.es/es/particulares" target="_blank">Unicaja Banco</a>
      </p>
    </div>
    </div>
  </div>
</section>
<div class="c-separator--line c-separator--line__horizontal"><hr /></div>
<section class="contenedor-secciones mb-md-5">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/unicaja-desafio" class="lazyloaded" alt="Desarrollador trabajando con React" src="/assets/images/proyectos/unicaja-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-7xl mb-4">El desafío</h3>
          <p>El mayor desafío con el que nos encontramos fue incorporar una tecnología y un marco de trabajo completamente nuevos dentro de la entidad financiera. Además de colaborar con otros proveedores para dar forma, desarrollar y poner en marcha una nueva banca online multidispositivo, que atendiese las necesidades de sus clientes.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/unicaja-enfoque" class="lazyloaded u-img-fluid" alt="Dinámica de Agile" src="/assets/images/proyectos/unicaja-enfoque-1.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="title-7xl mb-4">Nuestro enfoque</h3>
        <p>Al tratarse de un proyecto de tamaño considerable, con una evolución continua a lo largo de muchos años, definimos una arquitectura y modelo de desarrollo modular que nos permitiera avanzar de forma sostenible durante la vida del proyecto. </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">
          Nueva estructura y nueva tecnología para un <strong>mejor producto</strong>.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="title-5xl mb-4">
              Software de calidad
            </h4>
            <p>
          Una parte importante de nuestro trabajo ha sido la formación y acompañamiento de un equipo de desarrollo multiproveedor implantando buenas prácticas de desarrollo y llevando a cabo una sólida estrategia de testing automatizado.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/selfbank-imagen-movil-1" class="lazyloaded u-img-fluid" alt="Dinámica de Agile" src="/assets/images/proyectos/unicaja-enfoque.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-xl-4">
          <div>
            <h3 class="title-7xl mb-4">
              Producto final
            </h3>
            <p>
           Conseguimos alcanzar el objetivo: construir una nueva banca online multidispositivo con una base sólida de código que permita ser evolucionada durante los próximos años. Un proyecto orientado únicamente a mejorar la calidad del servicio para cualquier usuario de Unicaja Banco.  </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-4">
          <img data-src="/assets/images/proyectos/unicaja-producto-final-1" class="lazyloaded u-img-fluid" alt="Pantalla para aaceder al área privada de Unicaja Banco" src="/assets/images/proyectos/unicaja-producto-final-1.png">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
    <div class="col-md-12 col-xl-10 mb-3">
        <p class="title-slim-6xl u-strong-red mb-md-6">
        Para construir un proyecto de estas características tuvimos que recurrir a:</p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              React
            </h4>
            <p>
            Como tecnología principal para la creación del área privada.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('typescript')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">TypeScript</h4>
            <p>
              Lenguaje de programación de la aplicación.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="c-texto--center">
          <h2 class="title-7xl mb-4">
            ¿Tienes alguna duda sobre este proyecto?<br>¿Te gustaría ver otros similares?
          </h2>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container d-flex flex-row justify-content-center py-6">
    <a class="action-up color-blue d-flex flex-column align-items-center decoration-none" href="#top">
        <svg class="icon-up mb-4">
            <use xlink:href="/assets/svg/sprite/sprite.svg#arrow-slim"></use>
        </svg>
        <span class="text-uppercase color-blue text-sm letter-base font-400">Subir</span>
    </a>
</div>
{% include "@includes/contact.twig" %}

{% endblock %}
