{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--lagunaro text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-sm letter-base font-400">SEGUROS LAGUN ARO</p>
          <h1 class="title-hero mb-4">
          Un cliente más autónomo
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(un cliente más feliz)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-6">
              <p>
              Seguros Lagun Aro es una compañía integrada en Laboral Kutxa desde 2012.</p>
              <p>
              Acudió a nosotros para definir su estrategia en movilidad, tanto a nivel tecnológico como de negocio; así como para plantear una solución multiplataforma que ayudara a reforzar la relación con sus clientes.              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-6 title-slim-6xl u-strong-red">Hemos trabajado codo con codo para poder ofrecer la mejor versión de la app al usuario.
        </p>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <p class="title-2xl font-light line-2xl">
      <strong>Cliente:</strong> Seguros Lagun Aro /
      <strong>Estrategia:</strong> Storytelling <span class="color-red">+</span> UX /
      <strong>Diseño:</strong> UI <span class="color-red">+</span> Diseño Web /
      <strong>Tecnología:</strong> HTML <span class="color-red">+</span> CSS <span class="color-red">+</span> JavaScript /
      <strong>Web:</strong> <a class="c-link" href="https://www.lagunaro.es/" target="_blank">Seguros Lagun Aro</a>
      </p>
    </div>
    </div>
  </div>
</section>
<div class="c-separator--line c-separator--line__horizontal"><hr /></div>
<section class="contenedor-secciones mb-md-7 mb-md-5">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/lagun-aro-desafio.jpg" class="lazyloaded" alt="Seguros Lagun Aro" src="/assets/images/proyectos/lagun-aro-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-7xl mb-4">El desafío</h3>
          <p>El reto fue diseñar sus aplicaciones móviles buscando simplificar los procesos y adecuarlos a cada dispositivo, con el objetivo de favorecer la autonomía de sus clientes en la gestión de pólizas, partes de siniestros y comunicación con la entidad.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/lagun-aro-enfoque.jpg" class="lazyloaded u-img-fluid" alt="Seguros Lagun Aro"  src="/assets/images/proyectos/lagun-aro-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="title-7xl mb-4">Nuestro enfoque</h3>
        <p>En la primera fase de consultoría realizamos sesiones de trabajo que arrancaron con un <strong> agile inception</strong>, tras el cual vinieron distintas dinámicas de <strong>design thinking</strong> y <strong>gamificación</strong> hasta definir la base estratégica para la compañía.
        </p>
         <!--
         <div class="d-flex justify-content-between u-relative mb-5 mb-md-0 c-sabermas">
            <div class="c-mockup-descripcion__icono c-icon--medium  c-icon--white u-bg-red">
                <svg><use xlink:href="/assets/svg/sprite/sprite.svg#blog"></use></svg>
            </div>
            <div class="mr-4">
              <p class="mb-2">
                <strong>Para saber más:</strong>
              </p>
                 <a href="https://blog.biko2.com/drupal/razones-por-las-que-estamos-recomendando-drupal-8-a-nuestros-clientes/" target="_blank">
                <span class="c-link-especial">
                  Razones por las que recomendamos Drupal a nuestros clientes
                </span>
              </a>
            </div>
            <div class="align-self-end c-icon--arrow  c-icon--black">
              <svg><use xlink:href="/assets/svg/sprite/sprite.svg#flecha-right"></use></svg>
            </div>
          </div> -->

      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-3">
          <p class="title-slim-6xl u-strong-red mb-md-6">
          Creamos una app híbrida multiplataforma pensada para los usuarios.
        </p>
      </div>
    </div>
    <div class="row mb-6  mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 d-flex align-items-center order-md-2 order-xl-1">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="title-5xl mb-4">
              Segunda fase
            </h4>
             <p class="mb-5">
             En la segunda fase trabajamos en su app principal, diseñamos la arquitectura de navegación, elaboramos los wireframes de la aplicación al completo, hicimos el diseño gráfico de las pantallas principales y construimos un prototipo navegable en HTML/CSS/JS de la aplicación para sus dos versiones (tableta y móvil).
            </p>
          </div>
          <!--
          <div class="d-flex justify-content-between u-relative mb-5 mb-md-0">
            <div class="c-mockup-descripcion__icono c-icon--medium  c-icon--white u-bg-red">
                {{svgSprite('blog')}}
            </div>
            <div class="mr-4">
              <p class="mb-2">
                <strong>Para saber más:</strong>
              </p>
              <a href="https://blog.biko2.com/actualidad-biko/museos-y-centros-de-arte-en-el-s-xxi-claves-de-su-transformacion-digital/" target="_blank">
                <span class="c-link-especial">
                  Museos y centros de arte en el s.XXI. Claves de su transformación digital
                </span>
              </a>
            </div>
            <div class="align-self-end c-icon--arrow  c-icon--black">
              {{svgSprite('flecha-right')}}
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block order-xl-2">
            <img data-src="/assets/images/proyectos/lagun-aro-imagen-movil-2" class="lazyloaded u-img-fluid" alt="Pantalla Seguros Lagun Aro" src="/assets/images/proyectos/lagun-aro-imagen-movil-2.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-ml-negativo c-mockup-imagenes-montaje  order-xl-1">
            <img data-src="/assets/images/proyectos/lagun-aro-movil-1" class="lazyloaded u-img-fluid" alt="Pantalla Seguros Lagun Aro" src="/assets/images/proyectos/lagun-aro-movil-1.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="title-5xl mb-4">
             Integración
            </h4>
            <p>
            Finalmente, los perfiles más técnicos de Biko ayudaron al equipo de Seguros Lagun Aro a integrar en su aplicación el nuevo diseño, apoyando a nivel de consultoría y también en pequeños desarrollos parciales.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/lagun-aro-imagen-movil-1" class="lazyloaded u-img-fluid" alt="Seguros Lagun Aro" src="/assets/images/proyectos/lagun-aro-imagen-movil-1.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha">
            <img data-src="/assets/images/proyectos/lagun-aro-movil-2" class="lazyloaded u-img-fluid" alt="Seguros Lagun Aro" src="/assets/images/proyectos/lagun-aro-movil-2.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-lg-5 mb-xl-0">
        <div class="col-md-12 col-lg-6 col-xl-3 offset-xl-1">
          <div class="d-flex flex-column">
            <h3>
              Producto final
            </h3>
            <p class="mb-5 mb-md-5 mb-lg-0">
            Como resultado, nació una app híbrida multiplataforma con dos versiones, para tablet y móvil, 100% enfocada en sus clientes, pensada para facilitarles la resolución de los principales trámites y para reducir los tiempos de atención de la compañía de seguros.
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/lagun-aro-producto-final-1" class="lazyloaded u-img-fluid" alt=" Pantalla Seguros Lagun Aro" src="/assets/images/proyectos/lagun-aro-producto-final-1.jpg">
        </div>
      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-3">
          <p class="title-slim-6xl u-strong-red mb-md-6">
          Para construir un proyecto de estas características nos basamos en una potente combinación de herramientas.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
           {{svgSprite('html')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              HTML, CSS y JavaScript
            </h4>
            <p>
              Para construir el prototipo navegable de la aplicación
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
