{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero pt-3 pt-md-5">
  <div class="container">
    <a href="/proyectos#proyectos" class="p-proyecto__back mb-4">{{svgSprite('arrow-left')}} <span>Volver al listado</span></a>
  </div>

  <h1 class="c-title--background">Museo Thyssen-Bornemisza</h1>

  <div class="c-grid-image--right">
    <img data-src="/assets/images/proyectos/thyssen-proyecto.jpg" class="lazyload" alt="Museo Nacional Thyssen-Bornemisza" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7">
        <h2 class="h-extrahuge">El arte de <strong>mostrar arte</strong></h2>
        <p class="c-title--sub">(y su proceso de artesanía)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-6">
        <p class="c-title--pre">El Museo Thyssen-Bornemisza asumió un proceso de <strong>transformación digital</strong> a través de la renovación de todo su ecosistema web.</p>
        <p>De las cuatro piezas principales (web del Museo, web de Educathyssen, tienda y entradas), desde Biko hemos asumido el desarrollo de dos de ellas: <a href="https://www.museothyssen.org/" target="_blank">la web</a> y <a href="https://www.educathyssen.org/" target="_blank">Educathyssen</a>.</p>
        <p>El reto no era menor: el sistema debía ser multisite, multidominio, multiidioma, con un diseño ya definido y una clara orientación de marketing.</p>
        <p>Así, desarrollamos una plataforma tecnológica que permite una gestión potente e integrada de ambos sites y es <strong>la base del ecosistema digital del Museo</strong>, por sus integraciones con la tienda, el CRM de Amigos del Museo y la venta de entradas.</p>
        <p>Algunos aspectos importantes del desarrollo son el <strong>buscador facetado</strong> que facilita la exploración de todos los contenidos (obras, autores, exposiciones, actividades,...) y el <strong>marcado semántico con microdatos</strong> (con el estándar JSON-LD).</p>
        <p><a class="c-link" href="https://www.museothyssen.org/" target="_blank">Visitar la web Museo Thyssen</a></p>
      </div>
    </div>
  </div>
</section>



<div class="p-proyecto--galeria">
  <div class="container">

    <div class="row">
      <div class="col-8 offset-2 col-md-4 offset-md-0 d-none d-md-block">
        <img data-src="/assets/images/proyectos/thyssencollage1.png" class="lazyload w-100" alt="Museo Nacional Thyssen-Bornemisza - Detalle web móvil" />
      </div>
      <div class="col-8 offset-2 col-md-4 offset-md-0">
        <img data-src="/assets/images/proyectos/thyssencollage2.png" class="lazyload w-100" alt="Museo Nacional Thyssen-Bornemisza - Detalle web móvil" />
      </div>
      <div class="col-8 offset-2 col-md-4 offset-md-0 d-none d-md-block">
        <img data-src="/assets/images/proyectos/thyssencollage3.png" class="lazyload w-100" alt="Museo Nacional Thyssen-Bornemisza - Detalle web móvil" />
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-10 offset-1 col-md-12 offset-md-0">
        <img data-src="/assets/images/proyectos/thyssencollage4.png" class="lazyload w-100" alt="Museo Nacional Thyssen-Bornemisza" />
      </div>
    </div>

  </div>
</div>


<div class="c-separator--line"><hr /></div>
{% include "@base/proyectos/museo-thyssen/post.twig" %}
{% include "@base/proyectos/separador-flecha.twig" %}
{% include "@base/proyectos/proyecto-similar.twig" %}
<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}
