<section class="c-bg-pattern__left pt-lg-5 mb-5">
  <div class="container">
    <h3 class="text-center">Tienes más detalles en nuestro blog</h3>

    <div class="p-proyecto__blog">
      <div class="p-proyecto__blog__item">
    		<a href="https://blog.biko2.com/estandares/gestion-de-contenidos-moderna-un-cambio-de-paradigma-iii/" target="_blank">
          <img data-src="https://blog.biko2.com/wp-content/uploads/2020/02/cm_background.jpg" class="lazyload w-100" alt="Gestión de contenidos" />
          <span class="p-proyecto__blog__titulo c-link">Gestión de contenidos moderna: un cambio de paradigma (III)</span>
        </a>
      </div>

      <div class="p-proyecto__blog__item">
    		<a href="https://blog.biko2.com/actualidad-biko/museos-y-centros-de-arte-en-el-s-xxi-claves-de-su-transformacion-digital/" target="_blank">
          <img data-src="https://blog.biko2.com/wp-content/uploads/2019/02/human-2944064_1280-1-1060x550.jpg" class="lazyload w-100" alt="Museos" />
          <span class="p-proyecto__blog__titulo c-link">Museos y centros de arte en el s.XXI. Claves de su transformación digital</span>
        </a>
      </div>

      <div class="p-proyecto__blog__item">
    		<a href="https://blog.biko2.com/drupal/razones-por-las-que-estamos-recomendando-drupal-8-a-nuestros-clientes/" target="_blank">
          <img data-src="https://blog.biko2.com/wp-content/uploads/2016/03/ominacanalidad-portada.png" class="lazyload w-100" alt="Omnicanalidad y publicación multidispositivo" />
          <span class="p-proyecto__blog__titulo c-link">Razones por las que estamos recomendando Drupal 8 a nuestros clientes</span>
        </a>
      </div>

    </div>
  </div>
</section>
