{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--dkv text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-dkv.svg" class="mb-3" alt="Logotipo DKV SEGUROS" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">DKV</p>-->
          <h1 class="title-hero mb-3">
          Flexibilidad infinita
          </h1>
          <p class="font-secondary text-2xl text-lg-3xl color-red-middle mb-5">(en un único entorno)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-6">
              <p class="text-md-2xl line-md-2xl">
               El Grupo DKV había iniciado un proyecto de migración a la plataforma de gestión de contenidos Drupal 8 de la totalidad de webs (más de diez) y aplicaciones móviles de la compañía.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque datos-->
<section class="bg-gray-extralight py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">DKV Seguros </div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">Storytelling <span class="color-red">+</span> UX</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI <span class="color-red">+</span> Diseño Web</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Drupal</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://dkvseguros.com/" target="_blank">DKV Seguros</a></div>
          </div>

      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla-->
<section class="py-5 py-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Tuvimos que desarrollar todo el proyecto con estricta <strong>adherencia a las normas y con procedimientos</strong> de desarrollo seguro.</p>
      </div>
    </div>
  </div>
</section>

<!--Bloque El Desafio-->
<section id="desafio" class="contenedor-secciones mb-4 mb-md-5 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title-6xl mb-4">El desafío</h3>
      </div>
      <div class="col-12 col-lg-6">
        <p>La migración debía realizarse sin que hubiera discontinuidad en el servicio ni cambios aparentes para los usuarios de dichos portales, más allá de los que la diferencia de plataforma técnica podía obligar.</p>
      </div>
      <div class="col-12 col-lg-6">
        <p>Dentro del proyecto se incluía, además, el diseño de toda la infraestructura técnica, la instalación y configuración de todos los módulos y componentes necesarios en los sistemas de DKV.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <img data-src="/assets/images/proyectos/dkv/dkv1.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Imagen de una familia" />
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
        <img data-src="/assets/images/proyectos/dkv/dkv2.svg"
          class="lazyload w-100 mb-3 mb-md-0"
          alt="Logotipo de DKV" />
        <img data-src="/assets/images/proyectos/dkv/dkv3.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Imagen de un edificio de DKV" />
      </div>
    </div>
  </div>
</section>
<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/DKV-enfoque.jpg" class="lazyloaded u-img-fluid" alt="DKV"  src="/assets/images/proyectos/DKV-enfoque.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>Con esta premisa, decidimos desarrollar un gran proyecto de <strong>gestión de contenidos</strong>. Construimos una herramienta en la que las claves estaban en la autonomía del editor/administrador para modificar cuantos más elementos sea posible sobre el propio CMS. Prestamos especial atención a la gestión de archivos multimedia, así como la gestión de usuarios, permisos y workflows de edición de contenidos.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-7">
  <div class="container">
    <div class="row mb-lg-5 mb-xl-0">
      <div class="col-md-12">
        <p class="title-slim-6xl u-strong-red">
         Conseguimos una <strong>gestión de contenidos flexible y modular</strong>, que permitía al editor independencia y capacidad de estructurar las páginas directamente en el CMS.
        </p>
      </div>
    </div>
  </div>
</section>
<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p>
         Como tenía un foco técnico muy importante, la construcción estuvo a cargo de <strong>desarrolladores senior</strong>, que además de atesorar una importante experiencia en Drupal han participado en desarrollos tecnológicos complejos de integración con sistemas externos como SAP o Salesforce.
          </p>
          <p>También se logró una <srtong>flexibilidad infinita</strong>, construyendo un sistema de gestión de contenidos y portadas totalmente modular, de tal manera que los editores tienen flexibilidad a la hora de componer gráficamente todos los contenidos finales.</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/DKV-producto-final-1.png" class="lazyloaded u-img-fluid" alt="DKV producto final" src="/assets/images/proyectos/DKV-producto-final-1.png">
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
          <p class="title-slim-6xl u-strong-red mb-md-6">
          Para construir un <strong>proyecto de estas características</strong> tuvimos que recurrir a estas herramientas:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
            Como contenedor y gestor de contenidos unificados (carta de productos y web)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-md-2xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://dkvseguros.com/" target="_blank"><span class="c-link"> la web de DKV Seguros</span></a></p>
      </div>
    </div>
  </div>
</section>
{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
