{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero contenedor-secciones-hero">
  <div class="c-grid-image--right">
    <img data-src="/assets/images/proyectos/DKV-cabecera.jpg" class="lazyload" alt="DKV" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7">
        <h1 class="c-title--pre text-uppercase mt-3 mt-md-4 mb-0">DKV</h1>
        <h2 class="h-extrahuge">Flexibilidad<strong> infinita</strong></h2>
        <p class="c-title--sub">(en un único entorno)</p>
      </div>
    </div>
    <div class="row">
     <div class="col-12 offset-lg-1 col-md-6">
        <p>El Grupo DKV había iniciado un proyecto de migración a la plataforma de gestión de contenidos Drupal 8 de la totalidad de webs (más de diez) y aplicaciones móviles de la compañía.</p>
      </div>
    </div>
  </div>
</section>

<section class="u-bg-gray-light py-5 px-4 p-md-5 py-lg-7 mb-5  mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <p class="mb-md-6 c-title--big">Tuvimos que desarrollar todo el proyecto con estricta adherencia a las normas y con procedimientos de desarrollo seguro.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-2 offset-lg-1">
        <h5 class="c-title--pre mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">DKV Seguros</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UX</li>
          <li class="u-list-none mb-0">Storytelling</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Diseño
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UI</li>
          <li class="u-list-none mb-0">Diseño web</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Drupal</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Web
        </h5>
         <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="https://dkvseguros.com/" target="_blank">DKV Seguros</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="contenedor-secciones mb-md-6">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/DKV-desafio.jpg" class="lazyloaded" alt="DKV" src="/assets/images/proyectos/DKV-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-5 col-lg-4 col-xl-3">
        <div class="pt-md-2 pt-xl-5">
          <h3>El desafío</h3>
          <p>La migración debía realizarse sin que hubiera discontinuidad en el servicio ni cambios aparentes para los usuarios de dichos portales, más allá de los que la diferencia de plataforma técnica podía obligar.</p>
          <p>Dentro del proyecto se incluía, además, el diseño de toda la infraestructura técnica, la instalación y configuración de todos los módulos y componentes necesarios en los sistemas de DKV.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class=" mb-5 mb-md-5 mb-lg-5">
  <div class="container c-bg-pattern__left">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/DKV-enfoque.jpg" class="lazyloaded u-img-fluid" alt="DKV"  src="/assets/images/proyectos/DKV-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="pt-md-2 pt-xl-5">Nuestro enfoque</h3>
        <p>Con esta premisa, decidimos desarrollar un gran proyecto de <strong>gestión de contenidos</strong>. Construimos una herramienta en la que las claves estaban en la autonomía del editor/administrador para modificar cuantos más elementos sea posible sobre el propio CMS. Prestamos especial atención a la gestión de archivos multimedia, así como la gestión de usuarios, permisos y workflows de edición de contenidos.</p>
      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
    <div class="row">
      <div class="col-md-12  col-xl-10 offset-xl-1">
        <p class="c-title--big mb-md-6 mb-lg-7">
         Conseguimos una gestión de contenidos flexible y modular, que permitía al editor independencia y capacidad de estructurar las páginas directamente en el CMS.
        </p>
      </div>
    </div>
      <div class="row mb-lg-5 mb-xl-0">
        <div class="col-md-12 col-lg-6 col-xl-3 offset-xl-1">
          <div class="d-flex flex-column">
            <h3 class="mt-3">
              Producto final
            </h3>
            <p>
           Como tenía un foco técnico muy importante, la construcción estuvo a cargo de <strong>desarrolladores senior</strong>, que además de atesorar una importante experiencia en Drupal han participado en desarrollos tecnológicos complejos de integración con sistemas externos como SAP o Salesforce.
            </p>
          <p>También se logró una <srtong>flexibilidad infinita</strong>, construyendo un sistema de gestión de contenidos y portadas totalmente modular, de tal manera que los editores tienen flexibilidad a la hora de componer gráficamente todos los contenidos finales.</p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/DKV-producto-final-1.png" class="lazyloaded u-img-fluid" alt="DKV producto final" src="/assets/images/proyectos/DKV-producto-final-1.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="pt-lg-0 pt-xl-6  pb-lg-0">
            <img data-src="/assets/images/proyectos/DKV-producto-final-2.jpg" class="lazyloaded u-img-fluid" alt="DKV producto final" src="/assets/images/proyectos/DKV-producto-final-2.jpg">
          </div>
        </div>
        <div class="c-bg-pattern col-md-12 col-lg-6  mb-xl-6 d-flex">
          <div class="d-flex">
            <div class="d-flex  align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <p class="mb-2">
                    <strong>Para saber más:</strong>
                  </p>
                  <a href="https://dkvseguros.com/" target="_blank">
                    <span class="c-link-especial">
                      Visita la web de DKV Seguros
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12  col-xl-10 offset-xl-1 mb-3">
        <p class="c-title--big mb-md-6">
          Para construir un proyecto de estas características tuvimos que recurrir a estas herramientas:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="c-title-large">
              Drupal
            </h4>
            <p>
            Como contenedor y gestor de contenidos unificados (carta de productos y web)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="c-texto--center">
          <h3 class="c-title--big mb-4">
            ¿Tienes alguna <strong>duda</strong> sobre este <strong>proyecto?</strong> <br>¿Te gustaría ver otros similares?
          </h3>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}
