{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<section class="c-hero p-proyecto__hero contenedor-secciones-hero">
  <div class="c-grid-image--right">
    <img data-src="/assets/images/proyectos/ecircular-cabecera.jpg" class="lazyload" alt="Grupo de niños" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7">
        <h1 class="c-title--pre text-uppercase mt-3 mt-md-4 mb-0">Junta Castilla-La Mancha</h1>
        <h2 class="h-extrahuge">Protagonizar<strong> <br>el cambio </strong></h2>
        <p class="c-title--sub">(hacia un mundo sostenible)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-6">
        <p>La economía circular es uno de los grandes temas del momento, clave para <strong>garantizar la sostenibilidad</strong> de nuestro entorno. <strong>La Junta de Castilla-La Mancha</strong> quería acercar este concepto a la ciudadanía de una manera visual, didáctica y lo más atractiva posible. 
Una gran oportunidad para Biko que quisimos aprovechar desplegando toda nuestra creatividad y capacidad técnica, para diseñar una <strong>propuesta diferente</strong>. Y tú, ¿cuánto sabes de Economía Circular? </p>
      </div>
    </div>
  </div>
</section>
<section class="u-bg-gray-light py-5 px-4 p-md-5 py-lg-7 mb-5  mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <p class="mb-md-6 c-title--big">Una nueva web basada en un storytelling y una narrativa muy trabajados. Con un <strong>diseño atrevido</strong> a partir de recursos gráficos desenfadados y dinámicos. 
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-2 offset-lg-1">
        <h5 class="c-title--pre mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Junta Castilla-La Mancha</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UX </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Diseño
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UI</li>
          <li class="u-list-none mb-0">Storytelling</li>
           <li class="u-list-none mb-0">Diseño Web </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Drupal8</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Web
        </h5>
         <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="https://economia-circular.castillalamancha.es/" target="_blank">Economía Circular</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="contenedor-secciones">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/economia-circular-4-desafio.jpg" class="lazyloaded" alt="Persona consultando Becas para Ella en la web de Educo" src="/assets/images/proyectos/economia-circular-4-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-5 col-lg-4 col-xl-3">
        <div class="pt-md-2 pt-xl-5">
          <h3>El desafío</h3>
          <p>El reto fue transmitir y comunicar la problemática actual de manera cercana y fresca, además de acercar la <strong>Economía Circular </strong> a tres agentes distintos: empresas, administraciones y ciudadanos, para lo que creamos un hilo conductor basado en datos,  <strong>ilustraciones </strong> y recursos gráficos, que facilitaba la navegación a través de toda la web. </p>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
  
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/economia-circular-historia.gif" class="lazyloaded u-img-fluid" alt="Pantalla móvil con una cita sobre la sección de apadrinamiento"  src="/assets/images/proyectos/economia-circular-historia.gif">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="pt-md-2 pt-xl-5">Nuestro enfoque</h3>
        <p>Biko lideró el proceso de trabajo, desde el concepto y el diseño hasta el <strong>desarrollo tecnológico completo </strong> implementando todas las funcionalidades. Dentro de la web creamos una experiencia que llamamos “La historia” y que basamos en una  <strong>navegación horizontal </strong> a partir de un conjunto de elementos animados. 
        </p>
      </div>
    </div>
  </div>
</section>
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <p class="mb-6 mb-md-6 mb-lg-6 mb-xl-8  c-title--big"> Puro optimismo, gracias a un diseño con navegación horizontal y recursos animados.
        </p>
      </div>
      <div class="row mb-lg-5 mb-xl-0">
    </div>
        <div class="col-md-12 col-lg-6 col-xl-3 offset-xl-1">
          <div class="d-flex flex-column">
            <h3>
              Producto final
            </h3>
            <p>Una web con grafismo muy cuidado, fruto de una colaboración con el Área de Desarrollo Sostenible, y un storytelling basado en infografías y el trabajo de ilustración de nuestro equipo creativo. Hemos conseguido que el producto sea un <strong><i>site</i> de referencia</strong> donde informarse sobre la Economía Circular, independientemente del perfil que tenga el usuario. </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/ecircular-producto-final-2.jpg" class="lazyloaded u-img-fluid" alt="Pantalla móvil de la página de la Educo sobre las donaciones para las becas de comedor" src="/assets/images/proyectos/ecircular-producto-final-2.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="pt-lg-0 pt-xl-6  pb-lg-0">
            <img data-src="/assets/images/proyectos/ecircular-producto-final-2-22.jpg" class="lazyloaded u-img-fluid" alt="Pantalla de la página de la Escuela Superior de Música Reina Sofía" src="/assets/images/proyectos/ecircular-producto-final-2-22.jpg">
          </div>
        </div>
        <div class="col-md-12 col-lg-6  mb-xl-6 d-flex c-bg-pattern c-bg-pattern__rigth">
          <div class="d-flex">
            <div class="d-flex  align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <p class="mb-2">
                    <strong>Para saber más:</strong>
                  </p>
                     <a href="https://economia-circular.castillalamancha.es/" target="_blank">
                    <span class="c-link-especial">
                      Economía Circular en Castilla-La mancha
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12  col-xl-10 offset-xl-1 mb-3">
        <p class="c-title--big mb-md-6">
          Para construir un proyecto de estas características tuvimos que recurrir a:
        </p>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="c-title-large">
              Drupal
            </h4>
            <p>
            Como gestor de contenidos, que permite una estructura modulable y fluida. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="c-texto--center">
          <h3 class="c-title--big mb-4">
            ¿Tienes alguna <strong>duda</strong> sobre este <strong>proyecto?</strong> <br>¿Te gustaría ver otros similares?
          </h3>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}
{% endblock %}
