{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<section id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--helvetia-suiza text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-helvetia-g.svg" class="mb-3" alt="Logotipo SEGUROS HELVETIA SUIZA" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">SEGUROS HELVETIA SUIZA</p>-->
          <h1 class="title-hero mb-3">
          Contratar tranquilidad de manera sencilla
          </h1>
          <p class="font-secondary text-2xl text-lg-3xl color-red-middle mb-5">(sin importar cómo ni dónde)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10">
              <p class="text-md-2xl line-md-2xl">
               La división de Speciality Lines de Helvetia Suiza ofrece pólizas de seguros especializadas para empresas y quería ser pionera en su país ofreciendo la <strong>contratación online de su producto de seguro</strong> de responsabilidad para pequeños transportistas. Todo un reto. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque datos-->
<section class="bg-gray-extralight py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Seguros Helvetia Suiza</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">Storytelling</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">Diseño Web</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">React <span class="color-red">+</span> Spring Boot <span class="color-red">+</span> OpenShift</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://www.helvetia.com/ch/clo/app/calculator/vehicles" target="_blank">Carriers Liability</a></div>
          </div>

      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla-->
<section class="py-5 py-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Conseguimos desarrollar una <strong>experiencia de navegación fuida</strong> y totalmente <strong>responsive</strong>, con la dificultad añadida de condensar varios pasos de un cotizador de manera <strong>ágil y amena</strong>.</p>
      </div>
    </div>
  </div>
</section>

<!--Bloque El Desafio-->
<section id="desafio" class="contenedor-secciones mb-4 mb-md-5 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title-6xl mb-4">El desafío</h3>
        <p>
          El reto principal consistió en pensar como dar <strong>soporte bajo una misma herramienta a cliente final, agentes propios y mediadores</strong> optimizando el flujo de gestión de ofertas y contratación.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img data-src="/assets/images/proyectos/helvetia-suiza/helvetia-suiza1.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Imagen de persona navegando por movil" />
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
        <img data-src="/assets/images/proyectos/helvetia-suiza/helvetia-suiza2.svg"
          class="lazyload w-100 mb-3 mb-md-0"
          alt="Logotipo de Helvetia Suiza" />
        <img data-src="/assets/images/proyectos/helvetia-suiza/helvetia-suiza3.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Imagen de una mano al volante" />
      </div>
    </div>
  </div>
</section>

<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/helvetia-2-enfoque" class="lazyloaded u-img-fluid" alt="Seguros Helvetia Suiza" src="/assets/images/proyectos/helvetia-2-enfoque.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>
            En tan solo 4 meses, diseñamos, construimos e integramos con sus sistemas una solución a medida, que incluye un cotizador de seguro, mecanismo de “salvar & recuperar ofertas”, solicitud de contratación online y aplicación para cotización, seguimiento de ofertas y contratación para agentes y mediadores.
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<section class="mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10">
        <p class="title-slim-6xl u-strong-red">
         Conseguimos desarrollar una <strong>experiencia de navegación fuida</strong> y totalmente <strong>responsive</strong>, con la dificultad añadida de condensar varios pasos de un cotizador de manera <strong>ágil y amena</strong>.
        </p>
      </div>
    </div>
  </div>
</section>-->

<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
        <p class="title-slim-6xl u-strong-red mb-md-6">
          Para <strong>optimizar el proceso y alcanzar los objetivos</strong> del proyecto hemos trabajado con:
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
            <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div class="mb-3 mb-lg-0">
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              React
            </h4>
            <p>
              Apostamos por React por la estabilidad y la versatilidad que proporciona frente a otros frameworks.
            </p>
          </div>
        </div>
      </div>
      <div class="ol-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
                  {{svgSprite('openshift')}}
          </div>
          <div>
           <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              OpenShift
           </h4>
             <p>
               Toda la solución está desplegada sobre infraestructura PaaS basada en contenedores y orquestada por RedHat OpenShift.
             </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-6">
        <div class="d-flex">
           <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('springboot')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              Spring Boot
            </h4>
            <p>
              Seleccionamos Java y el framework Spring Boot por su robustez, seguridad y alta flexibilidad que ofrece para desarrollar API’s de soporte al front-end React, al tiempo que garantiza una integración sin fricciones con los sistemas corporativos de contratación Helvetia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p class="mb-4 mb-md-5 mb-lg-0">
            Así, logramos simplificar en unos pocos pasos y de forma sencilla la solicitud de precio del seguro de transportes. Y además, construimos una solución que puede ser reutilizada para implementar nuevas calculadoras para otros productos de manera muy ágil. Una misma solución tanto para la red de agentes, como para el B2B. Todo en uno.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/helvetia-2-producto-final-1" class="lazyloaded u-img-fluid" alt="Seguros Helvetia Suiza" src="/assets/images/proyectos/helvetia-2-producto-final-1.png">
      </div>
    </div>
  </div>
</section>

<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-md-2xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://www.helvetia.com/ch/clo/app/calculator/vehicles" target="_blank"><span class="c-link"> la web de Carriers Liability</span></a></p>
      </div>
    </div>
  </div>
</section>
{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
