{# ----- OPEN BANK ----- #}
{% extends "@layouts/page-clean.twig" %}
{% block page %}

<!--<div class="bg-b rellax" data-rellax-speed="-5"></div>-->
<div class="bg-b-proyecto rellax" data-rellax-speed="-9"></div>

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--openbank text-left">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10">
          <img src="/assets/images/proyectos/logos/fichas/logo-openbank.svg" class="mb-3" alt="Logotipo Open Bank" />
          <h1 class="title-hero mb-4">
          Forjar el frontal de un neobanco, o cómo reducir la complejidad
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(decir adiós a lo anterior nunca fue fácil) </p>
        </div>
        <div class="col-12 col-md-10">
          <p class="text-md-2xl line-md-2xl">
           Openbank, el neobanco del Grupo Santander, ha querido dar un nuevo paso y potenciar su web, apostando por nuestro modelo de gestión de contenidos moderna, para llegar a nuevos mercados, facilitar la navegación a sus clientes y que puedan tener una experiencia completa. Un cambio de gran envergadura y profunda evolución, que dice adiós a lo anterior, en el que Biko está orgullosa de acompañarles.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>

<!--Bloque entradilla-->
<section class="mb-4 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Realizar una <strong>migración técnica</strong> a la vanguardia, para garantizar la <strong>seguridad</strong> y <strong>escalabilidad</strong> de las webs públicas del banco digital <strong>más grande</strong> de Europa.</p>
      </div>
    </div>
  </div>
</section>

<!--Bloque datos-->
<section class="mb-4 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Openbank</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">Estrategia de desarrollo de frontend</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">Nuevo sistema de componentes</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Drupal <span class="color-red">+</span> React <span class="color-red">+</span> Gatsby <span class="color-red">=</span> Jamstack</div>
          </div>
      </div>
    </div>
  </div>
</section>
<!--Separador-->
<div class="c-separator--line c-separator--line__horizontal"><hr /></div>
<!--Bloque El Desafio-->
<section class="mb-4 mb-md-5">
  <div class="container mb-5">
    <div class="row">
      <div class="col-12">
        <h3 class="title-6xl mb-4">El Desafío</h3>
        <p class="font-secondary text-3xl color-red mb-4 mb-md-5">(aquí pondría una frase plus)</p>
        <p class="text-xl text-lg-2xl line-xl mb-5">Dotar a Openbank de <strong>un modelo tecnológico robusto, escalable y seguro</strong>. Conquistando con ello la estabilidad, eficacia y autonomía necesarias:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-6 pr-2 pr-lg-6 mb-4">
            <h4 class="title-2xl decoration-red pt-2 mb-3">La importancia de minimizar</h4>
            <p>En un <strong>nivel operativo</strong>, a la hora de editar y desplegar nuevo contenido de líneas de producto y servicios, minimizando así los tiempos de despliegue y posibles errores.
            </p>
          </div>
          <div class="col-md-6 pr-2 pr-lg-6 mb-md-4">
            <h4 class="title-2xl decoration-red pt-2 mb-3">Nueva herramienta de negocio</h4>
            <p>A un <strong>nivel estratégico</strong>, garantizando que cada país puede utilizar esta nueva plataforma como una herramienta de negocio para captar nuevos clientes y atender mejor sus necesidades.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-6 pr-2 pr-lg-6 mb-4">
            <h4 class="title-2xl decoration-red pt-2 mb-3">Modelo extensible</h4>
            <p>Un modelo que puedan extender progresivamente a <strong>todos los mercados</strong> donde están presentes en Europa y América Latina.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Nuestro Enfoque-->
<section class="mb-4 mb-md-5">
  <div class="container mb-5">
    <div class="row">
      <div class="col-12">
        <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
        <p class="font-secondary text-3xl color-red mb-4 mb-md-5">(aquí pondría una frase plus)</p>
        <p class="text-xl text-lg-2xl line-xl">
        Un cambio de gran envergadura, para adoptar los beneficios de migrar a un modelo desacoplado (jamstack), de páginas estáticas, sin servidores en el frontend, pero con la potencia de Drupal para la gestión de contenidos. </p>
        <p class="text-xl text-lg-2xl line-xl mb-5">
        Una migración técnica a nuestro modelo, <strong>sin paralizar las operaciones y sistemas existentes</strong>, para garantizar la seguridad y escalabilidad de las webs públicas de Openbank.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-12 mb-4">
            <h4 class="title-2xl decoration-red pt-2 mb-3">Decir adiós a las antiguas arquitecturas</h4>
            <section class="bg-gray-light py-3 px-3 px-md-5 py-md-5 mb-4">
              <div class="container bg-white p-4 p-md-5">
                <h5 class="title-2xl mb-3">¿Cómo funciona nuestro modelo?</h5>
                <p class="mb-5">En el preciso instante que accedes a una página, en una antigua arquitectura necesitamos usar tres tipos de servidores:</p>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-4">
                        <p class="title-2xl decoration-red pt-2 mb-2">Servidores web</p>
                        <p class="text-base line-base">Gestionan las peticiones de ficheros e intermedian con el resto de servidores.</p>
                      </div>
                      <div class="col-4">
                        <p class="title-2xl decoration-red pt-2 mb-2">De aplicaciones</p>
                        <p class="text-base line-base">Generan la página dinámicamente, ejecutando código como PHP. </p>
                      </div>
                      <div class="col-4">
                        <p class="title-2xl decoration-red pt-2 mb-2">De base de datos</p>
                        <p class="text-base line-base mb-3 mb-md-5">Donde se aloja el contenido que usa tu aplicación para generar la página.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="mb-5">En los modelos acoplados, un mayor tráfico equivale a un mayor uso de la totalidad de la arquitectura, una redundancia innecesaria que hace aumentar desarrollos, mantenimientos, costes y potenciales problemas. En cambio, con un modelo desacoplado, acceder a una página, se puede simplificar incluso eliminar servidores (mediante CDN) / no requiere servidores salvo el CDN: no requiere de servidores de ningún tipo:</p>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-4">
                        <p class="title-2xl decoration-red pt-2 mb-2">Es Serverless</p>
                        <p class="text-base line-base">No se consultan bases de datos, ni se ejecutan procesos como PHP que necesitan servidores, desde el frontend. </p>
                      </div>
                      <div class="col-4">
                        <p class="title-2xl decoration-red pt-2 mb-2">Estatificación</p>
                        <p class="text-base line-base">No se generan páginas in situ, de forma dinámica. Las páginas son ficheros planos pregenerados, o estáticos, que están alojadas en un CDN. </p>
                      </div>
                      <div class="col-4">
                        <p class="title-2xl decoration-red pt-2 mb-2">Desacopla y separa responsabilidades</p>
                        <p class="text-base line-base mb-3 mb-md-5">Es decir, separamos el backend, del frontend, este último es la capa expuesta al usuario y a internet. Toda necesidad de funcionalidad extra es suministrada por conexiones a API’s que se ciñen a su responsabilidad.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="mb-5">De este modo, obtenemos un backend aislado de internet, sin las dependencias del tráfico de la web, reservado exclusivamente para generar y editar contenido, en su mínima expresión funcional pero con la máxima potencia de Drupal.</p>
                <p class="bg-gray-light py-3 px-3 px-md-5 py-md-5 text-xl text-lg-2xl line-xl mb-5">Poder apagar tu servidor durante los fines de semana, que no afecte de ninguna manera a tu web y clientes. La innovación suena revolucionaria.</p>
                <h5 class="title-2xl mb-3">Dar el paso, decir adiós a las antiguas arquitecturas</h5>
                <p>Hacer más con menos es la belleza buscada habitualmente por los mejores arquitectos, ingenieros y diseñadores. </p>
                <p>
                Las infraestructuras tecnológicamente sobredimensionadas son comunes en nuestros días, efecto de una complejidad acumulada que hemos normalizado, pero que hoy se puede subsanar.</p>
                <p class="mb-5">
                Tomar la decisión de liberarse de esa pesada carga, casi estándar en la industria, puede ser vista como una decisión radical y a contracorriente, aun siendo crucial. Por eso podemos decir que:</p>
                <p class="bg-gray-light py-3 px-3 px-md-5 py-md-5 text-xl text-lg-2xl line-xl mb-5">Una arquitectura desacoplada envidiable nace de saber deshacerse de lo que en su día sirvió, pero hoy es innecesario.</p>
                <p>Dar ese paso inteligente, contra la inercia, es ser vanguardia.</p>
              </div>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-2 pr-lg-6 mb-4">
            <h4 class="title-2xl decoration-red pt-2 mb-3">Adoptar la vanguardia tecnológica es sinónimo de ahorro</h4>
            <p>Uno de los beneficios más claros de deshacerse de elementos y acoplamientos innecesarios es el ahorro, velocidad y robustez. Esto se traduce en menor uso y mantenimiento de servidores, cargas de una página un 63% más rápidas y mejoras de performance puntuales bajando de 1.320 a  123 milésimas de segundo, consiguiendo además un posicionamiento SEO totalmente orgánico y un site casi inexpugnable. </p>
          </div>
          <div class="col-md-6 pr-2 pr-lg-6 mb-md-4">
            <h4 class="title-2xl decoration-red pt-2 mb-3">La cámara acorazada de un neobanco</h4>
            <p>Separar sistemas facilita no comprometer aquellos que son críticos, con el resto de la infraestructura completa, encontrándonos a salvo de dependencias innecesarias y riesgos tecnológicos. </p>
            <p>
            Este modelo nos permite construir una web que funciona completamente con ficheros estáticos, sin servidores en el frontend, ni conexiones innecesarias a bases de datos.</p>
            <p>
            Por ello, podemos obtener la seguridad de un bastión blindado, siendo prácticamente imposible sufrir un ataque.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-2 pr-lg-6 mb-4">
            <h4 class="title-2xl decoration-red pt-2 mb-3">Un sistema de componentes para reorganizarlos a todos
            </h4>
            <p>Hemos unificado y reorganizado la estructura de contenidos y operativa gracias a un nuevo sistema de componentes basado en el sistema de diseño de Openbank, para obtener unos procesos editoriales claros, bellos y eficaces.</p>
            <p>
            Hemos conseguido reducir la complejidad también aquí, permitiendo todo flujo de negocio posible hoy y mañana.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="mb-4 mb-md-5">
  <div class="container mb-5">
    <div class="row">
      <div class="col-12 mb-4 mb-md-5">
        <p class="title-slim-6xl u-strong-red"><strong>Hemos incluido herramientas en la propia gestión de contenidos</strong> que permiten la máxima personalización en función de los dispositivos de los usuarios.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-6 pr-2 pr-lg-6 mb-4">
            <div class="d-flex">
              <div class="mr-4 c-icon--large c-icon--red">
                {{svgSprite('drupal')}}
              </div>
              <div>
                <h4 class="title-2xl decoration-red pt-2 mb-3">
                  Drupal
                </h4>
                <p>
                  Un líder en la gestión de contenidos que controlamos a la perfección, pero utilizándolo como CMS desacoplado. Para editar fácilmente el contenido, haciéndolo modular y fluido, e integrado con el resto de aplicaciones.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 pr-2 pr-lg-6 mb-md-4">
            <div class="d-flex">
              <div class="mr-4 c-icon--large c-icon--red">
                {{svgSprite('spa-react')}}
              </div>
              <div>
                <h4 class="title-2xl decoration-red pt-2 mb-3">
                  React
                </h4>
                <p>
                Para el desarrollo modular de componentes y su fácil reutilización en distintas secciones de la web pública, todo esto acompañado de nuestro expertise en React y buenas prácticas.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-2 pr-lg-6 mb-4">
            <div class="d-flex">
              <div class="mr-4 c-icon--large c-icon--red">
                {{svgSprite('spa-react')}}
              </div>
              <div>
                <h4 class="title-2xl decoration-red pt-2 mb-3">
                  Gatsby
                </h4>
                <p>
                El pegamento, la unión de los dos mundos, juntamos la potencia de Drupal y React para conseguir páginas estáticas, superrápidas y superseguras.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque El resultado-->
<section class="mb-4 mb-md-5">
  <div class="container mb-5">
    <div class="row">
      <div class="col-12">
        <h3 class="title-6xl mb-4">El Resultado</h3>
        <p class="font-secondary text-3xl color-red mb-4 mb-md-5">(aquí pondría una frase plus)</p>
        <p class="text-xl text-lg-2xl line-xl mb-5">Gracias a la ligereza, robustez y velocidad que permite una arquitectura serverless bajo un modelo desacoplado, hemos conseguido dos cosas en los flujos de negocio y operaciones editoriales: </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-6 pr-2 pr-lg-6 mb-4">
          <h4 class="title-2xl decoration-red pt-2 mb-3">Mayor agilidad y un <i>TimeToMarket</i> menor
          </h4>
            <p>Al reducir tiempos editoriales y sin desarrollo. </p>
          </div>
          <div class="col-md-6 pr-2 pr-lg-6 mb-md-4">
          <h4 class="title-2xl decoration-red pt-2 mb-3">Confianza y autonomía
          </h4>
            <p>Al desprenderse de dependencias y riesgos tecnológicos. De esta manera, ganamos la estabilidad, autonomía y seguridad necesarias para un neobanco.  </p>
          </div>
        </div>

        <p class="text-xl text-lg-2xl line-xl mb-5">En definitiva, una gestión de contenidos moderna que permite una operativa editorial con autonomía y plena confianza, porque tienes la máxima seguridad.</p>
      </div>

    </div>
  </div>
</section>

{% include "@base/proyectos/contacto-proyectos.twig" %}
<section class="py-5 py-md-7 bg-gray-extralight">
  {# Action insights #}
  {% include "@base/bitween/insights-gift.twig" %}
</section>
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}
{% include "@includes/site-footer.twig" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>
<script>var rellax = new Rellax('.rellax');</script>

{% endblock %}
