  <section id="importante" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-3">¿Qué consideramos necesario para optar al puesto?</h2>
          <p class="font-secondary text-xl text-lg-2xl color-red mb-5">
            (sabemos que cumplir todos los requisitos es complicado pero nos gustaría...)
          </p>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas <strong>experiencia gestionando proyectos</strong> digitales, tanto en mobile como web. Y trabajando con equipos de desarrollo de software.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas una buena <strong>base tecnológica</strong>, que te permita entender el enfoque técnico, los retos asociados y los riesgos que nos podemos encontrar. </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-lg-0">Que conozcas <strong><em>agile</em></strong> y sientas que va con tu forma de abordar los problemas. </p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que te guste <strong>trabajar en equipo</strong>. Ya hemos hablado de que los equipos son la unidad básica de trabajo en Biko, pero va incluso más allá. Nos gusta hacer las cosas juntos, remando en una dirección común. En el día a día de los proyectos y en cómo nos organizamos.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que <strong>entenderte</strong> con los demás y <strong>hacerte entender</strong> sea uno de tus puntos fuertes. Que seas capaz de buscar y proponer soluciones a cualquiera de los problemas que surjan en el día a día.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-0">Que para ti, tener que <strong>aprender</strong> cosas nuevas constantemente no es un peaje a pagar, sino uno de los motivos por los que te gusta este trabajo.</p>
            </div>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">La lista de los deseos</span>
          </div>
        </div>
      </div>
    </div>
  </section>