  <section id="importante" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Qué pedimos?</h2>
          <h3 class="title-4xl mb-3">Esto nos parece importante</h3>
          <p class="font-secondary text-xl text-lg-2xl color-red mb-5">
            (sabemos que cumplir todos los requisitos es complicado pero nos gustaría...)
          </p>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas <strong>cierta experiencia</strong> ya <strong>gestionando proyectos</strong>, si son digitales, mejor.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que conozcas <strong>agile</strong> y sientas que va con tu forma de abordar los problemas. </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-lg-0">Que para ti, tener que <strong>aprender cosas nuevas</strong> constantemente no es un peaje a pagar, sino uno de los motivos por los que te gusta este trabajo.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que te guste <strong>trabajar en equipo</strong>. Ya hemos hablado de que los equipos son la unidad básica de trabajo en Biko, pero va incluso más allá. Nos gusta hacer las cosas juntos, remando en una dirección común. En el día a día de los proyectos y en cómo nos organizamos.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-0">Que <strong>entenderte</strong> con los demás y <strong>hacerte entender</strong> sea uno de tus puntos fuertes.</p>
            </div>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">La lista de los deseos</span>
          </div>
        </div>
      </div>
    </div>
  </section>