{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="p-oferta-hero">

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-7">
      <h1 class="title-hero mb-3 text-center">Product owner (o algo parecido)</h1>
      <p class="font-secondary text-3xl color-red text-center mb-4 mb-md-5">Pamplona o remoto</p>
      <p class="text-2xl">Si estás buscando un cambio de aires, un puesto que se adapte más a ti o un reto profesional, sigue leyendo.</p>
      <p class="text-2xl">Estamos buscando nuevas incorporaciones a la familia bikoniana. En concreto, un <strong>“product owner de Biko”</strong>. No es un product owner de libro, tampoco un product manager clásico ni un scrum master, aunque tiene cosas de esos 3 perfiles. Sigue leyendo y lo entenderás mejor (o eso esperamos).</p>
      <p class="text-2xl mb-5">¿Crees que es algo que puede cuadrar contigo? ¡Genial! Entonces te contamos quiénes somos 🙂</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5 mb-md-7 bg-red-extralight py-3 pr-3 pl-3 py-md-5 pr-md-5 pl-md-5">
      <p>Somos una empresa joven de espíritu, pero con muchos años de rodaje. Llevamos <strong>más de 20 años</strong> en el sector digital.</p>
      <p>Como a todo el mundo, a veces nos cuesta definirnos, pero de lo que tenemos certeza es de que hacemos <strong>grandes proyectos digitales</strong>. Si de algo podemos presumir es de ser <strong>un equipo súper diverso y multidisciplinar:</strong> contamos con personas centradas en desarrollo, maquetación, consultoría de negocio, consultoría de UX, diseño UI, <em>marketing</em>, periodismo, formación...</p>
      <p>Abrazamos el <strong>trabajo en remoto </strong>pero también damos la <strong>posibilidad de trabajar en una oficina abierta y bastante líquida</strong>. Buscamos personas que quieran desarrollarse profesionalmente con nosotros y no solo para desarrollar un proyecto concreto. De hecho, contamos con grupos de trabajo sobre cuestiones específicas de formación en desarrollo, UX/UI, etc. o planes de idiomas.</p>
      <p>Si aún no conoces Biko, has de saber que <a class="c-link" href="/open-space/" target="_blank">el Open</a> es nuestro evento por excelencia, pero tenemos otros tantos saraos que casi es mejor que te contemos en persona.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <h2 class="title-5xl mb-3">¿Qué harás?</h2>
      <p class="mb-5">Te unirás a uno de nuestros equipos, en concreto a uno formado por 6 personas que trabaja en el ámbito museístico. Llevamos muchos años dando forma a los sitios web de museos top y tenemos entre manos retos muy interesantes este mismo año.</p>
      <p class="mb-5">En Biko la célula básica de funcionamiento son los equipos. Y dentro de ellos el rol de Product Owner recoge la <strong>responsabilidad de que los proyectos estén controlados</strong>, y que todas las personas involucradas (del equipo, del cliente, del resto de Biko) estén en la misma página.</p>
      <p class="mb-5">Nos gusta abordar los <strong>proyectos en equipo, de verdad</strong>. Con perfiles multidisciplinares, sin jerarquías innecesarias, y con la ambición de hacer las cosas muy bien.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <h3 class="title-3xl mb-3 decoration-red pt-2">En 1 mes...</h3>
      <p>Te habremos recibido con los brazos abiertos y ¡aterrizarás en el equipo! Conocerás a todas las personas que forman parte del equipo así como a las personas externas que trabajan con nosotros en el proyecto.</p>
      <p>Habrás completado tu onboarding en Biko y en tu equipo ayudado por un mentor y tendrás ya un conocimiento general del equipo y de los proyectos en los que te tocará trabajar.</p>
      <p>Entenderás cuál es el flujo de trabajo en cada uno de ellos, qué metodología y dinámicas se siguen, qué herramientas de gestión utilizamos... en definitiva, empezarás a tener una foto global del equipo y de los diferentes proyectos.</p>
    </div>
    <div class="col-md-10 offset-md-1 mb-5">
      <h3 class="title-3xl mb-3 decoration-red pt-2">En 3 meses...</h3>
      <p>¡Empezarás a volar por libre!</p>
      <p>Tendrás el conocimiento suficiente para poder interlocutar en el día a día con el cliente y serás ya la persona de referencia del proyecto en cuanto a gestión. Eso sí, el resto del equipo y de la organización seguirá dándote el apoyo constante que aún necesitarás.</p>
    </div>
    <div class="col-md-10 offset-md-1 mb-5">
      <h3 class="title-3xl mb-3 decoration-red pt-2">En 6 meses...</h3>
      <p>Te sentirás cómodo en el puesto y serás el responsable de la gestión del proyecto. Tu responsabilidad más importante será controlar el proyecto en cuanto a saber cómo vamos en cada momento, hacia dónde vamos y qué opciones y riesgos se avecinan. Igual de relevante será saber comunicar todo ello al cliente, la organización y el equipo.</p>
      <p>Otras responsabilidades menores serán:</p>
      <ul class="mb-5">
        <li>Gestión económica-financiera del proyecto.</li>
        <li>Facilitar relación del equipo con la organización.</li>
        <li>Establecer procesos de trabajo.</li>
      </ul>

      <p>Creemos que las personas son lo más valioso para conseguir soluciones excelentes. Por eso, será también importante la labor que puedas tener ayudando en la formación/evolución/maduración de las personas que tendrás alrededor. Y por supuesto, también en tu propia evolución para seguir creciendo mediante charlas, talleres, <em>open spaces</em>, etc.</p>

    </div>
  </div>


  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-5">¿Qué consideramos necesario para optar al puesto?</h2>
        <p class="mb-5">Sabemos que cumplir todos los requisitos es complicado pero nos gustaría …</p>
        <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="decoration-red pt-2 mb-5">Que tengas <strong>cierta experiencia</strong> ya <strong>gestionando proyectos</strong>, si son digitales, mejor.</p>
          <p class="decoration-red pt-2 mb-5">Que conozcas <strong>agile</strong> y sientas que va con tu forma de abordar los problemas. </p>
          <p class="decoration-red pt-2 mb-5">Que para ti, tener que <strong>aprender cosas nuevas</strong> constantemente no es un peaje a pagar, sino uno de los motivos por los que te gusta este trabajo.</p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="decoration-red pt-2 mb-5">Que te guste <strong>trabajar en equipo</strong>. Ya hemos hablado de que los equipos son la unidad básica de trabajo en Biko, pero va incluso más allá. Nos gusta hacer las cosas juntos, remando en una dirección común. En el día a día de los proyectos y en cómo nos organizamos.</p>
          <p class="decoration-red pt-2 mb-5">Que entenderte con los demás y hacerte entender sea uno de tus puntos fuertes.</p>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-5">¿Y qué sería TOP?</h2>
        <p class="mb-5">Un perfil como el que hemos descrito hasta ahora es por definición generalista. Pero si sumas un conocimiento profundo en alguno de los campos fundamentales que tiene un proyecto como los que hacemos, serás capaz de aportar aún más. Estamos pensando en los siguientes:</p>
        <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="decoration-red pt-2 mb-5">Que tengas un conocimiento profundo de <strong>agile</strong>. No hablamos simplemente de conocer los métodos o haberlos usado alguna vez, sino de entender a fondo por qué las cosas se hacen como se hacen, que puedas explicarlo cuando surge la necesidad y convencer a los demás de que la vía ágil ofrece las soluciones que necesitamos.</p>
          <p class="decoration-red pt-2 mb-5">Que domines el <strong>diseño de experiencia de usuario</strong> (UX). Saber centrarte en quién va a usar un producto digital, dominar los métodos que se usan y los principios que guían esta disciplina.</p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="decoration-red pt-2 mb-5">Que tengas una sólida <strong>base tecnológica</strong>, que te permita entender el enfoque técnico, los retos asociados y los riesgos que nos podemos encontrar.</p>
          <p class="decoration-red pt-2 mb-5">Que hayas profundizado en el <strong>desarrollo de producto</strong>, una disciplina en sí misma, aunque a menudo infravalorada o incluso invisible. Porque desarrollar un producto es difícil.</p>
          <p class="decoration-red pt-2 mb-5">Que seas capaz de redactar <strong>historias de usuario</strong>, que ayuden al equipo a comprender las necesidades de los usuarios finales y a priorizar entre todas las soluciones posibles.</p>
        </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <h2 class="title-5xl mb-3">¿Dónde trabajarás?</h2>
      <p>La sede principal de la empresa está en Pamplona pero tenemos personas trabajando de manera remota desde diferentes partes de España.</p>
      <p class="mb-5">Podrás trabajar desde casa o acudir a las oficinas siempre que lo desees. Confiamos en que cada uno sabe cuándo y desde dónde es más productivo. Eso sí, si decides venir, ¡estaremos encantados de recibirte y llevarte de juevintxo!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <h2 class="title-5xl mb-5">¿Qué ofrecemos?</h2>
      <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="decoration-red pt-2 mb-5"><strong>Un sueldo entre 32.000€ y 45.000€</strong>, más bonus, dependiendo de lo que puedas aportar.</p>
          <p class="decoration-red pt-2 mb-5"><strong>Horario flexible de entrada y salida.</strong> La única regla es que cumplas con tus horas, aunque tú decides cómo las encajas.</p>
          <p class="decoration-red pt-2 mb-5"><strong>Horario de verano</strong> (menos horas de trabajo durante julio, agosto y septiembre) y 24 días de vacaciones laborables.</p>
          <p class="decoration-red pt-2 mb-5">Equipo necesario para que puedas trabajar cómodamente.</p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="decoration-red pt-2 mb-5">Plan de formación guiado por un mentor para aprender todo lo necesario.</p>
          <p class="decoration-red pt-2 mb-5">Plan de carrera y seguimiento del crecimiento personalizado (tiempo para formación, reuniones semanales con tu manager).</p>
          <p class="decoration-red pt-2 mb-5">Un <strong>ambiente enriquecedor y diverso</strong>, donde desarrollarte como profesional, como persona y con unos compañeros muy majos.</p>
          <p class="decoration-red pt-2 mb-5">Opción de asistir a clases de inglés.</p>
        </div>
      </div>
      <p class="title-4xl text-center">¿Te gusta la oferta?<br /> Pues mándanos tu CV, estamos deseando conocerte.</p>
      <p class="text-center">Nos pondremos en contacto contigo para una primera entrevista en la que hablar más concretamente del puesto, explicarte cómo trabajamos y lo que esperamos de ti. ¡Nos encantará despejar todas las dudas que tengas!</p>
    </div>
  </div>

</section>

{% include "@base/unete-a-biko/enviar-cv.twig" %}

{% include "@includes/subir.twig" %}

{% include "@includes/contact.twig" %}


{% endblock %}
