<section id="que-ofrecemos">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">¿Qué ofrecemos?</h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="u-decoration-red pt-2 mb-5"><strong>Un sueldo entre 32.000€ y 45.000€</strong>, más bonus, dependiendo de lo que puedas aportar.</p>
              <p class="u-decoration-red pt-2 mb-5"><strong>Horario flexible de entrada y salida.</strong> La única regla es que cumplas con tus horas, aunque tú decides cómo las encajas.</p>
              <p class="u-decoration-red pt-2 mb-5"><strong>Horario de verano</strong> (menos horas de trabajo durante julio, agosto y septiembre) y 22 días de vacaciones laborables.</p>
              <p class="u-decoration-red pt-2 mb-5"><strong>Equipo necesario</strong> para que puedas trabajar cómodamente.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 mb-5"><strong>Plan de formación guiado</strong> por un mentor para aprender todo lo necesario.</p>
              <p class="u-decoration-red pt-2 mb-5"><strong>Plan de carrera y seguimiento</strong> del crecimiento personalizado (tiempo para formación, reuniones semanales con tu manager).</p>
              <p class="u-decoration-red pt-2 mb-5">Un <strong>ambiente enriquecedor y diverso</strong>, donde desarrollarte como profesional, como persona y con unos compañeros muy majos.</p>
              <p class="u-decoration-red pt-2 mb-5"><strong>Opción</strong> de asistir a clases de <strong>inglés</strong>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>