  <section id="muy-top" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
            <h3 class="title-4xl mb-3">Y esto sería muy TOP</h3>
            <p class="text-xl line-xl mb-5">Un perfil como el que hemos descrito hasta ahora es por definición generalista. Pero si sumas un conocimiento profundo en alguno de los campos fundamentales que tiene un proyecto como los que hacemos, serás capaz de aportar aún más. Estamos pensando en los siguientes:</p>
            <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas un conocimiento profundo de <strong>agile</strong>. No hablamos simplemente de conocer los métodos o haberlos usado alguna vez, sino de entender a fondo por qué las cosas se hacen como se hacen, que puedas explicarlo cuando surge la necesidad y convencer a los demás de que la vía ágil ofrece las soluciones que necesitamos.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que domines el <strong>diseño de experiencia de usuario (UX)</strong>. Saber centrarte en quién va a usar un producto digital, dominar los métodos que se usan y los principios que guían esta disciplina.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas una sólida <strong>base tecnológica</strong>, que te permita entender el enfoque técnico, los retos asociados y los riesgos que nos podemos encontrar.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que hayas profundizado en el <strong>desarrollo de producto</strong>, una disciplina en sí misma, aunque a menudo infravalorada o incluso invisible. Porque desarrollar un producto es difícil.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-0">Que seas capaz de redactar <strong>historias de usuario</strong>, que ayuden al equipo a comprender las necesidades de los usuarios finales y a priorizar entre todas las soluciones posibles.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>