  <section id="tu-puesto">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">¿Qué harás?</h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="u-decoration-red pt-2 mb-5"><strong>Te unirás a uno de nuestros equipos</strong>, en concreto a uno formado por 6 personas que trabaja <strong>en el ámbito museístico</strong>. Llevamos muchos años dando forma a los sitios web de museos top y tenemos entre manos retos muy interesantes este mismo año.</p>
              <p class="u-decoration-red pt-2 mb-5">En Biko la célula básica de funcionamiento son los equipos. Y dentro de ellos el rol de Product Owner recoge la <strong>responsabilidad de que los proyectos estén controlados</strong>, y que todas las personas involucradas (del equipo, del cliente, del resto de Biko) estén en la misma página.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 mb-5">Nos gusta abordar los <strong>proyectos en equipo, de verdad</strong>. Con perfiles multidisciplinares, sin jerarquías innecesarias, y con la ambición de hacer las cosas muy bien.</p>
              <p class="u-decoration-red pt-2 mb-5">Creemos que <strong>las personas son lo más valioso</strong> para conseguir soluciones excelentes. Por eso, será también importante la labor que puedas tener ayudando en la <strong>formación/evolución/maduración de las personas</strong> que tendrás alrededor. Y por supuesto, también en <strong>tu propia evolución</strong> para seguir creciendo mediante charlas, talleres, <em>open spaces</em>, etc.</p>
            </div>
          </div>
          <ul class="c-acordeon mb-5" id="acordeonAnidado">
            <li class="c-acordeon__card">
              <div class="c-acordeon__card__header" id="headingUno">
                <a class="c-acordeon__card__link c-link-nounderline"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseUno"
                  aria-expanded="false"
                  aria-controls="collapseUno">
                  <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                    {{ svgSprite('arrow') }}
                  </div>
                  <span class="c-link-especial c-link-nounderline font-700 color-red">
                    En 1 mes
                  </span>
                </a>
              </div>
              <div id="collapseUno"
                class="collapse"
                aria-labelledby="headingUno"
                data-parent="#acordeonAnidado">
                <div class="c-acordeon__card__body">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-10">
                        <p>Te habremos recibido con los brazos abiertos y <strong>¡aterrizarás en el equipo!</strong> Conocerás a todas las personas que forman parte del equipo así como a las personas externas que trabajan con nosotros en el proyecto.</p>
                        <p>Habrás completado tu <strong>onboarding en Biko</strong> y en tu equipo ayudado por un mentor y tendrás ya un conocimiento general del equipo y de los proyectos en los que te tocará trabajar.</p>
                        <p>Entenderás cuál es el <strong>flujo de trabajo</strong> en cada uno de ellos, qué<strong> metodología y dinámicas</strong> se siguen, qué <strong>herramientas de gestió</strong>n utilizamos... en definitiva, empezarás a tener una <strong>foto global</strong> del equipo y de los diferentes proyectos.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="c-acordeon__card">
              <div class="c-acordeon__card__header" id="headingTres">
                <a class="c-acordeon__card__link c-link-nounderline"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTres"
                  aria-expanded="false"
                  aria-controls="collapseTres">
                  <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                    {{ svgSprite('arrow') }}
                  </div><span class="c-link-especial c-link-nounderline font-700 color-red">
                    En 3 meses
                  </span>
                </a>
              </div>
              <div id="collapseTres"
                class="collapse"
                aria-labelledby="headingTres"
                data-parent="#acordeonAnidado">
                <div class="c-acordeon__card__body">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-10">
                        <p>¡Empezarás a <strong>volar por libre</strong>!</p>
                        <p>Tendrás el conocimiento suficiente para poder <strong>interlocutar en el día a día</strong> con el cliente y serás ya la <strong>persona de referencia</strong> del proyecto en cuanto a gestión. Eso sí, el resto del equipo y de la organización seguirá dándote el <strong>apoyo constante</strong> que aún necesitarás.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="c-acordeon__card">
              <div class="c-acordeon__card__header" id="headingCuatro">
                <a class="c-acordeon__card__link c-link-nounderline"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseCuatro"
                  aria-expanded="false"
                  aria-controls="collapseCuatro">
                  <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                    {{ svgSprite('arrow') }}
                  </div><span class="c-link-especial c-link-nounderline font-700 color-red">
                    En 6 meses
                  </span>
                </a>
              </div>
              <div id="collapseCuatro"
                class="collapse"
                aria-labelledby="headingCuatro"
                data-parent="#acordeonAnidado">
                <div class="c-acordeon__card__body">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-10">
                        <p>Te sentirás cómodo en el puesto y serás el <strong>responsable de la gestión del proyect</strong>. Tu responsabilidad más importante será <strong>controlar el proyecto</strong> en cuanto a saber cómo vamos en cada momento, hacia dónde vamos y qué opciones y riesgos se avecinan. Igual de relevante será <strong>saber comunicar</strong> todo ello al cliente, la organización y el equipo.</p>
                        <p>Otras responsabilidades menores serán:</p>
                        <p class="u-decoration-red pt-2 mb-4"><strong>Gestión económica-financiera</strong> del proyecto.</p>
                        <p class="u-decoration-red pt-2 mb-4">Facilitar <strong>relación del equipo </strong>con la organización.</p>
                        <p class="u-decoration-red pt-2 mb-4">Establecer <strong>procesos de trabajo</strong>.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>