{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--macba text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-2xl letter-base font-400">MUSEO DE ARTE CONTEMPORÁNEO DE BARCELONA</p>
          <h1 class="title-hero mb-4">
          Arte contemporáneo por los cuatro costados
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(y en diferentes idiomas)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <p class="text-2xl line-2xl">El Museo de Arte Contemporáneo de Barcelona necesitaba dar un giro a su presencia online a través de la web. Trabajar para un museo siempre supone un reto extra en términos de diseño, pero, al mismo tiempo, un reto altamente motivador. Esto, en combinación con nuestra experiencia en Drupal, dio como resultado una web versátil, limpia y con mucha personalidad. Y parece que no solo nos gusta a nosotros, porque también ha sido galardonada con un <a href="https://www.adg-fad.org/ca/laus/projecte/macba" class="c-link color-red-middle" target="_blank">premio Laus de Plata.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10">
        <p class="mb-5 mb-md-6 title-slim-6xl u-strong-red">
          Una redefinición con un <strong>diseño totalmente innovador</strong>, un nuevo <strong>gestor de contenidos</strong> y un <strong>buscador </strong>igual de <strong>potente</strong> que las obras que albergan en el museo.<strong> Todo encaja</strong>.
        </p>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <p class="text-2xl line-2xl">
      <strong>Cliente:</strong> Museo de Arte Contemporáneo de Barcelona /
      <strong>Estrategia:</strong> Storytelling <span class="color-red">+</span> UX <span class="color-red">+</span> Analítica /
      <strong>Diseño:</strong> UI <span class="color-red">+</span> Diseño Web /
      <strong>Tecnología:</strong> Drupal <span class="color-red">+</span> Sorl /
      <strong>Web:</strong> <a class="c-link" href="https://www.macba.cat/es" target="_blank">MACBA</a>
      </p>
    </div>
    </div>
  </div>
</section>

<div class="c-separator--line c-separator--line__horizontal"><hr /></div>

<section class="contenedor-secciones mb-md-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/macba-desafio.jpg" class="lazyloaded" alt="Pantalla del buscador de la web de MACBA" src="/assets/images/proyectos/macba-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-5xl mb-4">El desafío</h3>
          <p>El principal reto fue rediseñar la web sin perder la esencia de una de las instituciones catalanas más importantes. Por ello, una de las grandes tareas fue integrar la información ya almacenada en plataformas externas, como la del archivo, donde se almacenaban más de 48.000 elementos y, también, el <a href="https://repositori.macba.cat/?locale-attribute=es"  class="c-link" target="_blank">repositorio digital</a>, donde se conservan las imágenes y vídeos que complementan las obras y las exposiciones.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/macba-enfoque.jpg" class="lazyloaded u-img-fluid" alt="Pantalla de Radio Web MACBA" src="/assets/images/proyectos/macba-enfoque.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-5xl mb-4">Nuestro enfoque</h3>
          <p>Además de apostar por un diseño potente pero sencillo, quisimos reforzar el site con una solución técnica que permitiese el multisite, ya que otra de las partes fundamentales del proyecto fue crear <a href="https://rwm.macba.cat/es" class="c-link" target="_blank">Radio Web Macba</a>, un gran referente dentro del mundo de la cultura.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="c-mockup mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-lg-5 mb-xl-0">
        <div class="col-md-12 col-xl-10 mb-3">
        <p class="mb-5 mb-md-7 title-slim-6xl u-strong-red">
          Un trabajo que abarca <strong>desde los cimientos</strong> digitales, <strong>hasta el último detalle</strong> de una obra.
        </p>
      </div>
    </div>
    <div class="row mb-6 mb-xl-7">
        <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
          <div class="c-mockup-descripcion">
            <div>
              <h4 class="title-4xl line-3xl mb-4">
              Analítica
              </h4>
              <p>
              Todo lo definido en la conceptualización de la web, incluido el <i>storytelling</i>, se puede y se debe medir. Es por ello que quisimos dotar al nuevo site de una capa de analítica que nos permitiera comprobar el correcto funcionamiento de nuestra propuesta, de tal manera que el propio museo fuera capaz de leer los datos de forma sencilla y extraer sus propias conclusiones para poder evolucionar el site en la dirección correcta.
            </p>
            </div>
            </div>
        </div>

      <div class="col-md-6 col-xl-6 offset-xl-1">
        <div class="c-mockup-imagenes">
          <div class=" c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/macba-analitica-2" class="lazyloaded u-img-fluid" alt="Interior del Museo" src="/assets/images/proyectos/macba-analitica-2.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-imagenes-montaje">
            <img data-src="/assets/images/proyectos/macba-analitica-1" class="lazyloaded u-img-fluid" alt="Pantalla de móvil de la sección de Arte y Artistas" src="/assets/images/proyectos/macba-analitica-1.jpg">
          </div>
        </div>
      </div>
    </div>


     <div class="row mb-6 mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 d-flex align-items-center order-md-2 order-xl-1">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="title-4xl line-3xl mb-4">
              Microsites
            </h4>
            <p>
                Quisimos apostar por una gestión que permitiera crear <i>microsites</i> dentro de la propia web, para que los editores pudieran construir cualquier página desde cero, sin encontrarse ninguna barrera y bajo un paraguas multiidioma.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block order-xl-2">
            <img data-src="/assets/images/proyectos/macba-microsites-2" class="lazyloaded u-img-fluid" alt="Diseño del bloque cita. Frase de Eduardo Chillida" src="/assets/images/proyectos/macba-microsites-2.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-ml-negativo c-mockup-imagenes-montaje  order-xl-1">
            <img data-src="/assets/images/proyectos/macba-microsites-1" class="lazyloaded u-img-fluid" alt="DPantalla de móvil de la sección de Exposiciones y Actividades" src="/assets/images/proyectos/macba-microsites-1.jpg">
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-6 mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="title-4xl line-3xl mb-4">
            Tecnología
            </h4>
            <p>
            Otro de los elementos más importantes del proyecto fue la exhaustiva labor de importación que realizamos de la información residente en el site anterior, facilitando así el trabajo de los editores. Además, desarrollamos una integración de medios con el repositorio digital D-Space del museo, lo que hizo posible tener un lugar de almacenamiento único y centralizado para los medios digitales, importados en el nuevo site de forma periódica y automatizada.
          </p>
          </div>
          </div>
      </div>

      <div class="col-md-6 col-xl-6 offset-xl-1">
        <div class="c-mockup-imagenes">
          <div class=" c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/macba-tecnologia-2" class="lazyloaded u-img-fluid" alt="Interior del Museo" src="/assets/images/proyectos/macba-tecnologia-2.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-imagenes-montaje">
            <img data-src="/assets/images/proyectos/macba-tecnologia-1" class="lazyloaded u-img-fluid" alt="Pantalla de móvil de la sección de Arte y Artistas" src="/assets/images/proyectos/macba-tecnologia-1.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-5xl mb-4">Producto final</h3>
          <p>
          La web del MACBA se ha convertido en un lugar donde los amantes del arte contemporáneo y los más ajenos pueden navegar entre importantes artistas y obras maestras. La web, construida en un Drupal 8, permite a los editores una muy sencilla gestión de contenidos, gracias a su estructura fluida y modulable. Un <i>site</i> multiidioma, totalmente <i>responsive</i> y accesible a todos.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/macba-dfinal-1" class="lazyloaded u-img-fluid" alt="Pantalla diseño MACBA" src="/assets/images/proyectos/macba-dfinal-1.jpg">      </div>
    </div>
  </div>
</section>
<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div>
          <img data-src="/assets/images/proyectos/macba-dfinal-2" class="lazyloaded u-img-fluid" alt="Pantalla diseño MACBA" src="/assets/images/proyectos/macba-dfinal-2.jpg">
        </div>
      </div>
      <div class="col-md-12 col-lg-6 d-flex c-bg-pattern c-bg-pattern__rigth">
        <div class="d-flex">
          <div class="d-flex  align-items-center c-gallery__bg">
            <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
              <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                {{svgSprite('link')}}
              </div>
              <div class="mr-4">
                <h4 class="title-2xl decoration-red pt-2 mb-3">Para saber más:</h4>
                   <a href="https://www.macba.cat/es" target="_blank">
                  <span class="c-link-especial">
                    Visita la web del Museo de Arte Contemporáneo de Barcelona.
                  </span>
                </a>
              </div>
              <div class="align-self-end c-icon--arrow c-icon--black">
                {{svgSprite('flecha-right')}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="bg-gray-light py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">
          Para construir un proyecto de estas características tuvimos que recurrir a una <strong>combinación de herramientas</strong> muy potente.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
              Para lograr una gestión de contenidos fluida y eficaz.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('solr')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
            Solr</h4>
            <p>
              Como herramienta para construir un buscador a la altura.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
