  <section id="importante" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Qué pedimos?</h2>
          <h3 class="title-4xl mb-3">Nos parece importante</h3>
          <p class="font-secondary text-2xl color-red mb-5">
            (sabemos que cumplir todos los requisitos es complicado pero nos gustaría...)
          </p>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que entiendas el <strong>desarrollo de software</strong> como una <strong>actividad de equipo</strong> y que seas capaz de hacer mejor a los que te rodean.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que seas una persona que sea consciente de por qué hace las cosas y se las cuestione con <strong>pensamiento crítico</strong>.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que seas <strong>resolutivo/a</strong> y tengas las herramientas suficientes para buscarte la vida y tratar de <strong>resolver los problemas</strong>.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-md-0">Que no te cases con una única tecnología y que te guste <strong>probar cosas nuevas</strong>.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que te guste el <strong>trabajo bien hecho</strong>, cuidar los <strong>detalles</strong> y seas capaz de escribir un <strong>código simple y mantenible</strong>.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que más allá de talento tengas <strong>actitud</strong>, ganas de <strong>aprender </strong>y <strong>asumir responsabilidades</strong>.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que <strong>compartas tu conocimiento</strong>, que lo transmitas a los demás.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-0">Nivel intermedio de inglés. <strong>Pero del de verdad</strong> 😉</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>