{# ----- OFERTA ----- #}
{% extends '@layouts/page.twig' %}
{% block page %}
  {% include '@base/unete-a-biko/desarrollador-de-software/hero.twig' %}
  {% include '@base/unete-a-biko/quienes-somos.twig' %}
  {% include '@base/unete-a-biko/desarrollador-de-software/tu-puesto.twig' %}
  <div class="c-separator--line__horizontal__min"><hr /></div>
  {% include '@base/unete-a-biko/desarrollador-de-software/importante.twig' %}
  {% include '@base/unete-a-biko/desarrollador-de-software/top.twig' %}
  <div class="c-separator--line__horizontal__min"><hr /></div>
  {% include '@base/unete-a-biko/donde.twig' %}
  {% include '@base/unete-a-biko/desarrollador-de-software/que-ofrecemos.twig' %}
  {% include '@base/unete-a-biko/enviar-cv.twig' %}
  {% include '@includes/subir.twig' %}
  {% include '@includes/contact.twig' %}
{% endblock %}