{# ----- OFERTA ----- #}
{% extends '@layouts/page.twig' %}
{% block page %}
  <section class="bg-blue py-6 p-unete-drupal">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 text-center">
          <h1 class="title-6xl mb-3 color-white">
            Desarrollador/a de software
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">
            (¿quieres cambiar de aires? Quizás Biko es tu sitio...)
          </p>
          <div class="c-separator--line__horizontal-dotted">
            <hr />
          </div>
          <div class="row">
            <div class="col-md-3">
              <div id="datos" class="py-4">
                <p class="text-base color-red-middle mb-0">
                  SALARIO
                </p>
                <p class="text-4xl color-white mb-0">
                  <a href="#que-ofrecemos"
                    class="c-link c-link-nounderline c-link__w">
                    25-35
                  </a><span class="color-red-middle">K €</span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div id="datos" class="py-4">
                <p class="text-base color-red-middle mb-0">
                  HORARIO
                </p>
                <p class="text-4xl color-white mb-0">
                  <a href="#que-ofrecemos"
                    class="c-link c-link-nounderline c-link__w">
                    Flexible.
                  </a>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div id="datos" class="py-4">
                <p class="text-base color-red-middle mb-0">
                  FORMACIÓN
                </p>
                <p class="text-4xl color-white mb-0">
                  <a href="#que-ofrecemos"
                    class="c-link c-link-nounderline c-link__w">
                    Plan de carrera.
                  </a>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div id="datos" class="py-4">
                <p class="text-base color-red-middle mb-0">
                  MODALIDAD
                </p>
                <p class="text-4xl color-white mb-0">
                  <a href="#que-ofrecemos"
                    class="c-link c-link-nounderline c-link__w">
                    Posibilidad remoto.
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="c-separator--line__horizontal-dotted mb-4">
            <hr />
          </div>
          <p class="text-md-2xl line-md-2xl color-white text-left">
            Si estás buscando un cambio de aires, un puesto que se adapte más a
            ti o quieres seguir creciendo profesionalmente, sigue leyendo.
          </p>
          <p class="text-md-2xl line-md-2xl color-white text-left">
            Estamos buscando nuevas incorporaciones a la familia <em>
              bikoniana
            </em>. En concreto, buscamos incorporar un/a desarrollador/a de
            software <strong>con experiencia</strong>, que tenga un buen dominio
            de <strong>buenas prácticas y principios</strong> sobre desarrollo de
            software y que comprenda cómo funcionan distintas <strong>
              herramientas
            </strong> para poder elegir la más apropiada a la hora de resolver cada
            problema.
          </p>
          <p class="text-md-2xl line-md-2xl color-white text-left">
            En definitiva, buscamos a alguien que adore <strong>
              trabajar en equipo, formar
            </strong> a sus compañeros-as y escribir código <strong>
              fácil de cambiar y mantener
            </strong>.
          </p>
          <p class="text-2xl line-md-2xl color-white text-left">
            ¿Te cuadra por ahora? ¡Genial! Entonces te contamos quiénes somos...
            🙂
          </p>
        </div>
      </div>
    </div>
    <div class="c-separator--icon py-2">
      <a class="c-separator--icon__animated" href="#quienes-somos">
        <svg width="13px"
          height="42px"
          viewBox="0 0 13 42"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-714.000000, -854.000000)" fill="#ffffff">
              <g>
                <path d="M737.811652,873.75 L734.022242,869.966495 L735.240635,868.75 L741.25,874.75 L735.240635,880.75 L734.022242,879.533505 L737.811652,875.75 L699.75,875.75 L699.75,873.75 L737.811652,873.75 Z"
                  transform="translate(720.500000, 874.750000) rotate(-270.000000) translate(-720.500000, -874.750000) "></path>
              </g>
            </g>
          </g>
        </svg>
      </a>
    </div>
  </section>
  {% include '@base/unete-a-biko/quienes-somos.twig' %}
  <section id="tu-puesto">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">
            ¿En qué consiste tu puesto?
          </h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">
                Trabajarás junto al resto de tu equipo en la construcción de
                aplicaciones software tanto frontend como backend.
              </p>
              <p class="decoration-red pt-2 mb-5">
                Participarás en todas las <strong>dinámicas ágiles</strong> de ejecución
                de los proyectos y en el ciclo completo del desarrollo de software.
              </p>
              <p class="decoration-red pt-2 mb-5">
                Participarás en la <strong>
                  evolución técnica y tecnológica
                </strong> de los proyectos aplicando tu experiencia o aprendizajes
                que realices en la propia empresa.
              </p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">
                Nos gusta <strong>escribir código legible y mantenible</strong> así
                que aplicarás prácticas y técnicas como el testing, el diseño simple,
                refactorización, arquitecturas limpias y muchas otras buenas prácticas
                con las que trabajamos en el día a día.
              </p>
              <p class="decoration-red pt-2">
                Creemos que las personas son lo más valioso para conseguir
                soluciones excelentes. Por eso, <strong>
                  ayudarás en la formación de tus compañeros
                </strong> y en la tuya propia para seguir creciendo mediante charlas,
                talleres, open spaces, pair programming, revisiones de código, etc.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="importante">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">¿Qué consideramos importante para optar al puesto?</h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Que entiendas el <strong>desarrollo de software</strong> como una <strong>actividad de equipo</strong> y que seas capaz de hacer mejor a los que te rodean.</p>
              <p class="decoration-red pt-2 mb-5">Que seas una persona que sea consciente de por qué hace las cosas y se las cuestione con <strong>pensamiento crítico</strong>.</p>
              <p class="decoration-red pt-2 mb-5">Que seas <strong>resolutivo/a</strong> y tengas las herramientas suficientes para buscarte la vida y tratar de <strong>resolver los problemas</strong>.</p>
              <p class="decoration-red pt-2 mb-5">Que no te cases con una única tecnología y que te guste <strong>probar cosas nuevas</strong>.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Que te guste el <strong>trabajo bien hecho</strong>, cuidar los <strong>detalles</strong> y seas capaz de escribir un <strong>código simple y mantenible</strong>.</p>
              <p class="decoration-red pt-2 mb-5">Que más allá de talento tengas <strong>actitud</strong>, ganas de <strong>aprender </strong>y <strong>asumir responsabilidades</strong>.</p>
              <p class="decoration-red pt-2 mb-5">Que <strong>compartas tu conocimiento</strong>, que lo transmitas a los demás.</p>
              <p class="decoration-red pt-2 mb-5">Nivel intermedio de inglés. <strong>Pero del de verdad</strong> 😉</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </setcion>
  <section id="top">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">¿Y qué sería TOP?</h2>
            <div class="row">
              <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Que tengas conocimientos de buenas prácticas y fundamentos de programación: <strong>clean code</strong>, <strong>diseño simple</strong>,<strong> refactoring</strong>, <strong>testing</strong>, <strong>TD</strong>, <strong>DDD</strong>, <strong>arquitectura limpias</strong>, etc.</p>
              <p class="decoration-red pt-2 mb-5">Te manejas con soltura en algunos de los lenguajes que utilizamos habitualmente: <strong>Javascript</strong>, <strong>TypeScript</strong>, <strong>Java</strong> o <strong>PHP</strong>.</p>
              <p class="decoration-red pt-2 mb-5">Unas buenas habilidades de <strong>comunicación</strong>, capacidad para <strong>colaborar</strong> y presentar tus ideas de forma clara y efectiva al resto del equipo y de la empresa. Al final, se trata de relacionarse. 🙂</p>
              <p class="decoration-red pt-2 mb-5">Que te sientas cómodo trabajando en un entorno de integración continua, despliegue continuo, <strong>revisiones de código</strong> y <strong>pull requests</strong>. <strong>Tener soltura con Git</strong>.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Que tengas experiencia con <strong>metodologías ágiles</strong>. Es nuestra manera de trabajar.</p>
              <p class="decoration-red pt-2 mb-5">Que hayas desarrollado previamente aplicaciones frontend con ReactJS o backend con frameworks como <strong>SpringBoot</strong>, <strong>Symfony</strong> o <strong>Express</strong>.</p>
              <p class="decoration-red pt-2 mb-5">Que estés acostumbrado a trabajar con <strong>AWS</strong>. Que hayas utilizado <strong>Docker</strong> en desarrollo y producción.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="que-ofrecemos">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">¿Qué ofrecemos?</h2>
            <div class="row">
              <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Un sueldo entre <strong>25.000€</strong> y <strong>35.000€</strong>, dependiendo del valor que puedas aportar.</p>
              <p class="decoration-red pt-2 mb-5"><strong>Horario flexible.</strong> Tú decides cómo organizar tu horario, siempre con sentido común y consensuado con el resto del equipo.</p>
              <p class="decoration-red pt-2 mb-5"><strong>Plan de carrera.</strong> Para ayudarte a progresar en tu carrera, contarás con el acompañamiento de un/a manager. Tendréis reuniones 1:1 periódicas para guiar tu formación, tus planes de futuro y acompañarte con los retos, problemas o bloqueos que vayan surgiendo.</p>
            </div
            ><div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5"><strong>Posibilidad de</strong> trabajar en <strong>remoto</strong> o desde nuestra oficina de Mutilva.</p>
              <p class="decoration-red pt-2"><strong>Un ambiente enriquecedor y diverso</strong>, donde desarrollarte como profesional, como persona y con unos compañeros-as muy majos-as.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include '@base/unete-a-biko/enviar-cv.twig' %}
  {% include '@includes/subir.twig' %}
  {% include '@includes/contact.twig' %}
{% endblock %}
