{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="p-oferta-hero">

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-7">
      <h1 class="title-hero mb-3 text-center">Desarrollador/a de software</h1>
      <p class="font-secondary text-3xl color-red text-center mb-4 mb-md-5">(Pamplona)</p>
      <p class="text-2xl mb-5">Si estás buscando un cambio de aires, un puesto que se adapte más a ti o quieres seguir creciendo profesionalmente, sigue leyendo.</p>
      <p class="text-2xl mb-5">Estamos buscando nuevas incorporaciones a la familia <em>bikoniana</em>. En concreto, buscamos incorporar un/a desarrollador/a de software <strong>con experiencia</strong>, que tenga un buen dominio de <strong>buenas prácticas y principios</strong> sobre desarrollo de software y que comprenda cómo funcionan distintas <strong>herramientas</strong> para poder elegir la más apropiada a la hora de resolver cada problema. </p>
      <p class="text-2xl mb-5">
      En definitiva, buscamos a alguien que adore <strong>trabajar en equipo, formar</strong> a sus compañeros-as y escribir código <strong>fácil de cambiar y mantener</strong>.</p>
      <p class="text-2xl text-center">¿Te cuadra por ahora? ¡Genial! Entonces te contamos quiénes somos 🙂</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5 mb-md-7 bg-red-extralight py-3 pr-3 pl-3 py-md-5 pr-md-5 pl-md-5">
      <p>Somos una empresa joven de espíritu, pero con muchos años de rodaje. Llevamos <strong>más de 20 años</strong> en el sector digital.</p>
      <p>Como a todo el mundo, a veces nos cuesta definirnos, pero de lo que tenemos certeza es de que hacemos <strong>grandes proyectos digitales</strong>. Si de algo podemos presumir es de ser <strong>un equipo súper diverso y multidisciplinar</strong>: contamos con personas centradas en desarrollo, maquetación, consultoría de negocio, consultoría de UX, diseño UI, <em>marketing</em>, periodismo, formación...</p>
      <p>Abrazamos el <strong>trabajo en remoto </strong>pero también damos la <strong>posibilidad de trabajar en una oficina abierta y bastante líquida</strong>. Buscamos personas que quieran desarrollarse profesionalmente con nosotros y no solo para desarrollar un proyecto concreto. De hecho, contamos con grupos de trabajo sobre cuestiones específicas de formación en desarrollo, UX/UI, etc. o planes de idiomas.</p>
      <p>Si aún no conoces Biko, has de saber que <a class="c-link" href="/open-space/" target="_blank">el Open</a> es nuestro evento por excelencia, pero tenemos otros tantos saraos que casi es mejor que te contemos en persona.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <h2 class="title-5xl mb-5">¿En qué consiste tu puesto?</h2>
      <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">Trabajarás junto al resto de tu equipo en la construcción de aplicaciones software tanto frontend como backend.</p>
            <p class="decoration-red pt-2 mb-5">Participarás en todas las <strong>dinámicas ágiles</strong> de ejecución de los proyectos y en el ciclo completo del desarrollo de software.</p>
            <p class="decoration-red pt-2 mb-5">Participarás en la <strong>evolución técnica y tecnológica</strong> de los proyectos aplicando tu experiencia o aprendizajes que realices en la propia empresa.</p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">Nos gusta <strong>escribir código legible y mantenible</strong> así que aplicarás prácticas y técnicas como el testing, el diseño simple, refactorización, arquitecturas limpias y muchas otras buenas prácticas con las que trabajamos en el día a día.</p>
            <p class="decoration-red pt-2">Creemos que las personas son lo más valioso para conseguir soluciones excelentes. Por eso, <strong>ayudarás en la formación de tus compañeros</strong> y en la tuya propia para seguir creciendo mediante charlas, talleres, open spaces, pair programming, revisiones de código, etc.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-5">¿Qué consideramos importante para optar al puesto?</h2>
        <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">Que entiendas el desarrollo de software como una actividad de equipo y que seas capaz de hacer mejor a los que te rodean.</p>
            <p class="decoration-red pt-2 mb-5">Que seas una persona que sea consciente de por qué hace las cosas y se las cuestione con pensamiento crítico.</p>
            <p class="decoration-red pt-2 mb-5">Que seas resolutivo/a y tengas las herramientas suficientes para buscarte la vida y tratar de resolver los problemas.</p>
            <p class="decoration-red pt-2 mb-5">Que no te cases con una única tecnología y que te guste probar cosas nuevas.</p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">Que te guste el trabajo bien hecho, cuidar los detalles y seas capaz de escribir un código simple y mantenible.</p>
            <p class="decoration-red pt-2 mb-5">Que más allá de talento tengas actitud, ganas de aprender y asumir responsabilidades.</p>
            <p class="decoration-red pt-2 mb-5">Que compartas tu conocimiento, que lo transmitas a los demás.</p>
            <p class="decoration-red pt-2 mb-5">Nivel intermedio de inglés. <strong>Pero del de verdad</strong> 😉</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-5">¿Y qué sería TOP?</h2>
        <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">Que tengas conocimientos de buenas prácticas y fundamentos de programación: clean code, diseño simple, refactoring, testing, TDD, DDD, arquitectura limpias, etc.</p>
            <p class="decoration-red pt-2 mb-5">Te manejas con soltura en algunos de los lenguajes que utilizamos habitualmente: Javascript, TypeScript, Java o PHP.</p>
            <p class="decoration-red pt-2 mb-5">Unas buenas habilidades de comunicación, capacidad para colaborar y presentar tus ideas de forma clara y efectiva al resto del equipo y de la empresa. Al final, se trata de relacionarse 🙂</p>
            <p class="decoration-red pt-2 mb-5">Que te sientas cómodo trabajando en un entorno de integración continua, despliegue continuo, revisiones de código y pull requests. Tener soltura con Git.</p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">Que tengas experiencia con metodologías ágiles. Es nuestra manera de trabajar.</p>
            <p class="decoration-red pt-2 mb-5">Que hayas desarrollado previamente aplicaciones frontend con ReactJS o backend con frameworks como SpringBoot, Symfony o Express.</p>
            <p class="decoration-red pt-2 mb-5">Que estés acostumbrado a trabajar con AWS. Que hayas utilizado Docker en desarrollo y producción.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <h2 class="title-5xl mb-5">¿Qué ofrecemos?</h2>
      <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">Un sueldo entre 25.000€ y 35.000€, dependiendo del valor que puedas aportar.</p>
            <p class="decoration-red pt-2 mb-5"><strong>Horario flexible.</strong> Tú decides cómo organizar tu horario, siempre con sentido común y consensuado con el resto del equipo.</p>
            <p class="decoration-red pt-2 mb-5"><strong>Plan de carrera.</strong> Para ayudarte a progresar en tu carrera, contarás con el acompañamiento de un/a manager. Tendréis reuniones 1:1 periódicas para guiar tu formación, tus planes de futuro y acompañarte con los retos, problemas o bloqueos que vayan surgiendo. </p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">Posibilidad de trabajar en remoto o desde nuestra oficina de Mutilva.</p>
            <p class="decoration-red pt-2">Un ambiente enriquecedor y diverso, donde desarrollarte como profesional, como persona y con unos compañeros-as muy majos-as.</p>
        </div>
      </div>
      <p class="text-center">¿Te gusta la oferta? Pues mándanos tu CV, estamos deseando conocerte.</p>
    </div>
  </div>

</section>

{% include "@base/unete-a-biko/enviar-cv.twig" %}

{% include "@includes/subir.twig" %}

{% include "@includes/contact.twig" %}


{% endblock %}
