{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="p-oferta-hero c-bg-pattern__right">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-7">
        <h1 class="title-hero mb-3 text-center">Desarrollador/a de software</h1>
        <p class="font-secondary text-3xl color-red text-center mb-4 mb-md-5">(Pamplona)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-5">¿En qué consiste tu puesto?</h2>
        <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Trabajarás junto al resto de tu equipo en la construcción de aplicaciones software tanto frontend como backend.</p>
              <p class="decoration-red pt-2 mb-5">Participarás en todas las dinámicas ágiles de ejecución de los proyectos y en el ciclo completo del desarrollo de software.</p>
              <p class="decoration-red pt-2 mb-5">Participarás en la evolución técnica y tecnológica de los proyectos aplicando tu experiencia o aprendizajes que realices en la propia empresa.</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Nos gusta escribir código legible y mantenible así que aplicarás prácticas y técnicas como el testing, el diseño simple, refactorización, arquitecturas limpias y muchas otras buenas prácticas con las que trabajamos en el día a día.</p>
              <p class="decoration-red pt-2">Creemos que las personas son lo más valioso para conseguir soluciones excelentes. Por eso, ayudarás en la formación de tus compañeros y en la tuya propia para seguir creciendo mediante charlas, talleres, open spaces, hacer pair programming, revisiones de código, etc.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">¿Qué consideramos importante para optar al puesto?</h2>
          <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Que entiendas el desarrollo de software como una actividad de equipo y que seas capaz de hacer mejor a los que te rodean.</p>
              <p class="decoration-red pt-2 mb-5">Que seas una persona que sea consciente de por qué hace las cosas y se las cuestione con pensamiento crítico.</p>
              <p class="decoration-red pt-2 mb-5">Que seas resolutivo/a y tengas las herramientas suficientes para buscarte la vida y tratar de resolver los problemas.</p>
              <p class="decoration-red pt-2 mb-5">Que tengas conocimientos de buenas prácticas y fundamentos sobre desarrollo de software: código simple y refactorización, testing, TDD, DDD, arquitectura limpias, etc.</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Que te guste el trabajo bien hecho, cuidar los detalles y seas capaz de escribir un código simple y mantenible.</p>
              <p class="decoration-red pt-2 mb-5">Que más allá de talento tengas actitud, ganas de aprender y asumir responsabilidades.</p>
              <p class="decoration-red pt-2 mb-5">Que compartas tu conocimiento, que lo transmitas a los demás.</p>
              <p class="decoration-red pt-2 mb-5">Nivel intermedio de inglés. <strong>Pero del de verdad</strong> 😉</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">¿Y qué sería TOP?</h2>
          <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Que tengas un gran dominio de alguno de los lenguajes que utilizamos mayoritariamente: Javascript, Java o PHP.</p>
              <p class="decoration-red pt-2 mb-5">Unas buenas habilidades de comunicación, capacidad para colaborar y presentar tus ideas de forma clara y efectiva al resto del equipo y de la empresa. Al final, se trata de relacionarse 🙂</p>
              <p class="decoration-red pt-2 mb-5">Que te sientas cómodo trabajando en un entorno de integración continua, despliegue continuo, revisiones de código y pull requests.</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Que tengas experiencia con metodologías ágiles. Es nuestra manera de trabajar.</p>
              <p class="decoration-red pt-2 mb-5">Que hayas desarrollado previamente single-page applications.</p>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-5">¿Qué ofrecemos?</h2>
        <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Un sueldo entre 30.000€ y 36.000€, dependiendo de lo que puedas aportar.</p>
              <p class="decoration-red pt-2 mb-5">Capacidad de liderazgo, motivación y organización de equipos.</p>
              <p class="decoration-red pt-2 mb-5">Horario flexible de entrada y salida. La única regla es que cumplas con tus horas, aunque tú decides cómo las encajas.</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Si ya tienes unos años de experiencia escribiendo código de calidad, ofrecemos la posibilidad de trabajar en remoto (en el mismo huso horario), aunque lo ideal es que primero nos conozcamos personalmente.</p>
              <p class="decoration-red pt-2">Un ambiente enriquecedor y diverso, donde desarrollarte como profesional, como persona y con unos compañeros muy majos.</p>
          </div>
        </div>
        <p class="text-center">¿Te gusta la oferta? Pues mándanos tu CV, estamos deseando conocerte.</p>
      </div>
    </div>
</div>
</section>

{% include "@base/unete-a-biko/enviar-cv.twig" %}

{% include "@includes/subir.twig" %}

{% include "@includes/contact.twig" %}


{% endblock %}
