{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-oferta-hero c-bg-pattern__right">

  {% include "@base/unete-a-biko/social-share.twig" %}

  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-9">
        <h1 class="h-midhuge"><strong>Desarrollador/a</strong> de software</h1>
        <h2 class="c-title--sub">(Pamplona)</h2>
      </div>
      <div class="col-12 col-xl-3">
        <div class="d-flex flex-xl-column justify-content-center align-items-xl-center text-center">
          <a class="c-button p-oferta-hero__button p-oferta-hero__button--top" href="https://mail.google.com/mail/?view=cm&fs=1&to=unete@biko2.com" target="_blank">Inscribirse <br /><span class="c-button--minus">unete@biko2.com</span></a>
        </div>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <h3 class="c-ofertas__title">¿<strong>En qué consiste</strong> tu puesto?</h3>
        <ul class="c-line-list">
          <li><p>Trabajarás junto al resto de tu equipo en la construcción de aplicaciones software tanto frontend como backend.</p></li>
          <li><p>Participarás en todas las dinámicas ágiles de ejecución de los proyectos y en el ciclo completo del desarrollo de software.</p></li>
          <li><p>Participarás en la evolución técnica y tecnológica de los proyectos aplicando tu experiencia o aprendizajes que realices en la propia empresa.</p></li>
          <li><p>Nos gusta escribir código legible y mantenible así que aplicarás prácticas y técnicas como el testing, el diseño simple, refactorización, arquitecturas limpias y muchas otras buenas prácticas con las que trabajamos en el día a día.</p></li>
          <li><p>Creemos que las personas son lo más valioso para conseguir soluciones excelentes. Por eso, ayudarás en la formación de tus compañeros y en la tuya propia para seguir creciendo mediante charlas, talleres, open spaces, pair programming, revisiones de código, etc.</p></li>
        </ul>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <h3 class="c-ofertas__title">¿Qué <strong> consideramos importante </strong>para optar al puesto?</h3>
        <ul class="c-line-list">
          <li><p>Que entiendas el desarrollo de software como una actividad de equipo y que seas capaz de hacer mejor a los que te rodean.</p></li>
          <li><p>Que seas una persona que sea consciente de por qué hace las cosas y se las cuestione con pensamiento crítico.</p></li>
          <li><p>Que seas resolutivo/a y tengas las herramientas suficientes para buscarte la vida y tratar de resolver los problemas.</p></li>
          <li><p>Que tengas conocimientos de buenas prácticas y fundamentos sobre desarrollo de software: código simple y refactorización, testing, TDD, DDD, arquitectura limpias, etc.</p></li>
          <li><p>Que te guste el trabajo bien hecho, cuidar los detalles y seas capaz de escribir un código simple y mantenible.</p></li>
          <li><p>Que más allá de talento tengas actitud, ganas de aprender y asumir responsabilidades.</p></li>
          <li><p>Que compartas tu conocimiento, que lo transmitas a los demás.</p></li>
          <li><p>Nivel intermedio de inglés. <strong>Pero del de verdad</strong> 😉</p></li>
        </ul>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <h3 class="c-ofertas__title">¿Y qué sería <strong>TOP</strong>?</h3>
        <ul class="c-line-list">
          <li><p>Que tengas un gran dominio de alguno de los lenguajes que utilizamos mayoritariamente: Javascript, Java o PHP.</p></li>
          <li><p>Unas buenas habilidades de comunicación, capacidad para colaborar y presentar tus ideas de forma clara y efectiva al resto del equipo y de la empresa. Al final, se trata de relacionarse 🙂</p></li>
          <li><p>Que te sientas cómodo trabajando en un entorno de integración continua, despliegue continuo, revisiones de código y pull requests.</p></li>
          <li><p>Que tengas experiencia con metodologías ágiles. Es nuestra manera de trabajar.</p></li>
          <li><p>Que hayas desarrollado previamente single-page applications.</p></li>
        </ul>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <h3 class="c-ofertas__title">¿Qué <strong>ofrecemos</strong>?</h3>
        <ul class="c-line-list">
          <li><p>Un sueldo entre 35.000€ y 45.000€, dependiendo de lo que puedas aportar.</p></li>
          <li><p>Capacidad de liderazgo, motivación y organización de equipos.</p></li>
          <li><p>Horario flexible de entrada y salida. La única regla es que cumplas con tus horas, aunque tú decides cómo las encajas.</p></li>
          <li><p>Si ya tienes unos años de experiencia escribiendo código de calidad, ofrecemos la posibilidad de trabajar en remoto (en el mismo huso horario), aunque lo ideal es que primero nos conozcamos personalmente.</p></li>
          <li><p>Un ambiente enriquecedor y diverso, donde desarrollarte como profesional, como persona y con unos compañeros muy majos.</p></li>
        </ul>
      </div>
    </div>


    <div class="d-flex flex-column align-items-center text-center">
      <a class="c-button p-oferta-hero__button" href="https://mail.google.com/mail/?view=cm&fs=1&to=unete@biko2.com" target="_blank">Inscribirse <br /><span class="c-button--minus">unete@biko2.com</span></a>
      <a class="c-link" href="/unete-a-biko/" title="Volver al listado de ofertas">Ver todas las ofertas</a>
    </div>
  </div>
</section>


{% endblock %}
