  <section id="muy-top">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">驴Y qu茅 ser铆a TOP?</h2>
            <div class="row">
              <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="u-decoration-red pt-2 mb-5">Que tengas conocimientos de buenas pr谩cticas y fundamentos de programaci贸n: <strong>clean code</strong>, <strong>dise帽o simple</strong>,<strong> refactoring</strong>, <strong>testing</strong>, <strong>TD</strong>, <strong>DDD</strong>, <strong>arquitectura limpias</strong>, etc.</p>
              <p class="u-decoration-red pt-2 mb-5">Te manejas con soltura en algunos de los lenguajes que utilizamos habitualmente: <strong>Javascript</strong>, <strong>TypeScript</strong>, <strong>Java</strong> o <strong>PHP</strong>.</p>
              <p class="u-decoration-red pt-2 mb-5">Unas buenas habilidades de <strong>comunicaci贸n</strong>, capacidad para <strong>colaborar</strong> y presentar tus ideas de forma clara y efectiva al resto del equipo y de la empresa. Al final, se trata de relacionarse. </p>
              <p class="u-decoration-red pt-2 mb-5">Que te sientas c贸modo trabajando en un entorno de integraci贸n continua, despliegue continuo, <strong>revisiones de c贸digo</strong> y <strong>pull requests</strong>. <strong>Tener soltura con Git</strong>.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="u-decoration-red pt-2 mb-5">Que tengas experiencia con <strong>metodolog铆as 谩giles</strong>. Es nuestra manera de trabajar.</p>
              <p class="u-decoration-red pt-2 mb-5">Que hayas desarrollado previamente aplicaciones frontend con ReactJS o backend con frameworks como <strong>SpringBoot</strong>, <strong>Symfony</strong> o <strong>Express</strong>.</p>
              <p class="u-decoration-red pt-2 mb-5">Que est茅s acostumbrado a trabajar con <strong>AWS</strong>. Que hayas utilizado <strong>Docker</strong> en desarrollo y producci贸n.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>