  <section id="necesario" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Qué pedimos?</h2>
          <h3 class="title-4xl mb-3">Esto nos parece importante</h3>
          <p class="font-secondary text-2xl color-red mb-5">
            (sabemos que cumplir todos los requisitos es complicado pero nos gustaría...)
          </p>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                Que tengas <strong>experiencia</strong> desarrollando con <strong>Javascript</strong>.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                Que seas <strong>resolutivo/a</strong> y tengas las herramientas suficientes para
                buscarte la vida y tratar de <strong>resolver los problemas</strong>.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-md-0">
                Que te guste el <strong>trabajo bien hecho</strong>, <strong>cuidar los detalles</strong> y seas
                capaz de escribir un <strong>código simple y mantenible</strong>.
              </p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                Que más allá de talento tengas <strong>actitud</strong>, <strong>ganas de aprender</strong> y
               <strong> asumir responsabilidades</strong>.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                Que seas capaz de trabajar con <strong>autonomía</strong> para administrar tu
                propio proyecto pero sin olvidarse del trabajo en equipo.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-0">
                Nivel <strong>intermedio</strong> de <strong>inglés</strong>.
              </p>
            </div>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">La lista de los deseos</span>
          </div>
        </div>
      </div>
    </div>
  </section>