{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-oferta-hero c-bg-pattern__right">

  {% include "@base/unete-a-biko/social-share.twig" %}

  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-9">
        <h1 class="h-midhuge">Desarrollador/a <strong>Javascript/Node</strong></h1>
        <h2 class="c-title--sub">(Pamplona)</h2>
      </div>
      <div class="col-12 col-xl-3">
        <div class="d-flex flex-xl-column justify-content-center align-items-xl-center text-center">
          <a class="c-button p-oferta-hero__button p-oferta-hero__button--top" href="https://mail.google.com/mail/?view=cm&fs=1&to=unete@biko2.com" target="_blank">Inscribirse <br /><span class="c-button--minus">unete@biko2.com</span></a>
        </div>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <p class="c-title--pre">Estamos buscando nuevas incorporaciones a la familia bikoniana. En concreto, queremos incorporar un <strong>desarrollador/a que tenga experiencia desarrollando con Javascript</strong>. Si además, te inclinas hacia el lado <em>back-end</em> y tienes experiencia <strong>desarrollando con Node</strong>, sería perfecto.</p>
        <p class="c-title--pre">¿Te cuadra por ahora? ¡Genial! Entonces te contamos quiénes somos 🙂</p>

        <div class="c-separator--line c-separator--line--min"><hr /></div>

        <p>Somos una empresa joven de espíritu, pero con muchos años de rodaje. Llevamos <strong>más de 20 años</strong> en el sector digital.</p>
        <p>Como a todo el mundo, a veces nos cuesta definirnos, pero de lo que tenemos certeza es de que hacemos <strong>grandes proyectos digitales</strong>. Si de algo podemos presumir es de ser <strong>un equipo súper diverso y multidisciplinar</strong>: contamos con personas centradas en desarrollo, maquetación, consultoría de negocio, consultoría de UX, diseño UI, marketing, periodismo, formación...</p>
        <p>Trabajamos en una <strong>oficina abierta y bastante líquida</strong>. Buscamos personas que quieran desarrollarse profesionalmente con nosotros y no solo para desarrollar un proyecto concreto. De hecho, contamos con grupos de trabajo sobre cuestiones específicas de formación en desarrollo, UX/UI, etc. o planes de idiomas.</p>
        <p>Si aún no conoces Biko, has de saber que <a class="c-link" href="/open-space" target="_blank">el Open</a> es nuestro evento por excelencia, pero tenemos otros tantos saraos que casi es mejor que te contemos en persona.</p>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <h3 class="c-ofertas__title">¿<strong>En qué consiste</strong> tu puesto?</h3>
        <ul class="c-line-list">
          <li><p>Trabajarás junto al resto de tu equipo en la construcción de aplicaciones <em>back-end</em> con NodeJS.</p></li>
          <li><p>Participarás en todas las <strong>dinámicas ágiles</strong> de ejecución de los proyectos y en el ciclo completo del desarrollo de software.</p></li>
          <li><p>Participarás en la <strong>evolución técnica y tecnológica</strong> de los proyectos aplicando tu experiencia o aprendizajes que realices en la propia empresa.</p></li>
          <li><p>Nos gusta <strong>escribir código legible y mantenible</strong> así que aplicarás prácticas y técnicas como el testing, el diseño simple, refactorización, arquitecturas limpias y muchas otras buenas prácticas con las que trabajamos en el día a día. </p></li>
          <li><p>Creemos que las personas son lo más valioso para conseguir soluciones excelentes. Por eso, <strong>ayudarás en la formación de tus compañeros</strong> y en la tuya propia para seguir creciendo mediante charlas, talleres, open spaces, pair programming, revisiones de código, etc.</p></li>
        </ul>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <h3 class="c-ofertas__title">¿Qué <strong> consideramos necesario </strong>para optar al puesto?</h3>
        <ul class="c-line-list">
          <li><p>Que tengas experiencia desarrollando con Javascript.</p></li>
          <li><p>Que seas resolutivo/a y tengas las herramientas suficientes para buscarte la vida y tratar de resolver los problemas.</p></li>
          <li><p>Que te guste el trabajo bien hecho, cuidar los detalles y seas capaz de escribir un código simple y mantenible.</p></li>
          <li><p>Que más allá de talento tengas actitud, ganas de aprender y asumir responsabilidades.</p></li>
          <li><p>Que seas capaz de trabajar con autonomía para administrar tu propio proyecto pero sin olvidarse del trabajo en equipo.</p></li>
          <li><p>Nivel intermedio de inglés.</p></li>
        </ul>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <h3 class="c-ofertas__title">¿Y qué sería <strong>TOP</strong>?</h3>
        <ul class="c-line-list">
          <li><p>Que tengas un gran dominio de Javascript y que hayas desarrollado aplicaciones <em>back-end</em> con NodeJS.</p></li>
          <li><p>Que te sientas cómodo trabajando en un proyecto con diferentes entornos de desarrollo y donde tu trabajo no se limita únicamente a integrar código si no también a aplicar principios DevOps y a pelearte con retos de infraestructura.</p></li>
          <li><p>Que no te asuste enfrentarte a código legado, mal diseñado o sin tests y que lo veas como una oportunidad de mantenerlo a raya o de mejorarlo para seguir aportando valor a negocio.</p></li>
          <li><p>Que tengas experiencia con metodologías ágiles. Es nuestra manera de trabajar.</p></li>
        </ul>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <h3 class="c-ofertas__title">¿Qué <strong>ofrecemos</strong>?</h3>
        <ul class="c-line-list">
          <li><p>Un sueldo entre 25.000€ y 35.000€, dependiendo de lo que puedas aportar.</p></li>
          <li><p><strong>Horario flexible</strong> de entrada y salida. La única regla es que cumplas con tus horas, aunque tú decides cómo las encajas.</p></li>
          <li><p>Si ya tienes unos años de experiencia escribiendo código de calidad, ofrecemos la posibilidad de trabajar en remoto (en el mismo huso horario), aunque lo ideal es que primero nos conozcamos personalmente.</p></li>
          <li><p>Un ambiente enriquecedor y diverso, donde desarrollarte como profesional, como persona y con unos compañeros muy majos.</p></li>
        </ul>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <p class="c-title--pre">¿Te gusta la oferta? Pues mándanos tu CV, estamos deseando conocerte.</p>
      </div>
    </div>


    <div class="d-flex flex-column align-items-center text-center">
      <a class="c-button p-oferta-hero__button" href="https://mail.google.com/mail/?view=cm&fs=1&to=unete@biko2.com" target="_blank">Inscribirse <br /><span class="c-button--minus">unete@biko2.com</span></a>
      <a class="c-link" href="/unete-a-biko/" title="Volver al listado de ofertas">Ver todas las ofertas</a>
    </div>
  </div>
</section>


{% endblock %}
