{# ----- OFERTA ----- #}
{% extends '@layouts/page.twig' %}
{% block page %}
  {% include '@base/unete-a-biko/desarrollador-javascript-node/hero.twig' %}
  {% include '@base/unete-a-biko/quienes-somos.twig' %}
  {% include '@base/unete-a-biko/desarrollador-javascript-node/tu-puesto.twig' %}
  <div class="c-separator--line__horizontal__min"><hr /></div>
  {% include '@base/unete-a-biko/desarrollador-javascript-node/importante.twig' %}
  {% include '@base/unete-a-biko/desarrollador-javascript-node/top.twig' %}
  <div class="c-separator--line__horizontal__min"><hr /></div>
  {% include '@base/unete-a-biko/desarrollador-javascript-node/donde.twig' %}
  {% include '@base/unete-a-biko/desarrollador-javascript-node/que-ofrecemos.twig' %}
  {% include '@base/unete-a-biko/enviar-cv.twig' %}
  {% include '@includes/subir.twig' %}
  {% include '@includes/contact.twig' %}
{% endblock %}
