  <section id="que-ofrecemos">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">
            ¿Qué ofrecemos?
          </h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="u-decoration-red pt-2 mb-5">
                Un sueldo entre <strong>25.000€</strong> y <strong>
                  35.000€</strong>, dependiendo de lo que puedas aportar.
              </p>
              <p class="u-decoration-red pt-2 mb-5">
                <strong>Horario flexible de entrada y salida</strong>. La única
                regla es que cumplas con tus horas, aunque tú decides cómo las
                encajas.
              </p>
              <p class="u-decoration-red pt-2 mb-5"><strong>Horario de verano</strong> (menos horas de trabajo durante julio, agosto y septiembre) y 22 días de vacaciones laborables.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="u-decoration-red pt-2 mb-5">
                Si ya tienes unos años de experiencia escribiendo código de
                calidad, ofrecemos la <strong>
                  posibilidad de trabajar en remoto
                </strong> (en el mismo huso horario), aunque lo ideal es que primero
                nos conozcamos personalmente.
              </p>
              <p class="u-decoration-red pt-2">
                <strong>Un ambiente enriquecedor y diverso</strong>, donde
                desarrollarte como profesional, como persona y con unos/as
                compañeros/as muy majos/as.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>