  <section id="muy-top">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h3 class="title-4xl mb-5">Y esto sería muy TOP</h3>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas un <strong>gran dominio de Javascript</strong> y que hayas desarrollado aplicaciones <strong>back-end con NodeJS</strong>.</p>            
              <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-md-0">
                Que te sientas cómodo/a trabajando en un proyecto con diferentes
                entornos de desarrollo y donde tu trabajo no se limita
                únicamente a integrar código si no también a <strong>aplicar principios
                DevOps</strong> y a pelearte con <strong>retos de infraestructura</strong>.
              </p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                Que no te asuste enfrentarte a código legado, mal diseñado o sin
                tests y que lo veas como una <strong>oportunidad</strong> de mantenerlo a raya o
                de mejorarlo para seguir <strong>aportando valor a negocio</strong>.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-0">
                Que tengas experiencia con<strong> metodologías ágiles</strong>. Es nuestra
                manera de trabajar.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>