{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--selfbank text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-selfbank.svg" class="mb-3" alt="Logotipo SELFBANK" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">SELFBANK</p>-->
          <h1 class="title-hero mb-4">
          De usuarios brokers a ahorradores
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(en un tiempo récord)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <p class="text-md-2xl line-md-2xl">
               Nuestro reto consistía en posicionar a Self Bank como un banco de experiencia digital completa para un público desconocedor de la marca.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla-->
<section class="mb-4 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Trabajamos dos equipos multidisciplinares para <strong> conceptualizar, diseñar y construir</strong>  piezas como el site corporativo de información y venta, su centro de asesoramiento y comunidad de ayuda, su gestión de alimentación de leads, así como el diseño de su banca electrónica y homebanking.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque datos-->
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">SelfBank</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">Storytelling <span class="color-red">+</span> UX</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI <span class="color-red">+</span> Diseño Web</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Drupal</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://www.selfbank.es/" target="_blank">SelfBank</a></div>
          </div>

      </div>
    </div>
  </div>
</section>
<div class="c-separator--line c-separator--line__horizontal" style="overflow: hidden;"><hr /></div>
<section class="contenedor-secciones mb-md-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/selfbank-desafio.jpg" class="lazyloaded" alt="selfbank" src="/assets/images/proyectos/selfbank-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-6xl mb-4">El desafío</h3>
          <p class="mb-0">Este paso de broker a banco online implicaba generar interés en unos usuarios más orientados al ahorro que a la inversión y lograr su conversión mediante todo un ecosistema digital de herramientas, formación y servicios para el control de su dinero, de forma que llegaran a ser #selfiters y pudieran manejar sus finanzas por sí mismos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/selfbank-enfoque.jpg" class="lazyloaded u-img-fluid" alt="Selfbank"  src="/assets/images/proyectos/selfbank-enfoque.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>Este ecosistema impulsado por Self Bank supuso el reto de <strong>conceptualizar, diseñar y construir</strong> piezas tan críticas como el site corporativo de información y venta, su centro de asesoramiento y comunidad de ayuda, su gestión de alimentación de leads, así como el diseño de su banca electrónica, homebanking, con el planteamiento de sus procesos financieros online y sus herramientas de inversión y finanzas personales en el tiempo récord de ¡6 meses!
        </div>
      </div>
    </div>
  </div>
</section>


<section class="c-mockup mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="title-4xl line-3xl mb-4">
              Dos equipos multidisciplinares
            </h4>
            <p>
           Este reto supuso decenas de sesiones colaborativas, cientos de wireframes, un cambio total de la imagen gráfica, decenas de componentes (atomic design) debidamente documentados para el equipo de integración propio de Self Bank y un continuo testeo de resultados y <strong>dos equipos multidisciplinares</strong> (independientes pero interconectados).
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/selfbank-imagen-movil-1" class="lazyloaded u-img-fluid" alt="SelfBank" src="/assets/images/proyectos/selfbank-imagen-movil-1.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha">
            <img data-src="/assets/images/proyectos/selfbank-movil-1" class="lazyloaded u-img-fluid" alt="Pantalla movil SelfBank" src="/assets/images/proyectos/selfbank-movil-1.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
        <p class="title-slim-6xl u-strong-red mb-md-6">
          <strong> Hemos incluido herramientas en la propia gestión de contenidos </strong> que permiten la máxima personalización en función de los dispositivos de los usuarios.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
            Como herramienta indispensable para una gestión de contenidos fluída y modulable
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p>Así, fuimos capaces de crear una experiencia única de banca, multicanal y multidispositivo, donde los usuarios alcanzan una autonomía total a la hora de decidir y gestionar sus ahorros e inversión antes y después de ser clientes Self Bank. </p>
           <p>Hoy, continuamos evolucionando mano a mano con Self Bank este proyecto, adaptándonos a los requisitos que se derivan de la evolución de necesidades del día a día.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/selfbank-producto-final-1.png" class="lazyloaded u-img-fluid" alt="Selfbank producto final" src="/assets/images/proyectos/selfbank-producto-final-1.png">
      </div>
    </div>
  </div>
</section>

<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-md-2xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://www.selfbank.es/" target="_blank"><span class="c-link"> la web de SelfBank</span></a></p>
      </div>
    </div>
  </div>
</section>
{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
