<section class="mb-6">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5 mb-md-6">
        <div class="title-slim-6xl u-strong-red-middle mb-4 mb-md-5">
          <p class="mb-0">
            <strong>Más de 80 empresas,</strong>
          </p>
          <p>
            52 de ellas nuevas.
          </p>
        </div>
        <div class="title-slim-6xl u-strong-red-middle mb-4 mb-md-5">
          <p>
            <strong>8 horas</strong> de evento.
          </p>
        </div>
        <div class="title-slim-6xl u-strong-red-middle mb-4 mb-md-5">
          <p>
            Más de <strong>200 participantes.</strong>
          </p>
        </div>
        <div class="title-slim-6xl u-strong-red-middle mb-4 mb-md-5">
          <p>
            <strong>15 horas y 45 minutos</strong> de charlas.
          </p>
        </div>
        <div class="title-slim-6xl u-strong-red-middle mb-4 mb-md-5">
          <p class="mb-0">
            <strong>9</strong> ponentes <strong>mujeres.</strong>
          </p>
          <p class="mb-0">
            <strong>3</strong> ponencias <strong>mixtas.</strong>
          </p>
          <p>
            <strong>10</strong> ponentes <strong>hombres.</strong>
          </p>
        </div>
        <div class="title-slim-6xl u-strong-red-middle">
          <a href="/assets/images/openspace-agenda-full.png"
            target="_blank"
            class="c-link">
            Una agenda final de 22 charlas
          </a>
        </div>
      </div>
      <div class="col-12">
        <div class="c-separator--icon pt-4 pt-md-5 pb-5 pb-md-7">
          <a class="c-separator--icon__animated" href="#presentacion">
            <svg width="13px"
              height="42px"
              viewBox="0 0 13 42"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-714.000000, -854.000000)"
                  fill="#ffffff">
                  <g>
                    <path d="M737.811652,873.75 L734.022242,869.966495 L735.240635,868.75 L741.25,874.75 L735.240635,880.75 L734.022242,879.533505 L737.811652,875.75 L699.75,875.75 L699.75,873.75 L737.811652,873.75 Z"
                      transform="translate(720.500000, 874.750000) rotate(-270.000000) translate(-720.500000, -874.750000) "></path>
                  </g>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
