<section class="pt-5 pt-md-7 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-white">
        <h2 class="text-center title-6xl mb-5 mb-md-6">
          Cuándo y dónde
        </h2>
      </div>
    </div>
    <div class="row mb-0">
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5">
        <div class="text-center">
          <div class="mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
              <g fill="#ED6F6B" fill-rule="evenodd">
                <path d="M44.001,4.5 L37.5,4.5 L37.5,1.5 C37.5,0.6705 36.8295,0 36,0 C35.1705,0 34.5,0.6705 34.5,1.5 L34.5,4.5 L25.5,4.5 L25.5,1.5 C25.5,0.6705 24.828,0 24,0 C23.172,0 22.5,0.6705 22.5,1.5 L22.5,4.5 L13.5,4.5 L13.5,1.5 C13.5,0.6705 12.828,0 12,0 C11.172,0 10.5,0.6705 10.5,1.5 L10.5,4.5 L4.0005,4.5 C1.791,4.5 0,6.2895 0,8.499 L0,43.9995 C0,46.209 1.791,48 4.0005,48 L44.001,48 C46.2105,48 48,46.209 48,43.9995 L48,8.499 C48,6.2895 46.2105,4.5 44.001,4.5 Z M45,43.9995 C45,44.5515 44.5515,45 44.001,45 L4.0005,45 C3.4485,45 3,44.5515 3,43.9995 L3,8.499 C3,7.9485 3.4485,7.5 4.0005,7.5 L10.5,7.5 L10.5,10.5 C10.5,11.3295 11.172,12 12,12 C12.828,12 13.5,11.3295 13.5,10.5 L13.5,7.5 L22.5,7.5 L22.5,10.5 C22.5,11.3295 23.172,12 24,12 C24.828,12 25.5,11.3295 25.5,10.5 L25.5,7.5 L34.5,7.5 L34.5,10.5 C34.5,11.3295 35.1705,12 36,12 C36.8295,12 37.5,11.3295 37.5,10.5 L37.5,7.5 L44.001,7.5 C44.5515,7.5 45,7.9485 45,8.499 L45,43.9995 Z"></path>
              </g>
            </svg>
          </div>
          <p class="mb-2 text-uppercase text-sm line-sm letter-base font-400 color-red-middle">Cuándo</p>
          <p class="mb-2 font-400 color-white">27 de mayo</p>
          <p class="font-secondary mb-4 color-red-middle">(Acuérdate del sayo)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5">
        <div class="text-center">
          <div class="mb-4">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24 0C20.6875 0 17.5703 0.624994 14.6484 1.875C11.7265 3.12501 9.1797 4.83593 7.00781 7.00781C4.83593 9.1797 3.12501 11.7265 1.875 14.6484C0.624994 17.5703 0 20.6875 0 24C0 27.3125 0.624994 30.4297 1.875 33.3516C3.12501 36.2735 4.83593 38.8203 7.00781 40.9922C9.1797 43.1641 11.7265 44.875 14.6484 46.125C17.5703 47.375 20.6875 48 24 48C27.3125 48 30.4297 47.375 33.3516 46.125C36.2735 44.875 38.8203 43.1641 40.9922 40.9922C43.1641 38.8203 44.875 36.2735 46.125 33.3516C47.375 30.4297 48 27.3125 48 24C48 20.6875 47.375 17.5703 46.125 14.6484C44.875 11.7265 43.1641 9.1797 40.9922 7.00781C38.8203 4.83593 36.2735 3.12501 33.3516 1.875C30.4297 0.624994 27.3125 0 24 0ZM24 45.0469C21.0937 45.0469 18.3672 44.4922 15.8203 43.3828C13.2734 42.2734 11.0547 40.7656 9.16406 38.8594C7.27343 36.9531 5.77344 34.7266 4.66406 32.1797C3.55468 29.6328 3 26.9063 3 24C3 21.0937 3.55468 18.3672 4.66406 15.8203C5.77344 13.2734 7.27343 11.0547 9.16406 9.16406C11.0547 7.27343 13.2734 5.77344 15.8203 4.66406C18.3672 3.55468 21.0937 3 24 3C26.9063 3 29.6328 3.55468 32.1797 4.66406C34.7266 5.77344 36.9453 7.27343 38.8359 9.16406C40.7266 11.0547 42.2266 13.2734 43.3359 15.8203C44.4453 18.3672 45 21.0937 45 24C45 26.9063 44.4453 29.6328 43.3359 32.1797C42.2266 34.7266 40.7266 36.9531 38.8359 38.8594C36.9453 40.7656 34.7266 42.2734 32.1797 43.3828C29.6328 44.4922 26.9063 45.0469 24 45.0469ZM25.5 23.3906L32.5781 30.4688C32.8594 30.75 33 31.1016 33 31.5234C33 31.9453 32.8594 32.2969 32.5781 32.5781C32.2969 32.8906 31.9453 33.0469 31.5234 33.0469C31.1016 33.0469 30.75 32.8906 30.4688 32.5781L23.0156 25.1719C23.0156 25.1406 23.0078 25.1172 22.9922 25.1016L22.9688 25.0781C22.8125 24.9531 22.6953 24.7969 22.6172 24.6094C22.5391 24.4219 22.5 24.2188 22.5 24V9C22.5 8.59375 22.6484 8.24219 22.9453 7.94531C23.2422 7.64844 23.5937 7.5 24 7.5C24.4063 7.5 24.7578 7.64844 25.0547 7.94531C25.3516 8.24219 25.5 8.59375 25.5 9V23.3906Z" fill="#ED6F6B"></path>
            </svg>
          </div>
          <p class="mb-2 text-uppercase text-sm line-sm letter-base font-400 color-red-middle">Horario</p>
          <p class="mb-2 font-400 color-white">
            De 9:30h.-18:00h.
          </p>
          <p class="font-secondary mb-4 color-red-middle">(+ post open)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5">
        <div class="text-center">
          <div class="mb-4">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M45.1434 2.38596C46.0791 3.25926 46.7808 4.17154 47.2486 5.12281C47.7164 6.07408 47.9659 7.03313 47.9971 8C48.0283 9.02925 47.81 10.0351 47.3421 11.0175C46.8743 12 46.1882 12.9591 45.2838 13.8947C44.8472 14.3626 43.1007 16.1091 40.0443 19.1345C36.988 22.1599 33.69 25.4269 30.1502 28.9357C26.6104 32.4445 23.3592 35.6647 20.3964 38.5965C17.4336 41.5283 15.8119 43.1345 15.5312 43.4152C15.4377 43.5088 15.3363 43.5867 15.2271 43.6491C15.118 43.7115 15.001 43.7583 14.8763 43.7895C14.4397 43.9142 13.5197 44.2027 12.1162 44.655C10.7128 45.1072 9.2704 45.5673 7.789 46.0351C6.3076 46.5029 4.97436 46.9318 3.78924 47.3216C2.60412 47.7115 1.99598 47.9064 1.96479 47.9064C1.90242 47.9376 1.83225 47.961 1.75428 47.9766C1.67631 47.9922 1.59055 48 1.49699 48C1.30986 48 1.12274 47.961 0.935616 47.883C0.748492 47.8051 0.592557 47.6881 0.467808 47.5322C0.249497 47.345 0.109156 47.1111 0.046781 46.8304C-0.0155937 46.5497 -0.0155937 46.269 0.046781 45.9883C0.0779684 45.9571 0.26509 45.3723 0.60815 44.2339C0.951211 43.0955 1.34884 41.7778 1.80106 40.2807C2.25328 38.7836 2.68989 37.3255 3.11092 35.9064C3.53195 34.4873 3.82043 33.4659 3.97637 32.8421C4.03874 32.7173 4.10111 32.6004 4.16349 32.4912C4.22586 32.3821 4.30383 32.2807 4.39739 32.1871L18.8994 17.6842C22.5484 14.0351 25.9243 10.6511 29.0275 7.53216C32.1306 4.41324 33.7913 2.76023 34.0096 2.5731C34.3215 2.26121 34.992 1.75439 36.0212 1.05263C37.0504 0.350874 38.3134 0 39.8104 0C40.7772 0 41.7051 0.202727 42.5939 0.608187C43.4827 1.01365 44.3326 1.60623 45.1434 2.38596ZM33.5418 7.34503C32.076 8.77973 30.2048 10.6355 27.9281 12.9123C25.6514 15.1891 23.3046 17.5438 20.8876 19.9766C18.4706 22.4094 16.155 24.7329 13.9407 26.9474L8.65444 32.2339C9.27819 32.4834 9.9721 32.8421 10.7362 33.3099C11.5003 33.7778 12.2722 34.4016 13.0518 35.1813C13.6756 35.8363 14.198 36.499 14.619 37.1696C15.04 37.8402 15.3753 38.4561 15.6248 39.0175C16.9346 37.7076 18.6889 35.9688 20.8876 33.8012C23.0863 31.6335 25.3864 29.3567 27.7878 26.9708C30.1892 24.5848 32.5204 22.269 34.7815 20.0234C37.0426 17.7778 38.906 15.9376 40.3718 14.5029C40.3406 14.2534 40.1613 13.6686 39.8338 12.7485C39.5064 11.8285 38.8748 10.9006 37.9392 9.96491C37.0036 9.06042 36.1304 8.42105 35.3195 8.04678C34.5086 7.67251 33.9161 7.4386 33.5418 7.34503ZM6.59609 34.7602C6.25303 35.9142 5.77743 37.4425 5.16928 39.345C4.56112 41.2476 4.03874 42.9006 3.60212 44.3041C5.06793 43.8363 6.76761 43.2749 8.70122 42.6199C10.6348 41.9649 12.1162 41.4659 13.1454 41.1228C12.9895 40.655 12.74 40.078 12.3969 39.3918C12.0538 38.7057 11.5549 38.0351 10.8999 37.3801C10.0267 36.5068 9.20022 35.8752 8.42054 35.4854C7.64086 35.0955 7.03271 34.8538 6.59609 34.7602ZM43.0851 11.7427C43.7088 11.1189 44.1766 10.4951 44.4885 9.87135C44.8004 9.24756 44.9563 8.65497 44.9563 8.09357C44.9563 7.53216 44.7926 6.95517 44.4651 6.36257C44.1377 5.76998 43.6621 5.17739 43.0383 4.5848C42.5393 4.08577 42.0169 3.7115 41.4712 3.46199C40.9254 3.21247 40.3718 3.08772 39.8104 3.08772C38.8436 3.08772 38.0094 3.33723 37.3077 3.83626C36.606 4.33529 36.2239 4.63158 36.1615 4.72515L35.9276 4.95906C36.5202 5.20858 37.1751 5.55945 37.8924 6.0117C38.6097 6.46394 39.3426 7.06432 40.0911 7.81287C40.8084 8.53022 41.3854 9.26315 41.822 10.0117C42.2586 10.7602 42.5861 11.4464 42.8044 12.0702C42.8668 12.0078 42.9214 11.9454 42.9681 11.883C43.0149 11.8207 43.0539 11.7739 43.0851 11.7427Z" fill="#ED6F6B"></path>
            </svg>
            </div>
          <p class="mb-2 text-uppercase text-sm line-sm letter-base font-400 color-red-middle">Inscripciones</p>
          <p class="mb-2 font-400 color-white"><a class="gtm-lead-openspace color-white" href="#formulario">Aforo limitado</a></p>
          <p class="font-secondary mb-4 color-red-middle">(¡Date prisa, que vuelan!)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5">
        <div class="text-center">
          <div class="mb-4">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.3392 0C28.2857 0 30.9211 0.48437 33.2455 1.45313C35.5699 2.42188 37.526 3.74218 39.1138 5.41406C40.7016 7.08595 41.9129 9.03124 42.7477 11.25C43.5825 13.4688 43.9999 15.8125 43.9999 18.2813C43.9999 20.7813 43.4843 23.3359 42.4531 25.9453C41.4218 28.5547 40.1205 31.1172 38.549 33.6328C36.9776 36.1485 35.2752 38.5312 33.4419 40.7813C31.6086 43.0313 29.8898 45.0312 28.2856 46.7813C28.2856 46.8125 28.0401 47.0234 27.549 47.4141C27.058 47.8047 26.4851 48 25.8303 48H25.683C24.9955 48 24.4144 47.8047 23.9397 47.4141C23.465 47.0234 23.2276 46.8125 23.2276 46.7813C21.5252 44.9062 19.6837 42.8594 17.7031 40.6406C15.7224 38.4219 13.8891 36.086 12.2031 33.6328C10.517 31.1797 9.10931 28.6563 7.97984 26.0625C6.85037 23.4687 6.28564 20.875 6.28564 18.2813C6.28564 15.8125 6.79308 13.4688 7.80797 11.25C8.82285 9.03124 10.1978 7.08595 11.933 5.41406C13.6681 3.74218 15.6897 2.42188 17.9977 1.45313C20.3057 0.48437 22.7529 0 25.3392 0ZM25.9285 44.7656C28.4166 42.0469 30.5937 39.4531 32.4598 36.9844C34.3258 34.5156 35.8809 32.1797 37.1249 29.9766C38.369 27.7734 39.302 25.6953 39.924 23.7422C40.5461 21.7891 40.8571 19.9688 40.8571 18.2813C40.8571 16.375 40.5543 14.5078 39.9486 12.6797C39.3429 10.8516 38.4017 9.21876 37.1249 7.78125C35.8481 6.34374 34.2358 5.1875 32.2879 4.3125C30.34 3.4375 28.0238 3 25.3392 3C23.1785 3 21.1324 3.40625 19.2008 4.21875C17.2693 5.03125 15.5833 6.13281 14.1428 7.52344C12.7023 8.91407 11.5565 10.5391 10.7053 12.3984C9.85409 14.2578 9.4285 16.2187 9.4285 18.2813C9.4285 20.5 9.91957 22.75 10.9017 25.0313C11.8839 27.3125 13.1279 29.5547 14.6339 31.7578C16.1398 33.9609 17.7931 36.0859 19.5937 38.1328C21.3943 40.1797 23.0966 42.0937 24.7008 43.875L25.5356 44.7656L25.7321 44.9531C25.7648 44.9219 25.8057 44.8906 25.8548 44.8594C25.9039 44.8281 25.9285 44.7969 25.9285 44.7656ZM25.1919 9.04688C27.811 9.04688 30.0371 9.92968 31.8705 11.6953C33.7038 13.4609 34.6205 15.5781 34.6205 18.0469C34.6205 20.5469 33.7038 22.6719 31.8705 24.4219C30.0371 26.1719 27.811 27.0469 25.1919 27.0469C22.6056 27.0469 20.3876 26.1719 18.5379 24.4219C16.6882 22.6719 15.7633 20.5469 15.7633 18.0469C15.7633 15.5781 16.6882 13.4609 18.5379 11.6953C20.3876 9.92968 22.6056 9.04688 25.1919 9.04688ZM25.1919 24.0469C26.927 24.0469 28.4002 23.4531 29.6115 22.2656C30.8229 21.0781 31.4285 19.6563 31.4285 18C31.4285 16.3437 30.8147 14.9297 29.587 13.7578C28.3593 12.5859 26.8779 12 25.1428 12C23.4077 12 21.9263 12.5859 20.6986 13.7578C19.4709 14.9297 18.8571 16.3437 18.8571 18C18.8571 19.6563 19.4791 21.0781 20.7231 22.2656C21.9672 23.4531 23.4568 24.0469 25.1919 24.0469Z" fill="#ED6F6B"></path>
            </svg>
            </div>
          <p class="mb-2 text-uppercase text-sm line-sm letter-base font-400 color-red-middle">Dónde</p>
          <p class="mb-2 font-400 color-white">CEIN Navarra</p>
          <p class="font-secondary mb-4 color-red-middle c-link-especial">(Cómo <a class="color-red-middle" href="https://goo.gl/maps/vT8obHCQanFdjvFD8" alt="Dirección en google maps a Cein Navarra">llegar</a>)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5">
        <div class="text-center">
          <div class="mb-4">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M48 19.5V3.65625C48 2.65625 47.6406 1.79688 46.9219 1.07813C46.2031 0.359371 45.3438 0 44.3438 0H28.1719C27.6406 0 27.0391 0.0390621 26.3672 0.117188C25.6953 0.195313 25.1094 0.484373 24.6094 0.984375L0.890625 24.7031C0.609374 25.0156 0.390626 25.3516 0.234375 25.7109C0.0781242 26.0703 0 26.4531 0 26.8594C0 27.2656 0.0781242 27.6484 0.234375 28.0078C0.390626 28.3672 0.609374 28.6875 0.890625 28.9688L19.0313 47.1094C19.3125 47.3906 19.6328 47.6094 19.9922 47.7656C20.3516 47.9219 20.7344 48 21.1406 48C21.5469 48 21.9297 47.9219 22.2891 47.7656C22.6484 47.6094 22.9844 47.3906 23.2969 47.1094L47.0156 23.3906C47.5156 22.8906 47.8047 22.2969 47.8828 21.6094C47.9609 20.9219 48 20.2188 48 19.5ZM44.8594 21.2813L21.1406 45L3 26.8594L26.7188 3.14063C26.8125 3.07812 27.0312 3.03906 27.375 3.02344L28.0166 3.00146L44.3438 3C44.5313 3 44.6875 3.0625 44.8125 3.1875C44.9375 3.3125 45 3.46875 45 3.65625V19.5469L44.9766 20.5313C44.9609 20.9063 44.9219 21.1563 44.8594 21.2813ZM36 6C34.3437 6 32.9297 6.58593 31.7578 7.75781C30.5859 8.92969 30 10.3437 30 12C30 13.6563 30.5859 15.0703 31.7578 16.2422C32.9297 17.4141 34.3437 18 36 18C37.6563 18 39.0703 17.4141 40.2422 16.2422C41.4141 15.0703 42 13.6563 42 12C42 10.3437 41.4141 8.92969 40.2422 7.75781C39.0703 6.58593 37.6563 6 36 6ZM36 15C35.1875 15 34.4844 14.7109 33.8906 14.1328C33.2969 13.5547 33 12.8438 33 12C33 11.1562 33.2969 10.4453 33.8906 9.86719C34.4844 9.28906 35.1875 9 36 9C36.8438 9 37.5547 9.28906 38.1328 9.86719C38.7109 10.4453 39 11.1562 39 12C39 12.8438 38.7109 13.5547 38.1328 14.1328C37.5547 14.7109 36.8438 15 36 15Z" fill="#ED6F6B"></path>
            </svg>
          </div>
          <p class="mb-2 text-uppercase text-sm line-sm letter-base font-400 color-red-middle">Coste</p>
          <p class="mb-2 font-400 color-white">Gratuito</p>
          <p class="font-secondary mb-4 color-red-middle line-base">(Así de majos somos)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5">
        <div class="text-center">
          <div class="mb-4">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M36.6094 28.4532C36.9844 28.6406 37.25 28.9218 37.4062 29.2968C37.5624 29.6718 37.5468 30.0468 37.3594 30.4218C37.3282 30.5156 37.0626 31.0156 36.5624 31.9218C36.0624 32.8282 35.2734 33.8046 34.1954 34.8516C33.1172 35.8984 31.7344 36.8594 30.0468 37.7344C28.3594 38.6094 26.3126 39.0468 23.9062 39.0468C23.875 39.0468 23.8438 39.0546 23.8124 39.0704C23.7812 39.086 23.75 39.0938 23.7188 39.0938C21.4374 39.0938 19.4766 38.6562 17.8359 37.7812C16.1953 36.9062 14.8438 35.9454 13.7812 34.8984C12.7187 33.8516 11.9297 32.8672 11.4141 31.9454C10.8984 31.0234 10.625 30.5312 10.5938 30.4688C10.4062 30.0624 10.3828 29.6718 10.5234 29.2968C10.6641 28.9218 10.9375 28.6406 11.3438 28.4532C11.7188 28.2968 12.0937 28.289 12.4688 28.4296C12.8438 28.5704 13.125 28.8282 13.3125 29.2032C13.3438 29.2656 13.5703 29.664 13.9922 30.3984C14.4141 31.1328 15.0469 31.914 15.8906 32.7422C16.7344 33.5704 17.8047 34.336 19.1016 35.039C20.3984 35.7422 21.9532 36.0938 23.7656 36.0938L23.8124 36.0704C23.8438 36.0546 23.875 36.0468 23.9062 36.0468C25.8126 36.0468 27.4454 35.6876 28.8046 34.9688C30.164 34.25 31.2734 33.4688 32.1328 32.625C32.9922 31.7812 33.625 31.0078 34.0312 30.3046C34.4376 29.6016 34.6406 29.2344 34.6406 29.2032C34.7968 28.8282 35.0704 28.5704 35.461 28.4296C35.8516 28.289 36.2344 28.2968 36.6094 28.4532ZM24 0C27.3126 0 30.4296 0.624994 33.3516 1.875C36.2734 3.125 38.8204 4.83592 40.9922 7.00782C43.164 9.1797 44.875 11.7265 46.125 14.6484C47.375 17.5703 48 20.6874 48 24C48 27.3126 47.375 30.4296 46.125 33.3516C44.875 36.2734 43.164 38.8204 40.9922 40.9922C38.8204 43.164 36.2734 44.875 33.3516 46.125C30.4296 47.375 27.3126 48 24 48C20.6874 48 17.5703 47.375 14.6484 46.125C11.7265 44.875 9.1797 43.164 7.00782 40.9922C4.83592 38.8204 3.125 36.2734 1.875 33.3516C0.624994 30.4296 0 27.3126 0 24C0 20.6874 0.624994 17.5703 1.875 14.6484C3.125 11.7265 4.83592 9.1797 7.00782 7.00782C9.1797 4.83592 11.7265 3.125 14.6484 1.875C17.5703 0.624994 20.6874 0 24 0ZM24 45C26.9062 45 29.6328 44.4454 32.1796 43.336C34.7266 42.2266 36.9454 40.7266 38.836 38.836C40.7266 36.9454 42.2266 34.7266 43.336 32.1796C44.4454 29.6328 45 26.9062 45 24C45 21.0938 44.4454 18.3672 43.336 15.8203C42.2266 13.2734 40.7266 11.0547 38.836 9.16406C36.9454 7.27342 34.7266 5.77344 32.1796 4.66406C29.6328 3.55468 26.9062 3 24 3C21.0938 3 18.3672 3.55468 15.8203 4.66406C13.2734 5.77344 11.0547 7.27342 9.16406 9.16406C7.27342 11.0547 5.77344 13.2734 4.66406 15.8203C3.55468 18.3672 3 21.0938 3 24C3 26.9062 3.55468 29.6328 4.66406 32.1796C5.77344 34.7266 7.27342 36.9454 9.16406 38.836C11.0547 40.7266 13.2734 42.2266 15.8203 43.336C18.3672 44.4454 21.0938 45 24 45ZM16.5 22.5C15.6562 22.5 14.9453 22.2032 14.3672 21.6094C13.7891 21.0156 13.5 20.3126 13.5 19.5C13.5 18.6875 13.7891 17.9844 14.3672 17.3906C14.9453 16.7969 15.6562 16.5 16.5 16.5C17.3125 16.5 18.0078 16.7969 18.5859 17.3906C19.1641 17.9844 19.4531 18.6875 19.4531 19.5C19.4531 20.3126 19.1641 21.0156 18.5859 21.6094C18.0078 22.2032 17.3125 22.5 16.5 22.5ZM31.5 22.5C30.6562 22.5 29.9454 22.2032 29.3672 21.6094C28.789 21.0156 28.5 20.3126 28.5 19.5C28.5 18.6875 28.789 17.9844 29.3672 17.3906C29.9454 16.7969 30.6562 16.5 31.5 16.5C32.3126 16.5 33.0078 16.7969 33.586 17.3906C34.164 17.9844 34.4532 18.6875 34.4532 19.5C34.4532 20.3126 34.164 21.0156 33.586 21.6094C33.0078 22.2032 32.3126 22.5 31.5 22.5Z" fill="#ED6F6B"></path>
            </svg>
            </div>
          <p class="mb-2 text-uppercase text-sm line-sm letter-base font-400 color-red-middle">Post Open</p>
          <p class="mb-2 font-400 color-white"><a class="color-white gtm-lead-openspace-chester" href="https://maps.google.com/maps?q=Bar%20Chester%20Calle%20Olite,%208%20%20Pamplona&t=&z=13&ie=UTF8&iwloc=&output=embed" target="_blank">Bar Chester de Pamplona</a></p>
          <p class="font-secondary mb-4 color-red-middle">(¡Anímate!)</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a class="c-button c-button--fill gtm-lead-openspace" href="#formulario">¡Me apunto!</a>
      </div>
    </div>
  </div>
</section>
