<section class="p-openspace-dudas c-bg-pattern__right mb-5 mb-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="h-extrahuge">Dudas <strong>resueltas</strong></h2>
        <p class="c-title--sub">(que no se quede nada en el tintero)</p>
      </div>
      <div class="col-12 offset-lg-1 col-lg-5">
        <div class="c-line-list__first-column">
          <h3 class="c-title--pre c-title--line">¿Por qué un Open Space?</h3>
          <p>Porque creemos en el conocimiento compartido y en Biko tenemos mucho talento que no queremos guardar solo para nosotros. Nos gusta este formato ágil en el que todos podemos proponer y elegir los temas sobre los que nos interesa aprender, debatir y compartir. </p>
          <h3 class="c-title--pre c-title--line">¿Y de qué se habla?</h3>
          <p>Algunos de los temas elegidos en esta ocasión han sido React, machine learning, tecnologías del futuro que parecen de ciencia ficción, Kickstarter, narrativa metafórica... pero habrá tiempo para plantear nuevos temas in situ.</p>
          <h3 class="c-title--pre c-title--line">¿Cómo puedo apuntarme?</h3>
          <p>Rellena tus datos en el formulario o mándanos un email a <em>comunicacion@biko2.com</em>. No tienes que hacer nada más, nosotros nos encargamos del resto. </p>
          <h3 class="c-title--pre c-title--line">¿Me apunto si el aforo está completo?</h3>
          <p>Apúntate, igual tienes suerte. Siempre suele haber bajas de última hora. Si no te importa la incertidumbre, te avisaremos en cuanto quede un hueco disponible para que puedas venir al Open Space. </p>
        </div>
      </div>
      <div class="col-12 offset-lg-1 col-lg-5">
        <div class="c-line-list__last-column">
          <h3 class="c-title--pre c-title--line">¿Es gratis?</h3>
          <p>Claro que sí. El concepto del Open Space implica compartir el conocimiento desinteresadamente. Por eso, la entrada es libre previa inscripción, porque no queremos que nadie se quede fuera.</p>
          <h3 class="c-title--pre c-title--line">¿Cómo puedo proponer una charla? </h3>
          <p>Puedes mandarla por email a <em>comunicacion@biko2.com</em>. También habrá tiempo para proponer y votar nuevas charlas entre todos durante el Open Space.</p>
          <h3 class="c-title--pre c-title--line">¿Tengo que asistir a todas las charlas?</h3>
          <p>No, puedes adaptar el horario como mejor te venga: estar toda la jornada o asistir solo a alguna de las charlas. No hay ninguna regla ni pasaremos lista.</p>
          <h3 class="c-title--pre c-title--line">Me he apuntado y al final no puedo ir...</h3>
          <p>No pasa nada, avísanos con un email a <em>comunicacion@biko2.com</em> para que lo tengamos en cuenta y podamos ceder tu plaza a alguien en lista de espera. Esperamos verte en el próximo Open Space de Biko. </p>
        </div>
      </div>
    </div>
  </div>
</section>
