<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h2 class="title-6xl mb-4">
          Un Open Space para todo el mundo
        </h2>
        <p class="font-secondary text-3xl color-red-middle mb-4">
          (algunos momentazos inolvidables)
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img data-src="/assets/images/open-space-2022-01.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Open Space Biko 2022" />
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
        <img data-src="/assets/images/open-space-2022-02.jpg"
          class="lazyload w-100 mb-3 mb-md-0"
          alt="Open Space Biko 2022" />
        <img data-src="/assets/images/open-space-2022-03.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Open Space Biko 2022" />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
        <img data-src="/assets/images/open-space-2022-04.jpg"
          class="lazyload w-100 mb-3 mb-md-0"
          alt="Open Space Biko 2022" />
        <img data-src="/assets/images/open-space-2022-05.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Open Space Biko 2022" />
      </div>
      <div class="col-12 col-md-6">
        <img data-src="/assets/images/open-space-2022-06.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Open Space Biko 2022" />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <img data-src="/assets/images/open-space-2022-07.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Open Space Biko 2022" />
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
        <img data-src="/assets/images/open-space-2022-08.jpg"
          class="lazyload w-100 mb-3 mb-md-0"
          alt="Open Space Biko 2019" />
        <img data-src="/assets/images/open-space-2022-09.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Open Space Biko 2022" />
      </div>
    </div>
  </div>
</section>
