<section class="mb-6 pt-5 pt-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red-middle mb-md-6">
          Después de dos años de parón, teníamos muchas ganas de volver y esto
          se notó en la cifra de asistentes pues ha sido el Open más concurrido
          hasta la fecha.
        </p>
        <p class="title-slim-6xl u-strong-red-middle mb-md-6">
          <strong>Más de 200 personas</strong> nos reunimos el día 27 de mayo de
          2022 para disfrutar de un nuevo <strong>Open Space de Biko</strong>.
        </p>
        <p class="title-slim-6xl u-strong-red-middle mb-md-6">
          Compartir, conocerse, reencontrarse, disfrutar, aprender, <strong>
            volver a sentir.
          </strong> Nuestro Open Space te traslada a un ambiente distendido en el
          que puedes elegir en cada momento en <strong>
            dónde quieres estar.
          </strong>
        </p>
      </div>
    </div>
  </div>
</section>
