<section class="mb-6 mt-3 mt-md-5 pt-5 pt-md-6">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red-middle mb-md-6">
           <strong>Te animamos a acompañarnos </strong> en el próximo Open Space XXII. Será un momento de  <strong>encuentro y crecimiento, </strong> 
          dentro de un ambiente distendido en el cual podrás elegir en cada momento dónde quieres estar. 
          </strong>
        </p>
      </div>
    </div>
  </div>
</section>
