<section class="parallax-open page-open-space-app-charlas pt-5 pt-md-7 pb-5 pb-md-7" id="propuestas">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="title-6xl mb-2">Tú decides el resto de temas</h2>
        <p class="font-secondary text-3xl color-red-middle mb-4">(hablaremos básicamente de lo que queramos)</p>
      </div>
      <div class="col-8 offset-md-2 text-center">
        <p class="text-base line-base text-md-2xl line-md-xl mb-4"><!--span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-1">NOVEDAD</span--> Este año gracias a nuestro <strong>"Rincón de charlas"</strong> hemos conseguido recopilar más de 30 propuestas, con las que configuraremos la mitad de la agenda.</p>
        <a href="https://charlas.biko2.com/" target="_blank"  alt="Acceso a Rincón de Charlas del Open Space de Biko 2022" class="c-button c-button--outline--white gtm-lead-charlasopen mb-3 mb-md-7">Ver charlas propuestas</a>

        <div class="text-center"><img data-src="/assets/images/openspace-idea-brain.png" class="lazyload mb-4" alt="Brain" /></div>
        <h3 class="title-2xl mb-3">¿La falta de inspiración no te permitió participar en esta primera propuesta?</h3>
        <p>No te preocupes, puedes dejar la mente en barbecho unos días e inspirarte allí mismo, porque la mitad de la agenda del Open se decide por todos el mismo viernes 27.</p>
        <p>Sí eres de ideas fijas, incluso podrás insistir en alguna de las charlas descartadas en la primera votación.</p>
        </p>
      </div>
    </div>
  </div>
</section>
