<section class="parallax-open page-open-space-app-charlas pt-5 pt-md-7 pb-5 pb-md-7"
  id="propuestas">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 cd-lg-8 offset-md-1 offset-lg-2 text-center">
        <p class="text-base line-base text-md-2xl line-md-xl mb-4">
          Aquí podrás ver parte de la agenda que se eligió previamente mendiante
          votos online, el resto de la agenda la conformamos in situ entre todo
          el público asistente.
        </p>
        <a class="c-button c-button--outline--white gtm-lead-openvercharlas"
          href="#formulario">
          Ver agenda Open Space XXI
        </a>
      </div>
    </div>
  </div>
</section>
