{# ----- OPEN SPACE ----- #}
{% extends "@layouts/page-open.twig" %}
{% block page %}

<section class="c-hero--video p-openspace">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-center">
        <div class="c-hero--video__box d-flex flex-column justify-content-center">
          <div class="c-texto--rotulado">
            <span>XIX EDITION - 2020</span>
          </div>
          <h1>Open<strong> Space</strong></h1>
          <p class="c-title--sub">(Un día para descubrir las tendencias del Universo Tecnológico)</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="p-openspace__intro">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="mb-4">El próximo <strong>#openbiko</strong> ya está en marcha.</h2>
        <p>El año pasado fue todo un éxito: contamos con más de <strong>150 asistentes</strong> que llegaron desde <strong>7 ciudades</strong> distintas y se dieron hasta <strong>26 charlas</strong> de diversos temas. Este año esperamos igualar e incluso mejorar estas cifas.</p>
        <p><strong>¿Te lo vas a perder?</strong></p>
        <p><a href="#" class="c-button c-button--fill">Quiero apuntarme</a></p>
      </div>
      <div class="col-12 col-md-5 offset-md-1">
        <div class="p-openspace__intro__ticket">
          <div class="p-openspace__intro__ticket__row">
            {{svgSprite('webby')}}
            <div class="p-openspace__intro__ticket__text">
              <span>Cuándo</span>
              <p>22 de mayo de 2020</p>
            </div>
          </div>

          <div class="p-openspace__intro__ticket__row">
            {{svgSprite('webby')}}
            <div class="p-openspace__intro__ticket__text">
              <span>Dónde</span>
              <p>22 de mayo de 2020</p>
            </div>
          </div>

          <div class="p-openspace__intro__ticket__row">
            {{svgSprite('webby')}}
            <div class="p-openspace__intro__ticket__text">
              <span>Horario</span>
              <p>De 9:00h a 18:00h</p>
            </div>
          </div>

          <div class="p-openspace__intro__ticket__row">
            {{svgSprite('webby')}}
            <div class="p-openspace__intro__ticket__text">
              <p>Entrada gratuita</p>
              <small>En la última edición hicimos lleno total.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="c-separator--line"><hr /></div>
{% include "@base/open-space/tres-razones.twig" %}
<div class="c-separator--line"><hr /></div>
{% include "@base/open-space/dudas-resueltas.twig" %}
{% include "@base/open-space/hashtag.twig" %}

{% endblock %}
