{# ----- OPEN SAPCE 2022 ----- #}
{% extends '@layouts/page-black.twig' %}
{% block page %}
  <section class="c-hero p-open-space-hero pt-5 pt-md-6 mb-4 mb-md-6">
    <div class="page-open-space-hero__container">
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
            <p class="text-left">
              <span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">
                UN DÍA PARA RECORDAR
              </span>
            </p>
            <h1 class="title-slim-6xl u-strong-red-middle">
              <strong>Así fue el Open Space XXI</strong>
            </h1>
            <p class="title-slim-6xl u-strong-red-middle">
             La última edición, hasta la fecha, del Open de Biko fue muy especial, lleno de momentos,
              debates y reencuentros, <strong>literalmente lleno</strong>. Un
              eventazo profesional, gratuito y abierto que ha hecho abrir ojos y
              <strong>remezclar ideas</strong> sobre <strong>
                tecnología, software e innovación
              </strong>. Mientras seguimos trabajando en ampliar contenido sobre
              lo acontecido, aquí van un vídeo y algunos datos sobre esta
              jornada:
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- aperitivo -->
  {% include '@base/open-space/edicion-2022.twig' %}

  <!-- frase -->
  {% include '@base/open-space/cifras.twig' %}

  <!-- de q hablaremos -->
  {% include '@base/open-space/post.twig' %}
  <div class="c-separator--line">
    <hr />
  </div>

  <!-- presentacion -->
  {% include '@base/open-space/presentacion.twig' %}
  <div class="c-separator--line">
    <hr />
  </div>
  <!-- fotos -->
  {% include '@base/open-space/fotos.twig' %}

  <!-- presentacion -->
  {% include '@base/open-space/frase2.twig' %}

  <!-- hashtag -->
  {% include '@base/open-space/hashtag.twig' %}

  {% include '@includes/contact-black.twig' %}
{% endblock %}
