<section class="parallax-open page-open-space-app-charlas pt-7" id="propuestas">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-center">
        <h2 class="title-6xl mb-4">
          “No es la constante, es la postura” <strong class="color-red-middle">échale
            un vistazo a una conclusión de un evento único.</strong>
        </h2>
        <a class="c-button c-button--outline--white gtm-lead-openvercharlas"
          href="https://blog.biko2.com/?p=19276"
          target="_blank">
          Leer post completo
        </a>
      </div>
    </div>
  </div>
</section>
