<section class="mb-6 pt-5 pt-md-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-4 text-left">
        <h2 class="h-extrahuge">
          Close. Closer.
          <strong>Open</strong>.
        </h2>
      </div>
      <div class="col-lg-10 col-xl-8 text-left">
        <p class="text-base line-base text-md-2xl line-md-2xl color-white">
          <em>
            Un día para celebrar, acercarnos y dejar espacio a lo nuevo.
            Dejábamos atrás la seguridad y control nacidas de lo imprevisible.
            Clausurábamos una etapa, porque no podíamos abrir sin cerrar lo
            anterior.
          </em>
        </p>
        <p class="text-base line-base text-md-2xl line-md-2xl color-white">
          <em>
            Quisimos acercarnos, lo suficiente, tan cerca como para ver erizarse
            nuestras pieles y oír el chasquido de nuestras pestañas, tan juntos
            que nos hiciera notar y recordar que detrás de la tecnología e
            innovación lo que importa es la interacción humana, las personas.
          </em>
        </p>
        <p class="text-base line-base text-md-2xl line-md-2xl mb-4 mb-md-5 color-white">
          <em>
            El Open de Biko; un evento definido y esbozado, pero no determinado,
            para permitir que las nuevas ideas fluyan a través de todos.
            Abierto, transparente y receptivo al cambio.
          </em>
        </p>
      </div>
      <div class="col-12 text-center">
        <p class="title-slim-6xl color-red-middle mb-5">
          <a href="https://twitter.com/search?q=%23CloseCloserOpen&src=typed_query"
            target="_blank"
            class="c-link mr-md-3">
            #CloseCloserOpen
          </a>
          <a href="https://twitter.com/search?q=%23openbiko&src=typed_query"
            target="_blank"
            class="c-link">
            #openbiko
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
