<section class="p-openspace-razones mb-2 mb-mb-6">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="title-6xl mb-4">¿Qué es el Open Space de Biko?</h2>
        <p class="font-secondary text-3xl color-red-middle mb-4">(Un evento único en Navarra basado en la auto-organización)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p class="text-base line-base text-md-xl line-md-xl">
        En un open space al uso, la agenda se propone, se vota y se decide el mismo día del evento. Nosotros adaptamos un poquito el formato para obtener lo mejor de ambos mundos. Dividiendo la agenda en dos.
        </p>
        <p class="text-base line-base text-md-xl line-md-xl">
        Primero, en la <a href="https://charlas.biko2.com/" target="_blank">propuesta de charlas</a>, decidimos previamente entre todos los participantes inscritos la parte de agenda prefijada para el día del Open.
        </p>
        <p class="text-base line-base text-md-xl line-md-xl">
        Segundo, al final de la mañana del mismo día del evento, el resto de la agenda se vota y decide sobre la marcha, siendo este el clásico formato Open abierto.
        </p>
        <p class="text-base line-base text-md-xl line-md-xl">
        Una única charla fija nos acompaña:
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="c-bg-pattern__right mb-6">
      <div class="container">
        <div class="row">
            <div class="col-6 offset-3 col-md-3 offset-md-0 col-xl-2">
              <img data-src="/assets/images/open-space-astudillo.jpg" class="lazyload w-100 mb-3 mt-2 mb-md-0" alt="César Astudillo" />
            </div>

            <div class="col-12 col-md-8 col-xl-6 flex-column">
              <h3 class="c-icon-list__title">¿Se puede uno salir de la secta de Silicon Valley?</h3>
              <p class="c-icon-list__text mb-3">Estamos tan ocupados en resolver el siguiente problema técnico chulo que los árboles no nos dejan ver el bosque… en llamas.</p>
              <p class="text-base line-base text-md-xl line-md-xl"><strong><a href="https://twitter.com/cesarastudillo" target="_blank" title="Twitter">César Astudillo</a></strong>, ex desarrollador de software y ahora asesor de Diseño Estratégico e Innovación, nos invita a dar un paso atrás para revisar críticamente los mitos fundacionales del mundo digital, su incomparable poder de imponer modelos del mundo e imágenes del futuro, y su contribución esencial a un régimen de vida insostenible.</p>
            </div>

        </div>
      </div>
    </div>
</section>
