<section class="p-openspace-razones mb-5 mb-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="h-extrahuge">3 <strong>razones</strong> para venir</h2>
        <p class="c-title--sub">(y poder disfrutarlo in situ)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p>Además de las charlas ya planificadas, dejaremos huecos para proponer y votar nuevas charlas el mismo día. También contamos con algún invitado sorpresa que os desvelaremos dentro de muy poco. </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-xl-1 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/razones-1.jpg" class="lazyload mb-3" alt="Razones para venir al Open Space" />
        <h3 class="c-title--pre">Aprender</h3>
        <p>Seguro que encuentras una charla que encaje contigo sea cual sea tu especialidad o intereses profesionales.</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/razones-2.jpg" class="lazyload mb-3" alt="Razones para venir al Open Space" />
        <h3 class="c-title--pre">Cambiar de aire</h3>
        <p>Salir de la rutina siempre está bien. Aprenderás sin darte cuenta en un ambiente muy cercano y familiar.</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/razones-3.jpg" class="lazyload mb-3" alt="Razones para venir al Open Space" />
        <h3 class="c-title--pre">Vivir la autogestión</h3>
        <p>Para entenderlo, hay que vivirlo. El poder de un montón de personas motivadas por compartir conocimiento y aprender.</p>
      </div>
    </div>
  </div>
</section>
