{# ----- ENCOUNTER ----- #}
{% extends "@layouts/page-black.twig" %}
{% block page %}

<section class="c-hero p-encounter-hero mb-6">
  <div class="p-encounter-hero__container">

  <div class="c-grid-image--right d-none d-lg-block">
    <img data-src="/assets/images/encounter-bloque-1.png" class="lazyload" alt="4 de marzo" />
  </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9 col-lg-7">
          <h1>Biko <strong>Encounter</strong></h1>
          <p class="c-title--sub">(saca tu lado más <em>geek</em>)</p>
        </div>
        <div class="col-12 offset-md-1 col-md-8 col-lg-6">
          <p class="c-title--pre">
            La tercera edición de la encounter llega a Biko. Tras la buena experiencia que vivimos en la edición de 2020 y tras todo lo que supuso la pandemia, este año queremos volver a juntarnos para celebrarlo.
          </p>
          <p class="c-title--pre">
            En 2023 la fecha elegida será el <strong>4 de marzo</strong>. La encounter será durante todo el día, desde la mañana hasta lo que aguantemos por la noche.
          </p>
          <a class="c-button" href="https://forms.gle/znJdjBTNTMEkftWV7" target="_blank">¡Me apunto!</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid my-6 d-flex justify-content-end">
  <img data-src="/assets/images/encounter-pacman.png" class="lazyload" alt="Pacman" />
</div>

<section class="c-hero p-encounter-hero">
  <div class="p-bienvenida-hero__container">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9 col-lg-7">
          <h2 class="h-extrahuge">¿Qué estamos <strong>tramando</strong>?</h2>
          <p class="c-title--sub">(solo cosas frikis, prometido)</p>
        </div>
        <div class="col-12 offset-md-1 col-md-8 col-lg-6">
          <p class="c-title--pre">Por ahora la encounter de Biko seguirá siendo privada. Un día fuera del horario laboral para disfrutar y abrir las puertas de la oficina a los peques bikonianos. Jugaremos, haremos gymkanas, algún torneo y por supuesto habrá muchas risas.</p>
        </div>
      </div>
    </div>

    <div class="c-bg-pattern__right">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10">

            <ul class="c-icon-list mt-6">
              <li class="d-flex">
                <div class="c-icon-list__icon col-3 col-xl-2">
                  {{svgSprite('encounter-star')}}
                </div>
                <div class="flex-column">
                  <h3 class="c-icon-list__title">Para los pekes</h3>
                  <p class="c-icon-list__text">Una vez más, organizaremos actividades por la mañana para que los enanos vengan a conocer la oficina y se piensen que es así como trabajamos en nuestro día a día. Seguro que se lo pasan pipa salvando al mundo de las garras de Bowser.</p>
                </div>
              </li>
              <li class="d-flex">
                <div class="c-icon-list__icon col-3 col-xl-2">
                  {{svgSprite('encounter-game')}}
                </div>
                <div class="flex-column">
                  <h3 class="c-icon-list__title">Para los mayores</h3>
                  <p class="c-icon-list__text">En esta edición, vamos a reducir el despliegue de medios y proponer una oferta de actividades más reducida para que todos podamos disfrutar más del día. Todavía está por decidir, pero consolas y torneos no van a faltar.</p>
                </div>
              </li>
              <li class="d-flex">
                <div class="c-icon-list__icon col-3 col-xl-2">
                  {{svgSprite('encounter-meal')}}
                </div>
                <div class="flex-column">
                  <h3 class="c-icon-list__title">Comer y cenar juntos</h3>
                  <p class="c-icon-list__text">No queremos perder ni un minuto sin un mando en la mano, por eso mejor si comemos en la oficina. Para la comida habrá algo de picoteo: tortillas, bocadillos… Y para la cena podemos pedir algo los que quedemos.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr></div>

<section class="p-openspace-razones c-bg-pattern__left mb-6">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="h-extrahuge pt-md-6">¿Todavía pensando en  <strong>apuntarte</strong> ?</h2>
        <p class="c-title--sub">(ni lo dudes, no puedes faltar)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p>
          Como todo lo que pasa en Biko, esta encounter la hacemos <strong>a nuestra manera</strong>, como nosotros queremos y disfrutamos. Es nuestra forma de hacer las cosas, <strong>repensadas</strong> para que sean mucho mejores.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-xl-1 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/encounter-palomitas.jpg" class="lazyload mb-3" alt="Bol de palomitas" />
        <h3 class="c-title--pre">Una jornada diferente</h3>
        <p>Venir a la oficina a jugar no pasa todos los días. Y con el tiempo de principios de marzo, no se nos ocurre mejor plan para un sábado.</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/encounter-mando-xbox.jpg" class="lazyload mb-3" alt="Mando consola" />
        <h3 class="c-title--pre">A todos nos gusta jugar</h3>
        <p>No te engañes, te gusta jugar. Y aquí no buscamos al próximo/a representante de los e-sports. Coge el mando y alguien te ayudará.</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/encounter-mario-bros.jpg" class="lazyload mb-3" alt="Mario" />
        <h3 class="c-title--pre">Nuevas facetas ocultas</h3>
        <p>¿Sabías que tu compañera es buenísima al Mario kart? ¿Y que tenemos coleccionistas de consolas retro? La de cosas que puedes descubrir de otros bikonianos.</p>
      </div>
    </div>
  </div>
</section>


<section class="c-bg-pattern__right">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h2 class="h-extrahuge pt-md-6">Un Encounter&nbsp;<br /><strong>para todos</strong></h2>
        <p class="c-title--sub">(Algunos momentazos inolvidables)</p>
      </div>
      <div class="col-12 col-md-5">
        <img data-src="/assets/images/encounter-jugando-1.jpg" class="lazyload w-100 mb-3 mb-md-0 c-large-image" alt="Encounter Biko" />
      </div>
      <div class="col-12 col-md-5 d-flex flex-column justify-content-between c-image-wrapper">
        <img data-src="/assets/images/encounter-jugando-2.jpg" class="lazyload w-100 mb-3 mb-md-0" alt="Encounter Biko" />
        <img data-src="/assets/images/encounter-jugando-3.jpg" class="lazyload w-100 mb-3 mb-md-0" alt="Encounter Biko" />
      </div>
      <div class="col-12 col-md-10">
        <video width="848" height="480" controls class="mt-3">
          <source src="/assets/videos/biko-encounter.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr></div>

<section class="pb-8">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="c-card">
          <div class="c-icon-square">
            {{svgSprite('pointer')}}
          </div>
          <h3 class="c-card__title"><strong>Seas gamer o no</strong>, esta edición de la Biko encounter no te la puedes perder. <strong>¿Contamos contigo?</strong></h3>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <a class="c-button" href="https://forms.gle/znJdjBTNTMEkftWV7" target="_blank">¡Me apunto!</a>
    </div>

  </div>
</section>



{% endblock %}
