<div class="row">
  <div class="col-md-10 offset-md-1">
      <div class="mb-4 mb-md-5 text-sm">
          <span class="text-uppercase text-uppercase letter-base font-400 color-grayextradark">Blog</span>
      </div>
  </div>
  <div class="landing-nav-section__wrap d-none d-xl-inline">
      <div class="landing-nav-section text-xs color-gray-dark font-400"><span
              class="line-decoration">Más sobre gestión de contenidos moderna</span>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 offset-md-1 blog-img__decoration mb-4 mb-md-5">
      <img src="../assets/images/blogimg.jpg" class="img-fluid" alt="Imagen post blog de Biko">
  </div>
  <div class="col-lg-6 col-md-10 offset-md-1 offset-lg-0">
    <h3 class="title-3xl mb-4">El reto de integrar Drupal y Gatsby</h3>
    <p class="text-base line-base mb-4">En Jakala | Biko llevamos 25 años desarrollando soluciones para
        gestionar
        contenidos,
        y si
        algo hemos aprendido es que no es una
        tarea sencilla. Desde los primeros CMS desarrollados in-house para clientes concretos, pasando por
        diversas herramientas
        de Microsoft o WordPress y llegando al actual Drupal (el state-of-the-art de los CMS) hemos
        recorrido un camino en el
        que el gestor de contenidos siempre era la pieza clave y definitoria de los proyectos. La que
        definía su ADN y los
        marcaba, tanto para bien como para mal, en su ciclo de vida futuro.
        <a href="https://blog.biko2.com/estandares/la-gestion-de-contenidos-en-la-era-jamstack-i/"
            target="_blank">[Seguir leyendo]</a></p>
    <p class="text-uppercase text-sm color-bluesoft font-400 color-gray-dark letter-base">15 de marzo 2021</p>
    <p class="u-decoration-red text-base pt-2 font-bold">Alberto Silva</p>
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset-md-1">
      <div class="c-separator--line c-separator--line__horizontal mt-4 mt-mb-5 mt-xl-6"><hr /></div>
  </div>
  <div class="col-lg-4 offset-md-1 blog-img__decoration mb-4 mb-md-5">
      <img src="../assets/images/blogimg2.jpg" class="img-fluid" alt="Imagen post blog de Biko">
  </div>
  <div class="col-lg-6 col-md-10 offset-md-1 offset-lg-0">
    <h3 class="title-3xl mb-4">Gestión de contenidos moderna: un cambio de paradigma</h3>
    <p class="text-base line-base mb-4">La gestión de contenidos para la web es un mundo en el que llevamos
        viviendo ya 20 años. Lo que empezó siendo un añadido
        casi insignificante al papel y era visto con reticencias por parte de casi todos, fue ganando
        espacio poco a poco,
        llegando a convertirse en lo que es hoy en día: un proceso de negocio clave en el corazón de muchas
        organizaciones. Y en
        Jakala | Biko hemos tenido la suerte de vivir esa historia desde dentro. Año a año, CMS a CMS, versión tras
        versión, moda tras
        moda. Y es esa experiencia, junto a nuestro conocimiento de la tecnología y sus tendencias, la que
        nos permite tener una
        visión amplia y propia y afirmar que nos encontramos en un momento singular, en el que tenemos la
        sensación de que... <a
            href="https://blog.biko2.com/estandares/gestion-de-contenidos-moderna-un-cambio-de-paradigma/"
            target="_blank">[Seguir
            leyendo]</a></p>
    <p class="text-uppercase text-sm color-bluesoft font-400 color-gray-dark letter-base">22 de Enero 2020</p>
    <p class="u-decoration-red text-base pt-2 font-bold">Aritz Suescun</p>
  </div>
</div>
