
<section class="c-bg-pattern__left pt-5 pt-xl-7">
  <div class="container">
    {% include "@base/bitween/webinar-principal-alt-2.twig" %}
    {# Webinar ponentes #}
    {% include "@base/bitween/webinar-ponentes-2.twig" %}
  </div>
</section>
