{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--rodilla text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-2xl letter-base font-400">RODILLA</p>
          <h1 class="title-hero mb-4">
          Hagamos que todo fluya
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(sin que tú te enteres)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <p class="text-md-2xl line-md-2xl"><strong>Rodilla</strong> es una cadena de restaurantes que desde sus inicios se especializó en sándwiches, si bien cuenta con una amplia carta de productos. Pertenece a Grupo Damm, uno de los principales conglomerados empresariales de alimentación en España.</p>
              <p class="text-md-2xl line-md-2xl">Acudieron a nosotros para crear una <strong>plataforma e-commerce omnicanal</strong> para ofrecer al cliente de Rodilla.</p>
              <p class="text-2xl line-2xl mb-0">Una experiencia de compra única y uniforme.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla-->
<section class="mb-4 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">El reto era muy ambicioso: requería una <strong>complejidad tecnológica</strong> muy alta y máxima <strong>sencillez</strong> en la <strong>experiencia de usuario</strong>.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque datos-->
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Rodilla</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">UX <span class="color-red">+</span> Consultoría tecnológica</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI <span class="color-red">+</span> Diseño Web</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Drupal <span class="color-red">+</span> Magento <span class="color-red">+</span> ERP</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://www.rodilla.es/" target="_blank">Rodilla</a></div>
          </div>

      </div>
    </div>
  </div>
</section>
<div class="c-separator--line c-separator--line__horizontal"><hr /></div>
<section class="contenedor-secciones mb-md-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/rodilla-desafio" class="lazyloaded" alt="Rodilla" src="/assets/images/proyectos/rodilla-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-6xl mb-4">El desafío</h3>
          <p class="mb-0">Crear una plataforma <strong>e-commerce omnicanal</strong>, integrando múltiples tecnologías para ofrecer una <strong>experiencia de compra única y uniforme</strong> para el cliente de Rodilla, independientemente del canal empleado para iniciar un pedido (web o móvil), el medio de pago empleado (tarjeta de crédito, programa de fidelización o tarjeta monedero) y del modo de entrega del pedido (tienda física o a domicilio).</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-6">
        <div class="mb-4 mb-xl-0">
          <img data-src="/assets/images/proyectos/rodilla-enfoque" class="lazyloaded u-img-fluid" alt="Rodilla" src="/assets/images/proyectos/rodilla-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-12 col-xl-4 offset-xl-1">
        <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
        <p>Dada la dimensión del proyecto, su complejidad técnica y las distintas partes implicadas, comenzamos con una consultoría que nos ayudó a <strong>definir los pilares estratégicos y tecnológicos</strong>.</p>
        <p>La piedra angular fue diseñar y crear una <strong>capa API de integración</strong> que pone en conexión los múltiples productos y servicios tecnológicos que forman el ecosistema e-commerce de Rodilla: Drupal, Magento, apps móviles, ERP corporativo de Grupo Rodilla, la pasarela de pagos, terminales punto de venta en restaurantes físicos...</p>
        <p class="mb-0">Junto a nuestro socio NV Ingeniería, encargado de la personalización e implantación de Magento, Biko se responsabilizó de construir, además de la capa API de integración, toda la gestión de <strong>contenidos unificados</strong> para los canales web y móvil basada en Drupal.</p>
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
          <p class="title-slim-6xl u-strong-red mb-md-6">
          Para este proyecto tuvimos que construir y desplegar una <strong>infraestructura tecnológica</strong> segura, confiable, distribuida, escalable y eficiente.
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
            Como contenedor y gestor de contenidos unificados (carta de productos y web)
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('magento')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Magento
            </h4>
            <p>
              Como gestor de pedidos e-commerce y del programa de fidelización.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('ERP')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              ERP corporativo del grupo Rodilla
            </h4>
            <p>
            Totalmente integrado.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p>
          Una <strong>API única</strong>, homogénea y segura que unifica la <strong>disponibilidad de información y el contenido</strong> para los distintos canales y que permite un <strong>flujo constante y en tiempo real de pedidos</strong> realizados desde el canal ecommerce hacia los terminales de comandas en las cocinas de los restaurantes.
          </p>
          <p class="mb-0">Todo ello garantiza una experiencia única, coherente y personalizada al cliente final.</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/rodilla-producto-final-1" class="lazyloaded u-img-fluid" alt="Rodilla producto final" src="/assets/images/proyectos/rodilla-producto-final-1.png">
      </div>
    </div>
  </div>
</section>

<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-md-2xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://www.rodilla.es/" target="_blank"><span class="c-link"> la web de Rodilla</span></a></p>
      </div>
    </div>
  </div>
</section>
{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
