{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero mt-3 mt-md-5">
  <div class="container">
    <a href="/proyectos#proyectos" class="p-proyecto__back mb-4">{{svgSprite('arrow-left')}} <span>Volver al listado</span></a>
  </div>

  <h1 class="c-title--background">Rodilla</h1>

  <div class="c-grid-image--right">
    <img data-src="/assets/images/proyectos/rodilla-proyecto.jpg" class="lazyload" alt="Rodilla" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7">
        <h2 class="h-extrahuge">Hagamos que <strong>todo fluya</strong></h2>
        <p class="c-title--sub">(sin que tú te enteres)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-6">
        <p><strong>Rodilla no fue tarea fácil</strong>. Dada la dimensión del proyecto, su complejidad técnica y las distintas partes implicadas, comenzamos con una <strong>consultoría</strong> que nos ayudó a definir los pilares estratégicos y tecnológicos.</p>
        <p>La piedra angular fue diseñar y crear una capa API de integración que pone en conexión los múltiples productos y servicios tecnológicos que forman el ecosistema e-commerce de Rodilla:</p>
        <ul>
          <li><strong>Drupal como contenedor</strong> y gestor de contenidos unificados para la Carta de productos y Web.</li>
          <li><strong>Magento como gestor de pedidos e-commerce</strong> y del programa de fidelización</li>
          <li><strong>Apps móviles</strong>.</li>
          <li><strong>ERP corporativo</strong> de Grupo Rodilla.</li>
          <li><strong>Pasarela de pagos</strong>.</li>
          <li><strong>Terminales Punto de Venta</strong> en restaurantes físicos.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="mt-md-5">
   <div class="container">
     <div class="row">
       <div class="col-12 offset-md-1 col-md-10 col-lg-8">
        <h2 class="h-big"><strong>¿El resultado?</strong></h2>
        <p>Unificamos el contenido para los <strong>canales web, móvil y otros por llegar</strong> a través de una <strong>API única</strong>, homogénea y segura que garantiza una experiencia única, coherente y personalizada al cliente final.</p>
        <p>Logramos construir una infraestructura tecnológica segura, confiable, distribuida, escalable y eficiente en sincronía en el ERP corporativo. Además, conseguimos unificar todo el programa de fidelización de clientes (tanto para las tiendas físicas como el online) en la plataforma ecommerce e incorporar en tiempo real todo el flujo de información generado en los canales web y móvil sobre los sistemas ERP y CRM corporativos de Grupo Rodilla.</p>
        <p><a class="c-link" href="https://www.rodilla.es/" target="_blank">Visitar la web de Rodilla</a></p>
       </div>
     </div>
   </div>
 </section>


 <div class="p-proyecto--galeria">
   <div class="container">

     <div class="row mb-5">
       <div class="col-10 offset-1 col-md-6 offset-md-0">
         <img data-src="/assets/images/proyectos/rodillacollage1.png" class="lazyload w-100" alt="Rodilla" />
       </div>

       <div class="col-10 offset-1 col-md-6 offset-md-0">
         <img data-src="/assets/images/proyectos/rodillacollage2.png" class="lazyload w-100" alt="Rodilla" />
       </div>
     </div>

     <div class="row">
       <div class="col-8 offset-2 col-md-4 offset-md-0 d-none d-md-block">
         <img data-src="/assets/images/proyectos/rodillacollage3.png" class="lazyload w-100" alt="Rodilla - Detalle web móvil" />
       </div>
       <div class="col-8 offset-2 col-md-4 offset-md-0">
         <img data-src="/assets/images/proyectos/rodillacollage4.png" class="lazyload w-100" alt="Rodilla - Detalle web móvil" />
       </div>
       <div class="col-8 offset-2 col-md-4 offset-md-0 d-none d-md-block">
         <img data-src="/assets/images/proyectos/rodillacollage5.png" class="lazyload w-100" alt="Rodilla - Detalle web móvil" />
       </div>
     </div>

   </div>
 </div>



{% include "@base/proyectos/separador-flecha.twig" %}
{% include "@base/proyectos/proyecto-similar.twig" %}
<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}
