<section class="mb-5 mb-md-7" id="Presentacion">
  <div class="openspace-slides">
    <div class="openspace-slides__slide"><span>Image 01</span></div>
    <div class="openspace-slides__slide"><span>Image 02</span></div>
    <div class="openspace-slides__slide"><span>Image 03</span></div>
    <div class="openspace-slides__slide"><span>Image 04</span></div>
    <div class="openspace-slides__slide"><span>Image 05</span></div>
    <div class="openspace-slides__slide"><span>Image 06</span></div>
    <div class="p-home__destacado text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="title-6xl mb-4 color-white text-left">
              <strong>Estamos preparando el Open Space 2022</strong>
            </h2>
            <p class="font-secondary text-3xl color-red-middle text-left mb-4">(y estamos realmente emocionad@s)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-xl-7">
              <p class="text-2xl text-left">Después de estos dos años de impas forzado, por fin podemos ¡retomar los preparativos de nuestro #openbiko!. Y, te aseguramos que lo vamos a preparar con más ilusión (si cabe) que nuestras ediciones anteriores. Varius parturient risus integer ut aliquam netus quisque class cras, luctus eros sem est blandit auctor dapibus cum mattis elementum, ante ad leo massa magna mus posuere dictum.</p>
              <p class="text-2xl text-left"><strong>¿Te animas a pasar este día con nosotr@s?</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
