<section class="mb-5 mb-md-7" id="Presentacion">
  <div class="openspace-slides">
    <div class="openspace-slides__slide"><span>Image 01</span></div>
    <div class="openspace-slides__slide"><span>Image 02</span></div>
    <div class="openspace-slides__slide"><span>Image 03</span></div>
    <div class="openspace-slides__slide"><span>Image 04</span></div>
    <div class="openspace-slides__slide"><span>Image 05</span></div>
    <div class="openspace-slides__slide"><span>Image 06</span></div>
    <div class="p-home__destacado text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="title-6xl mb-4 color-white text-left">
              <strong>Close. Closer. Open.</strong>
            </h2>
            <p class="font-secondary text-3xl color-red-middle text-left mb-4">(y estamos realmente emocionad@s)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-xl-6 text-left">
            <p class="text-md-2xl line-md-2xl">Un día para celebrar, acercarnos y dejar espacio a lo nuevo.
Dejamos atrás la seguridad y control nacidas de lo imprevisible. Clausuramos una etapa, porque no podemos abrir sin cerrar lo anterior. </p>
<p class="text-md-2xl line-md-2xl">Queremos acercarnos, lo suficiente, tan cerca como para ver erizarse nuestras pieles y oír el chasquido de nuestras pestañas, tan juntos que nos haga notar y recordar que detrás de la tecnología e innovación lo que importa es la interacción humana, las personas. </p>
          </div>
          <div class="col-lg-10 col-xl-6 text-left">
          <p class="text-md-2xl line-md-2xl">El Open de Biko es un evento definido y esbozado, pero no determinado, para permitir que las nuevas ideas fluyan a través de todos. Open es abierto, transparente y receptivo al cambio. </p>
            <p class="text-2xl line-2xl color-red-middle">#CloseCloserOpen #openbiko </p>
          </div>
          <div class="col-12 text-center">
            <p class="text-2xl line-2xl mt-3 mb-0"><strong>¿Te inspira?</strong></p>
            <p class="text-2xl line-2xl"> Descubre cómo se materializa compartir este día. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
