<section class="mb-4 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h2 class="title-6xl mb-4">¿Todavía no sabes qué es un Open Space de Biko?</h2>
        <p class="font-secondary text-3xl color-red mb-4">(no te preocupes, te lo contamos)</p>
        <p class="text-base line-base text-md-2xl line-md-xl mb-4 mb-md-5">
        Aquí pondría un texto alusivo al vídeo que, propongo, elabore Sergio para explicar qué es un Open Space de Biko. Y seguido pondría el vídeo de Sergio, no éste que he puesto. </p>
      </div>
      <div class="col-12 mb-5">
        <div class="video-container mb-5">
        <iframe class="video" src="https://www.youtube.com/embed/WzZh8rEetHg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <p class="text-base line-base text-md-2xl line-md-xl mb-4 mb-md-5">Mientras tanto te invitamos a recordar cómo fue el último Open, reviviendo algunas de las charlas de aquel día. </p>
        <a href="https://www.youtube.com/playlist?list=PL7hhC6ox3LEdVcda3VFhEADrhXOQ4SW7X" target="_blank" class="c-button c-button--second">Ver charlas del último Open</a>
        </p>
      </div>
    </div>
  </div>
</section>
