<section class="mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 mb-4">
        <h2 class="title-6xl mb-4 text-left">
          <strong>¿Qué es el OPEN?</strong>
        </h2>
        <p class="font-secondary text-3xl color-red mb-4">(más 3 razones para venir)</p>
      </div>
      <div class="col-lg-6 pr-4 pr-lg-6">
        <p>Un evento profesional, gratuito y abierto sobre las últimas tendencias en tecnología, software e innovación, pero sobre todo personas. </p>

        <p>El formato Open Space de Biko basado en la auto-organización, lo convierte en un evento único en Navarra, con buena parte de la agenda sin estar prefijada, habiendo charlas que se proponen y deciden en el mismo día, dejando así parte de la agenda abierta hasta el final. </p>

      </div>
      <div class="col-lg-6 pr-4 pr-lg-6">
      <p class="decoration-red pt-2 mb-md-5">Sea cual sea tu especialidad o intereses profesionales, seguro que encuentras una <strong>charla que encaje contigo</strong>, o proponer la que eches en falta.</p>

      <p class="decoration-red pt-2 mb-md-5">Aprenderás sin darte cuenta en un <strong>ambiente muy cercano y familiar</strong>, que fomenta el abrirse y dejarse atravesar por las ideas nuevas.</p>

      <p class="decoration-red pt-2 mb-md-5">El poder multiplicador de un montón de personas motivadas por <strong>compartir conocimiento,  aprender y generar nuevas preguntas</strong>.</p>
      </div>
      <div class="col-12 text-center">
        <a href="#dudas-resueltas" class="c-button c-button--second gtm-lead-dudasopen">Resolvemos tus dudas</a>
      </div>
    </div>
  </div>
</section>



<!--<section class="c-imagen-posicionada d-flex flex-column">
  <div class="c-imagen-posicionada--derecha-arriba mb-0 order-2">
    <div class="">
      <img data-src="/assets/images/bikoschool/open-space-razones" class=" lazyloaded" alt="Foto Open Space Razones" src="/assets/images/bikoschool/open-space-razones.png">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-md-4 mb-lg-0 pb-lg-7 pt-5 pt-md-0 pt-xl-7">
        <h2 class="title-6xl mb-4">
          3 razones para venir
        </h2>
        <p class="font-secondary text-3xl color-red mb-5">(y poder disfrutarlo in situ)</p>
        <p class="decoration-red pt-2 text-base line-base mb-md-3">Seguro que encuentras una <strong>charla que encaje contigo</strong> sea cual sea tu especialidad o intereses profesionales.</p>
        <p class="decoration-red pt-2 text-base line-base mb-md-3">Aprenderás sin darte cuenta en un <strong>ambiente muy cercano y familiar</strong>.</p>
        <p class="decoration-red pt-2 text-base line-base">
        El poder de un montón de personas motivadas por <strong>compartir conocimiento y aprender</strong>.</p>
      </div>
    </div>
  </div>
</section>-->
