<section class="c-imagen-posicionada d-flex flex-column">
  <div class="c-imagen-posicionada--derecha-arriba mb-0 order-2">
    <div class="">
      <img data-src="/assets/images/bikoschool/open-space-razones" class=" lazyloaded" alt="Foto Open Space Razones" src="/assets/images/bikoschool/open-space-razones.png">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-md-4 mb-lg-0 pb-lg-7 pt-xl-7">
        <h2 class="title-6xl mb-4">
          ...3 razones para venir
        </h2>
        <p class="font-secondary text-3xl color-red mb-5">(y poder disfrutarlo in situ)</p>
        <p class="decoration-red pt-2 text-base line-base mb-md-3">Seguro que encuentras una <strong>charla que encaje contigo</strong> sea cual sea tu especialidad o intereses profesionales.</p>
        <p class="decoration-red pt-2 text-base line-base mb-md-3">Aprenderás sin darte cuenta en un <strong>ambiente muy cercano y familiar</strong>.</p>
        <p class="decoration-red pt-2 text-base line-base">
        El poder de un montón de personas motivadas por <strong>compartir conocimiento y aprender</strong>.</p>
      </div>
    </div>
  </div>
</section>
