{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--nationale-nederlanden text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-nationale-nederlanden.svg" class="mb-3" alt="Logotipo Nationale Nederlanden" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">Nationale Nederlanden</p>-->
          <h1 class="title-hero mb-4">
          Nuevo framework, mejores procesos
          </h1>

          <p class="font-secondary text-3xl color-red-middle mb-4">(los seguros más cerca de ti)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10">
                <p class="text-md-2xl line-md-2xl">Nationale-Nederlanden es una de las mayores firmas de Europa en seguros y productos de ahorro a medio y largo plazo. Su objetivo era lanzar una nueva web en España que aglutinase todos los servicios y procesos de contratación que ofrecen. Así es como nació el proyecto umbrella: una web paraguas frontalizada por Biko, respetando al milímetro el diseño holandés. En nuestro camino surgieron además varios proyectos paralelos de design thinking para imaginar una nueva app de ahorro o productos específicos para vivienda.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla-->
<section class="mb-4 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Un <strong>nuevo framework responsive, versátil y adaptado</strong> a sus necesidades de marca, con el apoyo de Biko en <strong>nuevos procesos de ideación</strong>.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque datos-->
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Nationale-Nederlanden</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">Design Thinking <span class="color-red">+</span> UX</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">HTML <span class="color-red">+</span> CSS</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://www.nnespana.es/pensiones/calculadora" target="_blank">NN España</a></div>
          </div>

      </div>
    </div>
  </div>
</section>
<div class="c-separator--line c-separator--line__horizontal"><hr /></div>
<!--Bloque El Desafio-->
<section id="desafio" class="contenedor-secciones mb-md-7 mb-lg-5 mb-xl-3">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/nn-desafio.jpg" class="lazyloaded" alt="Economia Circular" src="/assets/images/proyectos/nn-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-6xl mb-4">El desafío</h3>
          <p>Construir un framework basado en la marca que permitiera crear de manera rápida e intuitiva nuevas páginas para su site y dar respuesta a sus necesidades en la creación de nuevos productos y servicios.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/diseno-final_nn_.png" class="lazyloaded u-img-fluid" alt="Pantalla móvil"  src="/assets/images/proyectos/diseno-final_nn_.png">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>Un equipo de desarrollo enfocado a frontalizar y un equipo de consultores y diseñadores dispuestos a guiar procesos de ideación en un tiempo récord a través de <i>design sprints</i>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque frase-->
<section id="frase1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-7 title-slim-6xl u-strong-red">Un <strong>framework renovado</strong>, procesos más trabajados y un <strong>equipo multidisciplinar</strong>.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque Producto final-->
<section id="productofinal" class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div class="d-flex flex-column">
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p>El resultado es una nueva web basada en pequeñas piezas que se puede evolucionar y actualizar de forma fácil y constante. Además, hemos trabajado mano a mano con SparkLab, el laboratorio de I+D de Nationale-Nederlanden, para facilitar los proyectos de ideación. </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/diseno-final_nn2_.png" class="lazyloaded u-img-fluid" alt="Pantalla del site de National Nederlanden" src="/assets/images/proyectos/diseno-final_nn2_.png">
      </div>
    </div>
  </div>
</section>
<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">
          Para construir <strong>un proyecto de estas características</strong> tuvimos que recurrir a:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('html')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              HTML y CSS
            </h4>
            <p>
              Para la maquetación del esqueleto de la web.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-md-2xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://www.nnespana.es/pensiones/calculadora" target="_blank"><span class="c-link"> NN España</span></a></p>
      </div>
    </div>
  </div>
</section>

{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}
{% endblock %}
