{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--elcorteingles text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-elcorteingles.svg" class="mb-3" alt="Logotipo El Corte inglés" />
        <p class="mb-2 text-uppercase text-2xl letter-base font-400">Hipercor + Primeriti + LTC</p>
          <h1 class="title-hero mb-4">El ecommerce, renovado</h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(en canales de hoy y de toda la vida)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10">
              <p class="text-md-2xl line-md-2xl">Primeriti, el club de ventas flash de El Corte Inglés, cuenta con una larga trayectoria y el respaldo de una gran compañía que lleva en funcionamiento más de 80 años. Se trata de <strong>uno de los ecommerce con mayor volumen de tráfico y ventas de toda España.</strong> Su premisa es ofrecer lo mejor al mejor precio y de manera accesible para todo el mundo. Acudieron a Biko para solicitarnos un doble trabajo: <strong>migrar</strong> Primeriti a su plataforma tecnológica de comercio electrónico y mejorar su <strong>interfaz de usuario</strong> para adaptarlo a la nueva experiencia de compra omnicanal. Una vez cumplimos con este objetivo, El Corte Inglés nos confió trabajos similares para las plataformas e-commerce de Hipercor y La Tienda en Casa.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque entradilla-->
<section class="mb-4 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Trabajar en tres potentes tiendas online como <strong>Primeriti</strong>, <strong>Hipercor</strong> y <strong>La Tienda en Casa</strong> con el equipo de El Corte Inglés y con su tecnología ha sido un reto constante para Biko, que nos ha permitido darle la vuelta a todo lo que el usuario no ve pero que resulta esencial para garantizar una buena experiencia de compra.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque datos-->
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">El Corte Inglés</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">Convergencia tecnológica</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI <span class="color-red">+</span> Diseño web</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">NodeJS <span class="color-red">+</span> Express <span class="color-red">+</span> OpenShift</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
          <div class="c-listado-linea__clave"><strong>Web:</strong></div>
          <div class="flex-1"><a class="c-link" href="https://www.primeriti.es/" target="_blank">Primeriti</a> <span class="color-red">+</span> <a class="c-link" href="https://www.hipercor.es/" target="_blank">Hipercor</a> <span class="color-red">+</span> <a class="c-link" href="https://www.latiendaencasa.es/" target="_blank">La Tienda en casa</a></div>
          </div>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line c-separator--line__horizontal"><hr /></div>

<section class="contenedor-secciones mb-md-7 mb-lg-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/primeriti-ltc-desafio" class="lazyloaded" alt="Primeriti" src="/assets/images/proyectos/primeriti-ltc-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-6xl mb-4">El desafío</h3>
          <p>Necesitaban un nuevo partner con la experiencia y solvencia técnica necesaria que les ayudase a migrar su plataforma de comercio electrónico. Entre los requisitos innegociables se encontraba la necesidad de trabajar con un alto nivel de autonomía y minimizar el impacto del proyecto tanto en el negocio como en el día a día de las operaciones de las tiendas online.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-xl-7">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4 mb-md-0">
        <img data-src="/assets/images/proyectos/primeriti-ltc-enfoque" class="lazyloaded u-img-fluid" alt="Primeriti" src="/assets/images/proyectos/primeriti-ltc-enfoque.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>Lo podemos resumir en tres conceptos claros: <strong>equipo senior</strong> con experiencia en los <strong>frameworks</strong> y entornos adecuados; <strong>mucha comunicación</strong> con nuestro cliente, trabajando como si de un único equipo se tratara, aunque estuviese formado por personas de ambas empresas; y una <strong>dinámica de trabajo muy ágil</strong>, basada en la transparencia y proactividad, a la hora de dar respuesta a las necesidades que fueron surgiendo.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque frase-->
<section id="frase1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-7 title-slim-6xl u-strong-red">Nos encargamos de <strong>actualizar las dos plataformas e-commerce</strong> para que ambas convergieran tecnológicamente con el resto de <i>sites</i> de El Corte Inglés. </p>
      </div>
    </div>
  </div>
</section>
<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p>No solo se ha mejorado la <strong>eficiencia</strong> en los procesos y se ha <strong>unificado la tecnología</strong>, sino que esta <strong>evolución</strong> va a permitir maximizar sinergias e integraciones con el resto de sites de su ecosistema e-commerce y a la inversa.</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/elcorteingles-final.jpg" class="lazyloaded u-img-fluid" alt="El Corte inglés" src="/assets/images/proyectos/elcorteingles-final.jpg">
      </div>
    </div>
  </div>
</section>
<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">Para cubrir y dar respuesta a las distintas necesidades, hemos optado por una serie de <strong>herramientas distintas:</strong></p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('node-js')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              NodJS
            </h4>
            <p>
              Como entorno de ejecución de código backend para la renderización de contenido con origen en múltiples servicios corporativos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
                  {{svgSprite('express')}}
          </div>
          <div>
           <h4 class="title-2xl decoration-red pt-2 mb-3">
              Express
           </h4>
             <p>
             Framework de desarrollo sobre el que se articulan los distintos servicios de Backend.
             </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('openshift')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              OpenShift
            </h4>
            <p>
            Para permitir ejecutar sus aplicaciones en contenedores, maximizando el aprovechamiento de recursos, y automatizando el crecimiento/decrecimiento de los recursos según las cargas de trabajo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-md-2xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://www.primeriti.es/" target="_blank" alt="Visitar la web de Primeriti"><span class="c-link"> Primeriti</span></a>, <a href="https://www.hipercor.es/" target="_blank" alt="Visitar la web de Hipercor"><span class="c-link"> Hipercor</span></a> y <a href="https://www.latiendaencasa.es/" target="_blank" alt="Visitar la web de La Tienda en casa"><span class="c-link"> La Tienda en casa</span></a> </p>
      </div>
    </div>
  </div>
</section>
{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
