<section class="c-imagen-posicionada d-flex flex-column">
  <div class="c-imagen-posicionada--testimonial mb-0 order-2 order-lg-1">
    <div class="">
      <img data-src="/assets/images/bikoschool/testimonial-2020-1" class=" lazyloaded" alt="Miguel Echávarri" src="/assets/images/bikoschool/testimonial-2020-1.jpg">
    </div>
  </div>
  <div class="container altura-bloques">
    <div class="row">
      <div class="col-12 col-lg-7 mb-md-4 mb-lg-0 pt-md-7">
        <p class="title-slim-6xl u-strong-red mb-5">
          “La <strong>BikoSchool</strong> fue un <strong>punto de inflexión</strong> en mi desarrollo y mejora como Software Developer.”
        </p>
        <div class="mb-5">
          <p class="decoration-red text-base pt-2 font-bold mb-1">Miguel Echávarri</p>
          <p class="text-uppercase text-sm line-sm color-bluesoft font-400 letter-base mb-1">Software Developer en Biko</p>
          <p class="font-secondary mb-4 color-red-middle">(Miguel fue alumno de la I Edición del curso).</p>
        </div>
      </div>
    </div>
  </div>
</section>
