{# ----- OFERTA ----- #}
{% extends "_layouts/page.twig" %}
{% block page %}

<section class="p-legal">
<div class="container">
<div class="row">
<div class="col-12 col-xl-9">
<h1 class="h-midhuge">Política de <strong>cookies</strong></h1>
<p class="c-title--pre">BIKO2 2006, S.L. (en adelante BIKO) como editor y responsable de este sitio web desea informarte que esta página web emplea cookies propias y de terceros analíticas y publicitarias para la elaboración de perfiles basados en hábitos de navegación del usuario y para el visionado de contenido multimedia. Debes saber que compartimos la información sobre el uso que haces de nuestra web con Google, quien puede combinarla con otra información que le hayas proporcionado o que haya recopilado a partir del uso que hayas hecho de sus servicios.</p>
<p>La aceptación de la presente Política implica que el usuario ha sido informado de forma clara y completa sobre el uso de dispositivos de almacenamiento y recuperación de datos (cookies) así como que BIKO dispone del consentimiento del usuario para el uso de las mismas en los términos del artículo 22 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico (LSSICE).</p>
<h2>¿Qué es una cookie y para qué sirve?</h2>
<p>Una cookie es un fichero que se descarga en su ordenador, smartphone, tablet, etc. al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.</p>
<p>El conjunto de “cookies” de todos nuestros usuarios nos ayuda a mejorar la calidad de nuestra web, permitiéndonos controlar qué páginas son útiles, cuáles no y cuáles son susceptibles de mejora. En ningún caso las cookies podrían dañar tu equipo. Por contra, el que estén activas nos ayuda a identificar y resolver los errores.</p>
<h2>Clasificación de las cookies</h2>
<p>Las cookies pueden clasificarse:</p>
<p><strong>Según la entidad que la gestiona:</strong></p>
<ul>
<li>
<p><strong>Cookies propias</strong>: Son aquellas que se envían a tu equipo desde nuestros propios equipos o dominios y desde el que prestamos el servicio que nos solicitas.</p>
</li>
<li>
<p><strong>Cookies de terceros</strong>: Son aquellas que se envían a tu equipo desde un equipo o dominio que no es gestionado por nosotros, sino por otra entidad colaboradora. Como por ejemplo, las usadas por redes sociales.</p>
</li>
</ul>
<p><strong>Según el plazo de tiempo que permanecen activadas:</strong></p>
<ul>
<li>
<p><strong>Cookies de sesión</strong>: Son cookies temporales que permanecen en el archivo de cookies de tu navegador hasta que abandonas la página web, por lo que ninguna queda registrada en el disco duro de tu ordenador. La información obtenida por medio de estas cookies, sirven para analizar pautas de tráfico en la web.</p>
</li>
<li>
<p><strong>Cookies persistentes</strong>: son almacenadas en el disco duro y nuestra web las lee cada vez que realizas una nueva visita. Una cookie permanente posee una fecha de expiración determinada. La cookie dejará de funcionar después de esa fecha.</p>
</li>
</ul>
<p><strong>Según su finalidad:</strong></p>
<ul>
<li>
<p><strong>Cookies técnicas</strong>: Son aquellas necesarias para la navegación y el buen funcionamiento de nuestra página web. Permiten, por ejemplo, controlar el tráfico y la comunicación de datos, o compartir contenidos a través de redes sociales.</p>
</li>
<li>
<p><strong>Cookies de personalización</strong>: Son aquéllas que te permiten acceder al servicio con unas características predefinidas en función de una serie de criterios, como por ejemplo el idioma, el tipo de navegador a través del cual se accede al servicio, la configuración regional desde donde se accede al servicio, etc.</p>
</li>
<li>
<p><strong>Cookies de análisis</strong>: Son aquéllas que nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios de los servicios prestados.</p>
</li>
<li>
<p><strong>Cookies publicitarias</strong>: Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que se pudieran incluir en nuestra página web.</p>
</li>
<li>
<p><strong>Cookies de publicidad comportamental</strong>: Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada. Gracias a ellas, podemos conocer los hábitos de navegación en internet y mostrarte publicidad relacionada con tu perfil de navegación.</p>
</li>
</ul>
<h2>Cookies que usamos en la web www.biko2.com</h2>
<p>En cumplimiento con lo establecido en el artículo 22.2 de la Ley de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI) y en adecuación con la Directiva Europea 2009/136/CE, BIKO le informa y usted presta su consentimiento para la utilización de cookies en nuestra web por la mera navegación por la misma.</p>
<h3>Cookies Analíticas</h3>
<p>Le informamos que empleamos cookies de análisis. La principal aplicación que utilizamos para obtener y analizar la información de la navegación es: Google Analytics: <a href="https://www.google.com/analytics/">www.google.com/analytics/</a> y <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a> que es un servicio prestado por Google Inc, un compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”).</p>
<p>Google Analytics utiliza “cookies”, que son archivos de texto ubicados en su ordenador, para ayudar al website a analizar el uso que hacen los usuarios del sitio web. La información que genera la cookie acerca de su uso del website (incluyendo su dirección IP) será directamente transmitida y archivada por Google en sus servidores. Google usará esta información por cuenta nuestra con el propósito de seguir la pista de su uso del website, recopilando informes de la actividad del website y prestando otros servicios relacionados con la actividad del website y el uso de Internet. Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google. Google no asociará su dirección IP con ningún otro dato del que disponga Google.</p>
<p>Google Analytics es una herramienta sencilla y fácil de usar que ayuda a los propietarios de sitios web a medir cómo interactúan los usuarios con el contenido del sitio. Cuando un usuario navega por las páginas de un sitio web, Google Analytics proporciona al propietario de dicho sitio etiquetas JavaScript (bibliotecas) para registrar la información sobre la página que ha visto un usuario, por ejemplo, la URL de la página. Las bibliotecas JavaScript de Google Analytics usan cookies HTTP para “recordar” lo que ha hecho un usuario en páginas o en interacciones con el sitio web anteriores.</p>
<p>Google Analytics admite dos bibliotecas JavaScript (etiquetas) para medir el uso de los sitios web: analytics.js y ga.js.</p>
<p>La biblioteca JavaScript analytics.js forma parte de Universal Analytics y usa una sola cookie de origen que contiene un identificador anónimo para diferenciar a los usuarios.<br>
De forma predeterminada, esta biblioteca configura las cookies en el dominio de nivel superior, excluyendo el primer punto, y configura la ruta de la cookie en el nivel raíz (/).</p>
<p>Esta biblioteca configura las siguientes cookies:</p>
<table>
<tbody>
<tr>
<th>Nombre de la cookie</th>
<th>Duración</th>
<th>Descripción</th>
</tr>
<tr>
<td>_ga</td>
<td>2 años</td>
<td>Se usa para distinguir a los usuarios</td>
</tr>
<tr>
<td>_gid</td>
<td>24 horas</td>
<td>Se usa para distinguir a los usuarios</td>
</tr>
<tr>
<td>_gat</td>
<td>1 minuto</td>
<td>Se usa para limitar el porcentaje de solicitudes. Si Google Analytics está implementado desde Tag Manager, la cookie se llama _dc_gtm_</td>
</tr>
</tbody>
</table>
<h3>Cookies publicitarias</h3>
<p>También empleamos cookies publicitarias como la cookie “IDE” de Doubleclick. Doubleclick usa cookies para mejorar la publicidad. Suelen utilizarse para orientar la publicidad según el contenido que es relevante para un usuario, mejorar los informes de rendimiento de la campaña y evitar mostrar anuncios que el usuario ya haya visto. El ID de cada cookie de Doubleclick es esencial para estas aplicaciones. Por ejemplo, Doubleclick usa el ID de cookie para llevar un registro de los anuncios que se muestran en cada navegador. A la hora de publicar un anuncio en un navegador, Doubleclick puede usar el ID de cookie de dicho navegador para comprobar los anuncios de Doubleclick que ya se han publicado en él. Así es como Doubleclick evita publicar anuncios que el usuario ya ha visto. De la misma forma, los ID de cookie permiten que Doubleclick registre las conversiones relacionadas con las impresiones de anuncios, como, por ejemplo, cuando un usuario ve un anuncio de Doubleclick y, posteriormente, usa el mismo navegador para visitar el sitio web del anunciante y realizar una compra. Las cookies de Doubleclick no contienen información de identificación personal. En ocasiones, la cookie contiene un identificador adicional que se parece al ID de cookie. Este identificador se emplea para identificar una campaña publicitaria a la que un usuario se ha expuesto anteriormente; pero Doubleclick no guarda información de identificación personal en la cookie.</p>
<p>Doubleclick envía una cookie al navegador después de cualquier impresión, clic u otra actividad cuyo resultado sea una llamada al servidor de Doubleclick. Si el navegador acepta la cookie, esta se almacena en él. Lo más habitual es que Doubleclick envíe una cookie al navegador cuando un usuario visita una página que muestra anuncios de Doubleclick. Las páginas con anuncios de Doubleclick incluyen etiquetas de anuncio que indican a los navegadores que soliciten contenido de anuncio al servidor de anuncios de Doubleclick. Cuando el servidor entrega el contenido de anuncio, también envía una cookie. No obstante, una página no tiene que mostrar anuncios de Doubleclick para que esto ocurra, tan solo necesita incluir etiquetas de anuncio de Doubleclick, lo que podría cargar un sistema de registrador de clics o un píxel de impresión en su lugar.</p>
<p>La cookie de Doubleclick es una cookie terceros que está asociada con Doubleclick.net, el dominio de Doubleclick. Cuando un navegador visita un sitio que muestra anuncios de Doubleclick, el navegador no está en un sitio del dominio de Doubleclick. De este modo, el servidor de Doubleclick se convierte en un servidor de terceros, por lo que las cookies que envía el servidor en este contexto se denominan cookies de terceros.</p>
<h3>Cookies de Youtube</h3>
<p>En nuestra web, usted podrá ver vídeos alojados en el proveedor de videos en streaming Youtube ® de la compañía Youtube LLC, compañía domiciliada en el número 901 de Cherri Avenue, San Bruno, California, CA 94066, Estados Unidos, incluida dentro del grupo empresarial de Google. Al acceder a esta sección de nuestra web y reproducir el vídeo se le instalaran las cookies de Youtube ®. Google establece un número de cookies en cualquier página que incluye un video de Youtube. Dado que son cookies de tercero, Biko no tiene control sobre las cookies de Google, que incluyen una mezcla de fragmentos de información para medir el número y el comportamiento de los usuarios de Youtube, incluida la información que vincule sus visitas a nuestro sitio web con su cuenta de Google si se ha identificado el usuario con su cuenta google. La información sobre su uso en nuestro sitio web, incluyendo su dirección IP, puede ser transmitida a Google y almacenada en sus servidores, si bien, ello no le identifica personalmente a menos que usted haya iniciado sesión en Google, en cuyo caso está vinculado a su cuenta de Google.</p>
<p>Además, al reproducir el vídeo Google instala otras cookies publicitarias denominadas “id”, “DSID” e “IDE” que se almacenan en el dominio doubleclick.net cuyo objetivo es mostrarle anuncios relacionados con las preferencias de su navegación.</p>
<p>Si usted no desea que los datos sobre su sesión sean recopilados por este sitio web, modifique las opciones de seguridad y privacidad de su navegador, como indicamos más adelante en el apartado 4 de la presente política de cookies.</p>
<h3>Cookies usadas por redes sociales</h3>
<p>En cuarto lugar, empleamos cookies de complemento (plug-in) para intercambiar contenido de en redes sociales como Facebook® o Twitter ® Linkedin ® o Instagran ®. Si pinchas con el ratón en el icono de esta red social, podrás acceder a nuestra página-perfil en la misma y acceder a la información que compartimos. Estos complementos almacenan y acceden a cookies en el equipo terminal usuario que permiten a la red social identificar a sus miembros mientras estos interactúan con los complementos. Por ello debes saber que si navegas por nuestra página estando identificado en la correspondiente red social tienes que tener en cuenta que, si compartes contenido de esta web con amigos a través de la red social, o publicas contenido en nuestra página-perfil de dicha red social, recibirás cookies de su sitio web. No podemos controlar los ajustes de las cookies de terceros, por lo que te sugerimos que compruebes los sitios web de dichos terceros para obtener más información sobre sus cookies y cómo gestionarlas.</p>
<p><a href="https://www.facebook.com/policies/cookies/" target="_blank" rel="noopener">Política de cookies de Facebook</a><br>
<a href="https://help.twitter.com/es/rules-and-policies/twitter-cookies" target="_blank" rel="noopener">Política de cookies de Twitter</a><br>
<a href="https://www.linkedin.com/legal/cookie-policy?_l=es_ES" target="_blank&quot;">Política de cookies de Linkedin</a><br>
<a href="https://es-la.facebook.com/help/instagram/155833707900388/" target="_blank&quot;">Política de cookies de Instagram</a></p>
<h3>Cookies técnicas</h3>
<p>Finalmente, este sitio web emplea cookies técnicas para el funcionamiento de la web, concretamente para determinar si el usuario ha aceptado el uso de cookies, guardar sus compras, permitir la autenticación de su identidad y orientadas a la seguridad del sitio web, protegiéndonos de hacks y malware La desactivación de estas cookies mediante el bloqueo de las cookies puede impedir el correcto funcionamiento de algunas funcionalidades de la web.</p>
<h2>¿Cómo puedo configurar o deshabilitar las cookies?</h2>
<p>Para permitir, conocer, bloquear o eliminar las cookies instaladas en tu equipo puedes hacerlo mediante la configuración de las opciones del navegador instalado en su ordenador. Por ejemplo, puedes encontrar información sobre cómo hacerlo en el caso que uses como navegador:</p>
<p><a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank" rel="noopener">Firefox</a><br>
<a href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647" target="_blank" rel="noopener">Chrome</a><br>
<a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" target="_blank" rel="noopener">Explorer</a><br>
<a href="http://support.apple.com/kb/ph5042" target="_blank" rel="noopener">Safari</a><br>
<a href="http://support.apple.com/kb/HT1677" target="_blank" rel="noopener">Safari para iOs</a><br>
<a href="https://support.google.com/chrome/answer/2392971?hl=es" target="_blank" rel="noopener">Chrome para Android</a></p>
<p>BIKO se exonera de responsabilidad del uso y finalidades que pueda realizar Google Inc. sobre los datos obtenidos mediante este proceso. Puede consultar la política de privacidad de Google en el siguiente enlace <a href="https://policies.google.com/privacy?hl=es" target="_blank" rel="noopener">https://policies.google.com/privacy?hl=es</a>. Por otra parte, si quieres no ser rastreado por Google Analytics a través de todas las páginas web, ve al siguiente link: <a href="http://tools.google.com/dlpage/gaoptout" target="_blank" rel="noopener">http://tools.google.com/dlpage/gaoptout</a>.</p>
<p>Si necesita mayor información acerca del funcionamiento de las cookies, así como la forma de eliminarlas, puede dirigirte a los siguientes enlaces:</p>
<p><a href="https://es.wikipedia.org/wiki/Cookie_(inform%C3%A1tica)" target="_blank" rel="noopener">Entrada en la Wikipedia sobre las cookies</a>.<br>
<a href="http://www.allaboutcookies.org/es/" target="_blank" rel="noopener">www.allaboutcookies.org</a></p>
<table>
<caption>Relación de cookies empleadas en el dominio www.biko2.com</caption>
<p>COOKIES DE TERCEROS</p>
<tbody>
<tr>
<th>Servidor desde el que se envía</th>
<th>Nombre</th>
<th>Proveedor</th>
<th>Finalidad</th>
<th>Caducidad</th>
<th>¿Excluida del deber de la información y consentimiento?</th>
</tr>
<tr>
<td>.biko2.com</td>
<td>_ga</td>
<td>Google Analytics</td>
<td>
Analítica (servicio Google Analytics): Se usa para distinguir a los usuarios. Utilizamos cookies de Google Analytics embebidas en nuestro sitio web para recopilar información acerca de cómo los visitantes navegan en nuestro sitio web. Utilizamos la información para elaborar informes y ayudar a mejorar el sitio. Las cookies recopilan información de forma anónima, incluyendo el número de visitantes, de donde vienen y las páginas que han visitado en nuestra web.
</td>
<td>Persistente (2 años)</td>
<td>No</td>
</tr>
<tr>
<td>.biko2.com</td>
<td>_gid</td>
<td>
Google Analytics
</td>
<td>Analítica (servicio Google Analytics): Se usa para distinguir a los usuarios. Utilizamos cookies de Google Analytics embebidas en nuestro sitio web para recopilar información acerca de cómo los visitantes navegan en nuestro sitio web. Utilizamos la información para elaborar informes y ayudar a mejorar el sitio. Las cookies recopilan información de forma anónima, incluyendo el número de visitantes, de donde vienen y las páginas que han visitado en nuestra web.<br>
Analítica (servicio Google Analytics): Se usa para limitar el porcentaje de solicitudes. Utilizamos cookies de Google Analytics embebidas en nuestro sitio web para recopilar información acerca de cómo los visitantes navegan en nuestro sitio web. Utilizamos la información para elaborar informes y ayudar a mejorar el sitio. Las cookies recopilan información de forma anónima, incluyendo el número de visitantes, de donde vienen y las páginas que han visitado en nuestra web.</td>
<td>Persistente (1 día)</td>
<td>No</td>
</tr>
<tr>
<td>.biko2.com</td>
<td>_gat_UA-576717-1</td>
<td>Google Analytics</td>
<td>Analítica (servicio Google Analytics): Se usa para limitar el porcentaje de solicitudes. Utilizamos cookies de Google Analytics embebidas en nuestro sitio web para recopilar información acerca de cómo los visitantes navegan en nuestro sitio web. Utilizamos la información para elaborar informes y ayudar a mejorar el sitio. Las cookies recopilan información de forma anónima, incluyendo el número de visitantes, de donde vienen y las páginas que han visitado en nuestra web.</td>
<td>Persistente (10 minutos)</td>
<td>Np</td>
</tr>
<tr>
<td>.biko2.com</td>
<td>_gali</td>
<td>Google Analytics</td>
<td>
Cookie empleada para registrar los clics realizados en los distintos enlaces del Sitio Web. Tal información se encuentra disociada.
</td>
<td>Persistente (10 minutos)</td>
<td>No</td>
</tr>
<tr>
<td>.doubleclick.net</td>
<td>IDE</td>
<td>DoubleClick</td>
<td>
Cookie de DoubleClick, que es utilizado por Google AdSense para grabar y producir informes sobre las acciones del usuario en el sitio web después de ver o hacer clic en uno de los anunciantes de publicidad con el fin de medir la efectividad de la publicidad y la presentación de los anuncios dirigidos al usuario.
</td>
<td>Persistente (dos años)</td>
<td>No</td>
</tr>
<tr>
<td>youtube.com</td>
<td>VISITOR_INFO1_LIVE</td>
<td>Youtube</td>
<td>
Almacenar la estimación del ancho de banda de cada video de youtube.com reproducido
</td>
<td>Persistente (8 meses)</td>
<td>No</td>
</tr>
<tr>
<td>.youtube.com</td>
<td>YSC</td>
<td>Youtube</td>
<td>
Contiene un identificador único para permitir el control de visitas a videos de Youtube.
</td>
<td>Sesión</td>
<td>No</td>
</tr>
<tr>
<td>.youtube.com</td>
<td>PREF</td>
<td>Youtube</td>
<td>
Gestión de Publicidad: Google utiliza cookies, como las cookies PREF, NID y SID, para poder personalizar los anuncios que se muestran en los servicios de Google. Utilizamos esas cookies, por ejemplo, para recordarte tus búsquedas más recientes, tus interacciones anteriores con los resultados de búsqueda o con la publicidad de un anunciante y tus visitas al sitio web de un anunciante. De ese modo, podemos mostrarte anuncios personalizados en Google.
</td>
<td>Persistente (2 años)</td>
<td>No</td>
</tr>
<tr>
<td>drip.com</td>
<td>_drip_client</td>
<td>Drip</td>
<td>Utilizada para envío de formularios y solicitudes de información.</td>
<td>Persistente (2 años)</td>
<td>No</td>
</tr>
</tbody>
</table>

<table>
<caption>Cookies propias</caption>

<tbody><tr>
<th>Servidor desde el que se envía</th>
<th>Nombre</th>
<th>Finalidad</th>
<th>Caducidad</th>
<th>¿Excluida del deber de la información y consentimiento?</th>
</tr>
<tr>
<td>biko2.com</td>
<td>EU_cookie_law_consent</td>
<td>Cookie técnica usada pare detectar si el usuario ha aceptado la instalación de cookies.</td>
<td>Persistente (1 mes)</td>
<td>Sí</td>
</tr>
<tr>
<td>biko2.com</td>
<td>io</td>
<td>
Esta cookie es usada por el lenguaje de encriptado PHP para permitir que las variables de SESIÓN sean guardadas en el servidor web.
</td>
<td>De sesión</td>
<td>Sí</td>
</tr>
<tr>
<td>biko2.com</td>
<td>_hjIncludedInSample</td>
<td>
Esta cookie es usada por el lenguaje de encriptado PHP para permitir que las variables de SESIÓN sean guardadas en el servidor web.
</td>
<td>Persistente (3 meses)</td>
<td>Sí</td>
</tr>
<tr>
<td>biko2.com</td>
<td>_hjid</td>
<td>
Esta cookie es usada por el lenguaje de encriptado PHP para permitir que las variables de SESIÓN sean guardadas en el servidor web.
</td>
<td>Persistente (11 meses)</td>
<td>Sí</td>
</tr>
</tbody>
</table>

<table>
<caption>Cookies propias del Blog</caption>

<tbody><tr>
<th>Servidor desde el que se envía</th>
<th>Nombre</th>
<th>Finalidad</th>
<th>Caducidad</th>
<th>¿Excluida del deber de la información y consentimiento?</th>
</tr>
<tr>
<td>biko2.com</td>
<td>cookielawinfo-checkbox-necessary</td>
<td>Cookie técnica usada pare detectar si se ha mostrado el mensaje de las cookies.</td>
<td>De sesión</td>
<td>Sí</td>
</tr>
<tr>
<td>biko2.com</td>
<td>cookielawinfo-checkbox-non-necessary</td>
<td>Cookie técnica usada pare detectar si se ha mostrado el mensaje de las cookies.</td>
<td>Persistente (1 año)</td>
<td>Sí</td>
</tr>
<tr>
<td>biko2.com</td>
<td>viewed_cookie_policy</td>
<td>Cookie técnica usada pare detectar si el usuario ha aceptado la instalación de cookies.</td>
<td>Persistente (1 año)</td>
<td>Sí</td>
</tr>
</tbody>
</table>

<p><em><strong>NOTA</strong>: Es voluntad de la BIKO mantener esta lista actualizada en todo momento, pero ante una actualización de cookies por parte de un tercero ajeno a la misma, ocasionalmente durante esta actualización puede ser que la lista no incluya una cookie instalada, aunque siempre se referirá a cookies con propósitos idénticos a los registrados en esta lista.</em></p>


</div>
</div>
</div>
</section>

{% endblock %}
