{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--educo text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-sm letter-base font-400 color-grayextradark">EDUCO</p>
          <h1 class="title-hero mb-4">
          Apostar por las personas
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(y sentir orgullo)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-6">
              <p>Educo, ONG comprometida con el bienestar infantil, acudió a nosotros con el objetivo de aumentar la cantidad de donaciones y la captación de socios. Nosotros lo tuvimos claro:<strong> mejorar la arquitectura</strong> de la página para conseguir unos flujos de navegación más intuitivos. Y no olvidar el fin principal: <strong>ayudar</strong>. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-6 title-slim-6xl u-strong-red">Nos enfocamos en la <strong>conceptualización</strong> y el <strong>storytelling</strong> del proyecto para crear un nuevo producto con más capacidades y opciones.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3 col-lg-2 mb-4 mb-md-0">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Educo</li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2 mb-4 mb-md-0">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UX </li>
          <li class="u-list-none mb-0">Storytelling</li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2 mb-4 mb-md-0">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Diseño
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UI</li>
          <li class="u-list-none mb-0">Diseño web</li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2 mb-4 mb-md-0">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">HTML</li>
           <li class="u-list-none mb-0">SASS</li>
            <li class="u-list-none mb-0">JS</li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2 mb-4 mb-md-0">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Web
        </h5>
         <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="https://www.educo.org/#" target="_blank">Educo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line c-separator--line__horizontal"><hr /></div>

<section class="contenedor-secciones">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/educo-desafio.jpg" class="lazyloaded" alt="Persona consultando Becas para Ella en la web de Educo" src="/assets/images/proyectos/educo-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-7xl mb-4">El desafío</h3>
          <p>El gran objetivo que nos plantearon fue poner a su servicio toda nuestra experiencia previa en el <strong>tercer sector</strong> (ONGs) para ayudarles a aumentar el número de donaciones y de nuevos socios a través de sus canales digitales. Tan sencillo como eso y tan retador. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/educo-enfoque.png" class="lazyloaded u-img-fluid" alt="Pantalla móvil con una cita sobre la sección de apadrinamiento"  src="/assets/images/proyectos/educo-enfoque.png">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="title-7xl mb-4">Nuestro enfoque</h3>
        <p>Repensar su web y su proceso de donación de arriba a abajo. Trabajamos un <strong>diseño más actual</strong> para el site y el área privada, basado en una arquitectura más sencilla para facilitar la navegación. El objetivo: una mejor estructura, tanto visual como funcional, para aumentar el número de donaciones y de nuevos socios.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-4 mb-md-5">
        <div class="col-12 col-lg-10">
          <p class="mb-5 mb-md-7 title-slim-6xl u-strong-red">Apostar por el diseño, el storytelling y la arquitectura del site para conseguir los objetivos
        </p>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="d-flex flex-column">
          <h3 class="title-7xl mb-4">
              Producto final
            </h3>
            <p>Conseguimos una web atractiva con un <strong>storytelling personalizado</strong> y estructurado según los flujos de navegación, que facilitan el proceso de donación de los usuarios. Para ello, realizamos la conceptualización del proyecto a nivel de negocio y UX, para después prototipar y maquetar los componentes de su CMS. Por último formamos al equipo de Educo para que pudieran crear páginas y gestionar la plataforma de forma independiente.  </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/educo-producto-final-1.png" class="lazyloaded u-img-fluid" alt="Pantalla móvil de la página de la Educo sobre las donaciones para las becas de comedor" src="/assets/images/proyectos/educo-producto-final-1.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div>
            <img data-src="/assets/images/proyectos/educo-producto-final-2.jpg" class="lazyloaded u-img-fluid" alt="Pantalla de la página de la Escuela Superior de Música Reina Sofía" src="/assets/images/proyectos/educo-producto-final-2.jpg">
          </div>
        </div>
        <div class="col-md-12 col-lg-6 d-flex c-bg-pattern c-bg-pattern__rigth">
          <div class="d-flex">
            <div class="d-flex align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <h4 class="title-2xl decoration-red pt-2 mb-3">Para saber más:</h4>
                     <a href="https://www.educo.org/#" target="_blank">
                    <span class="c-link-especial">
                      Educo
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">
          Para construir un proyecto de estas características hemos tenido que recurrir a esta combinación de herramientas:
        </p>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('sketch')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
             Sketch e Invision
            </h4>
            <p>
            Para la ideación, creación y construcción de los diseños.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('html')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              HTML, SASS y JS
            </h4>
            <p>
            Para la maquetación del esqueleto de la web y la construcción de las animaciones.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="c-texto--center">
          <h2 class="title-7xl mb-4">
            ¿Tienes alguna duda sobre este proyecto?<br>¿Te gustaría ver otros similares?
          </h2>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container d-flex flex-row justify-content-center py-6">
    <a class="action-up color-blue d-flex flex-column align-items-center decoration-none" href="#top">
        <svg class="icon-up mb-4">
            <use xlink:href="/assets/svg/sprite/sprite.svg#arrow-slim"></use>
        </svg>
        <span class="text-uppercase color-blue text-sm letter-base font-400">Subir</span>
    </a>
</div>
{% include "@includes/contact.twig" %}
{% endblock %}
