{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--familiados text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-familiados.svg" class="mb-3" alt="Logotipo Familiados" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">LABORAL KUTXA</p>-->
          <h1 class="title-hero mb-4">
          Marketplace para el cuidado de personas
          </h1>

          <p class="font-secondary text-3xl color-red-middle mb-4">(encuentra a la persona que necesitas, y quédate tranquilo)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <p class="text-2xl line-2xl mb-0">Plataforma que pone en contacto a familiares de personas enfermas, o dependientes, con cuidadores profesionales. Proyecto llave en mano en la que Biko se encargó de todo el proceso: definición, diseño y desarrollo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque entradilla-->
<section class="mb-4 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Una web orientada al servicio de clientes y profesionales, <strong>preparada para captar y gestionar leads.</strong></p>
      </div>
    </div>
  </div>
</section>
<!--Bloque datos-->
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Familiados</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">UX <span class="color-red">+</span> Storytelling</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI <span class="color-red">+</span> Diseño web</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Symfony <span class="color-red">+</span> React <span class="color-red">+</span> React Native <span class="color-red">+</span> Drip (autom. marketing)</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://familiados.com/" target="_blank">Familiados</a></div>
          </div>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line c-separator--line__horizontal" style="overflow: hidden;"><hr /></div>

<section class="contenedor-secciones mb-md-7 mb-lg-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/familiados-desafio" class="lazyloaded" alt="Portada Web Familiados" src="/assets/images/proyectos/familiados-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-6xl mb-4">El desafío</h3>
          <p class="mb-0">Acompañar a una prometedora startup a dar forma a su proyecto y orientarles sobre cómo construir un sólido equipo de desarrollo.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-xl-7">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4 mb-md-0">
        <img data-src="/assets/images/proyectos/familiados-enfoque" class="lazyloaded u-img-fluid" alt="Familiados captura de pantalla" src="/assets/images/proyectos/familiados-enfoque.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>Familiados, una <strong>plataforma online donde cuidadores profesionales ofrecen sus servicios</strong>, acudió a nosotros desde su etapa más primigenia para dar forma tanto a su proyecto de negocio como a su equipo de desarrollo.  </p>
          <p>Desarrollamos la tecnología conjuntamente con el equipo de IT de la entidad; la capa de front-end con <strong>Angular JS con SASS</strong> durante los 2 primeros años de desarrollo y <strong>React con Styled Components</strong> desde entonces. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-6">
          <p>A lo largo de su viaje, les hemos acompañado para ayudarles a construir los principales activos en su presencia digital. Así, llevamos a cabo distintos <strong>talleres de ideación</strong> y definición de manera conjunta, para posteriormente plasmar las principales conclusiones en el <strong>prototipado UX.</strong> </p>
          <p>
          Era una startup en la que pueden cambiar los requisitos, trabajamos sobre un mínimo producto viable en cuanto a <strong>funcionalidades que iban evolucionando según los análisis y las métricas.</strong></p>
          <p>
          Para construir el proyecto, nos hemos valido de Symfony y hemos frontalizado en React. En el transcurso del proyecto se vio la necesidad de lanzar una app, para lo que nos servimos de React Native con un webview de la web.
           </p>
      </div>
      <div class="col-12 col-xl-6">
          <p>Otro punto de foco importante fue acompañar al equipo de Familiados a conformar su propio equipo de desarrollo, de tal manera que pudiéramos traspasar de primera mano nuestra <strong>cultura agile.</strong> </p>
          <p>
          Además, a lo largo del proyecto pudimos arrancar mano a mano un proyecto de <strong>automatización de marketing</strong> centrado en obtener todo el potencial en <strong>captación y gestión de leads utilizando la herramienta Drip</strong>. Les acompañamos en la identificación y selección de la herramienta, así como en los primeros pasos de su implementación, flujos, etiquetado, etc</p>
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
          <p class="title-slim-6xl u-strong-red mb-md-6">
          Para <strong>cubrir y dar respuesta</strong> a las distintas necesidades, hemos optado por <strong>estas herramientas</strong>:
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('symfony')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Symfony
            </h4>
            <p>
              Como framework de programación php.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              React
            </h4>
            <p>
              Apostamos por React por la estabilidad y la versatilidad que proporciona frente a otros frameworks.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              React Native
            </h4>
            <p>
              Para el lanzamiento de una app con un webview de la web.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drip')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drip
            </h4>
            <p>
            Para la automatización de marketing centrado en la captación y gestión de leads.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p class="mb-5 mb-md-5 mb-lg-0">
          Una web orientada al servicio de clientes y profesionales, preparada para captar y gestionar leads y con una aplicación móvil complementaria disponible tanto en iOS como en Android.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/familiados-final" class="lazyloaded u-img-fluid" alt="Portada de diseño de Familiados" src="/assets/images/proyectos/familiados-final.jpg">
      </div>
    </div>
  </div>
</section>
<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-md-2xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://familiados.com/" target="_blank" alt="Visitar la web de Familiados"><span class="c-link"> Familiados</span></a></p>
      </div>
    </div>
  </div>
</section>

{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
