<section class="mb-4 mb-md-7">
  <div class="container">
    <div Class="row">
      <div class="col-12 col-md-10 col-lg-12">
        <h2 class="title-6xl mb-4 mb-md-5">
          Qué dicen nuestros alumnos
        </h2>
      </div>
    </div>
    <!-- alumnos de la segunda edicion -->
    <div class="row">
      <div class="col-12 mb-3 text-sm">
        <span class="text-uppercase text-uppercase letter-base font-400 color-grayextradark">
          Alumnos de la 2ª edición
        </span>
      </div>
      <div class="col-12">
        <div class="c-separator--line c-separator--line__horizontal mt-0 mb-md-5">
          <hr />
        </div>
      </div>
      <div class="container">
        <!-- testimonio 1 -->
        <div class="row">
          <div class="col-12 col-md-3 col-xl-2 offset-xl-2 text-center">
            <img data-src="/assets/images/bikoschool/testimonial-yaiza-alvarez"
              src="/assets/images/bikoschool/testimonial-yaiza-alvarez.png"
              alt="Foto de Yaiza Alvarez"
              class="lazyloaded mb-2" />
            <div class="mb-4 mt-2 text-center">
              <a href="https://www.linkedin.com/in/yaiza-%C3%A1lvarez-cubillo-a70373131/"
                class="mx-2"
                target="_blank"
                alt="Ir al Linkedin de Yaiza Alvarez">
                <svg class="icon fill-blue fill-hover-red">
                  <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="col-12 col-md-8 ml-md-3 col-xl-6 mb-4">
            <p class="text-2xl line-2xl text-md-4xl line-md-3xl font-light u-strong-red mb-5">
              <i>
                "La cercanía y profesionalidad del profesorado han logrado que
                quiera dedicarme al desarrollo de software".
              </i>
            </p>
            <div class="mb-5">
              <p class="decoration-red text-base pt-2 font-bold mb-1">
                Yaiza Alvarez
              </p>
              <p class="text-base mb-2 color-bluesoft font-400 color-gray-dark mb-1">
                PhD Student | Colaboradora de proyecto en Universidad Pública de
                Navarra
              </p>
              <p class="font-secondary mb-4 color-red">
                (Yaiza aplico los conocimientos adquiridos en la Bikoschool en
                su proyecto de investigación y además los compartió con
                nosotros/as en la última edición del Open Space de Biko).
              </p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="c-separator--line c-separator--line__horizontal mt-0 mb-md-5">
            <hr />
          </div>
        </div>
        <!-- testimonio 2 -->
        <div class="row">
          <div class="col-12 col-md-3 col-xl-2 offset-xl-2 text-center">
            <img data-src="/assets/images/bikoschool/testimonial-javier-iturri"
              src="/assets/images/bikoschool/testimonial-javier-iturri.png"
              alt="Foto de Javier Iturri"
              class="lazyloaded mb-4" />
            <div class="mb-4 mt-2 text-center">
              <a href="https://www.linkedin.com/in/javier-iturri-perez-de-albeniz/"
                class="mx-2"
                target="_blank"
                alt="Ir al Linkedin de Javier Iturri">
                <svg class="icon fill-blue fill-hover-red">
                  <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="col-12 col-md-8 ml-md-3 col-xl-6 mb-4">
            <p class="text-2xl line-2xl text-md-4xl line-md-3xl font-light u-strong-red mb-5">
              <i>
                "La BikoSchool fue el trampolín perfecto para mi reciclaje
                profesional hacia el mundo del desarrollo de software".
              </i>
            </p>
            <div class="mb-5">
              <p class="decoration-red text-base pt-2 font-bold mb-1">
                Javier Iturri
              </p>
              <p class="text-base mb-2 color-bluesoft font-400 color-gray-dark mb-1">
                Desarrollador web en Biko
              </p>
              <p class="font-secondary mb-4 color-red">
                (Javier se quedó con nosotros/as después de realizar el curso).
              </p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="c-separator--line c-separator--line__horizontal mt-0 mb-md-5">
            <hr />
          </div>
        </div>
        <!-- testimonio 3 -->
        <div class="row">
          <div class="col-12 col-md-3 col-xl-2 offset-xl-2 text-center mb-3 mb-md-6">
            <img data-src="/assets/images/bikoschool/testimonial-endika-orube"
              src="/assets/images/bikoschool/testimonial-endika-orube.png"
              alt="Foto de Enrika Orube"
              class="lazyloaded mb-4" />
            <div class="mb-4 mt-2 text-center">
              <a href="https://www.linkedin.com/in/endikaorube/"
                class="mx-2"
                target="_blank"
                alt="Ir al Linkedin de Enrika Orube">
                <svg class="icon fill-blue fill-hover-red">
                  <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="col-12 col-md-8 ml-md-3 col-xl-6 mb-4">
            <p class="text-2xl line-2xl text-md-4xl line-md-3xl font-light u-strong-red mb-5">
              <i>
                "Un curso totalmente recomendado para cualquier persona que esté
                interesada en hacer software de calidad".
              </i>
            </p>
            <div class="mb-5">
              <p class="decoration-red text-base pt-2 font-bold mb-1">
                Endika Orube
              </p>
              <p class="text-base mb-2 color-bluesoft font-400 color-gray-dark mb-1">
                Frontend Web Developer en Biko
              </p>
              <p class="font-secondary mb-4 color-red">
                (Endika se quedó con nosotros/as después de realizar el curso).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- alumnos de la primera edicion -->
    <div class="row">
      <div class="col-12 mb-3 text-sm">
        <span class="text-uppercase text-uppercase letter-base font-400 color-grayextradark">
          Alumnos de la 1ª edición
        </span>
      </div>
      <div class="col-12">
        <div class="c-separator--line c-separator--line__horizontal mt-0 mb-md-5">
          <hr />
        </div>
      </div>
      <div class="container">
        <div class="row">
          <!-- testimonio 1 -->
          <div class="col-12 col-lg-4">
            <div class="mb-4 mt-2 text-center">
              <img data-src="/assets/images/bikoschool/testimonial-circle-2"
                src="/assets/images/bikoschool/testimonial-circle-2.png"
                alt="Foto de Miguel Echávarri"
                class="lazyloaded mb-2" />
            </div>
            <div class="mb-4 mt-2 text-center">
              <a href="https://www.linkedin.com/in/miguel-ech%C3%A1varri-pomares/"
                class="mx-2"
                target="_blank"
                alt="Ir al Linkedin de Miguel Echávarri">
                <svg class="icon fill-blue fill-hover-red">
                  <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                </svg>
              </a>
            </div>
            <p class="mb-4">
              <i>
                “La BikoSchool fue un punto de inflexión en mi desarrollo y
                mejora como Software Developer.”
              </i>
            </p>
            <div class="mb-5">
              <p class="decoration-red text-base pt-2 font-bold mb-1">
                Miguel Echávarri
              </p>
              <p class="text-base mb-2 color-bluesoft font-400 color-gray-dark mb-1">
                Software Developer en Biko
              </p>
              <p class="font-secondary mb-4 color-red">
                (Miguel se quedó con nosotros/as después de realizar el curso).
              </p>
            </div>
          </div>
          <!-- testimonio 2 -->
          <div class="col-12 col-lg-4">
            <div class="mb-4 mt-2 text-center">
              <img data-src="/assets/images/bikoschool/testimonial-circle-3"
                src="/assets/images/bikoschool/testimonial-circle-3.png"
                alt="Foto de Iñigo Huguet"
                class="lazyloaded mb-2" />
            </div>
            <div class="mb-4 mt-2 text-center">
              <a href="https://www.linkedin.com/in/inigo-huguet/"
                class="mx-2"
                target="_blank"
                alt="Ir al Linkedin de Miguel Echávarri">
                <svg class="icon fill-blue fill-hover-red">
                  <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                </svg>
              </a>
            </div>
            <p class="mb-4">
              <i>
                “La BikoSchool fue un punto de inflexión en mi desarrollo y
                mejora como Software Developer”.
              </i>
            </p>
            <div class="mb-5">
              <p class="decoration-red text-base pt-2 font-bold mb-1">
                Iñigo Huguet
              </p>
              <p class="text-base mb-2 color-bluesoft font-400 color-gray-dark mb-1">
                Software Developer en RedHat
              </p>
              <p class="font-secondary mb-4 color-red">
                (Iñigo empezó a trabajar en RedHat poco después de terminar el
                curso).
              </p>
            </div>
          </div>
          <!-- testimonio 3 -->
          <div class="col-12 col-lg-4">
            <div class="mb-4 mt-2 text-center">
              <img data-src="/assets/images/bikoschool/testimonial-circle-1"
                src="/assets/images/bikoschool/testimonial-circle-1.png"
                alt="Foto de Ana Calvo"
                class="lazyloaded mb-2" />
            </div>
            <div class="mb-4 mt-2 text-center">
              <a href="https://www.linkedin.com/in/ana-calvo-monreal-4a910016b/"
                class="mx-2"
                target="_blank"
                alt="Ir al Linkedin de Miguel Echávarri">
                <svg class="icon fill-blue fill-hover-red">
                  <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                </svg>
              </a>
            </div>
            <p class="mb-4">
              <i>
                “La BikoSchool fue un punto de inflexión en mi desarrollo y
                mejora como Software Developer”.
              </i>
            </p>
            <div class="mb-5">
              <p class="decoration-red text-base pt-2 font-bold mb-1">
                Ana Calvo
              </p>
              <p class="text-base mb-2 color-bluesoft font-400 color-gray-dark mb-1">
                Software Developer en Biko
              </p>
              <p class="font-secondary mb-4 color-red">
                (Ana se quedó con nosotros/as después de realizar el curso).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
