{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--tagliatella text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-2xl letter-base font-400">LA TAGLIATELLA</p>
          <h1 class="title-hero mb-4">
          Hablamos tu idioma
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(gastronómica y digitalmente)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <p class="text-md-2xl line-md-2xl">Quisimos que la web mantuviera el detalle y la esencia propios de la estética de los restaurantes físicos, para ello nos centramos en crear una web multisite y multiidioma con una gestión de contenidos modulable y flexible; sin dejar de pensar en la personalidad del cliente.              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla-->
<section class="mb-4 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Una <strong> única plataforma</strong>  para la gestión de 5 sites de manera <strong> sencilla y flexible</strong>.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque datos-->
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Tagliatella</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">UX</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Drupal</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://www.latagliatella.es/" target="_blank">La Tagliatella</a></div>
          </div>

      </div>
    </div>
  </div>
</section>
<div class="c-separator--line c-separator--line__horizontal"><hr /></div>
<section class="contenedor-secciones mb-md-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/tagliatella-desafio" class="lazyloaded" alt="La Tagliatella" src="/assets/images/proyectos/tagliatella-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-6xl mb-4">El desafío</h3>
          <p class="mb-0">En este caso, el punto de partida era crear una experiencia digital que trasladase a los usuarios los <strong>valores</strong> de la marca de La Tagliatella. Por ello, desde el primer momento centramos todos los esfuerzos en crear un site que llevara a la web la experiencia de visita física a cualquiera de los restaurantes.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/tagliatella-enfoque" class="lazyloaded u-img-fluid" alt="La Tagliatella pantalla de móvil" src="/assets/images/proyectos/tagliatella-enfoque.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>Aprovechando toda la potencia de Drupal 8, el objetivo era desarrollar un gestor de contenidos que aportase todas las funcionalidades tanto para la creación de contenidos como para los usuarios.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-mockup mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-6 mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 d-flex align-items-center order-md-2 order-xl-1">
        <div class="c-mockup-descripcion">
          <div>
            <p>
            Desarrollamos un Drupal <strong>multisite y multiidioma</strong> que permite unificar la gestión de contenidos para la publicación simultáneamente en varios sites. El sistema de gestión de landings por idiomas basado en componentes facilita también la <strong>personalización de contenidos</strong>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block order-xl-2">
            <img data-src="/assets/images/proyectos/tagliatella-imagen-movil-1" class="lazyloaded u-img-fluid" alt="Museo Thyssen-Bornemisza" src="/assets/images/proyectos/tagliatella-imagen-movil-1.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-ml-negativo c-mockup-imagenes-montaje  order-xl-1">
            <img data-src="/assets/images/proyectos/tagliatella-movil-1" class="lazyloaded u-img-fluid" alt="Pantalla coleccion" src="/assets/images/proyectos/tagliatella-movil-1.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div class="c-mockup-descripcion">
          <div>
            <p>
            Un aspecto destacado del desarrollo es el buscador de restaurantes con todas las funcionalidades de geolocalización. Además, la integración con el <strong>CRM</strong> que gestiona las reservas y pedidos completa los servicios que ofrece el site a los usuarios.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/tagliatella-imagen-movil-2" class="lazyloaded u-img-fluid" alt="La Tagiatella pantalla móvil" src="/assets/images/proyectos/tagliatella-imagen-movil-2.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha">
            <img data-src="/assets/images/proyectos/tagliatella-movil-2" class="lazyloaded u-img-fluid" alt="La Tagiatella pantalla móvil" src="/assets/images/proyectos/tagliatella-movil-2.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p>
          Una estructura digital sólida que permite escalar lo que el negocio necesite. Una <strong>única plataforma</strong> para la gestión de 5 sites de manera sencilla y flexible.
          </p>
          <p class="mb-5 mb-md-5 mb-lg-0">
          En definitiva, una experiencia web muy cuidada tanto en diseño como en contenidos.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/tagliatella-producto-final-2-3" class="lazyloaded u-img-fluid" alt="Pantalla La Tagliatella" src="/assets/images/proyectos/tagliatella-producto-final-2-3.jpg">
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
          <p class="title-slim-6xl u-strong-red mb-md-6">
          <strong>Hemos incluido herramientas en la propia gestión de contenidos</strong> que permiten la máxima personalización en función de los dispositivos de los usuarios.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
              Para unificar la gestión de contenidos de varios site y que tienen una publicación simultánea.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-md-2xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://www.latagliatella.es/" target="_blank"><span class="c-link"> la web de La Tagliatella</span></a></p>
      </div>
    </div>
  </div>
</section>


{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
