<section id="proyectos" >

  <div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 mb-4">
            <div class="row no-gutters justify-content-center">
                <div class="col-lg-6 pr-5 pt-5 pb-5 pr-lg-3 pt-lg-3 pb-lg-3 pr-xl-7 pt-xl-7 pb-xl-7">
                  <p class="title-2xl pt-2 mb-3">
                    <span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">
                      NOVEDAD
                    </span>
                  </p>
                  <p class="mb-2">¡No te pierdas el evento de reflexión del año!</p>
                  <h3 class="mb-4 title-2xl line-xl mb-1 text-align-left">Beyond the Insights: “¿Se ha convertido Internet en algo aburrido?”</h3>
                  <div>
                    <p class="mb-0 u-decoration-red pt-2">
                      <strong>6 de octubre de 2023</strong>, Museo Oteiza
                    </p>
                    <p class="font-secondary mb-4 color-red">
                      (Aforo limitado a 100 plazas)
                    </p>
                  </div>
                  <div class="d-flex">
                    <a href="https://beyondtheinsights.biko2.com/" target="_blank"
                          class="c-button c-button__secondary--outline gtm-lead-eventobeyondtheinsights" alt="Acceso a la web del evento Beyond the Insights de Biko">Ver evento</a>
                  </div>
                </div>
                <div class="col-lg-6">
                    <div class="home__img-beyond">
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
