<section class="p-home__clientes" id="proyectos" >

  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 class="title-7xl mb-4">Mucho más que clientes</h2>
        <p class="font-secondary text-3xl color-red mb-4 mb-md-5">(y mucho más que proyectos)</p>
      </div>
      <div class="landing-nav-section__wrap d-none d-xl-inline ">
        <div class="landing-nav-section text-xs color-bluesoft font-400"><span class="line-decoration">Qué hacemos en Biko</span></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 pr-lg-6">
        <h4 class="title-2xl mb-2">En Biko, creemos en las relaciones a largo plazo.</h4>
        <p>La mayoría de nuestros clientes lleva contando con nosotros mucho tiempo. Algunos de ellos incluso se han convertido en grandes compañeros. Sea como fuere, nos encanta conocernos, ponernos cara y charlar antes de comenzar a trabajar.<br />
        Echa un vistazo a algunos de nuestros trabajos.</p>
        </div>
    </div>
  </div>

  <div class="p-home__portfolio pt-4">
    <div class="container">
      <div class="row">

     <div class="c-portfolio-clientes c-bg-unicaja c-bg-portfolio">
          <div class="col-12 col-md-7 col-lg-6">
            <div class="c-porfolio__txtbox">
              <div><img data-src="/assets/images/proyectos/logos/logo-unicaja-banco.png" class="lazyload mb-5" alt="Logo Unicaja Banco" /></div>
              <h4 class="title-2xl mb-2"><span class="bg-multiline">Nuevo frontend, mejor arquitectura técnica</span></h4>
              <p class="text-base line-base"><span class="bg-multiline">Construir un nuevo frontend con React para su banca online definiendo la arquitectura técnica y liderando el desarrollo de la aplicación web.</span></p>
              <p class="text-base line-base"><span class="bg-multiline"><a class="c-link" href="/proyectos/unicaja-banco">Más sobre este proyecto</a></span></p>
            </div>
          </div>
        </div>


      <div class="c-portfolio-clientes c-bg-canal-march c-bg-portfolio c-porfolio-destacado">
        <div class="col-12 col-md-7 col-lg-6">
          <div class="c-porfolio__txtbox">
            <div>
              <div><img data-src="/assets/images/proyectos/logos/logo-canal-march.png" class="lazyload mb-5" alt="Canal March" /></div>
              <h4 class="title-2xl mb-2"><span class="bg-multiline">El Netflix del arte y la cultura en español</span></h4>
              <p class="text-base line-base"><span class="bg-multiline">Audio, vídeo, conciertos, series… un universo de contenido por explorar apto incluso para los paladares más sibaritas.</span></p>
              <p class="text-base line-base"><span class="bg-multiline"><a class="c-link" href="/proyectos/canal-march">Más sobre este proyecto</a></span></p>
            </div>
          </div>
        </div>
      </div>



        <div class="c-portfolio-clientes c-bg-rae c-bg-portfolio">
          <div class="col-12 col-md-7 col-lg-6">
            <div class="c-porfolio__txtbox">
              <div><img data-src="/assets/images/proyectos/logos/logo-rae.svg" class="lazyload mb-5" alt="Real Academia Española" /></div>
              <h4 class="title-2xl mb-2"><span class="bg-multiline">Una institución con más de 300 años de antigüedad</span></h4>
              <p class="text-base line-base"><span class="bg-multiline">Un nuevo site construido desde cero, totalmente responsive, con un diseño auténtico e innovador que permite una gestión de contenidos modulable, sencilla y eficaz.</span></p>
              <p class="text-base line-base"><span class="bg-multiline"><a class="c-link" href="/proyectos/rae">Más sobre este proyecto</a></span></p>
            </div>
          </div>
        </div>



        <div class="c-portfolio-clientes c-bg-aecc c-bg-portfolio">
          <div class="col-12 col-md-7 col-lg-6">
            <div class="c-porfolio__txtbox">
              <div><img data-src="/assets/images/aecc.png" class="lazyload mb-5" alt="AECC - Asociación Española Contra el Cáncer" /></div>
              <h4 class="title-2xl mb-2"><span class="bg-multiline">Reenfocar y rediseñar la experiencia digital al completo</span></h4>
              <p class="text-base line-base"><span class="bg-multiline">Cómo poner a los usuarios y sus necesidades en el centro de toda la estrategia online.</span></p>
              <p class="text-base line-base"><span class="bg-multiline"><a class="c-link" href="/proyectos/aecc">Más sobre este proyecto</a></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <a class="c-button--primary-rounded" href="/proyectos" alt="Enlace a página de proyectos de Biko">Inspírate con más proyectos</a>
  </div>

</section>
