<section id="proyectos" >
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 class="title-6xl mb-3">Mucho más que clientes</h2>
        <p class="font-secondary text-2xl color-red mb-5">(y mucho más que proyectos)</p>
      </div>
      <div class="landing-nav-section__wrap d-none d-xl-inline ">
        <div class="landing-nav-section text-xs color-gray-dark font-400"><span class="line-decoration">Qué hacemos en Biko</span></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 pr-lg-6 mb-5">
        <h4 class="title-2xl mb-2">En Biko, creemos en las relaciones a largo plazo.</h4>
        <p>La mayoría de nuestros clientes lleva contando con nosotros mucho tiempo. Algunos de ellos incluso se han convertido en grandes compañeros. Sea como fuere, nos encanta conocernos, ponernos cara y charlar antes de comenzar a trabajar.<br />
        Echa un vistazo a algunos de nuestros trabajos.</p>
      </div>
    </div>
  </div>

  <div class="container mb-9">
    <div class="row">
        <div class="col-md-10 offset-md-1 mb-4">
            <div class="row no-gutters justify-content-center">
                <div class="col-lg-6 bg-gray-light p-4 p-md-5 pt-md-7 pb-md-7">
                  <p class="mb-2 text-uppercase text-sm letter-base font-400 color-grayextradark">Unicaja Banco</p>
                    <h3 class="title-2xl line-xl mb-1 text-align-left">Nuevo frontend, mejor arquitectura técnica </h3>
                    <p class="text-base line-base pr-0 pr-lg-5">Construir un nuevo frontend con React para su banca online definiendo la arquitectura técnica y liderando el desarrollo de la aplicación web.</p>
                    <div class="d-flex">
                      <a href="/proyectos/unicaja-banco"
                            class="c-button c-button__secondary--outline gtm-lead-unicaja" alt="Acceso a la ficha de proyecto de Unicaja Banco">Ver caso</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="home-gif__img-cliente1">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-md-1 mb-4">
            <div class="row no-gutters justify-content-center">
                <div class="col-lg-6 bg-gray-light p-4 p-md-5 pt-md-7 pb-md-7">
                  <p class="mb-2 text-uppercase text-sm letter-base font-400 color-grayextradark">Canal March</p>
                    <h3 class="title-2xl line-xl mb-1 text-align-left">El Netflix del arte y la cultura en español</h3>
                    <p class="text-base line-base pr-0 pr-lg-5">Audio, vídeo, conciertos, series… un universo de contenido por explorar apto incluso para los paladares más sibaritas.</p>
                    <div class="d-flex">
                      <a href="/proyectos/canal-march"
                            class="c-button c-button__secondary--outline gtm-lead-canal-march" alt="Acceso a la ficha de proyecto de Canal March">Ver caso</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="home-gif__img-cliente2">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-md-1 mb-4">
            <div class="row no-gutters justify-content-center">
                <div class="col-lg-6 bg-gray-light p-4 p-md-5 pt-md-7 pb-md-7">
                  <p class="mb-2 text-uppercase text-sm letter-base font-400 color-grayextradark">Real Academia española</p>
                    <h3 class="title-2xl line-xl mb-1 text-align-left">Una institución con más de 300 años de antigüedad</h3>
                    <p class="text-base line-base pr-0 pr-lg-5">Un nuevo site construido desde cero, totalmente responsive, con un diseño auténtico e innovador que permite una gestión de contenidos modulable, sencilla y eficaz.</p>
                    <div class="d-flex">
                      <a href="/proyectos/rae"
                            class="c-button c-button__secondary--outline gtm-lead-rae" alt="Acceso a la ficha de proyecto de la RAE">Ver caso</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="home-gif__img-cliente3">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-md-1 mb-5 mb-md-6">
            <div class="row no-gutters justify-content-center">
                <div class="col-lg-6 bg-gray-light p-4 p-md-5 pt-md-7 pb-md-7">
                  <p class="mb-2 text-uppercase text-sm letter-base font-400 color-grayextradark">AECC</p>
                    <h3 class="title-2xl line-xl mb-1 text-align-left">Reenfocar y rediseñar la experiencia digital al completo</h3>
                    <p class="text-base line-base pr-0 pr-lg-5">Cómo poner a los usuarios y sus necesidades en el centro de toda la estrategia online.</p>
                    <div class="d-flex">
                      <a href="/proyectos/aecc"
                            class="c-button c-button__secondary--outline gtm-lead-aecc" alt="Acceso a la ficha de proyecto de AECC">Ver caso</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="home-gif__img-cliente4">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <a class="c-button gtm-lead-proyectos"  href="/proyectos" alt="Ir a página de Proyectos de Biko">Inspírate con más proyectos</a>
          </div>
        </div>
      </div>
  </div>
</section>
