<section class="p-home__clientes" id="clientes" >

  <div class="c-title-section c-title-section">Casos de éxito</div>

  <div class="container">
    <div class="row">
      <div class="col-10 col-md-7">
        <h2 class="h-extrahuge">Mucho más que <strong>clientes</strong></h2>
        <p class="c-title--sub">(y mucho más que proyectos)</p>
      </div>
      <div class="offset-lg-1 col-12 col-lg-12 col-xl-8">
        <p class="c-title--pre"><strong>En Biko, creemos en las relaciones a largo plazo.</strong></p>
        <p>La mayoría de nuestros clientes lleva contando con nosotros mucho tiempo. Algunos de ellos incluso se han convertido en grandes compañeros. Sea como fuere, nos encanta conocernos, ponernos cara y charlar antes de comenzar a trabajar.<br /></p>
      </div>
    </div>
  </div>
</section>

<section class="c-casos p-home__casos mt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <h2 class="c-casos__title">Echa un vistazo a algunos de <strong>nuestros trabajos:</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 d-flex justify-content-between flex-wrap">
        <div class="c-casos__box">
          <h3 class="c-casos__box__title">Responsable explotación plataforma e-commerce</h3>
          <p class="c-title--sub c-casos__box__subtitle">(Pamplona)</p>
          <p>Quisque ultricies convallis neque a fermentum. Nunc ut mi ultrices, ultricies odio accumsan, bibendum nisi. In vitae dui eleifend, laoreet erat finibus, placerat sem.</p>
          <div class="d-flex justify-content-center">
            <a href="/unete/responsable-explotacion-ecommerce/" class="c-button c-button--second">Ver oferta</a>
          </div>
        </div>
        <div class="c-casos__box">
          <h3 class="c-casos__box__title">Responsable explotación plataforma e-commerce</h3>
          <p class="c-title--sub c-casos__box__subtitle">(Pamplona)</p>
          <p>Quisque ultricies convallis neque a fermentum. Nunc ut mi ultrices, ultricies odio accumsan, bibendum nisi. In vitae dui eleifend, laoreet erat finibus, placerat sem. In vitae dui eleifend, laoreet erat finibus, placerat sem. In vitae dui eleifend, laoreet erat finibus, placerat sem.</p>
          <div class="d-flex justify-content-center">
            <a href="/unete/responsable-explotacion-ecommerce/" class="c-button c-button--second">Ver oferta</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
