<section class="p-home__clientes" id="proyectos" >

  <div class="container-fluid">
    <div  id="porfolio" class="row no-gutters c-porfolio-carrusel">

      <a href="#" class="c-porfolio-carrusel__left js-scroll-left d-none">
        <svg width="100" enable-background="new 0 0 100 200" version="1.1" viewBox="0 0 100 200" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><style type="text/css">.st0{opacity:0.4;fill:#DDE4E9;}.st1{fill:#222222;}</style><path class="st0" d="M0,0c55.2,0,100,44.8,100,100S55.2,200,0,200"/><polygon class="st1" points="55 74.3 60.7 80 40.7 100 60.7 120 55 125.7 29.3 100"/></svg>
      </a>

      <div class="c-porfolio-carrusel__container">
        <div class="c-porfolio-carrusel__card col-11 col-sm-8 col-md-8 col-lg-6 offset-xl-1 offset-xxl-2 col-xxl-6">
          <h2 class="h-extrahuge">Mucho más que <strong>clientes</strong></h2>
          <p class="c-title--sub">(y mucho más que proyectos)</p>
          <div class="offset-lg-1 col-12 col-lg-12 col-xl-8">
            <p class="c-title--pre"><strong>En Biko, creemos en las relaciones a largo plazo.</strong></p>
            <p>La mayoría de nuestros clientes lleva contando con nosotros mucho tiempo. Algunos de ellos incluso se han convertido en grandes compañeros. Sea como fuere, nos encanta conocernos, ponernos cara y charlar antes de comenzar a trabajar.<br />
            Echa un vistazo a algunos de nuestros trabajos.</p>
            <a class="c-button gtm-lead-portfolio js-scroll-right" href="#">Ver nuestro porfolio</a>
          </div>

          <div class="c-separator--scroll d-sm-block d-md-block d-lg-none js-scroll-right">
            <a class="c-separator--scroll__link" href="#">
              Scroll para ver más
              <span class="c-separator--scroll__animated">
                <svg width="43px" height="12px" version="1.1" viewBox="0 0 43 12" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g transform="translate(-763 -5271)" fill="#000"><g transform="translate(0 4463)"><g transform="translate(150 96)"><g transform="translate(481 706)"><path d="m171.5 11l-3.7835-3.7835 1.2165-1.2165 6 6-6 6-1.2165-1.2165 3.7835-3.7835h-39.5v-2h39.5z"/></g></g></g></g></g></svg>
              </span>
            </a>
          </div>
        </div>

        <div class="c-porfolio-gernica offset-1 offset-sm-2 col-12 col-md-9 col-lg-11 col-xl-9 col-xxl-8 c-porfolio-carrusel__card">
          <div class="c-porfolio__txtbox">
            <a href="https://www.webbyawards.com/winners/2018/websites/general/cultural-institutions/rethinking-guernica/"><img data-src="/assets/images/webby.png" class="lazyload" alt="2018 Webby Winner" /></a>
            <div>
              <h3 class="h-big">Repensar Guernica</h3>
              <p class="c-porfolio__txtbox__bold">Un proyecto ganador de un <a href="https://www.webbyawards.com/winners/2018/websites/general/cultural-institutions/rethinking-guernica/" target="_blank" class="c-link">Webby</a></p>
              <p>Cómo construir un hogar digital a la altura para una de las obras más emblemáticas del arte español.</p>
              <p><a class="c-link" href="https://guernica.museoreinasofia.es/" target="_blank">Visitar la web de Repensar Guernica</a></p>
            </div>
          </div>
          <img class="c-porfolio__txtbox__capture lazyload" data-src="/assets/images/repensar-guernica-desktop.png" alt="Repensar Guernica" />
        </div>

        <div class="c-porfolio-helvetia offset-1 col-12 col-lg-10 col-xl-8 col-xxl-9 c-porfolio-carrusel__card">
          <img class="c-porfolio__txtbox__capture lazyload" data-src="/assets/images/helvetia-movil.png" alt="Helvetia" />
          <div class="c-porfolio__txtbox">
            <div><img data-src="/assets/images/helvetia.png" class="lazyload" alt="Helvetia" /></div>
            <p class="c-porfolio__txtbox__bold">De compañía tradicional a héroe digital</p>
            <p>Transformación digital aplicada a procesos de venta, mayor engagement con los clientes y metodologías de trabajo internas más ágiles.</p>
            <p><a class="c-link" href="https://www.helvetia.es/" target="_blank">Visitar la web de Helvetia</a></p>
          </div>
        </div>


        <div class="c-porfolio-aecc offset-6 col-12 offset-sm-4 offset-md-1 offset-lg-1 col-lg-10 col-xl-7 col-xxl-9 c-porfolio-carrusel__card">
          <img class="c-porfolio__txtbox__capture lazyload" data-src="/assets/images/aecc-movil.png" alt="AECC" />
          <div class="c-porfolio__txtbox">
            <div><img data-src="/assets/images/aecc.png" class="lazyload" alt="AECC - Asociación Española Contra el Cáncer" /></div>
            <p class="c-porfolio__txtbox__bold">Reenfocar y rediseñar la experiencia digital al completo</p>
            <p>Cómo hemos creado un site para atender mejor a las personas beneficiarias, concienciar y recaudar fondos a la vez.</p>
            <p><a class="c-link" href="https://www.aecc.es/" target="_blank">Visitar la web de AECC</a></p>
          </div>
        </div>
      </div>

      <a href="#" class="c-porfolio-carrusel__right js-scroll-right d-none d-lg-block d-xl-block d-xxl-block">
        <svg width="100" enable-background="new 0 0 100 200" version="1.1" viewBox="0 0 100 200" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><style type="text/css">.st2{opacity:0.4;fill:#DDE4E9;}.st3{fill:#222222;}</style><path class="st2" d="M100,200C44.8,200,0,155.2,0,100S44.8,0,100,0"/><polygon class="st3" points="45 125.7 39.3 120 59.3 100 39.3 80 45 74.3 70.7 100"/></svg>
      </a>

    </div>
  </div>
</section>
