<section class="p-home__clientes c-bg-pattern__right" id="proyectos" >

  <div class="c-title-section c-title-section">Proyectos</div>

  <div class="container">
    <div class="row">
      <div class="col-10 col-md-10 col-xl-8">
        <h2 class="h-extrahuge">Mucho más que <strong>clientes</strong></h2>
        <p class="c-title--sub">(y mucho más que proyectos)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-9 col-xl-7">
        <p class="c-title--pre"><strong>En Biko, creemos en las relaciones a largo plazo.</strong></p>
        <p>La mayoría de nuestros clientes lleva contando con nosotros mucho tiempo. Algunos de ellos incluso se han convertido en grandes compañeros. Sea como fuere, nos encanta conocernos, ponernos cara y charlar antes de comenzar a trabajar.<br />
        Echa un vistazo a algunos de nuestros trabajos:</p>
      </div>
    </div>
  </div>


  <div class="p-home__portfolio pt-4">
    <div class="container">
      <div class="row">

      <div class="c-portfolio-clientes c-bg-canal-march c-bg-portfolio c-porfolio-destacado">
        <div class="col-12 col-md-7 col-lg-6">
          <div class="c-porfolio__txtbox">
            <div>
              <div><img data-src="/assets/images/proyectos/logos/logo-canal-march.png" class="lazyload" alt="Canal March" /></div>
              <p class="c-porfolio__txtbox__bold pt-3"><span class="bg-multiline">El Netflix del arte y la cultura en español </span></p>
              <p><span class="bg-multiline">Audio, vídeo, conciertos, series… un universo de contenido por explorar apto incluso para los paladares más sibaritas.</span></p>
              <p><span class="bg-multiline"><a class="c-link" href="/proyectos/canal-march">Más sobre este proyecto</a></span></p>
            </div>
          </div>
        </div>
      </div>

        <div class="c-portfolio-clientes c-bg-guernica c-bg-portfolio c-porfolio-destacado">
          <div class="col-12 col-md-7 col-lg-6">
            <div class="c-porfolio__txtbox">
              <a href="https://www.webbyawards.com/winners/2018/websites/general/cultural-institutions/rethinking-guernica/" class="d-block mb-3 mb-md-3"><img data-src="/assets/images/webby.png" class="lazyload" alt="2018 Webby Winner" /></a>
              <div>
                <h3 class="h-big"><span class="bg-multiline">Repensar Guernica</span></h3>
                <p class="c-porfolio__txtbox__bold"><span class="bg-multiline">Un proyecto ganador de un <a href="https://www.webbyawards.com/winners/2018/websites/general/cultural-institutions/rethinking-guernica/" target="_blank" class="c-link">Webby</a></span></p>
                <p><span class="bg-multiline">Cómo construir un hogar digital a la altura para una de las obras más emblemáticas del arte español.</span></p>
                <p><span class="bg-multiline"><a class="c-link" href="/proyectos/repensar-guernica">Más sobre este proyecto</a></span></p>
              </div>
            </div>
          </div>
        </div>

        <!--div class="c-portfolio-clientes c-bg-rae c-bg-portfolio">
          <div class="col-12 col-md-7 col-lg-6">
            <div class="c-porfolio__txtbox">
              <div><img data-src="/assets/images/proyectos/logos/logo-rae.svg" class="lazyload" alt="Real Academia Española" /></div>
              <p class="c-porfolio__txtbox__bold"><span class="bg-multiline">De compañía tradicional a héroe digital</span></p>
              <p><span class="bg-multiline">Transformación digital aplicada a procesos de venta, mayor <em>engagement</em> y metodologías de trabajo.</span></p>
              <p><span class="bg-multiline"><a class="c-link" href="/proyectos/rae">Más sobre este proyecto</a></span></p>
            </div>
          </div>
        </div-->


        <div class="c-portfolio-clientes c-bg-helvetia c-bg-portfolio">
          <div class="col-12 col-md-7 col-lg-6">
            <div class="c-porfolio__txtbox">
              <div><img data-src="/assets/images/helvetia.png" class="lazyload" alt="Helvetia" /></div>
              <p class="c-porfolio__txtbox__bold"><span class="bg-multiline">De compañía tradicional a héroe digital</span></p>
              <p><span class="bg-multiline">Transformación digital aplicada a procesos de venta, mayor <em>engagement</em> y metodologías de trabajo.</span></p>
              <p><span class="bg-multiline"><a class="c-link" href="/proyectos/helvetia">Más sobre este proyecto</a></span></p>
            </div>
          </div>
        </div>
        <div class="c-portfolio-clientes c-bg-aecc c-bg-portfolio">
          <div class="col-12 col-md-7 col-lg-6">
            <div class="c-porfolio__txtbox">
              <div><img data-src="/assets/images/aecc.png" class="lazyload" alt="AECC - Asociación Española Contra el Cáncer" /></div>
              <p class="c-porfolio__txtbox__bold"><span class="bg-multiline">Reenfocar y rediseñar la experiencia digital al completo</span></p>
              <p><span class="bg-multiline">Cómo poner a los usuarios y sus necesidades en el centro de toda la estrategia online.</span></p>
              <p><span class="bg-multiline"><a class="c-link" href="/proyectos/aecc">Más sobre este proyecto</a></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <a class="c-button" href="/proyectos">Inspírate con más proyectos</a>
  </div>

</section>
