<section class="p-home__servicios" id="servicios">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 class="title-6xl mb-3">
          Servicios y tecnologías
        </h2>
        <p class="font-secondary text-xl text-lg-2xl color-red mb-5">
          (vayamos al grano)
        </p>
      </div>
      <div class="landing-nav-section__wrap d-none d-xl-inline">
        <div class="landing-nav-section text-xs color-gray-dark font-400">
          <span class="line-decoration">Qué ofrecemos en Biko</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-0">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-3 mb-md-0">
            <p class="mb-5">
              Te ayudamos a idear y diseñar la mejor solución:
            </p>

            <h3 class="title-2xl u-decoration-red pt-2 mb-2">
              Design Thinking
            </h3>
            <p class="text-base line-base mb-5">
              Técnicas de creación e ideación guiadas para dar forma a tu
              proyecto digital.
            </p>

            <h3 class="title-2xl u-decoration-red pt-2 mb-2">
              Experiencia de usuario
            </h3>
            <p class="text-base line-base mb-5">
              Diseño de interfaces intuitivas orientadas a las necesidades
              específicas de tu sector.
            </p>

            <h3 class="title-2xl u-decoration-red pt-2 mb-2">
              Marketing automation
            </h3>
            <p class="text-base line-base mb-5 mb-md-0">
              Gestionamos el ciclo de vida digital del cliente de principio a
              fin.
            </p>
          </div>

          <div class="col-lg-6 pr-4">
            <p class="mb-5">
              Nos apasiona construir herramientas de negocio:
            </p>

            <h3 class="title-2xl u-decoration-red pt-2 mb-2">
              Sites cada vez más inteligentes
            </h3>
            <p class="text-base line-base mb-5">
              Proyectos con piezas basadas en machine learning, visualización
              creativa de datos y experimentación orientada a la innovación
              creativa.
            </p>

            <h3 class="title-2xl u-decoration-red pt-2 mb-2">
              Bidasoa
            </h3>
            <p class="text-base line-base mb-5">
              Nuestra propia solución Jamstack con todo lo que Drupal ha
              ofrecido siempre, las nuevas ventajas de los sistemas
              desacoplados, para la mejor experiencia. <a href="https://www.biko2.com/bidasoa/"
                class="gtm-lead-bidasoa"
                alt="Enlace a la página de Bidasoa">
                [Seguir leyendo]
              </a>
            </p>

            <h3 class="title-2xl u-decoration-red pt-2 mb-2">
              SPAs y PWAs
            </h3>
            <p class="text-base line-base mb-5">
              Desarrollo de aplicativos que permiten la movilidad y llevar la
              relación con tus clientes al canal digital.
            </p>

            <h3 class="title-2xl u-decoration-red pt-2 mb-2">
              Software Ágil
            </h3>
            <p class="text-base line-base mb-0">
              Desarrollamos software en coherencia con el diseño de negocio y la
              cultura ágil. Para ello, contamos con un stack tecnológico basado
              en la entrega de valor, desde el front a la API.<br /> Somos especialistas
              en <strong>Drupal</strong>, <strong>React</strong>, <strong>
                NodeJS
              </strong>, <strong>JAMstack</strong> y <strong>
                Java Spring-boot.
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
