<section class="p-home__que" id="que">

  <div class="p-home__que__container">

    <div class="c-grid-image--right">
      <img data-src="/assets/images/equipo-biko.jpg" class="lazyload" alt="Equipo Biko X Aniversario" />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-7 col-xxl-6">
          <div class="c-box">
            <div class="c-box__square">
              <h2 class="c-box__title">En Biko <strong>definimos, diseñamos y construimos</strong> negocios y servicios digitales.</h2>
              <p>Somos <strong>claros, directos y sencillos</strong>.<br /> Por eso te contamos todo lo que va entre paréntesis.<br /> ¿Quién dijo miedo?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex d-flex-icon justify-content-start justify-content-md-center">
      <div class="c-icon-square">
        <svg width="72px" height="62px" viewBox="0 0 72 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-52.000000, -75.000000)" fill="#FFFFFF">
              <path d="M104.79,75 C97.76,75 91.17,80.56 88,83.7 C84.83,80.56 78.24,75 71.21,75 C59.19,75 52,82.05 52,93.86 C52,103.53 60.84,111.62 61.16,111.91 L86.23,136.16 C86.71,136.64 87.35,136.89 88,136.89 C88.65,136.89 89.29,136.65 89.77,136.16 L114.8,111.98 C115.16,111.62 124,103.52 124,93.85 C124,82.05 116.81,75 104.79,75 Z M111.55,107.95 L88.19,130.5 L64.79,107.91 C64.71,107.83 57.26,100.97 57.26,93.59 C57.26,82.25 64.91,79.87 71.36,79.87 C77.36,79.87 84.13,86.36 86.22,88.87 C87.19,90.04 89.2,90.04 90.17,88.87 C92.26,86.37 99.03,79.87 105.03,79.87 C111.48,79.87 119.13,82.25 119.13,93.59 C119.12,100.97 111.67,107.83 111.55,107.95 Z"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>

  </div>

  <!--<div class="c-title-section c-title-section--que">Qué es Biko</div>

  <div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">

                  <h4 class="title-2xl decoration-red pt-2 mb-2">Somos más de 70 personas</h4>
                  <p class="text-base line-base mb-md-5">Consultores, diseñadores, desarrolladores, maquetadores, profesionales del marketing, de la comunicación… Si nos lo proponemos, subimos el nivel de decibelios en la oficina con muy poco.</p>

                  <h4 class="title-2xl decoration-red pt-2 mb-2">Llevamos más de 20 años en esto</h4>
                  <p class="text-base line-base mb-md-5">Biko surgió de la fusión de dos empresas. Desde entonces ha pasado más de una década, hasta 400 proyectos y por ahora, ningún impacto de meterorito.</p>

                  <h4 class="title-2xl decoration-red pt-2 mb-2">Nos adaptamos mejor que unas medias</h4>
                  <p class="text-base line-base">No solo ofrecemos un amplio catálogo de servicios y tecnologías, sino que construimos proyectos a medida atendiendo a tus necesidades.</p>
            </div>

              <div class="col-lg-6 pr-4">

                    <h4 class="title-2xl decoration-red pt-2 mb-2">Tenemos el don de la ubicuidad</h4>
                    <p class="text-base line-base mb-md-5">Contamos con oficinas en Pamplona, Madrid y Lima, pero nos desplazamos allá donde nos necesites.</p>

                    <h4 class="title-2xl decoration-red pt-2 mb-2">Ser bikoniano no es solo pertenecer a Biko</h4>
                    <p class="text-base line-base mb-md-5">Biko lo hacemos entre todos. Y sin nuestros queridos <strong>okupas</strong>, eso no sería posible. Llegaron sin hacer mucho ruido, pero terminaron conquistándonos. Bueno, no. Es mentira. En realidad sí que hacían mucho ruido.</p>

              </div>
          </div>
      </div>
    </div>
  </div>-->

  <div class="container mb-0">
    <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">

                  <h4 class="title-2xl decoration-red pt-2 mb-2">Somos más de 70 personas</h4>
                  <p class="text-base line-base mb-md-5">Consultores, diseñadores, desarrolladores, maquetadores, profesionales del marketing, de la comunicación… Si nos lo proponemos, subimos el nivel de decibelios en la oficina con muy poco.</p>

                  <h4 class="title-2xl decoration-red pt-2 mb-2">Llevamos más de 20 años en esto</h4>
                  <p class="text-base line-base mb-md-5">Biko surgió de la fusión de dos empresas. Desde entonces ha pasado más de una década, hasta 400 proyectos y por ahora, ningún impacto de meterorito.</p>

                  <h4 class="title-2xl decoration-red pt-2 mb-2">Nos adaptamos mejor que unas medias</h4>
                  <p class="text-base line-base">No solo ofrecemos un amplio catálogo de servicios y tecnologías, sino que construimos proyectos a medida atendiendo a tus necesidades.</p>
            </div>

              <div class="col-lg-6 pr-4">

                    <h4 class="title-2xl decoration-red pt-2 mb-2">Tenemos el don de la ubicuidad</h4>
                    <p class="text-base line-base mb-md-5">Contamos con oficinas en Pamplona, Madrid y Lima, pero nos desplazamos allá donde nos necesites.</p>

                    <h4 class="title-2xl decoration-red pt-2 mb-2">Ser bikoniano no es solo pertenecer a Biko</h4>
                    <p class="text-base line-base mb-md-5">Biko lo hacemos entre todos. Y sin nuestros queridos <strong>okupas</strong>, eso no sería posible. Llegaron sin hacer mucho ruido, pero terminaron conquistándonos. Bueno, no. Es mentira. En realidad sí que hacían mucho ruido.</p>

              </div>
          </div>
      </div>

      <div class="landing-nav-section__wrap d-none d-xl-inline ">
        <div class="landing-nav-section text-xs color-bluesoft font-400"><span class="line-decoration">Qué es Biko</span></div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center" data-drip-show-form="536448658">
    <a class="c-button--primary-rounded gtm-lead-presentacion"  href="https://www.getdrip.com/forms/536448658/submissions/new" target="_blank">Pídenos una presentación</a>
  </div>
</section>
