<section class="c-box-huge p-unete-ofertas" id="nuestras-ofertas">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <h2 class="title-6xl mb-3 color-white text-center">
            Únete al equipo Jakala | Biko
          </h2>
          <p class="font-secondary text-2xl text-lg-3xl color-red-middle mb-5 text-center">
            (y forma parte de algo muy especial)
          </p>
      </div>
      <div class="landing-nav-section__wrap d-none d-xl-inline">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration color-gray">¿Quieres  ser parte de la familia bikoniana?</span>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="offset-xl-1 col-lg-10 offset-lg-1 d-flex justify-content-between flex-wrap mb-5"> 
        
        <div class="c-ofertas__box">
          <p class="mb-1"><span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">Nuevo</span></p>
          <h3 class="title-2xl pt-2 mb-2"> Drupal Gatsby Developer</h3>
          <p class="font-secondary text-2xl color-red mb-3">(Pamplona - Remoto)</p>
          <p class="text-base line-base mb-md-5">Buscamos una persona con perfil de desarrollo en Drupal y que pueda conocer o quiera aprender a cacharrear con Gatsby. </p>
          <div class="d-flex justify-content-center">
            <a href="/unete-a-biko/drupal-gatsby-developer/" class="c-button c-button__secondary--outline gtm-lead-oferta-drupalgatsbydeveloper">Ver oferta</a>
          </div>
        </div>
        
        <div class="c-ofertas__box">
          <p class="mb-1"><span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">Nuevo</span></p>
          <h3 class="title-2xl pt-2 mb-2"> Tech lead front-end</h3>
          <p class="font-secondary text-2xl color-red mb-3">(Pamplona - Remoto)</p>
          <p class="text-base line-base mb-md-5">Buscamos una persona con experiencia liderando equipos de desarrollo.</p>
          <div class="d-flex justify-content-center">
            <a href="/unete-a-biko/tech-lead-front-end/" class="c-button c-button__secondary--outline gtm-lead-oferta-techleadfrontend">Ver oferta</a>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <a class="c-button gtm-lead-unete" href="/unete-a-biko">Ver todas las ofertas</a>
        </div>
      </div>
    </div>
  </div>
</section>