<section class="c-box-huge p-unete-ofertas" id="nuestras-ofertas">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <h2 class="title-6xl mb-3 color-white text-center">
            Únete al equipo Jakala | Biko
          </h2>
          <p class="font-secondary text-2xl text-lg-3xl color-red-middle mb-5 text-center">
            (y forma parte de algo muy especial)
          </p>
      </div>
      <div class="landing-nav-section__wrap d-none d-xl-inline">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration color-gray">¿Quieres  ser parte de la familia?</span>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <a class="c-button gtm-lead-unete" href="https://careers.jakala.com/es_ES/careers">Ver todas las ofertas</a>
        </div>
      </div>
    </div>
  </div>
</section>