<section class="py-5 py-md-7 home-unete">
  <div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="row no-gutters justify-content-center">
            <div class="col-lg-12 bg-white p-4 p-md-5">
              <h2 class="title-6xl mb-3 text-center">Únete al equipo Biko</h2>
              <p class="font-secondary text-2xl color-red mb-5 text-center">
                (y forma parte de algo muy especial)
              </p>
              <p class="mb-5 text-center">
                En Biko queremos (tu) talento... Echa un vistazo a nuestras ofertas vigentes, quizás aquí está tu lugar. 
              </p>
              <div class="d-flex justify-content-center">
                <a class="c-button gtm-lead-unete" href="/unete-a-biko">Ver ofertas</a>
              </div>
            </div>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration color-gray">¿Quieres  ser parte de la familia bikoniana?</span>
          </div>
        </div>
    </div>
  </div>
</section>