{# ----- INSIGHT ----- #}
{% extends '@layouts/page.twig' %}
{% block page %}
  <section class="pt-6 pt-md-6 pt-lg-8" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <p class="text-center">
            <span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">
              Nueva edición
            </span>
          </p>
          <h1 class="title-hero mb-3 text-center">
            Biko Insights #5
          </h1>
          <p class="font-secondary text-2xl text-md-3xl color-red mb-5 text-center">
            (algunos temas de hoy que tendrán impacto mañana)
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="intro" class="p-insights-intro">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="p-insights-intro__container">
            <div class="p-insights-intro_img">
              <img data-src="/assets/images/insights/img-insights-2021.jpg"
                class="lazyload"
                alt="Biko Insights 5" />
            </div>
            <div class="p-insights-intro_numero">
              <img data-src="/assets/images/insights/quinto.png"
                class="lazyload"
                alt="#cinco" />
            </div>
          </div>
        </div>
        <div class="col-md-8 offset-md-2 col-lg-5 offset-lg-7 p-insights-intro_texto">
          <p>
            Ya está disponible la <strong>quinta edición</strong> de <strong>
              Biko Insights
            </strong>, el documento que contiene nuestra visión sobre lo que se
            está moviendo (y sobre lo que creemos que se moverá) en el entorno
            digital.
          </p>
          <p>
            En cada entrega tratamos distintos temas relacionados con
            tecnología, software, experimentación digital...
          </p>
          <a href="#sumario" title="">
            ¿Qué encontrarás en este Biko Insights #5?
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-6 pt-md-6 pt-lg-8 mt-md-6 mb-5 mb-md-8">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="d-flex justify-content-center mb-3 mb-md-5">
            <a class="c-button gtm-lead-insightscinco"
              download="BIKO-INSIGHTS-5-2022.pdf"
              href="https://www.biko2.com/insights/BIKO-INSIGHTS-5-2022.pdf"
              target="_blank">
              Descargar Biko Insights #5
            </a>
          </div>
          <p class="justify-content-center font-secondary text-2xl text-md-3xl color-red mb-3 text-center">
            (A nuestro CEO le hace muy feliz saber quién lo descarga) <br /> <a class="c-link" data-toggle="collapse" href="#collapseEmail" role="button" aria-expanded="false" aria-controls="collapseEmail">¿nos
              dejas tu email?</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <div class="collapse" id="collapseEmail">
            <p class="mt-4 mb-4">
              Y de paso, te suscribimos a nuestra newsletter.
            </p>

            <form class="form-type-one"
              action="https://www.getdrip.com/forms/858271994/submissions"
              method="post"
              data-drip-embedded-form="858271994"
              id="drip-ef-858271994">
              <div>
                <div class="mb-2">
                  <label for="drip-insights-email" class="d-none"></label>
                  <input type="email"
                    id="drip-insights-email"
                    name="fields[email]"
                    value=""
                    placeholder="Escribe tu email..." />
                </div>
                <div class="mb-2">
                  <input type="checkbox" id="check-insights" required />
                  <label for="check-insights" class="text-sm">
                    Acepto la remisión de comunicaciones comerciales.
                  </label>
                </div>
              </div>
              <button type="submit"
                data-drip-attribute="sign-up-button"
                class="mb-4 c-button c-button__secondary--outline gtm-lead-insightscinco">
                Enviar
              </button>
            </form>
            <div class="text-xs mb-0 pt-1 line-sm">
              <p class="c-form__legal">
                <a href="/proteccion-de-datos#responsable" target="_blank">
                  BIKO2 2006, S.L.
                </a> es el responsable del tratamiento de sus datos. La <a href="/proteccion-de-datos#finalidad"
                  target="_blank">
                  finalidad
                </a> es gestionar tu suscripción y mandarle comunicaciones comerciales
                por medios electrónicos. Usted puede ejercer los <a href="/proteccion-de-datos#derechos"
                  target="_blank">
                  derechos
                </a> de acceso, rectificación o supresión de sus datos así como otros
                derechos, como se explica en la <a href="/proteccion-de-datos/#derechos"
                  target="_blank">
                  información adicional
                </a>. Puede consultar la información adicional y detallada sobre <strong>
                  Protección de Datos
                </strong>
                <a href="/proteccion-de-datos" target="_blank">
                  desde este enlace
                </a>.
              </p>
            </div>

            <div class="c-separator--line--horizontal mb-5">
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 

{% include '@base/insights/sumario.twig' %}
{% include '@base/insights/descarga-old.twig' %}
{% include '@includes/subir.twig' %}
{% include '@includes/contact.twig' %}
{% endblock %}
