<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <p class="title-slim-6xl u-strong-red mb-3 mb-md-5 text-left">
        “Hay tres tipos de personas en el mundo: los que hacen que las cosas ocurran, los que ven cómo ocurren las cosas y los que se preguntan qué ocurrió”
        </p>
        <p class="u-decoration-red text-base pt-2 text-uppercase mb-5 text-left text-sm line-sm color-bluesoft font-400 letter-base mb-1">N. Butler</p>
      </div>
    </div>
  </div>
</section>