
  <!-- descargar insights pasados -->
  <section class="c-bg-pattern__right pt-5 pt-md-7 mb-5 mb-md-7">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 pt-5 pt-md-7">
          <h2 class="title-slim-6xl mb-md-5">
            ¿Te perdiste algún Biko Insights?<br />
            <strong>Descárgatelos desde aquí:</strong>
          </h2>
        </div>
      </div>
      <div class="c-separator--line--horizontal mb-4">
        <hr />
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 d-md-flex d-lg-block mb-5 mb-lg-0">
          <img data-src="/assets/images/insights/img-biko-insights-4.jpg"
            class="lazyload c-download__img"
            alt="Biko Insights 4" />
          <div>
            <div class="row">
              <div class="col-8">
                <div class="mb-3 mb-xl-0">
                  <h3 class="title-2xl title-md-3xl mb-0">
                    Biko Insights #4
                  </h3>
                  <p class="font-secondary color-red mb-3">
                  (2021)
                  </p>
                </div>
              </div>
              <div class="col-4 text-right">
                <a href="/insights/BIKO-INSIGHTS-4-2021.pdf"
                  class="c-button c-button--second gtm-lead"
                  target="_blank">
                  <svg>
                    <use xlink:href="/assets/svg/sprite/sprite.svg#download"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="c-separator--line c-separator--line__horizontal mt-3 mb-4">
              <hr />
            </div>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              La gestión de contenidos en la era Jamstack
            </h4>
            <p class="text-base line-base mb-4">
              El reto de Biko de integrar un CMS como Drupal en arquitecturas Jamstack.
            </p>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              ¿Hacia la singularidad o hacia un nuevo invierno en la IA?
            </h4>
            <p class="text-base line-base mb-4">
              Una entrevista de Radio3.
            </p>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              Claves para hacer frente a la desinformación
            </h4>
            <p class="text-base line-base mb-4">
              El mayor peligro somos nosotros mismos.
            </p>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              Sociocracia 3.0
            </h4>
            <p class="text-base line-base mb-4">
              Un año de recorrido en Biko.
            </p>
          </div>
        </div>

        <div class="col-12 col-lg-4 d-md-flex d-lg-block mb-5 mb-lg-0">
          <img data-src="/assets/images/insights/img-biko-insights-3.jpg"
            class="lazyload c-download__img"
            alt="Biko Insights 3" />
          <div>
            <div class="row">
              <div class="col-8">
                <div class="mb-3 mb-xl-0">
                  <h3 class="title-2xl title-md-3xl mb-0">
                    Biko Insights #3
                  </h3>
                  <p class="font-secondary color-red mb-3">
                  (2020)
                  </p>
                </div>
              </div>
              <div class="col-4 text-right">
                <a href="/insights/BIKO-INSIGHTS-3-2020.pdf"
                  class="c-button c-button--second gtm-lead"
                  target="_blank">
                  <svg>
                    <use xlink:href="/assets/svg/sprite/sprite.svg#download"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="c-separator--line c-separator--line__horizontal mt-3 mb-4">
              <hr />
            </div>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              Gestión de contenidos moderna
            </h4>
            <p class="text-base line-base mb-4">
              Un cambio de paradigma.
            </p>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              Estrategia digital
            </h4>
            <p class="text-base line-base mb-4">
              Qué podemos aprender de los museos.
            </p>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              Open Space
            </h4>
            <p class="text-base line-base mb-4">
              La autoorganización como motor del cambio.
            </p>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              Narrativa de la convivencia
            </h4>
            <p class="text-base line-base mb-4">
              En las relaciones humano-inteligencia artificial.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-4 d-md-flex d-lg-block mb-0 mb-lg-0">
          <img data-src="/assets/images/insights/img-biko-insights-2.jpg"
            class="lazyload c-download__img"
            alt="Biko Insights 2" />
          <div>
            <div class="row">
              <div class="col-8">
                <div class="mb-3 mb-xl-0">
                  <h3 class="title-2xl title-md-3xl mb-0">
                    Biko Insights #2
                  </h3>
                  <p class="font-secondary color-red mb-3">
                  (2019)
                  </p>
                </div>
              </div>
              <div class="col-4 text-right">
                <a href="/insights/BIKO-INSIGHTS-2-2019.pdf"
                  class="c-button c-button--second gtm-lead"
                  target="_blank">
                  <svg>
                    <use xlink:href="/assets/svg/sprite/sprite.svg#download"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="c-separator--line c-separator--line__horizontal mt-3 mb-4">
              <hr />
            </div>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              Movidos por el sonido
            </h4>
            <p class="text-base line-base mb-4">
              Cuando las ondas sonoras construyen interfaces de usuario.
            </p>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              Narrativas metafóricas
            </h4>
            <p class="text-base line-base mb-4">
              En el extrarradio de la palabra.
            </p>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              Machine learning
            </h4>
            <p class="text-base line-base mb-4">
              La responsabilidad de la predicción.
            </p>

          </div>
        </div>
      </div>
      <div class="c-separator--line--horizontal mt-4 mb-4">
        <hr />
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 d-md-flex d-lg-block mb-0 mb-lg-0">
          <img data-src="/assets/images/insights/img-biko-insights-1.jpg"
            class="lazyload c-download__img"
            alt="Biko Insights 1" />
          <div>
            <div class="row">
              <div class="col-8">
                <div class="mb-3 mb-xl-0">
                  <h3 class="title-2xl title-md-3xl mb-0">
                    Biko Insights #1
                  </h3>
                  <p class="font-secondary color-red mb-3">
                  (2018)
                  </p>
                </div>
              </div>
              <div class="col-4 text-right">
                <a href="/insights/BIKO-INSIGHTS-1-2018.pdf" class="c-button c-button--second gtm-lead" target="_blank">
                  <svg>
                    <use xlink:href="/assets/svg/sprite/sprite.svg#download"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="c-separator--line c-separator--line__horizontal mt-3 mb-4">
              <hr />
            </div>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              React
            </h4>
            <p class="text-base line-base mb-4">
              El desarrollo por componentes.
            </p>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              Marketing automation
            </h4>
            <p class="text-base line-base mb-4">
              Saber más para conocer mejor.
            </p>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              Adopta un científico
            </h4>
            <p class="text-base line-base mb-4">
              La metodología científica desde la perspectiva de negocio.
            </p>
            <h4 class="title-xl title-md-2xl u-decoration-red pt-2 mb-2">
              Immersive Web
            </h4>
            <p class="text-base line-base mb-4">
              Las interfaces mutan.
            </p>
          </div>
        </div>
      </div>
      <div class="c-separator--line--horizontal mt-4">
        <hr />
      </div>
    </div>
  </section>