<section class="c-bg-pattern__left pt-4">
  <div class="container">
    <div class="row mb-6">
      <div class="col-12">
        <h2 class="h-midhuge">¿Te perdiste alguno? <br /><strong>Descárgatelos ahora</strong>.</h2>
      </div>
    </div>

    <div class="row mb-6">
      <div class="col-12 offset-md-1 col-md-5">
        <img data-src="/assets/images/insight-2-old.png" class="lazyload w-100" alt="Biko Insights 2" />
      </div>

      <div class="col-12 col-md-6">
        <h3 class="mb-0">Biko Insights #2</h3>
        <p>2019</p>
        <ul class="c-line-list mb-5">
          <li><p><strong>Movidos por el sonido.</strong><br />Cuando las ondas sonoras construyen interfaces de usuario.</p></li>
          <li><p><strong>Narrativas metafóricas.</strong><br />En el extrarradio de la palabra</p></li>
          <li><p><strong>Machine learning.</strong><br />La responsabilidad de la predicción.</p></li>
        </ul>
        <a href="/insights/BIKO-INSIGHTS-2-2019.pdf" class="c-button c-button--second" target="_blank">{{svgSprite('download')}} Descargar Biko Insights #2</a>
      </div>
    </div>

    <div class="row mb-6">
      <div class="col-12 offset-md-1 col-md-5">
        <img data-src="/assets/images/insight-1-old.png" class="lazyload w-100" alt="Biko Insights 1" />
      </div>

      <div class="col-12 col-md-6">
        <h3 class="mb-0">Biko Insights #1</h3>
        <p>2018</p>
        <ul class="c-line-list mb-5">
          <li><p><strong>React</strong></p></li>
          <li><p><strong>Marketing Automation</strong></li>
          <li><p><strong>Adopta un científico</strong></li>
          <li><p><strong>Immersive Web</strong></li>
        </ul>
        <a href="/insights/BIKO-INSIGHTS-1-2018.pdf" class="c-button c-button--second" target="_blank">{{svgSprite('download')}} Descargar Biko Insights #1</a>
      </div>
    </div>

  </div>
</section>
