{# ----- HOME ----- #}
{% extends "_layouts/page.twig" %}
{% block page %}

<section class="c-hero p-insights-hero">
  <div class="p-insights-hero__container c-bg-pattern__center">

    <div class="c-grid-image--right">
      <img data-src="/assets/images/landing-insight-2.jpg" class="lazyload" alt="Biko Insights 2" />
    </div>


    <div class="container">
      <div class="row">
      <div class="col-12 col-md-9 col-lg-7">
        {% include "insights/ico-square.twig" %}
        <h1><strong>Biko</strong> Insights #2</h1>
        <p class="c-title--sub">(Sabemos de lo que hablamos)</p>
      </div>


        <div class="col-12 col-md-7 offset-md-1 col-lg-5 offset-lg-1">
          <p class="c-title--pre">En Biko volvemos a la carga con la <strong>segunda entrega</strong> de Biko Insights: un documento único con nuestra visión sobre lo que se está moviendo en la actualidad del entorno digital. En esta nueva entrega encontrarás tres <strong>tendencias</strong> que te llevarán a la reflexión para tus proyectos digitales.</p>

          <p class="c-title--pre mt-5"><strong>Encontrarás información sobre:</strong></p>
          <ul class="c-line-list">
            <li><p>El sonido como nueva interfaz.</p></li>
            <li><p>Narrativa Metafórica.</p></li>
            <li><p>Machine Learning.</p></li>
          </ul>
        </div>


      </div>
    </div>


    <div class="container mt-md-6">
      <div class="row">
        <div class="col-12 col-lg-5">
          <h2><strong>Descárgate</strong> esta guía (gratis) y descubre <strong>nuestro análisis sobre algunas tendencias</strong> en la industria de productos y servicios digitales.</h2>
        </div>

        {% include "insights/form-descarga.twig" %}

        {% include "insights/descarga-old.twig" %}
      </div>
    </div>

  </div>
</section>



{% include "_includes/contact.twig" %}

{% endblock %}
