{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="p-oferta-hero">

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-7">
      <h1 class="title-hero mb-3 text-center">Responsable de Comunicación</h1>
      <p class="font-secondary text-3xl color-red text-center mb-4 mb-md-5">(Pamplona)</p>
      <p class="text-2xl mb-5">Si estás buscando un cambio de aires, un puesto que se adapte más a ti o quieres seguir creciendo profesionalmente, sigue leyendo.</p>
      <p class="text-2xl mb-5">Estamos buscando nuevas incorporaciones a la familia <em>bikoniana</em>. xxxxx </p>
      <p class="text-2xl mb-5">
      xxxxx</p>
      <p class="text-2xl text-center">¿Te cuadra por ahora? ¡Genial! Entonces te contamos quiénes somos 🙂</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5 mb-md-7 bg-red-extralight py-3 pr-3 pl-3 py-md-5 pr-md-5 pl-md-5">
      <p>Somos una empresa joven de espíritu, pero con muchos años de rodaje. Llevamos <strong>más de 20 años</strong> en el sector digital (y 10 haciendo Drupal).</p>
      <p>Como a todo el mundo, a veces nos cuesta definirnos, pero de lo que tenemos certeza es de que hacemos <strong>grandes proyectos digitales</strong>. Si de algo podemos presumir es de ser <strong>un equipo súper diverso y multidisciplinar:</strong> contamos con personas centradas en desarrollo, maquetación, consultoría de negocio, consultoría de UX, diseño UI, <em>marketing</em>, periodismo, formación...</p>
      <p>Abrazamos el <strong>trabajo en remoto </strong>pero también damos la <strong>posibilidad de trabajar en una oficina abierta y bastante líquida</strong>. Buscamos personas que quieran desarrollarse profesionalmente con nosotros y no solo para desarrollar un proyecto concreto. De hecho, contamos con grupos de trabajo sobre cuestiones específicas de formación en desarrollo, UX/UI, etc. o planes de idiomas.</p>
      <p>Si aún no conoces Biko, has de saber que <a class="c-link" href="/open-space/" target="_blank">el Open</a> es nuestro evento por excelencia, pero tenemos otros tantos saraos que casi es mejor que te contemos en persona.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <h2 class="title-5xl mb-3">¿En qué consiste tu puesto?</h2>
      <p class="mb-5">Texto de introducción de este bloque si lo necesitáramos, sino se borra y dejamos solo el listado.</p>
      <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">xxx</p>
            <p class="decoration-red pt-2 mb-5">xxx</p>
            <p class="decoration-red pt-2 mb-5">xxx</p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">xxx</p>
            <p class="decoration-red pt-2">xxx</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-3">¿Qué consideramos importante para optar al puesto?</h2>
        <p class="mb-5">Texto de introducción de este bloque si lo necesitáramos, sino se borra y dejamos solo el listado.</p>
        <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">xxx</p>
            <p class="decoration-red pt-2 mb-5">xxx</p>
            <p class="decoration-red pt-2 mb-5">xxx</p>
            <p class="decoration-red pt-2 mb-5">xxx</p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">xxx</p>
            <p class="decoration-red pt-2 mb-5">xxx</p>
            <p class="decoration-red pt-2 mb-5">xxx</p>
            <p class="decoration-red pt-2 mb-5">xxx</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-3">¿Y qué sería TOP?</h2>
        <p class="mb-5">Texto de introducción de este bloque si lo necesitáramos, sino se borra y dejamos solo el listado.</p>
        <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="decoration-red pt-2 mb-5">xxx</p>
          <p class="decoration-red pt-2 mb-5">xxx</p>
          <p class="decoration-red pt-2 mb-5">xxx</p>
          <p class="decoration-red pt-2 mb-5">xxx</p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="decoration-red pt-2 mb-5">xxx</p>
          <p class="decoration-red pt-2 mb-5">xxx</p>
          <p class="decoration-red pt-2 mb-5">xxx</p>
          <p class="decoration-red pt-2 mb-5">xxx</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <h2 class="title-5xl mb-3">¿Qué ofrecemos?</h2>
      <p class="mb-5">Texto de introducción de este bloque si lo necesitáramos, sino se borra y dejamos solo el listado.</p>
      <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="decoration-red pt-2 mb-5">xxx</p>
          <p class="decoration-red pt-2 mb-5">xxx</p>
          <p class="decoration-red pt-2 mb-5">xxx</p>
          <p class="decoration-red pt-2 mb-5">xxx</p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="decoration-red pt-2 mb-5">xxx</p>
          <p class="decoration-red pt-2 mb-5">xxx</p>
          <p class="decoration-red pt-2 mb-5">xxx</p>
          <p class="decoration-red pt-2 mb-5">xxx</p>
        </div>
      </div>
      <p class="text-center">¿Te gusta la oferta? Pues mándanos tu CV, estamos deseando conocerte.</p>
    </div>
  </div>

</section>

{% include "@base/unete-a-biko/enviar-cv.twig" %}

{% include "@includes/subir.twig" %}

{% include "@includes/contact.twig" %}


{% endblock %}
