{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<!--Bloque hero-->
<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--escuelamusica text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="mb-2 text-uppercase text-2xl letter-base font-400">ESCUELA SUPERIOR DE MÚSICA REINA SOFÍA</p>
          <h1 class="title-hero mb-4">
          La virtuosidad hecha escuela
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(de lo bueno, lo mejor)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <p class="text-2xl line-2xl"><strong>La Escuela Superior de Música Reina Sofía</strong> apoya a los jóvenes con más talento en su desarrollo personal y artístico. Hablamos de una institución de <strong>prestigio internacional</strong>, con un profesorado de máximo nivel donde el mérito es el único requisito de acceso para sus alumnos. Y un importante reto por delante: crear una nueva web que les hiciera justicia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla y datos-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-6 title-slim-6xl u-strong-red">Un nuevo <i>site</i> con una arquitectura de la información renovada, una <strong>transformación visual</strong> a través de un nuevo estilo gráfico y un mejor posicionamiento en buscadores.</p>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <p class="text-2xl line-2xl">
      <strong>Cliente:</strong> Escuela Superior de Música Reina Sofía /
      <strong>Estrategia:</strong> Arquitectura de Información <span class="color-red">+</span> Posicionamiento en buscadores /
      <strong>Tecnología:</strong> Drupal 8 /
      <strong>Web:</strong> <a class="c-link" href="https://www.escuelasuperiordemusicareinasofia.es/" target="_blank">Escuela Superior de Música Reina Sofía</a>
      </p>
    </div>
    </div>
  </div>
</section>
<!--Separador-->
<div class="c-separator--line c-separator--line__horizontal"><hr /></div>
<!--Bloque El Desafio-->
<!--Bloque Nuestro enfoque-->
<section id="desafio" class="contenedor-secciones mb-md-7 mb-lg-5 mb-xl-3">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/escuela-superior-musica-reina-sofia-desafio.jpg" class="lazyloaded" alt="Manos sobre un teclado de piano" src="/assets/images/proyectos/escuela-superior-musica-reina-sofia-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <h3 class="title-5xl mb-4">El desafío</h3>
        <p>El principal reto al que nos enfrentamos fue repensar la nueva web de la escuela para que fuese una <strong>herramienta útil y fácil de utilizar</strong> por sus alumnos y profesores. Eso sí, sin olvidar a otros públicos clave, como los aficionados a la música clásica interesados en su programación.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4">
          <img data-src="/assets/images/proyectos/escuela-superior-musica-reina-sofia-enfoque.png" class="lazyloaded u-img-fluid" alt="Composición que representa un vídeo de concierto y un instrumento con partitura"  src="/assets/images/proyectos/escuela-superior-musica-reina-sofia-enfoque.png">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-5xl mb-4">Nuestro enfoque</h3>
          <p>Convertimos la web en la herramienta de comunicación clave para la Escuela. Para ello aprovechamos toda la potencia de <strong>Drupal 8 </strong>como solución de gestión de contenidos y toda su capacidad para integrar contenidos de distintas fuentes internas y conectar con otros servicios de la Escuela.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque frase-->
<section id="frase1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10">
        <p class="mb-5 mb-md-7 title-slim-6xl u-strong-red">Nueva <strong>arquitectura</strong>, nuevo <strong>CMS</strong> y una <strong>mejor integración </strong>de las fuentes de información internas.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque Producto final-->
<section id="productofinal" class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-5xl mb-4">Producto final</h3>
          <p>Una solución verdaderamente útil para la escuela: <strong> visual, fácil de gestionar</strong>, con información en constante renovación que facilita la interacción entre los alumnos y también con los candidatos. Además, conecta con las personas que siguen fielmente su agenda, que anuncia más de 300 conciertos al año. </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/escuela-superior-musica-reina-sofia-producto-final-1.png" class="lazyloaded u-img-fluid" alt="Pantalla Móvil de la página de la Escuela Superior de Música Reina Sofía" src="/assets/images/proyectos/escuela-superior-musica-reina-sofia-producto-final-1.png">
      </div>
    </div>
  </div>
</section>
<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div>
          <img data-src="/assets/images/proyectos/escuela-superior-musica-reina-sofia-producto-final-2.jpg" class="lazyloaded u-img-fluid" alt="Pantalla de la página de la Escuela Superior de Música Reina Sofía" src="/assets/images/proyectos/escuela-superior-musica-reina-sofia-producto-final-2.jpg">
        </div>
      </div>
      <div class="col-md-12 col-lg-6 d-flex c-bg-pattern c-bg-pattern__rigth">
        <div class="d-flex">
          <div class="d-flex  align-items-center c-gallery__bg">
            <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
              <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                {{svgSprite('link')}}
              </div>
              <div class="mr-4">
                <h4 class="title-2xl decoration-red pt-2 mb-3">Para saber más:</h4>
                   <a href="https://www.escuelasuperiordemusicareinasofia.es/" target="_blank">
                  <span class="c-link-especial">
                    Escuela Superior de Música Reina Sofía
                  </span>
                </a>
              </div>
              <div class="align-self-end c-icon--arrow c-icon--black">
                {{svgSprite('flecha-right')}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Tecnologia-->
<section class="bg-gray-light py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">Hemos incluido <strong>herramientas en la propia gestión</strong> de contenidos que permiten la <strong>máxima personalización</strong> en función de los dispositivos de los usuarios:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">Drupal</h4>
            <p>Para una gestión de contenidos modulable, fluida y muy sencilla.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}
{% endblock %}
