{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero contenedor-secciones-hero">
  <div class="c-grid-image--right">
    <img data-src="/assets/images/proyectos/divina-pastora-cabecera.png" class="lazyload" alt="Rodilla" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7">
        <h1 class="c-title--pre text-uppercase mt-3 mt-md-4 mb-0">Divina pastora</h1>
        <h2 class="h-extrahuge">Seguros de <strong>hacer las cosas bien</strong></h2>
        <p class="c-title--sub">(y de manera coherente)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-6">
        <p class="mb-0">Divina Pastora puso en nuestras manos el reto de dar coherencia y un nuevo diseño a toda su presencia digital. Ahí queda eso.</p>
      </div>
    </div>
  </div>
</section>

<section class="u-bg-gray-light py-5 px-4 p-md-5 py-lg-7 mb-5  mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-2 offset-lg-1">
        <h5 class="c-title--pre mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Divina Pastora</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UX</li>
          <li class="u-list-none mb-0">Storytelling</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Diseño
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UI</li>
          <li class="u-list-none mb-0">Diseño web</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Angular</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Web
        </h5>
         <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="https://divinapastora.com/" target="_blank">Divina Pastora Seguros</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7 contenedor-secciones">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/rodilla-desafio" class="lazyloaded" alt="Rodilla" src="/assets/images/proyectos/divina-pastora-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-5 col-lg-4 col-xl-3">
        <div class="pt-md-2 pt-xl-5">
          <h3>El desafío</h3>
          <p class="mb-0">
            Cómo construir la presencia digital completa de una aseguradora. Web pública, área privada y app móvil.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-pattern c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/rodilla-enfoque" class="lazyloaded u-img-fluid" alt="Rodilla" src="/assets/images/proyectos/divina-pastora-nuestro-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="pt-md-2 pt-xl-5">Nuestro enfoque</h3>
        <p>Para abordar este triple proyecto, comenzamos por trabajar el customer journey de cada uno de sus distintos tipos de clientes en la tarea más crítica para su negocio: la contratación. Esto nos ayudó a entender los procesos y crear un funnel sin escapes.</p>
        <p>Diseñamos las calculadoras multiproducto con una interfaz muy mobile para los distintos seguros. Con unos pocos datos que da el usuario, se le ofrecen todas las modalidades para que elija el mejor producto según sus necesidades.</p>
        <p class="mb-0">Avanzamos en las diferentes páginas: de producto, buscador médico, corporativa... por último, afrontamos el área privada y la App. Fue decisivo conocer los procesos para agilizar y optimizar las gestiones. También realizamos la maquetación de las áreas pública y privada del site siguiendo una estrategia de web responsive, orientada a componentes y mobile first.</p>
      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-lg-5 mb-xl-0">
        <div class="col-md-12 col-lg-6 col-xl-3 offset-xl-1">
          <div class="d-flex flex-column">
            <h3>
              Diseño final
            </h3>
            <p>
              El resultado: una renovación total de la imagen de Divina Pastora, más coherente con el posicionamiento de la marca más usable y con unos procesos críticos de decisión para el usuario mucho más simplificados.
            </p>
            <p class="mb-5">Todo ello garantiza una experiencia única, coherente y personalizada al cliente final.</p>
          </div>
          <div class="d-flex justify-content-between u-relative mb-5 mb-md-0">
            <div class="c-mockup-descripcion__icono c-icon--medium  c-icon--white u-bg-red">
                <svg><use xlink:href="/assets/svg/sprite/sprite.svg#blog"></use></svg>
            </div>
            <div class="mr-4">
              <p class="mb-2">
                <strong>Para saber más:</strong>
              </p>
              <a href="https://blog.biko2.com/angularjs/como-construir-aplicaciones-web-angular-mantenibles-y-escalables/" target="_blank">
                <span class="c-link-especial">
                  Cómo construir aplicaciones web Angular mantenibles y escalables
                </span>
              </a>
            </div>
            <div class="align-self-end c-icon--arrow  c-icon--black">
              <svg><use xlink:href="/assets/svg/sprite/sprite.svg#flecha-right"></use></svg>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/rodilla-producto-final-1" class="lazyloaded u-img-fluid" alt="Divina pastora diseño final" src="/assets/images/proyectos/divina-pastora-diseno-final.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="pt-lg-0 pt-xl-6  pb-lg-0">
            <img data-src="/assets/images/proyectos/divina-pastora-diseno-final" class="lazyloaded u-img-fluid" alt="Divnia pastora producto final" src="/assets/images/proyectos/divina-pastora-diseno-final.jpg">
          </div>
        </div>
        <div class="col-md-12 col-lg-6  mb-xl-6 d-flex">
          <div class="d-flex c-bg-pattern">
            <div class="d-flex  align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <p class="mb-2">
                    <strong>Para saber más:</strong>
                  </p>
                  <a href="https://divinapastora.com/" target="_blank">
                    <span class="c-link-especial">
                      Visita la web de Divina Pastora.
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12  col-xl-10 offset-xl-1">
        <p class="c-title--big mb-md-6">
          Falta de añadir texto, Falta de añadir texto, Falta de añadir texto, 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('angular')}}
          </div>
          <div>
            <h4 class="c-title-large">
              Angular
            </h4>
            <p>
            Falta de añadir texto
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('node-js')}}
          </div>
          <div>
            <h4 class="c-title-large">
              NodeJS
            </h4>
            <p>
              Falta de añadir texto
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="c-texto--center">
          <h3 class="c-title--big mb-4">
            ¿Tienes alguna <strong>duda</strong> sobre este <strong>proyecto?</strong> <br>¿Te gustaría ver otros similares?
          </h3>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}
