{# ----- PLAN DE IGUALDAD ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-5 mb-5">
        <h1 class="title-6xl mb-3 mb-md-5">Plan de Igualdad para Jakala | Biko</h1>
        <p>Desde Jakala | Biko, tenemos el compromiso de garantizar la igualdad real de oportunidades entre mujeres y hombres. Queremos que nuestro sector sea diverso, fomente el talento y esté libre de cualquier tipo de discriminación sexual o de género.</p>
        <p class="font-secondary text-2xl text-lg-3xl color-red mb-3">(que, seas quien seas, sientas que esta puede ser tu gran familia)</p>
        <p>Por eso, en el año 2022, diseñamos nuestro primer Plan de Igualdad. Un plan que ya forma parte de nuestro día a día y que, poco a poco, estamos implantando. Redactarlo fue solo el primer paso. Mantenerlo vivo, revisarlo y adaptarlo de forma constante, es nuestro cometido en este momento. Y para ello se ha creado la Comisión de seguimiento del Plan de Igualdad, para velar por su desarrollo y darle sustento.</p>
        <p>Ahora, nuestro gran reto es alcanzar los objetivos marcados para el año 2026.</p>
        <p class="font-secondary text-2xl text-lg-3xl color-red mb-3">(no será tarea fácil, pero... ¿quién, en Jakala | Biko, rechaza un buen reto?)</p>
        <p>Queremos garantizar que todas las personas que forman parte de Jakala | Biko tengan las mismas oportunidades y los mismos derechos; que todas ellas sientan Jakala | Biko como su espacio de crecimiento (personal y profesional); y que, además, lo perciban como un espacio seguro, libre de violencias y de cualquier tipo de discriminación.</p>
        <p class="font-secondary text-2xl text-lg-3xl color-red">(parece complejo, pero puedes despejar tus dudas hablando con la Comisión de seguimiento)</p>
         <p>¿Te gustaría disponer de más información sobre nuestro Plan de Igualdad?, pues lo puedes descargar en formato Pdf:</p>
        <a href="https://www.biko2.com/plan-de-igualdad/Plan-Igualdad-JakalaBiko.pdf" rel="nofollow" class="c-button c-button__secondary--outline gtm-lead-descargaplandeigualdad" alt="Descarga del PDF sobre el Plan de Igualdad de Jakala Biko">Descargar plan de Igualdad Jakala | Biko</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <img data-src="/assets/images/plan-de-igualdad/plan-igualdad1.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Chico saludando a chica en un evento de Jakala | Biko" />
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
        <img data-src="/assets/images/plan-de-igualdad/plan-igualdad2.jpg"
          class="lazyload w-100 mb-3 mb-md-0"
          alt="Personas de Jakala | Biko escuchando una charla" />
        <img data-src="/assets/images/plan-de-igualdad/plan-igualdad3.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Personas de Jakala | Biko mirando a cámara" />
      </div>
    </div>
  </div>
</section>

{% endblock %}
