{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero contenedor-secciones-hero">
  <div class="c-grid-image--right">
    <img data-src="/assets/images/proyectos/isdi-cabecera.jpg" class="lazyload" alt="Hipercor" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7">
        <h1 class="c-title--pre text-uppercase mt-3 mt-md-4 mb-0">El Corte Inglés | Hipercor</h1>
        <h2 class="h-extrahuge">Los <strong>grandes cambios</strong>, a veces, vienen de dentro</h2>
        <p class="c-title--sub">(no es filosofía zen, es desarrollo web)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-6">
        <p>Cómo rediseñar el interior de una web para que funcione de una manera mucho más sencilla, productiva y eficiente sin alterar ni una coma del diseño front (y sin que el usuario entere).
        </p>
      </div>
    </div>
  </div>
</section>

<section class="u-bg-gray-light py-5 px-4 p-md-5 py-lg-7 mb-5  mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <p class="mb-md-6 c-title--big">Trabajar desde dentro para que se pueda ver fuera. Hacer una migración de Moonshine 1 a Moonshine 2 para mejorar el funcionamiento de la plataforma.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-2 offset-lg-1">
        <h5 class="c-title--pre mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">El Corte Inglés</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Migración</li>
        </ul>
      </div>

    
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Moonshine 2</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Web
        </h5>
         <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="https://www.hipercor.es/" target="_blank">Hipercor</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="contenedor-secciones-xl mb-md-8 pb-md-5">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/isdi-desafio.jpg" class="lazyloaded" alt="Hipercor" src="/assets/images/proyectos/isdi-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-5 col-lg-4 col-xl-3">
        <div class="pt-md-2 pt-xl-5">
          <h3>El desafío</h3>
          <p class="mb-0">Nuestro principal objetivo era reconfigurar y repensar la <strong>estructura interna</strong> de la web sin que el exterior se viera afectado, de tal manera que la parte visible fuera todavía más efectiva y práctica. Por lo que, teniendo en cuenta que el mayor reto del proyecto era hacer una migración de Moonshine1 a Moonshine2, comenzamos a trabajar en su desarrollo y a preparar las adaptaciones en lógica. 
</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/isdi-enfoque.jpg" class="lazyloaded u-img-fluid" alt="Hipercor"  src="/assets/images/proyectos/isdi-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="pt-md-2 pt-xl-5">Nuestro enfoque</h3>
        <p>Una vez implementado Moonshine2, realizamos varios trabajos de desarrollo para comenzar a usar el <strong>API de Firefly</strong>. Este trabajo supuso trabajar codo con codo con el cliente, de tal manera que el proceso fuera lo más fluido, transparente y efectivo posible. 
        </p>
         
      </div>
    </div>
  </div>
</section>


<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-lg-5 mb-xl-0">
        <div class="col-md-12 col-lg-6 col-xl-3 offset-xl-1">
          <div class="d-flex flex-column">
            <h3>
              Producto final
            </h3>
            <p>
          Trabajar junto a equipos tan bien preparados y estructurados al final da sus frutos. Así, conseguimos que el proceso de <strong>migración</strong> fuera lo más ágil posible, dando lugar a un producto totalmente renovado y versátil.</p>
          </div>
        </div> 


        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/isdi-final-1.png" class="lazyloaded u-img-fluid" alt="Hipercor" src="/assets/images/proyectos/isdi-producto-final-1.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="pt-lg-0 pt-xl-6  pb-lg-0">
            <img data-src="/assets/images/proyectos/isdi-producto-final-2.jpg" class="lazyloaded u-img-fluid" alt="Hipercor" src="/assets/images/proyectos/isdi-producto-final-2.jpg">
          </div>
        </div>
        <div class="col-md-12 col-lg-6  mb-xl-6 d-flex c-bg-pattern c-bg-pattern__rigth">
          <div class="d-flex">
            <div class="d-flex  align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <p class="mb-2">
                    <strong>Para saber más:</strong>
                  </p>
                     <a href="https://www.hipercor.es/" target="_blank">
                    <span class="c-link-especial">
                      Visita la web de Hipercor
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12  col-xl-10 offset-xl-1 mb-3">
        <p class="c-title--big mb-md-6">
          Hemos incluido herramientas que mejoran la navegación de la web:
        </p>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div>
            <h4 class="c-title-large">
              Moonshine2
            </h4>
            <p>
            Para la gestión general de la web y en particular de todos los contenidos.
            </p>
          </div>
        </div>
      </div>
       <div class="col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('dialogflow')}}
          </div>
        <div>
            <h4 class="c-title-large">
              Firefly
            </h4>
            <p>
            Para poder mejorar la experiencia de los desarrolladores de los equipos. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="c-texto--center">
          <h3 class="c-title--big mb-4">
            ¿Tienes alguna <strong>duda</strong> sobre este <strong>proyecto?</strong> <br>¿Te gustaría ver otros similares?
          </h3>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}

