{# ----- AVISO LEGAL ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-7 mb-5 mb-md-7">
        <h1 class="title-hero mb-3 text-center">Aviso legal</h1>
        <p>Te damos la bienvenida a nuestra web y te agradecemos tu interés por leer las condiciones legales de la misma. Somos conscientes de que este tema puede no ser tu preferido, pero es importante que conozcas toda la información relativa a los términos y condiciones legales que definen las relaciones entre las personas usuarias de nuestra web y nuestra organización, como responsable de este sitio web. Como persona usuaria es importante que conozcas estos términos antes de continuar tu navegación.</p>
        <p>
        Somos la empresa BIKO2 2006, S.L. (en adelante BIKO), como responsable de esta web, nos comprometemos a procesar la información de nuestros usuarios con plenas garantías y cumplir con los requisitos nacionales y europeos que regulan la recopilación y uso de los datos personales.</p>
        <p>
        El acceso a la página web es gratuito salvo en lo relativo al coste de la conexión a través de la red de telecomunicaciones suministrada por el proveedor de acceso contratado por las personas usuarias. La utilización de nuestra web atribuye la condición de persona usuaria (en adelante,  'Usuaria' o ‘Persona Usuaria’) e implica la aceptación de todas las condiciones incluidas en este Aviso Legal. La prestación del servicio a través de nuestra web tiene una duración limitada al momento en el que la persona usuaria se encuentre conectada. Por tanto, la persona usuaria debe leer atentamente el presente Aviso Legal en cada una de las ocasiones en que se proponga utilizar el Portal, ya que éste y sus condiciones de uso recogidas en el presente Aviso Legal pueden sufrir modificaciones.</p>
        <p>
        Esta web cumple rigurosamente con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD), la Ley Orgánica 3/2018, de 5 de diciembre de Protección de Datos y Garantía de Derechos Digitales (LOPDGDD), así como con la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico (LSSICE o LSSI).</p>
        <p>
        En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico, a continuación, se exponen los datos identificativos de BIKO:</p>
        <p>
        <strong>Titular</strong>: BIKO2 2006, S.L.<br>
        <strong>NIF</strong>: B31896129<br>
        <strong>Dirección</strong>: Polígono Mutilva Baja, calle E5, 1º C, 31192, Mutilva Baja (Navarra)<br>
        <strong>Teléfono</strong>: +34 91436 48 54<br>
        <strong>Dirección de correo electrónico</strong>: <a href="mailto:info@biko2.com">info@biko2.com</a><br>
        <strong>Inscripción Registral</strong>: Inscrita en el Registro Mercantil de Navarra, Tomo 1266, Folio 21, Hoja NA-25209.</p>
        <h2 class="title-5xl mt-4 mb-4 mt-md-5 mb-md-5">1º) Información sobre propiedad intelectual e industrial</h2>
        <p>BIKO es el titular en exclusiva de los Derechos de Explotación del presente sitio web. BIKO se reserva todos los derechos de propiedad intelectual e industrial derivados del presente sitio web, siendo necesaria la autorización expresa y por escrito por parte de BIKO para cualquier ejercicio y uso de los mismos. La presente reserva de derechos alcanza tanto a la apariencia externa (“look and feel”) como a los contenidos que bajo cualquier formato puedan incluirse y distribuirse a través de esta web, al propio código, diseño y estructura de navegación del sitio web. </p>
        <p>
        BIKO 2 INFORMATION TECHNOLOGY ADVISOR ® (<a href="http://consultas2.oepm.es/ceo/jsp/busqueda/consultaExterna.xhtml?numExp=M2704398" target="_blank">M2704398</a>) es una marca comercial registrada por BIKO en la Oficina Española de Patentes y Marcas por lo que su uso y explotación se reserva exclusivamente a su titular.</p>
        <p>
        BIKO podrá realizar, en cualquier momento y sin necesidad de previo aviso, modificaciones y actualizaciones sobre la información contenida en su sitio web, o en su configuración o presentación. BIKO realiza todos los esfuerzos posibles para que la información suministrada a través de esta web sea clara, comprensible y adecuada, así como para evitar errores en la medida de lo posible y, en su caso, repararlos o actualizarlos. Sin embargo, BIKO no puede garantizar la inexistencia de errores ni que el contenido de la información se encuentre permanentemente actualizado.</p>
        <p>
        BIKO en ningún caso será responsable del incumplimiento por parte de las entidades proveedoras o personas colaboradoras de los derechos de propiedad intelectual sobre la autoría de las imágenes y fotografías suministradas por aquellas, presuponiéndose que los derechos de explotación sobre las mismas han sido debidamente cedidos por sus titulares a las citadas proveedoras.</p>
        
        <h2 class="title-5xl mt-4 mb-4 mt-md-5 mb-md-5">2º) Condiciones y términos de registro y acceso al sitio web</h2>
        <p>La persona usuaria, por el mero hecho de acceder al presente sitio, cualesquiera que sea la forma de dicho acceso, consiente y accede a las presentes condiciones, las cuales marcarán el régimen de utilización del presente sitio web. La persona titular se reserva el derecho a alterarlas y modificarlas en cualquier momento, siendo las publicadas en la última actualización las que rigen y son de aplicación en cada visita. Si la persona usuaria no acepta la totalidad de las presentes condiciones, no está autorizada a acceder al presente sitio web y a los contenidos y servicios en él alojados, debiendo proceder a abandonar el sitio de forma inmediata. Las presentes condiciones son así mismo extensibles y aplicables a las comunicaciones y boletines que en su caso puedan remitirse por la titular del sitio web, debiendo por tanto la persona usuaria aceptar las presentes condiciones para su acceso y/o uso. </p>
        <p>
        BIKO se reserva el derecho de excluir, temporal o definitivamente, a las personas usuarias en cualquiera de los siguientes supuestos:</p>
        <ul class="u-list-clean">
          <li><p class="u-decoration-red pt-2 mb-4">Por incumplimiento de cualquiera de las presentes condiciones generales de uso.</p></li>
          <li><p class="u-decoration-red pt-2 mb-5">Por incumplimiento de las leyes, la moral, y el Orden Público.</p></li>
        </ul>
        <h2 class="title-5xl mt-4 mb-4 mt-md-5 mb-md-5">3º) Objeto</h2>
        <p><em>www.biko2.com</em> es la web oficial de BIKO donde el usuario va a encontrar la mejor información sobre nuestra empresa con más de 20 años de experiencia y más de 400 proyectos a nuestras espaldas.</p>
        <p>
        En nuestra web podrá conocer nuestro trabajo, casos de éxito, quiénes somos, inscribirte en los cursos que organicemos, acceder a artículos en nuestro blog, así como contactar con nosotros mediante el formulario habilitado al efecto o mediante correo electrónico en la dirección <a href="mailto:info@biko2.com">info@biko2.com</a> reservándonos el derecho de poder ofrecer otros contenidos y enlaces relacionados o no con lo anterior.</p>
        <h2 class="title-5xl mt-4 mb-4 mt-md-5 mb-md-5">4º) Política de protección de datos personales</h2>
        <p>Puedes leer qué datos recopilamos y cómo tratamos los mismos y nuestra <a href="/proteccion-de-datos/">política de protección de datos</a>. </p>
        <h2 class="title-5xl mt-4 mb-4 mt-md-5 mb-md-5">5º) Vinculación a otros sitios web</h2>
        <p>Se prohíbe la presentación de una página del sitio web en una ventana de un sitio web que no pertenezca al titular de la web <em>www.biko2.com</em>, mediante la técnica denominada "framing", a no ser que cuente con el expreso consentimiento de BIKO.</p>
        <p>
        Se prohíbe la inserción de cualquier tipo de contenido difundido a través de web <em>www.biko2.com</em>, en otro sitio web distinto a aquel mediante la técnica denominada "in line linking", si ello, no cuenta con el expreso consentimiento de BIKO.</p>
        <p>
        Se autoriza el establecimiento de links de hipertexto (hipervínculos) en otros sitios web, los cuales estén dirigidos a la home page web <em>www.biko2.com</em>, o en su caso, a cualquier otra página interna (“deep link”) del sitio web, siempre que las correspondientes páginas aparezcan en una ventana completa y bajo sus respectivas direcciones web, asumiendo su total responsabilidad y riesgo aquel que proceda al establecer el hipervínculo al web sitio web. </p>
        <h2 class="title-5xl mt-4 mb-4 mt-md-5 mb-md-5">6º) Responsabilidades</h2>
        <p>
        Las personas se comprometen a hacer un uso adecuado de los contenidos y servicios que BIKO ofrece a través de su sitio web y a no emplearlos para (I) incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público; (II) difundir contenidos o propaganda de carácter machista, racista, xenófobo, pornográfico-ilegal, de apología del terrorismo o atentatorio contra los derechos humanos; (III) provocar daños en los sistemas informáticos de BIKO o de sus entidades proveedoras; (IV) introducir o difundir en la red de BIKO virus informáticos o cualesquiera otros sistemas que sean susceptibles de provocar los daños, (V) desarrollar actividades que tengan que ver con técnicas de des compilación o descodificación de contenido, no autorizadas. </p>
        <p>
        En el caso de que la persona usuaria o cualquier otra persona que use Internet tuviera conocimiento de que en el sitio web exhibe contenidos o servicios ilícitos, nocivos, denigrantes, violentos o contrarios a la moral o de que los sitios enlazados remiten a páginas con dicho contenido, deberá ponerse en contacto con BIKO en la dirección de correo electrónico indicada en este aviso legal, identificándose de forma suficiente si fuese preciso y describiendo los hechos que considera ilícitos o inadecuados. En el supuesto de violación de derechos tales como los de propiedad intelectual e industrial, deberá aportar también los datos personales de la titular del derecho infringido, cuando sea persona distinta de quien  comunica el hecho. Asimismo, deberá aportar el título que acredite la legitimación de la titularidad de los derechos y, en su caso, el de representación para actuar por cuenta de la titular cuando sea persona distinta de quien comunica, y declaración expresa de que la información contenida en la reclamación es exacta.
        </p>
        <p>
        La recepción por parte de BIKO de la comunicación prevista en esta cláusula no supondrá, según lo dispuesto en la LSSI, el conocimiento efectivo de las actividades y/o contenidos indicados por la persona comunicante.</p>
        <p>
        BIKO no garantiza de ninguna forma la precisión, contenido, integridad, legalidad, fiabilidad, actualidad, veracidad, exactitud, funcionamiento o disponibilidad de los contenidos y servicios que ofrece, declinando cualquier responsabilidad sobre los mismos, así como los perjuicios que en su caso puedan contemplar. La información que se ofrece tiene un carácter meramente informativo y no es representativa de nada. Lo dicho anteriormente es extensible a los enlaces, contenidos y opiniones no pertenecientes a la persona titular u no alojados en el presente sitio web, correspondiendo la responsabilidad en todo caso a las titulares de los contenidos y de los sitios en cuestión. Así mismo, BIKO no se hace responsable del uso incorrecto que en su caso pudiera efectuarse de los contenidos ofrecidos, declinando toda responsabilidad al respecto.</p>
        <p>
        BIKO no se hace responsable directa o subsidiariamente de cuantas reclamaciones puedan derivarse de la calidad, fiabilidad, exactitud o corrección de los contenidos.</p>
        <h2 class="title-5xl mt-4 mb-4 mt-md-5 mb-md-5">7º) Prestación del servicio</h2>
        <p>BIKO se reserva el derecho a modificar sus programas, así como la sistematización de los datos suministrados y las características técnicas de acceso y transmisión. Cuando dichos cambios no permitan un uso compatible con las versiones anteriores instaladas, BIKO, lo comunicará a través de su sitio web. Igualmente se reserva el derecho de interrumpir parcial o totalmente el servicio por cambios técnicos o averías, comunicándolo previamente a través de su sitio web si es posible o a través de cualquier otro sitio habilitado al efecto. </p>
        <p>
        BIKO velará, en la medida de lo posible, por la seguridad informática de los soportes técnicos usados por la persona usuaria en su navegación por las páginas del sitio web. Sin embargo, debido a que Internet no puede ser considerado un medio seguro, BIKO no puede garantizar la ausencia de virus u otros elementos lesivos, introducidos por terceros, que pudieran causar daños o alteraciones en el sistema informático, en los documentos electrónicos o en los ficheros de la persona usuaria que visite este sitio web. En consecuencia, BIKO no responderá por los daños y perjuicios que tales elementos pudieran ocasionar a las usuarias y terceras personas.</p>
        <p>
        No es responsabilidad de BIKO el sistema operativo que en este momento esté implantado, ni las consecuencias que de un mal funcionamiento del mismo pudieran derivarse. </p>
        <p>
        BIKO se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su sitio web, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados en su sitio web.
        </p>
        <h2 class="title-5xl mt-4 mb-4 mt-md-5 mb-md-5">8º) Derechos de imagen y disclaimer</h2>
        <p>BIKO no se hace responsable de los contenidos, informaciones e imágenes que no dependan del sitio web, ni sean gestionados por BIKO, aunque aparezcan en el sitio web en virtud de cualquier convenio firmado por BIKO.</p>
        <h2 class="title-5xl mt-4 mb-4 mt-md-5 mb-md-5">9º) Infracciones</h2>
        <p>BIKO perseguirá el incumplimiento de las anteriores condiciones, así como cualquier utilización prohibida e indebida de su sitio web ejerciendo todas las acciones civiles y penales que le puedan corresponder en derecho.</p>
        <h2 class="title-5xl mt-4 mb-4 mt-md-5 mb-md-5">10º) Validez</h2>
        <p>En el caso de que alguna cláusula o parte de la misma del presente aviso fuera declarada nula, dicha circunstancia no afectará a la validez del resto.
        </p>
        <h2 class="title-5xl mt-4 mb-4 mt-md-5 mb-md-5">11º) Jurisdicción y fuero aplicable</h2>
        <p>
        Sabemos que nos llevaremos bien, pero para concretar todas las posibles situaciones que se puedan dar, queremos informarte que la ley aplicable a cualquier controversia que se suscite con relación al presente sitio web y a los contenidos en él ofrecidos, será la ley española. Las partes acuerdan someterse a los Juzgados y Tribunales de Pamplona, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, salvo que conforme a tu ley nacional existiera una regulación del fuero legal que excluya la posibilidad de sometimiento expreso, en cuyo caso se atenderá a la disposición legal.
        </p>
        <p class="mt-5"><em>Última actualización el 26 de abril de 2021</em></p>
      </div>
    </div>
</section>

{% endblock %}
