{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--aecc text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-sm letter-base font-400 color-grayextradark">AECC</p>
          <h1 class="title-hero mb-4">
          Proyectos que ayudan a ayudar
          </h1>

          <p class="font-secondary text-3xl color-red-middle mb-4">(y la satisfacción de contribuir a algo así)</p>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-lg-6">
              <p>La Asociación Española contra el Cáncer (AECC) acudió a nosotros para reenfocar y rediseñar <strong>su experiencia digital</strong> al completo.
              Así que nos pusimos en marcha para evolucionar su <strong>Drupal</strong> y convertirlo en un <strong>espacio de ayuda real</strong> para los usuarios y los profesionales en torno a él; entre otras cosas, creando nuevos medios para visibilizar los servicios de AECC y para recibir apoyo económico.</p>
            </div>
            <div class="col-lg-6">
              <p>Para ello, uno de los requisitos era <strong>agilizar el trabajo interno</strong> y permitir evolucionar las mejoras implementadas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-6 title-slim-6xl u-strong-red"><strong>Enfocarse en lo que realmente importa.</strong> El objetivo principal del proyecto era poner a los usuarios y sus necesidades en el centro. Rediseñar su experiencia digital para <strong>ofrecer una ayuda real</strong> y agilizar los procesos internos.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-2">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">AECC</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UX</li>
          <li class="u-list-none mb-0">Storytelling</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Diseño
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Diseño web</li>
          <li class="u-list-none mb-0">UI</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Drupal</li>
          <li class="u-list-none mb-0">Dialogflow</li>
          <li class="u-list-none mb-0">Tensorflow</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Web
        </h5>
         <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="https://www.aecc.es/es" target="_blank">AECC</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="c-separator--line"><hr /></div>
<section class="contenedor-secciones">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/aecc-desafio" class="lazyloaded" alt="AECC" src="/assets/images/proyectos/aecc-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-7xl mb-4">El desafío</h3>
          <p>Convertir su <strong>experiencia digital</strong> en un espacio de <strong>ayuda real</strong> para los usuarios y los profesionales. Uno de nuestros <strong>grandes retos</strong> fue desarrollar un sistema de <strong>machine learning</strong> que respondiera directamente a las necesidades expresadas por cada usuario. </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/aecc-enfoque" class="lazyloaded u-img-fluid" alt="AECC" src="/assets/images/proyectos/aecc-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="title-7xl mb-4">Nuestro enfoque</h3>
        <p>Para implementar el sistema de <strong>machine learning</strong>, realizamos un procesamiento del lenguaje natural para clasificar textos utilizando <strong>Tensorflow</strong> y <strong>Dialogflow</strong>. Y todo ello, integrado con Drupal. De esta manera hacemos uso de la gestión de contenidos en los procesos de supervisión del <strong>aprendizaje automático</strong>.</p>
        <p class="mb-0">Otras líneas que trabajamos en paralelo fue la <strong>simplificación del proceso de triaje</strong>, la creación de un <strong>ecommerce</strong> y una <strong>herramienta de gestión</strong>.</p>
      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-4 mb-md-5">
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="d-flex flex-column">
            <h3 class="title-7xl mb-4">
              Producto final
            </h3>
            <p>
            Una de las mayores satisfacciones de este proyecto ha sido <strong>amabilizar el proceso del triaje, eliminando formularios</strong> extensos, construyendo un nuevo sistema de reserva de <strong>citas</strong> e integrando un sistema de <strong>videoconsultas</strong>.
            </p>
            <p>
            En paralelo, creamos un <strong>ecommerce</strong> que permite <a class="c-link" href="https://www.aecc.es/es/colabora/dona" target="_blank">colaborar</a> con la AECC mediante la compra de tarjetas y realizando aportaciones económicas a los servicios a través de su tienda online.
            </p>
            <p>
            Finalmente, hemos proporcionado al equipo de la AECC una <strong>herramienta de gestión de landings</strong> para su departamento de marketing. Uno de sus resultados más inmediatos ha sido el Observatorio de AECC.
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/aecc-producto-final-1" class="lazyloaded u-img-fluid" alt="AECC" src="/assets/images/proyectos/aecc-producto-final-1.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div>
            <img data-src="/assets/images/proyectos/aecc-producto-final-2" class="lazyloaded u-img-fluid" alt="AECC" src="/assets/images/proyectos/aecc-producto-final-2.jpg">
          </div>
        </div>
        <div class="col-md-12 col-lg-6 d-flex c-bg-pattern">
          <div class="d-flex">
            <div class="d-flex  align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <h4 class="title-2xl decoration-red pt-2 mb-3">
                    <strong>Para saber más:</strong>
                  </h4>
                  <a href="https://www.aecc.es/es" target="_blank">
                    <span class="c-link-especial">
                      Visita la web de AECC.
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-3">
        <p class="title-slim-6xl u-strong-red mb-md-6">
          Para cubrir y dar respuesta a las <strong>distintas necesidades</strong>, hemos optado por una serie de <strong>herramientas distintas</strong>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
       <div class="d-flex">
         <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
            Para la construcción de <strong>landings</strong> por medio de bloques, de forma rápida e intuitiva y la gestión de un <strong>ecommerce</strong> centrado en el valor de los contenidos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('dialogflow')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Dialogflow y Tensorflow
            </h4>
            <p>
              Para desarrollar la parte de machine learning del triaje de usuarios.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="c-texto--center">
          <h2 class="title-7xl mb-4">
            ¿Tienes alguna <strong>duda</strong> sobre este <strong>proyecto?</strong> <br>¿Te gustaría ver otros similares?
          </h2>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container d-flex flex-row justify-content-center py-6">
    <a class="action-up color-blue d-flex flex-column align-items-center decoration-none" href="#top">
        <svg class="icon-up mb-4">
            <use xlink:href="/assets/svg/sprite/sprite.svg#arrow-slim"></use>
        </svg>
        <span class="text-uppercase color-blue text-sm letter-base font-400">Subir</span>
    </a>
</div>
{% include "@includes/contact.twig" %}

{% endblock %}
