{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-7 mb-5 mb-md-7">
        <h1 class="title-hero mb-3 text-center">Canal de denuncias</h1>
        <p>BIKO2 2006, S.L. (en adelante BIKO) y sus socios tienen la responsabilidad de llevar a cabo sus actividades de una manera legal y ética. Construir confianza a través de la forma en que trabajamos da seguridad a todos nuestros grupos de interés. </p>
        <p>
        En BIKO estamos comprometidos con el Cumplimiento Normativo y fomentamos una cultura ética empresarial en todos nuestros niveles.</p>
        <p>
        Construir una cultura de cumplimiento también significa construir una cultura de confianza. Dependemos de nuestros empleados - y también de terceros - para plantear cualquier inquietud que puedan tener. Los exhortamos a que nos comuniquen cualquier duda o sospecha que tengan en relación con un comportamiento que no se ciña a las leyes y reglamentos aplicables. </p>
        <p>
        Por ello BIKO pone a disposición de empleados, proveedores, clientes y colaboradores un canal de denuncias para que puedan comunicar cualquier duda, consulta o la comisión de cualquier irregularidad relacionada con </p>
        <ul class="u-list-clean pl-5">
          <li><p class="u-decoration-red pt-2 mb-4">Entidades financieras.</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Contratación Pública</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Corrupción en los negocios-soborno</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Blanqueo de capitales y financiación del terrorismo</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Seguridad de los productos y conformidad en su fabricación</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Seguridad del transporte</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Protección del Medio Ambiente</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Protección frente a radiaciones y seguridad nuclear</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Seguridad de los alimentos y los piensos, sanidad animal y bienestar de los animales</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Salud pública</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Protección de los consumidores</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Protección de la privacidad y de los datos personales</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Seguridad de las redes y de los sistemas de información (ciberseguridad)</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Intereses financieros de la Unión Europea</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Infracciones sobre la competencia en los mercados, abuso de posición dominante en el mercado</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Seguridad y Salud en el trabajo</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Acoso laboral</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Acoso sexual</p></li>
          <li><p class="u-decoration-red pt-2 mb-4">Otros</p></li>
        </ul>
        <p>El canal de denuncias está gestionado de manera externa e independiente por el Despacho de Abogados DMA Compliance, puede accederse al mismo desde aquí:</p>
        <div class="d-flex justify-content-center mb-3 mb-md-5">
          <a class="c-button gtm-lead-canal-de-denuncias gtm-canal-de-denuncias"  href="https://biko2.whistlelink.com/" target="_blank">Canal de denuncias</a>
        </div>
        <p>Nuestro canal de denuncias permite presentar denuncias o consultas de una forma totalmente anónima y confidencial las 24 horas del día, los 7 días de la semana.</p>
        <p class="mt-5"><em>Última actualización el 13 de diciembre de 2021</em></p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
