{# ----- OPENSPACE ----- #}
{% extends "_layouts/page.twig" %}
{% block page %}

<section class="c-hero p-openspace-hero">
  <div class="p-openspace-hero__container">

    <div class="c-grid-image--right">
      <img data-src="/assets/images/open-mayo2019.jpg" class="lazyload" alt="Próximo Open Space" />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 col-xl-7">
          <div class="p-openspace__texto">
            <h1>Open<strong> Space</strong></h1>
            <p class="c-title--sub">(Un día para descubrir las tendencias del universo tecnológico)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex d-flex-icon justify-content-start justify-content-md-center">
      <div class="c-icon-square">
        <svg version="1.1" width="72" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g transform="translate(-3 -3)" fill="#ffffff"><g transform="translate(3 3)"><path d="M36,4.28547522 L27.780318,21.3571224 L26.3049905,24.3780312 L4.38583852,27.609701 L20.263173,43.4870355 L19.7713971,46.6484516 L16.5397273,65.6169485 L36,55.219402 L55.4602727,65.6169485 L52.2286029,46.6484516 L51.736827,43.4870355 L67.6141615,27.609701 L45.6247558,24.3780312 L36,4.28547522 Z M36,0 C37.0303926,0 37.9670992,0.257594295 38.8101477,0.772790614 C39.6531962,1.28798693 40.2854731,1.99051683 40.7069974,2.88040138 L48.8564257,19.8115412 L67.6141615,22.5514352 C68.5508821,22.6919433 69.3939179,23.0666259 70.1432944,23.6754943 C70.8926709,24.2843626 71.4312771,25.0571455 71.7591293,25.9938661 C72.0401455,26.8837507 72.075272,27.7853307 71.8645099,28.6986333 C71.6537477,29.6119358 71.1971033,30.4198452 70.4945629,31.1223856 L56.7950929,44.8218556 L59.956509,63.8606062 C60.1438531,64.7973268 60.0384737,65.7106156 59.6403674,66.6005002 C59.2422612,67.4903847 58.6451108,68.2163323 57.8488983,68.7783646 C57.380538,69.1062168 56.888767,69.3403935 56.3735707,69.4809016 C55.8583744,69.6214096 55.3431858,69.6916626 54.8279895,69.6916626 C54.4064652,69.6916626 53.9849473,69.6448273 53.563423,69.5511552 C53.1418988,69.4574832 52.7203808,69.2935595 52.2988566,69.0593794 L36,60.2776679 L19.6308897,69.0593794 C19.2562015,69.2935595 18.8581012,69.4574832 18.436577,69.5511552 C18.0150527,69.6448273 17.5935348,69.6916626 17.1720105,69.6916626 C16.6099782,69.6916626 16.0830807,69.6214096 15.5913024,69.4809016 C15.0995241,69.3403935 14.619462,69.1062168 14.1511017,68.7783646 C13.3548892,68.2163323 12.7577388,67.4903847 12.3596326,66.6005002 C11.9615263,65.7106156 11.8561469,64.7973268 12.043491,63.8606062 L15.2049071,44.8218556 L1.50543715,31.1223856 C0.802896711,30.4198452 0.346252279,29.6119358 0.135490148,28.6986333 C-0.075271982,27.7853307 -0.0401454872,26.8837507 0.240870687,25.9938661 C0.568722889,25.1039816 1.10732914,24.3429075 1.85670561,23.7106211 C2.60608207,23.0783347 3.44911795,22.6919433 4.38583852,22.5514352 L23.1435743,19.8115412 L31.2930026,2.88040138 C31.7145269,1.99051683 32.3468038,1.28798693 33.1898523,0.772790614 C34.0329008,0.257594295 34.9696074,0 36,0 Z" fill-rule="nonzero"/></g></g></g></svg>
      </div>
    </div>
  </div>
</section>


<section class="p-openspace-proximo mb-5 mb-md-7">
  <div class="p-openspace-proximo__container">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-8 offset-xl-1 col-xl-6">
          <div class="c-box-white">
            <h2 class="mb-4">Estamos preparando el próximo Open Space <strong>#openbiko</strong></h2>
            <p class="mb-4">El Open Space de Biko de este año ha sido la bomba y ya estamos centrados en preparar el siguiente. Mientras estamos en ello, aquí van algunos datos sobre el último evento: </p>
            <a href="https://www.biko2.com/blog/actualidad-biko/el-openbiko-en-cifras/" class="c-button c-button--second">Ver Open Space 2019 en cifras</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {% include "openspace/datos.twig" %}
  </div>
</section>


<section class="p-openspace-calendario mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-3 mb-md-5"><strong>Calendario</strong> <br /> XVII edición del Open Space Biko</h2>
        <div class="c-grid-image--center">
          <img data-src="/assets/images/calendario-openmayo2019.png" class="lazyload" alt="Calendario Open Space 2019" />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr /></div>

<section class="p-openspace-que c-bg-pattern__right mb-5 mb-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-7">
        <h2 class="h-extrahuge">¿Qué es un <strong>Open Space</strong>?</h2>
        <p class="c-title--sub">(por si todavía no lo sabes)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p>Un evento sin agenda prefijada basada en la autoorganización que consigue que salgan las mejores ideas y se comparta el conocimiento de una forma ágil y amena. Nosotros adaptamos algo el formato para que dé tiempo a preparar algunas charlas. Temas como marketing automation, PWA, machine learning, dinámicas agile, etc. suelen ser recurrentes.</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10">
        <pre>
          <div class="c-video">
            <iframe  src="https://www.youtube.com/embed/WzZh8rEetHg" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </pre>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr /></div>

<section class="p-openspace-temas mb-5 mb-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-9">
        <h2 class="h-extrahuge">¿De qué se hablará en el <strong>Open Space</strong>?</h2>
        <p class="c-title--sub">(de lo que queramos, básicamente)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p>Hay muchos motivos para asistir a un Open Space, pero hemos seleccionado tres para tratar de convencerte del todo.</p>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr /></div>

<section class="p-openspace-razones c-bg-pattern__left mb-5 mb-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="h-extrahuge">3 <strong>razones</strong> para venir</h2>
        <p class="c-title--sub">(y poder disfrutarlo in situ)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p>Además de las charlas ya planificadas, dejaremos huecos para proponer y votar nuevas charlas el mismo día. También contamos con algún invitado sorpresa que os desvelaremos dentro de muy poco. </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-xl-1 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/razones-1.jpg" class="lazyload mb-3" alt="Razones para venir al Open Space" />
        <h3 class="c-title--pre">Aprender</h3>
        <p>Seguro que encuentras una charla que encaje contigo sea cual sea tu especialidad o intereses profesionales.</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/razones-2.jpg" class="lazyload mb-3" alt="Razones para venir al Open Space" />
        <h3 class="c-title--pre">Cambiar de aire</h3>
        <p>Salir de la rutina siempre está bien. Aprenderás sin darte cuenta en un ambiente muy cercano y familiar.</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/razones-3.jpg" class="lazyload mb-3" alt="Razones para venir al Open Space" />
        <h3 class="c-title--pre">Vivir la autogestión</h3>
        <p>Para entenderlo, hay que vivirlo. El poder de un montón de personas motivadas por compartir conocimiento y aprender.</p>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr /></div>

<section class="p-openspace-dudas c-bg-pattern__right mb-5 mb-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="h-extrahuge">Dudas <strong>resueltas</strong></h2>
        <p class="c-title--sub">(que no se quede nada en el tintero)</p>
      </div>
      <div class="col-12 offset-lg-1 col-lg-5">
        <div class="c-line-list__first-column">
          <h3 class="c-title--pre c-title--line">¿Por qué un Open Space?</h3>
          <p>Porque creemos en el conocimiento compartido y en Biko tenemos mucho talento que no queremos guardar solo para nosotros. Nos gusta este formato ágil en el que todos podemos proponer y elegir los temas sobre los que nos interesa aprender, debatir y compartir. </p>
          <h3 class="c-title--pre c-title--line">¿Por qué un Open Space?</h3>
          <p>Algunos de los temas elegidos en esta ocasión han sido React, machine learning, tecnologías del futuro que parecen de ciencia ficción, Kickstarter, narrativa metafórica... pero habrá tiempo para plantear nuevos temas in situ.</p>
          <h3 class="c-title--pre c-title--line">¿Cómo puedo apuntarme?</h3>
          <p>Rellena tus datos en el formulario o mándanos un email a <em>comunicacion@biko2.com</em>. No tienes que hacer nada más, nosotros nos encargamos del resto. </p>
          <h3 class="c-title--pre c-title--line">¿Me apunto si el aforo está completo?</h3>
          <p>Apúntate, igual tienes suerte. Siempre suele haber bajas de última hora. Si no te importa la incertidumbre, te avisaremos en cuanto quede un hueco disponible para que puedas venir al Open Space. </p>
        </div>
      </div>
      <div class="col-12 offset-lg-1 col-lg-5">
        <div class="c-line-list__last-column">
          <h3 class="c-title--pre c-title--line">¿Es gratis?</h3>
          <p>Claro que sí. El concepto del Open Space implica compartir el conocimiento desinteresadamente. Por eso, la entrada es libre previa inscripción, porque no queremos que nadie se quede fuera.</p>
          <h3 class="c-title--pre c-title--line">¿Cómo puedo proponer una charla? </h3>
          <p>Puedes mandarla por email a <em>comunicacion@biko2.com</em>. También habrá tiempo para proponer y votar nuevas charlas entre todos durante el Open Space.</p>
          <h3 class="c-title--pre c-title--line">¿Tengo que asistir a todas las charlas?</h3>
          <p>No, puedes adaptar el horario como mejor te venga: estar toda la jornada o asistir solo a alguna de las charlas. No hay ninguna regla ni pasaremos lista.</p>
          <h3 class="c-title--pre c-title--line">Me he apuntado y al final no puedo ir...</h3>
          <p>No pasa nada, avísanos con un email a <em>comunicacion@biko2.com</em> para que lo tengamos en cuenta y podamos ceder tu plaza a alguien en lista de espera. Esperamos verte en el próximo Open Space de Biko. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr /></div>

<section class="p-openspace-donde mb-3">
  <div class="c-mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2929.6042156694193!2d-1.6394404845927708!3d42.75442527916248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd50910aaaada8fd%3A0xb7d6b9f297962622!2sCEIN!5e0!3m2!1ses!2ses!4v1571386124888!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</section>

<section class="p-openspace-hashtag mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center mb-2 mb-md-3">
          <div class="c-icon-square c-icon-square__nobg">
            <svg version="1.1" width="72" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g transform="translate(-3 -3)" fill="#1DA1F2"><g transform="translate(3 3)"><path d="M72,12.9 C69.3,14.1 66.6,15 63.6,15.3 C66.6,13.5 69,10.5 70.2,7.2 C67.2,9 64.2,10.2 60.9,10.8 C58.2,7.8 54.3,6 50.1,6 C42,6 35.4,12.6 35.4,20.7 C35.4,21.9 35.4,23.1 35.7,24 C23.1,23.4 12.3,17.4 5.1,8.4 C3.6,10.8 3,13.2 3,15.9 C3,21 5.7,25.5 9.6,28.2 C7.2,28.2 4.8,27.6 3,26.4 C3,26.4 3,26.4 3,26.7 C3,33.9 8.1,39.9 14.7,41.1 C13.5,41.4 12.3,41.7 10.8,41.7 C9.9,41.7 9,41.7 8.1,41.4 C9.9,47.4 15.3,51.6 21.9,51.6 C16.8,55.5 10.5,57.9 3.6,57.9 C2.4,57.9 1.2,57.9 0,57.6 C6.6,61.8 14.4,64.2 22.5,64.2 C49.8,64.2 64.5,41.7 64.5,22.2 L64.5,20.4 C67.5,18.3 69.9,15.6 72,12.9 Z" fill-rule="nonzero"/></g></g></g></svg>
          </div>
        </div>
        <p class="h-extrahuge d-flex justify-content-center"><a href="https://twitter.com/search?q=%23openbiko&src=typed_query" target="_blank">#openbiko</a></p>
      </div>
    </div>
  </div>
</section>

{% include "_includes/contact.twig" %}

{% endblock %}
