{# ----- HOME ----- #}
{% extends "_layouts/page.twig" %}
{% block page %}

<section class="c-hero p-openspace-hero">
  <div class="p-openspace-hero__container">

    <div class="c-grid-image--right">
      <img data-src="/assets/images/open-mayo2019.jpg" class="lazyload" alt="Próximo Open Space" />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 col-xl-7">
          <div class="p-openspace__texto">
            <h1>Open<strong> Space</strong></h1>
            <p class="c-title--sub">(Un día para descubrir las tendencias del Universo Tecnológico)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex d-flex-icon justify-content-start justify-content-md-center">
      <div class="c-icon-square">
        <svg width="72px" height="62px" viewBox="0 0 72 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-52.000000, -75.000000)" fill="#FFFFFF">
              <path d="M104.79,75 C97.76,75 91.17,80.56 88,83.7 C84.83,80.56 78.24,75 71.21,75 C59.19,75 52,82.05 52,93.86 C52,103.53 60.84,111.62 61.16,111.91 L86.23,136.16 C86.71,136.64 87.35,136.89 88,136.89 C88.65,136.89 89.29,136.65 89.77,136.16 L114.8,111.98 C115.16,111.62 124,103.52 124,93.85 C124,82.05 116.81,75 104.79,75 Z M111.55,107.95 L88.19,130.5 L64.79,107.91 C64.71,107.83 57.26,100.97 57.26,93.59 C57.26,82.25 64.91,79.87 71.36,79.87 C77.36,79.87 84.13,86.36 86.22,88.87 C87.19,90.04 89.2,90.04 90.17,88.87 C92.26,86.37 99.03,79.87 105.03,79.87 C111.48,79.87 119.13,82.25 119.13,93.59 C119.12,100.97 111.67,107.83 111.55,107.95 Z"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</section>


<section class="p-openspace-proximo mb-5 mb-md-7">
  <div class="p-openspace-proximo__container">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-8 offset-xl-1 col-xl-6">
          <div class="c-box-white">
            <h2 class="mb-4">Estamos preparando el próximo Open Space <strong>#openbiko</strong></h2>
            <p class="mb-4">El Open Space de Biko de este año ha sido la bomba y ya estamos centrados en preparar el siguiente. Mientras estamos en ello, aquí van algunos datos sobre el último evento: </p>
            <a href="#" class="c-button c-button--second">Ver Open Space 2019 en cifras</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="gu c-box-gray-light">
      <div class="row">
        {% include "openspace/datos.twig" %}
      </div>
    </div>
  </div>
</section>


<section class="p-openspace-calendario mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-3 mb-md-5"><strong>Calendario</strong> <br /> XVII edición del Open Space Biko</h2>
        <div class="c-grid-image--center">
          <img data-src="/assets/images/calendario-openmayo2019.png" class="lazyload" alt="Calendario Open Space 2019" />
        </div>
      </div>
    </div>
  </div>
</section>


<section class="p-openspace-que c-bg-pattern__right mb-3 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-7">
        <h2 class="h-extrahuge">¿Qué es un <strong>Open Space</strong>?</h2>
        <p class="c-title--sub">(lorem ipsum dolor sit amet)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p>Un evento sin agenda prefijada basada en la autoorganización que consigue que salgan las mejores ideas, y se comparta el conocimiento de una forma ágil y amena. Nosotros adaptamos algo el formato para que dé tiempo a preparar algunas charlas. Temas como marketing automation, PWA, machine learning, dinámicas agile, etc. suelen ser recurrentes. Mira cómo fue el último <a href="#">#openbiko</a>:</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10">
        <pre>
          <div class="c-video">
            <iframe  src="https://www.youtube.com/embed/WzZh8rEetHg" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </pre>
      </div>
    </div>
  </div>
</section>

<section class="p-openspace-temas mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="h-extrahuge">¿De qué se hablará en el <strong>Open Space</strong>?</h2>
        <p class="c-title--sub">(lorem ipsum dolor sit amet)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p>Además de las charlas ya planificadas, dejaremos huecos para proponer y votar nuevas charlas el mismo día. También contamos con algún invitado sorpresa que os desvelaremos dentro de muy poco. </p>
      </div>
    </div>
  </div>
</section>

<section class="p-openspace-razones c-bg-pattern__left mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="h-extrahuge">3 <strong>razones</strong> para venir</h2>
        <p class="c-title--sub">(lorem ipsum dolor sit amet)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p>Además de las charlas ya planificadas, dejaremos huecos para proponer y votar nuevas charlas el mismo día. También contamos con algún invitado sorpresa que os desvelaremos dentro de muy poco. </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-xl-1 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/razones-1.jpg" class="lazyload mb-3" alt="Razones para venir al Open Space" />
        <h3 class="c-title--pre">Aprender</h3>
        <p>Seguro que encuentras una charla que encaje contigo sea cual sea tu especialidad o intereses profesionales.</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/razones-2.jpg" class="lazyload mb-3" alt="Razones para venir al Open Space" />
        <h3 class="c-title--pre">Cambiar de aire</h3>
        <p>Salir de la rutina siempre está bien. Aprenderás sin darte cuenta en un ambiente muy cercano y familiar.</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/razones-3.jpg" class="lazyload mb-3" alt="Razones para venir al Open Space" />
        <h3 class="c-title--pre">Vivir la autogestión</h3>
        <p>Para entenderlo, hay que vivirlo. El poder de un montón de personas motivadas por compartir conocimiento y aprender.</p>
      </div>
    </div>
  </div>
</section>


<section class="p-openspace-dudas c-bg-pattern__right mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 mb-3 mb-md-5">
        <h2 class="h-extrahuge">Dudas <strong>resueltas</strong></h2>
        <p class="c-title--sub">(lorem ipsum dolor sit amet)</p>
      </div>
      <div class="col-12 offset-lg-1 col-lg-5">
        <h3 class="c-title--pre c-title--line">¿Por qué un Open Space?</h3>
        <p>Porque creemos en el conocimiento compartido y en Biko tenemos mucho talento que no queremos guardar solo para nosotros. Nos gusta este formato ágil en el que todos podemos proponer y elegir los temas sobre los que nos interesa aprender, debatir y compartir. </p>
        <h3 class="c-title--pre c-title--line">¿Por qué un Open Space?</h3>
        <p>Algunos de los temas elegidos en esta ocasión han sido React, machine learning, tecnologías del futuro que parecen de ciencia ficción, Kickstarter, narrativa metafórica... pero habrá tiempo para plantear nuevos temas in situ.</p>
        <h3 class="c-title--pre c-title--line">¿Cómo puedo apuntarme?</h3>
        <p>Rellena tus datos en el formulario o mándanos un email a comunicacion@biko2.com. No tienes que hacer nada más, nosotros nos encargamos del resto. </p>
        <h3 class="c-title--pre c-title--line">¿Me apunto si el aforo está completo?</h3>
        <p>Apúntate, igual tienes suerte. Siempre suele haber bajas de última hora. Si no te importa la incertidumbre,te avisaremos en cuanto quede un hueco disponible para que puedas venir al Open Space. </p>
      </div>
      <div class="col-12 offset-lg-1 col-lg-5">
        <h3 class="c-title--pre c-title--line">¿Por qué un Open Space?</h3>
        <p>Porque creemos en el conocimiento compartido y en Biko tenemos mucho talento que no queremos guardar solo para nosotros. Nos gusta este formato ágil en el que todos podemos proponer y elegir los temas sobre los que nos interesa aprender, debatir y compartir. </p>
        <h3 class="c-title--pre c-title--line">¿Por qué un Open Space?</h3>
        <p>Algunos de los temas elegidos en esta ocasión han sido React, machine learning, tecnologías del futuro que parecen de ciencia ficción, Kickstarter, narrativa metafórica... pero habrá tiempo para plantear nuevos temas in situ.</p>
        <h3 class="c-title--pre c-title--line">¿Cómo puedo apuntarme?</h3>
        <p>Rellena tus datos en el formulario o mándanos un email a comunicacion@biko2.com. No tienes que hacer nada más, nosotros nos encargamos del resto. </p>
        <h3 class="c-title--pre c-title--line">¿Me apunto si el aforo está completo?</h3>
        <p>Apúntate, igual tienes suerte. Siempre suele haber bajas de última hora. Si no te importa la incertidumbre,te avisaremos en cuanto quede un hueco disponible para que puedas venir al Open Space. </p>
      </div>
    </div>
  </div>
</section>

<section class="p-openspace-donde mb-3">
  <div class="c-mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d46873.671489565946!2d-1.6723568364446113!3d42.754419939310196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xd50910aaaada8fd%3A0xb7d6b9f297962622!2scein%20noain!3m2!1d42.7544253!2d-1.6372518!5e0!3m2!1ses!2ses!4v1568289412246!5m2!1ses!2ses" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  </div>
</section>

<section class="p-openspace-hashtag mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="h-extrahuge d-flex justify-content-center"><a href="https://twitter.com/search?q=%23openbiko&src=typed_query">#openbiko</a></p>
      </div>
    </div>
  </div>
</section>

{% include "_includes/contact.twig" %}

{% endblock %}
