<section class="mb-5 mb-md-7" id="dudas-resueltas">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 mb-4">
        <h2 class="title-6xl mb-4 text-left">
          <strong>Dudas resueltas</strong>
        </h2>
        <p class="font-secondary text-3xl color-red-middle mb-4">(que no quede nada en el tintero)</p>
      </div>
      <div class="col-lg-6 pr-4 pr-lg-6">
        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Por qué un Open Space?</h3>
        <p class="text-base line-base text-md-xl line-md-xl mb-md-5">Porque creemos en el conocimiento compartido y en Biko tenemos mucho talento que no queremos guardar solo para nosotros. Nos gusta este formato ágil en el que todos podemos proponer y elegir los temas sobre los que nos interesa aprender, debatir y compartir. </p>

        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Y de qué se habla?</h3>
        <p class="text-base line-base text-md-xl line-md-xl mb-md-5">Algunos de los temas elegidos en ocasiones como ésta han sido React, machine learning, tecnologías del futuro que parecen de ciencia ficción, Kickstarter, narrativa metafórica... pero habrá tiempo para plantear nuevos temas in situ.</p>

        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Cómo puedo apuntarme?</h3>
        <p class="text-base line-base text-md-xl line-md-xl mb-md-5">Rellena tus datos en el formulario o mándanos un email a <em>comunicacion@biko2.com</em>. No tienes que hacer nada más, nosotros nos encargamos del resto.  </p>

        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Me apunto si el aforo está completo?</h3>
        <p class="text-base line-base text-md-xl line-md-xl ">Apúntate, igual tienes suerte. Siempre suele haber bajas de última hora. Si no te importa la incertidumbre, te avisaremos en cuanto quede un hueco disponible para que puedas venir al Open Space. </p>
      </div>
      <div class="col-lg-6 pr-4 pr-lg-6">
        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Es gratis?</h3>
        <p class="text-base line-base text-md-xl line-md-xl mb-md-5">Claro que sí. El concepto del Open Space implica compartir el conocimiento desinteresadamente. Por eso, la entrada es libre previa inscripción, porque no queremos que nadie se quede fuera.</p>
        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Cómo puedo proponer una charla?</h3>
        <p class="text-base line-base text-md-xl line-md-xl mb-md-5">
        Este año estrenamos el <a href="https://charlas.biko2.com/" class="c-link color-red-middle" target="_blank" alt="Acceso a Rincón de Charlas del Open Space de Biko 2022">rincón de charlas</a>, un espacio diseñado para sugerir y votar los temas. Aun así, siempre puedes mandarla por email a <em>comunicacion@biko2.com</em>. Recuerda que también habrá tiempo para proponer y votar nuevas charlas entre todos durante el Open Space.</p>

        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Tengo que asistir a todas las charlas?</h3>
        <p class="text-base line-base text-md-xl line-md-xl mb-md-5">No, puedes adaptar el horario como mejor te venga: estar toda la jornada o asistir solo a alguna de las charlas. No hay ninguna regla ni pasaremos lista. </p>

        <h3 class="title-2xl decoration-red pt-2 mb-2">Me he apuntado y al final no puedo ir...</h3>
        <p class="text-base line-base text-md-xl line-md-xl ">No pasa nada, avísanos con un email a <em>comunicacion@biko2.com</em> para que lo tengamos en cuenta y podamos ceder tu plaza a alguien en lista de espera. Esperamos verte en el próximo Open Space de Biko. </p>
      </div>
    </div>
  </div>
</section>
