<div class="py-3 px-3 py-md-5 px-md-5 col-12 offset-lg-1 col-lg-6 bg-gray-light">
  <p class="text-right mb-0 color-gray-dark"><small>* campo obligatorio</small></p>
  <div class="c-form-block">
  <form action="https://www.getdrip.com/forms/17674962/submissions" method="post" data-drip-embedded-form="17674962" id="drip-ef-17674962" class="form-type-one">
      <div data-drip-attribute="description"></div>
      <div>
          <input type="text" id="drip-first-name" name="fields[first_name]" value="" placeholder="Nombre *"
              required>
      </div>
      <div>
          <input type="text" id="drip-last-name" name="fields[last_name]" value="" placeholder="Apellidos *"
              required>
      </div>
      <div>
          <input type="email" id="drip-email" name="fields[email]" value="" placeholder="Email *" required>
      </div>
      <div>
          <input type="text" id="drip-empresa" name="fields[empresa]" value="" placeholder="Organización *" required>
      </div>
      
      <div class="d-flex text-sm">
          <input type="hidden" name="fields[eu_consent]" id="drip-eu-consent-denied" value="denied">
          <input type="checkbox" name="fields[eu_consent]" id="drip-eu-consent" value="granted" required>
          <label for="drip-eu-consent">
              <span class="color-gray-dark">He leído y acepto la</span>
              <a href="https://www.biko2.com/proteccion-de-datos/"
                  title="Enlace a protección de datos">política de protección de datos</a>
              ​
          </label>
      </div>

      <!--div>
        <fieldset class="d-flex justify-content-center">
            <input style="width:25px;height:25px;" type="checkbox" id="34286" name="fields[imagenok]" value="Autorizo la captación y comunicación pública de mi imagen" required>
            <label for="34286" class="color-gray-dark text-sm" style="line-height:1.4;">Autorizo aparecer en las fotos y vídeos del evento, así como su posterior publicación en redes con fines exclusivamente comunicativos.</label>

        </fieldset>
      </div-->

      <input type="hidden" name="fields[eu_consent_message]" value="">
      <div style="display: none;" aria-hidden="true">
          <label for="website">Website</label><br>
          <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
      </div>
      <input type="hidden" name="tags[]" id="tags_" value="apuntados-open-2022" tabindex="-1">
      <div>
          <input type="submit" value="Enviar" data-drip-attribute="sign-up-button">
      </div>
      <div class="text-xs mb-0 pt-1 line-sm">
          <p class="color-gray-dark">
              <i><a href="/proteccion-de-datos#responsable" target="_blank">BIKO2 2006, S.L.</a> es el responsable del tratamiento de sus datos. La <a href="/proteccion-de-datos#finalidad" target="_blank">finalidad</a> es gestionar su inscripción en el próximo Open Space XXI.  Usted tiene derecho a acceder, rectificar y suprimir los datos, así como otros <a href="/proteccion-de-datos#derechos" target="_blank">derechos</a>, como se explica en la <a href="/proteccion-de-datos/#derechos" target="_blank">información adicional</a>. Puede consultar la información adicional y detallada sobre <strong>Protección de Datos</strong>
              <a href="/proteccion-de-datos" target="_blank">desde este enlace</a>.</i></p>
      </div>
  </form>
</div>

