<section>
	  <div class="container">
	    <div class="row">
	      <div class="col-12 col-md-8">
					<h2 class="title-6xl mb-4">Un Open Space para todo el mundo</h2>
					<p class="font-secondary text-3xl color-red-middle mb-4">(algunos momentazos inolvidables)</p>
	      </div>
	      <div class="col-12 col-md-6">
	        <img data-src="/assets/images/open-space-remember1.jpg" class="lazyload w-100 mb-3  mb-md-4" alt="Open Space Biko 2019" />
	      </div>
	      <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
	        <img data-src="/assets/images/open-space-remember2.jpg" class="lazyload w-100 mb-3 mb-md-0" alt="Open Space Biko 2019" />
	        <img data-src="/assets/images/open-space-remember3.jpg" class="lazyload w-100 mb-3 mb-md-4" alt="Open Space Biko 2019" />
	      </div>
	    </div>
			<div class="row">
				<div class="col-12 col-md-6 d-flex flex-column justify-content-between">
					<img data-src="/assets/images/open-space-remember4.jpg" class="lazyload w-100 mb-3 mb-md-0" alt="Open Space Biko 2019" />
					<img data-src="/assets/images/open-space-remember5.jpg" class="lazyload w-100 mb-3 mb-md-0" alt="Open Space Biko 2019" />
				</div>
				<div class="col-12 col-md-6">
					<img data-src="/assets/images/open-space-remember6.jpg" class="lazyload w-100 mb-3 mb-md-0" alt="Open Space Biko 2019" />
				</div>
			</div>
	  </div>
	</section>
