<section class="mb-6 pt-5 pt-md-6">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red-middle mb-md-6">
          Es importante la vida social, lo entendemos y lo queremos llevar a la
          práctica. Y más cuando es en un entorno como el Open Space de Biko. <strong>
            titulación oficial homologada
          </strong> por el Ministerio. Y gracias al Servicio Navarro de Empleo, el
          curso es totalmente
          <strong>gratuito</strong>. Suena bien, ¿eh?
        </p>
      </div>
      <div class="col-12 text-center">
        <p class="title-slim-6xl color-red-middle mb-5">
          #CloseCloserOpen #openbiko
        </p>
        <p class="text-base line-base text-2xl line-2xl mt-3 mb-0">
          <strong>¿Te inspira?</strong> Descubre cómo se materializa compartir este
          día.
        </p>
      </div>
    </div>
  </div>
</section>
