<section class="parallax-open page-open-space-app-charlas pt-5 pt-md-7 pb-5 pb-md-7" id="propuestas">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="title-6xl mb-2">Tú decides el resto de temas</h2>
        <p class="font-secondary text-3xl color-red-middle mb-4">(hablaremos básicamente de lo que queramos)</p>
      </div>
      <div class="col-md-8 offset-md-2 text-center">
        <p class="text-base line-base text-md-2xl line-md-xl mb-5"><!--span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-1">NOVEDAD</span--> Este año gracias a nuestro <a href="https://charlas.biko2.com/" target="_blank" alt="Acceso a Rincón de Charlas del Open Space de Biko 2022">"Rincón de charlas"</a> hemos conseguido recopilar más de 30 propuestas, con las que hemos configurado la mitad de la agenda:</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center mb-5">
        <a href="/assets/images/openspace-agenda-full.png" target="_blank">
          <img data-src="/assets/images/openspace-agenda.png" class="lazyload mb-4 w-100" alt="Agenda" title="Clic para ver la agenda" />
          <p class="mt-2">Descarga la agenda para tenerla a mano</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <div class="text-center">
          <img data-src="/assets/images/openspace-idea-brain.png" class="lazyload mb-4" alt="Brain" />
        </div>
        <h3 class="title-2xl mb-3">¡Recuerda! La otra mitad de la agenda la configuraremos allí mismo</h3>
        <p>Si tienes algún tema que no propusiste en el Rincón de charlas o no ha salido elegido, tienes una oportunidad el mismo viernes 27 para presentarlo. Cada espacio de la agenda con la etiqueta OPEN es un hueco libre.</p>
        </p>
      </div>
    </div>
  </div>
</section>