{# ----- OPEN SAPCE 2022 ----- #}
{% extends "@layouts/page-black.twig" %}
{% block page %}
<section class="c-hero p-open-space-hero pt-5 pt-md-6">
  <div class="page-open-space-hero__container">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 text-center">
          <p class="text-center"><span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">¡Volvimos y triunfamos!</span></p>
          <h1>Así fue el Open Space XXI</h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(Psss psss... es mejor vivirlo que contarlo )</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-6">
              <p class="text-md-2xl line-md-2xl">Nos cuesta sacar pecho, aunque tengamos motivo, pero esta vez queremos hacerlo pues el último Open Space de Biko ha sido algo increíble. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum consequat cursus. Aliquam erat volutpat. Mauris mauris quam, laoreet at diam id, pretium porttitor ligula. Maecenas eget feugiat nulla, et semper erat. Vestibulum quam tortor, efficitur nec est at, efficitur sodales eros.</p>
            </div>
            <div class="col-lg-10 col-xl-6">
              <p class="text-2xl line-2xl mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum consequat cursus. Aliquam erat volutpat. Mauris mauris quam, laoreet at diam id, pretium porttitor ligula. Maecenas eget feugiat nulla, et semper erat. Vestibulum quam tortor, efficitur nec est at, efficitur sodales eros.</p>
            </div>
          </div>
          <div class="c-separator--icon">
            <a class="c-separator--icon__animated" href="#presentacion">
              <svg width="13px" height="42px" viewBox="0 0 13 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-714.000000, -854.000000)" fill="#ffffff">
                    <g>
                      <path d="M737.811652,873.75 L734.022242,869.966495 L735.240635,868.75 L741.25,874.75 L735.240635,880.75 L734.022242,879.533505 L737.811652,875.75 L699.75,875.75 L699.75,873.75 L737.811652,873.75 Z" transform="translate(720.500000, 874.750000) rotate(-270.000000) translate(-720.500000, -874.750000) "></path>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--presentacion-->
{% include "@base/open-space/presentacion.twig" %}

<div class="c-separator--line"><hr></div>

<!-- que-es-->
{% include "@base/open-space/que-es.twig" %}

<!-- de q hablaremos-->
{% include "@base/open-space/hablaremos-agenda.twig" %}

<!-- razones-->
{% include "@base/open-space/razones.twig" %}

<!-- cuando y donde-->
{% include "@base/open-space/cuando-donde.twig" %}

<div class="c-separator--line"><hr></div>

<!--aperitivo-->
{% include "@base/open-space/edicion-pasada.twig" %}


<!--form-->
<section class="parallax-open page-open-space-form mb-5 mb-md-7 py-5 py-md-7" id="formulario">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="row">
          <div class="col-12 col-md-10 col-lg-12">
            <h2 class="title-slim-6xl u-strong-red mb-5">
              Si has llegado hasta aquí, es que esto <strong class="color-red-middle">te interesa</strong>
            </h2>
          </div>
          <div class="col-12 col-md-10 col-lg-12">
            <p class="text-base line-base text-md-xl line-md-xl">Inscríbete completando el siguiente formulario. Incribirse no te obliga a asistir, pero sería muy top que nos avisaras si finalmente no pudieras venir.</p>
            <p class="text-base line-base text-md-xl line-md-xl">Debido a la alta demanda, <strong>todavía hay plazas</strong>, por ello las gestionamos manualmente bajo una lista de espera.</p>
            <p class="text-base line-base text-md-xl line-md-xl">¡Anímate, será un día inolvidable!</p>
          </div>
        </div>
      </div>
      {% include "@base/open-space/form-inscripcion.twig" %}
    </div>
  </div>
</section>
<!--form-->
<!--fotos-->
{% include "@base/open-space/fotos.twig" %}
<div class="c-separator--line c-separator--line-top"><hr /></div>
<!--dudas resueltas-->
{% include "@base/open-space/dudas-resueltas.twig" %}
<div class="c-separator--line c-separator--line-top"><hr /></div>

<!--como llegar-->
{% include "@base/open-space/como-llegar.twig" %}

<!--hashtag-->
{% include "@base/open-space/hashtag.twig" %}

{% include "@includes/contact.twig" %}

{% endblock %}