<section class="p-openspace-razones mt-6 mb-6">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="title-6xl mb-4">3 razones más para venir</h2>
      </div>
      <div class="col-12 col-md-4 offset-xl-1 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/openspace-razones-1.jpg" class="lazyload mb-3 mb-md-5" alt="open Space Biko 2019" />
        <h3 class="title-2xl decoration-red pt-2 mb-2">Cambiar de aire</h3>
        <p class="text-base line-base text-md-xl line-md-xl">Sea cual sea tu especialidad o intereses profesionales, seguro que encuentras una <strong>charla que encaje contigo</strong>, o proponer la que eches en falta.</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/openspace-razones-2.jpg" class="lazyload mb-3 mb-md-5" alt="open Space Biko 2019" />
        <h3 class="title-2xl decoration-red pt-2 mb-2">Aprender</h3>
        <p class="text-base line-base text-md-xl line-md-xl">Aprenderás sin darte cuenta en un <strong>ambiente muy cercano y familiar</strong>, que fomenta el abrirse y dejarse atravesar por las ideas nuevas.</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/openspace-razones-3.jpg" class="lazyload mb-3 mb-md-5" alt="open Space Biko 2019" />
        <h3 class="title-2xl decoration-red pt-2 mb-2">Compartir</h3>
        <p class="text-base line-base text-md-xl line-md-xl">El poder multiplicador de un montón de personas motivadas por <strong>compartir conocimiento, aprender y generar nuevas preguntas.</strong></p>
      </div>
    </div>
  </div>
</section>