  <section id="importante" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">쯈u칠 pedimos?</h2>
          <h3 class="title-4xl mb-3">Esto nos parece importante</h3>
          <p class="font-secondary text-xl text-lg-2xl color-red mb-5">
            (sabemos que cumplir todos los requisitos es complicado pero nos gustar칤a...)
          </p>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas <strong>experiencia como perfil de UX</strong> (al menos 3 a침os trabajando en proyectos de dise침o de producto/servicio digital multidispositivo).</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Que hayas <strong>gestionado el proceso de dise침o de producto digital omnicanal y sus fases</strong>: estrategia, investigaci칩n, ideaci칩n, prototipado, visual, optimizaci칩n.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas capacidad de entender los <strong>objetivos de negocio</strong> y las <strong>necesidades del usuario</strong>.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-lg-0">Que tengas <strong>experiencia</strong> trabajando <strong>con datos</strong> que aporten informaci칩n clave y que te guste aplicarlos para mejorar la experiencia de un activo digital, sea una web o una app. Por lo tanto, necesitaremos de tu <strong>capacidad anal칤tica</strong> y <strong>data driven</strong> para la toma de decisiones basadas en datos.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Que no tengas problema en <strong>trabajar con equipos de desarrollo</strong>, vamos, que te motive la multidisciplinariedad a la hora de participar en un proyecto digital.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Que atesores buenas <strong>habilidades de comunicaci칩n</strong>, capacidad para colaborar y presentar tus ideas de forma clara y efectiva al resto del equipo, la empresa y nuestros clientes. Al final, se trata de relacionarse. 游땕</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-0">Que te manejes con algunas de las siguientes herramientas: <strong>Lookback</strong>, <strong>Semrush</strong>, <strong>Maze</strong>, <strong>Principle</strong>, <strong>Zeplin</strong>...</p>
            </div>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">La lista de los deseos</span>
          </div>
        </div>
      </div>
    </div>
  </section>