{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
  {% include '@base/unete-a-biko/consultor-consultora-experiencia-usuario-ux/hero.twig' %}
  {% include '@base/unete-a-biko/quienes-somos.twig' %}
  {% include '@base/unete-a-biko/consultor-consultora-experiencia-usuario-ux/tu-puesto.twig' %}

  {% include '@base/unete-a-biko/consultor-consultora-experiencia-usuario-ux/importante.twig' %}
  {% include '@base/unete-a-biko/consultor-consultora-experiencia-usuario-ux/top.twig' %}
  <div class="c-separator--line__horizontal__min"><hr /></div>
  {% include '@base/unete-a-biko/donde.twig' %}
  {% include '@base/unete-a-biko/consultor-consultora-experiencia-usuario-ux/que-ofrecemos.twig' %}  
  {% include '@base/unete-a-biko/enviar-cv.twig' %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
