  <section id="tu-puesto" class="mb-7">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Qué harás?</h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Te unirás a nuestro <strong>grupo de consultores/as de UX/UI</strong> para participar tanto en proyectos de <strong>conceptualización</strong>, <strong>diseño</strong> y <strong>construcción de nuevos activos digitales</strong> como en procesos de <strong>optimización</strong> que ayuden a nuestros clientes a <strong>mejorar su posicionamiento y resultados</strong> de negocio gracias a nuestras aportaciones.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Junto con el resto de tus compañeros/as, participarás en la <strong>ideación y construcción</strong> de interfaces que no generen fricciones y que se adapten al contexto de uso, sin importar el tipo de dispositivo o el grado de conocimiento del usuario: desde la web de un gran museo hasta una banca online, pasando por algunos de los principales ecommerce españoles o sistemas de reserva hoteleras.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
                <p class="u-decoration-red pt-2 text-base line-base">Necesitaremos que nos ayudes a <strong>sacar el mayor provecho</strong> posible de herramientas como <strong>Google Optimize</strong> o <strong>Analytics</strong> para que muchas de las decisiones que tomemos y de las soluciones que diseñemos estén basadas en <strong>datos</strong> relacionados con el <strong>comportamiento de usuarios y clientes</strong>. </p>
            </div>
          </div>
          <ul class="c-acordeon" id="acordeonAnidado">
            <li class="c-acordeon__card">
              <div class="c-acordeon__card__header" id="headingUno">
                <a class="c-acordeon__card__link c-link-nounderline"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseUno"
                  aria-expanded="false"
                  aria-controls="collapseUno">
                  <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                    {{ svgSprite('arrow') }}
                  </div>
                  <span class="c-link-especial c-link-nounderline font-700 color-red">
                    En 1 mes
                  </span>
                </a>
              </div>
              <div id="collapseUno"
                class="collapse"
                aria-labelledby="headingUno"
                data-parent="#acordeonAnidado">
                <div class="c-acordeon__card__body">
                  <p class="text-base line-base">Te habremos recibido con los brazos abiertos y<strong> ¡aterrizarás en el proyecto!</strong></p>
                  <p class="text-base line-base"><strong>Conocerás</strong> a todas las personas que forman parte del<strong> equipo</strong> así como a todos/as  <strong>nuestros/as expertos/as en UX/UI</strong>.</p>
                  <p class="text-base line-base">Habrás completado tu <strong><em>onboarding</em> </strong>acompañado/a de un mentor/a que te ayudará en todo momento y tendrás un <strong>conocimiento general del primer proyecto</strong> en el que estés involucrado/a.</p>
                  <p class="text-base line-base">Entenderás cómo nos gestionamos a través de herramientas como <strong>Figma</strong>, <strong>Trello</strong>, <strong>Optimize</strong>, <strong>Google Analytics</strong> y <strong>Tag Manager</strong>, 
                  <strong>Hotjar</strong>, <strong>UsabilityHub/Crazyegg</strong>. Comenzarás con pequeñas tareas arropado/a por tus compañeros/as y participarás en algunas conversaciones con nuestro cliente.</p>
                </div>
              </div>
            </li>
            <li class="c-acordeon__card">
              <div class="c-acordeon__card__header" id="headingTres">
                <a class="c-acordeon__card__link c-link-nounderline"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTres"
                  aria-expanded="false"
                  aria-controls="collapseTres">
                  <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                    {{ svgSprite('arrow') }}
                  </div><span class="c-link-especial c-link-nounderline font-700 color-red">
                    En 3 meses
                  </span>
                </a>
              </div>
              <div id="collapseTres"
                class="collapse"
                aria-labelledby="headingTres"
                data-parent="#acordeonAnidado">
                <div class="c-acordeon__card__body">
                  <p class="text-base line-base">¡Empezarás a <strong>volar por libre</strong>!</p>
                  <p class="text-base line-base">Tendrás el conocimiento suficiente para poder <strong>desarrollar tareas más ambiciosas</strong> y menos acotadas,<strong> y resolver necesidades concretas</strong> que surjan en la relación con algunos de nuestros clientes en el ámbito del UX/UI.</p>
                  <p class="text-base line-base">Eso sí, calma, <strong>nos gusta hacer todo en equipo</strong>, así que ya estarás integrada/o en la dinámica del equipo y probablemente algunas de estas tareas las hagas en pareja. </p>
                </div>
              </div>
            </li>
            <li class="c-acordeon__card">
              <div class="c-acordeon__card__header" id="headingCuatro">
                <a class="c-acordeon__card__link c-link-nounderline"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseCuatro"
                  aria-expanded="false"
                  aria-controls="collapseCuatro">
                  <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                    {{ svgSprite('arrow') }}
                  </div><span class="c-link-especial c-link-nounderline font-700 color-red">
                    En 6 meses
                  </span>
                </a>
              </div>
              <div id="collapseCuatro"
                class="collapse"
                aria-labelledby="headingCuatro"
                data-parent="#acordeonAnidado">
                <div class="c-acordeon__card__body">
                  <p class="text-base line-base"><strong>Trabajarás en nuevos proyectos</strong>, probablemente integrada/o en algún <strong>equipo multidisciplinar</strong>, donde podrás asumir el <strong>liderazgo parcial o total</strong> de los aspectos relacionados con la experiencia de usuario, aplicando tus conocimientos a la hora de conceptualizar nuevos interfaces u optimizando aquello en lo que el equipo esté trabajado. </p>
                  <p class="text-base line-base">Creemos que <strong>las personas son lo más valioso</strong> para conseguir soluciones excelentes. Por eso, <strong>ayudarás en la formación de tus compañeros/as</strong> y en la tuya propia para seguir creciendo mediante charlas, talleres, <em>open spaces</em>, trabajando en ocasiones en pareja con tus compañeros/as y compartiendo todo aquello que descubras y que pueda contribuir a que nuestra aportación de valor a los clientes se incremente. </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">Éstas son tus funciones</span>
          </div>
        </div>
      </div>
    </div>
  </section>