.test {
    background-color: red;
}

.divider {
    padding: 300px 0px;
}

.dev {
    border: 1px solid red;
}

.landing-nav-section {
    position: relative;
    transform: rotate(90deg);
    width: 300%;
    top: 18%;
    left: -13%;
}

.line-decoration {
    display: inline-block;

    &::after {
        content: '';
        width: 24px;
        height: 3px;
        background-color: $red;
        position: absolute;
        bottom: 12px;
        right: 78px;
    }
}

.custom-grid {
    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
    }


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;

    div {
        border-left: 1px solid $blue-ligth;

        @include media-breakpoint-down(md) {
            border-left: none;
            border-bottom: 1px solid $blue-ligth;
            margin-bottom: 35px;
        }


        &:first-child {
            @include media-breakpoint-down(md) {
                border-top: 1px solid $blue-ligth;
                padding-top: 35px;
            }
        }

        &:last-child {
            border-right: 1px solid $blue-ligth;

            @include media-breakpoint-down(md) {
                border-right: none;
            }
        }
    }
}

.img-fluid {
    max-width: 100%;
}

.decoration-red {
    position: relative;

    &::after {
        position: absolute;
        top: -6px;
        left: 0;
        content: '';
        width: 24px;
        height: 3px;
        background-color: $red;
    }
}

.bg-b {
    background-image: url("../images/bg-b.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 1100px;
    position: absolute;
}

.bg-s {
    background-image: url("../images/bg-s.svg");
    background-repeat: no-repeat;
    background-position: right top;
    width: 100%;
    height: 1100px;
    position: absolute;
    top: 1100px;
}
