/*Posicionamiento de fotos a la derecha*/
.c-bikochool-imagen {
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up(lg) {
    min-height: 720px;
  }
  @include media-breakpoint-up(xl) {
    min-height: 582px;
  }
}

.c-bikochool-imagen--derecha-arriba {
  position: relative;
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    right: -47%;
  }
  @include media-breakpoint-up(xl) {
    right: -33%;
  }
  @include media-breakpoint-up(xxl) {
    right: -6%;
  }
  img {
    width: 100%;
  }
}
/*Listados anidados*/
.prueba {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.c-list-anidadas__columnas--dos {
  background: red;
}
.c-list-anidadas {
  list-style: none;
  margin:0;
}
.c-list-anidadas__item {
  margin: 0;
  padding: 8px;
}

.c-list-anidadas__item {
  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 2px;
  }
}

.c-list-anidadas__item--primer-nivel  {
  @include typi(large);
  &::before {
    top: 29px;
    width: 16px;
    background-color: $red;
  }
}

.c-list-anidadas__item--segundo-nivel  {
  font-size: 16px;
  &::before {
    top: 26px;
    width: 12px;
    background-color: $black-soft;
  }
}

.c-list-anidadas__item--tercer-nivel  {
  font-size: 16px;
  &::before {
    top: 24px;
    width: 4px;
    background-color: $black-soft;
  }
}






.page-biko-school {


   /*listado iconos*/
   .c-icon-list li {
     width: 50%;
   }
   .c-icon-list__text {
    width: 100%;
    @include typi(large);
    font-weight: bold;
  }

  .c-texto--small__uppercase {
    margin-bottom: 4px;
    font-weight: normal;
  }

  /*Social media*/
    .c-social-list {
      justify-content: flex-start;
    }

  #header .c-nav--toggler .icon-bar{
    background-color: white;
  }

  .c-nav{
    z-index: 2;
  }

  #main-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

}
.p-bikoschool-header{
  position: relative;
  height: 100vh;
  margin-bottom: 70px;
  background: url("/assets/images/bikoschool/bg-header-bikoschool.jpg") no-repeat 75% 0;

  @include media-breakpoint-up(md){
    margin-bottom: 90px;
    background-size: cover;
  }
}


.p-bikoschool-header__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: white;
}

.p-bikoschool-header__icon{
  position: absolute;
  right: 25px;
  bottom: -35px;
}
