.landing-bitween {
    padding-top:12vh;
}

.landing-nav-section__wrap {
    width: 1px;
    white-space: nowrap;
    position: relative;
    right: -140px;
}

.landing-nav-section {
    position: relative;
    transform: rotate(90deg);
    top: 0;
    left: 30%;
}

.line-decoration {
    display: inline-block;
    margin-right: 10px;

    &::after {
        content: '';
        width: 24px;
        height: 3px;
        background-color: $red;
        position: absolute;
        bottom: 12px;
        margin-left: 20px;
    }
}

.custom-grid {
    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
    }


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;

    div {
        border-left: 1px solid $blue-ligth;

        @include media-breakpoint-down(md) {
            border-left: none;
            border-bottom: 1px solid $blue-ligth;
            margin-bottom: 35px;
        }


        &:first-child {
            @include media-breakpoint-down(md) {
                border-top: 1px solid $blue-ligth;
                padding-top: 35px;
            }
        }

        &:last-child {
            border-right: 1px solid $blue-ligth;

            @include media-breakpoint-down(md) {
                border-right: none;
            }
        }
    }
}

.img-fluid {
    max-width: 100%;
}

.blog-img__decoration {
    position: relative;

    &::after {
        content: '';
        width: 165px;
        height: 2px;
        background-color: $blue;
        position: absolute;
        right: 10px;
        top: 89px;

        @include media-breakpoint-down(md) {
            left: 250px;
            right: auto;
        }
    }
}

.decoration-red {
    position: relative;

    &::after {
        position: absolute;
        top: -6px;
        left: 0;
        content: '';
        width: 24px;
        height: 3px;
        background-color: $red;
    }
}

.insights-gif {
    position: absolute;
    height: 100%;
    z-index: 9999;

    @include media-breakpoint-down(md) {
        top: 115px;
        transform: scale(0.8);
    }
}

.insights-gif__icon {
    width: 112px;
    height: 112px;
}

.bg-b {
    background-image: url("../images/bg-b-full.svg");
    background-repeat: no-repeat;
    max-width: 1800px;
    height: 1100px;
    position: absolute;
    background-position: -33% 0%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -9999999999;
    transition: background-position 1s;

    @include media-breakpoint-down(lg) {
        background-position: -133% 0%;
    }


    @include media-breakpoint-down(md) {
        background-position: 162% 0%;
        background-size: 157%;
    }
}

@media only screen and (min-width: 1960px) {
    .bg-b {
        max-width: 2000px;
        background-position: -4% 0%;
    }

    .bg-s {
        max-width: 2000px !important;
        background-position: 103% 0% !important;
    }
}

.bg-s {
    background-image: url("../images/bg-s-full.svg");
    background-repeat: no-repeat;
    max-width: 1800px;
    height: 1100px;
    position: absolute;
    background-position: 127% 0%;
    top: 1100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -9999999999;
    transition: background-position 1s;

    @include media-breakpoint-down(lg) {
        background-position: 197% 0%;
    }


    @include media-breakpoint-down(md) {
        background-size: 157%;
        background-position: -67% 0%;
    }
}

.img-cover {
    width: 100%;
    object-fit: cover;
}

.insights-gif__img {
    background-image: url("/assets/images/yamdescarga.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(md) {
        height: 270px;
    }
}

.insights-gif__anima {
    animation: vibrate 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes vibrate {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

.biko-sello__wrap {
    width: 178px;
    height: 178px;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: absolute;
}

.decoration-none {
    text-decoration: none;
}

.icon-up {
    width: 12px;
    height: 42px;
}

.action-up {
    color: $blue !important;

    svg {
        transform: translate(0px, 10px);
        transition: all 0.3s ease-in;
    }

    &:hover {
        color: $red !important;

        svg {
            transform: translate(0px, 0px);
        }
    }
}
