.p-legal {
  padding-top: 0;
  padding-bottom: 0;

  @include media-breakpoint-up(md) {
    padding-top: 48px;
    padding-bottom: 56px;
  }

  @include media-breakpoint-up(xxxl) {
    padding-top: 48px;
    padding-bottom: 245px;
  }
}
