.page-biko-school {

  .c-separator--icon {
    padding: 0;
    text-align: left;
    margin-bottom: 48px;
  }
  .c-icon-square--abajo-izquierda {
    position: absolute;
    top: 454px;
    right: 36.5%;
  }

  .c-grid-image--right {
    width: 40%;
  }
  /*formulario*/
  .c-form {
    display: block;
  }
  .c-form__elements input {
    margin-bottom: 12px;
  }

  .c-button {
    width: 100%;
  }
  .c-form-check__label {
    margin-bottom: 24px;
  }
  .c-form__elements input {
    margin-bottom: 12px;
  }
  .c-form__elements {
    margin-right: 0;
  }
   /*listado iconos*/
   .c-icon-list li {
     width: 50%;
   }
   .c-icon-list__text {
    width: 100%;
    @include typi(large);
    font-weight: bold;
  }

  .c-texto--small__uppercase {
    margin-bottom: 4px;
    font-weight: normal;
  }
  /*Margen para secciones*/
  .c-contenedor-secciones {
    @include media-breakpoint-up(xl) {
      min-height: 520px;
    }
  }
  /*Social media*/
    .c-social-list {
      justify-content: flex-start;
    }
  
}




