// PORTADILLA
.p-proyectos__destacado {
  background: black url("/assets/images/proyecto-guernica.jpg") center center no-repeat;
  background-size: cover;
  color: white !important;
  padding: 40px 0;
  margin: 0 15px;

  @include media-breakpoint-up(md) {
    padding: 60px 40px;
    margin: 0 30px;
  }

  @include media-breakpoint-up(lg) {
    padding: 100px 60px;
    margin: 0 50px;
  }
}

.p-proyectos__contacto {
  @include media-breakpoint-up(md) {
    background: url("/assets/images/proyectos-contacto.jpg") right top no-repeat;
    background-size: 40%;
  }

  @include media-breakpoint-up(xl) {
    background: url("/assets/images/proyectos-contacto.jpg") right top no-repeat;
    background-size: auto;
  }
}



// FICHA
.p-proyecto__back {
  display: inline-block;
  opacity: .3;
  text-decoration: none;
  color: $black !important;

  &:hover {
    opacity: 1;

    span {
      opacity: 1;
      margin-left: 10px;
    }
  }

  svg {
    width: 40px;
    height: 40px;
  }

  span {
    @include typi(small);
    margin-left: 2px;
    opacity: 0;
    transition: all .3s ease;
  }
}

.p-proyecto__hero {
  position: relative;
  padding-bottom: 48px;

  @include media-breakpoint-up(xl) {
    min-height: 92vh;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 96px;
  }

  .c-title--background {
    width: 100%;
    text-align: center;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: 0;
      z-index: 0;
    }
  }
}


.p-proyecto__hero .c-grid-image--right {

  @include media-breakpoint-down(sm) {
    position: relative;
  }

  @include media-breakpoint-up(md) {
    width: 35%;
    min-height: 70vh;
  }

  @include media-breakpoint-up(lg) {
    width: 40%;
    min-height: 80vh;
  }

  @include media-breakpoint-up(xl) {
    min-height: 65vh;
  }

  img {
    @include media-breakpoint-up(md) {
      width: auto;
      height: 100%;
    }
  }

  .c-icon-square {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.contenedor-secciones {
  min-height: 441px;
}

.contenedor-secciones-hero {
  @include media-breakpoint-up(md) { 
    min-height: 780px;
  }
  @include media-breakpoint-up(lg) { 
    min-height: 750px;
  }
}


// PANTALLAZOS
.p-proyecto--galeria {
  margin-top: 20px;

  @include media-breakpoint-up(md) {
    background: url("/assets/images/proyectos/bg-curva.jpg") center 85% no-repeat;
    background-size: contain;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 80px;
  }
}

// SIMILAR
.p-proyecto__similar {
  .c-icon-square {margin: 0 auto;}
}


// BLOG
.p-proyecto__blog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 0;

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.p-proyecto__blog__item {
  margin: 0 0 30px;

  @include media-breakpoint-up(md) {
    margin: 0 10px;
    min-width: 30%;
    flex-basis: 50%;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 20px;
  }

  @include media-breakpoint-up(xl) {
    min-width: 410px;
    max-width: 50%;
  }

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;

    @include media-breakpoint-up(xl) {
      height: 260px;
    }
  }
}

.p-proyecto__blog__titulo {
  background: white;
  padding: 1px;
  font-weight: 400;
  @include typi(large);
  color: #222;
  margin: 10px 0 0;
  text-decoration: none;

  @include media-breakpoint-up(md) {
    margin: 22px 0 0;
  }
}
.page-aecc, .page-repensar-guernica, .page-rodilla, .page-laboral-kutxa, .page-helvetia, .page-thyssen {  
  .c-bg-pattern {
    width: 100%;
  }

}
.page-aecc, .page-rodilla, .page-laboral-kutxa, .page-helvetia, .page-thyssen {  
  .c-grid-image--right {
    
    @include media-breakpoint-down(xs) {
      height: auto;
    }
  }
}