.page-black {

  background: $black-soft;
  color: white;

  .c-header,
  #main-wrapper {background: $black-soft;}

  #header a.c-nav__link {
    color: white !important;
  }

  #header .c-nav--toggler .icon-bar {
    background: white;
  }

  .p-openspace-hashtag {
    color: white;
  }

  .c-nav__navbar.show {background: $black-soft; }

  .c-button {
    background: transparent;
    color: $red-middle;
    border-color: $red-middle;
    &:hover {
        color: white;
    }
  }

  .c-button--outline--white {
    border-color: white;
    color: white;
    &:hover {
        color: $red-middle;
    }
  }

  .c-separator--line hr {
    border-color: #666;
  }

  .c-bg-pattern {
    background: url("../images/bg-pattern-footer-black.png") repeat left top;
  }

  .c-bg-pattern__right {
    background-image:  url("../images/bg-pattern-tiny-black.png");

    @include media-breakpoint-up(lg) {
      background-image:  url("../images/bg-pattern-black.png");
    }
  }

  .c-bg-pattern__left {
    background-image:  url("../images/bg-pattern-tiny-black.png");

    @include media-breakpoint-up(lg) {
      background-image:  url("../images/bg-pattern-black.png");
    }
  }

  .c-bg-pattern__center {
      background-image:  url("../images/bg-pattern-black.png");
  }

  .c-button--outline {
    color: white;
    border-color: white;
  }

  .c-form__elements input {background: none;}

  .c-social-list {
    li a {color: white;}

    svg {
      fill:white;
      path {
        fill:white;
      }
      rect {
        fill:white;
      }
    }
  }

  .c-cita__box__texto {color: $black;}

  .video {
    border: 1px solid #666;
  }

  .c-contact__item__ciudad__telefono {
      color: $red-middle;
  }

  a {color: $red-middle;}
  .c-footer__bottom-list__item a {
    color: #000 !important;
    text-decoration: none;
  }

}
