.page-open-space {
  #header a.c-nav__link {color: white !important;}
}

.p-openspace.c-hero--video {
  .c-hero--video__box {
    height: 550px;
  }

  h1 {color: white;}
}

.p-openspace__intro {
  background: $gray-light;
  padding: 90px 0;
  margin-top: 45px;

  strong {font-weight: 800;}
}

.p-openspace__intro__ticket {
  background: $black;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  color: white;
}

.p-openspace__intro__ticket__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  svg {
    width: 50px;
    height: 50px;
    margin-right: 26px;
  }
}

.p-openspace__intro__ticket__text {
  span {
    font-weight: bold;
    @include typi(small);
    letter-spacing: 3px;
    display: inline-block;
    text-transform: uppercase;
  }

  p {
    @include typi(large);
    font-weight: bold;
    margin: 0;
  }
}




// RAZONES
.p-openspace-razones {
  .c-title--pre {
    margin-bottom: 8px;
    font-weight: bold;
  }

  img {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }
}


// DUDAS
.p-openspace-dudas {
  .c-title--pre {
    margin-bottom: 8px;
    font-weight: bold;
  }
}


// HASHTAG
.p-openspace-hashtag {
  padding: 120px 0;
  @include media-breakpoint-up(md) {
    padding: 280px 0;
  }
  a {
    color: $black;
    text-decoration: none;
  }
}
