.page-bienvenida {

  .p-bienvenida-hero {
    padding-top: 0;
    padding-bottom: 0;

    @include media-breakpoint-up(md) {
      padding-top: 48px;
      padding-bottom: 0;
    }

    @include media-breakpoint-up(xxxl) {
      padding-top: 48px;
      padding-bottom: 96px;
    }
  }

  .c-hero {
    padding-top: 60px;
    padding-bottom: 40px;

    @include media-breakpoint-up(sm) {
      padding-top: 100px;
      padding-bottom: 60px;
    }

    @include media-breakpoint-up(md) {
      padding-bottom: 48px;
    }
    @include media-breakpoint-up(lg) {
      padding-bottom: 48px;
    }
  }


  .c-separator--icon {
    text-align: center;
    padding: 32px 0 48px;

    @include media-breakpoint-up(md) {
      text-align: left;
    }

    @include media-breakpoint-up(lg) {
      padding: 72px 0 48px;
    }

    @include media-breakpoint-up(lg) {
      padding: 72px 0 64px;
    }
  }

  .p-bienvenida-foto {
    background: url('../images/pie-bienvenida-foto-min.jpg') center top no-repeat;
    background-size: cover;
    min-height: 700px;
    overflow: hidden;
    position: relative;
    margin-bottom: 96px;

    @include media-breakpoint-up(xl) {
      background: url('../images/pie-bienvenida-foto.jpg') center top no-repeat;
      background-size: cover;
      min-height: 900px;
    }

    @include media-breakpoint-up(xxxl) {
      background-size: cover;
      min-height: 1360px;
    }
  }

  .c-bg-insights-bienvenida {
    @include media-breakpoint-only(xs) {
      padding: 0 0 310px 0;
      background-position: bottom center;
    }

    @include media-breakpoint-up(sm) {
      padding: 120px 0 90px;
      background-position: -20% center;
    }

    @include media-breakpoint-up(md) {
      background-position: -120% center;
    }

    @include media-breakpoint-up(lg) {
      background-position: 300px center;
    }

    @include media-breakpoint-up(xl) {
      background-position: right center;
    }
  }

  .c-icon-list__title {
    font-weight: 300;
    strong {
      font-weight: 800;
    }
  }

  .c-grid-image--right {
    margin-top: -60px;
    width: 100%;
    height: auto;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      width: 63%;
      height: 477px;
    }

    @include media-breakpoint-up(lg) {
      width: 67%;
      height: 628px;
    }

    @include media-breakpoint-up(xxl) {
      width: 60%;
      height: 720px;
    }

    @include media-breakpoint-up(xxxl) {
      width: 50%;
      height: 1072px;
    }
  }
}
