.p-link-old {
  margin-top: 24px;

  @include media-breakpoint-up(lg) {
    margin-top: -390px;
  }

  @include media-breakpoint-up(xl) {
    margin-top: -360px;
  }
}

.p-insights-download {
  padding-top: 96px;

  @include media-breakpoint-up(lg) {
    padding-top: 192px;
  }

  h2 {
    margin-bottom: 48px;
  }
}

.page-insights {

  .c-box {
    width: 100%;
    padding: 24px;
    @include media-breakpoint-up(lg) {
      padding: 72px 72px 200px 72px;
    }
    @include media-breakpoint-up(xl) {
      padding: 96px 122px 305px 122px;
    }
  }

  ul, li {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .p-insights__line {
    border-bottom: 1px solid #ccc;
    @include media-breakpoint-up(lg) {
      border-bottom: none;
    }
  }

  .p-line {
    margin-bottom: 96px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 192px;
    }
  }
}

.p-insights-intro {
  padding-top: 0;
  @include media-breakpoint-up(lg) {
    padding-top: 56px;
  }

  .p-insights-intro_img {
    margin-bottom: 24px;
    @include media-breakpoint-up(md) {
      margin-bottom: 96px;
    }
    @include media-breakpoint-up(lg) {
      position: relative;
      top:0;
      right: 50%;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      @include media-breakpoint-up(lg) {
        position: relative;
        z-index: 4000;
      }
    }
  }

  .p-insights-intro_numero{

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 8%;
      left: calc(50% - 32px);
    }
    @include media-breakpoint-up(xl) {
      top: 16%;
    }

    img {
      width: 40%;
      margin-bottom: 24px;
      @include media-breakpoint-up(md) {
        width: 52%;
      }
      @include media-breakpoint-up(lg) {
        width: 80%;
      }
      @include media-breakpoint-up(xl) {
        width: 100%;
      }
    }
  }

  .p-insights-intro_texto {

    @include media-breakpoint-up(lg) {
      margin-top: -300px;
    }
  }
}

//-----------cover video
.p-insights-cover {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.p-insights-cover__textos {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.p-insights-cover__flecha {
  width: 100%;
  margin-top: -120px;
  @include media-breakpoint-up(lg) {
    margin-top: -100px;
  }
  @include media-breakpoint-up(xxxl) {
    margin-top: -160px;
  }
}

.p-insights-cover__imgWrap_horizontal {
  width: 100%;
  height: auto;
  overflow: hidden;
  max-height: none;
}

.p-insights-cover__video {
  position: absolute;
  inset: 0;
  z-index: 0;
  content: '';
  object-fit: cover;
  height: 100vh;
  aspect-ratio: 4 / 3;
  @include media-breakpoint-up(md) {
    aspect-ratio: 3 / 4;
    height: 100vh;
  }
  @include media-breakpoint-up(xxxl) {
    aspect-ratio: 16 / 9;
    height: 100vh;
  }
}
