.p-openspace-hero {
  padding-top: 24px;
  padding-bottom: 64px;

  @include media-breakpoint-up(md) {
    padding-top: 48px;
    padding-bottom: 96px;
  }

}

.p-openspace-proximo {
  padding-top: 24px;
  padding-bottom: 64px;

  @include media-breakpoint-up(md) {
    padding-top: 48px;
    padding-bottom: 96px;
  }
}
