/*Posicionamiento de fotos a la derecha*/
.c-bikochool-imagen {
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up(lg) { 
    min-height: 720px;
  }
  @include media-breakpoint-up(xl) { 
    min-height: 582px;
  }
}

.c-bikochool-imagen--derecha-arriba {
  position: relative;
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    right: -47%;
  }
  @include media-breakpoint-up(xl) {
    right: -33%;
  }
  @include media-breakpoint-up(xxl) {
    right: -6%;
  }
  img {
    width: 100%;
  }
}






.page-biko-school {


   /*listado iconos*/
   .c-icon-list li {
     width: 50%;
   }
   .c-icon-list__text {
    width: 100%;
    @include typi(large);
    font-weight: bold;
  }

  .c-texto--small__uppercase {
    margin-bottom: 4px;
    font-weight: normal;
  }
 
  /*Social media*/
    .c-social-list {
      justify-content: flex-start;
    }
  
}




