.p-proyecto__hero {
  position: relative;

  @include media-breakpoint-up(xl) {
    min-height: 92vh;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 200px;
  }

  .c-title--background {
    width: 100%;
    text-align: center;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: 0;
      z-index: 0;
    }
  }
}


.p-proyecto__hero .c-grid-image--right {

  @include media-breakpoint-down(sm) {
    position: relative;
  }

  @include media-breakpoint-up(md) {
    width: 35%;
    min-height: 70vh;
  }

  @include media-breakpoint-up(lg) {
    width: 40%;
    min-height: 80vh;
  }

  @include media-breakpoint-up(xl) {
    min-height: 65vh;
  }

  img {
    @include media-breakpoint-up(md) {
      width: auto;
      height: 100%;
    }
  }

  .c-icon-square {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

// PANTALLAZOS
.p-proyecto--galeria {
  margin-top: 20px;

  @include media-breakpoint-up(md) {
    background: url("/assets/images/proyectos/bg-curva.jpg") center 85% no-repeat;
    background-size: contain;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 80px;
  }
}

// SIMILAR
.p-proyecto__similar {
  .c-icon-square {margin: 0 auto;}
}
