{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero contenedor-secciones-hero">
  <div class="c-grid-image--right">
    <img data-src="/assets/images/proyectos/unicaja-cabecera.jpg" class="lazyload" alt="Jovenes accediendo desde el móvil a la web de Unicaja" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-7">
        <h1 class="c-title--pre text-uppercase  mt-3 mt-md-4 mb-0">UNICAJA</h1>
        <h2 class="h-extrahuge">Es <strong>tu banco</strong>, y ahora también un poco nuestro</h2>
        <p class="c-title--sub">(al menos en lo que a huella se refiere)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-6">
        <p>Unicaja es una entidad financiera que ha sufrido una importante evolución en los últimos años. Así, el crecimiento y mejora de la experiencia digital para sus clientes ha ido de la mano. Desde Biko hemos tenido la suerte de poder acompañar a esta entidad en ese camino trabajando en aspectos tan clave como el área privada. Y ya de paso, aprendemos de finanzas, que nunca viene mal :)</p>
      </div>
    </div>
  </div>
</section>

<section class="u-bg-gray-light py-5 px-4 p-md-5 py-lg-7 mb-5  mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <p class="mb-md-6 c-title--big">Construir un nuevo frontend con React para su banca online definiendo la arquitectura técnica y liderando el desarrollo de la aplicación web.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-2 offset-lg-1">
        <h5 class="c-title--pre mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Unicaja Banco</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Arquitectura</li>
          <li class="u-list-none mb-0">Desarrollo</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">React</li>
          <li class="u-list-none mb-0">Type Script</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Web
        </h5>
         <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="https://www.unicajabanco.es/es/particulares" target="_blank">Unicaja Banco</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="contenedor-secciones mb-xl-5 mb-lg-4 ">
  <div class="c-grid-image--right--big mb-4">
    <img data-src="/assets/images/proyectos/unicaja-desafio" class="lazyloaded" alt="Desarrollador trabajando con React" src="/assets/images/proyectos/unicaja-desafio.jpg">
  </div>
  <div class="container mb-md-6">
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-5 col-lg-4 col-xl-3">
        <div class="pt-md-2 pt-xl-5">
          <h3>El desafío</h3>
          <p class="mb-0">El mayor desafío con el que nos encontramos fue incorporar una tecnología y un marco de trabajo completamente nuevos dentro de la entidad financiera. Además de colaborar con otros proveedores para dar forma, desarrollar y poner en marcha una nueva banca online multidispositivo, que atendiese las necesidades de sus clientes.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-pattern c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/unicaja-enfoque" class="lazyloaded u-img-fluid" alt="Dinámica de Agile" src="/assets/images/proyectos/unicaja-enfoque-1.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="pt-md-2 pt-xl-5">Nuestro enfoque</h3>
        <p>Al tratarse de un proyecto de tamaño considerable, con una evolución continua a lo largo de muchos años, definimos una arquitectura y modelo de desarrollo modular que nos permitiera avanzar de forma sostenible durante la vida del proyecto. </p>
      </div>
    </div>
  </div>
</section>

<section class="c-mockup mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-0 mb-md-6">
      <div class="col-md-12 col-xl-10 offset-xl-1">
        <p class="c-title--big">
          Nueva estructura y nueva tecnología para un <strong>mejor producto</strong>.
        </p>
      </div>
    </div> 
  </div>
</section>

<section class="c-mockup mb-5 mb-md-6 mb-lg-7">
  <div class="container">
 
      
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="c-title-large mb-3">
              Software de calidad
            </h4>
            <p>
          Además, como la entidad estaba comprometida con la implantación de procesos agile, el equipo de Biko se encargó de guiarles hacia las dinámicas correspondientes, sin dejar de lado los procesos necesarios para salvaguardar los intereses de los usuarios, especialmente prestando atención a la fase QA.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/selfbank-imagen-movil-1" class="lazyloaded u-img-fluid" alt="Dinámica de Agile" src="/assets/images/proyectos/unicaja-enfoque.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-lg-5 mb-xl-0">
        <div class="col-md-12 col-lg-6 col-xl-3 offset-xl-1">
          <div class="d-flex flex-column">
            <h3>
              Producto final
            </h3>
            <p>
           Conseguimos alcanzar el objetivo: una web responsive con un área privada actualizada, basada en una nueva arquitectura tecnológica muy potente. Conseguimos unir todas las piezas para que los procesos más técnicos fueran realmente efectivos. Un proyecto orientado únicamente a mejorar la calidad de servicio para cualquier usuario de Unicaja.            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/unicaja-producto-final-1" class="lazyloaded u-img-fluid" alt="Pantalla para aaceder al área privada de Unicaja Banco" src="/assets/images/proyectos/unicaja-producto-final-1.jpg">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12  col-xl-10 offset-xl-1">
        <p class="c-title--big mb-md-6">
        Para construir un proyecto de estas características tuvimos que recurrir a:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="c-title-large">
              React
            </h4>
            <p>
            Como tecnología principal para la creación del área privada.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('typescript')}}
          </div>
          <div>
            <h4 class="c-title-large">
        TypeScript</h4>
            <p>
              Lenguaje de programación de la aplicación.
            </p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</section>

<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="c-texto--center">
          <h3 class="c-title--big mb-4">
            ¿Tienes alguna <strong>duda</strong> sobre este <strong>proyecto?</strong> <br>¿Te gustaría ver otros similares?
          </h3>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>








<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}
