<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="d-flex flex-column align-items-center text-center">
          <a class="c-button mb-3" href="https://mail.google.com/mail/?view=cm&fs=1&to=unete@biko2.com" target="_blank">Inscribirse <br /><span class="c-button--minus">unete@biko2.com</span></a>
          <a href="/unete-a-biko#listado-ofertas" alt="Volver a la página de ofertas">
            <span class="c-link-especial text-uppercase color-blue text-sm letter-base font-400">
              Ver todas las ofertas
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
