{# ----- UNETE ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-home__hero" id="top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title-hero mb-4 text-center">
            Seguro que tienes talento
        </h1>
        <p class="font-secondary text-3xl color-red mb-4 text-center">(por eso te queremos aquí)</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 text-center">
        <p class="text-2xl">Biko no es un ente. Biko es la suma de todos los bikonianos. Por eso, siempre estamos ojo avizor en búsqueda de talento y gente con ese <i>no sé qué</i>. ¿Quieres unirte a nosotros?</p>
        <div class="c-separator--icon">
          <a class="c-separator--icon__animated" href="#nuestras-ofertas">
            <svg width="13px" height="42px" viewBox="0 0 13 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-714.000000, -854.000000)" fill="#000000">
                  <g>
                    <path d="M737.811652,873.75 L734.022242,869.966495 L735.240635,868.75 L741.25,874.75 L735.240635,880.75 L734.022242,879.533505 L737.811652,875.75 L699.75,875.75 L699.75,873.75 L737.811652,873.75 Z" transform="translate(720.500000, 874.750000) rotate(-270.000000) translate(-720.500000, -874.750000) "></path>
                  </g>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-box-huge p-unete-ofertas" id="nuestras-ofertas">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <h2 class="title-5xl mb-3 mb-md-5 font-400 color-white">Mira nuestras ofertas. <br /><strong>Ahora mismo buscamos...</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="offset-xl-1 col-lg-10 offset-lg-1 d-flex justify-content-between flex-wrap">

        <div class="c-ofertas__box">
          <p class="mb-1"><span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">Nuevo</span></p>
          <h3 class="title-2xl pt-2 mb-2">Product owner</h3>
          <p class="font-secondary text-2xl color-red mb-3">(Pamplona o remoto)</p>
          <p class="text-base line-base mb-md-5">Buscamos un perfil de Product Owner con experiencia en management y scrum para incorporar a nuestro equipo.</p>
          <div class="d-flex justify-content-center">
            <a href="/unete-a-biko/product-owner/" class="c-button c-button--second gtm-lead-oferta-drupal">Ver oferta</a>
          </div>
        </div>

        <div class="c-ofertas__box">
          <p class="mb-1"><span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">Nuevo</span></p>
          <h3 class="title-2xl pt-2 mb-2"> Desarrollador/a Front-End</h3>
          <p class="font-secondary text-2xl color-red mb-3">(Pamplona)</p>
          <p class="text-base line-base mb-md-5">Buscamos incorporar una persona desarrolladora Front-End que adore trabajar en equipo, formar a sus compañeros y escribir código simple, semántico y fácil de leer.</p>
          <div class="d-flex justify-content-center">
            <a href="/unete-a-biko/desarrollador-desarrolladora-front-end/" class="c-button c-button--second gtm-lead-oferta-drupal">Ver oferta</a>
          </div>
        </div>

        <div class="c-ofertas__box">
          <h3 class="title-2xl u-decoration-red pt-2 mb-2">Desarrollador/a Drupal</h3>
          <p class="font-secondary text-2xl color-red mb-3">(Pamplona)</p>
          <p class="text-base line-base mb-md-5">Buscamos incorporar un/a desarrollador/a que tenga experiencia en Drupal.</p>
          <div class="d-flex justify-content-center">
            <a href="/unete-a-biko/desarrollador-drupal" class="c-button c-button--second gtm-lead-oferta-drupal">Ver oferta</a>
          </div>
        </div>

        <div class="c-ofertas__box">
          <h3 class="title-2xl u-decoration-red pt-2 mb-2">Desarrollador/a de Javascript/Node</h3>
          <p class="font-secondary text-2xl color-red mb-3">(Pamplona)</p>
          <p class="text-base line-base mb-md-5">Buscamos incorporar un/a desarrollador/a que tenga experiencia desarrollando con Javascript con toques de back-end y Node.</p>
          <div class="d-flex justify-content-center">
            <a href="/unete-a-biko/desarrollador-javascript-node" class="c-button c-button--second gtm-lead-oferta-javascript">Ver oferta</a>
          </div>
        </div>

        <div class="c-ofertas__box">
          <h3 class="title-2xl u-decoration-red pt-2 mb-2">Desarrollador/a de software</h3>
          <p class="font-secondary text-2xl color-red mb-3">(Pamplona)</p>
          <p class="text-base line-base mb-md-5">Si estás buscando un cambio de aires, un puesto que se adapte más a ti o un reto profesional, sigue leyendo.</p>
          <div class="d-flex justify-content-center">
            <a href="/unete-a-biko/desarrollador-de-software/" class="c-button c-button--second gtm-lead-software">Ver oferta</a>
          </div>
        </div>

        <div class="c-ofertas__box">
          <h3 class="title-2xl u-decoration-red pt-2 mb-2">Desarrollador/a de Front End</h3>
          <p class="font-secondary text-2xl color-red mb-3">(Pamplona)</p>
          <p class="text-base line-base mb-md-5">Si eres un apasionado del aprendizaje y la programación, ¡no te pierdas esta oferta!</p>
          <div class="d-flex justify-content-center">
            <a href="/unete-a-biko/desarrollador-front-end/" class="c-button c-button--second gtm-lead-frontend">Ver oferta</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="p-unete-trabajar" id="unete">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 class="title-6xl mb-4 mb-md-5">Para trabajar con nosotros, primero debes saber algunas cosas:</h2>
      </div>
      <div class="landing-nav-section__wrap d-none d-xl-inline ">
        <div class="landing-nav-section text-xs color-gray-dark font-400"><span class="line-decoration">Qué debes saber para trabajar en Biko</span></div>
      </div>
    </div>
  </div>

  <div class="container mb-4 mb-md-7">
    <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
                  <p class="u-decoration-red pt-2 mb-4 mb-md-5">Somos de espíritu joven, aunque llevamos <strong>más de 20 años</strong> trabajando en el sector.</p>
                  <p class="u-decoration-red pt-2 mb-4 mb-md-5">Contamos con un equipo <strong>hiper-multi-disciplinar</strong>: tenemos personas que desarrollan, maquetan, hacen consultoría de negocio y de UX/UI, diseñan, son marketers, o periodistas, profes de universidad, son artistas de circo, artistas del código y youtubers  (<a href="https://www.youtube.com/user/loignoro" class="c-link" target="_blank">true!</a>). Todo en la misma plantilla.</p>
                  <p class="u-decoration-red pt-2 mb-4 mb-md-0"><strong>Agile, scrum, iteraciones…</strong> Si te suena este vocabulario, ya tienes mucho terreno ganado.</p>
            </div>

              <div class="col-lg-6 pr-4">
                    <p class="u-decoration-red pt-2 mb-4 mb-md-5">Trabajamos en una <strong>oficina abierta</strong> y bastante líquida. Es habitual trabajar en un proyecto y con un equipo durante un tiempo, pero puede que luego cambies a otro.</p>
                    <p class="u-decoration-red pt-2 mb-4 mb-md-5">Tenemos un horario relativamente <strong>flexible</strong> y ofrecemos la posibilidad de <strong>trabajar en remoto</strong>, aunque lo ideal es que primero nos conozcamos personalmente.</p>
                    <p class="u-decoration-red pt-2">Tenemos un grupo de pádel, otro de futbiko y nos encanta montar saraos de cualquier tipo: una <em>encounter</em> en la oficina, una escapada de <em>txotx!</em> anual...</p>
              </div>
          </div>
      </div>

    </div>
  </div>
</section>

<!--bloque dudas final-->
<section class="c-bg-big py-5 py-md-7">
  <div class="container bg-white p-4 p-md-5">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="c-texto--center">
          <h2 class="title-6xl mb-4">
            ¿Te apetece unirte al equipo?
          </h2>
          <p class="font-secondary text-3xl color-red mb-4 text-center">(vamos a conocernos mejor)</p>
          <p>Si te interesa trabajar en Biko y crees que puedes aportar con tu talento, por favor, escríbenos y adjunta tu currículum. Nosotros nos encargamos del resto.</p>
        </div>
      </div>
      <div class="col-md-10 offset-md-1">
        <div class="d-flex flex-column align-items-center text-center" data-drip-show-form="740822926">
          <a class="c-button gtm-lead-ofertas-unete" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=unete@biko2.com">Envíanos tu currículum a <br />
          <span class="c-button--minus">unete@biko2.com</span></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-unete-open mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xl-6">
        <div class="c-box-white">
          <p>También podrás venir a conocernos a los <strong>Open Space</a> que organizamos</strong> en cuanto podamos hacerlos presenciales. Allí podrás descubrir las tendencias del universo tecnológico.</p>
          <p>Échale un vistazo a nuestro último <a href="https://blog.biko2.com/experiencia-de-usuario/no-es-la-constante-es-la-postura-openbiko-xxi/" class="c-link gtm-lead-openspace" target="_blank">Open Space presencial del 27 de mayo de 2022</a></p>
          <p class="c-texto--small">Foto: Bikonianos e invitados disfrutando en el Open Space de mayo de 2022.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}
{% endblock %}
