  <section class="mb-5 mb-md-7 bg-gray-light py-3 pr-3 pl-3 py-md-5 pr-md-5 pl-md-5" id="quienes-somos">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <p>
            Somos una empresa joven de espíritu, pero con muchos años de rodaje.
            Llevamos <strong>más de 20 años</strong> en el sector digital.
          </p>
          <p>
            Como a todo el mundo, a veces nos cuesta definirnos, pero de lo que
            tenemos certeza es de que hacemos <strong>
              grandes proyectos digitales</strong>. 
              Si de algo podemos presumir es de ser <strong>
              un equipo súper diverso y multidisciplinar</strong>: 
              contamos con personas centradas en desarrollo,
            maquetación, consultoría de negocio, consultoría de UX, diseño UI, <em>
              marketing</em>, periodismo, formación...
          </p>
          <p>
            Abrazamos el <strong>trabajo en remoto</strong> pero también damos la <strong>
              posibilidad de trabajar en una oficina abierta y bastante líquida</strong>. 
              Buscamos personas que quieran desarrollarse
            profesionalmente con nosotros y no solo para desarrollar un proyecto
            concreto. De hecho, contamos con grupos de trabajo sobre cuestiones
            específicas de formación en desarrollo, UX/UI, etc. o planes de
            idiomas.
          </p>
          <p>
            Si aún no conoces Biko, has de saber que <a class="c-link"
              href="/open-space/" target="_blank">el Open</a> es nuestro evento por excelencia, pero tenemos otros tantos saraos
            que casi es mejor que te contemos en persona.
          </p>
        </div>
      </div>
    </div>
  </section>