  <section class="mb-7 bg-gray-light py-3 py-md-5" id="quienes-somos">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <p>
            Somos una empresa joven de espíritu, pero con muchos años de rodaje.
            Llevamos <strong>más de 20 años</strong> en el sector digital.
          </p>
          <p>
            Como a todo el mundo, a veces nos cuesta definirnos, pero de lo que
            tenemos certeza es de que hacemos <strong>
              grandes proyectos digitales</strong>. 
              Si de algo podemos presumir es de ser <strong>
              un equipo súper diverso y multidisciplinar</strong>: 
              contamos con personas centradas en desarrollo,
            maquetación, consultoría de negocio, consultoría de UX, diseño UI, <em>
              marketing</em>, periodismo, formación, investigación...
          </p>
          <p>
          Buscamos personas que quieran <strong>desarrollarse profesionalmente</strong> con nosotros 
          y nosotras y quieran explotar todo su potencial, que quieran hacer las cosas bien, 
          con sentido común, pragmatismo y sintiéndose orgullosas del trabajo que realizan. 
          La mejora contínua es uno de nuestros pilares fundamentales y no nos conformamos 
          con hacer las cosas como deberían hacerse sino que siempre tratamos de hacerlas 
          como nos gustaría que se hiciesen. Contamos con grupos de trabajo o <em>“concerns”</em> 
          tanto a nivel interno de los equipos como a nivel general de la organización 
          que nos ayudan a contrastar visiones, formarnos y establecer consensos.
          </p>
          <p>
            Abrazamos el <strong>trabajo en remoto</strong> pero también damos la <strong>
              posibilidad de trabajar en una oficina abierta y bastante líquida</strong>. 
          </p>
          <p>
            Si aún no conoces Biko, has de saber que <a class="c-link"
              href="/open-space/" target="_blank">el Open</a> es nuestro evento por excelencia, pero tenemos otros tantos saraos
            que casi es mejor que te contemos en persona.
          </p>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
        <div class="landing-nav-section text-xs color-gray-dark font-400"><span class="line-decoration">Somos Biko</span></div>
      </div>
      </div>
    </div>
  </section>