{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="p-oferta-hero">

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-7">
      <h1 class="title-hero mb-3 text-center">Experto/a en comunicación</h1>
      <p class="font-secondary text-3xl color-red text-center mb-4 mb-md-5">(Pamplona)</p>
      <p class="text-2xl mb-5">Estamos buscando una <strong>persona muy importante para la marca Biko</strong>. Se trata de un experto/a de comunicación que apoye a nuestro equipo en la generación de contenidos de valor y que se encargue de su difusión, para que tengamos más alcance y lleguemos a las personas adecuadas.</p>
      <p class="text-2xl text-center">¿Te cuadra por ahora? ¡Genial! Entonces te contamos quiénes somos 🙂</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5 mb-md-7 bg-red-extralight py-3 pr-3 pl-3 py-md-5 pr-md-5 pl-md-5">
      <p>Somos una empresa joven de espíritu, pero con muchos años de rodaje. Llevamos <strong>más de 20 años</strong> en el sector digital.</p>
      <p>Como a todo el mundo, a veces nos cuesta definirnos, pero de lo que tenemos certeza es de que hacemos <strong>grandes proyectos digitales</strong>. Si de algo podemos presumir es de ser <strong>un equipo súper diverso y multidisciplinar:</strong> contamos con personas centradas en desarrollo, maquetación, consultoría de negocio, consultoría de UX, diseño UI, <em>marketing</em>, periodismo, formación...</p>
      <p>Abrazamos el <strong>trabajo en remoto </strong>pero también damos la <strong>posibilidad de trabajar en una oficina abierta y bastante líquida</strong>. Buscamos personas que quieran desarrollarse profesionalmente con nosotros y no solo para desarrollar un proyecto concreto. De hecho, contamos con grupos de trabajo sobre cuestiones específicas de formación en desarrollo, UX/UI, etc. o planes de idiomas.</p>
      <p>Si aún no conoces Biko, has de saber que <a class="c-link" href="/open-space/" target="_blank">el Open</a> es nuestro evento por excelencia, pero tenemos otros tantos saraos que casi es mejor que te contemos en persona.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <h2 class="title-5xl mb-3">¿En qué consistiría tu puesto?</h2>
      <p class="mb-5">El objetivo es ambicioso, no lo vamos a ocultar, y doble. </p>
      <p class="mb-5">Por un lado dar apoyo a los miembros del equipo de Biko a la hora de extraer toda la experiencia y aprendizaje de su trayectoria profesional, que es mucha y variada, con el propósito de <strong>generar contenidos</strong> que ayuden a mejorar el posicionamiento de nuestra marca, tanto transmitiendo un mensaje ajustado a nuestra propuesta de valor, como llegando a nuestro público objetivo de una manera más amplia, clara y frecuente. </p>
      <p class="mb-5">Por otro lado, <strong>capitanear la difusión</strong> de todo lo que generemos, siguiendo mecanismos más tradicionales como los medios de comunicación, o canales más modernos como las redes sociales, plataformas, foros tecnológicos y otras alternativas que puedan surgir a lo largo del tiempo. </p>
      <p class="mb-5">En ambas tareas (apoyo en la generación e impulso de la difusión) pensamos tanto en <strong>formatos y mensajes espontáneos</strong>  para compartir a través de redes de forma regular, como en <strong>propuestas más meditadas</strong> de menor periodicidad, como nuestro Biko Insights (<a href="https://www.biko2.com/insights/" class="c-link gtm-lead-insights" target="_blank">https://www.biko2.com/insights/</a>), artículos, posts o formatos audiovisuales a difundir a través de nuestros canales propios o de la mano de terceros.  </p>


    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-5">¿Qué consideramos necesario para optar al puesto?</h2>
        <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="u-decoration-red pt-2 text-base line-base mb-5">Necesitamos a <strong>alguien organizado</strong>, capaz de <strong>trabajar con autonomía pero con vocación de equipo</strong>, para poder dar el apoyo necesario en la generación de contenidos de valor a los miembros de Biko.</p>
            <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Contar con experiencia previa y dominio del uso de redes sociales</strong>, fundamentalmente Twitter y Linkedin, para hacer llegar nuestros mensajes con personalidad y efectividad. </p>
            <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Atesorar experiencia previa y capacidad para relacionarse con medios de comunicación</strong>, especialmente aquellos relacionados con la tecnología y el negocio digital. </p>
            <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Entender y estar al día de lo que pasa en el mundo digital</strong>, desde las tendencias más innovadoras a las claves del negocio.</p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="u-decoration-red pt-2 text-base line-base mb-5">Reunir experiencia en <strong>la recogida de métricas y análisis de resultados</strong>, especialmente en todo lo relacionado con redes sociales, métricas web y email marketing.</p>
            <p class="u-decoration-red pt-2 text-base line-base mb-5">Gusto por el <strong>trabajo bien hecho, cuidar los detalles y darle vueltas a las cosas</strong> para encontrar siempre la mejor manera de contarlas. </p>
            <p class="u-decoration-red pt-2 text-base line-base mb-5">Más allá de talento, <strong>actitud, ganas de aprender y de asumir responsabilidades</strong>.</p>
            <p class="u-decoration-red pt-2 text-base line-base mb-5">Nivel alto de inglés.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-5">¿Y qué sería TOP?</h2>
        <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas un <strong>background tecnológico</strong>, que te permita entender de forma profunda y rápida los avances tecnológicos, especialmente todo lo relacionado con desarrollo de producto tecnológico. </p>
          <p class="u-decoration-red pt-2 text-base line-base mb-5">Que domines el <strong>uso de algunas herramientas de marketing digital</strong> para enviar emails, realizar encuestas...</p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas <strong>experiencia en la edición de audio y vídeo</strong>. </p>
          <p class="u-decoration-red pt-2 text-base line-base mb-5">Que te guste <strong>escribir y elaborar contenido</strong>, con frescura, claridad y personalidad. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <h2 class="title-5xl mb-5">¿Qué ofrecemos?</h2>
      <div class="row">
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Un sueldo entre 30.000€ y 40.000€</strong>, más un bonus anual en base a los resultados de la empresa, dependiendo de lo que puedas aportar (si estás fuera de este rango pero te interesa trabajar en Biko, no te cortes y cuéntanoslo también).</p>
          <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Horario flexible de entrada y salida.</strong> La única regla es que cumplas con tus horas, aunque tú decides cómo las encajas.</p>
          <p class="u-decoration-red pt-2 text-base line-base mb-5">Como eres una persona con experiencia, ganas de trabajar y responsable, ofrecemos la posibilidad de <strong>trabajar en remoto</strong> (en el mismo huso horario), aunque lo ideal, sobre todo al principio, es trabajar en un modelo híbrido en el que puedas elegir qué días prefieres trabajar desde casa. </p>
        </div>
        <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
          <p class="u-decoration-red pt-2 text-base line-base mb-5">Un <strong>plan de carrera profesional que prepararemos juntos</strong>, de manera que veas qué progresión puedes tener con nosotros y seamos capaces de identificar unos objetivos compartidos que nos ayuden a construir una relación a largo plazo. </p>
          <p class="u-decoration-red pt-2 text-base line-base mb-5">Un <strong>ambiente enriquecedor y diverso</strong>, donde desarrollarte como profesional, como persona y con unos compañeros muy majos.</p>
        </div>
      </div>
      <p class="text-center">¿Te gusta la oferta? Pues mándanos tu CV, estamos deseando conocerte.</p>
    </div>
  </div>

</section>

{% include "@base/unete-a-biko/enviar-cv.twig" %}

{% include "@includes/subir.twig" %}

{% include "@includes/contact.twig" %}


{% endblock %}
