<section class="parallax-open page-open-space-app-charlas pt-5 pt-md-7 pb-5 pb-md-7" id="propuestas">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="text-center"><span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">NOVEDAD</span> </p>
        <h2 class="title-6xl mb-4">¿Y de qué hablaremos?</h2>
        <p class="font-secondary text-3xl color-red-middle mb-4">(básicamente, de lo que queramos)</p>
      </div>
      <div class="col-12 text-center">
        <p class="text-base line-base text-md-2xl line-md-xl mb-0">Este año estrenamos nuestro <strong>"Rincón de charlas"</strong>.</p>
        <p class="text-base line-base text-md-2xl line-md-xl mb-0">Un espacio en donde podrás enviarnos tu propuesta de charla para el Open Space.</p>
        <p class="text-base line-base text-md-2xl line-md-xl mb-4 mb-md-5"><strong>¿Te animas? </strong></p>
        <a href="#" target="_blank" class="c-button c-button--outline--white gtm-lead-charlasopen">Enviar propuesta de charla</a>
        </p>
      </div>
    </div>
  </div>
</section>
