{# ----- OPEN SAPCE 2022 ----- #}
{% extends "@layouts/page-black.twig" %}
{% block page %}
<!--bloque hero-->
<section class="c-hero p-open-space-hero mb-6 pt-5 pt-md-6">
  <div class="page-open-space-hero__container">

  <div class="c-grid-image--right d-none d-lg-block">
    <img data-src="/assets/images/openspace-2022-fecha.png" class="lazyload" alt="27 mayo" />
  </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9 col-lg-7">
          <h1>Open Space XX <strong>¡Volvemos!</strong></h1>
          <p class="font-secondary text-3xl color-red-middle mb-4 text-left">(Un día para descubrir las tendencias del universo tecnológico)</p>
          <p class="text-2xl line-2xl">
            Después de estos dos años de impasse forzado, por fin podemos retomar los preparativos de nuestro #openbiko. Y te aseguramos que lo vamos a preparar con más ilusión (si cabe) que nuestras ediciones anteriores.
          </p>
          <p class="text-2xl line-2xl">
            En 2022 la fecha elegida será el <strong>27 de mayo</strong>, un plan perfecto para compartir y aprender. El Open Space de Biko será durante todo el día, desde la mañana hasta lo que aguantemos por la noche.
          </p>
          <a class="c-button" href="#formulario">¡Me apunto!</a>

        </div>

      </div>
    </div>
  </div>
</section>

<div class="container-fluid my-6 d-flex justify-content-end">
  <img data-src="/assets/images/encounter-pacman.png" class="lazyload" alt="Pacman" />
</div>

<!--presentacion-->
{% include "@base/_open-space-black/presentacion.twig" %}

<div class="c-separator--line"><hr></div>

<!-- razones-->
{% include "@base/_open-space-black/razones.twig" %}

<!-- de q hablaremos-->
{% include "@base/_open-space-black/hablaremos.twig" %}

<!-- cuando y donde-->
{% include "@base/_open-space-black/cuando-donde.twig" %}

<div class="c-separator--line"><hr></div>

<!--aperitivo-->
{% include "@base/_open-space-black/que-es-open-space.twig" %}


<!--form-->
<section class="parallax-open page-open-space-form mb-5 mb-md-7 py-5 py-md-7 bg-gray-light" id="formulario">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="row">
          <div class="col-12 col-md-10 col-lg-12">
            <h2 class="title-slim-6xl u-strong-red mb-5">
              Si has llegado hasta aquí, es que esto <strong>te interesa</strong>
            </h2>
          </div>
          <div class="col-12 col-md-10 col-lg-12">
            <p>Inscríbete completando el siguiente formulario. Incribirse no te obliga a asistir, pero sería muy top que nos avisaras si finalmente no pudieras venir.</p>
            <p>¡Anímate, será un día inolvidable!</p>
          </div>
        </div>
      </div>
      {% include "@base/_open-space-black/form-inscripcion.twig" %}
    </div>
  </div>
</section>
<!--form-->

<!--dudas resueltas-->
{% include "@base/_open-space-black/dudas-resueltas.twig" %}

<!--hashtag-->
{% include "@base/_open-space-black/hashtag.twig" %}



{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
