<section class="mb-6 pt-5 pt-md-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-4 text-left">
        <h2 class="h-extrahuge">
          Close.
          Closer.
          <strong>Open.</strong>
        </h2>
      </div>
      <div class="col-lg-10 col-xl-8 text-left">
        <p class="text-base line-base text-md-2xl line-md-2xl">Un día para celebrar, acercarnos y dejar espacio a lo nuevo.
        Dejamos atrás la seguridad y control nacidas de lo imprevisible. Clausuramos una etapa, porque no podemos abrir sin cerrar lo anterior. </p>
        <p class="text-base line-base text-md-2xl line-md-2xl">Queremos acercarnos, lo suficiente, tan cerca como para ver erizarse nuestras pieles y oír el chasquido de nuestras pestañas, tan juntos que nos haga notar y recordar que detrás de la tecnología e innovación lo que importa es la interacción humana, las personas. </p>
        <p class="text-base line-base text-md-2xl line-md-2xl mb-4 mb-md-5">El Open de Biko es un evento definido y esbozado, pero no determinado, para permitir que las nuevas ideas fluyan a través de todos. Open es abierto, transparente y receptivo al cambio. </p>
      </div>
      <div class="col-12 text-center">
        <p class="title-slim-6xl color-red-middle mb-5">#CloseCloserOpen #openbiko </p>
        <p class="text-base line-base text-2xl line-2xl mt-3 mb-0"><strong>¿Te inspira?</strong></p>
        <p class="text-base line-base text-2xl line-2xl"> Descubre cómo se materializa compartir este día. </p>
      </div>
    </div>
  </div>
</section>
