<section class="mb-5 mb-lg-7 c-bg-pattern__right">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h2 class="title-6xl mb-4">¿Quieres ver un aperitivo?</h2>
        <p class="font-secondary text-3xl color-red-middle mb-4">(¡tenemos muchas ganas de repetirlo!)</p>
        <p class="text-base line-base text-md-xl line-md-xl mb-4 mb-md-5">
        Esto fue hace 2 años, quién nos iba a decir a nosotros que el lema que escogimos "#comoencasa" se iba a volver tan literal un año después. Vemos este vídeo con nostalgia pero con mucha emoción de poder ¡volver a juntarnos!. </p>
      </div>
      <div class="col-12 mb-4 mb-md-5">
        <div class="video-container">
        <iframe class="video" src="https://www.youtube.com/embed/WzZh8rEetHg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-12">
        <p class="text-base line-base text-md-xl line-md-xl mb-4 mb-md-5">Te invitamos a recordar cómo fue el último Open, reviviendo algunas de las charlas de aquel día. </p>
        <a href="https://www.youtube.com/playlist?list=PL7hhC6ox3LEdVcda3VFhEADrhXOQ4SW7X" target="_blank" class="c-button c-button--outline--white gtm-lead-openvercharlas">Ver charlas del último Open</a>
        </p>
      </div>
    </div>
  </div>
</section>
