<section class="p-openspace-razones mb-6">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="title-6xl mb-4">¿Qué es el Open Space de Biko?</h2>
        <p class="font-secondary text-3xl color-red-middle mb-4">(más 3 razones para venir)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p>
        Un evento profesional, gratuito y abierto sobre las últimas tendencias en tecnología, software e innovación, pero sobre todo personas.</p>
        <p>
        El formato Open Space de Biko basado en la auto-organización, lo convierte en un evento único en Navarra, con buena parte de la agenda sin estar prefijada, habiendo charlas que se proponen y deciden en el mismo día, dejando así parte de la agenda abierta hasta el final.
        </p>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-xl-1 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/openspace-razones-1.jpg" class="lazyload mb-3 mb-md-5" alt="open Space Biko 2019" />
        <h3 class="title-2xl decoration-red pt-2 mb-2">Cambiar de aire</h3>
        <p>Sea cual sea tu especialidad o intereses profesionales, seguro que encuentras una <strong>charla que encaje contigo</strong>, o proponer la que eches en falta.</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/openspace-razones-2.jpg" class="lazyload mb-3 mb-md-5" alt="open Space Biko 2019" />
        <h3 class="title-2xl decoration-red pt-2 mb-2">Aprender</h3>
        <p>Aprenderás sin darte cuenta en un <strong>ambiente muy cercano y familiar</strong>, que fomenta el abrirse y dejarse atravesar por las ideas nuevas.</p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
        <img data-src="/assets/images/openspace-razones-3.jpg" class="lazyload mb-3 mb-md-5" alt="open Space Biko 2019" />
        <h3 class="title-2xl decoration-red pt-2 mb-2">Compartir</h3>
        <p>El poder multiplicador de un montón de personas motivadas por <strong>compartir conocimiento, aprender y generar nuevas preguntas.</strong></p>
      </div>
    </div>
  </div>
</section>
