{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<!--Bloque hero-->
<section id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--fundacionjuanmarch text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-fundacion-juanmarch.svg" class="mb-3" alt="Logotipo Fundación Juan March" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">Fundación Juan March</p>-->
          <h1 class="title-hero mb-3">
          Un proyecto digital único sobre arte y cultura en español
          </h1>
          <p class="font-secondary text-2xl text-lg-3xl color-red-middle mb-5">(explora más de 70 años de exposiciones, conciertos y conferencias)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10">
              <p class="text-md-2xl line-md-2xl">
              La Fundación Juan March necesitaba mudar la piel para reflejar mejor la oferta cultural de sus tres sedes y adaptarse a las necesidades de las nuevas audiencias. Este proyecto hace más fácil explorar contenidos de su archivo patrimonial y conocer los formidables fondos digitalizados de su biblioteca.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque datos-->
<section class="bg-gray-extralight py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Fundación Juan March</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">Storytelling <span class="color-red">+</span> UX</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI <span class="color-red">+</span> Diseño Web</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Drupal <span class="color-red">+</span> Solr <span class="color-red">+</span> React</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://march.es/" target="_blank">Fundación Juan March</a></div>
          </div>

      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla-->
<section class="py-5 py-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Una nueva y <strong>modernizada imagen</strong>, una arquitectura renovada y un avanzado gestor de contenidos con un <strong>buscador exquisito</strong>, que haga brillar el rico contenido cultural que custodian.</p>
      </div>
    </div>
  </div>
</section>

<!--Bloque El Desafio-->
<section id="desafio" class="contenedor-secciones mb-4 mb-md-5 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title-6xl mb-4">El desafío</h3>
      </div>
      <div class="col-12 col-lg-6">
        <p>El mayor reto al que nos enfrentamos fue cómo renovar toda la gestión de miles de referencias culturales de la web aportando además flexibilidad y versatilidad, para convertirla en una potente herramienta de comunicación.</p>
      </div>
      <div class="col-12 col-lg-6">
        <p>La Fundación lleva más de 70 años de actividad cultural, gestionando y generando un patrimonio digital inmenso que debe de estar accesible para todos los usuarios. Para seguir fomentando la cultura en España y fuera de sus fronteras, era necesario ordenar toda la información, conectarla y hacerla gestionable. Ese ha sido el gran desafío a cumplir.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <img data-src="/assets/images/proyectos/fjm/fjm1.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Imagen de la exposición de Josep M. Sert." />
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
        <img data-src="/assets/images/proyectos/fjm/fjm2.svg"
          class="lazyload w-100 mb-3 mb-md-0"
          alt="Logotipo de Fundación Juan March" />
        <img data-src="/assets/images/proyectos/fjm/fjm3.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Extracto de pantalla de la web de Fundación Juan March" />
      </div>
    </div>
  </div>
</section>

<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/fundacion-juan-march-enfoque.jpg" class="lazyloaded u-img-fluid" alt="Fundación Juan March" src="/assets/images/proyectos/fundacion-juan-march-enfoque.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>Desde el comienzo lo vimos muy claro. Drupal era la piedra angular que aportaba la doble solución que buscábamos: una gestión ágil de contenidos y la potencia y rapidez de navegación web para los usuarios. Pero íbamos a necesitar la ayuda del equipo de tecnología de la Fundación, ya que ellos conocen los datos y las conexiones. <strong>Trabajar conjuntamente ambos equipos</strong> como uno solo era fundamental si queríamos conseguir el éxito de este proyecto.</p>
          <p>
          Y por supuesto, el proyecto necesitaba una apuesta visual elegante que represente a la Fundación. Debía lucir, de manera limpia y sencilla, la exquisita calidad visual de los contenidos gracias a las fotografías, vídeos y tipografías.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque frase-->
<section id="frase1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-7 title-slim-6xl u-strong-red">La información fluye de manera transparente e inmediata entre varios entornos y sistemas. Tú no ves nada, pero Drupal orquesta una <strong>compleja ingeniería de datos </strong>y conexiones alucinantes. </p>
      </div>
    </div>
  </div>
</section>
<!--Bloque contenido segundo nivel -->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-6 mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div>
          <h4 class="title-4xl line-3xl mb-4">
           Tres sedes llenas de actividad
          </h4>
          <p>
            Uno de los objetivos del rediseño ha sido hacer más evidente que son una institución con tres sedes: Madrid, Palma y Cuenca. Las tres comparten identidad y objetivos, pero también tienen sus propias singularidades y públicos distintos.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-xl-6 offset-xl-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.1.1" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.1.1.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-imagenes-montaje">
            <img data-src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.1" class="lazyloaded u-img-fluid" alt="Fundación Juan March" src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.1.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque contenido segundo nivel -->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-6 mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 d-flex align-items-center order-md-2 order-xl-1">
        <div>
          <h4 class="title-4xl line-3xl mb-4">
            El buscador
          </h4>
          <p>
          Es el secreto mejor guardado de este proyecto: la pieza que transforma la web en una experiencia de descubrimiento constante. Ahora podemos decir que estamos ante un portal de conocimiento cultural con una experiencia de usuario sin parangón en España.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block order-xl-2">
          <img data-src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.2.1
          " class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.2.1.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-ml-negativo c-mockup-imagenes-montaje  order-xl-1">
            <img data-src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.2" class="lazyloaded u-img-fluid" alt="Fundación Juan March" src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.2.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque contenido segundo nivel -->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div>
          <h4 class="title-4xl line-3xl mb-4">
            Arte digitalizado
          </h4>
          <p>
           Admira al detalle todas las obras de los museos de Palma y Cuenca. Cada obra viene acompañada de textos explicativos y conexiones ágiles entre contenidos relacionados. Todo está conectado.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.3.1
            " class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.3.1.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha">
            <img data-src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.3" class="lazyloaded u-img-fluid" alt="Fundación Juan March" src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.3.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque contenido segundo nivel -->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-6 mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 d-flex align-items-center order-md-2 order-xl-1">
        <div>
          <h4 class="title-4xl line-3xl mb-4">
            Una biblioteca renovada
          </h4>
          <p>
          Especial dedicación a mejorar y hacer más fácil la exploración de los contenidos de la biblioteca, para conocer los formidables fondos y legados digitalizados. Una biblioteca académica renovada donde bucear sin límites en temáticas enmarcadas en las Humanidades y las Artes.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block order-xl-2">
          <img data-src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.4.1
          " class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.4.1.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-ml-negativo c-mockup-imagenes-montaje  order-xl-1">
            <img data-src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.4" class="lazyloaded u-img-fluid" alt="Fundación Juan March" src="/assets/images/proyectos/fundacion-juan-march-enfoque-1.4.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">Para construir un proyecto de estas características tuvimos que recurrir a una <strong>combinación de herramientas muy potente</strong>.</p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div class="mb-3 mb-lg-0">
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
              Para lograr una gestión de contenidos fluida y eficaz, dando muchísima libertad a los editores y sin descuidar el diseño.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
                  {{svgSprite('solr')}}
          </div>
          <div>
           <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              Solr
           </h4>
             <p>
             Como potente herramienta de indizado, que permite explorar miles de contenidos mediante un buscador textual y filtros facetados, con los que se pueden afinar las búsquedas de manera muy precisa.
             </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('sistema-cache')}}
          </div>
          <div class="mb-3 mb-lg-0">
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              Sistemas de caché avanzado Varnish y Redis
            </h4>
            <p>
            Aportan un aumento muy significativo del rendimiento de la web. El mecanismo de invalidación inteligente mediante <em>“cache tags”</em> permite una optimización extremadamente buena a la hora de regenerar los datos cacheados cuando se producen cambios en los contenidos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
                  {{svgSprite('GraphQL')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              API GraphQL
            </h4>
            <p>
            Como mecanismo de sincronización entre la web y los sistemas de información internos de la Fundación, para que toda la riqueza y complejidad de los datos que contienen se mantenga constantemente actualizada en la web.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p>
          La Fundación Juan March es un referente absoluto en el mundo del arte y la cultura en español y ahora, con su nuevo proyecto web, hemos logrado que también sea una <strong>referencia en la difusión digital de la cultura</strong> en nuestro país.</p>
          <p>
          La simbiótica unión con su proyecto audiovisual <a href="https://canal.march.es/es/" target="_blank"><span class="c-link"> Canal March</span></a> convierte la web en una experiencia única jamás vista. Todo está conectado, todo es accesible y está disponible para los usuarios. Descubre la nueva Fundación.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/fundacion-juan-march-producto-final.jpg" class="lazyloaded u-img-fluid" alt="Pantalla diseño Fundación Juan March" src="/assets/images/proyectos/fundacion-juan-march-producto-final.jpg">
      </div>
    </div>
  </div>
</section>

<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-2xl text-lg-3xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://march.es/" target="_blank" alt="Visitar la web de Fundación Juan March"><span class="c-link"> Fundación Juan March</span></a></p>
      </div>
    </div>
  </div>
</section>


{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
