<section id="donde" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Dónde trabajarás?</h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 mb-5">La sede principal de la empresa está en<strong> Pamplona </strong>pero tenemos personas trabajando de manera <strong>remota</strong> desde diferentes partes de España.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 mb-5"><strong>Podrás trabajar desde casa o acudir a las oficinas siempre que lo desees</strong>. Confiamos en que cada uno sabe cuándo y desde dónde es más productivo. Eso sí, si decides venir, ¡estaremos encantados de recibirte y llevarte de juevintxo!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>