<section id="importante" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Qué pedimos?</h2>
          <h3 class="title-4xl mb-3">Esto nos parece importante</h3>
          <p class="font-secondary text-2xl color-red mb-5">
            (sabemos que cumplir todos los requisitos es complicado pero nos gustaría...)
          </p>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que te guste el <strong>trabajo bien hecho</strong>, cuidar los <strong>detalles</strong> y escribir un <strong>código semántico y legible</strong>. Estar motivado/a y que te guste <strong>trabajar en equipo</strong>. Puede sonar a tópico, pero es importante que estés donde quieras estar.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que te guste aprender nuevas tecnologías y formas de <strong>hacer mejor tu trabajo</strong>.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-md-0">Tener cierto <strong>pensamiento crítico</strong>, esto es, no conformarse con hacer las cosas de cualquier manera.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Ser un <strong>apasionado/a del aprendizaje y la programación</strong>.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Ser <strong>resolutivo/a</strong>.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-0">Nivel <strong>intermedio</strong> de <strong>inglés</strong>.</p>
            </div>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">La lista de los deseos</span>
          </div>
        </div>
      </div>
    </div>
  </section>