{# ----- OFERTA ----- #}
{% extends "_layouts/page.twig" %}
{% block page %}

<section class="c-hero p-oferta-hero c-bg-pattern__right">

  {% include "unete-a-biko/social-share.twig" %}

  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-9">
        <h1 class="h-midhuge"><strong>Desarrollador/a</strong> Front End</h1>
        <h2 class="c-title--sub">(Pamplona)</h2>
      </div>
      <div class="col-12 col-xl-3">
        <div class="d-flex flex-xl-column justify-content-center align-items-xl-center text-center">
          <a class="c-button p-oferta-hero__button p-oferta-hero__button--top" href="https://mail.google.com/mail/?view=cm&fs=1&to=unete@biko2.com" target="_blank">Inscribirse <br /><span class="c-button--minus">unete@biko2.com</span></a>
        </div>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <h3 class="c-ofertas__title">¿<strong>En qué consiste</strong> tu puesto?</h3>
        <ul class="c-line-list">
          <li><p>Trabajarás junto al resto de tu equipo en la construcción de aplicaciones web con React, Typescript / ES6, CSS3 y HTML5. Te enfrentarás diariamente con retos relacionados con el mundo front-end. Participarás en todas las dinámicas ágiles de ejecución de los proyectos y en el ciclo completo del desarrollo de software.</p></li>
          <li><p>Participarás en la evolución técnica y tecnológica de los proyectos front-end aplicando tu experiencia o investigaciones que se realizan continuamente.</p></li>
          <li><p>Nos gusta escribir código legible y mantenible así que aplicarás prácticas y técnicas como son el testing, principios SOLID, refactorización, arquitectura hexagonal y muchos otras buenas prácticas que hacemos y otras nuevas que puedes proponer en tu día a día.</p></li>
          <li><p>Creemos que las personas son lo más valioso para conseguir soluciones excelentes. Por eso, ayudarás en la formación de tus compañeros y en la tuya propia para seguir creciendo mediante charlas, talleres, open spaces, hacer pair programming, revisiones de código, etc.</p></li>
        </ul>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <h3 class="c-ofertas__title">¿Qué <strong> consideramos importante </strong>para optar al puesto?</h3>
        <ul class="c-line-list">
          <li><p>Que te guste el trabajo bien hecho, cuidar los detalles y escribir un código semántico y legible. Estar motivado y que te guste trabajar en equipo. Puede sonar a tópico, pero es importante que estés donde quieras estar.</p></li>
          <li><p>Que te guste aprender nuevas tecnologías y formas de hacer mejor tu trabajo.</p></li>
          <li><p>Tener cierto pensamiento crítico, esto es, no conformarse con hacer las cosas de cualquier manera.</p></li>
          <li><p>Ser un apasionado del aprendizaje y la programación.</p></li>
          <li><p>Ser resolutivo.</p></li>
          <li><p>Nivel intermedio de inglés.</p></li>
        </ul>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <h3 class="c-ofertas__title">¿Y qué sería <strong>TOP</strong>?</h3>
        <ul class="c-line-list">
          <li><p>Que tengas a tu espalda unos cuantos años desarrollando aplicaciones web con React, Angular, Vue, StencilJS o Polymer con ES6 o Typescript.</p></li>
          <li><p>Tener experiencia en maquetación con CSS3 y HTML5.</p></li>
          <li><p>Tener conocimiento y ejecutar buenas prácticas de programación. Valoramos experiencia en testing, TDD, SOLID, clean Code y refactorización.</p></li>
          <li><p>Unas buenas habilidades de comunicación, capacidad para colaborar y presentar tus ideas de forma clara y efectiva al resto del equipo y de la empresa. Al final, se trata de relacionarse 🙂</p></li>
          <li><p>Que te sientas cómodo trabajando con code reviews y pull requests.</p></li>
          <li><p>Tener experiencia con metodologías ágiles. Es nuestra manera de trabajar.</p></li>
        </ul>
      </div>
    </div>

    <div class="row p-oferta-block">
      <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <h3 class="c-ofertas__title">¿Qué <strong>ofrecemos</strong>?</h3>
        <ul class="c-line-list">
          <li><p>Un sueldo entre 20.000€ y 30.000€, dependiendo de lo que puedas aportar.</p></li>
          <li><p>Horario flexible de entrada y salida. La única regla es que cumplas con tus horas, aunque tú decides cómo las encajas.</p></li>
          <li><p>Ofrecemos la posibilidad de trabajar en remoto, aunque lo ideal es que primero nos conozcamos personalmente.</p></li>
          <li><p>Un ambiente enriquecedor y diverso, donde desarrollarte como profesional, como persona y con unos compañeros muy majos.</p></li>
        </ul>
      </div>
    </div>


    <div class="d-flex flex-column align-items-center text-center">
      <a class="c-button p-oferta-hero__button" href="https://mail.google.com/mail/?view=cm&fs=1&to=unete@biko2.com" target="_blank">Inscribirse <br /><span class="c-button--minus">unete@biko2.com</span></a>
      <a class="c-link" href="/unete-a-biko/" title="Volver al listado de ofertas">Ver todas las ofertas</a>
    </div>
  </div>
</section>


{% endblock %}
