  <section id="muy-top" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h3 class="title-4xl mb-5">Y esto ser铆a muy TOP</h3>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 mb-5">Que tengas a tu espalda unos cuantos a帽os desarrollando aplicaciones web con <strong>React</strong>, <strong>Angular</strong>, <strong>Vue</strong>, <strong>StencilJS</strong> o <strong>Polymer con ES6</strong> o <strong>Typescript</strong>.</p>
              <p class="u-decoration-red pt-2 mb-5">Tener experiencia en <strong>maquetaci贸n con CSS3 y HTML5</strong>.</p>
              <p class="u-decoration-red pt-2 mb-5">Tener conocimiento y ejecutar <strong>buenas pr谩cticas de programaci贸n</strong>. Valoramos experiencia en testing, TDD, SOLID, clean Code y refactorizaci贸n.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 mb-5">Unas buenas habilidades de <strong>comunicaci贸n</strong>, capacidad para <strong>colaborar</strong> y presentar tus ideas de forma clara y efectiva al resto del equipo y de la empresa. Al final, se trata de relacionarse </p>
              <p class="u-decoration-red pt-2 mb-5">Que te sientas c贸modo/a trabajando con <strong>code reviews y pull requests</strong>.</p>
              <p class="u-decoration-red pt-2 mb-5">Tener experiencia con <strong>metodolog铆as 谩giles</strong>. Es nuestra manera de trabajar.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>