<section id="tu-puesto">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-5xl mb-5">¿En qué consiste tu puesto?</h2>
        <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">Trabajarás junto al resto de tu equipo en la construcción de aplicaciones web con <strong>React</strong>, <strong>Typescript / ES6</strong>, <strong>CSS3</strong> y <strong>HTML5</strong>. Te enfrentarás diariamente con retos relacionados con el mundo front-end. Participarás en todas las dinámicas ágiles de ejecución de los proyectos y en el ciclo completo del desarrollo de software.</p>
            <p class="decoration-red pt-2 mb-5">Participarás en la <strong>evolución técnica y tecnológica de los proyectos front-end</strong> aplicando tu experiencia o investigaciones que se realizan continuamente.</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
            <p class="decoration-red pt-2 mb-5">Nos gusta escribir <strong>código legible y mantenible</strong> así que aplicarás prácticas y técnicas como son el <strong>testing</strong>, <strong>principios SOLID</strong>, <strong>refactorización</strong>, <strong>arquitectura hexagonal</strong> y muchos otras buenas prácticas que hacemos y otras nuevas que puedes proponer en tu día a día.</p>
            <p class="decoration-red pt-2">Creemos que las personas son lo más valioso para conseguir soluciones excelentes. Por eso, <strong>ayudarás en la formación de tus compañeros/as</strong> y en la tuya propia para seguir creciendo mediante charlas, talleres, open spaces, hacer pair programming, revisiones de código, etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>