{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--museothyssen text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-thyssen.svg" class="mb-3" alt="Logotipo MUSEO NACIONAL THYSSEN-BORNEMISZA" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">MUSEO NACIONAL THYSSEN-BORNEMISZA</p>-->
          <h1 class="title-hero mb-4">
          El arte de mostrar arte
          </h1>

          <p class="font-secondary text-3xl color-red-middle mb-4">(y su proceso de artesanía)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-6">
              <p class="text-md-2xl line-md-2xl">El Museo Thyssen-Bornemisza asumió un proceso de transformación digital a través de la renovación de todo su ecosistema web.</p>
            </div>
            <div class="col-lg-10 col-xl-6">
              <p class="text-2xl line-2xl mb-0">De las 4 piezas principales (web del museo, web de EducaThyssen, tienda y entradas), desde Biko hemos asumido el <strong>desarrollo</strong> de dos de ellas: la <strong>web general del museo</strong> y <strong>Educathyssen</strong>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla-->
<section class="mb-4 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">El ecosistema web de un gran museo basado en Drupal. <strong>Multisite, multidominio, multiidioma</strong>.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque datos-->
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Museo Thyssen-Bornemisza</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">UX <span class="color-red">+</span> Analítica</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Drupal <span class="color-red">+</span> API REST</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://www.museothyssen.org/" target="_blank">Museo Thyssen-Bornemisza</a></div>
          </div>

      </div>
    </div>
  </div>
</section>
<div class="c-separator--line c-separator--line__horizontal"><hr /></div>

<section class="contenedor-secciones mb-md-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4">
    <img data-src="/assets/images/proyectos/thyssen-desafio" class="lazyloaded" alt="Museo Thyssen-Bornemisza" src="/assets/images/proyectos/thyssen-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-6xl mb-4">El desafío</h3>
          <p>El reto para el lanzamiento del proyecto no era menor: el sistema debía ser <strong>multisite, multidominio, multiidioma</strong>, con un diseño ya definido y una clara orientación de marketing.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/thyssen-enfoque" class="lazyloaded u-img-fluid" alt="Museo Thyssen-Bornemisza" src="/assets/images/proyectos/thyssen-enfoque.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>Así, desarrollamos una plataforma tecnológica que permite una gestión potente e integrada de ambos sites y es la base del ecosistema digital del Museo, por sus integraciones con la tienda, el CRM de Amigos del Museo y la venta de entradas.</p>
          <p>Algunos aspectos importantes del desarrollo son <strong>el <a class="c-link" href="https://www.museothyssen.org/buscador" target="_blank">buscador</a> facetado,</strong> que permite la exploración de manera sencilla de todos los contenidos (obras, autores, exposiciones, actividades...) mediante la <strong>introducción de texto libre o facetas</strong>; o el <strong>marcado semántico con microdatos</strong> (con el estándar JSON-LD), que permite dar información precisa a los buscadores sobre aspectos relevantes de los diferentes tipos de contenido.</p>
          <p class="mb-0">Otros elementos relevantes son la <strong>galería multimedia compartida</strong> entre el Museo y EducaThyssen, un sistema de construcción de portadillas, otro de microsites, otro para formularios…</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="c-mockup mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-lg-5 mb-xl-0">
      <div class="col-md-12 mb-3">
          <p class="mb-5 mb-md-7 title-slim-6xl u-strong-red">
          En definitiva, una web que es una <strong>herramienta de trabajo versátil</strong> y que permite una gran autonomía.
        </p>
      </div>
    </div>
    <div class="row mb-6  mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 d-flex align-items-center order-md-2 order-xl-1">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="title-4xl line-3xl mb-4">
              Un proyecto no acaba cuando se publica
            </h4>
            <p>
            Tras el lanzamiento del nuevo site en 2015, hemos seguido trabajando con el Museo Nacional Thyssen-Bornemisza en lo que llamamos un mantenimiento evolutivo.
            </p>
            <p class="mb-5">Durante este periodo, hemos realizado un acompañamiento a los distintos departamentos del museo mejorando el desarrollo del site y ampliándolo para las nuevas necesidades que han surgido a lo largo de estos años. Hemos conceptualizado, diseñado e integrado nuevas partes del site mes tras mes.</p>
          </div>
          <div class="d-flex justify-content-between u-relative mb-5 mb-md-0">
            <div class="c-mockup-descripcion__icono c-icon--medium  c-icon--white u-bg-red">
                {{svgSprite('blog')}}
            </div>
            <div class="mr-4">
              <h5 class="title-2xl decoration-red pt-2 mb-2">Para saber más:</h5>
              <a href="https://blog.biko2.com/actualidad-biko/museos-y-centros-de-arte-en-el-s-xxi-claves-de-su-transformacion-digital/" target="_blank">
                <span class="c-link-especial">
                  Museos y centros de arte en el s.XXI. Claves de su transformación digital
                </span>
              </a>
            </div>
            <div class="align-self-end c-icon--arrow  c-icon--black">
              {{svgSprite('flecha-right')}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block order-xl-2">
            <img data-src="/assets/images/proyectos/thyssen-imagen-movil-1" class="lazyloaded u-img-fluid" alt="Museo Thyssen-Bornemisza" src="/assets/images/proyectos/thyssen-imagen-movil-1.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-ml-negativo c-mockup-imagenes-montaje  order-xl-1">
            <img data-src="/assets/images/proyectos/thyssen-movil-1" class="lazyloaded u-img-fluid" alt="Pantalla coleccion" src="/assets/images/proyectos/thyssen-movil-1.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="title-4xl line-3xl mb-4">
              Mejorando su CRO (y ayudándoles a generar más ingresos)
            </h4>
            <p>
            Hemos trabajado conjuntamente la UX, analítica digital y optimización del ratio de conversión, especialmente en los puntos clave del site, así como en el proceso de contratación del servicio de Amigos del museo. Nos hemos apoyado en una monitorización continua del site, basándonos en la analítica para validar hipótesis de mejora mediante <strong>user research y testing</strong>; y así obtener piezas que además de satisfacer al usuario, satisfagan los objetivos del museo.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/thyssen-imagen-movil-2" class="lazyloaded u-img-fluid" alt="Museo Thyssen-Bornemisza" src="/assets/images/proyectos/thyssen-imagen-movil-2.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha">
            <img data-src="/assets/images/proyectos/thyssen-movil-2" class="lazyloaded u-img-fluid" alt="Pantalla movil thyssen" src="/assets/images/proyectos/thyssen-movil-2.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
          <p class="title-slim-6xl u-strong-red mb-md-6">
          Para construir un <strong>proyecto de estas características</strong> nos basamos en una potente combinación de herramientas.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
              Para la gestión general de la web y en particular de todos los contenidos, galería, etc. sin descuidar el diseño.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('solr')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Solr
            </h4>
            <p>
              Solr fue nuestra elegida para la indexación y búsqueda de la Colección.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p>
          Como resultado tenemos una <strong>plataforma de gestión de contenidos potente y muy flexible</strong> que permite al equipo de edición tener mucha independencia y flexibilidad a la hora de modificar o crear nuevas páginas dentro de los sites.
          </p>
          <p class="mb-5 mb-md-5 mb-lg-0">
          Esto nos permite centrar los esfuerzos en seguir evolucionando el site, creando nuevos servicios y optimizando los existentes, alineados con los objetivos de negocio del museo.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/thyssen-producto-final-1" class="lazyloaded u-img-fluid" alt="Pantalla obras maestras" src="/assets/images/proyectos/thyssen-producto-final-1.jpg">
      </div>
    </div>
  </div>
</section>

<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-md-2xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://canal.march.es/es/" target="_blank"><span class="c-link"> la web del
Museo Thyssen-Bornemisza</span></a></p>
      </div>
    </div>
  </div>
</section>

{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
