<section class="mb-5 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h2 class="title-6xl mb-4">¿Quieres ver un aperitivo?</h2>
        <p class="font-secondary text-3xl color-red-middle mb-4">(¡ya estamos pensando en la siguiente edición!)</p>
        <p class="text-base line-base text-md-xl line-md-xl mb-4 mb-md-5">
        Os mostramos un pequeño resumen de lo que fue el día y os invitamos a poder asistir a la siguiente edición, si no habéis podido venir. Creemos que os gustará y pasaréis un buen rato :)</p>
      </div>
      <div class="col-12 mb-4 mb-md-5">
        <div class="video-container">
        <iframe class="video" src="https://www.youtube.com/embed/ei0WJpw50h0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div
  </div>
</section>