<section class="parallax-open p-openspace-hashtag mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center mb-2 mb-md-3">
          <div class="c-icon-square c-icon-square__nobg">
            <svg version="1.1" width="72" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g transform="translate(-3 -3)" fill="#1DA1F2"><g transform="translate(3 3)"><path d="M72,12.9 C69.3,14.1 66.6,15 63.6,15.3 C66.6,13.5 69,10.5 70.2,7.2 C67.2,9 64.2,10.2 60.9,10.8 C58.2,7.8 54.3,6 50.1,6 C42,6 35.4,12.6 35.4,20.7 C35.4,21.9 35.4,23.1 35.7,24 C23.1,23.4 12.3,17.4 5.1,8.4 C3.6,10.8 3,13.2 3,15.9 C3,21 5.7,25.5 9.6,28.2 C7.2,28.2 4.8,27.6 3,26.4 C3,26.4 3,26.4 3,26.7 C3,33.9 8.1,39.9 14.7,41.1 C13.5,41.4 12.3,41.7 10.8,41.7 C9.9,41.7 9,41.7 8.1,41.4 C9.9,47.4 15.3,51.6 21.9,51.6 C16.8,55.5 10.5,57.9 3.6,57.9 C2.4,57.9 1.2,57.9 0,57.6 C6.6,61.8 14.4,64.2 22.5,64.2 C49.8,64.2 64.5,41.7 64.5,22.2 L64.5,20.4 C67.5,18.3 69.9,15.6 72,12.9 Z" fill-rule="nonzero"/></g></g></g></svg>
          </div>
        </div>

        <p class="h-extrahuge d-flex justify-content-center color-white"><a href="https://twitter.com/search?q=%23CloseCloserOpen&src=typed_query" target="_blank">#CloseCloserOpen</a></p>
        <p class="h-extrahuge d-flex justify-content-center color-white"><a href="https://twitter.com/search?q=%23openbiko&src=typed_query" target="_blank">#openbiko</a></p>
      </div>
    </div>
  </div>
</section>
