{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--helvetia text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-helvetia.svg" class="mb-3" alt="Logotipo HELVETIA SEGUROS" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">HELVETIA SEGUROS</p>-->
          <h1 class="title-hero mb-3">
          Tres proyectos, dos públicos, un mismo equipo
          </h1>
          <p class="font-secondary text-2xl text-lg-3xl color-red-middle mb-5">(y un objetivo común)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-6">
              <p class="text-md-2xl line-md-2xl">Acompañamos a Helvetia, aseguradora suiza con fuerte presencia en España, desde sus primeros pasos online.Tras evolucionar un medio promocional hacia la captación de negocio, necesitaba seguir avanzando en las etapas de digitalización de la compañía: incrementar los objetivos de venta online, conseguir mayor engagement con sus clientes…              </p>
            </div>
            <div class="col-lg-10 col-xl-6">
              <p class="text-md-2xl line-md-2xl">Además, el trabajo venía acompañado de otros proyectos complementarios, como el desarrollo de un nuevo portal para empleados y mediadores (B2B) y la evolución de una nueva área para clientes (B2C).
              Tres proyectos, un cliente y un mundo de posibilidades por explorar.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque entradilla-->
<section class="bg-gray-light py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Confeccionar la <strong>presencia digital</strong> de Helvetia de forma simultánea <strong>en tres de sus productos</strong>; su web pública, el portal para empleados y mediadores y la nueva área de clientes. Ofreciendo una <strong>solución reutilizable pero flexible</strong> y con una <strong>interfaz rica en UX, interactiva y atractiva</strong>.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque datos-->
<section class="mb-5 mb-md-7 bg-gray-extralight py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Helvetia</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">UX</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Drupal <span class="color-red">+</span> SPA en React <span class="color-red">+</span> GraphQL</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://www.helvetia.es/" target="_blank">Helvetia</a></div>
          </div>

      </div>
    </div>
  </div>
</section>

<section class="contenedor-secciones mb-md-7 mb-lg-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/helvetia-desafio" class="lazyloaded" alt="Helvetia" src="/assets/images/proyectos/helvetia-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-6xl mb-4">El desafío</h3>
          <p class="mb-0">Teníamos claro que las tres herramientas compartían dos puntos clave: exigían una <strong>rica experiencia de usuario</strong> y había una fuerte <strong>integración con aplicaciones</strong> internas de la compañía. Esto supuso pensar en una arquitectura de solución reutilizable, pero lo suficientemente flexible para adaptarla a los requisitos de los distintos públicos.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/helvetia-nuestro-enfoque" class="lazyloaded u-img-fluid" alt="Helvetia" src="/assets/images/proyectos/helvetia-nuestro-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
        <p>En Helvetia ya estaban familiarizados con el <strong>CMS Drupal</strong> gracias a su web corporativa, por lo que vimos que lo mejor era mantener esta solución como sistema de gestión de contenidos en el backend, aunque optando por aplicaciones React para el desarrollo del frontend, lo que nos permite crear una interfaz de usuario rica en UX, interactiva y atractiva.</p>
        <p>Toda la integración con los datos core de las aplicaciones de Helvetia a través de las <strong>APIs</strong> se haría con programación desde el back Drupal, centralizando así la comunicación con el front en una única capa.</p>
      </div>
    </div>
  </div>
</section>

<section class="c-mockup mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-lg-5 mb-xl-0">
      <div class="col-md-12 mb-3">
          <p class="mb-5 mb-md-7 title-slim-6xl u-strong-red">
          Así creamos una <strong>interfaz de usuario rica en UX, interactiva y atractiva</strong> para los tres proyectos.
        </p>
        <h3 class="title-6xl mb-4">Producto final</h3>
      </div>
    </div>
    <div class="row mb-6 mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="title-4xl line-3xl mb-4">
              Web pública
            </h4>
            <p>
              <a class="c-link" href="https://www.helvetia.es/" target="_blank">Web pública</a> para clientes gestionada por un CMS de Drupal.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-6 offset-xl-1">
        <div class="c-mockup-imagenes">
          <div class=" c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/helvetia-web" class="lazyloaded u-img-fluid" alt="Repensar Guernica" src="/assets/images/proyectos/helvetia-web.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-imagenes-montaje">
            <img data-src="/assets/images/proyectos/helvetia-mockup-web" class="lazyloaded u-img-fluid" alt="Helvetia" src="/assets/images/proyectos/helvetia-mockup-web.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-6  mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 d-flex align-items-center order-md-2 order-xl-1">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="title-4xl line-3xl mb-4">
              Portal para empleados y mediadores
            </h4>
            <p>
              <a class="c-link" href="https://intranet.helvetia.es/" target="_blank">Portal B2B</a> creado como un SPA (Single Page Application) donde acceden los empleados/mediadores mediante la web.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block order-xl-2">
            <img data-src="/assets/images/proyectos/helvetia-b2b" class="lazyloaded u-img-fluid" alt="Helvetia" src="/assets/images/proyectos/helvetia-b2b.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-ml-negativo c-mockup-imagenes-montaje  order-xl-1">
            <img data-src="/assets/images/proyectos/helvetia-mockup-b2b" class="lazyloaded u-img-fluid" alt="Helvetia" src="/assets/images/proyectos/helvetia-mockup-b2b.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="title-4xl line-3xl mb-4">
              Área clientes
            </h4>
            <p>
              <strong>Progressive Web App (PWA)</strong> donde los clientes además de acceder desde la web, pueden descargarla desde la Play Store de Google a sus dispositivos móviles.
            </p>
            <p>
              <a href="https://play.google.com/store/apps/details?id=com.biko.helvetia" target="_blank">
                <img data-src="/assets/images/proyectos/helvetia-google-play" class="lazyloaded" alt="Google play" src="/assets/images/proyectos/helvetia-google-play.png">
              </a>
            <p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/helvetia-area-clientes" class="lazyloaded u-img-fluid" alt="Helvetia" src="/assets/images/proyectos/helvetia-area-clientes.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha">
            <img data-src="/assets/images/proyectos/helvetia-mockup-clientes" class="lazyloaded u-img-fluid" alt="Helvetia" src="/assets/images/proyectos/helvetia-mockup-clientes.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
          <p class="title-slim-6xl u-strong-red mb-md-6">
          Para construir este proyecto implementamos una solución donde se comparten <strong>tecnologías y equipos de trabajo</strong>.
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
            Utilizándolo como <strong>CMS desacoplado</strong>. Sencillez de uso para los editores de contenidos, y potencia e integración con el resto de aplicaciones de Helvetia.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              SPA en React
            </h4>
            <p>
            Para crear una <strong>interfaz de usuario</strong> rica en UX, interactiva y atractiva para los empleados, agentes y clientes de Helvetia.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('GraphQL')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              GraphQL
            </h4>
            <p>
              Tecnología fácil y directa  para el consumo y <strong>envío de contenidos</strong> a las distintas aplicaciones frontend.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
