<section id="contacto">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <div class="c-footer__logo">
          <!-- logo jakala biko -->
          <img src="/assets/images/logo-jakala-biko.svg"
            alt="Biko by Jakala"
            class="mb-2 logo-biko-jakala" />
            <br />
          <a class="text-base gtm-lead-email-info"
            href="mailto:info@biko2.com"
            target="_blank">
            info@biko2.com
          </a>
        </div>
      </div>
      <div class="col-12 text-center mb-5 mb-md-7">
        <ul class="c-social-list">
          <li>
            <a href="http://twitter.com/biko2"
              target="_blank"
              title="Ir al Twitter de Biko">
              <svg class="icon fill-blue fill-hover-red">
                <use xlink:href="/assets/svg/sprite/sprite.svg#twitter-slim"></use>
              </svg><span>Twitter</span>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/company/biko"
              target="_blank"
              title="Ir al perfil de Linkedin de Biko">
              <svg class="icon fill-blue fill-hover-red">
                <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
              </svg><span>Linkedin</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-xl-6">
            <div class="c-contact__item__ciudad pt-1 mb-4">
              <h3 class="text-base line-base c-contact__item__ciudad__nombre">
                Pamplona
              </h3>
              <span class="text-base mb-2 line-base c-contact__item__ciudad__telefono">
                948 072 222
              </span>
              <div class="flex mb-2">
                <a class="c-contact__item__ciudad__map mr-1"
                  href="https://goo.gl/maps/puV3Ra3jJHKswz8w6"
                  target="_blank"
                  title="Ver ubicación en Google Maps">
                  <svg height="24"
                    version="1.1"
                    viewBox="0 0 51 67"
                    xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                      <g transform="translate(-9 -3)"
                        fill="#E73F39"
                        fill-rule="nonzero">
                        <g transform="translate(3 3)">
                          <g transform="translate(6)">
                            <path d="m25.9 0c3.9 0 7.4 0.7 10.5 2s5.7 3.2 7.8 5.5 3.7 5 4.8 8.1 1.7 6.4 1.7 9.8c0 3.5-0.7 7.1-2.1 10.7s-3.1 7.2-5.2 10.7-4.4 6.8-6.8 10-4.7 5.9-6.9 8.4c0 0-0.3 0.3-1 0.9s-1.3 0.9-2.1 0.9h-0.2c-0.9 0-1.7-0.3-2.3-0.8s-0.9-0.8-0.9-0.9c-2.3-2.6-4.7-5.5-7.4-8.6s-5.1-6.4-7.3-9.8-4.2-6.9-5.7-10.5-2.3-7.2-2.3-10.9c0-3.4 0.7-6.7 2-9.8s3.2-5.8 5.5-8.1 5-4.2 8.1-5.5 6.4-2.1 9.8-2.1zm0.8 62.5c3.3-3.8 6.2-7.4 8.7-10.9s4.6-6.7 6.2-9.8 2.9-6 3.7-8.7 1.2-5.3 1.2-7.6c0-2.7-0.4-5.3-1.2-7.8s-2.1-4.8-3.8-6.8-3.7-3.7-6.3-4.9-5.7-1.8-9.3-1.8c-2.9 0-5.6 0.6-8.2 1.7s-4.8 2.7-6.7 4.6-3.4 4.2-4.6 6.8-1.7 5.3-1.7 8.2c0 3.1 0.7 6.2 2 9.4s3 6.3 5 9.4 4.2 6 6.6 8.9 4.7 5.5 6.8 8l1.1 1.2 0.3 0.3s0.1-0.1 0.2-0.1 0-0.1 0-0.1zm-1-49.9c3.5 0 6.5 1.2 8.9 3.7s3.7 5.4 3.7 8.9-1.2 6.5-3.7 8.9-5.4 3.7-8.9 3.7c-3.4 0-6.4-1.2-8.9-3.7s-3.7-5.4-3.7-8.9c0-3.4 1.2-6.4 3.7-8.9s5.5-3.7 8.9-3.7zm0 21c2.3 0 4.3-0.8 5.9-2.5s2.4-3.6 2.4-6-0.8-4.3-2.5-5.9-3.6-2.5-5.9-2.5-4.3 0.8-5.9 2.5-2.5 3.6-2.5 5.9 0.8 4.3 2.5 6c1.7 1.6 3.7 2.5 6 2.5z" />
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </a>
                <span class="font-secondary text-sm color-gray line-sm">
                  (cómo llegar)
                </span>
              </div>
              <span class="text-sm line-sm">
                Políg. Mutilva Calle E, 5-1ºC, <br />31192 Mutilva – Navarra
              </span>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="c-contact__item__ciudad mb-4 mb-md-0">
              <h3 class="text-base line-base c-contact__item__ciudad__nombre">
                Madrid
              </h3>
              <span class="text-base mb-2 line-base c-contact__item__ciudad__telefono">
                91 436 48 54
              </span>
              <div class="flex mb-2">
                <a class="c-contact__item__ciudad__map mr-1"
                  href="https://goo.gl/maps/LpEpfJr9MPnA21BJA"
                  target="_blank"
                  title="Ver ubicación en Google Maps">
                  <svg height="24"
                    version="1.1"
                    viewBox="0 0 51 67"
                    xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                      <g transform="translate(-9 -3)"
                        fill="#E73F39"
                        fill-rule="nonzero">
                        <g transform="translate(3 3)">
                          <g transform="translate(6)">
                            <path d="m25.9 0c3.9 0 7.4 0.7 10.5 2s5.7 3.2 7.8 5.5 3.7 5 4.8 8.1 1.7 6.4 1.7 9.8c0 3.5-0.7 7.1-2.1 10.7s-3.1 7.2-5.2 10.7-4.4 6.8-6.8 10-4.7 5.9-6.9 8.4c0 0-0.3 0.3-1 0.9s-1.3 0.9-2.1 0.9h-0.2c-0.9 0-1.7-0.3-2.3-0.8s-0.9-0.8-0.9-0.9c-2.3-2.6-4.7-5.5-7.4-8.6s-5.1-6.4-7.3-9.8-4.2-6.9-5.7-10.5-2.3-7.2-2.3-10.9c0-3.4 0.7-6.7 2-9.8s3.2-5.8 5.5-8.1 5-4.2 8.1-5.5 6.4-2.1 9.8-2.1zm0.8 62.5c3.3-3.8 6.2-7.4 8.7-10.9s4.6-6.7 6.2-9.8 2.9-6 3.7-8.7 1.2-5.3 1.2-7.6c0-2.7-0.4-5.3-1.2-7.8s-2.1-4.8-3.8-6.8-3.7-3.7-6.3-4.9-5.7-1.8-9.3-1.8c-2.9 0-5.6 0.6-8.2 1.7s-4.8 2.7-6.7 4.6-3.4 4.2-4.6 6.8-1.7 5.3-1.7 8.2c0 3.1 0.7 6.2 2 9.4s3 6.3 5 9.4 4.2 6 6.6 8.9 4.7 5.5 6.8 8l1.1 1.2 0.3 0.3s0.1-0.1 0.2-0.1 0-0.1 0-0.1zm-1-49.9c3.5 0 6.5 1.2 8.9 3.7s3.7 5.4 3.7 8.9-1.2 6.5-3.7 8.9-5.4 3.7-8.9 3.7c-3.4 0-6.4-1.2-8.9-3.7s-3.7-5.4-3.7-8.9c0-3.4 1.2-6.4 3.7-8.9s5.5-3.7 8.9-3.7zm0 21c2.3 0 4.3-0.8 5.9-2.5s2.4-3.6 2.4-6-0.8-4.3-2.5-5.9-3.6-2.5-5.9-2.5-4.3 0.8-5.9 2.5-2.5 3.6-2.5 5.9 0.8 4.3 2.5 6c1.7 1.6 3.7 2.5 6 2.5z" />
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </a>
                <span class="font-secondary text-sm color-gray line-sm">
                  (cómo llegar)
                </span>
              </div>
              <span class="text-sm line-sm">
                Bilma Centro Empresarial, Calle de María Tubau, 9, Planta 3-B.
                 <br /> 28050, Madrid
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <h2 class="title-3xl mb-3">Suscríbete a nuestra Newsletter</h2>
        <form class="form-type-one"
          action="https://www.getdrip.com/forms/14616078/submissions"
          method="post"
          data-drip-embedded-form="14616078">
          <div>
            <div class="mb-2">
              <label for="Email" class="d-none"></label>
              <input type="email"
                id="drip-email"
                name="fields[email]"
                value=""
                placeholder="Escribe aquí tu correo electrónico" />
            </div>
            <div class="mb-2">
              <input type="checkbox" id="Check" required />
              <label for="Check" class="text-xs">
                Acepto la remisión de comunicaciones comerciales.
              </label>
            </div>
          </div>
          <button type="submit"
            data-drip-attribute="sign-up-button"
            class="c-button c-button__secondary--outline gtm-lead-newsletter">
            Suscribirme
          </button>
        </form>
        <div class="text-xs mb-0 line-sm">
          <p class="c-form__legal">
            <a href="/proteccion-de-datos#responsable" target="_blank">
              BIKO2 2006, S.L.
            </a> es el responsable del tratamiento de sus datos. La <a href="/proteccion-de-datos#finalidad"
              target="_blank">
              finalidad
            </a> es gestionar tu suscripción y mandarle comunicaciones comerciales
            por medios electrónicos. Usted puede ejercer los <a href="/proteccion-de-datos#derechos"
              target="_blank">
              derechos
            </a> de acceso, rectificación o supresión de sus datos así como otros
            derechos, como se explica en la <a href="/proteccion-de-datos/#derechos"
              target="_blank">
              información adicional
            </a>. Puede consultar la información adicional y detallada sobre <strong>
              Protección de Datos
            </strong>
            <a href="/proteccion-de-datos" target="_blank">desde este enlace</a>.
          </p>
        </div>
      </div>
      <div class="col-12 c-separator--line c-separator--line__horizontal bg-bluesoft pt-4 pt-md-7 mt-0 mb-0"><hr /></div>
    </div>
  </div> 
</section>
