<footer class="c-footer c-footer--fixed" id="footer" data-depth="0.10" data-type="parallax">
  <div class="container-fluid">
    <a class="c-footer__up d-none d-md-block" href="#top">
      <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 19V6M5 12l7-7 7 7"/></svg>
    </a>

    <div class="c-cita">
        <div class="c-cita__box">
            <p class="c-cita__box__texto">"{{cita}}"</p>
            <span class="c-cita__box__small">{{citafirma}}</span>
        </div>
    </div>
  </div>

  <div class="container">
      <div class="c-footer__bottom">
          <ul class="c-footer__bottom-list">
          <li class="c-footer__bottom-list__item"><a class="c-link" rel="nofollow" href="/aviso-legal">Aviso legal</a></li>
          <li class="c-footer__bottom-list__item"><a class="c-link" rel="nofollow" href="/politica-de-cookies">Cookies</a></li>
          <li class="c-footer__bottom-list__item"><a class="c-link" rel="nofollow" href="/proteccion-de-datos">Protección de datos</a></li>
          </ul>
          <div>
            <img data-src="/assets/images/empleo-joven.png" class="lazyload mw-100" alt="Empleo Joven Caixa" />
            <a href="https://www.amedna.com/index.php?m=60&t=23&id=14" target="_blank" title="Empresa Responsable en Conciliación">
              <img data-src="/assets/images/reconcilia.png" class="lazyload" alt="Sello Reconcilia" />
            </a>
          </div>
      </div>
  </div>

</footer>
