<!--<div class="c-separator--line c-separator--line__horizontal bg-bluesoft mt-0 mb-0" style="overflow: hidden;"><hr></div>-->
<footer class="bg-white">
  <div class="container text-center">

      <div class="row">
        <div class="col-12 mb-3 mb-md-5">
          <ul class="c-footer__bottom-list">
            <li class="c-footer__bottom-list__item"><a class="c-link gtm-aviso-legal" rel="nofollow" href="/aviso-legal">Aviso legal</a></li>
            <li class="c-footer__bottom-list__item"><a class="c-link gtm-cookies" rel="nofollow" href="/politica-de-cookies">Cookies</a></li>
            <li class="c-footer__bottom-list__item"><a class="c-link gtm-proteccion-de-datos" rel="nofollow" href="/proteccion-de-datos">Protección de datos</a></li>
            <li class="c-footer__bottom-list__item"><a class="c-link gtm-lead-canal-de-denuncias" href="/canal-de-denuncias">Canal de denuncias</a></li>
            <li class="c-footer__bottom-list__item"><a class="c-link gtm-lead-unete" href="/unete-a-biko">Únete</a></li>
          </ul>
        </div>

        <div class="col-12 mb-3 mb-md-5">
          <img data-src="/assets/images/empleo-joven.png" class="lazyload mw-100" alt="Empleo Joven Caixa" />
          <a href="https://www.amedna.com/index.php?m=60&t=23&id=14" target="_blank" title="Empresa Responsable en Conciliación">
            <img data-src="/assets/images/reconcilia.png" class="lazyload" alt="Sello Reconcilia" />
          </a>
        </div>
      </div>

  </div>
</footer>
