<div class="container d-flex flex-row justify-content-center py-6">
    <a class="action-up color-blue d-flex flex-column align-items-center decoration-none" href="#top">
        <svg class="icon-up mb-4">
            <use xlink:href="/assets/svg/sprite/sprite.svg#arrow-slim"></use>
        </svg>
        <!--<span class="c-link-especial text-uppercase color-blue text-sm letter-base font-400">Subir</span>-->
    </a>
</div>
