<div class="c-form-alert d-none js-sugerencia-ok">
  <div class="container">
    <a href="#" class="c-form-alert__close js-message-close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="4" stroke-linecap="square" stroke-linejoin="arcs"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a>
    <img class="c-form-alert__img" src="/assets/images/email-ok.gif" alt="OK" />
    <p>¡Recibido! ¡Gracias por tu sugerencia!</p>
  </div>
</div>
