.c-button {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: white;
    padding: 24px 32px;
    background: linear-gradient(135deg,#E73F39 0,#AD2F2B 100%);
    border: none;
    border-radius: 72px;
    transition: all .3s ease;
    letter-spacing: 2px;
    font-size:14.222px;
    line-height: 20px;

    @include media-breakpoint-up(md) {
        padding: 24px 32px;
        font-size:16px;
        line-height: 24px;
        border-radius: 72px;
    }


    &:hover {
        //background: darken($red, 15%);
        background: linear-gradient(135deg,#AD2F2B 0,#E73F39 100%);
        color: white;
        text-decoration: none;
        border-radius: 72px;
    }
}

.c-button__primary--outline {
    color: $red;
    background: transparent;
    border: 2px solid $red;

    &:hover {
        background: $red;
        color: white;
    }
}

.c-button__primary--outline--white {
    color: white;
    background: transparent;
    border: 2px solid white;

    &:hover {
        background: white;
        color: $red;
    }
}

.c-button__secondary--outline {
    color: $black;
    background: transparent;
    border: 2px solid $black;
    border-radius: 72px;
    font-size:12.64px;
    line-height: 20px;
    padding: 12px 24px;

    &:hover {
        background: $black;
        color: white;
        text-decoration: none;
        border-radius: 72px;
    }
    @include media-breakpoint-up(md) {
        padding: 16px 24px;
        font-size:12.64px;
        line-height: 20px;
        border-radius: 72px;
    }
}

.c-button__secondary--outline--white {
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 72px;
    font-size:12.64px;
    line-height: 20px;
    padding: 12px 24px;

    &:hover {
        background: white;
        color: $blue;
        text-decoration: none;
        border-radius: 72px;
    }
    @include media-breakpoint-up(md) {
        padding: 16px 24px;
        font-size:12.64px;
        line-height: 20px;
        border-radius: 72px;
    }
}


.c-button--second {
    padding: 12px;
    color: $blue;

    @include typi(small);

    background: transparent;
    border: 2px solid $black;

    @include media-breakpoint-up(xl) {
        align-items: center;
    }


    &:hover {
        background: $black;
        color: white;
        text-decoration: none;

        svg {
            fill: #fff !important;
        }
    }

    svg {
        width: 24px;
        height: 24px;
    }
}
.c-button--minus {
    text-transform: lowercase;
    font-weight: normal;
}