.c-texto--small {
  font-size: 12px !important;
  font-style: italic;
  line-height: 16px;
  margin-top: 20px;
  color: $gray;
}
.c-texto--small__uppercase {
  font-family: "Montserrat";
  @include typi(tiny);
  text-transform: uppercase;
  color: $black;
  font-weight: 800;
  letter-spacing: 2px;
}

.c-texto--aviso {
  color: #E73F39;
}
