.c-icono-imagen {
  position: relative;
  @include media-breakpoint-up(lg) { 
    min-height: 720px;
  }
  @include media-breakpoint-up(xl) { 
    min-height: 582px;
  }
}

.c-icono-imagen__contenedor { 
    position: relative;
  @include media-breakpoint-up(lg) { 
    width: 46%;
    position: absolute;
    overflow: hidden;
  }
} 



.c-icono-imagen__contenedor--derecha-abajo {
    bottom: 0;
    right: 0;
  @include media-breakpoint-up(lg) {
    top: 0;
  }
}

.c-icono-imagen__foto {
  overflow: hidden;
  img {
    width: 158%;
    @include media-breakpoint-up(md) { 
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      width: 242%;
    }
    @include media-breakpoint-up(xl) {
      width: 100%;
    }
  }
}

.c-icono-imagen__pictograma {
  position: relative;
}

.c-icono-imagen__pictograma--izquierda-abajo {
   bottom: 38px;
   left: -24px;
   @include media-breakpoint-up(md) {
      bottom: 65px;
      left: -48px;
   }
}
