.c-title--sub {
  font-family: 'courier_primeregular';
  color: $red;
  @include typi(big);
  letter-spacing: -1px;
  margin-bottom: 32px;
}

.c-title--pre {
  @include typi(large);
  margin-bottom: 24px;
}

.c-title-section {
  float: right;
  transform: rotate(90deg);
  transform-origin: right 0;
  @include typi(small);
  color: $gray-dark;
  margin-right: 12px;

  @include media-breakpoint-down(xs) {
    display: none;
  }

  &:after {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background: $red;
    position: absolute;
    right: -36px;
    top: 10px;
  }
}

.c-title--line {
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 12px;
    height: 3px;
    background: $red;
    position: absolute;
    top: 14px;
    left: -18px;

    @include media-breakpoint-up(sm) {
      width: 24px;
      top: 23px;
      left: -35px;
    }

    @include media-breakpoint-up(md) {
      top: 15px;
    }
  }
}

.c-title--line.h-big {
  &:before {
    top: 18px;
    left: -18px;

    @include media-breakpoint-up(sm) {
      width: 24px;
      top: 23px;
      left: -35px;
    }

    @include media-breakpoint-up(md) {
      top: 24px;
    }

    @include media-breakpoint-up(xxl) {
      top: 30px;
    }
  }
}


.c-title--background {
  @extend .h-extrahuge;
  font-weight: bold;
  color: $gray-light;
  opacity: .6;
  cursor: default;
  line-height: 1;

  font-size: 48px;
  letter-spacing: -2px;

  @include media-breakpoint-up(md) {
    font-size: 160px;
    letter-spacing: -5px;
    opacity: .4;
  }

  @include media-breakpoint-up(lg) {
    white-space: nowrap;
    font-size: 140px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 190px;
  }
}

.c-title--cross {
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: $gray;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
  }

  span {
    display: inline-block;
    padding: 0 30px;
    background: white;
    position: relative;
    z-index: 1;
  }
}

.c-title--big {
  @include typi(big);
}
.c-title-large {
  @include typi(large);
}
.c-title-huge {
  @include typi(huge);
}
.c-title-midhuge {
  @include typi(midhuge);
}


.c-title__line--abajo {
  @include typi(large);
  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background-color: #e73f39;
  }
}