.c-link {
  color: $red;
  text-decoration: underline;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  position: relative;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $red-light;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  &:hover {
    text-decoration: none !important;
    color: $red;

    &:before {
      transform: scaleX(1);
    }
  }
}


.c-link__w {
  color: white;
}

.c-link-proyecto {
  position: relative;
  @include media-breakpoint-up(lg) {
    top: -34px;
    left: 224px;
  }
  @include media-breakpoint-up(xl) {
    top: -34px;
    left: 224px;
  }
}


.c-link-especial {
  color: $black!important;
  text-decoration: underline;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  position: relative;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $red-light;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  &:hover {
    text-decoration: none !important;
    color: $red;

    &:before {
      transform: scaleX(1);
    }
  }
}

.c-link-especial__big {
  text-decoration: none;
  border-bottom: 1px solid $red;
  color: $red!important
}


.c-link-nounderline {
  text-decoration: none !important;
}