.c-box {
  @include media-breakpoint-up(md) {
    border: 6px solid $red;
    width: 61%;
  }
}

.c-box-huge {
  margin: 0 0 48px;
  padding: 36px 0;

  @include media-breakpoint-up(md) {
    margin: 0 1% 96px;
  }

  @include media-breakpoint-up(lg) {
    padding: 96px 0;
    margin: 0 1% 96px;
  }

  @include media-breakpoint-up(xl) {
    margin: 0 4% 96px;
  }

}

.c-box__square {
  margin: 24px 0 0;

  @include media-breakpoint-up(sm) {
    width: 110%;
    margin: 50px 0 60px;
    padding: 30px 0 0px 50px;
    background: white;
  }

  @include media-breakpoint-up(md) {
    width: 140%;
    margin-top: 20px;
  }
}

.c-box__title {
  margin-bottom: 24px;
  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 32px;
  }
}

.c-box-white {
  background: white;
  padding: 24px;

  @include media-breakpoint-up(md) {
    padding: 42px;
  }

  &.c-box-white--lite {
    padding: 12px 18px;
  }
}

.c-box-gray-light {
  background: $gray-light;
}
