.c-icon-texto {

}


.c-icon-texto__item {
  flex-basis: 100%;
  @include media-breakpoint-up(md) { 
    flex-basis: 50%;
    background: blue;
  }
}

.c-icon-texto__item__contenido {
  flex-basis: 0;
  background: pink;
} 


.c-icon-texto__antetitulo {
  @include typi(tiny);
  text-transform: uppercase;

}
.c-icon-texto__titulo {
  @include typi(large);
  font-weight: bold;
}
.c-icon-texto__texto {
  @include typi(large);
}