.c-hero {
  padding-bottom: 40px;

  @include media-breakpoint-up(sm) {
    padding-bottom: 60px;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 160px;
  }

  h1 br {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  h1 strong {
    font-weight: 800;
  }

  h1 a {
    text-decoration: none;
    color: $black;
    font-weight: 600;
    display: inline-block;
    line-height: 40px;
    border-bottom: 2px solid $black;
    transition: all ease .3s;

    @include media-breakpoint-up(sm) {
      line-height: 50px;
    }

    @include media-breakpoint-up(lg) {
      line-height: 55px;
    }
    @include media-breakpoint-up(xl) {
      line-height: 80px;
    }

    &:hover {
      border-color: transparent;
      color: $red;
    }
  }
}


.c-hero--max {
  padding-top: 0;
  padding-bottom: 40px;

  @include media-breakpoint-up(sm) {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 48px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 48px;
  }
}
