.c-mockup {
   padding: 48px 0;
   @include media-breakpoint-up(md) {
      padding: 96px 0;
    }
}
.c-mockup-imagenes {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;

   @include media-breakpoint-up(md) {
      height: 533px;
   }
}


.c-mockup-imagenes--derecha {
   overflow: hidden;
   border-radius: 16px;
   box-shadow: 5px 5px 11px 0px $gray-light;
}

.c-mockup-descripcion {
   display: flex;
   flex-direction: column;
}

.c-mockup-descripcion__icono {
   position: absolute;
   top: 8px;
   left: -50px;
}
.c-mockup-ml-negativo {
   
   @include media-breakpoint-up(xl) {
      margin-left: -44px;
   }
}