.c-card__person {
  margin-bottom: 32px;
  @include media-breakpoint-up(sm) {
    flex-basis: 48%;
    
  }
  @include media-breakpoint-up(md) {
    flex-basis: 30%;
  }
}
.c-card__person__imagen {
  width: 100%;
}