.c-icon--medium {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px; 
  }
}
.c-icon--arrow {
  width: 48px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 48px;
    height: 12px; 
  }
}

.c-icon--base {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px; 
  }
}

.c-icon--large {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 48px;
    height: 48px; 
  }
}

.c-icon--huge{
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 72px;
    height: 72px; 
  }
}
.c-icon--white {
  svg * {
    fill: white;
  }
}
.c-icon--black {
  svg * {
    fill: $black;
  }
}
.c-icon--red {
  svg * {
    fill: $red;
  }
}
