/*.c-title-doble-negrita {
  @include typi(midhuge);
  @include media-breakpoint-up(md) { 
    display: flex;
    flex-direction: column;
  }
}*/

.c-title-doble-negrita {
  font-size: 28px;
  @include media-breakpoint-up(md) { 
    display: flex;
    flex-direction: column;
  }
  strong {
    @include typi(mediumhuge);
  }
}


