.c-icon-texto {
  padding: 0;
  
  @include media-breakpoint-up(md) { 
    flex-basis: 100%;
  }

  @include media-breakpoint-up(lg) {
    flex-basis: 80%;
  }
  @include media-breakpoint-up(xl) {
    flex-basis: 65%;
  }
}


.c-icon-texto__item {
  margin-bottom: 40px;
  display: flex;
  flex-basis: 100%;
  @include media-breakpoint-up(md) { 
    flex-basis: 50%;
  }
  &::before {
    display: none;
  }
}

.c-icon-texto__antetitulo {
  @include typi(tiny);
  text-transform: uppercase;

}
.c-icon-texto__titulo {
  @include typi(large);
  font-weight: bold;
}
.c-icon-texto__texto {
  @include typi(tiny);
}