.c-line-list {
  list-style: none;
  padding-left: 20px;

  li {
    @extend .c-title--line;
    margin-bottom: 24px;

    h3 {
      font-weight: 800;
      margin-bottom: 8px;
    }
  }
}

.c-line-list__first-column {
  margin-left: 20px;

  @include media-breakpoint-up(sm) {
    margin-left: 0;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 120px;
    background: white;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 50px;
  }
}

.c-line-list__last-column{
  margin-top: 24px;
  margin-left: 20px;

  @include media-breakpoint-up(sm) {
    margin-left: 0;
  }

  @include media-breakpoint-up(md) {
    padding: 0 40px 50px 70px;
    background: white;
    margin-top: 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 50px 40px 50px 70px;
  }
}
