.c-button {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: $red;
    padding: 16px 24px;
    background: white;
    border: 2px solid $red;
    border-radius: 0;
    transition: all .3s ease;
    letter-spacing: 2px;

    @include media-breakpoint-up(sm) {
        padding: 24px 32px;
    }


    &:hover {
        background: $red;
        color: white;
        text-decoration: none;
        border-radius: 3px;
    }
}

.c-button--fill {
    background: $red;
    color: white;
    border: none;

    &:hover {
        background: darken($red, 15%);
    }
}

.c-button--outline {
    color: $black;
    background: transparent;
    border: 2px solid $black;

    &:hover {
        background: $black;
        color: white;
        text-decoration: none;
    }
}

.c-button--outline--white {
    color: white;
    background: transparent;
    border: 2px solid white;

    &:hover {
        border-color: $red;
        color: $red;
        text-decoration: none;
        background: transparent;
    }
}

.c-button--second {
    padding: 12px 24px;
    color: $black;

    @include typi(small);

    background: transparent;
    border: 2px solid $black;

    @include media-breakpoint-up(xl) {
        display: flex;
        align-items: center;
    }


    &:hover {
        background: $black;
        color: white;
        text-decoration: none;

        svg {
            fill: #fff !important;
        }
    }

    svg {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
}

.c-button--minus {
    text-transform: lowercase;
    font-weight: normal;
}

.c-button--full {
    width: 100%;
}

.c-button-rounded {
    border-radius: 72px 72px;
    border: 2px solid transparent;
    text-transform: uppercase;
    padding: 24px 32px;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 24px;
    display: inline-block;
}

.c-button-rounded--primary {
    border: 2px solid $red;
    font-weight: 600;

    @include transition;

    &:hover {
        background-color: $red;
        color: $white;
        border-radius: 72px 72px;
    }
}

.c-button-rounded--secondary {
    border: 2px solid $blue;

    @include transition;

    &:hover {
        background-color: $blue;
        color: $white;
    }
}

.c-button-rounded--primary__miniwhite {
    padding: 16px 32px;
    border: 2px solid $white;
    color: $white;
    font-weight: 600;

    &:hover {
        background-color: $white;
        color: $blue;
    }
}
