#header .c-nav {
  display: flex;
  padding: 0;
  justify-content: space-between !important;
}

.c-nav__logo {
  img {
    width: 220px;
    height: auto;

    @include media-breakpoint-up(lg) {
      width: 300px;
      height: auto;
    }
  }
}

.c-nav__cities {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  display: block;
  margin-top: 8px;
  font-size: 8px;
  text-align: center;
  color: $gray;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    font-size: 10px;
    letter-spacing: 2px;
  }
}


#header li.c-nav__item {
  position: relative;
  margin: 0;

  @include media-breakpoint-up(sm) {
    margin: 0 0 0 24px;
  }

  @include media-breakpoint-up(xl) {
    margin: 0 0 0 32px;
  }



  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: -12px;
    border-top:3px solid $red;
    width: 24px;
    height: 4px;
    transition: all .5s ease;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

#header a.c-nav__link {
  font-weight: 600;
  @include typi(base);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: $black !important;
  padding: 0 !important;
  transition: all .5s ease;

  @include media-breakpoint-up(md) {
    @include typi(tiny);
  }

  &:hover,
  &.active {
    color: $red !important;
  }
}


#header .c-nav--toggler {
  border: 0 !important;
  background: transparent !important;
  color: black !important;
  margin-top: -30px;
  z-index: 999;

  @include media-breakpoint-up(lg) {
    padding: 10px 0 0 10px;
  }

  &:focus {
    outline: none;
  }

  .icon-bar {
    width: 20px;
    height: 2px;
    background-color: #000;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;

    @include media-breakpoint-up(sm) {
      width: 30px;
      height: 3px;
      margin-top: 6px;
    }
  }

  /*animation*/
  .top-bar {transform: rotate(45deg);transform-origin: 5% 10%;}
  .middle-bar {opacity: 0;}
  .bottom-bar {transform: rotate(-45deg);transform-origin: 5% 90%;}
  &.collapsed .top-bar {transform: rotate(0);}
  &.collapsed .middle-bar {opacity: 1;}
  &.collapsed .bottom-bar {transform: rotate(0);}
}

.c-nav__navbar {
  justify-content: flex-end;

  &.collapsing {display: none;}

  &.show {
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: white;
  }
}

.c-nav__navbar--container {
  height: 100%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
  justify-content: center;
	align-items: center;
}

.c-nav__navbar-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 60px 0;

  @include media-breakpoint-only(md) {
    padding: 200px 0;
  }
  @media (max-width: 991.98px) and (min-width: 768px) and (orientation: landscape) {
    padding: 0;
  }
}
