.form-type-one {
    input[type=submit] {
        background-color: $red;
        color: $white;
        padding: 24px 32px;
        border-radius: 72px;
        width: 100%;
        display: inline-block;
        text-transform: uppercase;
        border: 2px solid $red;
    }

    input[type="email"],
    input[type="number"],
    input[type="tel"],
    input[type="text"] {
        margin: 0;
        padding: .775rem .5625rem;
        width: 100%;
        font-size: 16px;
        border: 2px solid #C4C9CC;
        border-radius: 8px 8px;
        transition: all 0.5s;

        &:focus-visible {
            outline-color: $red;
            transition: all 0.5s;
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        margin: 5px;
        width: 15px;
        height: 15px;
        border: 2px solid #C4C9CC;
    }

    input:focus::-webkit-input-placeholder {
        color: transparent;
        transition: all 0.5s;
    }

    input:focus::input-placeholder {
        color: transparent;
        transition: all 0.5s;
    }
}
