{# ----- UNETE ----- #}
{% extends '@layouts/page.twig' %}
{% block page %}
  <section class="c-hero p-home__hero py-4 py-md-5" id="top">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="title-hero mb-4">
            BikoSchool
          </h1>
          <p class="title-slim-6xl u-strong-red">
            En Biko queremos formar a nuestros posibles futuros bikonianos, por
            eso <strong>cuidamos los cursos que impartimos</strong>, porque queremos ofrecer el
            aprendizaje que nos hubiera gustado recibir.
          </p>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="c-box-huge p-bikoschool-cursos" id="listado-cursos">
    <div class="container">
      <div class="row">
        <!-- edicion vigente -->
        <div class="offset-xl-1 col-lg-10 offset-lg-1 mb-4 mb-md-5">
          <div class="c-ofertas__box">
            <p class="mb-1">
              <span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">
                ¡Nueva! 3ª Edición
              </span>
            </p>
            <h3 class="title-4xl pt-2 mb-2">
              Curso de desarrollo de Software
            </h3>
            <p class="font-secondary text-2xl color-red mb-3">
              (aprende a desarrollar software pero de verdad)
            </p>
            <p class="text-base line-base mb-md-5">
              Ya tenemos en marcha la tercera edición de nuestro curso de desarrollo de Software. Si te perdiste las anteriores, aquí tienes una nueva oportunidad de formarte junto a profesionales de Biko, pasar un buen rato y conocer gente nueva.
            </p>
            <div class="d-flex justify-content-center">
              <a class="c-button c-button--fill gtm-lead-curso-desarrollo-software" href="/_bikoschool/curso-desarrollo-software/">Quiero ver el curso</a>
            </div>
          </div>
        </div>
        <!-- edicion anterior -->
        <div class="offset-xl-1 col-lg-10 offset-lg-1 mb-4 mb-md-5">
          <div class="c-ofertas__box">
            <h3 class="title-4xl pt-2 mb-3 mb-md-4">
              Mira cómo fue la 1ª edición
            </h3>
            <div class="video-container">
              <iframe class="video" src="https://www.youtube.com/embed/HZMHTM4Q5Gc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-5 mb-md-7">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-3 mb-md-5">
          <h2 class="title-6xl mb-4">
            ¿Por qué formarte con Biko?
          </h2>
          <p class="title-slim-6xl u-strong-red">
            Formarte con Biko significa <strong>aprender</strong> con un equipo de <strong>gente joven, entusiasta</strong> y con un amplio recorrido <strong>profesional</strong>, 
            que te transmitirá todo su conocimiento del modo en que lo hubieran deseado recibir. 
            Aprenderás, disfrutarás, conocerás gente nueva e incluso, <strong>podrías incorporarte</strong> como nuevo/a bikoniano/a al finalizar 
            tus estudios en la BikoSchool. 
            Aprovecha esta oportunidad y <strong>ven a formarte con nosotros.</strong>   
          </p>
        </div>
        <div class="col-12 text-center">
          <a class="c-button c-button--fill gtm-lead-curso-desarrollo-software"  href="/_bikoschool/curso-desarrollo-software/">Quiero ver el curso</a>
        </div>
      </div>
    </div>
  </section>

  <!--<section class="mb-5 mb-md-7 py-5 py-md-7 bg-gray-light" id="formulario">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="title-slim-6xl u-strong-red">
            "No dejes para mañana lo que puedas <strong>aprender hoy.</strong>"
          </p>
        </div>
      </div>
    </div>
  </section>-->

  {% include '@includes/subir.twig' %}
  {% include '@includes/contact.twig' %}
{% endblock %}
