<section class="text-center my-5 my-md-7">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <p class="text-center tag">
            <span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">
              Aviso a navegantes 
            </span>
          </p>
          <h1 class="text-5xl line-4xl mb-3 text-center">
           Vuelve el curso que lo cambia todo.
           <br />
            <strong>¿Quieres dar un giro profesional?</strong>
          </h1>
          <p class="font-secondary text-2xl text-lg-3xl color-red mb-3 mb-lg-5 text-center">
            (stay tuned)
          <p class="text-xl line-xl text-lg-2xl">
           Estamos preparando una nueva edición de la Bikoschool. Debido a la alta demanda hemos decidido avisar con tiempo y que nos hagas llegar tu interés cuanto antes. Para formar parte del nuevo alumnado, sigue leyendo. 
          </p>
          <a class="c-button gtm-lead-bikoschool-interes"
            href="#formulario">
            Me interesa
          </a
        </div>
      </div>
    </div>
  </section>