<section class="c-imagen-posicionada d-flex flex-column">
  <div class="c-imagen-posicionada--derecha-arriba mb-0 order-2">
    <div class="">
      <img data-src="/assets/images/bikoschool/practicas-bootcamp" class=" lazyloaded" alt="Bootcamp Biko" src="/assets/images/bikoschool/practicas-bootcamp.png">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-md-4 mb-lg-0 pb-lg-7 pt-xl-7">
        <h2 class="title-6xl mb-3">
          Prácticas en formato bootcamp
        </h2>
        <p class="font-secondary text-xl text-lg-2xl color-red mb-5">(la hora de la verdad)</p>
        <p>Un curso como este no tendría sentido sin poner las cosas en práctica. Por eso, <strong>hemos reservado la mitad de las horas para trabajar en distintos retos de varios proyectos</strong>, distribuidos por parejas o en pequeños grupos. Eso sí, contarás con supervisión y orientación en todo momento.</p>
      </div>
    </div>
  </div>
</section>
