<section class="bg-blue py-5 py-md-7 mb-0" id="cuando-donde-">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10">
          <h2 class="title-slim-6xl color-white">
            Hemos creado el <strong>curso</strong> que <strong>nos hubiera gustado recibir</strong>. 
          </h2>
        </div>
      </div>
    </div>
  </section>