<section class="c-bg-big py-5 py-md-7">
  <div class="container bg-white p-4 p-md-5">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="c-texto--center">
          <h2 class="title-6xl mb-3">
            ¿Tienes alguna duda?
          </h2>
          <p class="font-secondary text-2xl color-red mb-5">
            (puedes escribirnos un correo electrónico comentándonos tus dudas y te las resolveremos lo antes posible)</p>
          </p>
          <div class="d-flex justify-content-center">
            <a class="c-button gtm-lead-school" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=comunicacion@biko2.com" target="_blank">Envíanos tu consulta</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
