<section class="mb-5 mb-md-7 py-5 py-md-7 bg-gray-light" id="formulario">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5">
          <div class="row">
            <div class="col-12 col-md-10 col-lg-12">
              <h2 class="title-slim-6xl u-strong-red mb-3">
                ¿Te interesa? Pues que sepas que también nos interesas tú.
              </h2>
              <p class="font-secondary text-xl text-lg-2xl color-red mb-5">
                (tenemos ganas de conocerte)
              </p>
            </div>
            <div class="col-12 col-md-10 col-lg-12">
              <p>
                Si te apetece formar parte de la nueva edición del curso, 
                completa el formulario para que podamos tenerte en cuenta cuando arranque el proceso de selección.
              </p>
            </div>
          </div>
        </div>
        {% include '@base/bikoschool/curso-desarrollo-software/form-interes-inscripcion.twig' %}
      </div>
    </div>
  </section>