{# ----- HOME ----- #}
{% extends '@layouts/page-clean.twig' %}
{% block page %}
  <div class="bg-d rellax" data-rellax-speed="-5"></div>
  <div class="bg-s rellax" data-rellax-speed="-9"></div>
  <!-- presentacion -->
  {% include '@base/bikoschool/curso-desarrollo-software/presentacion.twig' %}
  <!-- otra historia -->
  {% include '@base/bikoschool/curso-desarrollo-software/otra-historia.twig' %}
  <!-- contenido curso -->
  {% include '@base/bikoschool/curso-desarrollo-software/contenido-curso.twig' %}
  <!-- bootcamp -->
  {% include '@base/bikoschool/curso-desarrollo-software/bootcamp.twig' %}

  <!-- cuando y donde -->
  {% include '@base/bikoschool/curso-desarrollo-software/cuando-donde.twig' %}
  <!-- para mi -->
  {% include '@base/bikoschool/curso-desarrollo-software/para-mi.twig' %}
  <!-- form -->
  <section class="mb-5 mb-md-7 py-5 py-md-7 bg-gray-light" id="formulario">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5">
          <div class="row">
            <div class="col-12 col-md-10 col-lg-12">
              <h2 class="title-slim-6xl u-strong-red mb-3">
                Si has llegado hasta aquí, es que esto <strong>te interesa</strong>
              </h2>
              <p class="font-secondary text-xl text-lg-2xl color-red mb-5">
                (y tienes que darte prisa, porque el curso es gratuito y ¡las
                plazas vuelan!)
              </p>
            </div>
            <div class="col-12 col-md-10 col-lg-12">
              <p>
                Inscríbete completando el siguiente formulario. Has de saber que
                inscribirse no significa obtener una plaza automáticamente...
                primero tenemos que hacer el proceso de selección (recuerda que
                el número de <strong>plazas está limitado a 16</strong>).
              </p>
              <p>
                ¡Anímate y nos ponemos en marcha!
              </p>
            </div>
          </div>
        </div>
        {% include '@base/bikoschool/curso-desarrollo-software/form-inscripcion.twig' %}
      </div>
    </div>
  </section>
  <!-- bloque testimonial -->
  {% include '@base/bikoschool/curso-desarrollo-software/testimoniales.twig' %}
  <!-- bloque dudas final -->
  {% include '@base/bikoschool/curso-desarrollo-software/dudas-final.twig' %}

  {% include '@includes/subir.twig' %}
  {% include '@includes/contact.twig' %}
  {% include '@includes/site-footer.twig' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>
  <script>
    var rellax = new Rellax('.rellax');
  </script>
{% endblock %}
