{# ----- HOME ----- #}
{% extends '@layouts/page-clean.twig' %}
{% block page %}
  <div class="bg-d rellax" data-rellax-speed="-5"></div>
  <div class="bg-s rellax" data-rellax-speed="-9"></div>
    <!-- aviso edicion -->
    {% include '@base/bikoschool/curso-desarrollo-software/aviso-edicion.twig' %}
    <!-- presentacion -->
    {% include '@base/bikoschool/curso-desarrollo-software/presentacion.twig' %}
    <!-- otra historia -->
    {% include '@base/bikoschool/curso-desarrollo-software/otra-historia.twig' %}
    <!-- contenido curso -->
    {% include '@base/bikoschool/curso-desarrollo-software/contenido-curso.twig' %}
    <!-- bootcamp -->
    {% include '@base/bikoschool/curso-desarrollo-software/bootcamp.twig' %}

    <!-- cuando y donde -->
    {% include '@base/bikoschool/curso-desarrollo-software/cuando-donde-fin.twig' %}
    <!-- para mi -->
    {% include '@base/bikoschool/curso-desarrollo-software/para-mi.twig' %}
    <!-- form -->
    {% include '@base/bikoschool/curso-desarrollo-software/form-interes.twig' %}

  <!-- bloque testimonial -->
  {% include '@base/bikoschool/curso-desarrollo-software/testimoniales.twig' %}
  <!-- bloque dudas final -->
  {% include '@base/bikoschool/curso-desarrollo-software/dudas-final.twig' %}

  {% include '@includes/subir.twig' %}
  {% include '@includes/contact.twig' %}
  {% include '@includes/site-footer.twig' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>
  <script>
    var rellax = new Rellax('.rellax');
  </script>
{% endblock %}
