{# ----- HOME ----- #}
{% extends '@layouts/page-clean.twig' %}
{% block page %}
  <div class="bg-d rellax" data-rellax-speed="-5"></div>
  <div class="bg-s rellax" data-rellax-speed="-9"></div>
  <!-- presentacion -->
  {% include '@base/bikoschool/curso-desarrollo-software/presentacion.twig' %}
  <!-- otra historia -->
  {% include '@base/bikoschool/curso-desarrollo-software/otra-historia.twig' %}
  <!-- contenido curso -->
  {% include '@base/bikoschool/curso-desarrollo-software/contenido-curso.twig' %}
  <!-- bootcamp -->
  {% include '@base/bikoschool/curso-desarrollo-software/bootcamp.twig' %}

  <!-- cuando y donde -->
  {% include '@base/bikoschool/curso-desarrollo-software/cuando-donde.twig' %}
  <!-- para mi -->
  {% include '@base/bikoschool/curso-desarrollo-software/para-mi.twig' %}
  <!-- form -->
  {% include '@base/bikoschool/curso-desarrollo-software/form.twig' %}
  <!--<section class="mb-5 mb-md-7 py-5 py-md-7 bg-gray-light" id="formulario">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10">
          <h2 class="title-slim-6xl u-strong-red">
            Finalizamos la <strong>3ª edición </strong> del curso de desarrollo de software y estamos
            realmente felices de haber podido compartir estos meses de aprendizaje y diversión con personas tan increíbles. 
            Volveremos pronto, ¡estad alerta!</strong> 
          </h2>
        </div>
      </div>
    </div>
  </section-->
  <!-- bloque testimonial -->
  {% include '@base/bikoschool/curso-desarrollo-software/testimoniales.twig' %}
  <!-- bloque dudas final -->
  {% include '@base/bikoschool/curso-desarrollo-software/dudas-final.twig' %}

  {% include '@includes/subir.twig' %}
  {% include '@includes/contact.twig' %}
  {% include '@includes/site-footer.twig' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>
  <script>
    var rellax = new Rellax('.rellax');
  </script>
{% endblock %}
