<section class="mb-4 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-8 col-xl-6 mb-4 mb-md-5">
            <h2 class="title-6xl mb-4">Esto no es (solo) un curso, esto es otra historia</h2>
            <p>El Curso de Desarrollo de Software basado en agile y XP es una formación totalmente práctica, alejada de lo que se aprende en cursos tradicionales o en la universidad.</p>
            <p>No se trata de enseñarte a tirar tu primera línea de código, sino de que aprendas cómo desarrollar software de valor, trabajar con metodologías ágiles y de mejorar tu potencial.</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red mb-md-6">
        Al finalizar, obtendrás una <strong>titulación oficial homologada</strong> por el Ministerio. Y gracias al Servicio Navarro de Empleo, el curso es totalmente <strong>gratuito</strong>. Suena bien, ¿eh?</p>
      </div>
    </div>
  </div>
</section>
