<section class="c-imagen-posicionada d-flex flex-column mb-0">
  <div class="c-imagen-posicionada--bottom order-2">
    <div class="">
      <img data-src="/assets/images/bikoschool/para-quien-es" class=" lazyloaded" alt="foto es para mi" src="/assets/images/bikoschool/para-quien-es.png">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-md-4 mb-lg-0 pt-5 pb-lg-7 pt-lg-7">
      <h2 class="title-6xl mb-3">¿Es para mí?</h2>
      <p class="font-secondary text-2xl color-red mb-5">(depende...)</p>
        <p class="u-decoration-red pt-2 mb-4 mb-md-5"><strong>Básicamente</strong>, porque el principal requisito es que tengas <strong>ganas de aprender.</strong></p>
        <p class="u-decoration-red pt-2 mb-4 mb-md-5"><strong>Nos gustaría</strong> contar con personas que estén interesadas en el desarrollo, pero que quieran ir un paso más allá construyendo software de calidad.</p>
        <p class="u-decoration-red pt-2 mb-5 mb-lg-0"><strong>En este curso</strong> tienen cabida personas que llevan años trabajando en el sector, pero también puedes apuntarte si acabas de concluir tus estudios o quieres reorientar tu carrera profesional.</p>
      </div>
    </div>
  </div>
</section>
