<section class="mb-5 mb-md-7" id="presentacion">
  <div class="p-bikoschool__destacado text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center">
            <span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">
              ¡Nueva! 3ª Edición
            </span>
          </p>
          <h1 class="title-hero mb-4 text-center">
            Aprende a desarrollar software
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">
            (pero de verdad)
          </p>
        </div>
      </div>
    </div>
    <div class="container mb-0">
      <div class="row">
        <div class="col-12 col-12 col-md-10 offset-md-1 text-center">
          <p class="text-2xl text-center mb-3 mb-md-5">
            En Biko hemos creado el curso al que nos hubiera gustado asistir. Un
            curso en el que no te vamos a enseñar a programar, sino a
            convertirte en un/a excelente desarrollador/a. Y de eso va esto: de
            aprender a aprender, de dejar atrás el “qué” para centrarnos en el
            “cómo”.
          </p>
          <a class="c-button c-button--fill gtm-lead-bikoschool"
            href="#formulario">
            Quiero apuntarme
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
