{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--rae text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-sm letter-base font-400 color-grayextradark">Real Academia Española</p>
          <h1 class="title-hero mb-4">
          Las palabras son importantes
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(el lugar donde viven, también)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-6">
              <p>La Real Academia Española es una institución con más de 300 años de antigüedad. Una entidad que vela por algo tan importante y a la vez tan cotidiano como las palabras. <p>
              <p>Un <i>site</i> que recibe millones de visitas diarias de todo el mundo y un <strong>punto de referencia para todos los hispanohablantes.</strong></p>
            </div>
            <div class="col-lg-10 col-xl-6">
              <p>Con semejante carta de presentación, construir una casa para las palabras no era solo un reto, sino un homenaje a nuestra cultura y nuestra historia. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-6 title-slim-6xl u-strong-red">Un nuevo <i>site</i> construido desde cero, totalmente <i>responsive</i>, con un diseño auténtico e innovador que permite una gestión de contenidos modulable, sencilla y eficaz.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3 col-lg-2 mb-4 mb-md-0">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Real Academia Española</li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2 mb-4 mb-md-0">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UX</li>
          <li class="u-list-none mb-0">Storytelling</li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2 mb-4 mb-md-0">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Diseño
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UI</li>
          <li class="u-list-none mb-0">Diseño web</li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2 mb-4 mb-md-0">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Drupal</li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2 mb-4 mb-md-0">
        <h5 class="text-2xl decoration-red pt-2 mb-1">
          Web
        </h5>
         <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="https://www.rae.es/" target="_blank">RAE</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line c-separator--line__horizontal"><hr /></div>

<section class="contenedor-secciones mb-md-5">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/rae-desafio.jpg" class="lazyloaded" alt="RAE" src="/assets/images/proyectos/rae-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-7xl mb-4">El desafío</h3>
          <p>El reto principal ha sido acometer una <strong>renovación completa</strong> del diseño y del esqueleto de la web. Visibilizar los detalles y recovecos que se perdían en el <i>site</i> anterior y que el usuario comprenda que la RAE no solo es el diccionario. Así, además de sacar a la luz el resto de contenidos, gracias a la nueva arquitectura de la web, el usuario puede navegar por ellos fácilmente.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 mb-md-5">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/rae-enfoque.png" class="lazyloaded u-img-fluid" alt="RAE"  src="/assets/images/proyectos/rae-enfoque.png">
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-4 offset-xl-1">
        <h3 class="title-7xl mb-4">Nuestro enfoque</h3>
        <p>Quisimos hacer un diseño que estuviera a la altura de la cantidad de búsquedas que recibe la web al día. Así pues, apostamos por un nuevo diseño <strong>adaptado al usuario</strong> y una construcción de contenidos que ofreciera la posibilidad de trabajar con páginas modulares, haciendo el proceso más liviano y fluido para los gestores.
        </p>
        <p>En cuanto a los contenidos del <i>site</i>, hemos apostado por una experiencia mucho más audiovisual para el usuario, dando peso a las fotografías y vídeos. También hemos dado protagonismo a su extensísima biblioteca mejorando el acceso a su catálogo, y hemos reforzado el toque humano ampliando la información acerca de los académicos.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-4 mb-md-5">
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="d-flex flex-column">
            <h3 class=" title-7xl mb-4">
              Producto final
            </h3>
            <p>El resultado es una nueva web totalmente <strong><i>responsive</i></strong> y con una navegación simplificada para acercar la institución al usuario a través de un diseño actual y práctico. Una experiencia única para todo amante de las letras, con más de 280.000 volúmenes bibliográficos a su disposición y un mundo por explorar en palabras, libros y académicos, de la A a la Z.</p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/rae-producto-final-1.png" class="lazyloaded u-img-fluid" alt="RAE" src="/assets/images/proyectos/rae-producto-final-1.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div>
            <img data-src="/assets/images/proyectos/rae-producto-final-2-1.jpg" class="lazyloaded u-img-fluid" alt="RAE" src="/assets/images/proyectos/rae-producto-final-2-1.jpg">
          </div>
        </div>
        <div class="col-md-12 col-lg-6 d-flex c-bg-pattern c-bg-pattern__rigth">
          <div class="d-flex">
            <div class="d-flex  align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <h4 class="title-2xl decoration-red pt-2 mb-3">Para saber más:</h4>
                     <a href="https://www.rae.es/" target="_blank">
                    <span class="c-link-especial">
                      Visita la web de la RAE
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">
          Hemos incluido herramientas en la propia gestión de contenidos que permiten la máxima personalización en función de los dispositivos de los usuarios:
        </p>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
            Para una gestión de contenidos modulable, fluida y muy sencilla.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="c-texto--center">
          <h2 class="title-7xl mb-4">
            ¿Tienes alguna duda sobre este proyecto?<br>¿Te gustaría ver otros similares?
          </h2>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container d-flex flex-row justify-content-center py-6">
    <a class="action-up color-blue d-flex flex-column align-items-center decoration-none" href="#top">
        <svg class="icon-up mb-4">
            <use xlink:href="/assets/svg/sprite/sprite.svg#arrow-slim"></use>
        </svg>
        <span class="text-uppercase color-blue text-sm letter-base font-400">Subir</span>
    </a>
</div>
{% include "@includes/contact.twig" %}
{% endblock %}
