{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--unicef text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-sm letter-base font-400 color-grayextradark">UNICEF</p>
          <h1 class="title-hero mb-4">
          Abrir la puerta a la solidaridad
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(con un site preparado para ello)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-6">
              <p>Desarrollamos un site que recibe miles de visitas diarias, con la posibilidad de realizar donaciones y en continua evolución.</p>
              <p>Por eso, la funcionalidad en la web era indispensable, conseguimos un site que permitía una gestión de contenidos sencilla y fluída.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10">
        <p class="mb-5 mb-md-6 title-slim-6xl u-strong-red">Desarrollamos el nuevo site al completo y se realizaron integraciones complejas con CRM Oracle a través de capas de WebServices.
        </p>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <p class="title-2xl font-light line-2xl">
      <strong>Cliente:</strong> Unicef /
      <strong>Estrategia:</strong> Storytelling  /
      <strong>Tecnología:</strong> Drupal /
      <strong>Web:</strong> <a class="c-link" href="http://www.unicef.es/" target="_blank">Unicef</a>
      </p>
    </div>
    </div>
  </div>
</section>

<div class="c-separator--line c-separator--line__horizontal"><hr /></div>

<section class="contenedor-secciones mb-md-5">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/unicef-desafio.jpg" class="lazyloaded" alt="Unicef desafío" src="/assets/images/proyectos/unicef-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-7xl mb-4">El desafío</h3>
          <p>Nuestro reto fue desarrollar un proyecto que cubriese cada una de las necesidades del cliente trabajando con una versión poco madura, demostrando al mismo tiempo que Drupal sigue siendo <strong>el CMS por excelencia</strong>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container mt-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/unicef-enfoque.jpg" class="lazyloaded u-img-fluid" alt="Unicef Enfoque"  src="/assets/images/proyectos/unicef-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="title-7xl mb-4">Nuestro enfoque</h3>
        <p>Desarrollamos un Drupal diseñado para <strong>crear y gestionar landings</strong>. Para ello creamos un completo conjunto de componentes que permiten no sólo crear landings, sino dotar de <strong>funcionalidad</strong> a cualquier sección del sitio.
        </p>

         <div class="d-flex justify-content-between u-relative mb-5 mb-md-0 c-sabermas">
            <div class="c-mockup-descripcion__icono c-icon--medium  c-icon--white u-bg-red">
                <svg><use xlink:href="/assets/svg/sprite/sprite.svg#blog"></use></svg>
            </div>
            <div class="mr-4">
              <p class="mb-2">
                <strong>Para saber más:</strong>
              </p>
                  <a href="https://blog.biko2.com/drupal/unicef-es-y-las-posibilidades-de-drupal-8/" target="_blank">
                <span class="c-link-especial">
                  Unicef y las posibilidades de Drupal 8
                </span>
              </a>
            </div>
            <div class="align-self-end c-icon--arrow  c-icon--black">
              <svg><use xlink:href="/assets/svg/sprite/sprite.svg#flecha-right"></use></svg>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>


<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-4 mb-md-5">
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="d-flex flex-column">
            <h3 class="title-7xl mb-4">
              Producto final
            </h3>
            <p>Y en esa misma línea, los formularios de donación y suscripción se han desarrollado para integrarse en el sistema de landings con el objetivo de tener el mayor impacto y compromiso posible.
            </p>
            <p>Además, internamente el site se conecta con la unidad de negocio del CRM a través de una librería PHP independiente desarrollada para ello.</p>
          </div>
        </div>


        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/unicef-producto-final-1-1.png" class="lazyloaded u-img-fluid" alt="Unicef" src="/assets/images/proyectos/unicef-producto-final-1-1.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div>
            <img data-src="/assets/images/proyectos/unicef-producto-final-2.jpg" class="lazyloaded u-img-fluid" alt="Unicef" src="/assets/images/proyectos/unicef-producto-final-2.jpg">
          </div>
        </div>
        <div class="col-md-12 col-lg-6 d-flex c-bg-pattern c-bg-pattern__rigth">
          <div class="d-flex">
            <div class="d-flex align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <h4 class="title-2xl decoration-red pt-2 mb-3">Para saber más:</h4>
                      <a href="https://www.unicef.es/" target="_blank">
                    <span class="c-link-especial">
                      Visita la web de Unicef
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">
          Hemos incluido herramientas en la propia gestión de contenidos que permiten la máxima personalización en función de los dispositivos de los usuarios.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
            Como herramienta indispensable para una gestión de contenidos fluída y modulable
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="c-texto--center">
          <h2 class="title-7xl mb-4">
            ¿Tienes alguna duda sobre este proyecto?<br>¿Te gustaría ver otros similares?
          </h2>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container d-flex flex-row justify-content-center py-6">
    <a class="action-up color-blue d-flex flex-column align-items-center decoration-none" href="#top">
        <svg class="icon-up mb-4">
            <use xlink:href="/assets/svg/sprite/sprite.svg#arrow-slim"></use>
        </svg>
        <span class="text-uppercase color-blue text-sm letter-base font-400">Subir</span>
    </a>
</div>
{% include "@includes/contact.twig" %}

{% endblock %}
