{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--isdi text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-2xl letter-base font-400">Isdi</p>
          <h1 class="title-hero mb-4">
          Queremos que quieras formarte
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(spoiler: lo hemos conseguido)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <p class="text-2xl line-2xl">
              Un trabajo de conceptualización para la primera escuela nativa de negocio digital.</p>
              <p class="text-2xl line-2xl">Queremos estar a la altura, así que hemos trabajado para que la estructura de la gestión de contenidos fuera lo más fácil y fluída posible. Queremos que esa organización interna se vea represantada en la web visible para el usuario.              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-6 title-slim-6xl u-strong-red">Hemos hecho un gran trabajo de <strong>conceptualización y storytelling</strong> para ofrecer la información corporativa y de negocio de <strong>manera sencilla y clara</strong> para el usuario.
        </p>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <p class="text-2xl line-2xl">
      <strong>Cliente:</strong> ISDI /
      <strong>Estrategia:</strong> Storytelling <span class="color-red">+</span> UX /
      <strong>Diseño:</strong> UI <span class="color-red">+</span> Diseño Web /
      <strong>Tecnología:</strong> Drupal /
      <strong>Web:</strong> <a class="c-link" href="https://www.isdi.education/es" target="_blank">ISDI</a>
      </p>
    </div>
    </div>
  </div>
</section>
<div class="c-separator--line c-separator--line__horizontal"><hr /></div>
<section class="contenedor-secciones mb-md-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/isdi-desafio.jpg" class="lazyloaded" alt="Isdi" src="/assets/images/proyectos/isdi-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-5xl mb-4">El desafío</h3>
          <p class="mb-0">Para este proyecto, el punto de partida ha sido crear una <strong>web paraguas</strong> que contuviese toda la información relativa a ISDI, repartida hasta entonces en varias webs: la corporativa, una para ecommerce de másteres y cursos online, además de la específica para su programa estrella, el MIB.(Master Internet Business)</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/isdi-enfoque.jpg" class="lazyloaded u-img-fluid" alt="Isdi"  src="/assets/images/proyectos/isdi-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="title-5xl mb-4">Nuestro enfoque</h3>
        <p>El verdadero reto ha sido y sigue siendo ir realizando los cambios con <strong>la web siempre visible</strong> y sin dejar de actualizarla con requerimientos urgentes. Hemos tenido que llevar en paralelo la incorporación de lo nuevo y los cambios en lo ya existente que han sido visibles de forma inmediata.
        </p>

         <div class="d-flex justify-content-between u-relative mb-5 mb-md-0 c-sabermas">
            <div class="c-mockup-descripcion__icono c-icon--medium  c-icon--white u-bg-red">
                <svg><use xlink:href="/assets/svg/sprite/sprite.svg#blog"></use></svg>
            </div>
            <div class="mr-4">
              <h4 class="title-2xl decoration-red pt-2 mb-3">Para saber más:</h4>
                 <a href="https://blog.biko2.com/drupal/razones-por-las-que-estamos-recomendando-drupal-8-a-nuestros-clientes/" target="_blank">
                <span class="c-link-especial">
                  Razones por las que recomendamos Drupal a nuestros clientes
                </span>
              </a>
            </div>
            <div class="align-self-end c-icon--arrow  c-icon--black">
              <svg><use xlink:href="/assets/svg/sprite/sprite.svg#flecha-right"></use></svg>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>


<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-4 mb-md-5">
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="d-flex flex-column">
            <h3 class="title-5xl mb-4">
              Producto final
            </h3>
            <p>
            El site, desarrollado en <strong>Drupal</strong>, ha pasado de ser meramente corporativo a convertirse en una página completamente enfocada a la captación de nuevos alumnos, en la que los formularios, tanto de solicitud de información como de admisión, han cobrado especial protagonismo.</p>
            <p>Además usamos <strong>Google Analytics</strong> y <strong>Google Tag Manager</strong> para medir la interacción del usuario con la web, más allá de la carga de página. Medimos, entre otras acciones, el uso de filtros, botones, formularios, visionado de vídeos, descargas de archivos entre otros.</p>
          </div>
        </div>


        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/isdi-final-1.png" class="lazyloaded u-img-fluid" alt="ISDI" src="/assets/images/proyectos/isdi-producto-final-1.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div>
            <img data-src="/assets/images/proyectos/isdi-producto-final-2.jpg" class="lazyloaded u-img-fluid" alt="ISDI" src="/assets/images/proyectos/isdi-producto-final-2.jpg">
          </div>
        </div>
        <div class="col-md-12 col-lg-6 d-flex c-bg-pattern c-bg-pattern__rigth">
          <div class="d-flex">
            <div class="d-flex  align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <p class="mb-2">
                    <strong>Para saber más:</strong>
                  </p>
                     <a href="https://www.isdi.education/es" target="_blank">
                    <span class="c-link-especial">
                      Visita la web de ISDI
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Tecnologia-->
<section class="bg-gray-light py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-3">
          <p class="title-slim-6xl u-strong-red mb-md-6">
          Para construir un <strong>proyecto de estas características</strong> hemos tenido que recurrir a una combinación de <strong>herramientas muy potente</strong>.
        </p>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
            Para la gestión general de la web y en particular de todos los contenidos
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
