{# ----- HOME ----- #}
{% extends "_layouts/page.twig" %}
{% block page %}

<section class="c-hero p-openspace-hero">
  <div class="p-openspace-hero__container c-bg-pattern__center">
    <div class="c-grid-image--right">
      <img data-src="/assets/images/landing-insight-2.jpg" class="lazyload" alt="Biko Insights 2" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9 col-lg-7">
          {% include "openspace/ico-square.twig" %}
          <h1>Open<strong> Space</strong></h1>
          <p class="c-title--sub">(Un día para descubrir las tendencias del Universo Tecnológico)</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-openspace-proximo">
  <div class="container c-bg-openspace__proximo">
    <div class="row">
      <div class="col-12 offset-md-1 col-md-6">
        <h2 class="mb-4">Estamos preparando el próximo Open Space <strong>#openbiko</strong></h2>
        <p class="mb-4">El Open Space de Biko de este año ha sido la bomba y ya estamos centrados en preparar el siguiente. Mientras estamos en ello, aquí van algunos datos sobre el último evento: </p>
        <a href="#" class="c-button c-button--second">Ver Open Space 2019 en cifras</a>
      </div>
    </div>
  </div>
</section>



{% include "_includes/contact.twig" %}

{% endblock %}
