{# ----- HOME ----- #}
{% extends "_layouts/page.twig" %}
{% block page %}

<section class="c-hero p-openspace-hero mb-5 mb-md-7">
  <div class="p-openspace-hero__container c-bg-pattern__center">
    <div class="c-grid-image--right">
      <img data-src="/assets/images/landing-insight-2.jpg" class="lazyload" alt="Biko Insights 2" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9 col-lg-8">
          {% include "openspace/ico-square.twig" %}
          <h1>Open<strong> Space</strong></h1>
          <p class="c-title--sub">(Un día para descubrir las tendencias del Universo Tecnológico)</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="p-openspace-proximo mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-6">
        <div class="c-box-white">
          <h2 class="mb-4">Estamos preparando el próximo Open Space <strong>#openbiko</strong></h2>
          <p class="mb-4">El Open Space de Biko de este año ha sido la bomba y ya estamos centrados en preparar el siguiente. Mientras estamos en ello, aquí van algunos datos sobre el último evento: </p>
          <a href="#" class="c-button c-button--second">Ver Open Space 2019 en cifras</a>
        </div>
      </div>
      <div class="offset-md-1 col-md-10">
        <div class="p-openspace-proximo--box c-box-gray-light mt-5 mb-7">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet metus molestie, viverra eros sed, consectetur sem.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="p-openspace-razones mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-5"><strong>Calendario</strong> <br /> XVII edición del Open Space Biko</h2>
        <div class="c-grid-image--center">
          <img data-src="/assets/images/calendario-openmayo2019.png" class="lazyload" alt="Calendario Open Space 2019" />
        </div>
      </div>
    </div>
  </div>
</section>


<section class="p-openspace-que c-bg-pattern__right mb-3 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-7">
        <h2 class="h-extrahuge">¿Qué es un <strong>Open Space</strong>?</h2>
        <p class="c-title--sub">(lorem ipsum dolor sit amet)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p>Un evento sin agenda prefijada basada en la autoorganización que consigue que salgan las mejores ideas, y se comparta el conocimiento de una forma ágil y amena. Nosotros adaptamos algo el formato para que dé tiempo a preparar algunas charlas. Temas como marketing automation, PWA, machine learning, dinámicas agile, etc. suelen ser recurrentes. Mira cómo fue el último <a href="#">#openbiko</a>:</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10">
        <pre>
          <div class="c-video">
            <iframe  src="https://www.youtube.com/embed/WzZh8rEetHg" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </pre>
      </div>
    </div>
  </div>
</section>

<section class="p-openspace-temas c-bg-pattern__left mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="h-extrahuge">¿De qué se hablará en el <strong>Open Space</strong>?</h2>
        <p class="c-title--sub">(lorem ipsum dolor sit amet)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p>Además de las charlas ya planificadas, dejaremos huecos para proponer y votar nuevas charlas el mismo día. También contamos con algún invitado sorpresa que os desvelaremos dentro de muy poco. </p>
      </div>
    </div>
  </div>
</section>

<section class="p-openspace-razones mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="h-extrahuge">3 <strong>razones</strong> para venir</h2>
        <p class="c-title--sub">(lorem ipsum dolor sit amet)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 offset-lg-1 col-lg-8 offset-xl-1 col-xl-7">
        <p>Además de las charlas ya planificadas, dejaremos huecos para proponer y votar nuevas charlas el mismo día. También contamos con algún invitado sorpresa que os desvelaremos dentro de muy poco. </p>
      </div>
    </div>
  </div>
</section>


<section class="p-openspace-dudas c-bg-pattern__right mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="h-extrahuge">Dudas <strong>resueltas</strong></h2>
        <p class="c-title--sub">(lorem ipsum dolor sit amet)</p>
      </div>
      <div class="col-12 offset-lg-1 col-lg-5">
        <ul class="c-line-list">
          <li class="c-title--line"><h3 class="c-title--pre">¿Por qué un Open Space?</h3>
          <p>Porque creemos en el conocimiento compartido y en Biko tenemos mucho talento que no queremos guardar solo para nosotros. Nos gusta este formato ágil en el que todos podemos proponer y elegir los temas sobre los que nos interesa aprender, debatir y compartir. </p></li>
          <li class="c-title--line"><h3 class="c-title--pre">¿Por qué un Open Space?</h3>
          <p>Algunos de los temas elegidos en esta ocasión han sido React, machine learning, tecnologías del futuro que parecen de ciencia ficción, Kickstarter, narrativa metafórica... pero habrá tiempo para plantear nuevos temas in situ.</p></li>
          <li class="c-title--line"><h3 class="c-title--pre">¿Cómo puedo apuntarme?</h3>
          <p>Rellena tus datos en el formulario o mándanos un email a comunicacion@biko2.com. No tienes que hacer nada más, nosotros nos encargamos del resto. </p></li>
          <li class="c-title--line"><h3 class="c-title--pre">¿Me apunto si el aforo está completo?</h3>
          <p>Apúntate, igual tienes suerte. Siempre suele haber bajas de última hora. Si no te importa la incertidumbre,te avisaremos en cuanto quede un hueco disponible para que puedas venir al Open Space. </p></li>
        </ul>
      </div>
      <div class="col-12 col-lg-5">
        <ul class="c-line-list">
          <li class="c-title--line"><h3 class="c-title--pre">¿Por qué un Open Space?</h3>
          <p>Porque creemos en el conocimiento compartido y en Biko tenemos mucho talento que no queremos guardar solo para nosotros. Nos gusta este formato ágil en el que todos podemos proponer y elegir los temas sobre los que nos interesa aprender, debatir y compartir. </p></li>
          <li class="c-title--line"><h3 class="c-title--pre">¿Por qué un Open Space?</h3>
          <p>Algunos de los temas elegidos en esta ocasión han sido React, machine learning, tecnologías del futuro que parecen de ciencia ficción, Kickstarter, narrativa metafórica... pero habrá tiempo para plantear nuevos temas in situ.</p></li>
          <li class="c-title--line"><h3 class="c-title--pre">¿Cómo puedo apuntarme?</h3>
          <p>Rellena tus datos en el formulario o mándanos un email a comunicacion@biko2.com. No tienes que hacer nada más, nosotros nos encargamos del resto. </p></li>
          <li class="c-title--line"><h3 class="c-title--pre">¿Me apunto si el aforo está completo?</h3>
          <p>Apúntate, igual tienes suerte. Siempre suele haber bajas de última hora. Si no te importa la incertidumbre,te avisaremos en cuanto quede un hueco disponible para que puedas venir al Open Space. </p></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="c-box-huge c-box-gray-light p-openspace-donde mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-md-1 col-md-9">
        vbcvbvbvcv
      </div>
    </div>
  </div>
</section>

{% include "_includes/contact.twig" %}

{% endblock %}
