<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="c-texto--center">
          <h2 class="title-6xl mb-4">
            ¿Tienes alguna duda?
          </h2>
          <p>Puedes escribirnos un correo electrónico comentándonos tus dudas y te las resolveremos lo antes posible.</p>
          <div class="d-flex justify-content-center">
            <a class="c-button" href="mailto:comunicacion@biko2.com">Envíanos tu consulta a <br />
            <span class="c-button--minus">comunicacion@biko2.com</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
