<div class="col-12 offset-lg-1 col-lg-6">
  <p class="text-right mb-0"><small>* campo obligatorio</small></p>
  <div class="c-form-block">
    <form class="c-form" action="https://www.getdrip.com/forms/825981670/submissions" method="post" data-drip-embedded-form="825981670">
        <div class="c-form__elements">
          <div class="form-group">
            <label for="drip-first-name" class="d-none"></label>
            <input type="text" class="form-control" id="drip-first-name" name="fields[first_name]" value="" placeholder="Nombre *">

            <label for="drip-last-name" class="d-none"></label>
            <input type="text" class="form-control" id="drip-last-name" name="fields[last_name]" value="" placeholder="Apellidos *">

            <label for="drip-email" class="d-none"></label>
            <input type="email" class="form-control"  id="drip-email" name="fields[email]" value="" placeholder="Email *">

            <label for="drip-Telefono" class="d-none"></label>
            <input type="text" class="form-control"  id="drip-Telefono" name="fields[Telefono]" value="" placeholder="Teléfono *">

          </div>
          <div class="form-group form-check c-form-check">
            <input type="checkbox" class="c-form-check__input form-check-input" id="formCheck" required>
            <label class="form-check-label c-form-check__label" for="formCheck">He leído y acepto la <a href="/proteccion-de-datos" class="c-link c-form-check__label__link" target="_blank">política de protección de datos</a>.</label>
          </div>
        </div>
        <button type="submit"  data-drip-attribute="sign-up-button" class="c-button c-button--fill gtm-lead-newsletter">Quiero inscribirme</button>
    </form>
  </div>
  <p class="c-form__legal">BIKO2 2006, S.L. como responsable del tratamiento de sus datos gestionará con su consentimiento, los procedimientos administrativos con el objetivo de responder a tu solicitud de información. Sus datos no se cederán a terceros salvo obligación legal o que la cesión sea necesaria para el cumplimiento de la finalidad. Usted puede ejercer los derechos de acceso, rectificación o supresión de sus datos. Puede consultar la información adicional y detallada sobre <strong>Protección de Datos</strong> <a href="/proteccion-de-datos" target="_blank">desde este enlace</a>.</p>
</div>
