<section class="mb-5 mb-md-7">
  <div class="p-bikoschool__destacado text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title-6xl mb-4 color-white text-left">
            <strong>Curso de Desarrollo de software</strong>
          </h2>
          <p class="font-secondary text-3xl color-red-middle mb-4">(basado en agile y XP)</p>
        </div>
      </div>
    </div>
    <div class="container mb-0">
      <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-8 col-xl-7">
                  <p class="text-2xl text-left">En Biko hemos creado el curso al que nos hubiera gustado asistir. Un curso en el que no te vamos a enseñar a programar, sino a convertirte en un excelente desarrollador. Y de eso va esto: de aprender a aprender, de dejar atrás el “qué” para centrarnos en el “cómo”.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
