<section class="mb-4 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3 text-sm">
          <span class="text-uppercase letter-base font-400 color-gray-dark">Nuestros alumnos dicen...</span>
      </div>
      <div class="col-12">
        <div class="c-separator--line c-separator--line__horizontal mt-0 mb-md-5"><hr /></div>
      </div>
      <div class="container">
        <!--testimonio 1-->
        <div class="row">
          <div class="col-12 col-md-3 col-xl-2 offset-xl-2 text-center">
            <img data-src="/assets/images/testimonial-circle-2" src="/assets/images/testimonial-circle-2.png" alt="Foto de Miguel Echávarri" class="lazyloaded mb-2">
            <div class="mb-4 mt-2 text-center">
                <a href="https://www.linkedin.com/in/miguel-ech%C3%A1varri-pomares/" class="mx-2" target="_blank" alt="Ir al Linkedin de Miguel Echávarri">
                    <svg class="icon fill-blue fill-hover-red">
                        <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                    </svg>
                </a>
            </div>
          </div>
          <div class="col-12 col-md-8 ml-md-3 col-xl-6 mb-4">
            <p class="text-2xl line-2xl text-md-4xl line-md-3xl font-light u-strong-red mb-5">
              <i>“La BikoSchool fue un punto de inflexión en mi desarrollo y mejora como Software Developer.”</i>
            </p>
            <div class="mb-5">
              <p class="decoration-red text-base pt-2 font-bold mb-1">Miguel Echávarri</p>
              <p class="text-base mb-2 color-bluesoft font-400 color-gray-dark mb-1">Software Developer en Biko</p>
              <p class="font-secondary mb-4 color-red-middle">(Miguel se quedó con nosotros después de realizar el curso).</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="c-separator--line c-separator--line__horizontal mt-0 mb-md-5"><hr /></div>
        </div>
        <!--testimonio 2-->
        <div class="row">
          <div class="col-12 col-md-3 col-xl-2 offset-xl-2 text-center">
            <img data-src="/assets/images/testimonial-circle-3" src="/assets/images/testimonial-circle-3.png" alt="Foto de Iñigo Huguet" class="lazyloaded mb-4">
            <div class="mb-4 mt-2 text-center">
                <a href="https://www.linkedin.com/in/inigo-huguet/" class="mx-2" target="_blank" alt="Ir al Linkedin de Iñigo Huguet">
                    <svg class="icon fill-blue fill-hover-red">
                        <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                    </svg>
                </a>
            </div>
          </div>
          <div class="col-12 col-md-8 ml-md-3 col-xl-6 mb-4">
            <p class="text-2xl line-2xl text-md-4xl line-md-3xl font-light u-strong-red mb-5">
              <i>“Un curso aprovechado al máximo, tras tres meses todos teníamos ganas de más.”</i>
            </p>
            <div class="mb-5">
              <p class="decoration-red text-base pt-2 font-bold mb-1">Iñigo Huguet</p>
              <p class="text-base mb-2 color-bluesoft font-400 color-gray-dark mb-1">Software Developer</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="c-separator--line c-separator--line__horizontal mt-0 mb-md-5"><hr /></div>
        </div>
        <!--testimonio 3-->
        <div class="row">
          <div class="col-12 col-md-3 col-xl-2 offset-xl-2 text-center">
            <img data-src="/assets/images/testimonial-circle-1" src="/assets/images/testimonial-circle-1.png" alt="Foto de Ana Calvo" class="lazyloaded mb-4">
            <div class="mb-4 mt-2 text-center">
                <a href="https://www.linkedin.com/in/ana-calvo-monreal-4a910016b/" class="mx-2" target="_blank" alt="Ir al Linkedin de Ana Calvo">
                    <svg class="icon fill-blue fill-hover-red">
                        <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                    </svg>
                </a>
            </div>
          </div>
          <div class="col-12 col-md-8 ml-md-3 col-xl-6 mb-4">
            <p class="text-2xl line-2xl text-md-4xl line-md-3xl font-light u-strong-red mb-5">
              <i>"Me dio el empujón que necesitaba para dedicarme al desarrollo de software."</i>
            </p>
            <div class="mb-5">
              <p class="decoration-red text-base pt-2 font-bold mb-1">Ana Calvo</p>
              <p class="text-base mb-2 color-bluesoft font-400 color-gray-dark mb-1">Software Developer en Biko</p>
              <p class="font-secondary mb-4 color-red-middle">(Ana se quedó con nosotros después de realizar el curso).</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="c-separator--line c-separator--line__horizontal mt-0 mb-md-5"><hr /></div>
        </div>
        <!--testimonio 4-->
        <div class="row">
          <div class="col-12 col-md-3 col-xl-2 offset-xl-2 text-center">
            <img data-src="/assets/images/testimonial-circle-4" src="/assets/images/testimonial-circle-4.png" alt="Foto de Jesús Olazagoitia" class="lazyloaded mb-4">
            <div class="mb-4 mt-2 text-center">
                <a href="https://www.linkedin.com/in/jolazagoitia/" class="mx-2" target="_blank" alt="Ir al Linkedin de Jesús Olazagoitia">
                    <svg class="icon fill-blue fill-hover-red">
                        <use xlink:href="/assets/svg/sprite/sprite.svg#linkedin-slim"></use>
                    </svg>
                </a>
            </div>
          </div>
          <div class="col-12 col-md-8 ml-md-3 col-xl-6 mb-4">
            <p class="text-2xl line-2xl text-md-4xl line-md-3xl font-light u-strong-red mb-5">
              <i>“Un curso aprovechado al máximo, tras tres meses todos teníamos ganas de más.”</i>
            </p>
            <div class="mb-5">
              <p class="decoration-red text-base pt-2 font-bold mb-1">Jesús Olazagoitia</p>
              <p class="text-base mb-2 color-bluesoft font-400 color-gray-dark mb-1">Software Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
