<section class="testimoniales__container">
        <kinesis-container class="outer-wrapper">
            <div class="wrapper">
                <div class="slide one">
                    <kinesis-element
                            :strength="5"
                            type="translate"
                            tag="div"
                            class="slide-work">
                        <div class="slide-work-item">
                            <kinesis-element
                                    :strength="5"
                                    type="translate"
                                    tag="div"
                                    class="slide-work-item-name">
                                <h1>text</h1>
                            </kinesis-element>
                        </div>
                    </kinesis-element>
                </div>
                <div class="slide two">
                    <kinesis-element
                            :strength="5"
                            type="translate"
                            tag="div"
                            class="slide-work">
                        <div class="slide-work-item">
                            <kinesis-element
                                    :strength="5"
                                    type="translate"
                                    tag="div"
                                    class="slide-work-item-name">
                                <h1>text</h1>
                            </kinesis-element>
                        </div>
                    </kinesis-element>
                </div>
                <div class="slide one">
                    <kinesis-element
                            :strength="5"
                            type="translate"
                            tag="div"
                            class="slide-work">
                        <div class="slide-work-item">
                            <kinesis-element
                                    :strength="5"
                                    type="translate"
                                    tag="div"
                                    class="slide-work-item-name">
                                <h1>text</h1>
                            </kinesis-element>
                        </div>
                    </kinesis-element>
                </div>
                <div class="slide two">
                    <kinesis-element
                            :strength="5"
                            type="translate"
                            tag="div"
                            class="slide-work">
                        <div class="slide-work-item">
                            <kinesis-element
                                    :strength="5"
                                    type="translate"
                                    tag="div"
                                    class="slide-work-item-name">
                                <h1>text</h1>
                            </kinesis-element>
                        </div>
                    </kinesis-element>
                </div>
            </div>
        </kinesis-container>
        <div class="text-additional">
            scroll and select
        </div>
    </section>
