  <section id="historia-necesidad" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">Historia de una necesidad</h2>
          <p class="text-base line-base">
            En los últimos años hemos experimentado una <strong>transformación importante</strong> en cuanto 
            a que nos hemos consolidado como una empresa de desarrollo de software confiable 
            y sostenible. Esta transformación nos ha llevado a trabajar con <strong>clientes cada vez más potentes</strong>, 
            con <strong>relaciones muy a largo plazo</strong> y a tener que consolidar <strong>equipos más grandes y 
            con más responsabilidades</strong> donde hemos tenido que <strong>priorizar la calidad del trabajo</strong> 
            que hacemos y más importante, <strong>las personas</strong> que lo hacen. 
          </p>
          <p class="text-base line-base">
            Hemos crecido orgánicamente en número de equipos, número de personas y 
            hemos dedicado mucho tiempo y esfuerzo a <em>recruiting</em>, <em>onboardings</em> y a asegurarnos 
            de que ofrecemos las <strong>mejores condiciones laborales posibles</strong> y un entorno donde 
            todas las personas de la empresa puedan desarrollar su <strong>carrera profesional</strong> y explotar su mayor potencial. En esencia, 
            <strong>lo más importante que tiene Biko es su gente</strong> y su crecimiento y bienestar hará que Biko siga esa misma estela.
          </p>
          <p class="text-base line-base">
            Hasta ahora, la responsabilidad del <em>recruiting</em> y de la salud del equipo ha recaído en la figura 
            del COO <a href="https://www.linkedin.com/in/aritzsuescun/" class="c-link" target="_blank">(Aritz Suescun)</a> 
            y del CTO <a href="https://www.linkedin.com/in/pabloalbizubalerdi/" class="c-link" target="_blank">(Pablo Albizu)</a>. Sin tenerlo automatizado y ultra procedimentado, 
            hemos conseguido tener un proceso de <em>recruiting</em> ágil y que funciona bien con una serie de dinámicas 
            que nos ayudan a tener un pulso aproximado de cómo están los miembros del equipo y de poder ayudarles. 
            Sin embargo, hemos llegado a la conclusión de que <strong>necesitamos una persona que lidere las operaciones</strong>, 
            <strong>procesos e iniciativas relacionadas con la contratación </strong>y que analice e identifique acciones que impacten 
            en el<strong> bienestar de las personas y equipos de Biko</strong> ya que esto nos va a permitir dar un salto de nivel, 
            ordenar muchos de nuestros procesos y poder dedicarle el tiempo y cariño que requieren.
          </p>
          <p class="text-base line-base">
            Será la <strong>primera persona de <em>people</em></strong> de la empresa, un <strong>verdadero reto</strong> y un <strong>hito increíble para Biko.</strong>
          </p>
          <p class="text-base line-base">
            Buscamos un <strong>perfil senior</strong>, con capacidad tanto para <strong>gestionar</strong> la parte operativa del rol de 
            forma eficiente como para <strong>liderar</strong> iniciativas significativas de forma proactiva. 
            La lista de responsabilidades que se enumeran en la sección <a href="#tu-puesto" class="c-link">"Qué harás"</a> no se asumirán 
            de manera inmediata desde el primer día si no que entendemos que todo forma parte de un proceso 
            que necesitará sus fases y que podremos afinar y equilibrar por el camino.
          </p>
          <p class="text-base line-base">
            Para darte más información y que sepas mejor si esta oferta es para ti te contamos más detalles 
            sobre nuestro<strong> modelo de incorporación y retención</strong> de personas en Biko: 
          </p>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">Cómo nació este perfil</span>
          </div>
        </div>
      </div>
    </div>
  </section>