  <section id="muy-top">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h3 class="title-4xl mb-5">Y esto sería muy TOP</h3>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas <strong>experiencia</strong> previa trabajando en <strong>entornos ágiles</strong>.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-lg-0">Que acumules <strong>experiencia en gestión, construcción y uso de sistemas de diseño</strong>.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Que seas capaz de <strong>facilitar sesiones de Design Thinking</strong> con usuarios o con las personas clave de una organización, para identificar los puntos críticos que ayuden en la toma decisiones.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-0">Que tengas formación específica en <strong>UX, UI, Service Design, CRO</strong>....</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>