  <section id="tu-equipo" class="mb-7">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Cuál será tu equipo?</h2>
          <p>
            Pertenecerás al <strong>equipo de operaciones de Biko</strong> el cual está integrado por el COO, 
            el CTO y otras personas de la organización. <strong>Nos organizamos</strong> de una <strong>forma sociocrática</strong>, 
            realizando reuniones semanales de sincronización que nos permitan trabajar de forma asíncrona y 
            ser lo más efectivos posibles. <strong>Biko pertenece al grupo</strong> <a href="https://blog.biko2.com/actualidad-biko/nos-unimos-al-grupo-italiano-jakala-para-reforzar-nuestra-propuesta-de-servicios-digitales/" class="c-link" target="_blank"><strong>Jakala Iberia</strong></a>, por lo tanto en algunos 
            momentos puntuales te tocará coordinarte con el equipo de Talento y Cultura del grupo.
          </p>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">Tu equipo</span>
          </div>
        </div>
      </div>
    </div>
  </section>