  <section id="tu-puesto" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Qué harás?</h2>
          <div class="mb-5">
            <h3 class="title-2xl"><em>Hiring</em></h3>
            <ul>
              <li><strong>Dirigirás</strong> los procesos de nuevas contrataciones, participando en su definición y ejecución.</li>
              <li><strong>Identificarás las necesidades de contratación presentes y futuras</strong> en base a las necesidades de negocio.</li>
              <li>Trabajarás activamente para <strong>mejorar el nivel de diversidad de Biko</strong>.</li>
              <li><strong>Cantera</strong>. Liderarás la organización de las próximas ediciones de la Biko School y de su proceso de selección.</li>
            </ul>
          </div>
          <div class="mb-5">
            <h3 class="title-2xl"><em>Onboarding</em></h3>
            <ul>
              <li><strong>Dirigirás y ejecutarás los procesos de onboarding</strong> de los nuevos empleados en coordinación con los equipos de Biko. Igualmente, coordinarás los procesos de offboarding de los empleados salientes. </li>
            </ul>
          </div>
          <div class="mb-5">
            <h3 class="title-2xl"><em>Employee engagement</em></h3>
            <ul>
              <li>Actualmente nos apoyamos en <em>Nailted</em> para tener un pulso real de las personas de la organización. 
              Tu responsabilidad será <strong>gestionar</strong> esta herramienta, <strong>extraer insights</strong> a nivel de grupo/métrica y 
              analizar la información para obtener una visión que pueda ayudarnos en <strong>mejorar la salud del equipo de Biko</strong>. 
              Este punto lo trabajarás directamente con el <strong>círculo de operaciones</strong>.</li>
              <li>Analizarás los <em>“pain points”</em>, proponiendo <strong>acciones de mejora</strong> en cuanto a clima laboral.</li>
            </ul>
          </div>
          <div class="mb-5">
            <h3 class="title-2xl">Cultura</h3>
            <ul>
              <li>Impulsarás la <strong>transmisión de la cultura</strong> tanto en el <em>onboarding</em> como posteriormente: cultura de la <strong>organización</strong>, <strong>valores</strong>, <strong>sociocracia</strong>, <strong>agile</strong>, etc.</li>
            </ul>
          </div>
          <div class="mb-5">
            <h3 class="title-2xl">Retención</h3>
            <ul>
              <li>Tendrás <strong>libertad para proponer</strong> y <strong>ejecutar acciones</strong> que ayuden a la <strong>retención de talento</strong>.</li>
            </ul>
          </div>
          <div class="mb-5">
            <h3 class="title-2xl">Metodología de trabajo</h3>
            <ul>
              <li><strong>Trabajarás</strong> en equipo en el círculo de operaciones, directamente con el <strong>COO</strong> y<strong> CTO</strong>.</li>
            </ul>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">Éstas son tus funciones</span>
          </div>
        </div>
      </div>
    </div>
  </section>