{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero  contenedor-secciones-hero">
  <div class="c-grid-image--right">
    <img data-src="/assets/images/proyectos/lk-cabecera.jpg" class="lazyload" alt="Banca Online Laboral Kutxa" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-7">
        <h1 class="c-title--pre text-uppercase mt-3 mt-md-4 mb-0">LABORAL KUTXA</h1>
        <h2 class="h-extrahuge"><strong>Amabilizar</strong><br> la banca</h2>
        <p class="c-title--sub">(y descomplicar cómo nos relacionamos con ella)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-6">
        <p class="mb-0">En Biko podemos estar orgullosos de haber definido y diseñado <strong>toda la operativa de Laboral Kutxa</strong>, tanto la banca electrónica, como algunas nuevas funcionalidades online; poniendo especial énfasis en el área de cliente de la entidad.</p>
      </div>
    </div>
  </div>
</section>


<section class="u-bg-gray-light py-5 px-4 p-md-5 py-lg-7 mb-5  mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <p class="mb-md-6 c-title--big">
          Llevamos a cabo un <strong>rediseño global</strong> para ofrecer una nueva experiencia en banca digital. Mucho más home que banking.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-2 offset-lg-1">
        <h5 class="c-title--pre mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Laboral Kutxa</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UX</li>
          <li class="u-list-none mb-0">Frontalización</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Diseño
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UI</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Angular JS</li>
          <li class="u-list-none mb-0">SASS</li>
          <li class="u-list-none mb-0">React</li>
          <li class="u-list-none mb-0">Styled Components</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="contenedor-secciones mb-md-6 ">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/LK-desafio" class="lazyloaded" alt="Oficina Laboral Kutxa" src="/assets/images/proyectos/LK-desafio.jpg">
  </div>
  <div class="container mb-md-8">
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-5 col-lg-4 col-xl-3">
        <div class="pt-md-2 pt-xl-5">
          <h3>El desafío</h3>
          <p class="mb-0">Ofrecer al usuario una <strong>representación visual de sus finanzas, potenciando la usabilidad</strong> a la hora de presentar sus datos bancarios. No se trata simplemente de hacer que funcione, sino de ofrecer una experiencia que sea fluida y amena.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-pattern c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/LK-enfoque" class="lazyloaded u-img-fluid" alt="Banca online Laboral Kutxa" src="/assets/images/proyectos/LK-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
          <h3 class="pt-md-2 pt-xl-5">Nuestro enfoque</h3>
          <p>A lo largo del proyecto obtuvimos más de 150 prototipos y 100 plantillas con la definición de <strong>una banca electrónica más sencilla y user-friendly</strong>, adaptada a desktop, tablet y apps móviles y trabajando mano a mano con el equipo de negocio de Laboral Kutxa. </p>
          <p>Desarrollamos la tecnología conjuntamente con el equipo de IT de la entidad; la capa de front-end con <strong>Angular JS con SASS</strong> durante los 2 primeros años de desarrollo y <strong>React con Styled Components</strong> desde entonces. </p>
          <p>Al inicio del desarrollo se optó por AngularJS como framework ya que era una de las tecnologías para hacer aplicaciones SPA más asentadas en su momento. Con el paso del tiempo optamos por añadir como tecnología base de desarrollo a React usando Styled Components para el estilado de componentes. Actualmente el proyecto tiene integradas ambas tecnologías de forma transparente para el usuario permitiendo técnicamente evolucionar la banca con una tecnología más modular y ligera a la vez que podemos ir migrando paulatinamente código AngularJS hacia React.</p>
          <p>Además prestamos <strong>asesoramiento en la definición de las API’s REST</strong> para la comunicación con el sistema bancario.</p>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-lg-5 mb-xl-0">
        <div class="col-md-12 col-lg-6 col-xl-3 offset-xl-1">
          <div class="d-flex flex-column">
            <h3>
              Producto final
            </h3>
            <p class="mb-5 mb-md-5 mb-lg-0">
              Como resultado, hemos obtenido una revolucionaria forma de mostrar la información financiera de cada cliente en todos los dispositivos. La solución permite tener una <strong>visión más sencilla y comprensiva</strong> de todas las cuentas: los gastos, ahorros y préstamos se muestran en forma de gráfico o de tablas, de manera que el usuario controla la distribución de los pagos y la procedencia de los ingresos para tener un control completo de sus finanzas. 
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/lk-producto-final-1" class="lazyloaded u-img-fluid" alt="Pantallas de diseño de Lk" src="/assets/images/proyectos/lk-producto-final-1.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6 d-flex order-2 order-lg-0">
          <div class="pt-lg-0 pt-xl-6  pb-lg-0">
            <img data-src="/assets/images/proyectos/lk-producto-final-2" class="lazyloaded u-img-fluid" alt="Pantalla seguimiento de tus gastos y compras" src="/assets/images/proyectos/lk-producto-final-2.jpg">
          </div>
        </div>
        <div class="col-md-12 col-lg-4 offset-lg-1 pt-xl-6 d-flex order-1 order-lg-0">
            <p class="mb-5 mb-md-5 mb-lg-0">
              También hemos incluido la <strong>posibilidad de agregar otras entidades</strong> para ofrecer al usuario una visión completa de sus finanzas. En definitiva, que el usuario disponga de toda la información de sus finanzas completa y en todo momento.
            </p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12  col-xl-10 offset-xl-1">
        <p class="c-title--big mb-md-6">
          Para cubrir y dar respuesta a las distintas necesidades, hemos optado por estas herramientas:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div>
            <h4 class="c-title-large">
              React
            </h4>
            <p>
              Para la creación de la aplicación SPA de la banca de Laboral Kutxa móvil y desktop.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('html')}}
          </div>
          <div>
            <h4 class="c-title-large">
              Styled Components
            </h4>
            <p>
              Para aplicar los estilos a los componentes de las páginas mediante CSS in JS.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="c-texto--center">
          <h3 class="c-title--big mb-4">
            ¿Tienes alguna <strong>duda</strong> sobre este <strong>proyecto?</strong> <br>¿Te gustaría ver otros similares?
          </h3>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}
