{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<section id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--laboralkutxa text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-laboral-kutxa.svg" class="mb-3" alt="Logotipo LABORAL KUTXA" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">LABORAL KUTXA</p>-->
          <h1 class="title-hero mb-3">
          Amabilizar la banca
          </h1>

          <p class="font-secondary text-2xl text-lg-3xl color-red-middle mb-5">(y descomplicar cómo nos relacionamos con ella)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <p class="text-2xl line-2xl mb-0">En Biko podemos estar orgullosos de haber definido y diseñado <strong>toda la operativa de Laboral Kutxa</strong>, tanto la banca electrónica, como algunas nuevas funcionalidades online; poniendo especial énfasis en el área de cliente de la entidad.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque entradilla-->
<section class="bg-gray-light py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Llevamos a cabo un <strong>rediseño global</strong> para ofrecer una nueva experiencia en banca digital. Mucho más home que banking.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque datos-->
<section class="mb-5 mb-md-7 bg-gray-extralight py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Laboral Kutxa</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">UX <span class="color-red">+</span> Frontalización</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI </div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Angular JS <span class="color-red">+</span> SASS <span class="color-red">+</span> React <span class="color-red">+</span> Styled Components</div>
          </div>
      </div>
    </div>
  </div>
</section>



<section class="contenedor-secciones mb-md-7 mb-lg-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/LK-desafio" class="lazyloaded" alt="Oficina Laboral Kutxa" src="/assets/images/proyectos/LK-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-6xl mb-4">El desafío</h3>
          <p class="mb-0">Ofrecer al usuario una <strong>representación visual de sus finanzas, potenciando la usabilidad</strong> a la hora de presentar sus datos bancarios. No se trata simplemente de hacer que funcione, sino de ofrecer una experiencia que sea fluida y amena.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-xl-7">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4 mb-md-0">
        <img data-src="/assets/images/proyectos/LK-enfoque" class="lazyloaded u-img-fluid" alt="Banca online Laboral Kutxa" src="/assets/images/proyectos/LK-enfoque.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>A lo largo del proyecto obtuvimos más de 150 prototipos y 100 plantillas con la definición de <strong>una banca electrónica más sencilla y user-friendly</strong>, adaptada a desktop, tablet y apps móviles y trabajando mano a mano con el equipo de negocio de Laboral Kutxa. </p>
          <p>Desarrollamos la tecnología conjuntamente con el equipo de IT de la entidad; la capa de front-end con <strong>Angular JS con SASS</strong> durante los 2 primeros años de desarrollo y <strong>React con Styled Components</strong> desde entonces. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-6">
          <p>Al inicio del desarrollo se optó por AngularJS como framework ya que era una de las tecnologías para hacer aplicaciones SPA más asentadas en su momento. Con el paso del tiempo optamos por añadir como tecnología base de desarrollo a React usando Styled Components para el estilado de componentes. </p>
      </div>
      <div class="col-12 col-xl-6">
          <p>Actualmente el proyecto tiene integradas ambas tecnologías de forma transparente para el usuario permitiendo técnicamente evolucionar la banca con una tecnología más modular y ligera a la vez que podemos ir migrando paulatinamente código AngularJS hacia React. Además prestamos <strong>asesoramiento en la definición de las API’s REST</strong> para la comunicación con el sistema bancario.</p>
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
          <p class="title-slim-6xl u-strong-red mb-md-6">
          Para <strong>cubrir y dar respuesta</strong> a las distintas necesidades, hemos optado por <strong>estas herramientas</strong>:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              React
            </h4>
            <p>
              Para la creación de la aplicación SPA de la banca de Laboral Kutxa móvil y desktop.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('html')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              Styled Components
            </h4>
            <p>
              Para aplicar los estilos a los componentes de las páginas mediante CSS in JS.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p class="mb-5 mb-md-5 mb-lg-0">
            Como resultado, hemos obtenido una revolucionaria forma de mostrar la información financiera de cada cliente en todos los dispositivos. La solución permite tener una <strong>visión más sencilla y comprensiva</strong> de todas las cuentas: los gastos, ahorros y préstamos se muestran en forma de gráfico o de tablas, de manera que el usuario controla la distribución de los pagos y la procedencia de los ingresos para tener un control completo de sus finanzas.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/lk-producto-final-1" class="lazyloaded u-img-fluid" alt="Pantallas de diseño de Lk" src="/assets/images/proyectos/lk-producto-final-1.jpg">
      </div>
    </div>
  </div>
</section>
<!--Bloque final 2-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/lk-producto-final-2" class="lazyloaded u-img-fluid" alt="Pantalla seguimiento de tus gastos y compras" src="/assets/images/proyectos/lk-producto-final-2.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <p class="mb-5 mb-md-5 mb-lg-0">
            También hemos incluido la <strong>posibilidad de agregar otras entidades</strong> para ofrecer al usuario una visión completa de sus finanzas. En definitiva, que el usuario disponga de toda la información de sus finanzas completa y en todo momento.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
