{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--museoreina text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-sm letter-base font-400 color-grayextradark">MUSEO REINA SOFIA</p>
          <h1 class="title-hero mb-4">
          Una web que evoluciona
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(y un arte que permanece)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-7">
              <p>Comenzamos a trabajar con el Museo Reina Sofía allá por 2012. Aunque pueda sonar remoto, una de las primeras peticiones fue trasladar la web a <strong> formato responsive</strong>.</p>
              <p>Quisimos mejorar la presencia online del museo a través de diferentes trabajos a los que nos enfrentamos codo con codo, fue un proceso muy completo en el que la gestión de contenidos fue uno de los puntos más relevantes. Desde entonces ha llovido mucho y, en todo este tiempo, hemos construido una relación de largo plazo con distintos proyectos. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10">
        <p class="mb-5 mb-md-6 title-slim-6xl u-strong-red"> Un trabajo realizado al detalle, con un diseño especialmente estudiado para el Museo, sin dejar de lado la practicidad que ofrece Drupal en la gestión de contenidos. </p>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <p class="title-2xl font-light line-2xl">
      <strong>Cliente:</strong> Museo Nacional Centro de Arte Reina Sofía /
      <strong>Estrategia:</strong> UX /
      <strong>Diseño:</strong> UI <span class="color-red">+</span> Diseño Web /
      <strong>Tecnología:</strong> Drupal /
      <strong>Web:</strong> <a class="c-link" href="https://www.museoreinasofia.es/" target="_blank">Museo Nacional Centro de Arte Reina Sofía</a>
      </p>
    </div>
    </div>
  </div>
</section>

<div class="c-separator--line c-separator--line__horizontal"><hr /></div>

<section class="contenedor-secciones mb-md-7 mb-lg-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/reina-sofia-desafio.jpg" class="lazyloaded" alt="Museo Reina Sofía" src="/assets/images/proyectos/reina-sofia-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-7xl">El desafío</h3>
          <h4 class="title-5xl line-4xl mb-4 font-light">Reconceptualizar, construir y evolucionar.</h4>
          <p>Un proyecto de largo recorrido con una de las <strong>principales instituciones artísticas del país.</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/reina-sofia-enfoque.jpg" class="lazyloaded u-img-fluid" alt="Museo Reina Sofía" src="/assets/images/proyectos/reina-sofia-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
        <p class="mb-0">Hemos acompañado en el día a día al museo y mejorado su <strong>presencia online</strong>, gracias a la creación de nuevos <strong>minisites</strong>. </p>
        <p class="mb-0">Uno de los grandes hitos de la relación entre Biko y el museo fue el proyecto <strong>Repensar Guernica</strong>, ganador de un Webby, uno de los Óscar de Internet.</p>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10">
        <p class="title-slim-6xl u-strong-red">
          Para este proyecto tuvimos que construir y desplegar una <strong>infraestructura tecnológica</strong> segura, confiable, distribuida, escalable y eficiente.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-4 mb-md-5">
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="d-flex flex-column">
            <h3 class="title-6xl mb-4">
              Producto final
            </h3>
            <p>
            El site del museo pasó a convertirse en una de las instalaciones de Drupal de <strong>referencia en España</strong> y hoy en día permite consultar sus más de 6.000 obras, las exposiciones y actividades realizadas por el museo desde su puesta en marcha hace 28 años, con una relación de contenidos muy trabajada y valiosa para los usuarios.
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/reina-sofia-producto-final-1.png" class="lazyloaded u-img-fluid" alt="Museo Reina producto final" src="/assets/images/proyectos/reina-sofia-producto-final-1.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div>
            <img data-src="/assets/images/proyectos/reina-sofia-producto-final-2.jpg" class="lazyloaded u-img-fluid" alt="Museo Reina producto final" src="/assets/images/proyectos/reina-sofia-producto-final-2.jpg">
          </div>
        </div>
        <div class="col-md-12 col-lg-6 d-flex c-bg-pattern">
          <div class="d-flex">
            <div class="d-flex  align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <h4 class="title-2xl decoration-red pt-2 mb-3">Para saber más:</h4>
                  <a href="https://www.museoreinasofia.es/" target="_blank">
                    <span class="c-link-especial">
                      Museo Nacional Centro de Arte Reina Sofía
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">
          Para cubrir y dar respuesta a las distintas necesidades, hemos optado por una serie de herramientas distintas:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
            Para la gestión general de la web y en particular de todos los contenidos, galería, etc. sin descuidar el diseño.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('solr')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Solr
            </h4>
            <p>
              Solr como potente herramienta de búsqueda.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
