<section class="c-bg-pattern__left pt-lg-5 mb-5">
  <div class="container">
    <h3 class="text-center">Tienes más detalles en nuestro blog</h3>

    <div class="p-proyecto__blog">
      <div class="p-proyecto__blog__item">
    		<a href="https://blog.biko2.com/actualidad-biko/ganamos-los-premios-dominios-es-con-museo-reina-sofia/" target="_blank">
          <img data-src="https://blog.biko2.com/wp-content/uploads/2014/11/museo-reina-sofia-con-biko-gana-premios-dominios.es-400x315-1.jpg" class="lazyload w-100" alt="Gestión de contenidos" />
          <span class="p-proyecto__blog__titulo c-link">¡Ganamos los premios Dominios.es con Museo Reina Sofía!</span>
        </a>
      </div>

      <div class="p-proyecto__blog__item">
    		<a href="https://blog.biko2.com/drupal/el-museo-reina-sofia-estrena-nueva-web/" target="_blank">
          <img data-src="https://blog.biko2.com/wp-content/uploads/2013/05/Cildo-Meireles-1.jpg" class="lazyload w-100" alt="Omnicanalidad y publicación multidispositivo" />
          <span class="p-proyecto__blog__titulo c-link">El Museo Reina Sofía estrena nueva web</span>
        </a>
      </div>

    </div>
  </div>
</section>
