{# ----- OFERTA ----- #}
{% extends '@layouts/page.twig' %}
{% block page %}
  <section class="bg-blue py-6 p-unete-drupal">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 text-center">
          <h1 class="title-6xl mb-3 color-white">
            Desarrollador/a Drupal
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">
            (si tienes experiencia con Drupal, te estamos buscando)
          </p>
          <div class="c-separator--line__horizontal-dotted">
            <hr />
          </div>
          <div class="row">
            <div class="col-md-3">
              <div id="datos" class="py-4">
                <p class="text-base color-red-middle mb-0">
                  SALARIO
                </p>
                <p class="text-4xl color-white mb-0">
                  <a href="#que-ofrecemos" class="c-link c-link-nounderline c-link__w">
                    24-30
                  </a><span class="color-red-middle">K €</span>
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <div id="datos" class="py-4">
                <p class="text-base color-red-middle mb-0">
                  HORARIO
                </p>
                <p class="text-4xl color-white mb-0">
                  <a href="#que-ofrecemos" class="c-link c-link-nounderline c-link__w">
                    Flexible entrada/salida.
                  </a>
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div id="datos" class="py-4">
                <p class="text-base color-red-middle mb-0">
                  MODALIDAD
                </p>
                <p class="text-4xl color-white mb-0">
                  <a href="#que-ofrecemos" class="c-link c-link-nounderline c-link__w">
                    Posibilidad remoto.
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="c-separator--line__horizontal-dotted mb-4">
            <hr />
          </div>
          <p class="text-md-2xl line-md-2xl color-white text-left">
            Estamos buscando nuevas incorporaciones a la familia <em>
              bikoniana.
            </em> En concreto, una persona desarrolladora con <strong>
              experiencia en Drupal</strong>, que adore <strong>trabajar en equipo</strong> y con ganas
            de <strong>seguir aprendiendo</strong>.
          </p>
          <p class="text-2xl line-md-2xl color-white text-left">
            ¿Te cuadra por ahora? ¡Genial! Entonces te contamos quiénes somos...
            🙂
          </p>
        </div>
      </div>
    </div>
    <div class="c-separator--icon py-2">
      <a class="c-separator--icon__animated" href="#quienes-somos">
        <svg width="13px"
          height="42px"
          viewBox="0 0 13 42"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-714.000000, -854.000000)" fill="#ffffff">
              <g>
                <path d="M737.811652,873.75 L734.022242,869.966495 L735.240635,868.75 L741.25,874.75 L735.240635,880.75 L734.022242,879.533505 L737.811652,875.75 L699.75,875.75 L699.75,873.75 L737.811652,873.75 Z"
                  transform="translate(720.500000, 874.750000) rotate(-270.000000) translate(-720.500000, -874.750000) "></path>
              </g>
            </g>
          </g>
        </svg>
      </a>
    </div>
  </section>
{% include '@base/unete-a-biko/quienes-somos.twig' %}
  <section id="tu-puesto">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">
            ¿En qué consiste tu puesto?
          </h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">
                Trabajarás junto al resto de tu equipo en proyectos Drupal,
                haciendo uso desde lo básico de programación como los coding
                standards, pasando por los flujos de trabajo, hasta las últimas
                novedades en Drupal 9.
              </p>
              <p class="decoration-red pt-2 mb-5">
                Participarás en todas las dinámicas ágiles de ejecución de los
                proyectos y en el ciclo completo del desarrollo de software.
              </p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">
                Participarás en la evolución técnica y tecnológica de los
                proyectos aplicando tu experiencia o aprendizajes que realices
                en la propia empresa.
              </p>
              <p class="decoration-red pt-2">
                Creemos que las personas son lo más valioso para conseguir
                soluciones excelentes. Por eso, ayudarás en la formación de tus
                compañeros y en la tuya propia para seguir creciendo mediante
                charlas, talleres, open spaces, haciendo pair programming,
                revisiones de código, etc.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="top">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">
            ¿Y qué sería TOP?
          </h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">
                Inglés técnico medio, y si es nivel alto de conversación, más
                Top aún.
              </p>
              <p class="decoration-red pt-2 mb-5">
                Tener experiencia con metodologías ágiles. Es nuestra manera de
                trabajar.
              </p>
              <p class="decoration-red pt-2 mb-5">
                Conocimientos medio/avanzados sobre <i>git</i>.
              </p>
              <p class="decoration-red pt-2 mb-5">
                Dominar buenas prácticas de desarrollo, como inyección de
                dependencias, patrones, principios Solid, Clean Code, etc.
              </p>
              <p class="decoration-red pt-2 mb-5">
                Experiencia en Behavior Driven Development (BDD) y Test Driven
                Development (TDD).
              </p>
              <p class="decoration-red pt-2 mb-5">
                Conocimiento de React y TypeScript o alguna otra tecnología
                JavaScript (Vue.js, Angular, etc.).
              </p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">
                MySQL/MariaDB: nociones sobre rendimiento, y SQL.
              </p>
              <p class="decoration-red pt-2 mb-5">
                Conocimiento de Symfony.
              </p>
              <p class="decoration-red pt-2 mb-5">
                Contribuciones en Drupal.org.
              </p>
              <p class="decoration-red pt-2 mb-5">
                Interés por el Software Libre.
              </p>
              <p class="decoration-red pt-2 mb-5">
                Perfiles en la red que nos aporten información sobre ti, como
                cuentas en GitHub, Drupal.org, etc.
              </p>
              <p class="decoration-red pt-2">
                Titulación técnica.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="que-ofrecemos">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-5xl mb-5">
            ¿Qué ofrecemos?
          </h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-0">
                Un sueldo entre <strong>24.000€</strong> y <strong>30.000€</strong>, dependiendo de lo que puedas
                aportar.</p>
              <p class="font-secondary color-red mb-5">
                (Si estás fuera de este rango pero te interesa trabajar
                en Biko, no te cortes y cuéntanoslo también).
              </p>
              <p class="decoration-red pt-2 mb-5">
                <strong>Horario flexible de entrada y salida</strong>. La única regla es que
                cumplas con tus horas, aunque tú decides cómo las encajas.
              </p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">
                Ofrecemos la <strong>posibilidad de trabajar en remoto</strong>, aunque lo ideal
                es que primero nos conozcamos personalmente.
              </p>
              <p class="decoration-red pt-2">
                Un <strong>ambiente enriquecedor y diverso</strong>, donde desarrollarte como
                profesional, como persona y con unos compañeros y compañeras muy
                majetes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include '@base/unete-a-biko/enviar-cv.twig' %}
  {% include '@includes/subir.twig' %}
  {% include '@includes/contact.twig' %}
{% endblock %}