{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-oferta-hero c-bg-pattern__right">

  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-7">
        <h1 class="title-hero mb-3 text-center">Desarrollador/a Drupal</h1>
        <p class="font-secondary text-3xl color-red text-center mb-4 mb-md-5">(Pamplona)</p>
        <p class="text-2xl mb-5">Estamos buscando nuevas incorporaciones a la familia <em>bikoniana</em>. En concreto, una persona desarrolladora con <strong>experiencia en Drupal</strong>, que adore <strong>trabajar en equipo</strong> y con ganas de <strong>seguir aprendiendo</strong>.</p>
        <p class="text-2xl">¿Te cuadra por ahora? ¡Genial! Entonces te contamos quiénes somos 🙂</p>
        <div class="mb-5 d-flex flex-xl-column justify-content-center align-items-xl-center text-center">
          <a class="c-button" href="https://mail.google.com/mail/?view=cm&fs=1&to=unete@biko2.com" target="_blank">Inscribirse <br /><span class="c-button--minus">unete@biko2.com</span></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <p>Somos una empresa joven de espíritu, pero con muchos años de rodaje. Llevamos <strong>más de 20 años</strong> en el sector digital (y 10 haciendo Drupal).</p>
        <p>Como a todo el mundo, a veces nos cuesta definirnos, pero de lo que tenemos certeza es de que hacemos <strong>grandes proyectos digitales</strong>. Si de algo podemos presumir es de ser <strong>un equipo súper diverso y multidisciplinar</strong>: contamos con personas centradas en desarrollo, maquetación, consultoría de negocio, consultoría de UX, diseño UI, <em>marketing</em>, periodismo, formación...</p>
        <p>Trabajamos en una <strong>oficina abierta y bastante líquida</strong>. Buscamos personas que quieran desarrollarse profesionalmente con nosotros y no solo para desarrollar un proyecto concreto. De hecho, contamos con grupos de trabajo sobre cuestiones específicas de formación en desarrollo, UX/UI, etc. o planes de idiomas.</p>
        <p>Si aún no conoces Biko, has de saber que <a class="c-link" href="/open-space/" target="_blank">el Open</a> es nuestro evento por excelencia, pero tenemos otros tantos saraos que casi es mejor que te contemos en persona.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-7xl mb-5">¿En qué consiste tu puesto?</h2>
        <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Trabajarás junto al resto de tu equipo en proyectos Drupal, haciendo uso desde lo básico de programación como los coding standards, pasando por los flujos de trabajo, hasta las últimas novedades en Drupal 9.</p>
              <p class="decoration-red pt-2 mb-5">Participarás en todas las dinámicas ágiles de ejecución de los proyectos y en el ciclo completo del desarrollo de software.</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Participarás en la evolución técnica y tecnológica de los proyectos aplicando tu experiencia o aprendizajes que realices en la propia empresa.</p>
              <p class="decoration-red pt-2">Creemos que las personas son lo más valioso para conseguir soluciones excelentes. Por eso, ayudarás en la formación de tus compañeros y en la tuya propia para seguir creciendo mediante charlas, talleres, open spaces, haciendo pair programming, revisiones de código, etc.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
          <h2 class="title-7xl mb-5">¿Y qué sería TOP?</h2>
          <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Inglés técnico medio, y si es nivel alto de conversación, más Top aún.</p>
              <p class="decoration-red pt-2 mb-5">Tener experiencia con metodologías ágiles. Es nuestra manera de trabajar.</p>
              <p class="decoration-red pt-2 mb-5">Conocimientos medio/avanzados sobre <i>git</i>.</p>
              <p class="decoration-red pt-2 mb-5">Dominar buenas prácticas de desarrollo, como inyección de dependencias, patrones, principios Solid, Clean Code, etc.</p>
              <p class="decoration-red pt-2 mb-5">Experiencia en Behavior Driven Development (BDD) y Test Driven Development (TDD).</p>
              <p class="decoration-red pt-2 mb-5">Conocimiento de React y TypeScript o alguna otra tecnología JavaScript (Vue.js, Angular, etc.).</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">MySQL/MariaDB: nociones sobre rendimiento, y SQL.</p>
              <p class="decoration-red pt-2 mb-5">Conocimiento de Symfony.</p>
              <p class="decoration-red pt-2 mb-5">Contribuciones en Drupal.org.</p>
              <p class="decoration-red pt-2 mb-5">Interés por el Software Libre.</p>
              <p class="decoration-red pt-2 mb-5">Perfiles en la red que nos aporten información sobre ti, como cuentas en GitHub, Drupal.org, etc.</p>
              <p class="decoration-red pt-2">Titulación técnica.</p>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <h2 class="title-7xl mb-5">¿Qué ofrecemos?</h2>
        <div class="row">
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Un sueldo entre 24.000€ y 30.000€, dependiendo de lo que puedas aportar. (Si estás fuera de este rango pero te interesa trabajar en Biko, no te cortes y cuéntanoslo también).</p>
              <p class="decoration-red pt-2 mb-5">Horario flexible de entrada y salida. La única regla es que cumplas con tus horas, aunque tú decides cómo las encajas.</p>
          </div>
          <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="decoration-red pt-2 mb-5">Ofrecemos la posibilidad de trabajar en remoto, aunque lo ideal es que primero nos conozcamos personalmente.</p>
              <p class="decoration-red pt-2">Un ambiente enriquecedor y diverso, donde desarrollarte como profesional, como persona y con unos compañeros y compañeras muy majetes.</p>
          </div>
        </div>
        <p class="text-center">¿Te gusta la oferta? Pues mándanos tu CV, estamos deseando conocerte.</p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center text-center">
      <a class="c-button p-oferta-hero__button" href="https://mail.google.com/mail/?view=cm&fs=1&to=unete@biko2.com" target="_blank">Inscribirse <br /><span class="c-button--minus">unete@biko2.com</span></a>
      <a class="c-link" href="/unete-a-biko/" title="Volver al listado de ofertas">Ver todas las ofertas</a>
    </div>
  </div>
</section>

{% include "@includes/contact.twig" %}

{% endblock %}
