  <section id="muy-top">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">
            ¿Qué pedimos?
          </h2>
          <h3 class="title-4xl mb-5">
            Esto sería muy TOP
          </h3>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
               <strong> Inglés técnico medio</strong>, y si es nivel <strong>alto de conversación</strong>, más
                Top aún.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                Tener experiencia con <strong>metodologías ágiles</strong>. Es nuestra manera de
                trabajar.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                Conocimientos medio/avanzados sobre <i>git</i>.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                Dominar <strong>buenas prácticas de desarrollo</strong>, como inyección de
                dependencias, patrones, principios Solid, Clean Code, etc.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                Experiencia en <strong>Behavior Driven Development</strong> (BDD) y <strong>Test Driven
                Development</strong> (TDD).
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-lg-0">
                Conocimiento de<strong> React </strong>y <strong>TypeScript</strong> o alguna otra tecnología
                JavaScript (Vue.js, Angular, etc.).
              </p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
               <strong> MySQL/MariaDB:</strong> nociones sobre rendimiento, y SQL.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                Conocimiento de <strong>Symfony</strong>.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                <strong>Contribuciones en Drupal.org</strong>.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                Interés por el <strong>Software Libre</strong>.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">
                <strong>Perfiles en la red</strong> que nos aporten información sobre ti, como
                cuentas en GitHub, Drupal.org, etc.
              </p>
              <p class="u-decoration-red pt-2 text-base line-base mb-0">
                <strong>Titulación técnica.</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">La lista de los deseos</span>
          </div>
        </div>
      </div>
    </div>
  </section>