  <section id="tu-puesto" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">
            ¿Qué harás?
          </h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="u-decoration-red pt-2 mb-5">
                Trabajarás junto al resto de tu equipo en proyectos Drupal,
                haciendo uso desde lo básico de programación como los <strong>coding
                standards</strong>, pasando por los <strong>flujos de trabajo</strong>, hasta las últimas
                novedades en <strong>Drupal 9</strong>.
              </p>
              <p class="u-decoration-red pt-2 mb-5">
                Participarás en todas las <strong>dinámicas ágiles de ejecución</strong> de los
                proyectos y en el <strong>ciclo completo</strong> del desarrollo de software.
              </p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6 mb-4">
              <p class="u-decoration-red pt-2 mb-5">
                Participarás en la <strong>evolución técnica y tecnológica</strong> de los
                proyectos aplicando tu experiencia o aprendizajes que realices
                en la propia empresa.
              </p>
              <p class="u-decoration-red pt-2">
                Creemos que <strong>las personas son lo más valioso</strong> para conseguir
                soluciones excelentes. Por eso, ayudarás en la formación de tus
                compañeros y en la tuya propia para seguir creciendo mediante
                charlas, talleres, open spaces, haciendo pair programming,
                revisiones de código, etc.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>