{% extends "@layouts/page.twig" %}
{% block page %}

<section class="p-404-rocket c-bg-rocket">
<div class="container">
  <div class="row">
    <div class="col-12 col-md-9 col-lg-7">
      <h1>Error <strong>404</strong></h1>
      <p class="c-title--sub">(parece que esta página no existe)</p>
    </div>
  </div>
</div>
</section>


<section class="c-hero">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="js-hero">Si estás perdido, <a href="/#que" class="c-link">nosotros</a> podemos ayudarte con tu <a href="/#proyectos" class="c-link">proyecto</a> y con (muchas) otras <a href="/#BikoInsights" class="c-link">cosas</a> diferentes.</h1>
      </div>
    </div>
  </div>
</section>


<div class="c-separator--line"><hr></div>

<div class="d-flex justify-content-center pb-3 pb-lg-6">
  <a class="c-button" href="/">Volver a la Home</a>
</div>

{% endblock %}
