{# ----- UNETE ----- #}
{% extends "_layouts/page.twig" %}
{% block page %}

<section class="c-hero">
  <div class="p-unete-hero__container">

    <div class="c-grid-image--right">
      <img data-src="/assets/images/parte-del-equipo-biko.jpg" class="lazyload" alt="Bikonianos en un taller" />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9 col-lg-7">
          <h1>Bienvenido/a <br /><strong>a bordo</strong></h1>
          <p class="c-title--sub">(te estábamos esperando)</p>
        </div>

        <div class="col-12 offset-md-1 col-md-6">
          <h2 class="c-title--pre">Es oficial: ya eres bikoniano/a. <br />Seguro que no tienes muy claro qué significa eso, pero vamos a intentar ayudarte con una guía rápida sobre ciertas cosas que viene bien saber en tus primeros pasos en la oficina.</h2>
          <p class="c-title--pre">¡Vamos a ello!</p>

          <div class="c-separator--icon">
            <a class="c-separator--icon__animated" href="#que">
              <svg width="13px" height="42px" viewBox="0 0 13 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-714.000000, -854.000000)" fill="#000000">
                    <g>
                      <path d="M737.811652,873.75 L734.022242,869.966495 L735.240635,868.75 L741.25,874.75 L735.240635,880.75 L734.022242,879.533505 L737.811652,875.75 L699.75,875.75 L699.75,873.75 L737.811652,873.75 Z" transform="translate(720.500000, 874.750000) rotate(-270.000000) translate(-720.500000, -874.750000) "></path>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-md-6">
  <div class="container">
    <h2 class="h-extrahuge mb-md-6">¿Cómo será <br /><strong>tu primer día</strong>?</h2>
  </div>

  <div class="">
  {% include "bienvenida/primer-dia.twig" %}
  </div>
</section>

<div class="c-separator--line"><hr></div>

<section class="mb-md-6">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2>Los trajes <br /><strong>para las bodas</strong></h2>
        <p>No existe un estándar sobre el dresscode de Biko. Si ya has pasado por la oficina durante las entrevistas, habrás visto que somos bastante normalitos, cada uno en su estilo. La única petición expresa es que no vengas ni en chándal (aunque puedes preguntar por el mítico del chandal-day), ni de traje.</p>
      </div>
      <div class="col-12 offset-md-1 col-md-5">
        imagen
      </div>
    </div>
  </div>
</section>


<section class="mb-md-6">
  <div class="c-bg-pattern__right">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>Queremos <br /><strong>conocerte mejor</strong></h2>
          <p>El primer día enviamos un email a todo Biko para presentarte. Te pediremos info muy breve sobre tu trayectoria profesional, tus gustos, tus aficiones y un par de fotos. Tranquilo/a, no es un interrogatorio en tercer grado. Se trata de conocerte un poco mejor y, con suerte, ver si reclutan a alguien más para el futbiko.</p>
        </div>
        <div class="col-12 offset-md-1 col-md-5">
          imagen
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mb-md-6">
  <div class="container">
    <div class="row">
      <div class="c-bg-insights">
        <div class="col-9 col-sm-7 col-md-7 col-lg-5 col-xl-4 col-xxl-5">
          <h2>Echa un vistazo <br /><strong>a los Biko Insights</strong></h2>
          <p>El Biko Insights es nuestro <em>paper</em>, un documento que recoge nuestra visión y reflexión sobre las tendencias en el mundo del software y la tecnología de ese año. Ya vamos por la tercera edición, así que no dudes en pedir los ejemplares anteriores pertinentes. Mientras, puedes descargarte el último número. <em>Knock, knock, Neo</em>.</p>
          <a class="c-button gtm-lead-paper" href="/insights" target="_blank">Ver los Biko Insights</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr></div>

<section class="pb-md-6">
  <div class="container">
    <h2 class="h-extrahuge">Y tú,<br /><strong>¿qué nos cuentas?</strong></h2>
    <p class="c-title--sub">(somos todo oídos)</p>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-6">
        <p>Si todavía tienes cualquier duda antes de entrar, puedes enviar un email a tu tutor o pegarle un toque. </p>

        <p class="c-title--pre"><strong>¡Tenemos muchas ganas de que vengas!</strong></p>

      </div>
    </div>
  </div>
</section>

<section class="p-bienvenida-foto">

</section>


{% endblock %}
