<!--Bloque datos-->
<section class="mb-0 bg-gray-light py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-4 mb-lg-0">
        <p class="text-2xl font-700 mb-2">Cliente:</p>
        <p class="mb-4">Fundación Juan March</p>

        <p class="text-2xl font-700 mb-2">Web:</p>
        <a class="c-link" href="https://canal.march.es/es/" target="_blank">Canal March</a>
      </div>
      <div class="col-lg-3 mb-4 mb-lg-0">
        <p class="text-2xl font-700 mb-2">Estrategia:</p>
        <ul class="u-list-clean mb-0">
          <li>Storytelling</li>
          <li class="mb-0">UX</li>
        </ul>
      </div>
      <div class="col-lg-3 mb-4 mb-lg-0">
        <p class="text-2xl font-700 mb-2">Diseño:</p>
        <ul class="u-list-clean mb-0">
          <li>UI</li>
          <li class="mb-0">Diseño Web</li>
        </ul>
      </div>
      <div class="col-lg-3 mb-0">
        <p class="text-2xl font-700 mb-2">Tecnología:</p>
        <ul class="u-list-clean mb-0">
          <li>Drupal</li>
          <li>Solr Web</li>
          <li class="mb-0">React</li>
        </ul>
      </div>
    </div>
  </div>
</section>