
<!--Bloque El Desafio-->
<section id="desafio" class="contenedor-secciones mb-md-5 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title-6xl mb-4">El desafío</h3>
      </div>
      <div class="col-12 col-lg-6">
        <p>El reto no era pequeño. La Fundación quería un portal audiovisual donde se albergaran nada más y nada menos que <strong>1634 vídeos y 4911 audios</strong> de conferencias, conciertos y exposiciones almacenadas en sus archivos desde 1975.</p>
      </div>
      <div class="col-12 col-lg-6">
        <p>Dar cabida a todo el material multimedia, que fuera atractivo visualmente y que tuviera una base potente fueron los objetivos que nos marcamos nada más comenzar el proyecto.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <img data-src="/assets/images/proyectos/canal-march/canal-march1.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Imagen de la obra Suenan los clarines" />
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
        <img data-src="/assets/images/proyectos/canal-march/canal-march2.svg"
          class="lazyload w-100 mb-3 mb-md-0"
          alt="Logotipo de Canal March" />
        <img data-src="/assets/images/proyectos/canal-march/canal-march3.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Extracto de pantalla de la web de Canal March" />
      </div>
    </div>
  </div>
</section>