
<!--Bloque El Desafio-->
<section id="desafio" class="contenedor-secciones mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10">
        <h3 class="title-6xl mb-4">El desafío</h3>
        <p>El reto no era pequeño. La Fundación quería un portal audiovisual donde se albergaran nada más y nada menos que <strong>1634 vídeos y 4911 audios</strong> de conferencias, conciertos y exposiciones almacenadas en sus archivos desde 1975. </p>
        <p>Dar cabida a todo el material multimedia, que fuera atractivo visualmente y que tuviera una base potente fueron los objetivos que nos marcamos nada más comenzar el proyecto.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <img data-src="/assets/images/open-space-2022-07.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Open Space Biko 2022" />
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
        <img data-src="/assets/images/open-space-2022-08.jpg"
          class="lazyload w-100 mb-3 mb-md-0"
          alt="Open Space Biko 2019" />
        <img data-src="/assets/images/open-space-2022-09.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Open Space Biko 2022" />
      </div>
    </div>
  </div>
</section>