<!--Bloque contenido segundo nivel -->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-6 mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div>
          <h4 class="title-4xl line-3xl mb-4">
           La importancia de las taxonomías
          </h4>
          <p>
            Desde Biko pensamos que el principal objetivo era que el usuario se sintiera cómodo investigando en la web, así que junto al departamento de Datalab de la Fundación, etiquetamos todos los vídeos y audios con 9130 tags de su taxonomía.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-xl-6 offset-xl-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/canal-march-proyecto3" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-proyecto3.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-imagenes-montaje">
            <img data-src="/assets/images/proyectos/canal-march-categorias" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-categorias.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque contenido segundo nivel -->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-6 mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 d-flex align-items-center order-md-2 order-xl-1">
        <div>
          <h4 class="title-4xl line-3xl mb-4">
            El buscador
          </h4>
          <p>
            Gracias a la solución de Solr, <strong>el buscador</strong> se ha convertido en una entidad  totalmente funcional y <strong>muy potente</strong>, ayudando a generar una experiencia de  búsqueda completa a través de la barra de búsquedas y las etiquetas.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block order-xl-2">
            <img data-src="/assets/images/proyectos/canal-march-proyecto4" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-proyecto4.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-ml-negativo c-mockup-imagenes-montaje  order-xl-1">
            <img data-src="/assets/images/proyectos/canal-march-explorar" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-explorar.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque contenido segundo nivel -->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div>
          <h4 class="title-4xl line-3xl mb-4">
            El contenido
          </h4>
          <p>
           Pero no solo nos centramos en lo que entra por los ojos. La importancia a la hora de organizar el contenido es vital. Por eso, hemos querido ir un paso más allá generando playlists automáticas y personalizadas con las que hemos interrelacionado todos los contenidos audiovisuales del Canal. Para que si quieres buscar, encuentres. Pero si no, también.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/canal-march-proyecto5
            " class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-proyecto5.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha">
            <img data-src="/assets/images/proyectos/canal-march-tags" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-tags.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
