<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/canal-march-enfoque.jpg" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-enfoque.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>Para poder alcanzar la meta, trabajamos con <strong>Drupal</strong> con una interfaz desacoplada, desarrollada en <strong>React</strong>, lo que nos permitió que la gestión de contenidos fuera fluida y lo más potente posible.</p>
        </div>
      </div>
    </div>
  </div>
</section>