<!--Bloque entradilla-->
<section class="py-5 py-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">El principal objetivo era que el <strong>usuario se sintiera cómodo</strong> investigando en la web. La funcionalidad de las <strong>taxonomías y el buscador</strong>, han sido esenciales para lograr una experiencia completa.</p>
      </div>
    </div>
  </div>
</section>