<!--Bloque frase-->
<section id="frase1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-7 title-slim-6xl u-strong-red">Audio, vídeo, conciertos, series… <strong>un universo de contenido por explorar</strong> apto incluso para los paladares más sibaritas.</p>
      </div>
    </div>
  </div>
</section>