<!--Bloque hero-->
<section id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--canalmarch text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-canal-march.svg" class="mb-3" alt="Logotipo Canal March" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">Canal March</p>-->
          <h1 class="title-hero mb-3">
          El Netflix del arte y la cultura en español
          </h1>
          <p class="font-secondary text-2xl text-lg-3xl color-red-middle mb-5">(alimento para tus neuronas)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10">
              <p class="text-md-2xl line-md-2xl">
               La Fundación Juan March acudió a nosotros con un reto de lo más motivador: construir uno de los <strong>mayores portales audiovisuales </strong>de cultura en español, o como lo han titulado algunos medios “el Netflix para melómanos de amplias miras” o “el Netflix del arte y la cultura de habla español". Así que lo hicimos. Spoiler: salió bien.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>