{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<!--Bloque hero-->
<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--canalmarch text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-canal-march.svg" class="mb-3" alt="Logotipo Canal March" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">Canal March</p>-->
          <h1 class="title-hero mb-4">
          El Netflix del arte y la cultura en español
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(alimento para tus neuronas)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10">
              <p class="text-md-2xl line-md-2xl">
               La Fundación Juan March acudió a nosotros con un reto de lo más motivador: construir uno de los <strong>mayores portales audiovisuales </strong>de cultura en español, o como lo han titulado algunos medios “el Netflix para melómanos de amplias miras” o “el Netflix del arte y la cultura de habla español". Así que lo hicimos. Spoiler: salió bien.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla-->
<section class="mb-4 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">El principal objetivo era que el <strong>usuario se sintiera cómodo</strong> investigando en la web. La funcionalidad de las <strong>taxonomías y el buscador</strong>, han sido esenciales para lograr una experiencia completa.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque datos-->
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Fundación Juan March</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">Storytelling <span class="color-red">+</span> UX</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI <span class="color-red">+</span> Diseño Web</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Drupal <span class="color-red">+</span> Solr <span class="color-red">+</span> React</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://canal.march.es/es/" target="_blank">Canal March</a></div>
          </div>

      </div>
    </div>
  </div>
</section>
<!--Separador-->
<div class="c-separator--line c-separator--line__horizontal" style="overflow: hidden;"><hr /></div>
<!--Bloque El Desafio-->
<section id="desafio" class="contenedor-secciones mb-md-7 mb-lg-5 mb-xl-3">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/canal-march-desafio.jpg" class="lazyloaded" alt="Imagen Web Canal March" src="/assets/images/proyectos/canal-march-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <h3 class="title-6xl mb-4">El desafío</h3>
        <p>El reto no era pequeño. La Fundación quería un portal audiovisual donde se albergaran nada más y nada menos que <strong>1634 vídeos y 4911 audios</strong> de conferencias, conciertos y exposiciones almacenadas en sus archivos desde 1975. </p>
        <p>Dar cabida a todo el material multimedia, que fuera atractivo visualmente y que tuviera una base potente fueron los objetivos que nos marcamos nada más comenzar el proyecto.</p>
      </div>
    </div>
  </div>
</section>

<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/canal-march-enfoque.jpg" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-enfoque.jpg">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>Para poder alcanzar la meta, trabajamos con <strong>Drupal</strong> con una interfaz desacoplada, desarrollada en <strong>React</strong>, lo que nos permitió que la gestión de contenidos fuera fluida y lo más potente posible.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque frase-->
<section id="frase1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-7 title-slim-6xl u-strong-red">Audio, vídeo, conciertos, series… <strong>un universo de contenido por explorar</strong> apto incluso para los paladares más sibaritas.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque contenido segundo nivel -->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-6 mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div>
          <h4 class="title-4xl line-3xl mb-4">
           La importancia de las taxonomías
          </h4>
          <p>
            Desde Biko pensamos que el principal objetivo era que el usuario se sintiera cómodo investigando en la web, así que junto al departamento de Datalab de la Fundación, etiquetamos todos los vídeos y audios con 9130 tags de su taxonomía.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-xl-6 offset-xl-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/canal-march-proyecto3" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-proyecto3.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-imagenes-montaje">
            <img data-src="/assets/images/proyectos/canal-march-categorias" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-categorias.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque contenido segundo nivel -->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row mb-6 mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 d-flex align-items-center order-md-2 order-xl-1">
        <div>
          <h4 class="title-4xl line-3xl mb-4">
            El buscador
          </h4>
          <p>
            Gracias a la solución de Solr, <strong>el buscador</strong> se ha convertido en una entidad  totalmente funcional y <strong>muy potente</strong>, ayudando a generar una experiencia de  búsqueda completa a través de la barra de búsquedas y las etiquetas.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block order-xl-2">
            <img data-src="/assets/images/proyectos/canal-march-proyecto4" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-proyecto4.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-ml-negativo c-mockup-imagenes-montaje  order-xl-1">
            <img data-src="/assets/images/proyectos/canal-march-explorar" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-explorar.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque contenido segundo nivel -->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div>
          <h4 class="title-4xl line-3xl mb-4">
            El contenido
          </h4>
          <p>
           Pero no solo nos centramos en lo que entra por los ojos. La importancia a la hora de organizar el contenido es vital. Por eso, hemos querido ir un paso más allá generando playlists automáticas y personalizadas con las que hemos interrelacionado todos los contenidos audiovisuales del Canal. Para que si quieres buscar, encuentres. Pero si no, también.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/canal-march-proyecto5
            " class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-proyecto5.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha">
            <img data-src="/assets/images/proyectos/canal-march-tags" class="lazyloaded u-img-fluid" alt="Canal March" src="/assets/images/proyectos/canal-march-tags.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red"><strong>Hemos incluido herramientas en la propia gestión de contenidos</strong> que permiten la máxima personalización en función de los dispositivos de los usuarios.</p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
              Para la gestión general de la web y en particular de todos los contenidos
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
                  {{svgSprite('solr')}}
          </div>
          <div>
           <h4 class="title-2xl decoration-red pt-2 mb-3">
              Solr
           </h4>
             <p>
               Gracias a la solución de Solr, el buscador se ha convertido en una entidad  totalmente funcional y muy potente
             </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              React
            </h4>
            <p>
              Trabajamos con una interfaz desacoplada, desarrollada en React
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p>
            Hemos logrado que <strong>Canal March</strong> se convierta en un site en el que dejarte <strong>envolver por la cultura en todas sus expresiones</strong>. Donde es posible navegar y sumergirse en una cantidad ingente de vídeos, audios y exposiciones. Donde poder buscar y encontrar material cultural con una apariencia actual y moderna. En definitiva, una plataforma donde el usuario tiene a su alcance <strong>cultura, entretenimiento y educación</strong>.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/canal-march-producto-final-1" class="lazyloaded u-img-fluid" alt="Pantalla diseño Canal March" src="/assets/images/proyectos/canal-march-producto-final-1.jpg">
      </div>
    </div>
  </div>
</section>

<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-md-2xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://canal.march.es/es/" target="_blank"><span class="c-link"> Canal March</span></a></p>
      </div>
    </div>
  </div>
</section>


{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
