<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red"><strong>Hemos incluido herramientas en la propia gestión de contenidos</strong> que permiten la máxima personalización en función de los dispositivos de los usuarios.</p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
              Para la gestión general de la web y en particular de todos los contenidos
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
                  {{svgSprite('solr')}}
          </div>
          <div>
           <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              Solr
           </h4>
             <p>
               Gracias a la solución de Solr, el buscador se ha convertido en una entidad  totalmente funcional y muy potente
             </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              React
            </h4>
            <p>
              Trabajamos con una interfaz desacoplada, desarrollada en React
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>