// Colors
$red: #E73F39;
$redstrong: #AD2F2B;
$red-middle: #ED6F6B;//F39F9C
$red-light: #F9CFCE;
$red-extralight: rgba(231, 63, 57, 0.05);
$black: #000;
$black-soft: #111;
$gray-extradark: #4E5C65;
$gray: #999;
$gray-dark: #666;
$gray-light: #DDE4E9;
$white: #ffffff;
$blue: #22223C;
$blue-ligth: rgba(19, 38, 49, 0.1);
$blue-soft: #899398;
