// Bootstrap breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xlg: 1120px,
  xl: 1200px,
  xxl: 1400px,
  xxll: 1570px,
  xxlll: 1700px,
  xxxl: 1900px,
  hero: 2300px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xlg: 1120px,
  xl: 1140px,
  xxl: 1340px,
  xxll: 1570px,
  xxlll: 1700px,
);
