{% extends "@layouts/html.twig" %}
{% block body %}
{% include "@includes/email-ok.twig" %}
{% include "@includes/insights-ok.twig" %}
{% include "@includes/open-ok.twig" %}
{% include "@includes/sugerencia-ok.twig" %}
{% include '@includes/site-header.twig' %}

<div id="main-wrapper">

  {% block page %}

  {% endblock %}
  {% include '@includes/site-footer.twig' %}
</div>


{% endblock %}