 {% extends "@layouts/html.twig" %}
 {% block body %}
    {% include "@includes/email-ok.twig" %}
    {% include "@includes/insights-ok.twig" %}
    {% include '@includes/site-header.twig' %}
    
    <div id="main-wrapper">

      {% block page %}

      {% endblock %}
    </div>

    {% include '@includes/site-footer.twig' %}
 {% endblock %}s
