<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="c-texto--center">
          <h2 class="title-7xl mb-4">
            ¿Tienes alguna duda sobre este proyecto?<br>¿Te gustaría ver otros similares?
          </h2>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
