<!--<div class="c-separator--line c-separator--line__horizontal mb-4 mt-0"><hr /></div>-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <div>
          <svg width="43" height="12" viewBox="0 0 43 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00937 12L5.24537e-07 6L6.00937 -3.23382e-06L7.22775 1.21649L3.439 5L43 5L43 7L3.43799 7L7.22775 10.7835L6.00937 12ZM2.93799 6.5L2.93799 5.5L2.4368 6L2.93799 6.5Z" fill="#22223C" class="svg-elem-1"></path>
            </g>
          </svg>
          <a href="/proyectos#listado-proyectos" alt="Volver a la página de proyectos" class="ml-4">
            <span class="c-link-especial text-uppercase color-blue text-sm letter-base font-400">
              Volver al listado
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="c-bg-big py-5 py-md-7">
  <div class="container bg-white p-4 p-md-5">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="c-texto--center">
          <h2 class="title-6xl mb-4">
            ¿Tienes alguna duda sobre este proyecto o querrías ver otros similares?
          </h2>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
        
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto"
              href="https://www.getdrip.com/forms/740822926/submissions/new"
              target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
