{# ----- PROYECTOS ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyectos__hero" id="top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10">
        <h1 class="title-hero mb-4 text-left">
            Tenemos más motivación que 50 tazas de desayuno juntas
        </h1>
        <p class="font-secondary text-3xl color-red mb-4 text-left">(pero sabemos que eso no basta para convencerte)</p>
      </div>
      <div class="col-12 text-left">
        <div class="row">
          <div class="col-lg-5">
            <p class="text-2xl">Nuestros proyectos son nuestra seña de identidad. Cada uno de ellos es distinto, pero todos tienen en común las ganas que les echamos.</p>
          </div>
          <div class="col-lg-5">
            <p class="text-2xl">Si quieres conocernos un poco más, lo mejor es que veas qué hemos hecho.</p>
          </div>
        </div>
        <div class="c-separator--icon">
          <a class="c-separator--icon__animated" href="#que">
            <svg width="13px" height="42px" viewBox="0 0 13 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-714.000000, -854.000000)" fill="#000000">
                  <g>
                    <path d="M737.811652,873.75 L734.022242,869.966495 L735.240635,868.75 L741.25,874.75 L735.240635,880.75 L734.022242,879.533505 L737.811652,875.75 L699.75,875.75 L699.75,873.75 L737.811652,873.75 Z" transform="translate(720.500000, 874.750000) rotate(-270.000000) translate(-720.500000, -874.750000) "></path>
                  </g>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "@base/proyectos/proyecto-destacado.twig" %}

<section class="c-filtrado">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-7xl mb-4">Más proyectos interesantes</h2>
      </div>
    </div>
  <div class="c-filtrado__container">
    <div class="container">
      {% include "@base/proyectos/proyecto-filtrado.twig" %}
    </div>
  </div>
</section>

<div class="c-separator--line"><hr /></div>

<section id="contactar" class="c-bg-pattern__right mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div>
      <div class="c-icon-square mb-4 mb-md-5">
        {{svgSprite('talk')}}
      </div>

      <h2 class="title-7xl mb-4 text-left">Tenemos que hablar</h2>
        <p class="font-secondary text-3xl color-red mb-4 text-left">(tranquilo/a, lo nuestro tiene mucho futuro)</p>
      </div>

    </div>
  </div>
  <div class="container mb-0">
    <div class="row">
        <div class="mb-4">
          <div class="row">
            <div class="col-lg-6">
                <p class="">Sabemos que ganamos en las distancias cortas, así que podemos tomarnos un café, hacer una videollamada o, simplemente, charlar por teléfono. Puedes escribirnos o llamarnos para preguntarnos lo que sea, solicitar información o conocernos en persona. </p>
            </div>
            <div class="col-lg-6">
                <p>Tenemos el don de la ubicuidad, así que podemos desplazarnos donde nos indiques sin ningún problema.</p>
            </div>
          </div>
        </div>
        <div>
          <div class="d-flex" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
  </div>
</section>

<div class="container d-flex flex-row justify-content-center py-6">
    <a class="action-up color-blue d-flex flex-column align-items-center decoration-none" href="#top">
        <svg class="icon-up mb-4">
            <use xlink:href="/assets/svg/sprite/sprite.svg#arrow-slim"></use>
        </svg>
        <span class="text-uppercase color-blue text-sm letter-base font-400">Subir</span>
    </a>
</div>

{% include "@includes/contact.twig" %}



{% endblock %}
