{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<div class="c-separator--line"><hr /></div>

<h1 class="text-center">PROYECTOS</h1>

<div class="c-separator--line"><hr /></div>
<div class="c-separator--line"><hr /></div>
<div class="c-separator--line"><hr /></div>

{% endblock %}
