{# ----- PROYECTOS ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero c-hero--max">

  <div class="c-grid-image--right mb-2 mb-md-0">
    <img data-src="/assets/images/proyectos-taza.jpg" class="lazyload" alt="Taza motivadora" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7">
        <h1>Tenemos &nbsp;<br /><strong>más motivación</strong> que 50 tazas de desayuno juntas</h1>
        <p class="c-title--sub">(pero nunca es suficiente)</p>
      </div>

      <div class="col-12 offset-md-1 col-md-6">
        <p class="c-title--pre">In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Vivamus in erat ut urna cursus vestibulum. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.</p>
        <p class="c-title--pre"><strong>Son nuestros proyectos los que mejor hablan de nosotros.</strong></p>
      </div>
    </div>
  </div>
</section>


<section class="c-bg-pattern__right py-md-4 py-lg-7 pb-5">
  <div class="p-proyectos__destacado">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3 offset-md-1 col-lg-2 offset-lg-4 col-xl-2 offset-xl-5 order-md-1">
          <a href="https://www.webbyawards.com/winners/2018/websites/general/cultural-institutions/rethinking-guernica/" class="d-block mb-3 mb-md-3"><img data-src="/assets/images/webby.png" class="lazyload" alt="2018 Webby Winner" /></a>
        </div>
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 order-md-0">
          <h2 class="h-extrahuge"><strong>Repensar Guernica</strong></h2>
          <p class="c-title--pre"><strong>Un proyecto ganador de un Webby</strong></p>
          <p>Cómo construir un hogar digital a la altura para una de las obras más emblemáticas del arte español.</p>
          <a class="c-button c-button--outline--white mt-4" href="/proyectos/repensar-guernica">Ver detalles del proyecto</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mb-7 mb-0 pt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="h-extrahuge text-center">Más <strong>proyectos</strong> interesantes</h2>
      </div>
    </div>

    <p class="c-title--cross text-center my-md-5"><span>Puedes filtrar los proyectos por <strong>tecnología</strong> o por <strong>sector</strong>, tú eliges.</span></p>

    <div class="c-filtrado__header">
      <a href="#" class="c-filtrado__tecno">Drupal</a>
      <a href="#" class="c-filtrado__tecno active">React</a>
      <a href="#" class="c-filtrado__tecno">JAMstack</a>
      <a href="#" class="c-filtrado__tecno">Consultoría</a>
      <span class="c-filtrado__space"></span>
      <a href="#" class="c-filtrado__tipo">Seguros</a>
      <a href="#" class="c-filtrado__tipo">Museos</a>
      <a href="#" class="c-filtrado__tipo">Ecommerce</a>
      <a href="#" class="c-filtrado__tipo">Institucional</a>
    </div>
  </div>

  <div class="c-filtrado__container">
    <div class="container">

      <div class="c-filtrado__list">
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
        <a href="#" class="c-filtrado__item">
          <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
          <span>Museos</span>
        </a>
      </div>

    </div>
  </div>
</section>

<div class="c-separator--line d-none d-md-block"><hr /></div>

<section class="p-home__insights p-proyectos__contacto">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-11 col-md-12 col-lg-10">
          <div class="c-icon-square">
            {{svgSprite('talk')}}
          </div>
        <h2 class="h-extrahuge">Tenemos&nbsp;<br />que <strong>hablar</strong></h2>
        <p class="c-title--sub">(lo nuestro tiene futuro)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-8 col-lg-6">
        <p class="c-title--pre">Si a estas alturas no te hemos enamorado, quizá podamoas tomarnos un café. Para bien o para mal, ganamos en las distancias cortas.</p>
        <p>Puedes escribirnos o llamarnos para preguntarnos lo que sea, solicitar información o conocernos en persona. Tenemso el don de la ubicuidad, así que podemos desplazarnos donde nos indiques sin ningún problema.</p>

        <a class="c-button" href="#">¿Te llamamos?</a>
      </div>
    </div>
  </div>
</section>

{% include "@includes/contact.twig" %}


{% endblock %}
