{# ----- PROYECTOS ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero c-hero--max contenedor-secciones-hero">

  <div class="c-grid-image--right mb-2 mb-md-0">
    <img data-src="/assets/images/proyectos-taza.jpg" class="lazyload" alt="Taza motivadora" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-7">
        <h1 class="title-hero mb-5 mb-lg-4 mb-xl-5 text-left">
            Tenemos más motivación que 50 tazas de desayuno juntas
        </h1>

        <p class="font-secondary text-3xl color-red mb-4 mb-md-5">(pero sabemos que eso no basta para convencerte)</p>
      </div>

      <div class="col-12 col-md-10 col-lg-7">
        <p class="text-2xl">Nuestros proyectos son nuestra seña de identidad. Cada uno de ellos es distinto, pero todos tienen en común las ganas que les echamos.</p>
        <p class="text-2xl"><strong>Si quieres conocernos un poco más, lo mejor es que veas qué hemos hecho.</strong></p>
      </div>
    </div>
  </div>
</section>


{% include "@base/proyectos/proyecto-destacado.twig" %}


<section class="c-filtrado mb-7 mb-0 pt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-7xl mb-4">Más proyectos interesantes</h2>
      </div>
    </div>
  <div class="c-filtrado__container">
    <div class="container">
      {% include "@base/proyectos/proyecto-filtrado.twig" %}
    </div>
  </div>
</section>

<div class="c-separator--line d-none d-md-block"><hr /></div>

<section class="mb-7">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
          <!--<div class="c-icon-square mb-5">
            {{svgSprite('talk')}}
          </div>-->
      <h2 class="title-7xl mb-4 text-center">Tenemos&nbsp; que hablar</h2>
        <p class="font-secondary text-3xl color-red mb-4 mb-md-5 text-center">(tranquilo/a, lo nuestro tiene mucho futuro)</p>
      </div>

    </div>
  </div>
  <div class="container mb-0">
    <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="row">
            <div class="col-lg-6 pr-4">
                <p class="text-base line-base">Sabemos que ganamos en las distancias cortas, así que podemos tomarnos un café, hacer una videollamada o, simplemente, charlar por teléfono.</p>
            </div>
            <div class="col-lg-6">
                <p class="text-base line-base mb-5">Puedes escribirnos o llamarnos para preguntarnos lo que sea, solicitar información o conocernos en persona. Tenemos el don de la ubicuidad, así que podemos desplazarnos donde nos indiques sin ningún problema.</p>
            </div>
          </div>
        </div>
        <div class="col-md-10 offset-md-1">
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button c-button-rounded c-button-rounded--primary gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
  </div>
</section>

<div class="c-separator--line d-none d-md-block"><hr /></div>

{% include "@includes/contact.twig" %}



{% endblock %}
