{# ----- PROYECTOS ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero c-hero--max">

  <div class="c-grid-image--right mb-2 mb-md-0">
    <img data-src="/assets/images/proyectos-taza.jpg" class="lazyload" alt="Taza motivadora" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7">
        <h1>Tenemos &nbsp;<br /><strong>más motivación</strong> que 50 tazas de desayuno juntas</h1>
        <p class="c-title--sub">(pero nunca es suficiente)</p>
      </div>

      <div class="col-12 offset-md-1 col-md-6">
        <p class="c-title--pre">In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Vivamus in erat ut urna cursus vestibulum. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.</p>
        <p class="c-title--pre"><strong>Son nuestros proyectos los que mejor hablan de nosotros.</strong></p>
      </div>
    </div>
  </div>
</section>


{% include "@base/proyectos/proyecto-destacado.twig" %}


<section class="mb-7 mb-0 pt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="h-extrahuge text-center">Más <strong>proyectos</strong> interesantes</h2>
      </div>
    </div>

    <p class="c-title--cross text-center my-md-5"><span>Puedes filtrar los proyectos por <strong>tecnología</strong> o por <strong>sector</strong>, como quieras.</span></p>

    <div class="c-filtrado__header">
      <a href="#" class="c-filtrado__filter c-filtrado__filter--tecno">Drupal</a>
      <a href="#" class="c-filtrado__filter c-filtrado__filter--tecno c-filtrado__filter--active">React</a>
      <a href="#" class="c-filtrado__filter c-filtrado__filter--tecno">JAMstack</a>
      <a href="#" class="c-filtrado__filter c-filtrado__filter--tecno">Consultoría</a>
      <span class="c-filtrado__space"></span>
      <a href="#" class="c-filtrado__filter c-filtrado__filter--tipo">Seguros</a>
      <a href="#" class="c-filtrado__filter c-filtrado__filter--tipo">Museos</a>
      <a href="#" class="c-filtrado__filter c-filtrado__filter--tipo">Ecommerce</a>
      <a href="#" class="c-filtrado__filter c-filtrado__filter--tipo">Institucional</a>
    </div>
  </div>

  <div class="c-filtrado__container">
    <div class="container">
      {% include "@base/proyectos/proyecto-filtrado.twig" %}
    </div>
  </div>
</section>

<div class="c-separator--line d-none d-md-block"><hr /></div>

<section class="p-home__insights p-proyectos__contacto">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-11 col-md-12 col-lg-10">
          <div class="c-icon-square">
            {{svgSprite('talk')}}
          </div>
        <h2 class="h-extrahuge">Tenemos&nbsp;<br />que <strong>hablar</strong></h2>
        <p class="c-title--sub">(lo nuestro tiene futuro)</p>
      </div>
      <div class="col-12 offset-md-1 col-md-8 col-lg-6">
        <p class="c-title--pre">Si a estas alturas no te hemos enamorado, quizá podamoas tomarnos un café. Para bien o para mal, ganamos en las distancias cortas.</p>
        <p>Puedes escribirnos o llamarnos para preguntarnos lo que sea, solicitar información o conocernos en persona. Tenemso el don de la ubicuidad, así que podemos desplazarnos donde nos indiques sin ningún problema.</p>

        <a class="c-button" href="#">¿Hablamos?</a>
      </div>
    </div>
  </div>
</section>

{% include "@includes/contact.twig" %}


{% endblock %}
