<div class="c-filtrado__list">
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item c-filtrado__item--disable">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item c-filtrado__item--active">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item c-filtrado__item--disable">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item c-filtrado__item--disable">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item c-filtrado__item--active">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
</div>
