<div class="c-filtrado__list">
  <a href="#" class="c-filtrado__item" data-categorias="drupal consultoria">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="drupal">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="consultoria">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="jamstack">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="react" data-categorias="jamstack">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item"data-categorias="jamstack seguros">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="jamstack">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="seguros">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="jamstack">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="drupal museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="drupal museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
</div>
