<div class="c-filtrado__list">
  <a href="repensar-guernica" class="c-filtrado__item" data-categorias="drupal consultoria">
    <img src="/assets/images/proyectos/logos/logo-reina-sofia.png" alt="Logotipo Museo Reina Sofia" />
  </a>
  <a href="thyssen" class="c-filtrado__item" data-categorias="jamstack">
    <img src="/assets/images/proyectos/logos/logo-thyssen.png" alt="Logotipo Museo Thyssen" />
  </a>
  <a href="helvetia" class="c-filtrado__item" data-categorias="drupal">
    <img src="/assets/images/proyectos/logos/logo-helvetia.png" alt="Logotipo Helvetia Seguros" />
  </a>
  <a href="rodilla" class="c-filtrado__item" data-categorias="consultoria">
    <img src="/assets/images/proyectos/logos/logo-rodilla.png" alt="Logotipo Rodilla" />
  </a>
  <a href="laboral-kutxa" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/logo-lk.png" alt="Logotipo Lk" />
  </a>
  <a href="aecc" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/logo-aecc.png" alt="Logotipo AECC" />
  </a>
  <a href="mark-maddox" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/loggo-mark-maddox.png" alt="Logotipo Mark Maddox" />
  </a>
  <a href="divina-pastora" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/loggo-divina-pastora.png" alt="Logotipo Divina Pastora" />
  </a>
  <a href="aecc" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/logo-dkv.png" alt="Logotipo DKV" />
  </a>
  <a href="aecc" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/logo-salesland.png" alt="Logotipo Salesland" />
  </a>
</div>
