<section class="p-proyecto__similar c-bg-pattern__right pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 text-center">
          <div class="c-icon-square mb-3">
            {{svgSprite('heart')}}
          </div>
        <h2 class="h-extrahuge">¿Estás pensando en un <strong>proyecto similar</strong>?</h2>
        <p class="c-title--pre mb-5">Curabitur at lacus ac velit ornare lobortis. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Vestibulum suscipit nulla quis orci.</p>
        <a class="c-button gtm-help" href="#contacto">Hablamos cuando quieras</a>
      </div>
    </div>
  </div>
</section>
