<section class="c-bg-pattern__right mb-7" id="proyecto-destacado">
  <div class="p-proyectos__destacado">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3 offset-md-1 col-lg-2 offset-lg-4 col-xl-2 offset-xl-5 order-md-1">
          <a href="https://canal.march.es/es/" alt="Imagen de promocion de Canal March" class="d-block mb-3 mb-md-3"><img data-src="/assets/images/cmarch.png" class="lazyload" alt="Canal March" /></a>
        </div>
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 order-md-0">
          <h2 class="title-7xl mb-2">Canal March</h2>
          <p class="text-2xl">El Netflix del arte y la cultura en español</p>
          <p class="mb-6">Audio, vídeo, conciertos, series… un universo de contenido por explorar apto incluso para los paladares más sibaritas.</p>
          <a class="c-button c-button--outline--white" href="/proyectos/canal-march" alt="Acceso a ficha del caso de éxito Canal March">Ver detalles del proyecto</a>
        </div>
      </div>
    </div>
  </div>
</section>
