<section class="p-proyecto__similar c-bg-pattern__right pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 text-center">
          <div class="c-icon-square mb-3">
            {{svgSprite('idea')}}
          </div>
        <h2 class="h-extrahuge">¿Estás pensando en un <strong>proyecto similar</strong>?</h2>
        <p class="c-title--pre mb-5">Si necesitas llevar a cabo un proyecto parecido, necesitas ayuda con una idea o quieres saber un poco más acerca de los servicios que podemos ofrecerte, escríbenos. Estaremos encantados de poder ayudarte.</p>
        <div class="d-flex justify-content-center" data-drip-show-form="740822926">
          <a class="c-button gtm-lead-proyecto" href="https://www.getdrip.com/forms/740822926/submissions/new" target="_blank">Contacta con nosotros</a>
        </div>
      </div>
    </div>
  </div>
</section>
