<div class="c-filtrado__list">
    <a href="oxford" class="c-filtrado__item" data-categorias=" ">
     <img src="/assets/images/proyectos/logos/logo-oxford.svg" alt="Logotipo de Oxford" />
    </a>
    

    <a href="nationale-nederlanden" class="c-filtrado__item" data-categorias=" ">
     <img src="/assets/images/proyectos/logos/logo-nationale-nederlanden.svg" alt="Logotipo de Nationale-Nederlanden" />
    </a>

    <a href="contra-archivos" class="c-filtrado__item" data-categorias=" ">
     <img src="/assets/images/proyectos/logos/logo-contra-archivos-museo-reina-sofia.svg" alt="Logotipo de Museo Reina Sofía y Contra Archivos (im)posibles" />
    </a>


    <a href="escuela-superior-reina-sofia" class="c-filtrado__item" data-categorias=" ">
     <img src="/assets/images/proyectos/logos/logo-escuela.svg" alt="Logotipo de Escuela Superior de Música Reina Sofía" />
    </a>

    <a href="economia-circular" class="c-filtrado__item" data-categorias=" ">
     <img src="/assets/images/proyectos/logos/logo-economia-circular.svg" alt="Logotipo de Economía Circular de Castilla La Mancha" />
    </a>


    <a href="educo" class="c-filtrado__item" data-categorias=" ">
     <img src="/assets/images/proyectos/logos/logo-educo.svg" alt="Logotipo Educo" />
    </a>

     <a href="unicaja-banco" class="c-filtrado__item" data-categorias="react">
     <img src="/assets/images/proyectos/logos/logo-unicaja.svg" alt="Logotipo Unicaja Banco" />
    </a>

    <a href="macba" class="c-filtrado__item" data-categorias="drupal">
     <img src="/assets/images/proyectos/logos/logo-macba.svg" alt="Logotipo Museo de Arte Contemporáneo de Barcelona - MACBA" />
    </a>

    <a href="rae" class="c-filtrado__item" data-categorias="drupal">
     <img src="/assets/images/proyectos/logos/logo-rae.svg" alt="Logotipo Real Academia Española" />
    </a>

    <a href="canal-march" class="c-filtrado__item" data-categorias="drupal react">
      <img src="/assets/images/proyectos/logos/logo-canal-march.svg" alt="Logotipo Canal March" />
    </a>

    <a href="repensar-guernica" class="c-filtrado__item" data-categorias="drupal consultoria">
      <img src="/assets/images/proyectos/logos/logo-repensar-guernica.svg" alt="Logotipo Repensar Guernica" />
    </a>

    <a href="aecc" class="c-filtrado__item" data-categorias="react">
      <img src="/assets/images/proyectos/logos/logo-aecc.svg" alt="Logotipo AECC" />
    </a>

      <a href="unicef" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-unicef.svg" alt="Logotipo Unicef" />
    </a>

    <a href="museo-reina-sofia" class="c-filtrado__item" data-categorias="react">
      <img src="/assets/images/proyectos/logos/logo-museo-nacional-centro-de-arte-reina-sofia.svg" alt="Logotipo Museo Reina Sofia" />
    </a>

    <a href="thyssen" class="c-filtrado__item" data-categorias="jamstack">
      <img src="/assets/images/proyectos/logos/logo-thyssen.svg" alt="Logotipo Museo Thyssen" />
    </a>

   <a href="lagun-aro" class="c-filtrado__item" data-categorias="">
      <img src="/assets/images/proyectos/logos/logo-lagun-aro.svg" alt="Lagun Aro Logotipo" />
    </a>

    <a href="isdi" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-isdi.svg" alt="Logotipo Isdi" />
    </a>

    <a href="helvetia-suiza" class="c-filtrado__item" data-categorias="react">
     <img src="/assets/images/proyectos/logos/logo-helvetia-g.svg" alt="Helvetia Suiza Logotipo" />
    </a>

    <a href="laboral-kutxa" class="c-filtrado__item" data-categorias="react">
      <img src="/assets/images/proyectos/logos/logo-laboral-kutxa.svg" alt="Logotipo Lk" />
    </a>

    <a href="rodilla" class="c-filtrado__item" data-categorias="consultoria">
      <img src="/assets/images/proyectos/logos/logo-rodilla.svg" alt="Logotipo Rodilla" />
    </a>

    <a href="selfbank" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-self_bank.svg" alt="Logotipo Selfbank" />
    </a>

    <a href="helvetia" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-helvetia.svg" alt="Logotipo Helvetia Seguros" />
    </a>

    <a href="divina-pastora" class="c-filtrado__item" data-categorias="react">
      <img src="/assets/images/proyectos/logos/logo-divina-pastora-seguros.svg" alt="Logotipo Divina Pastora" />
    </a>

    <a href="dkv" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-dkv.svg" alt="Logotipo DKV" />
    </a>

    <a href="editorial-sm" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-sm.svg" alt="Logotipo Editorial SM" />
    </a>

    <a href="tagliatella" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-tagliatella.svg" alt="Logotipo Tagliatella" />
    </a>

    <a href="cetelem" class="c-filtrado__item" data-categorias=" ">
      <img src="/assets/images/proyectos/logos/logo-cetelem.svg" alt="Logotipo Cetelem" />
    </a>

</div>
