<section class="c-bg-pattern__right py-md-4 py-lg-7 pb-5">
  <div class="p-proyectos__destacado">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3 offset-md-1 col-lg-2 offset-lg-4 col-xl-2 offset-xl-5 order-md-1">
          <a href="https://www.webbyawards.com/winners/2018/websites/general/cultural-institutions/rethinking-guernica/" class="d-block mb-3 mb-md-3"><img data-src="/assets/images/webby.png" class="lazyload" alt="2018 Webby Winner" /></a>
        </div>
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 order-md-0">
          <h2 class="h-extrahuge"><strong>Repensar Guernica</strong></h2>
          <p class="c-title--pre"><strong>Un proyecto ganador de un Webby</strong></p>
          <p>C칩mo construir un hogar digital a la altura para una de las obras m치s emblem치ticas del arte espa침ol.</p>
          <a class="c-button c-button--outline--white mt-4" href="/proyectos/repensar-guernica">Ver detalles del proyecto</a>
        </div>
      </div>
    </div>
  </div>
</section>
