<div class="c-filtrado__list">
  <a href="repensar-guernica" class="c-filtrado__item" data-categorias="drupal consultoria">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="repensar-guernica/" class="c-filtrado__item" data-categorias="jamstack">
    <img src="/assets/images/proyectos/logos/proyecto-thyssen.png" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="helvetia" class="c-filtrado__item" data-categorias="drupal">
    <img src="/assets/images/proyectos/logos/proyecto-helvetia.png" alt="" />
    <span class="c-filtrado__itemtitle">Seguros</span>
  </a>
  <a href="rodilla" class="c-filtrado__item" data-categorias="consultoria">
    <img src="/assets/images/proyectos/logos/proyecto-rodilla.png" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="laboral-kutxa" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/proyecto-lk.png" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="aecc" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/proyecto-aecc.png" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
</div>
