<div class="c-filtrado__list">
    <a href="escuela-superior-reina-sofia" class="c-filtrado__item" data-categorias=" ">
     <img src="/assets/images/proyectos/logos/logo-escuela-superior-reina-sofia.png" alt="Logotipo de Escuela Superior de Música Reina Sofía" />
    </a>

    <a href="economia-circular" class="c-filtrado__item" data-categorias=" ">
     <img src="/assets/images/proyectos/logos/logo-economia-circular.jpg" alt="Logotipo de Economía Circular de Castilla La Mancha" />
    </a>


    <a href="educo" class="c-filtrado__item" data-categorias=" ">
     <img src="/assets/images/proyectos/logos/logo-educo.png" alt="Logotipo Educo" />
    </a>

     <a href="unicaja-banco" class="c-filtrado__item" data-categorias="react">
     <img src="/assets/images/proyectos/logos/logo-unicaja-banco.png" alt="Logotipo Unicaja Banco" />
    </a>

    <a href="macba" class="c-filtrado__item" data-categorias="drupal">
     <img src="/assets/images/proyectos/logos/logo-macba.svg" alt="Logotipo Museo de Arte Contemporáneo de Barcelona - MACBA" />
    </a>

    <a href="rae" class="c-filtrado__item" data-categorias="drupal">
     <img src="/assets/images/proyectos/logos/logo-rae.svg" alt="Logotipo Real Academia Española" />
    </a>

    <a href="canal-march" class="c-filtrado__item" data-categorias="drupal react">
      <img src="/assets/images/proyectos/logos/logo-canal-march.png" alt="Logotipo Canal March" />
    </a>

    <a href="repensar-guernica" class="c-filtrado__item" data-categorias="drupal consultoria">
      <img src="/assets/images/proyectos/logos/logo-repensar-guernica.png" alt="Logotipo Repensar Guernica" />
    </a>

    <a href="aecc" class="c-filtrado__item" data-categorias="react">
      <img src="/assets/images/proyectos/logos/logo-aecc.png" alt="Logotipo AECC" />
    </a>

      <a href="unicef" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-unicef.png" alt="Logotipo Unicef" />
    </a>

    <a href="museo-reina-sofia" class="c-filtrado__item" data-categorias="react">
      <img src="/assets/images/proyectos/logos/logo-reina-sofia.png" alt="Logotipo Museo Reina Sofia" />
    </a>

    <a href="thyssen" class="c-filtrado__item" data-categorias="jamstack">
      <img src="/assets/images/proyectos/logos/logo-thyssen.png" alt="Logotipo Museo Thyssen" />
    </a>

    <a href="lagun-aro" class="c-filtrado__item" data-categorias="**">
      <img src="/assets/images/proyectos/logos/logo-lagun-aro.png" alt="Logotipo Seguros Lagun Aro" />
    </a>

    <a href="isdi" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-isdi.png" alt="Logotipo Isdi" />
    </a>

    <a href="helvetia-suiza" class="c-filtrado__item" data-categorias="react">
     <img src="/assets/images/proyectos/logos/logo-helvetia-suiza.png" alt="Helvetia Suiza" />
    </a>

    <a href="laboral-kutxa" class="c-filtrado__item" data-categorias="react">
      <img src="/assets/images/proyectos/logos/logo-lk.png" alt="Logotipo Lk" />
    </a>

    <a href="rodilla" class="c-filtrado__item" data-categorias="consultoria">
      <img src="/assets/images/proyectos/logos/logo-rodilla.png" alt="Logotipo Rodilla" />
    </a>

    <a href="selfbank" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-selfbank.png" alt="Logotipo Selfbank" />
    </a>

    <a href="helvetia" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-helvetia.png" alt="Logotipo Helvetia Seguros" />
    </a>

    <a href="divina-pastora" class="c-filtrado__item" data-categorias="react">
      <img src="/assets/images/proyectos/logos/logo-divinapastora.png" alt="Logotipo Divina Pastora" />
    </a>

    <a href="dkv" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-DKV.png" alt="Logotipo DKV" />
    </a>

    <a href="editorial-sm" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-editorial-sm.png" alt="Logotipo Editorial SM" />
    </a>

    <a href="tagliatella" class="c-filtrado__item" data-categorias="drupal">
      <img src="/assets/images/proyectos/logos/logo-tagliatella.png" alt="Logotipo Tagliatella" />
    </a>

    <a href="cetelem" class="c-filtrado__item" data-categorias=" ">
      <img src="/assets/images/proyectos/logos/logo-cetelem.png" alt="Logotipo Cetelem" />
    </a>

</div>
