<div class="c-filtrado__list">
  <a href="repensar-guernica" class="c-filtrado__item" data-categorias="drupal consultoria">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="Logotipo Museo Reina Sofia" />
  </a>
  <a href="thyssen" class="c-filtrado__item" data-categorias="jamstack">
    <img src="/assets/images/proyectos/logos/proyecto-thyssen.png" alt="Logotipo Museo Thyssen" />
  </a>
  <a href="helvetia" class="c-filtrado__item" data-categorias="drupal">
    <img src="/assets/images/proyectos/logos/proyecto-helvetia.png" alt="Logotipo Helvetia Seguros" />
  </a>
  <a href="rodilla" class="c-filtrado__item" data-categorias="consultoria">
    <img src="/assets/images/proyectos/logos/proyecto-rodilla.png" alt="Logotipo Rodilla" />
  </a>
  <a href="laboral-kutxa" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/proyecto-lk.png" alt="Logotipo Lk" />
  </a>
  <a href="aecc" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/proyecto-aecc.png" alt="Logotipo AECC" />
  </a>
</div>
