    <p class="c-title--cross text-center my-md-5"><span>Puedes filtrar los proyectos por <strong>tecnología</strong> o por <strong>sector</strong>, como quieras.</span></p>

    <div class="c-filtrado__header">
      <nav class="c-filtrado__headernav" aria-label="Por tipo de tecnología">
        <a href="#" class="c-filtrado__filter c-filtrado__filter--tecno" data-categoria="drupal">Drupal</a>
        <a href="#" class="c-filtrado__filter c-filtrado__filter--tecno" data-categoria="react">React</a>
        <a href="#" class="c-filtrado__filter c-filtrado__filter--tecno" data-categoria="jamstack">JAMstack</a>
        <a href="#" class="c-filtrado__filter c-filtrado__filter--tecno" data-categoria="consultoria">Consultoría</a>
      </nav>
      <nav class="c-filtrado__headernav" aria-label="Por tipo de cliente">
        <a href="#" class="c-filtrado__filter c-filtrado__filter--tipo" data-categoria="seguros">Seguros</a>
        <a href="#" class="c-filtrado__filter c-filtrado__filter--tipo" data-categoria="museos">Museos</a>
        <a href="#" class="c-filtrado__filter c-filtrado__filter--tipo" data-categoria="ecommerce">Ecommerce</a>
        <a href="#" class="c-filtrado__filter c-filtrado__filter--tipo" data-categoria="institucional">Institucional</a>
      </nav>
    </div>
  </div>