<div class="c-filtrado__list">
  <a href="/proyectos/repensar-guernica/" class="c-filtrado__item" data-categorias="drupal">
    <img src="/assets/images/proyectos/logos/logo-reina-sofia.png" alt="Museo Reina Sofía" />
    <span class="c-filtrado__itemtitle">Museo</span>
  </a>
  <a href="/proyectos/helvetia/" class="c-filtrado__item" data-categorias="drupal">
    <img src="/assets/images/proyectos/logos/logo-helvetia.png" alt="Helvetia" />
    <span class="c-filtrado__itemtitle">xxxxxx</span>
  </a>
  <a href="/proyectos/aecc/" class="c-filtrado__item" data-categorias="consultoria">
    <img src="/assets/images/proyectos/logos/logo-aecc.png" alt="AECC" />
    <span class="c-filtrado__itemtitle">xxxxxx</span>
  </a>
  <a href="/proyectos/museo-thyssen/" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/logo-thyssen.png" alt="Museo Thyssen" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="/proyectos/rodilla/" class="c-filtrado__item"data-categorias="jamstack ecommerce">
    <img src="/assets/images/proyectos/logos/logo-rodilla.png" alt="Rodilla" />
    <span class="c-filtrado__itemtitle">E-commerce</span>
  </a>
  <a href="/proyectos/mark-maddox/" class="c-filtrado__item" data-categorias="react">
    <img src="/assets/images/proyectos/logos/logo-markmaddox.png" alt="Mark Maddox" />
    <span class="c-filtrado__itemtitle">E-commerce</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="seguros">
    <img src="/assets/images/proyectos/logos/logo-divinapastora.png" alt="Divina Pastora" />
    <span class="c-filtrado__itemtitle">Seguros</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="react" data-categorias="jamstack">
    <img src="/assets/images/proyectos/logos/logo-isdi.png" alt="ISDI" />
    <span class="c-filtrado__itemtitle">xxxxxx</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="jamstack">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="seguros">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="jamstack">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="drupal museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="drupal museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
  <a href="#" class="c-filtrado__item" data-categorias="museos">
    <img src="/assets/images/proyectos/logos/proyecto-reina.jpg" alt="" />
    <span class="c-filtrado__itemtitle">Museos</span>
  </a>
</div>
