  <section id="historia-necesidad" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-3">¿Qué consideramos necesario para optar al puesto?</h2>
          <p class="font-secondary text-xl text-lg-2xl color-red mb-5">
            (sabemos que cumplir todos los requisitos es complicado pero nos gustaría...)
          </p>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que tengas unos <strong>conocimientos amplios</strong> de PHP, <strong>Drupal</strong> y alguna librería o <em>framework</em> de desarrollo de aplicaciones web. 
              Sería muy interesante, además, si conocieras <strong>Gatsby</strong> y tuvieras experiencia desarrollando con este <em>framework</em>. 
              Además <strong>valoraremos experiencia</strong> en <strong>SQL</strong>, <strong>JavaScript</strong>, <strong>JQuery</strong>, <strong>GIT</strong> y <strong>Symfony</strong>.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-lg-0">Que te guste el <strong>trabajo bien hecho</strong>, cuidar los <strong>detalles</strong> y escribir un <strong>código semántico</strong> y <strong>legible</strong>. Tener cierto <strong>pensamiento crítico</strong>, esto es, no conformarse con hacer las cosas de cualquier manera.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Que te guste <strong>trabajar en equipo</strong>. Nos parece importante saber pedir ayuda y saber presentarla. Aportar y que te aportemos.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-0">Ser un <strong>apasionado/a del aprendizaje y la programación</strong> sería un plus a tener en cuenta pero lo que más nos importa es que seas resolutivo/a y que tengas ganas de aprender.</p>
            </div>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">La lista de los deseos</span>
          </div>
        </div>
      </div>
    </div>
  </section>