  <section id="tu-puesto" class="mb-7">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Qué harás?</h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Te unirás a uno de nuestros equipos que trabaja <strong>desarrollando en Drupal</strong> y con <strong>Gatsby</strong> que es un <em>framework</em> de código abierto basado en React.</p>
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Te enfrentarás diariamente a retos relacionados con el mundo de Drupal desacoplado y front, participarás en todas las <strong>dinámicas ágiles</strong> de ejecución de los proyectos y en el ciclo completo del desarrollo de software; desde conversaciones iniciales con cliente mediante talleres de <strong><em>Example Mapping</em></strong> para el análisis de los requisitos hasta la integración con un API externa.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <p class="u-decoration-red pt-2 text-base line-base mb-5">Nos gusta escribir código legible y mantenible así que aplicaremos prácticas y técnicas como el <em>testing</em>, principios SOLID, refactorización, arquitectura hexagonal y muchas otras buenas prácticas que hacemos en el día a día.</p>
            </div>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">Éstas son tus funciones</span>
          </div>
        </div>
      </div>
    </div>
  </section>