{# ----- PROYECTOS ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-home__hero mb-5 mb-md-7" id="top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <h1 class="title-hero mb-4 mb-md-5">Gracias por apuntarte al webinar ;)</h1>
        <p class="title-slim-6xl u-strong-red mb-4 mb-md-5">El <strong>día de antes</strong>, recibirás un email con las <strong>claves de acceso</strong>.</p>
        <p class="font-secondary text-3xl color-red mb-4">(No dudes en escribirnos a <a href="mailto:comunicacion@biko2.com" alt="Correo electrónico de comunicación Biko">comunicacion@biko2.com</a> si tienes cualquier duda).</p>
      </div>
    </div>
  </div>
</section>

{% include "@includes/contact.twig" %}

{% endblock %}
