  <section id="importante" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Qué se necesita / se espera de ti?</h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Amplia experiencia en el <strong>rol de RRHH/Peopl</strong>.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Amplia experiencia en la <strong>gestión de procesos de contratación</strong>.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5">Gran <strong>proactividad</strong> y <strong>capacidad para liderar</strong> iniciativas.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-lg-0">Excelentes habilidades de <strong>comunicación oral</strong> y <strong>escrita</strong> en <strong>español</strong>.</p>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
                <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Alineación</strong> masiva con los <strong>principios y valores</strong> que definen la cultura de <strong>Biko</strong>.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Entender</strong> que somos una <strong>empresa de servicios</strong> donde lo <strong>más importante son los equipos multidisciplinares</strong> (no están compuestos sólo por perfiles de desarrollo) y autoorganizados.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-0"><strong>Entender nuestra forma de desarrollar software</strong> basada en principios <em>agile</em> y <em>Extreme Programming</em>.</p>
            </div>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">La lista de los deseos</span>
          </div>
        </div>
      </div>
    </div>
  </section>