{# ----- OFERTA ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
  {% include '@base/unete-a-biko/personal-specialist/hero.twig' %}
  {% include '@base/unete-a-biko/quienes-somos.twig' %}
  {% include '@base/unete-a-biko/personal-specialist/historia-necesidad.twig' %}
  {% include '@base/unete-a-biko/personal-specialist/necesidad-detalles.twig' %}
  <div class="c-separator--line__horizontal__min"><hr /></div>
  {% include '@base/unete-a-biko/personal-specialist/tu-puesto.twig' %}
  <div class="c-separator--line__horizontal__min"><hr /></div>
  {% include '@base/unete-a-biko/personal-specialist/importante.twig' %}
  <div class="c-separator--line__horizontal__min"><hr /></div>
  {% include '@base/unete-a-biko/donde.twig' %}
  {% include '@base/unete-a-biko/personal-specialist/que-ofrecemos.twig' %}  
  {% include '@base/unete-a-biko/enviar-cv.twig' %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}