  <section id="necesidad-detalles">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mb-5">
            <h3 class="title-4xl mb-5">Claves del modelo</h3>
            <div class="row">
              <div class="col-lg-6 pr-4 pr-lg-6">
                <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Modelo de cantera</strong>, en el sentido de que una gran parte de las incorporaciones que fichamos empieza o está empezando a desarrollar su carrera profesional y busca formarse y crecer.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-lg-0"><strong>Búsqueda activa</strong>, en algunos casos.</p>
              </div>
              <div class="col-lg-6 pr-4 pr-lg-6">
                  <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Equipos con liderazgo</strong> técnico y cultura consolidada.</p>
                  <p class="u-decoration-red pt-2 text-base line-base mb-0"><strong>Remoto</strong>.</p>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <h3 class="title-4xl mb-5">¿Por qué este modelo y no otro?</h3>
            <div class="row">
              <div class="col-lg-6 pr-4 pr-lg-6">
                <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Fichamos</strong> a la gente con la ambición de que <strong>se queden en Biko</strong> toda su vida profesional y puedan desarrollar su <strong>máximo potencial</strong> con nosotros.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5"><strong>Fichamos para Biko</strong>, no para proyectos.</p>
                <p class="u-decoration-red pt-2 text-base line-base mb-5 mb-lg-0">Nuestra cultura y nuestra forma de trabajar exige unos <strong>tiempos mínimos de asimilación</strong>.</p>
              </div>
              <div class="col-lg-6 pr-4 pr-lg-6">
                  <p class="u-decoration-red pt-2 text-base line-base mb-5">Nuestro foco en desarrollar software bien hecho, de calidad, que permita cumplir con los objetivos de negocio de nuestros clientes exige <strong>profesionales con una base transversal</strong> de conocimientos sobre desarrollo de software (agile y XP) muy potente y unos conocimientos tecnológicos muy específicos que no se asimilan rápidamente.</p>
                  <p class="u-decoration-red pt-2 text-base line-base mb-0"><strong>Cuidamos a las personas</strong> y las tratamos como lo que son, personas y no recursos, y esto nos marca unas <strong>pautas y unos tiempos</strong> a la hora de <strong>contratar</strong> (formación, no ligar a las personas a proyectos concretos, objetivos a largo plazo), <strong>sustituir</strong> (no cambiamos cromos) y <strong>despedir</strong> (seguimiento, PIPs).</p>
              </div>
            </div>
          </div>
           <div class="bg-gray-light px-5 py-5">
            <h3 class="title-4xl mb-3">Factor especial: Biko School</h3>
            <p class="mb-0">
              Organizar un <a href="https://www.biko2.com/bikoschool/curso-desarrollo-software/" target="_blank" class="c-link"><strong>curso sobre desarrollo de software</strong></a> nos ha ayudado a tener un mayor 
              acceso a talento y algunas de las personas que han cursado el curso han terminado recalando en Biko. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>