{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--oxford text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <img src="/assets/images/proyectos/logos/fichas/logo-oxford.svg" class="mb-3" alt="Logotipo Oxford University Press" />
        <!--<p class="mb-2 text-uppercase text-2xl letter-base font-400">Oxford University Press</p>-->
          <h1 class="title-hero mb-3">
          A brand new website?
          </h1>

          <p class="font-secondary text-2xl text-lg-3xl color-red-middle mb-5">(of course!)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
                <p class="text-md-2xl line-md-2xl">Oxford University Press, la distinguida editorial de la Universidad de Oxford, acudió a Biko para rehacer su <strong>web corporativa</strong> en España. Se trataba de todo un reto que aceptamos encantados y que, además, supuso trabajar mano a mano tanto con su equipo en Madrid, como con el de Reino Unido. Challenging, but satisfying.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque datos-->
<section class="bg-gray-extralight py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xxl-2 col-xxl-8">

          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Cliente:</strong></div>
            <div class="flex-1">Oxford University Press</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Estrategia:</strong></div>
            <div class="flex-1">Design Thinking <span class="color-red">+</span> UX</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Diseño:</strong></div>
            <div class="flex-1">UI <span class="color-red">+</span> Diseño Web</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light">
            <div class="c-listado-linea__clave"><strong>Tecnología:</strong></div>
            <div class="flex-1">Drupal <span class="color-red">+</span> Solr <span class="color-red">+</span> Ajax</div>
          </div>
          <div class="d-flex py-1 c-listado-linea u-bt-gray-light mb-0">
            <div class="c-listado-linea__clave"><strong>Web:</strong></div>
            <div class="flex-1"><a class="c-link" href="https://www.oup.es/" target="_blank">Oxford University Press</a></div>
          </div>

      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla-->
<section class="py-5 py-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red">Una propuesta para dotar de una imagen de <strong>marca potente y reconocible</strong> y <strong>unificar el catálogo</strong> completo de Oxford University Press en base a una navegación sencilla e intuitiva.</p>
      </div>
    </div>
  </div>
</section>

<!--Bloque El Desafio-->
<section id="desafio" class="contenedor-secciones mb-4 mb-md-5 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title-6xl mb-4">El desafío</h3>
        <p>Gracias a dos workshops previos a abordar el proyecto pudimos detectar que el principal reto consistía en organizar su enorme volumen de contenidos de manera sencilla para sus distintos usuarios (profesores, estudiantes, padres...). Además de su catálogo de libros educativos, Oxford cuenta con una colección de literatura infantil y juvenil que se encontraba disgregada en distintos sites y presentaba una imagen de marca no unificada, así como otros micro sites dirigidos a profesores generados para propósitos de marketing. </p>
      </div>
      <div class="col-12 col-md-6">
        <img data-src="/assets/images/proyectos/oxford/oxford1.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Imagen de la obra Suenan los clarines" />
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
        <img data-src="/assets/images/proyectos/oxford/oxford2.svg"
          class="lazyload w-100 mb-3 mb-md-0"
          alt="Logotipo de Oxford" />
        <img data-src="/assets/images/proyectos/oxford/oxford3.jpg"
          class="lazyload w-100 mb-3 mb-md-4"
          alt="Extracto de pantalla de la web de Oxford" />
      </div>
    </div>
  </div>
</section>
<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__proyectos mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/oxford-enfoque.png" class="lazyloaded u-img-fluid" alt="Pantalla móvil con una cita sobre la sección de apadrinamiento"  src="/assets/images/proyectos/oxford-enfoque.png">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>Nuestra propuesta pasaba por construir un site que unificara el catálogo completo de Oxford University Press en base a una navegación sencilla e intuitiva y que lo dotara de una <strong>imagen de marca potente y reconocible.</strong> Además, el gestor de contenidos debía convertirse en la principal arma para el departamento de marketing a la hora de captar y convertir leads, dotándoles de independencia total a la hora de construir campañas basadas en landings, editar formularios o modificar el contenido fácilmente.
        </div>
      </div>
    </div>
  </div>
</section>


<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">
          Para construir un <strong>proyecto de estas características</strong> tuvimos que recurrir a:
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div class="mb-3 mb-lg-0">
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
              Para una gestión de contenidos modulable, fluida y muy sencilla.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('solr')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
            Solr</h4>
            <p>
              Como herramienta para construir un buscador a la altura.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('html')}}
          </div>
          <div>
            <h4 class="title-2xl u-decoration-red pt-2 mb-3">
              Ajax
            </h4>
            <p>
              Para mostrar de forma dinámica el catálogo por ediciones.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Bloque Producto final-->
<section id="productofinal" class="mb-0 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div>
          <h3 class="title-6xl mb-4">Producto final</h3>
          <p>Una <strong>web multiidioma </strong>con un catálogo de producto multilingüe, que podemos explorar a través de una arquitectura de información efectiva, o bien a través de un potente buscador facetado. Un site vivo, que crece conforme a su oferta y que permite involucrar a cualquier área de la empresa en su gestión de contenidos, sin importar su nivel de conocimiento técnico. </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/oxford-producto-final-2.jpg" class="lazyloaded u-img-fluid" alt="Pantalla móvil y tablet de la página de economía circular" src="/assets/images/proyectos/oxford-producto-final-2.jpg">
      </div>
    </div>
  </div>
</section>

<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-7">
  <div class="container c-bg-pattern">
    <div class="row">
      <div class="col-12 p-4 p-md-5 text-center">
        <p class="text-md-2xl mb-0 bg-white p-4 p-md-5">Para saber más visita <a href="https://www.oup.es/" target="_blank"><span class="c-link"> Oxford University Press</span></a></p>
      </div>
    </div>
  </div>
</section>
{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}

{% include "@includes/contact.twig" %}
{% endblock %}
